<div class="step-1 step-container" ng-include="ctrl.view">
</div>

<div class="loader-container-overlay" ng-class="{hidden: !ctrl.loading && !ctrl.patching}">
    <div class="loader-alt"></div>
</div>
