<div class="component-loadable dashboard-infobox booking-popup contact-captain"
     ng-class="{'component-loadable-loading': (ctrl.loading || ctrl.translations.loading)}">
    <form novalidate name="ctrl.form" class="form">

        <!--ACTUAL FORM-->
        <div class="container-fluid">
            <!--ADULTS, KIDS AND BABIES-->
            <div class="row">
                <!--ADULTS-->
                <div class="col-xs-12">
                    <div class="form-separator"></div>
                    <div class="input-heading">{{'experience.guests' | translate}}</div>
                    <div class="input" uib-dropdown is-open="ctrl.dropdowns.adults">
                        <div class="select" id="adults" uib-dropdown-toggle ng-disabled="ctrl.disabled">
                            <span class="select-text" translate="inputs.adults"
                                  translate-values="{ adults: ctrl.adults }"
                                  translate-interpolation="messageformat"></span>
                            <span class="icon pull-right"
                                  ng-class="{'icon-arrow-down': !ctrl.dropdowns.adults, 'icon-arrow-up': ctrl.dropdowns.adults}"></span>
                        </div>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="adults">
                            <li ng-repeat="adult in ctrl.adultsRange" role="menuitem"
                                ng-click="ctrl.setAdult(adult)">
                                <a ng-href="" translate="inputs.adults" translate-values="{ adults: adult }"
                                   translate-interpolation="messageformat"></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!--BABIES-->
                <div class="col-xs-6 text-center">
                    <div class="input-heading">{{'experience.babies' | translate}}</div>
                    <div class="display-inline-block">
                        <button-incrementer model=ctrl.babies min=0 max=ctrl.maxBabies
                                            callback=ctrl.setOtherHost()></button-incrementer>
                    </div>

                    <error-messages field-name="babies" translation-name="babies"
                                    controller-errors=ctrl.errors page="experience"></error-messages>
                </div>
                <!--KIDS-->
                <div class="col-xs-6 text-center">
                    <div class="input-heading">{{'experience.kids' | translate}}</div>
                    <div class="display-inline-block">
                        <button-incrementer model=ctrl.kids min=0 max=ctrl.maxKids
                                            callback=ctrl.setOtherHost()></button-incrementer>
                    </div>

                    <error-messages field-name="kids" translation-name="kids"
                                    controller-errors=ctrl.errors page="experience"></error-messages>
                </div>
                <div class="col-xs-12">
                    <error-messages field-name="hosts" translation-name="hosts"
                                    controller-errors=ctrl.errors page="experience"></error-messages>
                </div>
            </div>

            <!--REQUEST DATE-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-separator"></div>
                    <div class="input-heading">{{'booking.request_date' | translate}}</div>

                    <naus-datepicker-popup date="ctrl.experienceDate"
                                           is-open="ctrl.dropdowns.experience_date"
                                           language="ctrl.language"
                                           availabilities="ctrl.availabilities"
                                           days-of-week="ctrl.availableDaysOfWeek"></naus-datepicker-popup>

                    <error-messages field-name="experience_date" translation-name="request_date"
                                    controller-errors=ctrl.errors page="booking"></error-messages>
                </div>
            </div>

            <!--NAME-->
            <div class="row" ng-if="!ctrl.user.attributes.first_name">
                <div class="col-xs-12">
                    <div class="form-separator"></div>
                    <div class="input-heading">{{'inputs.name' | translate}}*</div>
                    <div class="input">
                        <input ng-disabled="ctrl.disabled"
                               name="name"
                               ng-model="ctrl.userName"
                               maxlength="150"
                               placeholder="{{'inputs.placeholder_name' | translate}}"
                               ng-change="ctrl.resetField('name')"
                               ng-blur="ctrl.validateField('name')"
                               ng-required="true"/>
                        <error-messages field-name="name" controller-errors=ctrl.errors
                                        page="inputs"></error-messages>
                    </div>
                </div>
            </div>

            <!--EMAIL-->
            <div class="row" ng-if="!ctrl.user.attributes.email">
                <div class="col-xs-12">
                    <div class="form-separator"></div>
                    <div class="input-heading">{{'inputs.email' | translate}}*</div>
                    <div class="input input-group-icon">
                            <span class="input-group-addon">
                                <span class="icon icon-mail"></span>
                            </span>
                        <input class="input-group-input"
                               name="email" type="email"
                               ng-model="ctrl.userEmail"
                               placeholder="{{'inputs.placeholder_email' | translate}}"
                               maxlength="150"
                               ng-change="ctrl.resetField('email')"
                               ng-blur="ctrl.validateField('email')"
                               ng-required="true">
                        <error-messages field-name="email" controller-errors=ctrl.errors
                                        page="inputs"></error-messages>
                    </div>
                </div>
            </div>

            <!--MESSAGE-->
            <div class="row" ng-if="!ctrl.conversationId">
                <div class="col-xs-12">
                    <div class="form-separator"></div>
                    <div class="input-heading">{{'experience.message' | translate}}</div>
                    <alert-warning ng-show="ctrl.warning"
                                   alert-message="experience.contact_exchange_warning"></alert-warning>
                    <div class="input">
                            <textarea rows="6" ng-disabled="ctrl.disabled"
                                      name="message"
                                      ng-model="ctrl.message"
                                      placeholder="{{'experience.message_placeholder' | translate}}"
                                      ng-change="ctrl.messageValidation(); ctrl.resetField('message')"
                                      ng-blur="ctrl.validateField('message')"
                                      ng-required="true"
                                      maxlength="65535"></textarea>
                        <error-messages field-name="message" controller-errors=ctrl.errors page="experience"></error-messages>
                    </div>
                </div>
            </div>

            <!--REQUIRED ALERT-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="input-caption-group">
                        <span class="orange-flamingo bold input-caption">{{'inputs.required' | translate}}</span>
                    </div>
                </div>
            </div>

            <!--SEND BUTTON-->
            <div class="row">
                <div class="col-xs-12 text-center">
                    <naus-btn on-click="ctrl.do()">
                        {{'inputs.send' | translate}}
                    </naus-btn>
                </div>
            </div>
        </div>
    </form>

    <div class="loader-container-overlay" ng-show="ctrl.loading || ctrl.translations.loading">
        <div class="loader-alt"></div>
    </div>
</div>

<!--MODALS-->
<!--ERRORS-->
<modal ng-if="ctrl.modals.error" modal-title="errors.error_modal_title"
       on-close="ctrl.toggleModals()">
    <div translate>
        {{ctrl.modals.name}}
    </div>
</modal>

<!--SUCCESS-->
<modal ng-if="ctrl.modals.success" modal-title="experience.message_sent_title"
       on-close="ctrl.toggleModals(true)">
    <div>
        <h3 class="light-blue bold booking-confirmed-message text-center margin-bottom-md" translate>{{'experience.message_sent'}}</h3>

        <div class="text-center margin-bottom-md">
            <naus-btn on-click="ctrl.toggleModals(true)">
                {{'experience.back_to_site' | translate}}
            </naus-btn>
        </div>

    </div>
</modal>