<div class="filters-map-switcher">
    <!--DESKTOP-->
    <div class="hidden-xs hidden-sm">
        <!--SWITCHER TABS-->
        <div class="margin-bottom-sm hidden-xs hidden-sm switcher-btns">
            <div class="switcher-btn-bg" ng-class="{right: !ctrl.filtersOpen}"></div>

            <div class="switcher-btn text-center pull-left display-inline-block pointer"
                 ng-class="{active: ctrl.filtersOpen}" ng-click="ctrl.filtersOpen = true;">
                <span class="switcher-btn-text text-uppercase h3">{{'experiences.filters' | translate}}</span></div>
            <div class="switcher-btn text-center display-inline-block pointer"
                 ng-class="{active: !ctrl.filtersOpen}" ng-click="ctrl.filtersOpen = false;">
                <span class="switcher-btn-text text-uppercase h3">{{'experiences.map' | translate}}</span>
            </div>
        </div>

        <experiences-map ng-if=!ctrl.filtersOpen params="ctrl.params"
                         listings="ctrl.listings"
                         on-params-update="ctrl.onParamsUpdate()"
                         on-listings-update="ctrl.onListingsUpdate()"></experiences-map>

        <experiences-filter ng-if=ctrl.filtersOpen params="ctrl.params"
                            on-update="ctrl.onFiltersUpdate(true)">
        </experiences-filter>
    </div>

    <!--MOBILE-->
    <div class="visible-xs visible-sm">
        <!--FLOATING FILTERS BUTTON-->
        <div class="btn-top-container position-fixed" ng-class="{'showing': ctrl.switcherActive}">
            <button ng-show="!ctrl.filtersModal" type="button" class="naus-btn naus-btn-inverse i-8x"
                    ng-click="ctrl.toggleFilters(true)">
                <span class="icon icon-search round i-5x"></span>
            </button>
            <button ng-show="ctrl.filtersModal" type="button" class="naus-btn naus-btn-inverse i-8x"
                    ng-click="ctrl.toggleMap(true)">
                <span class="icon icon-map round i-5x"></span>
            </button>
        </div>

        <!--FLOATING MAP BUTTON-->
        <div class="btn-left-container position-fixed" ng-class="{'showing': ctrl.switcherActive}">
            <button ng-show="!ctrl.filtersModal && !ctrl.mapModal" type="button" class="naus-btn naus-btn-inverse i-8x"
                    ng-click="ctrl.toggleMap(true)">
                <span class="icon icon-map round i-5x"></span>
            </button>
            <button ng-show="ctrl.filtersModal || ctrl.mapModal" type="button" class="naus-btn naus-btn-inverse i-8x"
                    ng-click="ctrl.closeEverything()">
                <span class="icon icon-list round i-5x"></span>
            </button>
        </div>

        <!--FLOATING SWITCHER BUTTON-->
        <div class="btn-switcher-container position-fixed">
            <button type="button" class="naus-btn naus-btn-inverse i-8x"
                    ng-click="ctrl.switcherActive = !ctrl.switcherActive">
                <span class="icon icon-suspended round i-5x"></span>
            </button>
        </div>

        <!--MODALS (MOBILE)-->
        <!--MAP-->
        <modal ng-if="ctrl.mapModal" modal-title="experiences.map" on-close="ctrl.toggleMap(false)" class="map-modal">
            <experiences-map params="ctrl.params"
                             listings="ctrl.listings"
                             on-params-update="ctrl.onParamsUpdate()"
                             on-listings-update="ctrl.onListingsUpdate()"
                             hover-listing="ctrl.hoverListing"></experiences-map>
        </modal>
        <!--FILTERS-->
        <modal ng-if="ctrl.filtersModal" modal-title="experiences.mobile_filter"
               on-close="ctrl.toggleFilters(false); ctrl.onFiltersUpdate(true)">
            <experiences-filter params="ctrl.params"
                                on-update="ctrl.onFiltersUpdate(false)"
                                on-close="ctrl.filtersModal = false; ctrl.onFiltersUpdate(true)">
            </experiences-filter>
        </modal>
    </div>
</div>