<div class="container-fluid booking-offsite-new">
    <div class="row page-title">
        <div class="pull-right" ng-if="ctrl.booking.status == 'pending'">
            <button ng-click="ctrl.setPaid()">SET BOOKING AS PAID</button>
        </div>

        <h4>OFFSITE BOOKING</h4>
        <h4><strong>ID:</strong> {{ctrl.id}}</h4>
        <h4><strong>Title:</strong> {{ctrl.booking.experience_title}}</h4>
    </div>
    <div class="row form-container">
        <form novalidate class="form" name="ctrl.form">
            <div class="container-fluid">
                <!-- GUEST DATA-->
                <div class="row">
                    <div class="col-xs-12"><h3>GUEST DATA</h3></div>
                </div>
                <!-- FIRST/LAST NAME GUEST -->
                <div class="row">
                    <!-- FIRST NAME GUEST -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">First name<span
                                ng-show="ctrl.fields.first_name_guest.required">*</span></div>
                        <div class="input">
                            <input ng-disabled="true" name="first_name_guest" type="text" ng-maxlength="ctrl.fields.first_name_guest.max"
                                   ng-model="ctrl.booking.first_name_guest"
                                   ng-required="ctrl.fields.first_name_guest.required">
                        </div>
                    </div>
                    <!-- LAST NAME GUEST -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Last name<span ng-show="ctrl.fields.last_name_guest.required">*</span>
                        </div>
                        <div class="input">
                            <input ng-disabled="true" name="last_name_guest" type="text" ng-maxlength="ctrl.fields.last_name_guest.max"
                                   ng-model="ctrl.booking.last_name_guest"
                                   ng-required="ctrl.fields.last_name_guest.required">
                        </div>
                    </div>
                </div>
                <!-- ADDRESS/CITY GUEST -->
                <div class="row">
                    <!-- ADDRESS GUEST -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Address<span ng-show="ctrl.fields.address_guest.required">*</span>
                        </div>
                        <div class="input">
                            <input ng-disabled="true" name="address_guest" type="text" ng-maxlength="ctrl.fields.address_guest.max"
                                   ng-model="ctrl.booking.address_guest"
                                   ng-required="ctrl.fields.address_guest.required">
                        </div>
                    </div>
                    <!-- CITY GUEST -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">City<span ng-show="ctrl.fields.city_guest.required">*</span></div>
                        <div class="input">
                            <input ng-disabled="true" name="city_guest" type="text" ng-maxlength="ctrl.fields.city_guest.max"
                                   ng-model="ctrl.booking.city_guest"
                                   ng-required="ctrl.fields.city_guest.required">
                        </div>
                    </div>
                </div>
                <!-- PHONE/EMAIL GUEST -->
                <div class="row">
                    <!-- PHONE GUEST -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Phone number<span ng-show="ctrl.fields.phone_guest.required">*</span>
                        </div>
                        <div class="input">
                            <input ng-disabled="true" name="phone_guest" type="text" ng-maxlength="ctrl.fields.phone_guest.max"
                                   ng-model="ctrl.booking.phone_guest"
                                   ng-required="ctrl.fields.phone_guest.required">
                        </div>
                    </div>
                    <!-- EMAIL GUEST -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Email<span ng-show="ctrl.fields.email_guest.required">*</span></div>
                        <div class="input">
                            <input ng-disabled="true" name="email_guest" type="email" ng-maxlength="ctrl.fields.email_guest.max"
                                   ng-model="ctrl.booking.email_guest"
                                   ng-required="ctrl.fields.email_guest.required">
                        </div>
                    </div>
                </div>
                <!-- VAT GUEST-->
                <div class="row">
                    <!-- VAT GUEST -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">VAT number<span ng-show="ctrl.fields.vat_guest.required">*</span></div>
                        <div class="input">
                            <input ng-disabled="true" name="vat_guest" type="text" ng-maxlength="ctrl.fields.vat_guest.max"
                                   ng-model="ctrl.booking.vat_guest"
                                   ng-required="ctrl.fields.vat_guest.required">
                        </div>
                    </div>
                </div>
                <!-- LANGUAGE/CURRENCY GUEST-->
                <div class="row">
                    <!-- LANGUAGE GUEST -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Language<span ng-show="ctrl.fields.language_guest.required">*</span>
                        </div>
                        <div class="input" uib-dropdown>
                            <div class="select" id="language_guest" uib-dropdown-toggle translate>
                                {{'languages.' + ctrl.booking.language_guest}}
                            </div>
                        </div>
                    </div>
                    <!-- CURRENCY GUEST -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Currency<span ng-show="ctrl.fields.currency_guest.required">*</span>
                        </div>
                        <div class="input" uib-dropdown>
                            <div class="select" id="currency_guest" uib-dropdown-toggle translate>
                                {{'currencies.' + ctrl.booking.currency_guest}}
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <!-- CAPTAIN DATA-->
                <div class="row">
                    <div class="col-xs-12"><h3>CAPTAIN DATA</h3></div>
                </div>
                <!-- FIRST/LAST NAME CAPTAIN -->
                <div class="row">
                    <!-- FIRST NAME CAPTAIN -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">First name<span
                                ng-show="ctrl.fields.first_name_captain.required">*</span></div>
                        <div class="input">
                            <input ng-disabled="true" name="first_name_captain" type="text" ng-maxlength="ctrl.fields.first_name_captain.max"
                                   ng-model="ctrl.booking.first_name_captain"
                                   ng-required="ctrl.fields.first_name_captain.required">
                        </div>
                    </div>
                    <!-- LAST NAME CAPTAIN -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Last name<span
                                ng-show="ctrl.fields.last_name_captain.required">*</span></div>
                        <div class="input">
                            <input ng-disabled="true" name="last_name_captain" type="text" ng-maxlength="ctrl.fields.last_name_captain.max"
                                   ng-model="ctrl.booking.last_name_captain"
                                   ng-required="ctrl.fields.last_name_captain.required">
                        </div>
                    </div>
                </div>
                <!-- PHONE/EMAIL CAPTAIN -->
                <div class="row">
                    <!-- PHONE CAPTAIN -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Phone number<span ng-show="ctrl.fields.phone_captain.required">*</span>
                        </div>
                        <div class="input">
                            <input ng-disabled="true" name="phone_captain" type="text" ng-maxlength="ctrl.fields.phone_captain.max"
                                   ng-model="ctrl.booking.phone_captain"
                                   ng-required="ctrl.fields.phone_captain.required">
                        </div>
                    </div>
                    <!-- EMAIL CAPTAIN -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Email<span ng-show="ctrl.fields.email_captain.required">*</span></div>
                        <div class="input">
                            <input ng-disabled="true" name="email_captain" type="email" ng-maxlength="ctrl.fields.email_captain.max"
                                   ng-model="ctrl.booking.email_captain"
                                   ng-required="ctrl.fields.email_captain.required">
                        </div>
                    </div>
                </div>
                <!-- LANGUAGE/CURRENCY CAPTAIN-->
                <div class="row">
                    <!-- LANGUAGE CAPTAIN -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Language<span ng-show="ctrl.fields.language_captain.required">*</span>
                        </div>
                        <div class="input" uib-dropdown>
                            <div class="select" id="language_captain" uib-dropdown-toggle translate>
                                {{'languages.' + ctrl.booking.language_captain}}
                            </div>
                        </div>
                    </div>
                    <!-- CURRENCY CAPTAIN -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Currency<span ng-show="ctrl.fields.currency_captain.required">*</span>
                        </div>
                        <div class="input" uib-dropdown>
                            <div class="select" id="currency_captain" uib-dropdown-toggle translate>
                                {{'currencies.' + ctrl.booking.currency_captain}}
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <!-- EXPERIENCE DATA-->
                <div class="row">
                    <div class="col-xs-12"><h3>EXPERIENCE DATA</h3></div>
                </div>
                <!-- EXPERIENCE TITLE/DESCRIPTION -->
                <div class="row">
                    <!-- EXPERIENCE TITLE -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Title<span ng-show="ctrl.fields.experience_title.required">*</span>
                        </div>
                        <div class="input">
                            <input ng-disabled="true" name="experience_title" type="text" ng-maxlength="ctrl.fields.experience_title.max"
                                   ng-model="ctrl.booking.experience_title"
                                   ng-required="ctrl.fields.experience_title.required">
                        </div>
                    </div>
                    <!-- EXPERIENCE DESCRIPTION -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Description<span ng-show="ctrl.fields.experience_description.required">*</span>
                        </div>
                        <div class="input">
                            <textarea ng-disabled="true" name="experience_description" rows="5" type="text" ng-maxlength="ctrl.fields.experience_description.max"
                                      ng-model="ctrl.booking.experience_description"
                                      ng-required="ctrl.fields.experience_description.required"></textarea>
                        </div>
                    </div>
                </div>
                <!-- EXPERIENCE/ARRIVAL DATE -->
                <div class="row">
                    <!-- EXPERIENCE DATE -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Experience Date<span ng-show="ctrl.fields.experience_date.required">*</span></div>
                        <div class="input">
                            <naus-datepicker-popup disabled="true" date="ctrl.booking.experience_date" language="en"
                                                   is-open=ctrl.fields.experience_date.open></naus-datepicker-popup>
                        </div>
                    </div>
                    <!-- ARRIVAL DATE -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Arrival Date<span ng-show="ctrl.fields.arrival_date.required">*</span>
                        </div>
                        <div class="input">
                            <naus-datepicker-popup disabled="true" date="ctrl.booking.arrival_date" language="en"
                                                   is-open=ctrl.fields.arrival_date.open></naus-datepicker-popup>
                        </div>
                    </div>
                </div>
                <!--DEPARTURE/ARRIVAL PORT-->
                <div class="row">
                    <!-- DEPARTURE PORT -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Departure port<span
                                ng-show="ctrl.fields.departure_port.required">*</span></div>
                        <div class="input">
                            <input ng-disabled="true" name="departure_port" type="text" ng-maxlength="ctrl.fields.departure_port.max"
                                   ng-model="ctrl.booking.departure_port"
                                   ng-required="ctrl.fields.departure_port.required">
                        </div>
                    </div>
                    <!-- ARRIVAL PORT -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Arrival port<span ng-show="ctrl.fields.arrival_port.required">*</span>
                        </div>
                        <div class="input">
                            <input ng-disabled="true" name="arrival_port" type="text" ng-maxlength="ctrl.fields.arrival_port.max"
                                   ng-model="ctrl.booking.arrival_port"
                                   ng-required="ctrl.fields.arrival_port.required">
                        </div>
                    </div>
                </div>
                <!--DEPARTURE/ARRIVAL TIME-->
                <div class="row">
                    <!-- DEPARTURE TIME -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Departure time<span
                                ng-show="ctrl.fields.departure_time.required">*</span></div>
                        <div class="input">
                            <div uib-timepicker ng-disabled="true" ng-model="ctrl.booking.departure_time"
                                 show-spinners="false"
                                 show-meridian="false"></div>
                        </div>
                    </div>
                    <!-- ARRIVAL TIME -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Arrival time<span ng-show="ctrl.fields.arrival_time.required">*</span>
                        </div>
                        <div class="input">
                            <div uib-timepicker ng-disabled="true" ng-model="ctrl.booking.arrival_time"
                                 show-spinners="false"
                                 show-meridian="false"></div>
                        </div>
                    </div>
                </div>
                <!--BOAT TYPE-->
                <div class="row">
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Boat type<span
                                ng-show="ctrl.fields.boat_type.required">*</span></div>
                        <div class="input" uib-dropdown>
                            <div class="select" id="boat_type" uib-dropdown-toggle translate>
                                {{'boat_types.' + ctrl.booking.boat_type}}
                            </div>
                        </div>
                    </div>
                </div>
                <!--ADULTS/KIDS/BABIES-->
                <div class="row">
                    <!-- ADULTS -->
                    <div class="col-md-4 field">
                        <div class="separator"></div>
                        <div class="input-label">Adults<span ng-show="ctrl.fields.adults.required">*</span></div>
                        <div class="input">
                            <input ng-disabled="true" name="adults" type="number" ng-min="0"
                                   ng-max="ctrl.fields.adults.max"
                                   ng-model="ctrl.booking.adults"
                                   ng-required="ctrl.fields.adults.required">
                        </div>
                    </div>
                    <!-- KIDS -->
                    <div class="col-md-4 field">
                        <div class="separator"></div>
                        <div class="input-label">Kids<span ng-show="ctrl.fields.kids.required">*</span></div>
                        <div class="input">
                            <input ng-disabled="true" name="kids" type="number" ng-min="0"
                                   ng-max="ctrl.fields.kids.max"
                                   ng-model="ctrl.booking.kids"
                                   ng-required="ctrl.fields.kids.required">
                        </div>
                    </div>
                    <!-- BABIES -->
                    <div class="col-md-4 field">
                        <div class="separator"></div>
                        <div class="input-label">Babies<span ng-show="ctrl.fields.babies.required">*</span></div>
                        <div class="input">
                            <input ng-disabled="true" name="babies" type="number" ng-min="0"
                                   ng-max="ctrl.fields.babies.max"
                                   ng-model="ctrl.booking.babies"
                                   ng-required="ctrl.fields.babies.required">
                        </div>
                    </div>
                </div>
                <!-- INCLUDED/EXCLUDED SERVICES-->
                <div class="row">
                    <!-- INCLUDED SERVICES -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Included services<span
                                ng-show="ctrl.fields.included_services.required">*</span></div>
                        <div class="input">
                            <input ng-disabled="true" name="included_services" type="text" ng-maxlength="ctrl.fields.included_services.max"
                                   ng-model="ctrl.booking.included_services"
                                   ng-required="ctrl.fields.included_services.required">
                        </div>
                    </div>
                    <!-- EXCLUDED SERVICES -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Excluded services<span
                                ng-show="ctrl.fields.excluded_services.required">*</span>
                        </div>
                        <div class="input">
                            <input ng-disabled="true" name="excluded_services" type="text" ng-maxlength="ctrl.fields.excluded_services.max"
                                   ng-model="ctrl.booking.excluded_services"
                                   ng-required="ctrl.fields.excluded_services.required">
                        </div>
                    </div>
                </div>
                <!-- DRINKS/DISHES -->
                <div class="row">
                    <!-- DRINKS -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Drinks<span
                                ng-show="ctrl.fields.drinks.required">*</span></div>
                        <div class="input">
                            <input ng-disabled="true" name="drinks" type="text" ng-maxlength="ctrl.fields.drinks.max"
                                   ng-model="ctrl.booking.drinks"
                                   ng-required="ctrl.fields.drinks.required">
                        </div>
                    </div>
                    <!-- DISHES -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Dishes<span ng-show="ctrl.fields.dishes.required">*</span>
                        </div>
                        <div class="input">
                            <input ng-disabled="true" name="dishes" type="text" ng-maxlength="ctrl.fields.dishes.max"
                                   ng-model="ctrl.booking.dishes"
                                   ng-required="ctrl.fields.dishes.required">
                        </div>
                    </div>
                </div>
                <!--PRICE/FEE-->
                <div class="row">
                    <!-- PRICE -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Price ({{ctrl.booking.currency_captain}})<span
                                ng-show="ctrl.fields.price.required">*</span></div>
                        <div class="input">
                            <input ng-disabled="true" name="price" type="number" ng-min="1"
                                   ng-max="ctrl.fields.price.max"
                                   ng-model="ctrl.booking.price"
                                   ng-required="ctrl.fields.price.required">
                        </div>
                    </div>
                    <!-- FEE -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Fee ({{ctrl.booking.currency_captain}})<span
                                ng-show="ctrl.fields.fee.required">*</span></div>
                        <div class="input">
                            <input ng-disabled="true" name="fee" type="number" ng-min="0"
                                   ng-max="ctrl.booking.price"
                                   ng-model="ctrl.booking.fee"
                                   ng-required="ctrl.fields.fee.required">
                        </div>
                    </div>
                </div>
                <!-- EXPIRATION DATE -->
                <div class="row">
                    <!-- EXPIRATION DATE -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Expiration Date<span
                                ng-show="ctrl.fields.expiration_date.required">*</span></div>
                        <div class="input">
                            <naus-datepicker-popup disabled="true" date="ctrl.booking.expiration_date" language="en"
                                                   is-open=ctrl.fields.expiration_date.open></naus-datepicker-popup>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>