<uib-accordion>
    <div uib-accordion-group class="panel-default" is-open="$ctrl.status.open">
        <uib-accordion-heading>
            {{$ctrl.title}}
            <a href="" ng-if="$ctrl.status.open" class="icon icon-minus toggle-open i-6x"></a>
            <a href="" ng-if="!$ctrl.status.open" class="icon icon-plus toggle-open i-6x"></a>
        </uib-accordion-heading>
        <div class="table-responsive">
            <table class="table">
                <thead class="head">
                <tr>
                    <th class="col-users">Utenti</th>
                    <th class="col-date">Data</th>
                    <th class="col-alerts">Avvisi</th>
                    <th class="col-actions">Azioni</th>
                </tr>
                </thead>
                <tbody class="body">
                <tr ng-repeat="chat in $ctrl.chats">
                    <td class="usernames">
                        <img src="{{chat.userPic}}" class="profile-pic captain"/>
                        <img src="{{chat.captainPic}}" class="profile-pic user"/>
                        <span>{{chat.user}} - {{chat.captain}}</span>
                    </td>
                    <td>{{chat.date}}</td>
                    <td class="admin-alert">
                        <div class="marker {{chat.alert}}"></div>
                    </td>
                    <td class="action">
                        <a href="" class="icon action-icon icon-preview"></a>
                    </td>
                </tr>
                </tbody>
                <tfoot class="footer">
                <tr>
                    <td colspan="4">
                        <a href="">Vedi tutte le chat tra Capitani&Ospiti <span class="icon icon-arrow i-5x"></span></a>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</uib-accordion>