<div class="view-container single-form">
    <div class="container-invalid-token" ng-show="!ctrl.success && !ctrl.loading && !ctrl.translations.loading ">
        <h2 class="text-center">{{'invalid_token.invalid' | translate}}</h2>
        <h6 class="text-center margin-bottom-sm">{{'invalid_token.insert_email' | translate}}</h6>

        <form novalidate class="form" name="ctrl.form">
            <div class="input-group input-group-icon margin-bottom-sm">
            <span class="input-group-addon">
                <span class="icon icon-mail"></span>
            </span>
                <input class="input-group-input"
                       name="email" type="email" required placeholder="{{'inputs.email' | translate}}"
                       ng-model="ctrl.email"
                       ng-change="ctrl.resetField('email')"
                       ng-blur="ctrl.validateField('email')">
                <error-messages field-name="email" translation-name="email"
                                controller-errors=ctrl.errors page="inputs"></error-messages>
            </div>

            <div class="text-center">
                <span class="error-form-no-input" ng-if="ctrl.errors.error"
                      translate>{{'errors.' + ctrl.errors.error.code}}</span>
                <naus-btn on-click="ctrl.send()"
                          options="{color: 'orange', disabled: ctrl.loading}">
                    {{'inputs.send' | translate}}
                </naus-btn>
            </div>
        </form>

    </div>

    <div class="container-invalid-token" ng-show="ctrl.success">
        <h6 class="text-center margin-bottom-sm" translate translate-value-email="{{ctrl.email}}">{{'invalid_token.success'}}</h6>
    </div>

    <!-- LOADER -->
    <div class="container-invalid-token" ng-show="ctrl.loading || ctrl.translations.loading">
        <div class="loader"></div>
    </div>
</div>