<a ng-href="{{ctrl.url}}" ng-click=ctrl.go() prevent-href class="experience-type dark-row"
   ng-style="{'background-image': 'url(' + ctrl.image + ')'}"
   id="{{ctrl.experienceTypeObject.title}}">
    <div class="hover-container">
        <div class="hover-background"></div>
        <span class="hover-icon icon-preview text-center"></span>
    </div>
    <div>
        <div class="experience-type-text-container">
            <h4 class="experience-type-label">{{'home.' + ctrl.experienceTypeObject.title | translate}}</h4>
            <div class="form-separator separator-small"></div>
            <h6 class="experience-type-description">{{'home.' + ctrl.experienceTypeObject.description | translate}}</h6>
        </div>
    </div>
</a>
