<div class="component-loadable dashboard-single-container profile-edit"
     ng-class="{'component-loadable-loading': (ctrl.loading || ctrl.translations.loading)}">
    <div ng-hide="ctrl.loading || ctrl.translations.loading" class="conversations-list">
        <uib-accordion template-url="/users/app/components/accordion/accordion.view.html">
            <div uib-accordion-group is-open="ctrl.open" is-disabled="!ctrl.showAccordion"
                 template-url="/users/app/components/accordion/accordion-group.view.html">
                <uib-accordion-heading>
                    <a ng-click="ctrl.back($event)" ng-if="ctrl.showBackButton"
                       class="icon icon-arrow i-5x light-blue mirror back-button"></a><span>{{'user.profile' | translate}}</span>
                    <div ng-if="ctrl.showAccordion" class="accordion-opener">
                        <a ng-href="" ng-if="ctrl.open" class="icon icon-minus toggle-open i-6x"></a>
                        <a ng-href="" ng-if="!ctrl.open" class="icon icon-plus toggle-open i-6x"></a>
                    </div>
                </uib-accordion-heading>

                <!--ACCORDION BODY-->
                <ul class="light-blue list-no-style" ng-show="!ctrl.emailVerified || !ctrl.phoneVerified">
                    <li class="list-element" ng-hide="ctrl.emailVerified" ng-click="ctrl.verifyEmailFormIsOpen = true">
                        {{'header.verify_mail' | translate}} <i class="icon icon-arrow i-7x"></i>
                    </li>
                    <li class="list-element" ng-hide="ctrl.phoneVerified" ng-click="ctrl.verifyPhone()">
                        {{'header.verify_phone' | translate}} <i class="icon icon-arrow i-7x"></i>
                    </li>
                </ul>
                <ul class="light-blue list-no-style" ng-show="ctrl.emailVerified && ctrl.phoneVerified">
                    <li class="list-element">
                        {{'user.no_actions' | translate}}
                    </li>
                </ul>
            </div>
        </uib-accordion>
    </div>

    <div ng-show="ctrl.loading || ctrl.translations.loading" class="loader-alt"></div>
</div>

<!--MODAL VERIFY EMAIL-->
<modal modal-title="header.verify_mail" ng-if="ctrl.verifyEmailFormIsOpen" on-close="ctrl.verifyEmailFormIsOpen = false">
    <verify-email on-close="ctrl.verifyEmailFormIsOpen = false"></verify-email>
</modal>