// COLORS helper
// Blues
.light-blue {
  color: $light-blue !important;
}

.medium-light-blue {
  color: $medium-light-blue !important;
}

.lighter-blue {
  color: $lighter-blue !important;
}

.bali-hai {
  color: $bali-hai !important;
}

.columbia-blue {
  color: $columbia-blue !important;
}

.navy-blue {
  color: $navy-blue !important;
}

.ice-blue {
  color: $ice-blue !important;
}

.navy-blue {
  color: $navy-blue !important;
}

.ice-blue {
  color: $ice-blue
}

.cornflower-blue {
  color: $cornflower-blue !important;
}

// Greys

.dark-grey {
  color: $dark-grey !important;
}

.light-grey {
  color: $light-grey !important;
}

.medium-light-grey {
  color: $medium-light-grey !important;
}

.lighter-grey {
  color: $lighter-grey !important;
}

.concrete {
  color: $concrete !important;
}

.grey-swan {
  color: $grey-swan !important;
}

.grey-nobel {
  color: $grey-nobel !important;
}

// Miscellaneous

.pink {
  color: $pink !important;
}

.light-sea-green {
  color: $light-sea-green !important;
}

.orange-flamingo {
  color: $orange-flamingo !important;
}

.vivid-yellow {
  color: $vivid-yellow !important;
}

// Status

.green {
  color: $green !important;
}

.red {
  color: $red !important;
}

.orange {
  color: $orange !important;
}

.dark-orange {
  color: $dark-orange !important;
}

.white {
  color: white !important;
}