.users-site {
  .booking {
    .img-container {
      width: 120px;
      height: 120px;
      float: left;
      background-size: cover;
      background-position: center;
    }
    .experience-info-container {
      margin-left: 140px;
    }
    .hr {
      padding: 0 16px;
    }
    .accordion-body {
      padding: 20px 10px 50px;
      margin-bottom: 70px;
    }
    .edit-price-cta-text {
      position: relative;
      line-height: 0;
      top: 7px;
    }
    .action-button {
      width: 100%;

      &.action-button-left, &.action-button-right {
        text-align: center;
      }
    }

    .booking-row {
      margin: 0 -10px;

      .booking-col {
        padding: 0 10px;
      }
    }
    .status-label-container {
      display: table;
      width: calc(100% + 20px);
      margin-left: -10px;

      .status-label {
        height: 42px;
        display: table-cell;
        vertical-align: middle;
        color: white;
        font-weight: 600;
        font-size: 18px;
        letter-spacing: 2px;
        @include border-radius(0);
      }
    }

    .user-pic {
      width: 120px;
      float: left;

      img {
        width: 120px;
        height: 120px;
      }
    }
  }

  .booking-modal {
    .naus-modal-content {
      padding: 0;
    }
    .form {
      padding: 0 0 44px;
    }

    .dashboard-infobox {
      position: relative;
      float: none;
      width: auto;
      min-height: 100px;
      margin: 0;
      padding: 0;
      border: none;
    }
  }

  .booking-popup {
    .container-fluid {
      padding: 0 26px;
    }
    .row {
      margin: 0 0 10px;
    }
    [class*='col-'] {
      padding: 0 4px;
      margin-bottom: 10px;
    }
    .form-separator {
      margin-bottom: 15px;
    }

    .naus-datepicker-popup {
      width: calc(100% - 8px);
    }
    .input-heading {
      margin: 0 0 10px;
    }

    .booking-popup-top-label {
      padding: 0 30px;
      height: 50px;
      background-color: rgba($light-blue, 0.09);

      .entire-boat-ribbon {
        color: white;
        position: absolute;
        width: 30px;
        height: 45px;
        border-left: 15px solid $orange-flamingo;
        border-right: 15px solid $orange-flamingo;
        border-bottom: 10px solid transparent;
        line-height: 35px;

        .icon {
          margin-left: -12px;
        }
      }

      .price-per-person-container-table {
        display: table;
        margin: auto;
        padding: 0 35px;
      }
      .price-per-person-container-cell {
        display: table-cell;
        vertical-align: middle;
        height: 50px;
        line-height: 20px;
      }
    }
  }

  .booking-confirmed {
    padding: 20px 14px 63px;
    text-align: center;

    .booking-confirmed-message {
      margin: 0 0 20px;
      padding: 0 15px;
    }
  }

  .booking-infobox {
    padding: 0;

    .img-container {
      position: relative;
      height: 260px;
      background-size: cover;
      background-position: center;
    }
    .experience-photo {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    .experience-price {
      color: white;
      width: 100%;
      position: absolute;
      right: 0;
      bottom: 0;
      text-align: right;
      padding: 14px 20px;
      background-color: rgba($dark-grey, 0.5);
      text-shadow: 0 1px 1px rgba(black, 0.5);

      .form-separator {
        margin-bottom: 10px;
        margin-right: 0;
        display: inline-block;
        background-color: white;
      }
      .from {
        margin-top: 0;
      }
      .price {
        margin: 0;
        letter-spacing: 1px;
      }
    }

    .description-container {
      padding: 0 12px 46px;
    }

    .form-separator {
      margin-left: 0;
    }

    .service {
      position: relative;
      padding-right: 65px;
    }
    .service-price {
      position: absolute;
      top: 2px;
      right: 15px;
    }

    .status-label-container {
      width: calc(100% + 24px);
      margin-left: -12px;
    }
  }

  .booking-edit-price-modal {

  }

  //OFFSITE BOOKING
  &.offsite-booking-confirm-page {
    header {
      display: none;
    }

    #content {
      position: static;
    }

    .offsite-booking-confirm {
      max-width: 600px;
      background-color: white;
      margin: auto;

      .offsite-booking-confirm-header, .offsite-booking-confirm-footer {
        background-color: $big-stone;
        padding: 25px;
      }

      .offsite-booking-confirm-content {
        padding: 30px;
      }

      .terms {
        line-height: 2;
      }
      .terms-label {
        position: relative;
      }

      .offsite-booking-confirm-footer {
        .text {
          font-weight: 100;
        }
      }
    }
  }

  @media (min-width: $tablet-breakpoint) {
    .booking {
      .experience-info-container {
        margin: 0;
      }
      .img-container {
        width: 140px;
        height: 140px;
        position: absolute;
      }
      .accordion-body {
        padding: 20px 22px 100px;
      }
      .status-label-container {
        width: calc(100% + 44px);
        margin-left: -22px;
      }

      .right-column-desktop {
        margin-left: 170px;
      }

      .payment-row {
        max-width: 528px;
      }

      .service {
        width: 50%;
        float: left;
      }
    }

    .booking-modal {
      .form {
        padding-bottom: 40px;
      }
    }

    .booking-popup {
      .container-fluid {
        padding: 0 76px;
      }
      .row {
        margin: 0 0 10px;
      }
      [class*='col-'] {
        padding: 0 4px;
        margin-bottom: 10px;
      }
      .form-separator {
        margin-bottom: 15px;
      }

      .naus-datepicker-popup {
        width: calc(100% - 8px);
      }

      .booking-popup-top-label {
        padding-left: 80px;
        padding-right: 80px;
      }
    }

    .booking-confirmed {
      padding: 25px 55px 63px;
      text-align: left;

      .booking-confirmed-message {
        padding: 0 25px;
      }
    }
  }

  @media (min-width: 1154px) {
    .booking {
      .action-button {
        width: 50%;
        float: left;

        &.action-button-left {
          text-align: left;
        }
        &.action-button-right {
          text-align: right;
        }
      }
    }
  }
}