.users-site {
  #captain-form {
    #phone-row {
      margin: 0 -5px;
    }
  }
  #boat-form {
    .form-col {
      &:last-child {
        margin-bottom: 0;
      }
    }

    .map-container {
      height: 342px;
    }
  }
  #rules-form {
    .photo-col {
      padding: 0 20px;
    }

    #photos {
      padding: 0 0 10px;
    }
  }
  #paypal-form {
    background-color: transparent;

    .input-group {
      max-width: none;
    }
  }

  // Languages, experienceTypes, ecc
  .multi-selector {
    .add-button {
      margin: 20px 0;
      text-align: right;
    }
  }

  @media all and (min-width: $tablet-breakpoint) {
    .multi-selector {
      .add-button {
        text-align: center;
        margin: 0;
      }
    }

    #rules-form {

    }

    #paypal-form {
      padding: 0;

      .form-separator {
        margin-left: 0;
      }

      .input-heading {
        padding: 0;
        margin-right: 0;
      }
    }
  }
}