@import "colors";

// General 
.btn-outline{
	background-color: transparent !important;
	text-transform: uppercase;
	
	&.btn-info{
		border: solid 2px #31bef8;	
	  	color: #31bef8;

	  	&:hover,
	  	&:active{
	  		border: solid 2px #31bef8;	
	  		color: #31bef8;
	  	}
	}
}

.btn-rounded{
	border-radius: 100px;
}

.btn-radio{
	padding: 10px 10px;
	margin: 10px;
	border-radius: 4px !important;
	border: solid 1px #b2b2b2;
	width: 90px;
	font-size: 12px;

	&.btn-radio-info{
		&.active{
			background-color: $light-blue !important;
			color: white;
			box-shadow: none;
		}
		&:hover{
			background-color: white;
		}
	}
}

.page-section-title{
	border-bottom: 1px solid #d8d8d8;	
	padding-bottom: 10px;
	margin-bottom: 10px;

	.icon{
		color: $light-blue;
	}
}

.mobile-filters-footer{
	.explore-box{
		background-color: $light-blue;

		.btn{
			color: white !important;
		}
	}

	.clear-box{
		color: $light-blue !important;
		.btn{
			color: $light-blue;
		}
	}
	
	.btn{
		border-width: 0px !important;

		&:hover, &:active{
			box-shadow: none;
		}
	}
}



