.users-site {
  $border: 1px solid $light-grey;

  .dashboard {
    padding: 20px 14px 70px;
  }
  .dashboard-single-container {
    .accordion-body {
      padding: 19px 16px 50px;
    }
  }
  .profile-edit {
    .accordion-body {
      padding: 0;
    }
  }

  .dashboard-single {
    position: absolute;
    width: 100%;
  }
  .dashboard-accordion {
    position: relative;
    $row-height: 60px;

    .panel {
      @include border-radius(0);
      @include box-shadow(none);
      border: none;
      margin: 0;
    }

    .accordion-heading {
      padding: 0 10px;
      min-height: 60px;
      background-color: $medium-light-grey;
      border-bottom: $border;

      .back-button {
        vertical-align: middle;
        margin-right: 15px;
      }

      .heading-text {
        margin-left: 8px;
      }

      .multiple-lines {
        display: inline-block;
        white-space: normal;
        line-height: normal;
        margin-top: 21px;
      }
    }

    .bottom-light-blue {
      border-bottom: 1px solid $light-blue !important;
    }

    .accordion-title {
      line-height: $row-height;
      overflow: hidden;
      white-space: nowrap;
    }

    .accordion-opener {
      height: 60px;
      position: absolute;
      top: 0;
      right: 10px;
    }

    .toggle-open {
      color: $light-blue;
    }

    table {
      margin: 0;
    }
    .table-responsive {
      border: none;
      margin: 0;
    }

    .table-head {
      background-color: $medium-light-blue;
    }
    .table-heading {
      height: 50px;
      vertical-align: middle;
      padding: 0 10px;
      border-bottom: $border;
    }

    .table-row {
      cursor: pointer;
      height: $row-height;
      border-bottom: $border;

      // Stile table row on hover
      &:hover {
        .table-field {
          background-color: $light-blue;

          .table-field-content {
            background-color: $dark-alice-blue;
          }
        }
      }
    }
    .table-field {
      padding: 0;
      border: none;
      vertical-align: middle;

      &.first-child-mobile {
        padding-left: 2px;

        .table-field-content {
          padding-left: 8px;
        }
      }
      &:last-child {
        padding-right: 2px;

        .table-field-content {
          padding-right: 8px;
        }
      }
    }
    .table-field-content {
      height: $row-height - 5;
      line-height: $row-height - 5;
      overflow: hidden;
      padding-left: 10px;
      white-space: nowrap;
    }
  }

  .dashboard-list {
    margin-bottom: 20px;
  }

  .empty-list {
    padding: 19px 14px;
  }

  //SINGLE CONVERSATION TODO use class
  #conversation {
    .message-text {
      white-space: pre-line;
      margin: 0;
    }
    .message-time {
      margin: 0;
      text-align: right;
      font-size: 10px;
    }

    .conversation-group {
      margin-top: 20px;

      &:first-child {
        margin-top: 0;
      }
    }
    .conversation-group-date {
      text-align: center;
      margin-bottom: 34px;

      hr {
        margin: -15px 0 0 0;
      }
      span {
        display: inline-block;
        @include border-radius(20px);
        min-width: 150px;
        line-height: 30px;
        background-color: $medium-light-grey;
      }

      // Display only first user pic of a message streak
      + .conversation-message {
        .user-pic {
          display: inline-block;
        }

        .message-box {
          &:before {
            visibility: visible;
          }
        }

      }
    }

    .conversation-message {
      min-height: 44px;
      margin-bottom: 5px;

      .message-box {
        position: relative;
        @include border-radius(2px);
        background-color: $lighter-grey;
        margin-left: 58px;
        margin-right: 0;
        padding: 7px 5px 5px;

        &:before {
          visibility: hidden;
          position: absolute;
          content: '';
          width: 0;
          height: 0;
          border-bottom: 12px solid transparent;
          border-top: 12px solid transparent;
        }
      }
      .user-pic {
        display: none;
        float: left;
      }

      &.own-message {
        .message-box {
          background-color: rgba($light-blue, 0.15);
          margin-right: 58px;
          margin-left: 0;

          &:before {
            right: -10px;
            border-left: 10px solid rgba($light-blue, 0.15);
          }
        }
        .user-pic {
          float: right;
        }

        + .conversation-message {
          &:not(.own-message) {
            margin-top: 20px;
            .user-pic {
              display: block;
            }
            .message-box {
              &:before {
                visibility: visible;
              }
            }
          }
        }
      }

      &:not(.own-message) {
        .message-box {
          &:before {
            left: -10px;
            border-right: 10px solid $lighter-grey;
          }
        }

        + .conversation-message {
          &.own-message {
            margin-top: 20px;

            .user-pic {
              display: block;
            }

            .message-box {
              &:before {
                visibility: visible;
              }
            }
          }
        }
      }
    }

    .user-pic {
      img {
        height: 40px;
        width: 40px;
      }
    }

    .new-message-input-group {
      .user-pic {
        float: right;
      }
      .message-input {
        position: relative;
        margin-right: 58px;

        textarea {
          height: 94px;
          resize: none;
          padding: 12px 5px;

          &.ng-invalid {
            color: $dark-grey;
            @include box-shadow(none !important);
            border-color: $grey-swan !important;
          }
        }

        &:before, &:after {
          position: absolute;
          content: '';
          width: 0;
          height: 0;
          top: 10px;
          border-bottom: 12px solid transparent;
          border-left: 10px solid;
          border-top: 12px solid transparent;
          border-right: none;
        }
        &:before {
          right: -10px;
          border-left-color: $grey-swan;
        }
        &:after {
          right: -9px;
          border-left-color: white;
        }
      }

      + hr {
        margin-top: 17px;
        margin-bottom: 30px;
      }
    }

    hr {
      border-color: $grey-swan;
    }

    // Scrollbar
    @include naus-scrollbar;
  }

  #boat {
    hr {
      margin-top: 10px;
    }

    .section-title {
      margin-top: 0;
    }
  }

  #edit-boat {
    .breadcrumb-steps {
      li {
        width: 25%;

        &.active {
          width: 75%;

          .step-title {
            display: inline-block;
          }
        }
      }
    }

    .accordion-body {
      padding: 0;
    }
    .accordion-container {
      padding: 0 16px 50px;
    }

    .form-steps {
      padding: 0;
    }

    #boat-accessories {
      label {
        padding-left: 22px;

        &:before {
          left: -10px;
        }
      }
    }
  }

  .dashboard-infobox {
    background-color: white;
    border: $border;
    width: 260px;
    min-height: 150px;
    margin: 0 auto 20px;
    padding: 20px 0 30px;

    .status-label-container {
      display: table;
      width: 100%;

      .status-label {
        height: 42px;
        display: table-cell;
        vertical-align: middle;
        color: white;
        font-weight: 600;
        font-size: 18px;
        letter-spacing: 2px;
        @include border-radius(0);
      }
    }

    .model-photo {
      margin: 0 auto 20px;
      width: 120px;
      height: 120px;
      background-size: cover;
      background-position: center;
    }
    .model-name {
      padding: 0 23px;
      margin-bottom: 20px;
    }
    .dashboard-infobox-inner {
      padding: 0 12px;
    }

    .user-pic {
      img {
        width: 120px;
        height: 120px;
      }
    }
  }

  .quick-access, .profile-edit {
    .accordion-heading {
      border: none;
      text-align: left;
      padding: 0 25px;
    }

    .list-element {
      line-height: 69px;
      padding: 0 25px;
      text-align: left;
      border-bottom: $border;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        border: 2px solid;
        background-color: $dark-alice-blue;
        line-height: 66px;
        padding: 0 23px;
      }

      .icon-arrow {
        position: absolute;
        right: 25px;
      }
    }
  }
  .profile-edit {
    .list-element {
      line-height: 89px;

      &:hover {
        line-height: 86px;
      }
    }
  }

  .add-new-element {
    display: inline-block;
    margin-top: 23px;

    .plus-button-container {
      width: 40px;
      height: 40px;
      display: inline-block;
      border: 2px solid $light-blue;
      margin-right: 15px;
      vertical-align: middle;
    }

    .icon-plus {
      line-height: 40px;
    }
  }

  @media all and (min-width: $tablet-breakpoint) {
    .dashboard-single-container {
      margin-left: 292px;

      .accordion-body {
        padding: 19px 22px 50px;
      }
    }
    .profile-edit {
      .accordion-body {
        padding: 0;
      }
    }
    .dashboard-list {
      margin-left: 292px;
      margin-bottom: 40px;
    }

    .dashboard-accordion {
      $row-height: 90px;
      .table-row {
        height: $row-height;
      }
      .table-field-content {
        height: $row-height - 5;
        line-height: $row-height - 5;
      }

      .table-field {
        &.first-child-mobile {
          padding-left: 0;
        }
        &:first-child {
          padding-left: 2px;
        }
      }
    }

    .dashboard-infobox {
      clear: both;
      float: left;
    }

    #conversation {
      .message-text {
        font-size: 14px;
        margin-bottom: 34px;
      }
      .message-time {
        font-size: 12px;
      }
      .conversation-group {
        margin-top: 30px;
      }
      .conversation-group-date {
        margin-bottom: 53px;

        hr {
          margin-top: -23px;
        }
        span {
          @include border-radius(40px);
          min-width: 263px;
          line-height: 47px;
        }
      }
      .conversation-messages-scrollable {
        max-height: 825px;
        overflow-y: auto;
      }
      .conversation-messages {
        margin-right: 80px;
      }
      .conversation-message {
        min-height: 104px;
        margin-bottom: 10px;

        .message-box {
          padding: 19px 18px;
          margin-left: 118px;
        }

        &.own-message {
          .message-box {
            margin-right: 118px;
          }

          + .conversation-message {
            &:not(.own-message) {
              margin-top: 30px;
            }
          }
        }

        &:not(.own-message) {
          + .conversation-message {
            &.own-message {
              margin-top: 30px;
            }
          }
        }
      }

      .accordion-body {
        padding: 20px 20px 50px 40px;
      }

      .new-message-box {
        margin-right: 80px;

        hr {
          margin: 30px 0;
        }
      }

      .new-message-input-group {
        .message-input {
          margin-right: 118px;

          textarea {
            height: 120px;
            padding: 19px 16px;
          }
        }
      }

      .user-pic {
        img {
          height: 100px;
          width: 100px;
        }
      }
    }

    #boats-list {
      .dashboard-accordion {
        $row-height: 140px;
        .table-row {
          height: $row-height;
        }
        .table-field-content {
          height: $row-height - 5;
          line-height: $row-height - 5;
        }
      }

      .heading-name {
        padding-left: 45px;
      }
      .boat-name {
        padding-left: 45px;
      }

      .boat-photo {
        width: 139px;
        height: 139px;
        position: absolute;
        margin: -2px auto auto -12px;
        background-size: cover;
        background-position: center;
      }
      .boat-photo-container {
        min-width: 100px;
      }
    }

    #edit-boat {
      .breadcrumb-steps {
        li {
          width: 50%;

          .step-title {
            display: inline-block;
          }

          &.active {
            width: 50%;
          }
        }
      }
    }

    .add-new-element {
      .plus-button-container {
        margin: 0 15px;
      }
    }
  }
}