@media all and (min-width: $tablet-breakpoint) {
  .users-site {

    #content {
      top: 100px;
      font-size: $font-size-h5;

      .view-container {
        padding: 40px 16px;
      }
    }

    header {
      #header-container {

        .dropdown-user {
          .user {
            width: 77px !important;
            height: 77px !important;
            margin-bottom: -3px !important;
          }

          .dropdown-menu {
            margin-top: 49px;
          }
        }

        #top-header-container {
          width: 100%;

          #top-header {
            margin: auto;
            padding: 0 16px;
            display: block;
            height: 56px;

            .top-header-item {
              float: right;
              line-height: 56px;
              padding-left: 65px;

              .icon {
                position: relative;
                padding-left: 5px;
              }
            }

            .popover {
              top: 43px !important;
              width: 120px;

              .list-element-icon {
                height: 40px;
                line-height: 40px;
                padding-left: 8px;
                border-bottom: 1px solid $shady-lady;

                &:last-child {
                  border-bottom: none;
                }
              }

              // Currencies popover
              .currencies-list {
                .list-element-icon {
                  padding-left: 10px;
                }
              }
            }
          }
        }

        #bottom-header-container {
          border-top: 1px solid $medium-light-grey;

          #bottom-header {
            position: relative;
            display: block;
            height: 99px;

            .hamburger {
              //display: none;
              margin-top: 21px;

              .icon {
                font-size: 50px;
              }
            }

            .icon {
              font-size: 50px;

              &.icon-logo {
                height: 99px;
                display: inline-block;
                line-height: 99px;
                font-size: 50px;
              }
            }

            #menu-desktop {
              position: absolute;
              right: 0;
              /* Fix for absolute positioning */
              padding-right: 16px;

              #search-box {
                display: inline-block;
                height: 50px;
                min-width: 250px;
              }

              .menu-items {
                height: 99px;
                line-height: 98px;
                display: inline-block;
                list-style: none;
                padding: 0;
                margin: 0;

                .dropdown {
                  height: 100%;
                }

                .menu-item {
                  position: relative;
                  display: inline-block;
                  height: 100%;
                  border-right: 1px solid $medium-light-grey;

                  &:first-child {
                    border-left: 1px solid $medium-light-grey;
                  }

                  .menu-item-text {
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    padding: 36px 17px 0;
                    line-height: 63px;
                    display: inline-block;
                  }

                  .menu-item-underline {
                    display: none;
                  }

                  &:hover {
                    .menu-item-underline {
                      display: inline-block;
                      width: 70px;
                      height: 5px;
                      position: absolute;
                      background-color: $light-blue;
                      bottom: 9px;
                      left: 50%;
                      @include translateX(-50%);
                      @include border-radius(100px);
                    }
                  }

                  .sub-item-link {
                    font-weight: 300;
                    letter-spacing: 1px;
                  }
                }
              }
            }

            .search {
              display: none;
            }
          }
        }
      }
    }

    // Views like login, register...
    .single-form {
      background: #0b1f37; /* Old browsers */
      background: -moz-linear-gradient(45deg, #0b1f37 0%, #1b4367 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(45deg, #0b1f37 0%, #1b4367 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(45deg, #0b1f37 0%, #1b4367 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0b1f37', endColorstr='#1b4367', GradientType=1); /* IE6-9 fallback on horizontal gradient */
      position: relative;
      min-height: 100%;
      width: 100%;

      > [class^="container-"], > [class*=" container-"] {
        margin: auto;
        background-color: white;
      }

      > .container-login, > .container-invalid-token {
        width: 655px;
      }

      > .container-register {
        width: 90%;
      }
    }

    .breadcrumb-steps {
      height: 78px;
      li {
        line-height: 78px;
        width: 34%;
        .before, .after {
          margin-top: -150px;
          border-top: 150px solid transparent;
          border-bottom: 150px solid transparent;
          border-left: 100px solid;
        }
        .before {
          right: -26px;
          border-left-color: white;
        }
        .after {
          right: -8px;
          border-left-color: $medium-light-grey;
        }

        &.active {
          width: 34%;
        }
        &:first-child, &:last-child {
          width: 33%;
        }
        .step-title {
          display: inline;
          max-width: 29vw;
        }
        .step-text {
          padding-left: 46px;
          letter-spacing: 2px;
        }
        &:last-child {
          .before, .after {
            display: none;
          }
        }
        &:first-child {
          .step-text {
            padding-left: 22px;
          }
        }
      }
    }

    /* INPUTS */
    $input-height: 50px;
    $icon-padding-left: 13px;
    input {
      height: $input-height;
    }
    .input-group-icon, .input-group-icon-dropdown {
      .input-group-addon {
        .icon {
          line-height: $input-height;
        }
      }
    }
    .input-group-icon {
      .input-group-addon {
        .icon {
          padding-left: $icon-padding-left;
        }
      }

      input {
        padding-left: $icon-padding-left + 34;
      }
    }
    .input-group-icon-dropdown {
      .input-group-addon {
        .icon-arrow-down, .icon-arrow-up {
          padding-left: $icon-padding-left + 32;
        }
      }
      .language-icon {
        img {
          width: 26px;
        }
      }

      input {
        padding-left: $icon-padding-left + 72;
      }
    }
    .input-group-icon-right {
      .input-group-addon {
        width: 20px;
        float: right;

        .icon {
          padding-left: 9px;
          right: 50%;
        }
      }
      input {
        padding-left: 15px;
      }
    }
    .dropdown-menu {
      min-width: 250px;
      width: auto;
      font-size: $font-size-h6;

      .item-icon-group {
        .item-icon {
          line-height: $input-height;
        }
      }

      li {
        height: $input-height;
        font-size: $font-size-medium;
        background-color: white;

        &:last-child {
          @include border-radius(0);
        }

        a {
          line-height: $input-height - 1;
          padding: 0 40px;
          background-color: transparent;

          &:hover, &:focus {
            border-left: 10px solid $light-blue;
            color: $dark-grey;
            padding-left: 30px;
          }

          &.danger {
            color: $red;
            &:hover, &:focus {
              border-left: 10px solid $red;
            }
          }
        }
      }
    }

    .select {
      height: $input-height;
      line-height: $input-height;
      padding: 0 0 0 16px;

      .icon-arrow-up, .icon-arrow-down {
        position: absolute;
        right: 9px;
        line-height: $input-height;
      }

      #phone {

      }
    }

    .step-container {
      .form-description {
        font-size: $font-size-h5 !important;
      }
    }

    .form-steps {
      padding: 0 25px 20px;
    }

    // MODAL
    .naus-modal {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 999;
      background-color: rgba(black, 0.7);
      overflow-y: auto;
      padding: 10% 0;

      .naus-modal-container {
        position: relative;
        width: 560px;
        height: auto;
        margin: 0 auto;
        background-color: white;
      }

      .naus-modal-title-container {
        background-color: $lighter-grey;
        height: 70px;
        line-height: 70px;
      }

      .naus-modal-content {
        padding: 40px 80px;
      }

      .icon-close {
        line-height: 70px;
        margin: 0;
        padding: 0 35px;
      }
    }
  }

  p {
    font-size: 14px;
  }

  .h7 {
    font-size: 12px;
  }
}

@media all and (min-width: $tablet-big-breakpoint) {
  .users-site {
    #content {
      top: 157px;
    }

    header {
      #header-container {
        .dropdown-user {
          .user {
            width: 40px;
            height: 40px;
          }
        }

        #bottom-header-container {

          #bottom-header {
            .photo-user-box {
              top: -10px;
              padding: 9px 15px 0 12px;
            }
            .photo-user-toggle {
              &.icon {
                margin: 0;
                width: 50px;
                height: 50px;
                line-height: 50px;
                font-size: 26px;
              }
            }

            .user {
              margin-bottom: 0;
              width: 50px;
              height: 50px;
            }

            .icon {

              &.icon-logo {
                float: left;
              }
            }
          }
        }
      }
    }
  }
}

@media all and (min-width: 1154px) {
  .users-site {

    .view-container {
      width: 1140px;
      margin: auto;

      &.single-form {
        width: 100%;
      }
    }

    .cookie-banner {
      .cookie-banner-table, .cookie-banner-title {
        width: 1140px;
        margin: auto;
      }
    }

    header {
      #header-container {
        #top-header-container {
          #top-header {
            width: 1140px;
          }
        }

        #bottom-header-container {
          #bottom-header {
            width: 1140px;
          }
        }

      }
    }

    #footer-container-desktop {
      .row {
        width: 1140px;
      }
    }

    .single-form {
      > .container-register {
        width: 1066px;
      }
    }
  }
}