.users-site {
  .experience {

    &.component-loadable-loading {
      width: 100%;
      height: 150px;
      background-color: white;
      border: 1px solid $light-grey;
    }

    .experience-container {
      border: 1px solid $light-grey;
      padding: 14px 10px 10px;
      background-color: white;

      > .container-fluid {
        padding: 0;

        .row {
          margin: 0 -10px;

          [class^="col-"], [class*=" col-"] {
            padding: 0 10px;
          }
        }
      }
    }
    .form-separator {
      margin: 0 0 10px;
    }

    .photo-carousel {
      background-color: $light-grey;
      border: 1px solid $light-grey;
      border-top: none;
      margin-bottom: 5px;

      .carousel-inner, .slide-container, .slide {
        height: 192px;
        padding: 0;
      }

      .img-container {
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

      .carousel-next, .carousel-prev {
        .icon {
          position: absolute;
          top: 50%;
          @include translateY(-50%);
          background-color: rgba(black, 0.5);
          color: white;
          width: 29px;
          font-size: 15px;
          line-height: 29px;
        }
      }
      .carousel-next {
        .icon {
          right: 0;
        }
      }
      .carousel-prev {
        .icon {
          left: 0;
        }
      }
    }
    .collapsible-content {

      .read-more, .read-less {
        width: 100%;
        padding: 0;
        color: $light-blue;
      }
      .collapsible-element {
        position: relative;
        @include transition(max-height 0.25s ease-out);
        overflow: hidden;

        &:after {
          display: block;
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 50px;
          background: linear-gradient(rgba(white, 0), white);
        }
      }

      &.hide-read-more {
        .read-more, .read-less {
          display: none !important;
        }

        .collapsible-element {
          &:after {
            display: none !important;
          }
        }
      }
    }

    .bullet-list {
      list-style: none;
      padding: 0;

      .bullet-list-element {
        line-height: 28px;

        .bullet {
          color: $light-blue;
          display: inline-block;
          line-height: 23px;
          font-size: 29px;
          width: 6%;
          float: left;
        }

        .bullet-list-element-text {
          width: 94%;
          float: left;
          padding-left: 8px;
        }

        &.not-selected {
          opacity: 0.5;

          .bullet-list-element-text {
            text-decoration: line-through;
          }
          .bullet {
            color: $dark-grey;
            opacity: 0.5;
          }
        }
      }
    }

    .map-accordion {
      .panel {
        @include box-shadow(none);
        @include border-radius(0);
        border: none;
      }
      .panel-heading {
        @include border-radius(0);
        position: relative;
        text-align: center;
        padding: 0;
        height: 48px;
        background-color: $medium-light-grey;
      }
      .panel-heading-text {
        line-height: 48px;
        letter-spacing: 1.2px;
        text-transform: uppercase;
      }
      .panel-body {
        border: none;
        padding: 0;
      }
      .toggle-icon {
        color: $light-blue;
        position: absolute;
        right: 30px;
        line-height: 48px;
      }
    }
    .map {
      height: 250px;
    }

    #ask-booking {
      font-size: 12px;
      letter-spacing: 1px;
      text-transform: uppercase;
      width: 250px;

      &.fixed {
        left: 50%;
        @include translateX(-50%);
        position: fixed;
        bottom: 50px;
        @include box-shadow(0 1px 4px 0 rgba(0, 0, 0, 0.5));
      }
    }
    #ask-booking-btn-container {
      margin-bottom: 15px;
      height: 42px;
    }

    .request-booking-container {
      width: 100%;
      position: fixed;
      z-index: 1;
      bottom: 0;
      left: 0;
      padding: 15px 15px;
      font-size: 15px;
      background-color: #ffffff;
      @include box-shadow(0 0 4px 0 rgba(black, 0.3));
    }

    #description {
      &.collapsed {
        max-height: 200px;
      }
    }
  }

  .contact-captain-modal {
    &.booking-modal {
      .contact-captain {
        padding-top: 20px;
      }
    }
  }

  .experience-page {
    .experience-estimation-box {
      min-height: 150px;
      display: none;

      .booking-popup-top-label {
        padding: 0 20px;

        .price-per-person-container-table {
          width: 100%;
        }
      }

      .container-fluid {
        padding: 0 16px;
      }

      .naus-datepicker {
        border: 1px solid $grey-swan;
      }

      .entire-boat-ribbon {
        display: inline-block;
        color: white;
        width: 30px;
        height: 45px;
        border-left: 15px solid $orange-flamingo;
        border-right: 15px solid $orange-flamingo;
        border-bottom: 10px solid transparent;
        line-height: 35px;

        .icon {
          margin-left: -12px;
        }
      }
    }
  }

  .experience-listing {
    min-height: 363px;
    margin-bottom: 15px;
    position: relative;

    .listing-anchor {
      position: absolute;
      top: -10px;
      visibility: hidden;
      width: 1px;
      height: 1px;
    }

    .experience-listing-box {
      display: inline-block;
      border: 1px solid $light-grey;
      width: 100%;
      position: relative;

      &:hover, &.listing-hover {
        border-color: $light-blue;
        @include box-shadow(0 1px 6px rgba(black, 0.4));

        &:before {
          width: 100%;
          height: 100%;
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          @include box-shadow(inset 0px 0px 0px 1px $light-blue);
        }
      }
    }

    .img-container {
      background-size: cover;
      background-position: center;
      position: relative;
      height: 290px;
    }
    .experience-photo {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    .experience-price {
      color: white;
      width: 220px;
      position: absolute;
      right: 0;
      bottom: 0;
      text-align: right;
      padding: 14px 20px;
      background-color: rgba(black, 0.5);
      text-shadow: 0 1px 1px rgba(black, 0.5);

      .form-separator {
        margin-bottom: 15px;
        margin-right: 0;
        display: inline-block;
        background-color: white;
      }
      .from {
        font-weight: lighter;
        font-size: 12px;
        margin-top: 0;
      }
      .price {
        margin: 0;
        letter-spacing: 1px;
        font-size: 18px;
      }
    }

    .description-container {
      padding: 12px;
      background-color: white;
    }

    .experience-type {
      font-size: 20px;
      margin-top: 0;
    }

    .experience-title {
      line-height: 1.4;
      font-size: 14px;
    }

    .experience-departure-port {
      font-size: 12px;
      margin-bottom: 0;
    }
  }

  @media (min-width: 900px) {
    .experience-page {
      .experience {
        float: left;
        clear: both;
        margin-right: 390px;

        &.component-loadable-loading {
          width: calc(100% - 390px);
        }
      }

      .experience-estimation-box {
        display: block;
        margin: 0 0 0 -360px;
        clear: none;
        width: 360px;
      }
    }
    .request-booking-container {
      display: none;
    }
  }

  @media (min-width: $tablet-breakpoint){
    .experience {
      .photo-carousel {
        .experience-photo, .slide, .slide-container, .carousel-inner {
          height: 300px;
        }

        .carousel-next, .carousel-prev {
          .icon {
            width: 50px;
            font-size: 40px;
            line-height: 47px;
          }
        }
      }
    }
  }

  @media (min-width: $tablet-big-breakpoint){
    .experience-listing {

      .img-container {
        height: 350px;
      }
      .experience-photo {
      }
      .experience-price {
        width: 265px;

        .form-separator {
        }
        .from {
          font-size: 15px;
        }
        .price {
          font-size: 23px;
        }
      }

      .description-container {
        padding: 17px;
      }

      .experience-type {
        font-size: 22px;
        line-height: normal;
      }

      .experience-title {
        font-size: 19px;
        min-height: 58px;
      }

      .experience-departure-port {
        font-size: 16px;
      }
    }
  }

  @media (min-width: 1156px){
    .experience {
      .photo-carousel {
        .experience-photo, .slide, .slide-container, .carousel-inner {
          height: 450px;
        }

        .carousel-next, .carousel-prev {
          .icon {
            width: 60px;
            font-size: 50px;
            line-height: 50px;
          }
        }
      }
    }
  }
}