$header-height: 60px;
$search-toggle-width: 200px;
$cloudinary_home_url: $cloudinary_url + '/image/upload/production/assets/img/home/';

.users-site {

  * {
    &:focus, &:active {
      outline: none;
    }
  }

  &.home {

    .btn-ghost {
      color: white;
      border-color: white;
    }
    #content {
      margin-bottom: 25px;

      .view-container {
        padding: 0 15px;
        overflow-x: hidden;
      }

      #main-actions-box {
        width: 100%;
        overflow: inherit;
        background: url($cloudinary_home_url + 'header.jpg') no-repeat;
        background-position-x: 50%;
        background-size: cover;
        margin-bottom: 30px;
        margin-top: - $header-height - 2;
        padding-top: $header-height + 2;
      }
      #main-actions-container {
        padding: 0 17px;
      }
    }

    #top-destinations-container {

      .owl-stage {
        padding-left: 0;
      }

      .top-destinations-carousel {
      }

      .top-destination-container {
        height: 220px;
        margin-right: 15px;

        .top-destination-element {
          position: relative;
          height: 220px;
          padding: 0 10px;
          background-size: cover;
          background-position-y: 33%;

          .top-destination-element-label, .top-destination-element-button {
            width: 200px;
            position: absolute;
          }

          .top-destination-element-label {
            display: inline-block;
            letter-spacing: 1px;
            margin: 0;
            // Position vertically
            @include translate(-50%, -64%);
            top: 50%;
            left: 50%;
            line-height: 36px;
          }

          .top-destination-element-button {
            bottom: 15px;
            @include translateX(-50%);
            left: 50%;
            text-shadow: none;
          }
        }
      }
    }

    #experiences-types-container {
      .experience-type {
        display: block;
        position: relative;
        // Fallback for browser not supporting calc
        height: 90vw;
        height: calc(100vw - 30px);
        background-size: cover;
        padding: 15px;

        .form-separator {
          margin-left: 0;
          margin-bottom: 22px;
        }
      }

      .experience-type-label {
        margin-top: 0;
        margin-bottom: 13px;
      }
      .experience-type-description {
        margin: 0;
        line-height: normal;
        font-weight: lighter;
      }

      .experience-type-text-container {
        position: absolute;
        left: 15px;
        right: 15px;
        bottom: 15px;
      }

      .hover-container {
        position: absolute;
        @include box-shadow(none);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(black, 0.15);

        &:hover {
          z-index: 1;

          .hover-background {
            opacity: 0.7;
          }

          .hover-icon {
            opacity: 1;
          }
        }

        .hover-background, .hover-icon {
          opacity: 0;
          @include transition(opacity 0.3s ease);
        }
        .hover-background {
          width: 100%;
          height: 100%;
        }

        .hover-icon {
          border-radius: 100px;
          border: 3px solid white;
          width: 90px;
          height: 90px;
          line-height: 88px;
          font-size: 68px;
          position: absolute;
          top: 50%;
          left: 50%;
          @include translate(-50%, -50%);
          @include box-shadow(0px 0px 0px 7px rgba(white, 0.5));
          text-shadow: none;
        }
      }

      /* EXPERIENCE TYPES */
      #adventure {
        .form-separator {
          background-color: $vivid-yellow;
        }
        .hover-background {
          background-color: $vivid-yellow;
        }
      }
      #relaxing_boat_trips {
        .form-separator {
          background-color: $bahia;
        }
        .hover-background {
          background-color: $bahia;
        }
      }
      #food_and_drinks {
        .form-separator {
          background-color: $cinnabar;
        }
        .hover-background {
          background-color: $cinnabar;
        }
      }
      #romantic_getaways {
        .form-separator {
          background-color: $amaranth;
        }
        .hover-background {
          background-color: $amaranth;
        }
      }
      #weekends_and_vacations {
        .form-separator {
          background-color: $caribbean-green;
        }
        .hover-background {
          background-color: $caribbean-green;
        }
      }
      #boat_and_breakfast {
        .form-separator {
          background-color: $curious-blue;
        }
        .hover-background {
          background-color: $curious-blue;
        }
      }
      #luxury {
        .form-separator {
          background-color: $tangerine;
        }
        .hover-background {
          background-color: $tangerine;
        }
      }
    }

    #events-container {
      background-color: white;
      padding: 0 15px;

      #events-label {
        padding-top: 24px;
        margin-top: 0;
        margin-bottom: 12px;
      }

      .form-separator {
        margin-left: initial;
        margin-bottom: 15px;
        background-color: $vivid-yellow;
      }

      #events-cta {
        font-size: 18px;
        display: block;
        color: $light-blue;
        margin-bottom: 0;
        padding-bottom: 26px;
      }
    }

    #about-us-container {
      color: white;
      background-image: url($cloudinary_url + '/image/upload/q_50/production/assets/img/home/about-us');
      background-size: cover;

      #about-us-title {
        margin-top: 36px;
        margin-bottom: 79px;
      }

      #about-us-quotation-marks {
        margin-bottom: 36px;
        position: absolute;
        width: 100%;
        top: 100px;
        margin-top: 0;
        left: -10px;
        font-size: 96px;
        color: $vivid-yellow;
      }

      #about-us-feedback {
        margin-bottom: 25px;
      }

      .carousel-prev, .carousel-next {
        color: white;
      }

      .feedback-text {
        position: relative;
        margin-top: 0;
        margin-bottom: 0;
        height: 135px;

        .feedback-text-inner {
          position: absolute;
          width: 75%;
          top: 50%;
          left: 50%;
          @include translate(-50%, -50%);
          line-height: 28px;
        }
      }
      .feedback-user {
        margin: auto;
        display: inline-block;
      }
      .feedback-user-pic {
        width: 50px;
        float: left;
        margin-right: 15px;
      }
      .feedback-user-data {
        display: inline-block;
        height: 50px;
        margin-bottom: 0;
        line-height: 17px;
        text-align: left;
        padding-top: 8px;
      }

      .carousel-inner {
        padding: 0 15px;

        .item {
          &.next, &.prev {
            padding: 0 15px;
          }
        }
      }
    }

    #feedbacks-box {
      width: 100%;
      padding: 0;
    }

    #why-nausdream-container {
      .why-nausdream-element-description {
        margin-bottom: 20px;
      }

      #separator-starfish {
        background-color: $brink-pink;
      }
      #separator-captains {
        background-color: $dandelion;
      }
    }

    #partners-container {
      .item {
        height: 64px;
        margin-right: 15px;
      }
    }

    #register-container {
      margin: 0 0 30px;

      .view-container {
        margin-top: 0;
        padding: 15px;
      }

      .container-register {
        position: relative;
        width: 100%;
        @include translate(0, 0);
        left: 0;
        top: 0;
        background-color: white;
        @include border-radius(4px);
        padding: 25px 15px 20px;
        margin: auto;

        .container-fluid {
          padding: 0;
        }
      }

    }

    #prefooter-container {
      position: relative;
      padding: 0 15px;

      #prefooter-content {
        background-color: white;
        padding: 24px 15px 35px;
        @include border-bottom-left-radius(15px);
        @include border-bottom-right-radius(15px);
      }
      #prefooter-blue-box {
        width: 82%;
        height: 40px;
        background-color: $medium-turquoise;
        margin: auto;
        @include border-bottom-left-radius(15px);
        @include border-bottom-right-radius(15px);
      }
      .prefooter-counter-title {
        margin: 25px 0 10px;
      }
      .prefooter-counter {
        margin: 0;
      }
    }

    home-section {
      display: block;
    }
    .home-section {
      margin-bottom: 30px;

      &.padding {
        padding: 0 15px;
      }

      .home-section-heading {
        margin: 0 0 20px;
      }
    }

    .dark-row {
      color: white;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    }

    #headline {
      margin-top: 56px;
      margin-bottom: 10px;
      letter-spacing: 2px;
    }
    #sub-headline {
      margin-bottom: 40px;
    }

    #search-bar-column {
      width: 100%;
      position: relative;
      margin-bottom: 40px;

      div {
        &:focus, &:active {
          outline: none;
        }
      }
      .btn-default-focus {
        outline: none;
        @include box-shadow(none);
      }

      .ui-select-container {
        background-color: white;
        //@include border-top-left-radius(4px);
        //@include border-bottom-left-radius(4px);
        border-radius: 4px;
        margin-right: 0;

        &.open {
          @include border-bottom-left-radius(0);
        }

        @media screen and (max-width: 500px) {
          .ui-select-container {
            margin-right: 0px;
          }
        }

        .ui-select-match {
          background-color: transparent;

          .ui-select-toggle {
            width: 100%;
            height: 54px;
            padding: 0;
            white-space: normal;
            letter-spacing: normal;
            border: none;
            @include border-radius(0);
            background-color: transparent;

            .ui-select-match-text, .ui-select-placeholder {
              top: 50%;
              @include translateY(-50%);
              position: absolute;
              padding-left: 10px;
              line-height: 15px;
            }

            // Search bar text
            .ui-select-match-text {
              color: $dark-grey;
            }

            // Style placeholder
            .ui-select-placeholder {
              color: $grey-swan;
            }

            // Hide little black arrow
            .caret {
              display: none;
            }
          }
        }
        .ui-select-choices {
          opacity: 1;
          padding: 0;
          background-color: transparent;
          border: none;
          max-height: 200px;
          overflow-y: auto;
          margin-top: 0;
          @include box-shadow(0px 2px 3px -1px rgba(0, 0, 0, 0.5));

          &:first-child {
            margin-top: 1px;
          }

          .ui-select-choices-group {
            height: auto;
            border: none;

            &:last-child {
              .ui-select-choices-row {
                &:last-child {
                  @include border-bottom-left-radius(4px);
                  @include border-bottom-right-radius(4px);

                  .ui-select-choices-row-inner {
                    @include border-bottom-left-radius(4px);
                    @include border-bottom-right-radius(4px);
                  }
                }
              }
            }

            .ui-select-choices-group-label {
              font-weight: bold;
              color: $light-blue;

              .group-label {
                padding-left: 20px;
                top: 50%;
                padding-right: 10px;
                @include translateY(-50%);
                position: absolute;
                height: initial;
                white-space: initial;
                line-height: initial;
              }
            }

            .ui-select-choices-group-label, .ui-select-choices-row {
              height: 38px;
              border-top: 1px solid $light-grey;
              padding-top: 0;
              padding-bottom: 0;
              line-height: 38px;
              position: relative;
              padding-left: 0;
            }

            .ui-select-choices-row {
              cursor: pointer;

              &:hover {
                border-left: 10px solid $light-blue;
                background-color: white;

                .ui-select-choices-row-inner {
                  padding-left: 25px;
                  background-color: transparent;
                }
              }
              &.active {
                .ui-select-choices-row-inner {
                  background-color: transparent;
                }
              }

              .ui-select-choices-row-inner {
                color: $dark-grey;
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 35px;
                //line-height: 37px;

                top: 50%;
                padding-right: 10px;
                @include translateY(-50%);
                position: absolute;
                height: initial;
                white-space: initial;
                line-height: initial;
              }
            }
          }

          .divider {
            display: none;
          }
        }
      }

      .naus-btn {
        margin-top: 10px;
        width: 100%;
        position: relative;
        font-size: 20px;
      }

      @media screen and (min-width: 769px) {
        .naus-btn {
          margin-top: 0;
          position: absolute;
          right: 0;
          top: 0;
          width: $search-toggle-width;
        }

        .ui-select-container {
          margin-right: 220px;
        }
      }

    }

    #flow-group {
      $icons-opacity: 0.65;
      .left {
        text-align: left;

        .flow-icon {
          background-color: rgba($flamingo-red, $icons-opacity);
        }
      }

      .center {
        text-align: center;
        padding: 0;

        .flow-icon {
          background-color: rgba($vivid-yellow, $icons-opacity);
        }
      }

      .right {
        text-align: right;

        .flow-icon {
          background-color: rgba($light-blue, $icons-opacity);
        }
      }

      .flow-element {
        display: inline-block;
        text-align: center;
      }

      .flow-icon {
        margin-bottom: 10px;
        display: inline-block;
        line-height: 50px;
        font-size: 25px;
        width: 50px;
        height: 50px;
        text-shadow: none;
      }

      .flow-text {
        .number {
          text-transform: uppercase;
        }

        p {
          font-size: 12px;
        }
      }
    }

    #header-container {
      background-color: rgba(0, 0, 0, 0.1);

      #bottom-header-container #bottom-header .icon {
        color: white;
      }

      .menu-items {
        a {
          color: white;
        }

        .dropdown-menu {
          a {
            color: $dark-grey;

            &.danger {
              color: $red;
            }
          }
        }
      }

      .top-header-item {
        color: white;
      }

    }

    .form-separator {
      width: 150px;
      margin: 0 auto 16px;
    }
    .separator-small {
      width: 32px;
    }
  }

  /* Feedbacks carousel */
  .carousel-next, .carousel-prev {
    height: 100%;
    text-align: center;
    width: 80px;
    color: white;
  }
  .icon-carousel-next {
    right: 15px;
  }
  .icon-carousel-prev {
    left: 15px;
  }
  .carousel-inner {
    .prev, .next {
      position: absolute;
      bottom: 0;
      top: auto;
    }

    > .item {
      height: 225px;
      padding-bottom: 38px;
    }
  }
  .carousel-indicators {
    margin-bottom: 3px;
    bottom: 0;

    li {
      margin-right: 8px;
    }
  }
  .icon-carousel-next, .icon-carousel-prev {
    position: absolute;
    top: 50%;
    @include translateY(-50%);
    display: inline-block;
    font-size: 30px;
    width: 64px;
    height: 64px;
    line-height: 64px;
    border: 2px solid white;
    @include border-radius(100px);

    &:hover {
      color: $vivid-yellow;
      border-color: $vivid-yellow;
    }
  }

  @media all and (min-width: $tablet-breakpoint) {
    $header-height: 155px;

    #header-container {

    }

    &.home {
      #content {
        .view-container {
          //padding: 0;
        }

        #main-actions-container {
          margin: auto;
        }

        #main-actions-box {
          margin-top: - $header-height - 2;
          padding-top: $header-height + 2;
        }

        #register-container {
          .view-container {
            padding: 15px;
            margin-top: 0;
          }
        }

        #prefooter-box {
          overflow-x: visible;
          padding: 0 66px;
        }
      }

      #main-actions, #search-bar-column, #flow-group {
        width: 650px;
        margin: auto;
      }

      #flow-group {
        margin-bottom: 0;
        .flow-icon {
          margin-bottom: 25px;
          line-height: 80px;
          font-size: 40px;
          width: 80px;
          height: 80px;
        }

        .flow-text {
          .number {
            font-weight: bold;
          }

          .description {
            margin-bottom: 0;
          }

          p {
            font-size: 18px;
          }
        }

        #flow-group-cta {
          margin-top: 15px;

          button {
            width: auto;
            padding: 0 25px;
            margin-bottom: 30px;

            &:not(:hover) {
              border: 2px solid $light-blue;
              background-color: transparent;
              color: $light-blue;
            }
          }
        }
      }

      #headline {
        font-size: 40px;
        margin-bottom: 25px;
      }

      #sub-headline {
        font-size: 20px;
        margin-bottom: 30px;
      }

      #search-bar-column {
        margin-bottom: 68px;
      }

      .home-section-heading {
        font-size: 40px;
      }

      #top-destinations-container {

        .top-destination-container {
          height: 290px;

          .top-destination-element {
            height: 290px;

            .top-destination-element-label, .top-destination-element-button {
              width: 200px;
            }

            .top-destination-element-label {
              line-height: 36px;
            }

            .top-destination-element-button {
              bottom: 15px;
            }
          }
        }
      }

      #experiences-types-container {
        .col-sm-4, .col-sm-8 {
          .experience-type {
            padding: 15px;
            // Old browser fallback
            height: 250px;
            height: calc((100vw - 30px) / 3);

            background-position: center;
            background-size: cover;
          }
        }

        .col-sm-8 {
          .experience-type-description {
            width: 50%;
          }
        }

        .experience-type-text-container {
          left: 20px;
          right: 20px;
          bottom: 20px;
        }

        .experience-type-label, #events-label {
          font-size: 22px;
        }
        .experience-type-description, #events-description {
          font-size: 15px;
        }
        #events-label {
          padding-top: 45px;
          margin-bottom: 16px;
        }

        #events-col {
          padding-right: 0px;

          #events-container {
            padding: 0 20px;
            // Old browser fallback
            height: 250px;
            height: calc((100vw - 30px) / 3);

            .form-separator {
              margin-bottom: 25px;
            }
          }
        }

        #events-cta {
          bottom: 20px;
          left: 0;
          width: 100%;
          text-align: center;
          font-size: 50px;
        }

        @media (min-width: 992px) {
          #events-cta {
            font-size: 40px;
            position: absolute;
          }
        }

        /* EXPERIENCE TYPES */
        .adventure-container {
          padding-right: 0;
        }
        .relaxing_boat_trips-container {
          padding: 0;
        }
        .food_and_drinks-container {
          padding-right: 0;
        }
        .romantic_getaways-container {
          padding-right: 0;
          padding-left: 0;
        }
        .weekends_and_vacations-container {
          padding-left: 0;
        }
        .boat_and_breakfast-container {
          padding-left: 0;
          padding-right: 0;
        }
        .luxury-container {
          padding-left: 0;
        }
      }

      #why-nausdream-container {
        .why-nausdream-element-title {
          margin-top: 21px;
        }
        .why-nausdream-element-description {
          font-size: 14px;
          margin-bottom: 0;
        }

        #separator-starfish {
          background-color: $brink-pink;
        }
        #separator-captains {
          background-color: $dandelion;
        }
      }

      #about-us-container {
        .carousel {
          width: 90%;
        }

        #about-us-title {
          font-size: 40px;
        }

        .feedback-text-inner {
          font-size: 23px;
        }

        .feedback-user-data {
          font-size: 20px;
          padding-top: 16px;
        }
      }

      #partners-container {
        .item {
          height: 160px;
        }
      }

      #prefooter-container {
        .home-section-heading {
          margin-bottom: 60px;
        }

        #prefooter-img {
          width: 100%;
          display: inline-block;
          margin-left: -50px;
          margin-top: -50px;
          margin-right: 22px;
        }

        p {
          font-size: 14px;
          line-height: 30px;
        }

        #prefooter-img-container, #prefooter-text {
          padding: 0;
        }

        .prefooter-counter-container {
          display: inline-block;
        }

        #prefooter-text {
          margin-left: -25px;
        }

        #prefooter-content {
          padding-right: 0;
        }
      }
    }
  }

  @media all and (min-width: 1156px) {
    &.home {
      #content {

        #main-actions-container {
          width: 1140px;
        }

        #experiences-types-container {
          .col-sm-4, .col-sm-8 {
            .experience-type {
              height: 380px;
            }
          }

          #events-col {
            #events-container {
              height: 380px;
            }
          }
        }

        #register-container {
          .view-container {
            padding-top: 75px;
            padding-bottom: 75px;
          }

          .container-register {
            width: 1068px;
          }
        }

        #prefooter-box {
          overflow-x: visible;
          padding: 0 50px;
        }
      }
    }
  }
}