.users-site {
  &.login {
    background-color: white;
  }

  #content {
    .login-page {
      .login-section-title {
        margin-bottom: 30px;
      }
      .mixed-login {
        padding-top: 20px;
        background: white;

        .left-separator, .horizontal-separator {
          border-color: $grey-swan;
        }

        #login-facebook, #login-sms {
          max-width: 500px;
          margin: auto;
        }

        .login-section-title {
          font-size: 24px;
        }

        .users-login, .captain-login {
          text-align: center;
          margin: 20px 0;
        }
        .captain-login {
          .login-heading {
            display: none;
          }
          .view-container {
            padding: 0;
            background: white;

            .container-login {
              width: 100%;
              padding: 0;
            }
          }
        }
        .users-login {
          .terms-service {
            margin: 20px 0 0 0;
          }
        }
      }

      @media (min-width: $tablet-breakpoint) {
        .mixed-login {
          .captain-login, .users-login {
            padding-left: 20px;
            padding-right: 20px;

            .terms-service {
              display: none;
            }
          }
          .left-separator {
            border-left-width: 1px;
            border-left-style: solid;
          }
        }
      }
    }
  }
}