.users-site {
  &.search-page {

    .experiences-page-content {
      min-height: 300px;
    }
    .custom-header-container {
      background-size: cover;
      height: 300px;
      padding-top: 15px;
      background-position: center;

      .title {
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 2px;
        line-height: 1.09;
        text-align: center;
        color: white;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
      }

      .description {
        color: white;
        font-size: 15px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
        text-align: center;
        line-height: 1.07;
        font-weight: 300;
      }

      .custom-header {
        padding: 0 15px;
      }
    }

    #experiences-filter {
      background-color: white !important;
      margin-bottom: 40px;
      padding: 5px 10px 20px 10px;

      .accordion-filter {
        .icon {
          position: absolute;
          right: 20px;
        }
      }
    }

    .filters-container {
      padding-top: 10px;
    }

    //MAP
    #search-map {
      height: 480px;
    }
    .search-map-container {
      position: relative;
    }
    .overlay-warning {
      z-index: 1;
      display: none;
      position: absolute;
      top: 0;
      width: 100%;
      min-height: 50px;
      background-color: rgba(black, 0.6);
      padding: 10px;

      .text {
        display: table-cell;
        vertical-align: middle;
        font-size: 15px;
      }

      &.fadein {
        display: table;
      }
    }
    .map-modal {
      .naus-modal-content {
        padding: 0;
        height: calc(100% - 50px);
      }

      #search-map, .search-map-container {
        height: 100%;
      }
    }

    .loader-search {
      position: relative;
      margin-top: 25px;
      margin-bottom: 25px;
    }

    //PRICE SLIDER
    .rzslider {
      margin-bottom: 40px;
    }
    .rz-limit {
      bottom: -40px;
    }
    .rz-floor {
      visibility: visible;
    }
    .rz-pointer {
      border: 1px solid $grey-swan;
      background-color: white;
      border-radius: 30px;
      width: 34px;
      height: 34px;

      &:after {
        display: none;
      }
    }
    .rz-label-min, .rz-label-max {
      bottom: 20px;
    }
    .rz-ceil {
      visibility: visible;
    }

    // FLOATING BUTTONS
    .btn-switcher-container, .btn-top-container, .btn-left-container {
      // On top of the modals
      z-index: 1000;

      .naus-btn {
        padding: 0;
        width: 60px;
        height: 60px;
        line-height: 60px;
        border-width: 1px;

        &:hover {
          background-color: $light-blue;

          .icon {
            color: white;
          }
        }
      }

      &.showing {
        .naus-btn {
          @include box-shadow(0 1px 4px 0 rgba(black, 0.45))
        }
      }
    }
    // SWITCHER
    .btn-switcher-container {
      right: 20px;
      bottom: 80px;

      .naus-btn {
        @include box-shadow(0 1px 4px 0 rgba(black, 0.45));
      }
    }
    // MAP
    .btn-left-container {
      right: 20px;
      bottom: 80px;

      @include transition(right 0.20s);

      &.showing {
        right: 100px;
      }
    }
    // FILTERS
    .btn-top-container {
      right: 20px;
      bottom: 80px;

      @include transition(bottom 0.20s);

      &.showing {
        bottom: 160px;
      }
    }
    .filters-map-switcher {
      padding: 0;
    }
    #search-map {
      .price-marker {
        cursor: pointer;
        position: absolute;
        background-color: white;
        border: 1px solid $light-blue;
        @include border-radius(4px);
        @include box-shadow(0px 0px 5px 0px rgba(black, 0.3));
        display: table;

        &:before {
          content: '';
          position: absolute;
          top: calc(100% - 7px);
          left: 0;
          right: 0;
          margin: 0 auto;
          width: 16px;
          height: 16px;
          background-color: white;
          @include transform(rotate(45deg));
          border-right: 1px solid $light-blue;
          border-bottom: 1px solid $light-blue;
          @include box-shadow(3px 3px 2px -1px rgba(0, 0, 0, 0.1));
        }

        &.active {
          z-index: 2;
          background-color: $light-blue;

          &:before {
            background-color: $light-blue;
          }

          .price-marker-price {
            color: white;

            &::-moz-selection { background-color: $light-blue; color: white}
            &::selection { background-color: $light-blue; color: white}
          }
        }
      }
      .price-marker-price {
        display: table-cell;
        vertical-align: middle;
        color: $dark-grey;

        &::-moz-selection { background: white; color: $dark-grey}
        &::selection { background: white; color: $dark-grey}
      }
    }
    #filters {
      color: $navy-blue;
      width: 30px;
      height: 30px;
      border: 2px solid $navy-blue;
      @include border-radius(100px);
      line-height: 30px;
      position: absolute;
      right: 17px;
      top: -45px;
      z-index: 2;
    }

    #filters-view {
      background-color: white;
      z-index: 2;
      position: absolute;
      top: -61px;
      width: 100%;
      min-height: 100%;
    }

    .experiences-quantity {
      color: $light-blue;
    }

    #close-button-row {
      text-align: center;
      padding: 0;
      background-color: $medium-light-grey;
      text-transform: uppercase;
      width: 100%;
      margin-bottom: 2px;

      #close-button-col {
        display: table;
        height: 56px;
        line-height: 56px;
      }

      #close-button-text {
        margin: 0;
        vertical-align: middle;
        padding: 0 58px;
        display: table-cell;
      }
      #close-button-icon {
        color: $light-blue;
        position: absolute;
        right: 30px;
        line-height: 56px;
      }
    }

    #experience-types {
      padding-top: 20px;

      > .col-xs-12 {
        line-height: 30px;
      }
    }
    .input {
      margin-bottom: 15px;
      line-height: 22px;

      label {
        &:before {
          @include border-radius(2px);
        }
      }
    }

    .no-padding-on-mobile {
      padding: 0 !important;
    }

    @media (min-width: $tablet-big-breakpoint) {
      .custom-header-container {

        padding-top: 40px;

        .title {
          font-size: 44px;
        }

        .description {
          font-size: 28px;
        }
      }

      .no-padding-on-mobile {
        padding-right: 15px !important;
        padding-left: 15px !important;
      }
      #experiences-filter {
        padding: 15px 25px 0 25px;
        margin-bottom: 0;
      }
      .filters-container {
        width: 350px;
        float: left;
        margin-bottom: 20px;
        padding-top: 0;

        &.fixed {
          position: fixed;
        }
      }
      .filters-map-switcher {
        width: 350px;
        padding: 10px 10px 20px;
        background-color: white;
        border: 1px solid $light-grey;

        .switcher-btns {
          position: relative;
        }

        .switcher-btn-bg {
          width: 50%;
          height: 49px;
          top: 0;
          position: absolute;
          background-color: $light-blue;
          @include transition(transform 0.25s);

          &.right {
            @include translateX(100%);
          }
        }

        .switcher-btn {
          width: 50%;
          background-color: transparent;
          border-bottom: 1px solid $light-blue;

          &.active {
            .switcher-btn-text {
              color: white;
            }
          }
        }
        .switcher-btn-text {
          position: relative;
          color: $light-blue;
          line-height: 48px;
          @include transition(color 0.25s);
        }
      }

      .padding-top-small {
        padding-top: 10px !important;
      }

      .pagination-container {
        margin-right: 15px;
      }
      .listings {
        position: relative;
        padding: 0;
        margin-left: 15px;

        .container-fluid {

        }
      }
      .listings-container {
        overflow: hidden;

        &.fixed {
          margin-left: 350px;
        }
      }
    }

    @media (min-width: 1154px) {
      .custom-header {
        width: 1140px;
        margin: auto;
      }
    }
  }
}