@import "../../../shared/assets/sass/bootstrap";
@import "../sass/_colors";

html, body {
  @extend .full-size;
}

body {
  .global-loader {
    display: none;
  }

  &.loading {
    .global-loader {
      display: block;
    }
    #content {
      visibility: hidden;
    }
  }
}

.users-site {
  font-family: $font, sans-serif;
  font-size: $font-size-h6;
  background-color: $lighter-grey;
  color: $dark-grey;

  // Variables
  $header-height: 60px;
  $sidebar-transition: left 0.35s ease;

  a, a:hover, a:visited, a:active, a:focus {
    text-decoration: none;
    color: $dark-grey;
  }

  .signup-or-separator {
    margin-top: 20px;
    margin-bottom: 30px;

    hr {
      margin-top: -10px;
    }
    span {
      padding: 0 16px;
      background: white;
    }
  }

  .auth-btn {
    color: white;
    font-size: 18px;
    text-align: center;
    font-weight: 200;
    padding: 15px;
    border-radius: 4px;

    .icon {
      float: left;
    }
  }

  .auth-btn:hover,
  .auth-btn:active {
    color: white;
  }

  #login-facebook {
    .auth-btn {
      background: #43619c;
    }
  }

  #login-sms {
    .auth-bt {
      background: #31bef8;
    }
  }

  .terms-service {
    margin: 20px;
    font-size: 15px;
    text-align: center;
  }

  #content {
    width: 100%;
    top: 61px;
    position: absolute;
    bottom: 0;
    // Left is needed to transition properly
    left: 0;
    @include transition($sidebar-transition);

    .single-form {
      padding: 0;
      background-color: white;
      min-height: 100%;

      > [class*="container-"], > [class*=" container-"] {
        font-size: 20px;
        padding: 31px;

        h1, h2, h5 {
          margin: 0 0 20px 0;
        }

        input {
          height: 70px;
        }

        .input-group-icon {
          .input-group-addon {
            .icon {
              line-height: 70px;
            }
          }
        }
      }

      .container-register {
        input {
          height: 33px;
          line-height: 33px;
        }
      }
    }

    .view-container {
      padding: 16px 15px 40px;
    }

    .view-box {
      background-color: white;
    }
  }

  // Form with steps
  .breadcrumb-steps {
    width: 100%;
    height: 40px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: white;
    list-style: none;

    li {
      display: inline-block;
      float: left;
      background-color: $medium-light-grey;
      color: $dark-grey;
      line-height: 40px;
      width: 17%;
      position: relative;
      @include transition(width 0.3s);

      .before, .after {
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        top: 50%;
        margin-top: -50px;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
        border-left: 30px solid;
      }
      .before {
        z-index: 1;
        right: -15px;
        border-left-color: white;
      }
      .after {
        z-index: 2;
        right: 0px;
        border-left-color: $medium-light-grey;
      }

      &.active {
        background-color: $light-blue;
        color: white;
        width: 66%;

        .after {
          border-left-color: $light-blue;
        }

        .step-title {
          display: inline-block;
        }
      }

      .step-text {
        text-decoration: none;
        padding-left: 20px;
        display: inline-block;
        width: 100%;
        position: relative;
        z-index: 3;
      }

      .step-title {
        display: none;
        padding-left: 5px;
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        max-width: 50vw;
      }

      &:first-child {
        .step-text {
          padding-left: 12px;
        }
      }
      &:last-child {
        .before, .after {
          display: none;
        }
      }
    }
  }
  .form-steps {
    background-color: white;
    padding: 0 16px 20px;
  }

  /* HEADER */
  header {
    position: absolute;
    top: 0;
    @extend .full-size;

    #header-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-color: white;
      @include transition($sidebar-transition);
      z-index: 1;

      .dropdown-user {
        display: inline;

        .dropdown-menu {
          min-width: 200px;
          margin-top: 21px;
        }

        .user {
          width: 40px;
          height: 40px;

        }
      }

      .photo-user-box {
        top: -19px
      }

      .no-photo-icon-desktop {
        font-size: 38px !important;
      }

      #bottom-header-container {
        border-bottom: 1px solid $medium-light-grey;

        #bottom-header {
          margin: auto;
          width: 100%;
          height: $header-height;
          padding: 0 16px;
          display: block;

          .photo-user-toggle {
            &.icon {
              padding: 0;
              margin: 10px 17px 15px 15px;
              line-height: 72px;
            }
          }

          .icon {
            font-size: 26px;
            line-height: $header-height;
            color: $navy-blue;

            &.sub-menu-user {
              line-height: 47px;
              margin-left: -10px;
              margin-right: 9px;

              @media screen and (min-width: $tablet-breakpoint) {
                margin-left: -21px;
              }
            }

            &:before {
              margin-right: 0;
              margin-left: 0;
            }

            &.icon-logo {
              font-size: 37px;

              &:before {
                display: inline;
                line-height: 0;
              }
            }
          }

          .logo-container {
            line-height: 60px;

            .logo {
              width: 110px;
            }

            @media (min-width: $tablet-breakpoint) {
              line-height: 99px;

              .logo {
                width: 170px;
              }
            }

            @media (min-width: $tablet-big-breakpoint) {
              float: left;
            }
          }

          .btn-circle .icon {
            line-height: 36px;
          }

          .hamburger,
          .hamburger:hover,
          .hamburger:active {
            position: absolute;
            width: auto;
            left: 16px;
            background-color: transparent;
            border: none;
            padding: 0;
            outline: 0;
            @include box-shadow(none);
          }

          .user {
            border: solid 2px #31bef8;
            border-radius: 50%;
            background-size: contain;
            margin-bottom: 0px;
          }
        }
      }
    }

    #sidebar {
      @extend .full-size;
      position: fixed;
      top: 0;
      left: -100%;
      z-index: 10;
      @include transition(left 0.55s ease);

      .icon-logo {
        font-size: 37px;
        line-height: 74px;
      }

      #menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: white;
        background-color: $big-stone;
        /* Make sidebar scrollable */
        overflow-y: auto;
        @include box-shadow(0px 1px 11px 0px black);

        @media all and (min-width: 240px) {
          width: 240px !important;
        }

        #items {
          list-style: none;
          padding: 0;
          margin: 0;
          text-transform: uppercase;

          .item {
            padding: 0;
            margin: 0;
            border: none;
            border-bottom: 1px solid white;
            letter-spacing: 2px;
            background-color: transparent;

            .btn-ghost {
              border-color: white;
            }

            &#become-captain {
              padding: 15px 35px 0 30px;
              height: 49px;
            }

            .become-captain-mobile-icon {
              margin-top: -5px;
            }

            &:first-child {
              padding: 0 30px;
              line-height: 64px;
              font-size: 18px;
            }

            &#item-language {
              border-top: 1px solid white;
            }
            &.item-bottom {
              text-transform: capitalize;
            }

            &.panel {
              border-radius: 0;

              .panel-heading {
                padding: 0 35px 0 30px;
                height: 49px;

                .panel-title {
                  font-size: 12px;
                  line-height: 49px;
                }
              }

              .panel-body {
                border: none;
                padding: 0;
                background-color: white;
                color: $dark-grey;

                .sub-items {
                  text-transform: none;

                  .sub-item {
                    border-bottom: solid 1px $grey-swan;
                    height: 55px;
                    letter-spacing: normal;

                    .sub-item-link {
                      display: inline-block;
                      @extend .full-size;
                      line-height: 55px;
                      padding: 0 30px;
                      color: $dark-grey;

                      &:hover {
                        border-left: 10px solid $light-blue;
                        background-color: white;
                        color: $light-blue;
                        padding: 0 20px;
                      }
                    }

                    &:last-child {
                      border-bottom: none;
                    }
                  }
                }
              }
            }

            &.panel-open {
              &.panel-with-sub {
                border-bottom: none;
              }
            }
          }
        }

        a, a:hover, a:visited, a:active {
          color: white;
          width: 180px;
          margin-left: auto;
          margin-right: auto;
          height: 36px;

          &.sidebar-phone {
            font-size: 11px;
            padding-top: 2px;
          }
        }
      }
      #overlay {
        width: 0;
        opacity: 0;
        @include transition(opacity 0.35s);
      }
    }

    .close-icon-menu {
      line-height: 64px;
      margin-right: 0;
      position: relative;
    }
  }

  // EMAIL VERIFICATION
  .verify-email {
    position: relative;
    min-height: 100px;
  }
  .email-verified {
    padding: 20px;
  }

  /* WITH SIDEBAR OPEN */
  &.sidebar-open {

    #content, #header-container {
      position: fixed;
      left: 240px;
      width: 100%;
    }

    #sidebar {
      left: 0;
      @include transition($sidebar-transition);

      #menu, #overlay {
        opacity: 1;
        position: fixed;
        top: 0;
        left: 0;
      }
      #menu {
        position: absolute;
        top: 0;
        left: 0;
      }
      #overlay {
        display: block;
        background-color: rgba(0, 0, 0, 0.5);
        @extend .full-size;
      }
    }
  }

  /* Currencies list */
  .currencies-list {
    .icon {
      color: $navy-blue;
    }

    .text-inline-icon {
      padding-left: 18px;
    }
  }

  /* FORMS */
  .form-row {
    padding: 20px 1px;
    margin: auto 0;
    border-bottom: 1px solid $grey-swan;

    + .form-separator {
      margin-top: 40px;
    }
  }
  .form-col {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 5px;

    .input-heading {
      margin-bottom: 20px;
    }

    &.with-subheading {
      .input-heading {
        margin-bottom: 10px;
      }

      .input-sub-heading {
        margin-bottom: 20px;
      }
    }

    .row {
      [class*='col-'] {
        padding: 0 5px;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &.no-padding {
      .input-heading, .input-sub-heading {
        padding-left: 5px;
      }
      .form-separator {
        margin-left: 5px;
      }
    }
  }
  .clearfix {
    ~ .form-col {
      margin-top: 0;
    }
  }
  .form-separator, .input-heading {
    margin: 0 5px;
  }
  .form-separator {
    width: 32px;
    height: 3px;
    background-color: $light-blue;
    @include border-radius(100px);
    margin-bottom: 20px;

    &.green {
      background-color: $green;
    }
    &.vivid-yellow {
      background-color: $vivid-yellow;
    }
    &.amaranth {
      background-color: $amaranth;
    }
    &.bahia {
      background-color: $bahia;
    }
    &.cinnabar {
      background-color: $cinnabar;
    }
    &.caribbean-green {
      background-color: $caribbean-green;
    }
    &.curious-blue {
      background-color: $curious-blue;
    }
  }
  .form-description {
    line-height: 24px;
  }

  /* MAP */
  .map-indications {
    margin-bottom: 7px;
    padding: 14px;
    background-color: $medium-light-grey;
  }
  .map-box {
    .map {
      height: 290px;
    }
  }

  /* INPUTS */
  .input {
    position: relative;
  }

  .btn-ghost {
    background: transparent;
    border-radius: 100px;
    border: solid 1px $dark-grey;
    color: $dark-grey;
    box-shadow: none;
  }
  .btn-outline {
    border-width: 1px;
  }
  .btn-ghost.btn-support {
    letter-spacing: 1px;
  }
  .btn-circle {
    width: 40px;
    height: 40px;
    border-radius: 60px;
    padding: 0px 2px 0px 2px;

    @media (min-width: $tablet-breakpoint) {
      width: 77px;
      height: 77px;
    }
  }
  .btn-ghost {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  @media screen and (min-width: $tablet-breakpoint) {
    .btn-circle {
      border-radius: 60px;
      padding: 10px;
      margin-top: 8px;
    }
  }

  .btn-grey {
    background: $medium-light-grey;
    color: $dark-grey;

    &.btn-header {
      font-size: 24px;
      text-transform: uppercase;
      margin-top: 10px;
      margin-botton: 10px;
      letter-spacing: 2px;

      &:active {
        box-shadow: none;
      }
    }

  }

  .naus-btn {
    display: inline-block;
    width: 100%;
    line-height: 30px;
    margin: auto;
    letter-spacing: 2px;
    padding: 10px 12px;
    font-size: 17px;
    text-align: center;
    @include border-radius(100px);
    border: 2px solid;

    &.small {
      padding-top: 3px;
      padding-bottom: 3px;
    }

    &.color-blue {
      background-color: $light-blue;
      color: white;
      border-color: $light-blue;

      &:hover {
        color: $light-blue;
        background-color: white;
      }

      &.inverse {
        background-color: white;
        color: $light-blue;

        &:hover {
          color: white;
          background-color: $light-blue;
        }
      }
    }
    &.color-orange {
      background-color: $lightning-yellow;
      color: white;
      border: 2px solid $lightning-yellow;

      &:hover {
        color: $lightning-yellow;
        background-color: white;
      }

      &.inverse {
        color: $lightning-yellow;
        background-color: white;

        &:hover {
          background-color: $lightning-yellow;
          color: white;
        }
      }
    }

    &.shape-square {
      @include border-radius(4px);
    }
    &.shape-circle {
      width: 78px;
      height: 78px;
      line-height: normal;
    }

    &.border-small {
      border-width: 1px;
    }

    @media all and (min-width: 413px) {
      width: 320px;
    }

    &.color-blue, &.color-orange {
      &.disabled {
        cursor: default;
        color: $grey-swan;
        background-color: white;
        border-color: $grey-swan;

        &:hover {
          color: $grey-swan;
          background-color: white;
        }
      }
    }
  }

  $input-height: 50px;
  input, textarea, .select {
    width: 100%;
    outline: none;
    padding-left: 15px;
    background-color: white;
    border: solid 1px $grey-swan;
    @include box-shadow(none);
    @include border-radius(4px);

    &.ng-touched {
      &.ng-invalid {
        color: $burnt-sienna;
        @include box-shadow(inset 0 0 5px 0 $burnt-sienna);
        border-color: $burnt-sienna;
      }
    }

    &:focus {
      @include box-shadow(inset 0 0 5px 0 $light-blue);
      border-color: $light-blue;
    }

    &.bottom-border {
      padding: 0;
      border: none;
      border-bottom: solid 1px $grey-swan;
      @include border-radius(0);

      &.ng-touched {
        &.ng-invalid {
          @include box-shadow(none);
          border-color: $burnt-sienna;
        }
      }

      &:focus {
        @include box-shadow(none);
        border-color: $light-blue;
      }
    }

    &[disabled] {
      color: $grey-swan;
    }

    #phone {
      padding-left: 63px;
    }

    &[type=number] {
      padding-top: 5px;
      padding-bottom: 5px;
    }

    @include placeholder {
      color: rgba($dark-grey, 0.5)
    }
  ;
  }

  input, .select {
    height: $input-height;
    line-height: $input-height;

    &.bottom-border {
      height: 35px;
    }
  }
  textarea {
    resize: vertical;
    padding-top: 25px;
    padding-right: 15px;
    width: 100%;
  }
  label {
    font-weight: normal;
    margin-bottom: 0;
    padding-left: 34px;
    cursor: pointer;
    color: $dark-grey;
  }
  .button-incrementer {
    position: relative;
    width: 126px;
    height: 46px;
    @include border-radius(100px);
    background-color: white;
    border: 1px solid $grey-swan;
    text-align: center;

    .value, .button > .icon {
      line-height: 46px;
    }
    .button {
      position: absolute;
      height: 100%;
      top: 0;
      padding: 2px 0;

      &:first-of-type {
        left: 3px;
      }

      &:last-of-type {
        right: 3px;
      }

      .icon {
        line-height: 40px;
        color: $light-blue;
        display: block;
        width: 40px;
        height: 40px;
        background-color: gainsboro;
        border-radius: 100px;
      }

      &:hover {
        .icon {
          color: white;
          background-color: $light-blue;
        }
      }
    }
  }
  .uib-datepicker-popup {
    height: 229px;
  }

  /* PHOTOS UPLOAD */
  .photo-container, upload-photo {
    position: relative;

    .overlay {
      position: absolute;
      content: "";
      top: 0;
      height: 100%;
      width: 100%;
      transition: all 0.8s;
      opacity: 1;
      border: dotted 3px $light-blue;
    }

    .icon {
      width: 80px;
      height: 80px;
      line-height: 80px;
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%, -50%));
      color: white;
      @include border-radius(100px);
      background-color: rgba($light-blue, 0.6);
    }

    img {
      width: 100%;
    }

    + .photo-caption {
      width: 100%;
      display: inline-block;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }

  /* RADIO AND CHECKBOX */
  input {
    &[type=radio], &[type=checkbox] {
      display: none;

      &:not(:checked) {
        + label {
          opacity: 0.5;
        }
      }

      + label {
        &:before {
          border: 1px solid $grey-swan;
          @include border-radius(2px);
          line-height: 1.528;
          height: 20px;
          text-align: center;
          width: 20px;
          position: absolute;
          left: 5px;
          display: inline-block;
          content: '';
        }
      }
    }
    &[type=radio] {
      + label {
        &:before {
          @include border-radius(100px);
        }
      }

      &:checked {
        + label {
          &:before {
            content: ' ';
            background: $light-blue;
            background-clip: content-box;
            padding: 4px;
          }
        }
      }
    }
    &[type=checkbox] {
      &:checked {
        + label {
          &:before {
            font-size: 12px;
            font-family: 'iconfont';
            color: $light-blue;
            content: '\54';
          }
        }
      }
    }
  }
  .label-popover {
    + .check {
      position: absolute;
      height: 30px;
      width: 30px;
      top: 0;
      left: 5px;
    }
  }
  .checkbox-container {
    min-height: 45px;
  }

  .input-group {
    width: 100%;
    max-width: 500px;
    margin: 0 auto 10px;
  }
  .input-group-icon, .input-group-icon-dropdown {
    .input-group-addon {
      position: relative;
      width: 0;
      border: none;
      padding: 0;
      z-index: 1;

      .icon {
        font-size: 22px;
        position: absolute;
        top: 0;
        line-height: $input-height;
        padding-left: 13px;
      }
    }

    .input-group-input {
      padding-left: 47px;
    }

    &.select {
      .input-group-addon {
        .icon {
          left: 0;
          padding-left: 0;
        }
      }

      .select-text {
        padding-left: 30px;
      }
    }
  }
  .input-group-icon-dropdown {
    .input-group-addon {
      .icon-arrow-down, .icon-arrow-up {
        padding-left: 47px;
        padding-right: 9px;
        border-right: 1px solid $grey-swan;
        font-size: 10px;
      }
    }
    .language-icon {
      img {
        width: 26px;
      }
    }

    input {
      padding-left: 76px;
    }
  }
  .input-group-icon-right {
    .input-group-addon {
      float: right;

      .icon {
        padding-left: 15px;
        padding-right: 15px;
        right: 0;
      }
    }

    input {
      line-height: 44px;
      height: initial;
      padding: 2px 51px 2px 15px;
    }

    &.input-group-icon-currency {
      .input-group-addon {
        position: absolute;
        text-align: center;
        right: 0;
        width: 50px;
        height: 50px;
        line-height: 50px;
        background-color: transparent;
        border-left: 1px solid $grey-swan;
        @include border-radius(0px);

        .icon {
          display: inline-block;
          position: relative;
          line-height: 24px;
          width: 26px;
          right: auto;
          height: 26px;
          font-size: 18px;
          padding: 0;
          border: 2px solid;
          @include border-radius(100px);
          color: $navy-blue;
        }
      }
    }
  }

  /* DROPDOWN */
  .select {
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;

    .select-text {
      padding-right: 30px;
      float: left;
    }

    .untouched {
      color: $grey-swan
    }

    &[aria-expanded^="true"] {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .icon {
      position: absolute;
      right: 9px;
      line-height: $input-height;
      font-size: 12px;
    }
  }
  .dropdown-menu {
    width: 100%;
    max-height: 400px;
    overflow: auto;
    font-size: $font-size-h6;
    padding: 0;
    @include box-shadow(0 2px 4px 0 rgba(0, 0, 0, 0.25));
    @include border-radius(4px);
    border-color: $grey-swan;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: -1px;
    margin-bottom: 50px;

    @media screen and (min-width: $tablet-big-breakpoint) {
      margin-top: -1px;
    }
    .item-icon-group {
      .item-icon {
        margin-left: 15px;
        line-height: 50px;
        position: absolute;

        img {
          width: 26px;
        }
      }
      .item-icon-text {
        padding-left: 53px;

        &:hover, &:focus {
          padding-left: 43px;
        }

        .country-code {
          position: absolute;
          right: 20px;
        }
      }
    }

    li {
      border-bottom: solid 1px $grey-swan;
      height: $input-height;
      padding: 0 10px 0 0;
      background-color: white;

      &:last-child {
        border-bottom-width: 0;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      a {
        height: 100%;
        line-height: $input-height - 1;
        padding: 0 30px;
        color: $grey-swan;
        background-color: transparent;
        overflow-x: hidden;

        &.header-menu-element-mobile {
          line-height: 46px;
        }

        &:hover, &:focus {
          border-left: 10px solid $light-blue;
          color: $dark-grey;
          padding-left: 20px;
          background-color: transparent;
        }

        &.danger {
          color: $red;
          &:hover, &:focus {
            border-left: 10px solid $red;
          }
        }
      }
    }

    &.countries-codes {
      display: table;

      .item-icon-text {
        display: table-cell;
        vertical-align: middle;
        padding: 0;
        height: 53px;

        .pull-left {
          padding: 0 53px;
          white-space: initial;
          line-height: initial;
        }

        .pull-right {
          line-height: 15px;
        }
      }

      .country-code {

      }
    }
  }

  // Every last column of every last row. Avoid dropdown going out of view
  [class*='row'] {
    &:last-child {
      [class*='col-'] {
        &:last-child {
          .dropdown-menu {
            min-width: inherit;
            width: 100%;
          }
        }
      }
    }
  }

  .icon {
    text-align: center;

    &.light-blue {
      color: $light-blue;
    }
    &.orange-flamingo {
      color: $orange-flamingo;
    }
    &.white {
      color: white;
    }

    &.round {
      text-align: center;
      @include border-radius(100px);

      &.light-blue {
        background-color: $light-blue;
      }
      &.orange-flamingo {
        background-color: $orange-flamingo;
      }
      &.green {
        background-color: $green;
      }

      &.i-1x {
        display: inline-block;
        width: 35px;
        height: 35px;
        line-height: 35px;
      }
      &.i-2x {
        display: inline-block;
        width: 45px;
        height: 45px;
        line-height: 45px;
      }
      &.i-3x {
        display: inline-block;
        width: 55px;
        height: 55px;
        line-height: 55px;
      }
      &.i-8x {
        display: inline-block;
        width: 78px;
        height: 78px;
        line-height: 78px;
      }

      &.border {
        border: 2px solid;

        &.icon-checkmark {
          width: 30px;
          height: 30px;
          line-height: 27px;
        }
      }
    }

    &.mirror {
      &:before {
        @include scaleX(-1);
      }
    }
  }

  // Closabel labels
  .label-closable {
    display: inline-block;
    @include border-radius(4px);
    margin-right: 6px;
    margin-bottom: 10px;
    padding: 0 0 0 16px;
    height: 44px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    background-color: $columbia-blue;
    cursor: pointer;

    .hide-overflow {
      padding-right: 50px;

      .label-closable-text {
        line-height: 44px;
      }
    }
  }
  .hide-overflow {
    display: inline-block;
    max-width: 100%;

    > div, > span, > a {
      display: inline-block;
      white-space: nowrap;
      max-width: 100%;
      overflow: hidden;
    }
  }
  .icon-close {
    margin-left: 20px;
    margin-right: 10px;
    line-height: 44px;
    position: absolute;
    right: 0;
  }

  // Footer
  .footer {
    padding: 0;
    background-color: $big-stone;

    // Avoid footer overlapping components in certain views (single experience, dashboard, etc)
    clear: both;

    *, a {
      color: white;
    }

    .main-item {
      margin-top: 0;
      letter-spacing: 1.7px;

      .text {
        text-transform: uppercase;
        margin: 0;
        font-weight: bold;
        margin: 0;
      }

      @media screen and (max-width: 500px) {
        .text {
          margin-top: 30px;
        }
      }
    }

    .social-icon {
      font-size: 14px;
      display: inline-block;
      width: 23px;
      height: 23px;
      background-color: white;
      border-radius: 100px;
      text-shadow: none;
      color: $big-stone;
      line-height: 24px;
      margin: 0 7px;
    }
  }
  #footer-container-mobile {
    padding: 25px 0 60px;
    .row {
      padding: 0 35px;
    }

    .social-icon-container {
      margin-top: 30px;
      margin-bottom: 13px;
    }

    .copyright {
      margin: 35px 0 20px;
      padding-bottom: 30px;
      border-bottom: 1px solid white;
    }

    .payment-info {
      margin: 0;
    }
    .paypal-logo {
      margin: 17px 0 35px;

      img {
        width: 160px;
      }
    }

    .main-item a {
      margin-top: 20px;
    }
  }
  #footer-container-desktop {
    padding: 34px 0 0;
    background-color: $big-stone;

    * {
      text-align: left;
      color: white;
    }

    .row {
      margin: auto;
      padding: 0 15px;
    }

    #footer-legal-info {
      p {
        font-size: 14px;
        margin: 0;
        line-height: 24px;
      }
    }

    .main-item {
      .text {
        display: block;
        margin-bottom: 27px;
        line-height: 24px;
      }

      .sub-item {
        display: block;
        letter-spacing: 2px;
      }
    }

    .social-icon-container {
      margin: 23px 0;
    }
    .social-icon {
      text-align: center;
      color: $big-stone;

      &:first-child {
        margin-left: 0;
      }
    }

    .paypal-logo {
      img {
        margin-left: 25px;
        width: 187px;

        @media (min-width: 768px) and (max-width: 811px) {
          width: 160px;
        }
      }
    }

    #footer-second-row {
      height: 126px;

      .col {
        height: 100%;
        letter-spacing: 2px;

        * {
          line-height: 126px;
        }

        &.footer-cell-container {
          .featured-table {
            display: table;
            height: 100%;
          }
          .featured-cell {
            display: table-cell;
            line-height: 15px;
            vertical-align: middle;
          }
          .featured-text {
            font-size: $font-size-h6;
            line-height: inherit;
            display: inline-block;
            margin-bottom: 13px;
          }
          .featured-logo {
            margin: 0;
          }
        }
      }
    }

    hr {
      margin-bottom: 0;
    }
  }

  // User pic
  .user-pic {
    @include box-sizing(border-box);

    img {
      @include border-radius(100px);
      @extend .naus-border;
    }
  }

  // Alert message (e.g. 'number not verified', or 'do not send email to the captain')
  .alert-message-container {
    display: table;
    margin-bottom: 5px;

    .alert-icon, .alert-message {
      display: table-cell;
      vertical-align: top;
      color: $orange-flamingo;
    }

    .alert-message {
      padding-left: 10px;
    }
  }

  .background-concrete {
    background-color: $concrete;
  }

  .background-error {
    background-image: radial-gradient(circle at 52% 50%, #c4d5be, #59b6b4);
    height: 100%;
    min-height: 550px;

    &.background-404 {
      background-image: radial-gradient(circle at 52% 50%, #799abc, #1b4368);
    }

    @media (min-width: $tablet-big-breakpoint) {
      height: auto;
    }
  }

  .bottom-border {
    border-bottom: 1px solid #e7e7e7;
  }

  // MODAL
  .naus-modal {
    text-align: initial;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;

    .naus-modal-container {
      position: fixed;
      overflow-x: hidden;
      overflow-y: auto;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: white;
    }

    .naus-modal-title-container {
      background-color: $lighter-grey;
      height: 50px;
      line-height: 50px;
    }

    .naus-modal-content {
      padding: 40px 35px;

      .btn {

        .icon {
          margin-top: -3px;
        }
      }
    }

    .icon-close {
      cursor: pointer;
      line-height: 50px;
      padding: 0;
      margin: 0 20px;
    }
  }

  //COLLAPSED CONTENT
  .collapsible-content {
    max-height: 1200px;
    position: relative;
    overflow-y: hidden;
    @include transition(max-height 0.25s ease-out);

    &.collapsed {
      max-height: 65px;

      &::after {
        display: block;
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50px;
        background: linear-gradient(rgba(255, 255, 255, 0), white);
      }
    }
  }

  //DATEPICKER
  .naus-datepicker {
    button {
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
      background: none;
      border: 0;
      color: inherit;
      /* cursor: default; */
      font: inherit;
      line-height: normal;
      overflow: visible;
      padding: 0;
      -webkit-appearance: button; /* for input */
      -webkit-user-select: none; /* for button */
      -moz-user-select: none;
      -ms-user-select: none;

      &:disabled {
        cursor: not-allowed;
        opacity: 0.4;
      }
    }

    .naus-datepicker-table {
      width: 100%;
    }
    .naus-datepicker-navigator {
      height: 40px;
      background-color: $light-blue;
    }

    // DAYS
    .naus-daypicker-tbody, .naus-daypicker-days-of-week {
      line-height: 35px;
    }
    .naus-datepicker-day {
      line-height: 100%;
      // Make every day equal in width
      width: 14.2857%;

      .today {
      }
    }

    .naus-datepicker-day-btn {
      line-height: 34px;

      .naus-datepicker-day-text {
        position: relative;
        display: inline-block;
        width: 32px;
        height: 32px;
        border: 1px solid white;
        @include border-radius(100px);

        &.text-muted {
          color: $dark-grey;
        }
      }

      &.selected, &:hover {
        &:not(:disabled) {
          .naus-datepicker-day-text {
            border-color: $light-blue;

            &:after {
              content: '';
              width: 5px;
              height: 5px;
              position: absolute;
              background-color: $light-blue;
              @include border-radius(100px);
              top: 2px;
              right: 1px;
            }

          }
        }

      }
    }
  }
  .naus-datepicker-popup {
    overflow: hidden;
    height: 287px;

    .naus-datepicker-popup-body-container {
      padding: 0;
    }
  }

  .header-customer-care-icon {
    margin-right: 8px !important;
    font-size: 17px;
  }

  .header-language-image {
    height: 16px;
    margin-right: 8px;
    margin-bottom: 5px;
  }

  .header-currency {
    margin-right: 8px;
  }

  .notifications {
    .icon {
      color: $dark-grey !important;
      font-size: 20px !important;
    }

    .notification-set {
      .notification-amount {
        color: $orange-flamingo;
      }
    }
  }

  .right-button-mobile {
    position: absolute;
    top: 0;
    right: 9px;
  }

  //PAGINATION
  .pagination {
    li {
      a {
        line-height: 48px;
        padding: 0 12px;
        width: 48px;
        text-align: center;
        font-size: 15px;
      }

      &.pagination-prev, &.pagination-next {
        a {
          width: auto;
        }
      }

      &.active, &:hover {

        &:not(.disabled) {
          a {
            border-color: $light-blue;
            background-color: $light-blue;
            color: white;
          }
        }
      }

      &.disabled {
        display: none;
      }
    }
  }

  //Cookie banner
  .cookie-banner {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    background-color: rgba($big-stone, 0.8);

    a, a:hover, a:visited, a:active, a:focus {
      color: white;
    }

    .cookie-banner-title {
      position: relative;
      padding: 8px 16px;
    }
    .cookie-banner-table {
      display: table;
      width: 100%;
      height: 100%;
      padding: 8px;

      .cookie-banner-cell {
        display: table-cell;
        vertical-align: middle;
      }
    }
    .cookie-banner-text {
      font-weight: lighter;
    }

    .icon-close {
      position: absolute;
      right: 16px;
      top: 50%;
      @include translateY(-50%);
      margin: 0;
    }

    hr {
      border-color: white;
    }
  }
}

.no-margin {
  margin: 0 !important;
}

.margin-right-xs {
  margin-right: 10px !important;
}

.margin-right-sm {
  margin-right: 20px !important;
}

.margin-right-md {
  margin-right: 40px !important;
}

.margin-right-lg {
  margin-right: 60px !important;
}

.margin-left-xs {
  margin-left: 10px !important;
}

.margin-left-sm {
  margin-left: 20px !important;
}

.margin-left-md {
  margin-left: 40px !important;
}

.margin-left-lg {
  margin-left: 60px !important;
}

.margin-bottom-xs {
  margin-bottom: 10px !important;
}

.margin-bottom-sm {
  margin-bottom: 20px !important;
}

.margin-bottom-md {
  margin-bottom: 40px !important;
}

.margin-bottom-lg {
  margin-bottom: 60px !important;
}

.margin-top-xs {
  margin-top: 10px !important;
}

.margin-top-sm {
  margin-top: 20px !important;
}

.margin-top-md {
  margin-top: 40px !important;
}

.margin-top-lg {
  margin-top: 60px !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-top {
  margin-top: 0px !important;
}

.list-no-style {
  list-style: none;
  padding: 0;
  margin: 0;
}

.naus-list {
  padding-left: 0;
  list-style: none;

  li {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  li:before {
    font-family: 'iconfont';
    content: "\54";
    margin-right: 15px;
    color: $light-blue;
  }

  &.style-dot {
    list-style: disc;
    list-style-position: inside;

    li {
      font-size: 12px;
      text-indent: -22px;
      padding-left: 22px;

      &:before {
        content: '';
        margin-right: -5px;
      }
    }
  }
}

.disc-icon {
  margin-right: 15px;
}

.list-column {
  margin-bottom: 5px;
}

.full-size {
  width: 100%;
  height: 100%;
}

.no-border-top {
  border-top: none !important;
}

.no-border-bottom {
  border-bottom: none !important;
}

.no-padding {
  padding: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.full-width {
  width: 100% !important;
}

[class*="icon-"]:before, [class*=" icon-"]:before {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/* POPOVER */
label {
  ~ .popover {
    min-width: 285px;
    text-align: center;
    padding: 15px 18px;
    @include box-shadow(0 1px 4px 0 rgba(0, 0, 0, 0.5));
    @include border-radius(2px);

    input {
      height: 40px;
    }

    .input-group-icon {
      .input-group-addon {
        .icon {
          line-height: 40px;
        }
      }
    }
  }
}

.popover {
  border: none;
  @include border-radius(4px);
  @include box-shadow(0 1px 4px 0 rgba(0, 0, 0, 0.25));
  padding: 0;

  .popover-content {
    padding: 0;
  }
}

.list-element-icon {

  .sub-item-link {
    display: inline-block;
    @extend .full-size;
  }

  .sub-item-image {
    width: 24px;
    margin-right: 12px;
  }
}

[class*="error-"] {
  display: inline-block;
  margin-top: 5px;
  color: $burnt-sienna;
  font-size: 15px;
}

// Errors and captions
[class*="col-"] {
  ~ [class*="error-"] {
    padding: 0 5px;
    margin: 0;
  }
  .form-separator, .input-heading {
    margin-left: 0;
  }

  .input-caption-group {
    &:first-child {
      margin-top: 0px;
    }
  }
}

.error-form-no-input {
  display: block;
  margin-bottom: 15px;
}

.input-caption-group {
  display: inline-block;
  margin-top: 20px;

  &.over-input {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .input-caption, .input-caption-icon {
    padding: 0;
    margin: 0 5px 0 0;
  }
  .input-caption {
    @extend .h6;
  }
}

// headings

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: normal;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

.h1 {
  font-size: $font-size-h1 !important;
}

.h2 {
  font-size: $font-size-h2 !important;
}

.h3 {
  font-size: $font-size-h3 !important;
}

.h4 {
  font-size: $font-size-h4 !important;
}

.h5 {
  font-size: $font-size-h5 !important;
}

.h6 {
  font-size: $font-size-h6 !important;
}

.h7 {
  font-size: 10px;
}

.pre-line {
  white-space: pre-line;
}

.pointer {
  cursor: pointer;
}

.cursor-arrow {
  cursor: default;
}

.cursor-reset {
  cursor: auto;
}

.position-fixed {
  position: fixed;
}

.hidden-sm-up {
  @media all and (min-width: $tablet-breakpoint) {
    display: none;
  }
}

.hidden-overflow {
  overflow: hidden;
}

p {
  font-size: $font-size-h6;
  line-height: 24px;
}

.text-italic {
  font-style: italic;
}

.bold {
  font-weight: bold !important;
}

.no-border {
  border: none !important;
}

.border-red {
  border-color: $red !important;
}

a, span, p, h1, h2, h3, h4, h5, h6 {
  &.light {
    font-weight: lighter;
  }
}

/* Fix logo wrong size */
.icon-logo {
  &:before {
    display: inline;
  }
}

/* LOADING SPINNER */
.loader {
  font-size: 5px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: $medium-light-blue;
  background: -moz-linear-gradient(left, $medium-light-blue 10%, rgba(191, 229, 245, 0) 42%);
  background: -webkit-linear-gradient(left, $medium-light-blue 10%, rgba(191, 229, 245, 0) 42%);
  background: -o-linear-gradient(left, $medium-light-blue 10%, rgba(191, 229, 245, 0) 42%);
  background: -ms-linear-gradient(left, $medium-light-blue 10%, rgba(191, 229, 245, 0) 42%);
  background: linear-gradient(to right, $medium-light-blue 10%, rgba(191, 229, 245, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);

  &:before {
    width: 50%;
    height: 50%;
    background: $medium-light-blue;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }

  &:after {
    background-color: white;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &.grey {
    &:after {
      background-color: $lighter-grey;
    }
  }

  @-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  // Make spinner disappear faster (as soon as real content shows up)
  &.ng-leave-active {
    display: none;
  }
}

.loader-alt {
  position: absolute;
  border: 8px solid $light-grey;
  border-top: 8px solid $light-blue;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: -25px 0 0 -25px;
  animation: spin 2s linear infinite;
  top: 50%;
  left: 50%;
  @include translate(-50%, -50%);

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.component-loadable {
  min-width: 200px;
  position: relative;

  &.component-loadable-loading {
    min-height: 100px;
  }
}

.loader-container-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  background-color: rgba(white, 0.5);

  &.inside-parent {
    position: absolute;
  }

  .loader {
    margin: 0 auto;
    position: relative;
    top: 45%;
  }
}

.view-container {
  .loader-container-overlay {
    //margin-left: -15px;
  }
}

.naus-border {
  border: 2px solid $light-blue;
}

.round {
  @include border-radius(100%);
}

.status-label {
  min-width: 90px;
  max-width: 140px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  color: white;
  font-weight: normal;
  @include border-radius(4px);

  &.status-label-blue {
    background-color: $light-blue
  }
  &.status-label-grey {
    background-color: $shady-lady;
  }
  &.status-label-orange {
    background-color: $orange;
  }
  &.status-label-red {
    background-color: $red;
  }
  &.status-label-green {
    background-color: $caribbean-green;
  }
}

.display-inline-block {
  display: inline-block;
}

// Avoid issues with ng-if responding too slow
.ng-hide.ng-hide-animate, .ng-leave-active {
  display: none !important;
}

/** This goes here because of CSS precedence. In order to be applied, styles has to come later in the file**/
@import "../sass/desktop";
@import "../sass/home";
@import "../sass/experience";
@import "../sass/search-page";
@import "../sass/captain-form";
@import "../sass/dashboard";
@import "../sass/booking";
@import "../sass/support";
@import "../sass/custom";
@import "../sass/login-page";