.users-site {
  .support-container {
    position: relative;
    padding: 0 15px;

    .support-content {
      background-color: white;
      padding: 24px 15px 35px;
      @include border-bottom-left-radius(15px);
      @include border-bottom-right-radius(15px);
    }
    .support-blue-box {
      width: 82%;
      height: 40px;
      background-color: $medium-turquoise;
      margin: auto;
      @include border-bottom-left-radius(15px);
      @include border-bottom-right-radius(15px);
    }

    .support-img {
      width: 100%;
      display: inline-block;
      margin-top: -50px;
    }

    .left {
      margin-left: -30px;
      margin-right: 22px;
    }

    .right {
      margin-left: 22px;
      margin-right: -50px;
    }

    p {
      font-size: 14px;
      line-height: 30px;
    }

    .accordion-content {
      padding: 24px 23px 24px;
    }

    .support-step {
      display: table;

      img {
        display: table-cell;
        height: 100%;
        padding-top: 5px;
      }

      p {
        line-height: 20px;
        display: table-cell;
        padding: 0;
        padding-left: 10px;
        vertical-align: middle;
      }
    }

    .support-img-container, .support-text {
      padding: 0;
    }
  }

  .support-section {
    display: block;

    margin-bottom: 30px;

    &.padding {
      padding: 0 15px;
    }

    .support-section-heading {
      margin: 0 0 20px;
    }
  }

  .section-separator {
    width: 150px;
    margin: 0 auto 25px;
    height: 3px;
    background-color: $light-blue;
    border-radius: 100px;

    @media (min-width: $tablet-breakpoint){
      margin-bottom: 50px;
    }
  }

  .page-code {
    font-size: 150px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 5px 0 #1b4368;
    @include scaleX(0.7);

    @media (min-width: $tablet-breakpoint){
      font-size: 300px;
    }
  }

  .page-message {
    font-size: 24px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 2px 0 #1b4368;

    @media (min-width: $tablet-breakpoint){
      font-size: 36px;
    }
  }


}