<div class="email-verified text-center">
    <h3 class="light-blue bold email-verified-message text-center margin-bottom-md" translate>{{'header.email_verified'}}</h3>

    <p class="no-margin" translate>{{'header.smooth_sailing'}}</p>
    <p class="text-italic bold light-blue margin-bottom-md" translate>{{'header.nausdream_team'}}</p>

    <div class="text-center">
        <a class="naus-btn i-8x text-uppercase"
           ng-href="/" go-to>{{'header.back_to_site' | translate}}
        </a>
    </div>
</div>
