<section id="experiences-filter">

    <!--LOCALITY-->
    <div class="row">
        <div class="col-xs-12 col-sm-12 no-padding">
            <div class="form-separator"></div>
            <div class="h4">{{'experiences.locality' | translate}}</div>

            <div id="locality-collapse" class="collapse input" uib-collapse="ctrl.localityCollapse" uib-dropdown
                 is-open="ctrl.dropdowns.locality">
                <div class="select" id="locality" uib-dropdown-toggle ng-disabled="ctrl.disabled">
                    <span ng-show="ctrl.params.locality" class="select-text">{{ 'experiences.' + ctrl.params.locality | translate }}</span>
                    <span ng-show="!ctrl.params.locality" class="select-text">{{ 'experiences.choose_locality' | translate }}</span>
                    <span class="icon pull-right"
                          ng-class="{'icon-arrow-down': !ctrl.dropdowns.locality, 'icon-arrow-up': ctrl.dropdowns.locality}"></span>
                </div>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="locality">
                    <li ng-repeat="locality in ctrl.locationKeys" role="menuitem" ng-disabled="ctrl.disabled">
                        <a class="pointer" ng-click="ctrl.changeLocality(locality)">{{ 'experiences.' + locality.name |
                            translate }}</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <!--PEOPLE-->
    <div class="row">
        <!--ADULTS-->
        <div class="col-xs-12 col-sm-12 no-padding">
            <div class="form-separator"></div>
            <div class="h4">{{'experiences.guests' | translate}}</div>
            <div class="input" uib-dropdown is-open="ctrl.dropdowns.adults">
                <div class="select" id="adults" uib-dropdown-toggle ng-disabled="ctrl.disabled">
                    <span ng-show="ctrl.params.adults" class="select-text" translate="inputs.adults"
                          translate-values="{ adults: ctrl.params.adults }"
                          translate-interpolation="messageformat"></span>
                    <span ng-show="!ctrl.params.adults" class="select-text">{{ 'experiences.adults_number' | translate }}</span>
                    <span class="icon pull-right"
                          ng-class="{'icon-arrow-down': !ctrl.dropdowns.adults, 'icon-arrow-up': ctrl.dropdowns.adults}"></span>
                </div>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="adults">
                    <li ng-repeat="adult in ctrl.adultsRange" role="menuitem"
                        ng-click="ctrl.changeAdults(adult);"
                        ng-disabled="ctrl.disabled">
                        <a class="pointer" ng-href="" translate="inputs.adults" translate-values="{ adults: adult }"
                           translate-interpolation="messageformat"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--BABIES AND KIDS-->
    <div class="row margin-bottom-sm">
        <!--BABIES-->
        <div class="col-xs-6 col-sm-6 no-padding-left">
            <div class="h5">{{'experiences.babies' | translate}}</div>
            <button-incrementer model="ctrl.params.babies" min="0" max="10"
                                callback="ctrl.changeBabies()" ng-disabled="ctrl.disabled"></button-incrementer>
        </div>
        <!--KIDS-->
        <div class="col-xs-6 col-sm-6 no-padding-right">
            <div class="h5">{{'experiences.kids' | translate}}</div>
            <button-incrementer model="ctrl.params.kids" min="0" max="10"
                                callback=ctrl.changeKids() ng-disabled="ctrl.disabled"></button-incrementer>
        </div>
    </div>

    <div class="row margin-bottom-sm">
        <div class="col-xs-12 col-sm-12 no-padding">
            <a class="btn btn-block btn-grey btn-header text-uppercase accordion-filter"
               ng-click="ctrl.mainFilters = !ctrl.mainFilters">
                {{'experiences.filters' | translate}}
                <i ng-if="!ctrl.mainFilters" class="pull-right icon icon-plus light-blue i-5x"></i>
                <i ng-if="ctrl.mainFilters" class="pull-right icon icon-minus light-blue i-5x"></i>
            </a>
        </div>
    </div>

    <div class="row collapse" uib-collapse="!ctrl.mainFilters">

        <!--BOAT TYPES-->
        <div class="col-xs-12 col-sm-12 no-padding">
            <div class="form-separator"></div>
            <h5 class="page-section-title">
                <a class="pointer" ng-click="ctrl.boatTypes = !ctrl.boatTypes">
                    <span class="h4">{{'experiences.boat_type_filter' | translate}}</span>
                    <i ng-if="ctrl.boatTypes" class="pull-right icon icon-arrow-down"></i>
                    <i ng-if="!ctrl.boatTypes" class="pull-right icon icon-arrow-up"></i>
                </a>
            </h5>
            <div class="collapse" uib-collapse="ctrl.boatTypes">
                <div class="input">
                    <input name="boat_type_catamaran" type="checkbox"
                           ng-model="ctrl.params.catamaran"
                           ng-value=true
                           ng-click="ctrl.changeBoatTypes()"
                           id="catamaran">
                    <label for="catamaran">{{'boat_types.catamaran' |
                        translate}}</label>
                </div>
                <div class="input">
                    <input name="boat_type_motorboat" type="checkbox"
                           ng-model="ctrl.params.motorboat"
                           ng-value=true
                           ng-disabled="ctrl.disabled"
                           ng-click="ctrl.changeBoatTypes()"
                           id="motorboat">
                    <label for="motorboat">{{'boat_types.motorboat' | translate}}</label>
                </div>
                <div class="input">
                    <input name="boat_type_sailboat" type="checkbox"
                           ng-model="ctrl.params.sailboat"
                           ng-value=true
                           ng-disabled="ctrl.disabled"
                           ng-click="ctrl.changeBoatTypes()"
                           id="sailboat">
                    <label for="sailboat">{{'boat_types.sailboat' | translate}}</label>
                </div>
                <div class="input">
                    <input name="boat_type_rubberboat" type="checkbox"
                           ng-model="ctrl.params.rubberboat"
                           ng-value=true
                           ng-disabled="ctrl.disabled"
                           ng-click="ctrl.changeBoatTypes()"
                           id="rubberboat">
                    <label for="rubberboat">{{'boat_types.rubberboat' | translate}}</label>
                </div>
            </div>
        </div>

    </div>

    <div class="row margin-bottom-sm">
        <div class="col-xs-12 col-sm-12 no-padding">
            <a class="btn btn-block btn-grey btn-header accordion-filter text-uppercase"
               ng-click="ctrl.otherFilters = !ctrl.otherFilters">
                <span class="h5">{{'experiences.other_filters' | translate}}</span>
                <i ng-if="!ctrl.otherFilters" class="pull-right icon icon-plus light-blue i-5x"></i>
                <i ng-if="ctrl.otherFilters" class="pull-right icon icon-minus light-blue i-5x"></i>
            </a>
        </div>
    </div>

    <div class="row collapse" uib-collapse="!ctrl.otherFilters">
        <!-- COST -->
        <div class="col-xs-12 col-sm-12 no-padding">
            <div class="form-separator"></div>
            <h5 class="page-section-title">
                <a class="pointer" ng-click="ctrl.pricing = !ctrl.pricing">
                    <span class="h4">{{'experiences.price_filter' | translate}}</span>
                    <i ng-if="ctrl.pricing" class="pull-right icon icon-arrow-down info-color"></i>
                    <i ng-if="!ctrl.pricing" class="pull-right  icon icon-arrow-up info-color"></i>
                </a>
            </h5>

            <div class="collapse" uib-collapse="ctrl.pricing">
                <rzslider id="slider-id" rz-slider-model="ctrl.slider.minValue"
                          rz-slider-high="ctrl.slider.maxValue"
                          rz-slider-options="ctrl.slider.options"
                          rz-slider-tpl-url="/users/app/components/experiences/experiences-filter-menu/slider.html"></rzslider>
            </div>
        </div>

        <!--BOAT LENGTH -->
        <div class="col-xs-12 col-sm-12 no-padding">
            <div class="form-separator"></div>
            <h5 class="page-section-title">
                <a ng-click="ctrl.boatLengthAttribute = !ctrl.boatLengthAttribute" class="pointer">
                    <span class="h4">{{'experiences.boat_length' | translate}}</span>
                    <i ng-if="ctrl.boatLengthAttribute" class="pull-right icon icon-arrow-down info-color"></i>
                    <i ng-if="!ctrl.boatLengthAttribute" class="pull-right  icon icon-arrow-up info-color"></i>
                </a>
            </h5>
            <div class="collapse" uib-collapse="ctrl.boatLengthAttribute">
                <div class="btn-group">
                    <a class="btn btn-default btn-radio btn-radio-info" ng-click="ctrl.changeBoatLength(1)"
                       ng-class="{'active': ctrl.params.option_length == 1}">{{'experiences.up_10' | translate}}</a>
                    <a class="btn btn-default btn-radio btn-radio-info" ng-click="ctrl.changeBoatLength(2)"
                       ng-class="{'active': ctrl.params.option_length == 2}">{{'experiences.between_10_20' |
                        translate}}</a>
                    <a class="btn btn-default btn-radio btn-radio-info" ng-click="ctrl.changeBoatLength(3)"
                       ng-class="{'active': ctrl.params.option_length == 3}">{{'experiences.more_20' |
                        translate}}</a>
                </div>
            </div>
        </div>

        <!-- ON BOARD -->
        <div class="col-xs-12 col-sm-12 no-padding">
            <div class="form-separator"></div>
            <h5 class="page-section-title">
                <a data-toggle="collapse" ng-click="ctrl.experienceOnBoard = !ctrl.experienceOnBoard"
                   class="pointer">
                    <span class="h4">{{'experiences.rules' | translate}}</span>
                    <i ng-if="ctrl.experienceOnBoard" class="pull-right icon icon-arrow-down"></i>
                    <i ng-if="!ctrl.experienceOnBoard" class="pull-right icon icon-arrow-up"></i>
                </a>
            </h5>
            <div class="collapse" uib-collapse="ctrl.experienceOnBoard">
                <div class="input">
                    <input name="small_animals" type="checkbox"
                           ng-model="ctrl.params.small_animals"
                           ng-value=true
                           ng-click="ctrl.changeRulesOnBoard()"
                           id="small_animals">
                    <label for="small_animals">{{'experiences.small_animals' | translate}}</label>
                </div>
                <div class="input">
                    <input name="average_animals" type="checkbox"
                           ng-model="ctrl.params.average_animals"
                           ng-value=true
                           ng-click="ctrl.changeRulesOnBoard()"
                           id="average_animals">
                    <label for="average_animals">{{'experiences.average_animals' | translate}}</label>
                </div>
                <div class="input">
                    <input name="big_animals" type="checkbox"
                           ng-model="ctrl.params.big_animals"
                           ng-value=true
                           ng-click="ctrl.changeRulesOnBoard()"
                           id="big_animals">
                    <label for="big_animals">{{'experiences.big_animals' | translate}}</label>
                </div>
                <div class="input">
                    <input name="alcohol" type="checkbox"
                           ng-model="ctrl.params.alcohol"
                           ng-value=true
                           ng-click="ctrl.changeRulesOnBoard()"
                           id="alcohol">
                    <label for="alcohol">{{'experiences.alcohol' | translate}}</label>
                </div>
                <div class="input">
                    <input name="cooking" type="checkbox"
                           ng-model="ctrl.params.cooking"
                           ng-value=true
                           ng-click="ctrl.changeRulesOnBoard()"
                           id="cooking">
                    <label for="cooking">{{'experiences.cooking' | translate}}</label>
                </div>
            </div>
        </div>
    </div>

    <!-- CLEAN -->
    <div class="row visible-md visible-lg margin-top-sm">
        <div class="col-xs-12 col-sm-12 no-padding text-center">
            <span class="page-section-title"></span>

            <naus-btn on-click="ctrl.clearFilters()" options="{inverse: true}" custom-classes="['full-width', 'bold']">
                {{'experiences.clear' | translate}}
            </naus-btn>
        </div>
    </div>

    <div class="row visible-xs visible-sm">
        <div class="col-xs-12 col-sm-12 no-padding text-center">
            <div class="clear-box margin-top-sm">
                <naus-btn on-click="ctrl.clearFilters()" options="{inverse: true, small: true, uppercase: false}">
                    {{'experiences.clear' | translate}}
                </naus-btn>
            </div>
            <div class="explore-box margin-top-sm">
                <naus-btn on-click="ctrl.onClose()" options="{small: true}" custom-classes="['bold']">
                    {{'experiences.explore' | translate}}
                </naus-btn>
            </div>
        </div>

    </div>

</section>
