<!-- ERROR 404 -->
<div class="background-error background-404 bottom-border" ng-hide="ctrl.loading || ctrl.translations.loading">
    <div class="container-fluid view-container">
        <div class="row support-section support-container">
            <div class="col-xs-12 padding">
                <div class="row">
                    <div class="col-md-6 hidden-xs hidden-sm">
                        <img src="https://res.cloudinary.com/naustrip/image/upload/v1496186435/production/assets/img/support/404_fish.png">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 text-center">
                        <div class="page-code" translate>{{'not_found.error_404'}}</div>
                        <div class="page-message margin-bottom-lg" translate>{{'not_found.can'}}</div>
                        <naus-btn on-click="ctrl.backHome()"
                                  options="{color: 'orange'}"
                                  custom-classes="['h3', 'bold']">
                            {{'not_found.go_back' | translate}}
                        </naus-btn>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-show="ctrl.loading || ctrl.translations.loading" class="loader-alt inside-parent"></div>