<p class="form-description margin-bottom-sm">
    <span class="bold" translate
          translate-values='{name: ctrl.user.first_name}'>{{'captain_form.hello'}}</span><br/>
    <span>{{'captain_form.thanks' | translate}}</span><br/>
    <span>{{'captain_form.insert_paypal' | translate}}</span>
</p>

<form class="form form-steps container-fluid" novalidate name="ctrl.form_paypal" id="paypal-form">

    <!--PAYPAL ACCOUNT-->
    <div class="row form-row no-padding no-border-bottom">
        <div class="col-xs-12 form-col no-margin no-padding">
            <div class="form-separator"></div>
            <div class="input-heading">{{'captain_form.paypal_account' | translate}}</div>
        </div>

        <div class="col-xs-12 no-margin no-padding">
            <div class="row no-margin no-padding">
                <!--INPUT-->
                <div class="col-sm-6 form-col no-padding no-margin">
                    <div class="input-group input-group-icon">
                <span class="input-group-addon">
                    <span class="icon icon-mail"></span>
                </span>
                        <input class="input-group-input"
                               name="paypal_account"
                               type="email"
                               placeholder="{{'captain_form.placeholder_paypal_account' | translate}}"
                               ng-model="ctrl.user.paypal_account"
                               ng-change="ctrl.resetField('paypal_account')"
                               ng-blur="ctrl.validateField('paypal_account')"
                               ng-required="true"
                               ng-disabled="ctrl.emailSent">
                        <error-messages class="margin-bottom-sm" field-name="paypal_account"
                                        translation-name="paypal_account"
                                        controller-errors=ctrl.errors page="captain_form"></error-messages>
                    </div>
                </div>
                <!--SEND BUTTON-->
                <div class="col-sm-6 form-col no-padding no-margin text-center" ng-hide="ctrl.emailSent">
                    <naus-btn
                            on-click="ctrl.patchInput('paypal_account')">
                        {{'inputs.send' | translate}}
                    </naus-btn>
                </div>
            </div>
        </div>

    </div>

    <!--CREATE ACCOUNT-->
    <div class="row form-row no-padding no-border-bottom">
        <div class="col-xs-12 form-col no-padding">
            <div class="form-separator"></div>
            <div class="input-heading">{{'captain_form.create_paypal' | translate}}</div>
            <naus-btn
                    on-click="ctrl.goToPaypal()"
                    options="{inverse: true}">
                {{'captain_form.create_paypal_button' | translate}}
            </naus-btn>
        </div>
    </div>

    <!--INFO-->
    <div class="row form-row no-padding no-border-bottom">
        <div class="col-xs-12 form-col no-padding">
            <p>
                <span>{{'captain_form.data_will_be_evaluated' | translate}}</span>
                <br/>
                <span>{{'captain_form.soon_news' | translate}}</span>
            </p>
            <p>
                <span>{{'captain_form.see_you_soon' | translate}}</span>
                <br/>
                <span class="light-blue text-italic bold">{{'captain_form.nausdream_team' | translate}}</span>
            </p>
        </div>
    </div>


</form>

<div class="loader-container-overlay" ng-class="{hidden: !ctrl.loading && !loading}">
    <div class="loader"></div>
</div>