<div class="offsite-booking-confirm" ng-if="!ctrl.translations.loading && !ctrl.paying">
    <div class="offsite-booking-confirm-header text-center">
        <span class="icon icon-logo i-7x white"></span>
    </div>
    <div class="offsite-booking-confirm-content">
        <h3 class="light-blue no-margin-top margin-right-sm"
            translate
            translate-values="{name: ctrl.user.first_name}">
            offsite_booking.hi
        </h3>
        <p class="h6 terms margin-bottom-md" translate translate-values="{lang: ctrl.language}">
            offsite_booking.terms_warning
        </p>
        <div class="input margin-bottom-md text-center">
            <input name="terms" type="checkbox"
                   ng-model="ctrl.accepted"
                   ng-value=true
                   id="terms">
            <label for="terms" class="terms-label text-left" translate>
                offsite_booking.terms_accept
            </label>
        </div>
        <div class="text-center">
            <naus-btn on-click="ctrl.pay()" options="{inverse: true, disabled:!ctrl.accepted}">
                {{'offsite_booking.go_buy' | translate}}
            </naus-btn>
        </div>
        <hr class="margin-top-md margin-bottom-md">
        <p class="bold h4 text-center">{{'offsite_booking.for_assistance' | translate}}</p>
        <p class="bold h5 text-center"
           translate
           translate-values="{mail: ctrl.supportMail}">offsite_booking.write_to_us</p>
        <p class="bold h5 text-center"
           translate
           translate-values="{phone: ctrl.supportPhone}">offsite_booking.call_us</p>
        <hr class="margin-top-md margin-bottom-lg">
        <div class="offsite-booking-confirm-footer">
            <p class="text white text-center no-margin">
                {{'offsite_booking.nausdream_srl' | translate}}
                <br>
                {{'offsite_booking.all_rights_reserved' | translate}}
            </p>
        </div>
    </div>
</div>
<div ng-show="ctrl.translations.loading || ctrl.paying" class="loader-alt inside-parent"></div>

<div ng-if="ctrl.paying">
    <offsite-booking-pay booking-promise="ctrl.bookingPromise" pay-now="ctrl.paying"></offsite-booking-pay>
</div>