<div class="col-xs-12 {{$ctrl.padding}}">
    <div class="form-separator"></div>
    <h3 class="home-section-heading text-center">{{$ctrl.title}}</h3>
    <div class="row" ng-transclude></div>
</div>
