<div role="tab" id="{{::headingId}}" aria-selected="{{isOpen}}" class="accordion-heading" ng-class="{'bottom-light-blue': isOpen}" ng-keypress="toggleOpen($event)">
    <h5 class="accordion-title no-margin">
        <a role="button" data-toggle="collapse" href aria-expanded="{{isOpen}}" aria-controls="{{::panelId}}" tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading" ng-disabled="isDisabled" uib-tabindex-toggle><span uib-accordion-header ng-class="{'accordion-disabled': isDisabled}">{{heading}}</span></a>
    </h5>
</div>
<div id="{{::panelId}}" aria-labelledby="{{::headingId}}" aria-hidden="{{!isOpen}}" role="tabpanel" class="accordion-collapse collapse" uib-collapse="!isOpen">
    <div class="accordion-body" ng-transclude></div>
</div>
