<div id="{{::panelId}}" aria-labelledby="{{::headingId}}" aria-hidden="{{!isOpen}}" role="tabpanel" class="accordion-collapse collapse" uib-collapse="!isOpen">
    <div class="accordion-body" ng-transclude></div>
</div>