<div ng-if="!(ctrl.loading || ctrl.translations.loading)" on-resize="ctrl.setDevice()">

    <!--PAGE CONTENT-->
    <div class="view-container no-padding-top experiences-page-content">
        <!--TOTAL ELEMENTS-->
        <div class="total-elements margin-top-xs">
            <span class="bold h5">{{ ctrl.meta.total_elements || 0}} {{'experiences.results' | translate}}</span>
        </div>

        <div class="padding-top-small" id="load-listings-scroll-point">
            <!--FILTERS/MAP-->
            <div class="filters-container" ng-class="{fixed: ctrl.mapAffixed && !ctrl.filtersOpen}"
                 affix
                 affix-top="189"
                 affix-bottom="325"
                 affix-top-position="10"
                 is-affixed=ctrl.mapAffixed>
                <filters-map-switcher params="ctrl.params" listings="ctrl.listings"
                                      on-listings-update="ctrl.loadListings()"
                                      on-params-update="ctrl.updateSearch()"
                                      filters-open="ctrl.filtersOpen"></filters-map-switcher>
            </div>

            <!--LISTINGS/LOADER/PAGINATION-->
            <div class="listings-container" ng-class="{'fixed' : ctrl.mapAffixed && !ctrl.filtersOpen}">
                <!--LISTINGS-->
                <listings ng-if="!ctrl.loadingListings" listings="ctrl.listings"></listings>
                <!--LOADER-->
                <div ng-show="ctrl.loadingListings" class="loader-alt loader-search inside-parent"></div>
                <!--PAGINATION-->
                <div ng-if="ctrl.meta.total_elements > ctrl.params.per_page"
                     class="pull-right pagination-container">
                    <ul uib-pagination
                        total-items="ctrl.meta.total_elements"
                        ng-model="ctrl.params.page" ng-change="ctrl.loadListings(ctrl.params.page, true)"
                        boundary-links="false"
                        first-text="{{'experiences.first_page' | translate}}"
                        last-text="{{'experiences.last_page' | translate}}"
                        direction-links="false"
                        next-text="{{'experiences.next_page' | translate}}"
                        previous-text="{{'experiences.previous_page' | translate}}"
                        max-size="ctrl.pagesToDisplay" items-per-page="ctrl.params.per_page">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--FOOTER-->
    <footer class="margin-top-sm"></footer>
</div>
<div ng-if="ctrl.loading || ctrl.translations.loading" class="loader-alt"></div>
