<div class="view-container dashboard" ng-hide="ctrl.makingRequest">
    <user-infobox class="hidden-xs" user="ctrl.user"></user-infobox>
    <quick-access class="hidden-xs" user="ctrl.user"></quick-access>
    <bookings ng-if="ctrl.user.attributes.is_captain" user-id=ctrl.user.id on-booking-click="ctrl.select(id)" show-accordion=false show-back-button=true captain-bookings="true"></bookings>
    <bookings user-id=ctrl.user.id on-booking-click="ctrl.select(id)" show-accordion=false show-back-button=true></bookings>
</div>