<div class="component-loadable dashboard-list" ng-class="{'component-loadable-loading': (ctrl.loading || ctrl.translations.loading)}">
    <div ng-hide="ctrl.loading || ctrl.translations.loading" class="conversations-list">
        <uib-accordion template-url="/users/app/components/accordion/accordion.view.html">
            <div uib-accordion-group is-open="ctrl.open" is-disabled="!ctrl.showAccordion" template-url="/users/app/components/accordion/accordion-group.view.html">
                <uib-accordion-heading>
                    <a ng-click="ctrl.back($event)" ng-if="ctrl.showBackButton" class="icon icon-arrow i-5x light-blue mirror back-button"></a><span>{{'conversation.my_conversations' | translate}} - </span><span class="light-blue">{{ctrl.conversations.length}}</span>
                    <div ng-if="ctrl.showAccordion" class="accordion-opener">
                        <a ng-href="" ng-if="ctrl.open" class="icon icon-minus toggle-open i-6x"></a>
                        <a ng-href="" ng-if="!ctrl.open" class="icon icon-plus toggle-open i-6x"></a>
                    </div>
                </uib-accordion-heading>

                <!--CONVERSATIONS-->
                <div ng-if="ctrl.conversations.length > 0" class="table-responsive">
                    <table class="table">
                        <thead class="table-head bold">
                        <tr>
                            <th class="table-heading col-xs-5 col-sm-3 heading-sender">{{'conversation.sender' | translate}}</th>
                            <th class="table-heading hidden-xs col-sm-5 heading-message">{{'conversation.last_message' | translate}}</th>
                            <th class="table-heading hidden-xs col-sm-2 heading-date">{{'conversation.date' | translate}}</th>
                            <th class="table-heading col-xs-4 col-sm-2 text-center heading-status">{{'conversation.status' | translate}}</th>
                            <th class="table-heading col-xs-3 hidden-sm-up heading-view"></th>
                        </tr>
                        </thead>
                        <tbody class="table-body">
                        <tr class="table-row" ng-class="{bold: conversation.previewData.unread}" ng-repeat="conversation in ctrl.conversations" ng-click="ctrl.onConversationClick({id: conversation.id})">
                            <td class="table-field first-child-mobile"><div class="table-field-content">{{conversation.previewData.sender + ' (' + conversation.previewData.total + ')'}}</div></td>
                            <td class="table-field hidden-xs"><div class="table-field-content" id="message-preview"><span>{{conversation.previewData.message}}</span></div></td>
                            <td class="table-field hidden-xs"><div class="table-field-content">{{conversation.previewData.date | userDate:ctrl.language}}</div></td>
                            <td class="table-field text-center"><div class="table-field-content"><status-label status-name=conversation.previewData.status model-name="conversation"></status-label></div></td>
                            <td class="table-field"><div class="table-field-content text-right"><a class="icon icon-arrow i-7x light-blue"></a></div></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--NO CONVERSATIONS-->
                <div ng-if="ctrl.conversations.length == 0" class="empty-list text-center">
                    <p class="text-center h3 no-margin-top">{{'conversation.empty_list' | translate}}</p>
                    <p class="text-center" ng-show="ctrl.user.is_captain">{{'conversation.empty_list_subheading_captain' | translate}}</p>
                    <p class="text-center" ng-hide="ctrl.user.is_captain">{{'conversation.empty_list_subheading_guest' | translate}}</p>
                </div>
            </div>
        </uib-accordion>
    </div>

    <div ng-show="ctrl.loading || ctrl.translations.loading" class="loader-alt"></div>
</div>
