<div class="button-incrementer">
    <a href="" class="button" ng-click="$ctrl.addValue(-1)"><span class="icon icon-minus i-5x" prevent-href></span></a>
    <div class="value"><span>{{$ctrl.model}}</span></div>
    <a href="" class="button" ng-click="$ctrl.addValue(1)"><span class="icon icon-plus i-5x" prevent-href></span></a>
</div>