<div class="container-fluid" id="modal-photo-upload">
    <div class="row" id="modal-title">
        <span class="title-text">UPLOAD PHOTO</span>
        <span class="icon icon-close i-5x" ng-click="ctrl.close()"></span>
    </div>
    <div class="row" id="modal-content">
        <img ngf-src="ctrl.newPhotoLink" id="photo"/>
        <div class="loader" ng-if="ctrl.loading"></div>
        <div class="margin-bottom-md pointer" ngf-select="ctrl.upload($file)" ng-model="ctrl.file" ng-if="!ctrl.loading && !ctrl.newPhotoLink">Upload</div>
        <div class="margin-bottom-md pointer" ng-if="!ctrl.loading" ng-click="ctrl.close()">Close</div>
        <div class="margin-bottom-md pointer" ng-if="!ctrl.loading" ng-click="ctrl.delete()">Delete</div>
        <div class="margin-bottom-md pointer" ng-if="ctrl.loading" ng-click="ctrl.close()">Cancel</div>
    </div>
</div>