<!--ASSISTANCE-->
<div ng-hide="ctrl.loading || ctrl.translations.loading">
    <div class="background-concrete bottom-border">
        <div class="container-fluid view-container">
            <div class="row support-section support-container">
                <div class="col-xs-12 padding">
                    <h1 class="support-section-heading text-center hidden-xs">{{'assistance.customer' | translate}}</h1>
                    <h3 class="support-section-heading text-center visible-xs">{{'assistance.customer' | translate}}</h3>
                    <div class="section-separator"></div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row support-content">
                                <div class="col-sm-6 support-img-container">
                                    <img class="hidden-xs support-img left"
                                         src="https://res.cloudinary.com/naustrip/image/upload/v1496160839/production/assets/img/support/support.png">
                                </div>
                                <div class="col-sm-6 support-text">
                                    <p translate>{{'assistance.if'}}</p>
                                    <p translate translate-values="{phone: ctrl.supportPhone}">{{'assistance.to'}}</p>
                                    <p translate>{{'assistance.support'}}</p>
                                    <p translate>{{'assistance.live'}}</p>
                                </div>
                            </div>
                            <div class="support-blue-box"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer></footer>
</div>
<div ng-show="ctrl.loading || ctrl.translations.loading" class="loader-alt inside-parent"></div>
