<!--GET ABOARD WITH NAUSDREAM-->
<div ng-hide="ctrl.loading || ctrl.translations.loading">
    <div class="background-concrete bottom-border">
        <div class="container-fluid view-container">
            <div class="row support-section support-container">
                <div class="col-xs-12 padding">
                    <h1 class="support-section-heading text-center hidden-xs">{{'support_guests.get_aboard' | translate}}</h1>
                    <h3 class="support-section-heading text-center visible-xs">{{'support_guests.get_aboard' | translate}}</h3>
                    <div class="section-separator"></div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row support-content">
                                <div class="col-sm-6 support-img-container">
                                    <img class="hidden-xs support-img left"
                                         src="https://res.cloudinary.com/naustrip/image/upload/v1496157519/production/assets/img/support/get-aboard.png">
                                </div>
                                <div class="col-sm-6 support-text">
                                    <p translate>{{'support_guests.are_you'}}</p>
                                    <p translate>{{'support_guests.forget'}}</p>
                                    <p translate>{{'support_guests.on'}}</p>
                                    <p translate>{{'support_guests.choose'}}</p>
                                    <p translate>{{'support_guests.if'}}</p>
                                </div>
                            </div>
                            <div class="support-blue-box"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--HOW IT WORKS-->
    <div class="bottom-border">
        <div class="container-fluid view-container">
            <div class="row support-section support-container">
                <div class="col-xs-12 padding">
                    <h1 class="support-section-heading text-center hidden-xs">{{'support_guests.how' | translate}}</h1>
                    <h3 class="support-section-heading text-center visible-xs">{{'support_guests.how' | translate}}</h3>
                    <div class="section-separator"></div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row support-content">
                                <div class="col-sm-6 support-text">
                                    <p class="margin-top-sm" translate>{{'support_guests.book'}}</p>
                                    <div class="support-step margin-bottom-xs">
                                        <img src="https://res.cloudinary.com/naustrip/image/upload/v1496032836/production/assets/img/support/step.png">
                                        <p translate>{{'support_guests.click'}}</p>
                                    </div>
                                    <div class="support-step margin-bottom-xs">
                                        <img src="https://res.cloudinary.com/naustrip/image/upload/v1496032836/production/assets/img/support/step.png">
                                        <p translate>{{'support_guests.search'}}</p>
                                    </div>
                                    <div class="support-step margin-bottom-xs">
                                        <img src="https://res.cloudinary.com/naustrip/image/upload/v1496032836/production/assets/img/support/step.png">
                                        <p translate>{{'support_guests.visit'}}</p>
                                    </div>
                                    <div class="support-step margin-bottom-xs">
                                        <img src="https://res.cloudinary.com/naustrip/image/upload/v1496032836/production/assets/img/support/step.png">
                                        <p translate>{{'support_guests.complete'}}</p>
                                    </div>
                                </div>
                                <div class="col-sm-6 support-img-container">
                                    <img class="hidden-xs support-img right"
                                         src="https://res.cloudinary.com/naustrip/image/upload/v1496157541/production/assets/img/support/how-it-works-guest.png">
                                </div>
                            </div>
                            <div class="support-blue-box"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--FAQ-->
    <div class="background-concrete">
        <div class="container-fluid view-container">
            <div class="row support-section support-container">
                <div class="col-xs-12 padding">
                    <h1 class="support-section-heading text-center hidden-xs">{{'support_guests.faq' | translate}}</h1>
                    <h3 class="support-section-heading text-center visible-xs">{{'support_guests.faq' | translate}}</h3>
                    <div class="section-separator"></div>
                    <uib-accordion template-url="/users/app/components/accordion/accordion.view.html">
                        <div class="margin-bottom-xs" uib-accordion-group is-open="ctrl.open_1"
                             template-url="/users/app/components/accordion/accordion-general.view.html">
                            <uib-accordion-heading>
                                <div class="col-xs-10">
                                    <span class='multiple-lines' ng-class="{'bold': ctrl.open_1}">{{'support_guests.faq_1' | translate}}</span>
                                </div>
                                <div class="col-xs-2 no-padding">
                                    <div class="accordion-opener">
                                        <a ng-href="" ng-if="ctrl.open_1" class="icon icon-minus toggle-open i-6x"></a>
                                        <a ng-href="" ng-if="!ctrl.open_1" class="icon icon-plus toggle-open i-6x"></a>
                                    </div>
                                </div>
                            </uib-accordion-heading>
                            <div class="accordion-content"><p translate>{{'support_guests.faq_1_text'}}</p></div>
                        </div>
                    </uib-accordion>
                    <uib-accordion template-url="/users/app/components/accordion/accordion.view.html">
                        <div class="margin-bottom-xs" uib-accordion-group is-open="ctrl.open_2"
                             template-url="/users/app/components/accordion/accordion-general.view.html">
                            <uib-accordion-heading>
                                <div class="col-xs-10">
                                    <span class='multiple-lines' ng-class="{'bold': ctrl.open_2}">{{'support_guests.faq_2' | translate}}</span>
                                </div>
                                <div class="col-xs-2 no-padding">
                                    <div class="accordion-opener">
                                        <a ng-href="" ng-if="ctrl.open_2" class="icon icon-minus toggle-open i-6x"></a>
                                        <a ng-href="" ng-if="!ctrl.open_2" class="icon icon-plus toggle-open i-6x"></a>
                                    </div>
                                </div>
                            </uib-accordion-heading>
                            <div class="accordion-content"><p translate>{{'support_guests.faq_2_text'}}</p></div>
                        </div>
                    </uib-accordion>
                    <uib-accordion template-url="/users/app/components/accordion/accordion.view.html">
                        <div class="margin-bottom-xs" uib-accordion-group is-open="ctrl.open_3"
                             template-url="/users/app/components/accordion/accordion-general.view.html">
                            <uib-accordion-heading>
                                <div class="col-xs-10">
                                    <span class='multiple-lines' ng-class="{'bold': ctrl.open_3}">{{'support_guests.faq_3' | translate}}</span>
                                </div>
                                <div class="col-xs-2 no-padding">
                                    <div class="accordion-opener">
                                        <a ng-href="" ng-if="ctrl.open_3" class="icon icon-minus toggle-open i-6x"></a>
                                        <a ng-href="" ng-if="!ctrl.open_3" class="icon icon-plus toggle-open i-6x"></a>
                                    </div>
                                </div>
                            </uib-accordion-heading>
                            <div class="accordion-content"><p translate>{{'support_guests.faq_3_text'}}</p></div>
                        </div>
                    </uib-accordion>
                    <uib-accordion template-url="/users/app/components/accordion/accordion.view.html">
                        <div class="margin-bottom-xs" uib-accordion-group is-open="ctrl.open_4"
                             template-url="/users/app/components/accordion/accordion-general.view.html">
                            <uib-accordion-heading>
                                <div class="col-xs-10">
                                    <span class='multiple-lines' ng-class="{'bold': ctrl.open_4}">{{'support_guests.faq_4' | translate}}</span>
                                </div>
                                <div class="col-xs-2 no-padding">
                                    <div class="accordion-opener">
                                        <a ng-href="" ng-if="ctrl.open_4" class="icon icon-minus toggle-open i-6x"></a>
                                        <a ng-href="" ng-if="!ctrl.open_4" class="icon icon-plus toggle-open i-6x"></a>
                                    </div>
                                </div>
                            </uib-accordion-heading>
                            <div class="accordion-content"><p translate>{{'support_guests.faq_4_text'}}</p></div>
                        </div>
                    </uib-accordion>
                    <uib-accordion template-url="/users/app/components/accordion/accordion.view.html">
                        <div class="margin-bottom-xs" uib-accordion-group is-open="ctrl.open_5"
                             template-url="/users/app/components/accordion/accordion-general.view.html">
                            <uib-accordion-heading>
                                <div class="col-xs-10">
                                    <span class='multiple-lines' ng-class="{'bold': ctrl.open_5}">{{'support_guests.faq_5' | translate}}</span>
                                </div>
                                <div class="col-xs-2 no-padding">
                                    <div class="accordion-opener">
                                        <a ng-href="" ng-if="ctrl.open_5" class="icon icon-minus toggle-open i-6x"></a>
                                        <a ng-href="" ng-if="!ctrl.open_5" class="icon icon-plus toggle-open i-6x"></a>
                                    </div>
                                </div>
                            </uib-accordion-heading>
                            <div class="accordion-content"><p translate>{{'support_guests.faq_5_text'}}</p></div>
                        </div>
                    </uib-accordion>
                    <uib-accordion template-url="/users/app/components/accordion/accordion.view.html">
                        <div class="margin-bottom-xs" uib-accordion-group is-open="ctrl.open_6"
                             template-url="/users/app/components/accordion/accordion-general.view.html">
                            <uib-accordion-heading>
                                <div class="col-xs-10">
                                    <span class='multiple-lines' ng-class="{'bold': ctrl.open_6}">{{'support_guests.faq_6' | translate}}</span>
                                </div>
                                <div class="col-xs-2 no-padding">
                                    <div class="accordion-opener">
                                        <a ng-href="" ng-if="ctrl.open_6" class="icon icon-minus toggle-open i-6x"></a>
                                        <a ng-href="" ng-if="!ctrl.open_6" class="icon icon-plus toggle-open i-6x"></a>
                                    </div>
                                </div>
                            </uib-accordion-heading>
                            <div class="accordion-content"><p translate>{{'support_guests.faq_6_text'}}</p></div>
                        </div>
                    </uib-accordion>
                    <uib-accordion template-url="/users/app/components/accordion/accordion.view.html">
                        <div class="margin-bottom-xs" uib-accordion-group is-open="ctrl.open_7"
                             template-url="/users/app/components/accordion/accordion-general.view.html">
                            <uib-accordion-heading>
                                <div class="col-xs-10">
                                    <span class='multiple-lines' ng-class="{'bold': ctrl.open_7}">{{'support_guests.faq_7' | translate}}</span>
                                </div>
                                <div class="col-xs-2 no-padding">
                                    <div class="accordion-opener">
                                        <a ng-href="" ng-if="ctrl.open_7" class="icon icon-minus toggle-open i-6x"></a>
                                        <a ng-href="" ng-if="!ctrl.open_7" class="icon icon-plus toggle-open i-6x"></a>
                                    </div>
                                </div>
                            </uib-accordion-heading>
                            <div class="accordion-content"><p translate>{{'support_guests.faq_7_text'}}</p></div>
                        </div>
                    </uib-accordion>
                    <uib-accordion template-url="/users/app/components/accordion/accordion.view.html">
                        <div class="margin-bottom-xs" uib-accordion-group is-open="ctrl.open_8"
                             template-url="/users/app/components/accordion/accordion-general.view.html">
                            <uib-accordion-heading>
                                <div class="col-xs-10">
                                    <span class='multiple-lines' ng-class="{'bold': ctrl.open_8}">{{'support_guests.faq_8' | translate}}</span>
                                </div>
                                <div class="col-xs-2 no-padding">
                                    <div class="accordion-opener">
                                        <a ng-href="" ng-if="ctrl.open_8" class="icon icon-minus toggle-open i-6x"></a>
                                        <a ng-href="" ng-if="!ctrl.open_8" class="icon icon-plus toggle-open i-6x"></a>
                                    </div>
                                </div>
                            </uib-accordion-heading>
                            <div class="accordion-content"><p translate>{{'support_guests.faq_8_text'}}</p></div>
                        </div>
                    </uib-accordion>
                    <uib-accordion template-url="/users/app/components/accordion/accordion.view.html">
                        <div class="margin-bottom-xs" uib-accordion-group is-open="ctrl.open_9"
                             template-url="/users/app/components/accordion/accordion-general.view.html">
                            <uib-accordion-heading>
                                <div class="col-xs-10">
                                    <span class='multiple-lines' ng-class="{'bold': ctrl.open_9}">{{'support_guests.faq_9' | translate}}</span>
                                </div>
                                <div class="col-xs-2 no-padding">
                                    <div class="accordion-opener">
                                        <a ng-href="" ng-if="ctrl.open_9" class="icon icon-minus toggle-open i-6x"></a>
                                        <a ng-href="" ng-if="!ctrl.open_9" class="icon icon-plus toggle-open i-6x"></a>
                                    </div>
                                </div>
                            </uib-accordion-heading>
                            <div class="accordion-content"><p translate>{{'support_guests.faq_9_text'}}</p></div>
                        </div>
                    </uib-accordion>
                    <uib-accordion template-url="/users/app/components/accordion/accordion.view.html">
                        <div class="margin-bottom-xs" uib-accordion-group is-open="ctrl.open_10"
                             template-url="/users/app/components/accordion/accordion-general.view.html">
                            <uib-accordion-heading>
                                <div class="col-xs-10">
                                    <span class='multiple-lines' ng-class="{'bold': ctrl.open_10}">{{'support_guests.faq_10' | translate}}</span>
                                </div>
                                <div class="col-xs-2 no-padding">
                                    <div class="accordion-opener">
                                        <a ng-href="" ng-if="ctrl.open_10" class="icon icon-minus toggle-open i-6x"></a>
                                        <a ng-href="" ng-if="!ctrl.open_10" class="icon icon-plus toggle-open i-6x"></a>
                                    </div>
                                </div>
                            </uib-accordion-heading>
                            <div class="accordion-content"><p translate>{{'support_guests.faq_10_text'}}</p></div>
                        </div>
                    </uib-accordion>
                    <uib-accordion template-url="/users/app/components/accordion/accordion.view.html">
                        <div class="margin-bottom-xs" uib-accordion-group is-open="ctrl.open_11"
                             template-url="/users/app/components/accordion/accordion-general.view.html">
                            <uib-accordion-heading>
                                <div class="col-xs-10">
                                    <span class='multiple-lines' ng-class="{'bold': ctrl.open_11}">{{'support_guests.faq_11' | translate}}</span>
                                </div>
                                <div class="col-xs-2 no-padding">
                                    <div class="accordion-opener">
                                        <a ng-href="" ng-if="ctrl.open_11" class="icon icon-minus toggle-open i-6x"></a>
                                        <a ng-href="" ng-if="!ctrl.open_11" class="icon icon-plus toggle-open i-6x"></a>
                                    </div>
                                </div>
                            </uib-accordion-heading>
                            <div class="accordion-content"><p translate>{{'support_guests.faq_11_text'}}</p></div>
                        </div>
                    </uib-accordion>
                    <uib-accordion template-url="/users/app/components/accordion/accordion.view.html">
                        <div class="margin-bottom-xs" uib-accordion-group is-open="ctrl.open_12"
                             template-url="/users/app/components/accordion/accordion-general.view.html">
                            <uib-accordion-heading>
                                <div class="col-xs-10">
                                    <span class='multiple-lines' ng-class="{'bold': ctrl.open_12}">{{'support_guests.faq_12' | translate}}</span>
                                </div>
                                <div class="col-xs-2 no-padding">
                                    <div class="accordion-opener">
                                        <a ng-href="" ng-if="ctrl.open_12" class="icon icon-minus toggle-open i-6x"></a>
                                        <a ng-href="" ng-if="!ctrl.open_12" class="icon icon-plus toggle-open i-6x"></a>
                                    </div>
                                </div>
                            </uib-accordion-heading>
                            <div class="accordion-content"><p translate>{{'support_guests.faq_12_text'}}</p></div>
                        </div>
                    </uib-accordion>
                    <uib-accordion template-url="/users/app/components/accordion/accordion.view.html">
                        <div class="margin-bottom-xs" uib-accordion-group is-open="ctrl.open_13"
                             template-url="/users/app/components/accordion/accordion-general.view.html">
                            <uib-accordion-heading>
                                <div class="col-xs-10">
                                    <span class='multiple-lines' ng-class="{'bold': ctrl.open_13}">{{'support_guests.faq_13' | translate}}</span>
                                </div>
                                <div class="col-xs-2 no-padding">
                                    <div class="accordion-opener">
                                        <a ng-href="" ng-if="ctrl.open_13" class="icon icon-minus toggle-open i-6x"></a>
                                        <a ng-href="" ng-if="!ctrl.open_13" class="icon icon-plus toggle-open i-6x"></a>
                                    </div>
                                </div>
                            </uib-accordion-heading>
                            <div class="accordion-content"><p translate>{{'support_guests.faq_13_text'}}</p></div>
                        </div>
                    </uib-accordion>
                    <uib-accordion template-url="/users/app/components/accordion/accordion.view.html">
                        <div class="margin-bottom-xs" uib-accordion-group is-open="ctrl.open_14"
                             template-url="/users/app/components/accordion/accordion-general.view.html">
                            <uib-accordion-heading>
                                <div class="col-xs-10">
                                    <span class='multiple-lines' ng-class="{'bold': ctrl.open_14}">{{'support_guests.faq_14' | translate}}</span>
                                </div>
                                <div class="col-xs-2 no-padding">
                                    <div class="accordion-opener">
                                        <a ng-href="" ng-if="ctrl.open_14" class="icon icon-minus toggle-open i-6x"></a>
                                        <a ng-href="" ng-if="!ctrl.open_14" class="icon icon-plus toggle-open i-6x"></a>
                                    </div>
                                </div>
                            </uib-accordion-heading>
                            <div class="accordion-content"><p translate>{{'support_guests.faq_14_text'}}</p></div>
                        </div>
                    </uib-accordion>
                    <uib-accordion template-url="/users/app/components/accordion/accordion.view.html">
                        <div class="margin-bottom-xs" uib-accordion-group is-open="ctrl.open_15"
                             template-url="/users/app/components/accordion/accordion-general.view.html">
                            <uib-accordion-heading>
                                <div class="col-xs-10">
                                    <span class='multiple-lines' ng-class="{'bold': ctrl.open_15}">{{'support_guests.faq_15' | translate}}</span>
                                </div>
                                <div class="col-xs-2 no-padding">
                                    <div class="accordion-opener">
                                        <a ng-href="" ng-if="ctrl.open_15" class="icon icon-minus toggle-open i-6x"></a>
                                        <a ng-href="" ng-if="!ctrl.open_15" class="icon icon-plus toggle-open i-6x"></a>
                                    </div>
                                </div>
                            </uib-accordion-heading>
                            <div class="accordion-content"><p translate>{{'support_guests.faq_15_text'}}</p></div>
                        </div>
                    </uib-accordion>
                    <uib-accordion template-url="/users/app/components/accordion/accordion.view.html">
                        <div class="margin-bottom-xs" uib-accordion-group is-open="ctrl.open_16"
                             template-url="/users/app/components/accordion/accordion-general.view.html">
                            <uib-accordion-heading>
                                <div class="col-xs-10">
                                    <span class='multiple-lines' ng-class="{'bold': ctrl.open_16}">{{'support_guests.faq_16' | translate}}</span>
                                </div>
                                <div class="col-xs-2 no-padding">
                                    <div class="accordion-opener">
                                        <a ng-href="" ng-if="ctrl.open_16" class="icon icon-minus toggle-open i-6x"></a>
                                        <a ng-href="" ng-if="!ctrl.open_16" class="icon icon-plus toggle-open i-6x"></a>
                                    </div>
                                </div>
                            </uib-accordion-heading>
                            <div class="accordion-content"><p translate>{{'support_guests.faq_16_text'}}</p></div>
                        </div>
                    </uib-accordion>
                    <uib-accordion template-url="/users/app/components/accordion/accordion.view.html">
                        <div class="margin-bottom-xs" uib-accordion-group is-open="ctrl.open_17"
                             template-url="/users/app/components/accordion/accordion-general.view.html">
                            <uib-accordion-heading>
                                <div class="col-xs-10">
                                    <span class='multiple-lines' ng-class="{'bold': ctrl.open_17}">{{'support_guests.faq_17' | translate}}</span>
                                </div>
                                <div class="col-xs-2 no-padding">
                                    <div class="accordion-opener">
                                        <a ng-href="" ng-if="ctrl.open_17" class="icon icon-minus toggle-open i-6x"></a>
                                        <a ng-href="" ng-if="!ctrl.open_17" class="icon icon-plus toggle-open i-6x"></a>
                                    </div>
                                </div>
                            </uib-accordion-heading>
                            <div class="accordion-content"><p translate>{{'support_guests.faq_17_text'}}</p></div>
                        </div>
                    </uib-accordion>
                    <uib-accordion template-url="/users/app/components/accordion/accordion.view.html">
                        <div class="margin-bottom-xs" uib-accordion-group is-open="ctrl.open_18"
                             template-url="/users/app/components/accordion/accordion-general.view.html">
                            <uib-accordion-heading>
                                <div class="col-xs-10">
                                    <span class='multiple-lines' ng-class="{'bold': ctrl.open_18}">{{'support_guests.faq_18' | translate}}</span>
                                </div>
                                <div class="col-xs-2 no-padding">
                                    <div class="accordion-opener">
                                        <a ng-href="" ng-if="ctrl.open_18" class="icon icon-minus toggle-open i-6x"></a>
                                        <a ng-href="" ng-if="!ctrl.open_18" class="icon icon-plus toggle-open i-6x"></a>
                                    </div>
                                </div>
                            </uib-accordion-heading>
                            <div class="accordion-content"><p translate>{{'support_guests.faq_18_text'}}</p></div>
                        </div>
                    </uib-accordion>
                    <uib-accordion template-url="/users/app/components/accordion/accordion.view.html">
                        <div class="margin-bottom-xs" uib-accordion-group is-open="ctrl.open_19"
                             template-url="/users/app/components/accordion/accordion-general.view.html">
                            <uib-accordion-heading>
                                <div class="col-xs-10">
                                    <span class='multiple-lines' ng-class="{'bold': ctrl.open_19}">{{'support_guests.faq_19' | translate}}</span>
                                </div>
                                <div class="col-xs-2 no-padding">
                                    <div class="accordion-opener">
                                        <a ng-href="" ng-if="ctrl.open_19" class="icon icon-minus toggle-open i-6x"></a>
                                        <a ng-href="" ng-if="!ctrl.open_19" class="icon icon-plus toggle-open i-6x"></a>
                                    </div>
                                </div>
                            </uib-accordion-heading>
                            <div class="accordion-content"><p translate>{{'support_guests.faq_19_text'}}</p></div>
                        </div>
                    </uib-accordion>
                    <uib-accordion template-url="/users/app/components/accordion/accordion.view.html">
                        <div class="margin-bottom-xs" uib-accordion-group is-open="ctrl.open_20"
                             template-url="/users/app/components/accordion/accordion-general.view.html">
                            <uib-accordion-heading>
                                <div class="col-xs-10">
                                    <span class='multiple-lines' ng-class="{'bold': ctrl.open_20}">{{'support_guests.faq_20' | translate}}</span>
                                </div>
                                <div class="col-xs-2 no-padding">
                                    <div class="accordion-opener">
                                        <a ng-href="" ng-if="ctrl.open_20" class="icon icon-minus toggle-open i-6x"></a>
                                        <a ng-href="" ng-if="!ctrl.open_20" class="icon icon-plus toggle-open i-6x"></a>
                                    </div>
                                </div>
                            </uib-accordion-heading>
                            <div class="accordion-content"><p translate>{{'support_guests.faq_20_text'}}</p></div>
                        </div>
                    </uib-accordion>
                </div>
            </div>
        </div>
    </div>
    <footer></footer>
</div>
<div ng-show="ctrl.loading || ctrl.translations.loading" class="loader-alt inside-parent"></div>
