<!--BECOME CAPTAIN-->
<div ng-hide="ctrl.loading || ctrl.translations.loading">
    <div class="background-concrete bottom-border">
        <div class="container-fluid view-container">
            <div class="row support-section support-container">
                <div class="col-xs-12 padding">
                    <h1 class="support-section-heading text-center hidden-xs">{{'support.become_captain' | translate}}</h1>
                    <h3 class="support-section-heading text-center visible-xs">{{'support.become_captain' | translate}}</h3>
                    <div class="section-separator"></div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row support-content">
                                <div class="col-sm-6 support-img-container">
                                    <img class="hidden-xs support-img left"
                                         src="https://res.cloudinary.com/naustrip/image/upload/v1496027078/production/assets/img/support/become-captain.png">
                                </div>
                                <div class="col-sm-6 support-text">
                                    <p translate>{{'support.owner'}}</p>
                                    <p translate>{{'support.on_captain'}}</p>
                                    <p translate>{{'support.collaborate'}}</p>
                                    <p translate>{{'support.do_not_wait'}}</p>
                                    <p translate>{{'support.promote'}}</p>
                                </div>
                            </div>
                            <div class="support-blue-box"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--HOW IT WORKS-->
    <div class="bottom-border">
        <div class="container-fluid view-container">
            <div class="row support-section support-container">
                <div class="col-xs-12 padding">
                    <h1 class="support-section-heading text-center hidden-xs">{{'support.how_it_works' | translate}}</h1>
                    <h3 class="support-section-heading text-center visible-xs">{{'support.how_it_works' | translate}}</h3>
                    <div class="section-separator"></div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row support-content">
                                <div class="col-sm-5 support-text">
                                    <p class="margin-top-sm" translate>{{'support.to_insert'}}</p>
                                    <div class="support-step margin-bottom-xs">
                                        <img src="https://res.cloudinary.com/naustrip/image/upload/v1496032836/production/assets/img/support/step.png">
                                        <p translate>{{'support.click_on'}}</p>
                                    </div>
                                    <div class="support-step margin-bottom-xs">
                                        <img src="https://res.cloudinary.com/naustrip/image/upload/v1496032836/production/assets/img/support/step.png">
                                        <p translate>{{'support.check_email'}}</p>
                                    </div>
                                    <div class="support-step margin-bottom-xs">
                                        <img src="https://res.cloudinary.com/naustrip/image/upload/v1496032836/production/assets/img/support/step.png">
                                        <p translate>{{'support.wait'}}</p>
                                    </div>
                                    <div class="support-step margin-bottom-xs">
                                        <img src="https://res.cloudinary.com/naustrip/image/upload/v1496032836/production/assets/img/support/step.png">
                                        <p translate>{{'support.once'}}</p>
                                    </div>
                                    <p><strong translate>{{'support.free_service'}}</strong></p>
                                </div>
                                <div class="col-sm-7 support-img-container">
                                    <img class="hidden-xs support-img right"
                                         src="https://res.cloudinary.com/naustrip/image/upload/v1496030383/production/assets/img/support/how-it-works-captain.png">
                                </div>
                            </div>
                            <div class="support-blue-box"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--FAQ-->
    <div class="background-concrete">
        <div class="container-fluid view-container">
            <div class="row support-section support-container">
                <div class="col-xs-12 padding">
                    <h1 class="support-section-heading text-center hidden-xs">{{'support.faq' | translate}}</h1>
                    <h3 class="support-section-heading text-center visible-xs">{{'support.faq' | translate}}</h3>
                    <div class="section-separator"></div>
                    <uib-accordion template-url="/users/app/components/accordion/accordion.view.html">
                        <div class="margin-bottom-xs" uib-accordion-group is-open="ctrl.open_1"
                             template-url="/users/app/components/accordion/accordion-general.view.html">
                            <uib-accordion-heading>
                                <div class="col-xs-10">
                                    <span class='multiple-lines' ng-class="{'bold': ctrl.open_1}">{{'support.faq_1' | translate}}</span>
                                </div>
                                <div class="col-xs-2 no-padding">
                                    <div class="accordion-opener">
                                        <a ng-href="" ng-if="ctrl.open_1" class="icon icon-minus toggle-open i-6x"></a>
                                        <a ng-href="" ng-if="!ctrl.open_1" class="icon icon-plus toggle-open i-6x"></a>
                                    </div>
                                </div>
                            </uib-accordion-heading>
                            <div class="accordion-content"><p translate>{{'support.faq_1_text'}}</p></div>
                        </div>
                    </uib-accordion>
                    <uib-accordion template-url="/users/app/components/accordion/accordion.view.html">
                        <div class="margin-bottom-xs" uib-accordion-group is-open="ctrl.open_2"
                             template-url="/users/app/components/accordion/accordion-general.view.html">
                            <uib-accordion-heading>
                                <div class="col-xs-10">
                                    <span class='multiple-lines' ng-class="{'bold': ctrl.open_2}">{{'support.faq_2' | translate}}</span>
                                </div>
                                <div class="col-xs-2 no-padding">
                                    <div class="accordion-opener">
                                        <a ng-href="" ng-if="ctrl.open_2" class="icon icon-minus toggle-open i-6x"></a>
                                        <a ng-href="" ng-if="!ctrl.open_2" class="icon icon-plus toggle-open i-6x"></a>
                                    </div>
                                </div>
                            </uib-accordion-heading>
                            <div class="accordion-content"><p translate>{{'support.faq_2_text'}}</p></div>
                        </div>
                    </uib-accordion>
                    <uib-accordion template-url="/users/app/components/accordion/accordion.view.html">
                        <div class="margin-bottom-xs" uib-accordion-group is-open="ctrl.open_3"
                             template-url="/users/app/components/accordion/accordion-general.view.html">
                            <uib-accordion-heading>
                                <div class="col-xs-10">
                                    <span class='multiple-lines' ng-class="{'bold': ctrl.open_3}">{{'support.faq_3' | translate}}</span>
                                </div>
                                <div class="col-xs-2 no-padding">
                                    <div class="accordion-opener">
                                        <a ng-href="" ng-if="ctrl.open_3" class="icon icon-minus toggle-open i-6x"></a>
                                        <a ng-href="" ng-if="!ctrl.open_3" class="icon icon-plus toggle-open i-6x"></a>
                                    </div>
                                </div>
                            </uib-accordion-heading>
                            <div class="accordion-content"><p translate>{{'support.faq_3_text'}}</p></div>
                        </div>
                    </uib-accordion>
                    <uib-accordion template-url="/users/app/components/accordion/accordion.view.html">
                        <div class="margin-bottom-xs" uib-accordion-group is-open="ctrl.open_4"
                             template-url="/users/app/components/accordion/accordion-general.view.html">
                            <uib-accordion-heading>
                                <div class="col-xs-10">
                                    <span class='multiple-lines' ng-class="{'bold': ctrl.open_4}">{{'support.faq_4' | translate}}</span>
                                </div>
                                <div class="col-xs-2 no-padding">
                                    <div class="accordion-opener">
                                        <a ng-href="" ng-if="ctrl.open_4" class="icon icon-minus toggle-open i-6x"></a>
                                        <a ng-href="" ng-if="!ctrl.open_4" class="icon icon-plus toggle-open i-6x"></a>
                                    </div>
                                </div>
                            </uib-accordion-heading>
                            <div class="accordion-content"><p translate>{{'support.faq_4_text'}}</p></div>
                        </div>
                    </uib-accordion>
                    <uib-accordion template-url="/users/app/components/accordion/accordion.view.html">
                        <div class="margin-bottom-xs" uib-accordion-group is-open="ctrl.open_5"
                             template-url="/users/app/components/accordion/accordion-general.view.html">
                            <uib-accordion-heading>
                                <div class="col-xs-10">
                                    <span class='multiple-lines' ng-class="{'bold': ctrl.open_5}">{{'support.faq_5' | translate}}</span>
                                </div>
                                <div class="col-xs-2 no-padding">
                                    <div class="accordion-opener">
                                        <a ng-href="" ng-if="ctrl.open_5" class="icon icon-minus toggle-open i-6x"></a>
                                        <a ng-href="" ng-if="!ctrl.open_5" class="icon icon-plus toggle-open i-6x"></a>
                                    </div>
                                </div>
                            </uib-accordion-heading>
                            <div class="accordion-content"><p translate>{{'support.faq_5_text'}}</p></div>
                        </div>
                    </uib-accordion>
                    <uib-accordion template-url="/users/app/components/accordion/accordion.view.html">
                        <div class="margin-bottom-xs" uib-accordion-group is-open="ctrl.open_6"
                             template-url="/users/app/components/accordion/accordion-general.view.html">
                            <uib-accordion-heading>
                                <div class="col-xs-10">
                                    <span class='multiple-lines' ng-class="{'bold': ctrl.open_6}">{{'support.faq_6' | translate}}</span>
                                </div>
                                <div class="col-xs-2 no-padding">
                                    <div class="accordion-opener">
                                        <a ng-href="" ng-if="ctrl.open_6" class="icon icon-minus toggle-open i-6x"></a>
                                        <a ng-href="" ng-if="!ctrl.open_6" class="icon icon-plus toggle-open i-6x"></a>
                                    </div>
                                </div>
                            </uib-accordion-heading>
                            <div class="accordion-content"><p translate>{{'support.faq_6_text'}}</p></div>
                        </div>
                    </uib-accordion>
                    <uib-accordion template-url="/users/app/components/accordion/accordion.view.html">
                        <div class="margin-bottom-xs" uib-accordion-group is-open="ctrl.open_7"
                             template-url="/users/app/components/accordion/accordion-general.view.html">
                            <uib-accordion-heading>
                                <div class="col-xs-10">
                                    <span class='multiple-lines' ng-class="{'bold': ctrl.open_7}">{{'support.faq_7' | translate}}</span>
                                </div>
                                <div class="col-xs-2 no-padding">
                                    <div class="accordion-opener">
                                        <a ng-href="" ng-if="ctrl.open_7" class="icon icon-minus toggle-open i-6x"></a>
                                        <a ng-href="" ng-if="!ctrl.open_7" class="icon icon-plus toggle-open i-6x"></a>
                                    </div>
                                </div>
                            </uib-accordion-heading>
                            <div class="accordion-content"><p translate>{{'support.faq_7_text'}}</p></div>
                        </div>
                    </uib-accordion>
                </div>
            </div>
        </div>
    </div>
    <footer></footer>
</div>
<div ng-show="ctrl.loading || ctrl.translations.loading" class="loader-alt inside-parent"></div>
