<!--Terms-->
<div ng-hide="ctrl.loading || ctrl.translations.loading">
    <div class="background-concrete bottom-border">
        <div class="container-fluid view-container">
            <div class="row support-section support-container">
                <div class="col-xs-12 padding">
                    <h1 class="support-section-heading text-center hidden-xs">{{'terms.title' | translate}}</h1>
                    <h3 class="support-section-heading text-center visible-xs">{{'terms.title' | translate}}</h3>
                    <div class="section-separator"></div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="pull-right h6 grey-nobel" translate>{{'terms.last_update'}}</p>
                        </div>
                        <div class="col-xs-12">
                            <div translate>{{'terms.terms'}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer></footer>
</div>
<div ng-show="ctrl.loading || ctrl.translations.loading" class="loader-alt inside-parent"></div>
