<ul class="breadcrumb-steps">
    <li ng-class="{active: $ctrl.step == 1}">
        <span class="before"></span>
        <span class="step-text">
            <span class="step-number">{{'captain_form_breadcrumb.one' | translate}}</span>
            <span class="step-title">{{'captain_form_breadcrumb.captain' | translate}}</span>
        </span>
        <span class="after"></span>
    </li>
    <li ng-class="{active: $ctrl.step == 2}">
        <span class="before"></span>
        <span class="step-text">
            <span class="step-number">{{'captain_form_breadcrumb.two' | translate}}</span>
            <span class="step-title">{{'captain_form_breadcrumb.boat' | translate}}</span>
        </span>
        <span class="after"></span>
    </li>
    <li ng-class="{active: $ctrl.step == 3}">
        <span class="before"></span>
        <span class="step-text">
            <span class="step-number">{{'captain_form_breadcrumb.three' | translate}}</span>
            <span class="step-title">{{'captain_form_breadcrumb.rules' | translate}}</span>
        </span>
        <span class="after"></span>
    </li>
</ul>