<div id="experience" class="container-fluid">
    <div class="row page-title">Experience - Listing</div>
    <div class="row related-actions">
        <span class="related">{{ctrl.boat.name + ' / ' + ctrl.boat.docking_place + ' / ' + ctrl.captain.first_name + ' ' + ctrl.captain.last_name}}</span>
        <div class="actions"
             ng-if="ctrl.experience.status != 'rejected' && ctrl.experience.status != 'accepted_conditionally'">
            <div class="container-icon" ng-if="ctrl.canEdit && ctrl.disabled">
                <a href="" ng-click="ctrl.startEditing()" class="icon icon-edit i-4x"></a>
            </div>
            <div class="container-icon"
                 ng-if="ctrl.experience.status == 'pending' || ctrl.experience.status == 'freezed'">
                <a href="" ng-click="ctrl.toggleSaveModal()" class="icon icon-accepted i-4x"></a>
            </div>
            <div class="container-icon" ng-if="ctrl.experience.status == 'pending'">
                <a href="" ng-click="ctrl.reject()" class="icon icon-rejected i-4x"></a>
            </div>
            <div class="container-icon" ng-if="ctrl.experience.status == 'accepted'">
                <a href="" ng-click="ctrl.freeze()" class="icon icon-freezed i-4x"></a>
            </div>
        </div>
    </div>
    <!--<div class="row form-container step-{{ctrl.view}}"-->
    <!--ng-include="'/administration/app/components/experience-form/views/step-' + ctrl.view + '.view.html'">-->

    <!--</div>-->
    <div class="row form-container step"
         ng-include="'/administration/app/components/experience-form/views/step-1.view.html'">
    </div>
    <div class="row form-container step"
         ng-include="'/administration/app/components/experience-form/views/step-2.view.html'">

    </div>
    <div class="row form-container step"
         ng-include="'/administration/app/components/experience-form/views/step-3.view.html'">

    </div>
    <div class="row form-container step"
         ng-include="'/administration/app/components/experience-form/views/step-4.view.html'">
    </div>

    <!-- ACTIONS: SUSPEND/CONTINUE -->
    <div class="row form">
        <div class="col-xs-12">
            <div class="row actions-bottom"
                 ng-if="ctrl.experience.status == 'pending'">
                <div class="col-lg-12 text-center">
                    <a href="" ng-click="ctrl.suspendStep(4)" class="suspend-button"><span
                            class="icon icon-suspended i-4x"></span>SUSPEND STEP 4</a>
                </div>
            </div>
            <div class="row actions-bottom"
                 ng-if="ctrl.experience.status != 'rejected' && ctrl.experience.status != 'accepted_conditionally'">
                <div class="col-lg-4 text-center" ng-class="{hidden: ctrl.experience.status != 'pending'}">
                    <a href="" ng-click="ctrl.reject()" class="reject-button">
                        <span class="icon icon-rejected i-4x"></span>REJECT EXPERIENCE</a>
                </div>
                <div class="col-lg-4 text-center" ng-class="{hidden: ctrl.experience.status != 'pending'}">
                    <a href="" ng-click="ctrl.suspend()" class="suspend-button"><span
                            class="icon icon-suspended i-4x"></span>SUSPEND EXPERIENCE</a>
                </div>
                <div class="col-lg-4 text-center" ng-class="{hidden: ctrl.experience.status == 'accepted'}">
                    <a href="" ng-click="ctrl.toggleSaveModal()" id="accept"><span
                            class="icon icon-accepted i-4x"></span>ACCEPT EXPERIENCE</a>
                </div>
                <div class="col-lg-4 text-center" ng-class="{hidden: ctrl.experience.status != 'accepted'}">
                    <a href="" ng-click="ctrl.freeze()" id="freeze"><span
                            class="icon icon-accepted i-4x"></span>FREEZE EXPERIENCE</a>
                </div>
            </div>
        </div>
    </div>

    <!--MODALS-->

    <!--ACCEPT-->
    <modal ng-if="ctrl.saveModal" modal-title="CONFIRM ACCEPTANCE" on-close="ctrl.toggleSaveModal()">
        <div>
            <h4 class="margin-bottom-md">Are you sure you want to accept this experience?</h4>
            <div>
                <button ng-click="ctrl.save()">Yes</button>
                <button ng-click="ctrl.toggleSaveModal()" class="pull-right">No</button>
            </div>
            <div ng-if="ctrl.formError">
                <h4>There are some required field that you have skipped, or you filled them with invalid values:</h4>
                <h5 ng-if="ctrl.part1Error" class="red">Phase 1 has errors.</h5>
                <h5 ng-if="ctrl.part2Error" class="red">Phase 2 has errors.</h5>
                <h5 ng-if="ctrl.part3Error" class="red">Phase 3 has errors.</h5>
                <h5 ng-if="ctrl.part4Error" class="red">Phase 4 has errors.</h5>
            </div>
        </div>
    </modal>

    <!--SEND SEO-->
    <modal class="modal-seo" ng-if="ctrl.seoModal" modal-title="SET SEO" on-close="ctrl.toggleSeoModal()">
        <div class="container-fluid">
            <!-- TITLE AND DESCRIPTION -->
            <div class="row">
                <div class="col-xs-12 field">
                    <div class="separator"></div>
                    <div class="input-label">Title</div>
                    <div class="input"><input required type="text" ng-maxlength="300" ng-model="ctrl.experience.title"
                                              ng-disabled="true">
                    </div>
                </div>
                <div class="col-xs-12 field">
                    <div class="separator"></div>
                    <div class="input-label">Description</div>
                    <div class="input">
                    <textarea rows="3" ng-maxlength="2000" ng-disabled="true"
                              ng-model="ctrl.experience.description"></textarea>
                    </div>
                </div>
            </div>
            <!-- SEO TITLE AND SLUG URL -->
            <div class="row">
                <div class="col-xs-12 field">
                    <div class="separator"></div>
                    <div class="input-label">Meta Title (SEO)</div>
                    <div class="input"><input required type="text" ng-maxlength="60" ng-model="ctrl.experience.seo_title"
                                              ng-blur="ctrl.getSlugUrl();"
                                              ng-disabled="false">
                    </div>
                </div>
                <div class="col-xs-12 field">
                    <div class="separator"></div>
                    <div class="input-label">Slug URL</div>
                    <div class="input"><input required type="text" ng-model="ctrl.experience.slug_url"
                                              ng-disabled="true">
                    </div>
                </div>
            </div>
            <!-- META DESCRIPTION -->
            <div class="row margin-bottom-md">
                <div class="col-xs-12 field">
                    <div class="separator"></div>
                    <div class="input-label">Meta Description (SEO)</div>
                    <div class="input">
                    <textarea required rows="3" ng-maxlength="160" ng-disabled="false"
                              ng-model="ctrl.experience.seo_description"></textarea>
                    </div>
                </div>
            </div>

            <!--CONFIRM-->
            <div class="row">
                <div class="col-xs-12">
                    <button ng-click="ctrl.saveSeoAndAccept()">Confirm</button>
                </div>
            </div>
        </div>
    </modal>
</div>

<div class="loader-container-overlay" ng-show="ctrl.loading">
    <div class="loader"></div>
</div>