<ul>
    <li ng-if="ctrl.model.attributes.status == 'pending'" ng-click="ctrl.accept()">
        <span class="icon action-icon icon-accepted i-3x"></span>
        <span class="text accepted">Approva</span>
    </li>
    <li ng-if="ctrl.model.attributes.status == 'pending'" ng-click="ctrl.reject()">
        <span class="icon action-icon icon-rejected i-3x"></span>
        <span class="text rejected">Non approvare</span>
    </li>
    <li ng-if="ctrl.model.attributes.status == 'pending'" ng-click="ctrl.suspend()">
        <span class="icon action-icon icon-suspended"></span>
        <span class="text suspended">Sospendi</span>
    </li>
    <li ng-if="ctrl.model.attributes.status == 'accepted'" ng-click="ctrl.newExperience()">
        <span class="icon action-icon icon-plus"></span>
        <span class="text suspended">New experience with this boat</span>
    </li>
</ul>