<ul>
    <li ng-if="ctrl.model.attributes.status == 'pending' || ctrl.model.attributes.status == 'freezed'" ng-click="ctrl.accept()">
        <span class="icon action-icon icon-accepted i-3x"></span>
        <span class="text accepted">Accept</span>
    </li>
    <li ng-if="ctrl.model.attributes.status == 'pending'" ng-click="ctrl.reject()">
        <span class="icon action-icon icon-rejected i-3x"></span>
        <span class="text rejected">Reject</span>
    </li>
    <li ng-if="ctrl.model.attributes.status == 'accepted'" ng-click="ctrl.freeze()">
        <span class="icon action-icon icon-freezed"></span>
        <span class="text freezed">Freeze</span>
    </li>
</ul>