#boat {
  .page-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  /* ROW WITH ADDITIONAL INFO AND ACTIONS */
  .related-actions {
    font-size: 18px;
    margin-bottom: 22px;

    .related {
      float: left;
      line-height: 54px;
    }

    .actions {
      float: right;

      .container-icon {
        display: inline-block;
        padding: 5px 0;
        padding-left: 24px;
        padding-right: 26px;
        border-right: solid 1px $light-grey;

        &:last-child {
          border-right: none;
          padding-right: 0;
        }

        .icon {
          width: 45px;
          height: 45px;
          font-size: 26px;
          line-height: 45px;
          display: inline-block;
          color: white;
          background-color: $light-blue;
          @include border-radius(100px);
          text-align: center;

          &.icon-accepted {
            background-color: $green;
          }
          &.icon-suspended {
            background-color: $orange;
          }
          &.icon-rejected {
            background-color: $red;
          }
          &.icon-freezed {
            background-color: $orange;
          }

          &:hover {
            &.icon-accepted {
              @include box-shadow(0px 0px 0px 4px rgba($green, 0.2));
            }
            &.icon-rejected {
              @include box-shadow(0px 0px 0px 4px rgba($red, 0.2));
            }
            &.icon-suspended {
              @include box-shadow(0px 0px 0px 4px rgba($orange, 0.2));
            }
            &.icon-delete {
              @include box-shadow(0px 0px 0px 4px rgba($light-blue, 0.2));
            }
          }
        }
      }
    }
  }

  .form {
    .map {
      .map-indications {
        margin-bottom: 7px;
        padding: 26px 20px;
        background-color: $medium-light-grey;
      }

      .map-box {
        padding: 0;

        #map {
          height: 300px;
        }
      }
    }

    .heading {
      margin: 0;
    }

    .actions-bottom {
      margin: 150px 0 30px 0;
      padding-top: 40px;
      border-top: solid 1px $grey-swan;

      #suspend, #continue, #accept, #reject {
        position: relative;
        display: inline-block;
        width: 320px;
        border-radius: 100px;
        margin-bottom: 10px;
        border: solid 2px;
        font-size: 18px;
        line-height: 54px;
        letter-spacing: 2px;

        .icon {
          position: absolute;
          left: 20px;
          line-height: inherit;
        }
      }

      #suspend {
        color: $orange;
        border-color: $orange;
      }

      #reject {
        color: $red;
        border-color: $red;
      }

      #continue, #accept {
        color: white;
        border-color: $green;
        background-color: $green;
      }

      /* AVOID COLLISION BETWEEN ACTION BUTTONS */
      .col-lg-4 {
        @media screen and (max-width: 1340px) {
          width: 100%;
          float: none;
        }
      }
    }

    #experience-types-group {
      #experience-types-select {
        padding: 0;
        @media screen and (max-width: 992px){
          width: 80%;
          float: left;
        }
      }

      #add-button {
        min-width: 80px;
        text-align: center;

        @media screen and (max-width: 992px){
          width: 20%;
          float: left;
        }
      }
    }

    // Move radio slightly to the right
    [class*="col-md"] {
      &.radio-group {
        padding-left: 20px;

        @media screen and (max-width: 991px){
          padding-left: 0;
        }

        &:first-child {
          padding-left: 0;
        }
      }
    }
  }
}