.booking-offsite-new {
  .form-container{
    .form, label {
      .row {
        margin-bottom: 20px;
      }

      .field {
        .input {
          input {
            min-height: 50px;
          }
        }

        .input-label {
          margin-bottom: 10px
        }
      }
    }
  }

  .red {
    color: $red;
  }

  naus-datepicker-popup {
    .select {
      height: 50px;
      line-height: 50px;
    }
  }
}