.conversation {
  .message-text {
    white-space: pre-line;
    margin: 0;
    width: 100%;
  }
  .message-time {
    margin: 0;
    text-align: right;
    font-size: 10px;
  }

  .conversation-group {
    margin-top: 20px;

    &:first-child {
      margin-top: 0;
    }
  }
  .conversation-group-date {
    text-align: center;
    margin-bottom: 34px;

    hr {
      margin: -15px 0 0 0;
    }
    span {
      display: inline-block;
      @include border-radius(20px);
      min-width: 150px;
      line-height: 30px;
      background-color: $medium-light-grey;
    }

    // Display only first user pic of a message streak
    + .conversation-message {
      .user-pic {
        display: inline-block;
      }

      .message-box {
        &:before {
          visibility: visible;
        }

        textarea {
          resize: vertical;
        }
      }

    }
  }

  .conversation-message {
    min-height: 44px;
    margin-bottom: 5px;

    .message-box {
      position: relative;
      @include border-radius(2px);
      background-color: $lighter-grey;
      margin-left: 58px;
      margin-right: 0;
      padding: 7px 5px 5px;

      &:before {
        visibility: hidden;
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border-bottom: 12px solid transparent;
        border-top: 12px solid transparent;
      }
    }
    .user-pic {
      display: none;
      float: left;
    }

    &.own-message {
      .message-box {
        background-color: rgba($light-blue, 0.15);
        margin-right: 58px;
        margin-left: 0;

        &:before {
          right: -10px;
          border-left: 10px solid rgba($light-blue, 0.15);
        }
      }
      .user-pic {
        float: right;
      }

      + .conversation-message {
        &:not(.own-message) {
          margin-top: 20px;
          .user-pic {
            display: block;
          }
          .message-box {
            &:before {
              visibility: visible;
            }
          }
        }
      }
    }

    &:not(.own-message) {
      .message-box {
        &:before {
          left: -10px;
          border-right: 10px solid $lighter-grey;
        }
      }

      + .conversation-message {
        &.own-message {
          margin-top: 20px;

          .user-pic {
            display: block;
          }

          .message-box {
            &:before {
              visibility: visible;
            }
          }
        }
      }
    }
  }

  .user-pic {
    img {
      height: 40px;
      width: 40px;
    }
  }

  hr {
    border-color: $grey-swan;
  }

  // Scrollbar
  @include naus-scrollbar;
}