#experience {
  .page-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  /* ROW WITH ADDITIONAL INFO AND ACTIONS */
  .related-actions {
    font-size: 18px;
    margin-bottom: 22px;

    .related {
      float: left;
      line-height: 54px;
    }

    .actions {
      float: right;

      .container-icon {
        display: inline-block;
        padding: 5px 0;
        padding-left: 24px;
        padding-right: 26px;
        border-right: solid 1px $light-grey;

        &:last-child {
          border-right: none;
          padding-right: 0;
        }

        .icon {
          width: 45px;
          height: 45px;
          font-size: 26px;
          line-height: 45px;
          display: inline-block;
          color: white;
          background-color: $light-blue;
          @include border-radius(100px);
          text-align: center;

          &.icon-accepted {
            background-color: $green;
          }
          &.icon-rejected {
            background-color: $red;
          }
          &.icon-suspended {
            background-color: $orange;
          }
          &.icon-freezed {
            background-color: $ice-blue;
          }

          &:hover {
            &.icon-accepted {
              @include box-shadow(0px 0px 0px 4px rgba($green, 0.2));
            }
            &.icon-rejected {
              @include box-shadow(0px 0px 0px 4px rgba($red, 0.2));
            }
            &.icon-freezed {
              @include box-shadow(0px 0px 0px 4px rgba($ice-blue, 0.2));
            }
            &.icon-suspended {
              @include box-shadow(0px 0px 0px 4px rgba($orange, 0.2));
            }
            &.icon-delete {
              @include box-shadow(0px 0px 0px 4px rgba($light-blue, 0.2));
            }
          }
        }
      }
    }
  }

  .form {
    .map {
      .map-indications {
        margin-bottom: 7px;
        padding: 26px 20px;
        background-color: $medium-light-grey;
      }

      .map-box {
        padding: 0;

        #departure_map, #arrival_map {
          height: 300px;
        }
      }
    }

    .actions-bottom {
      margin-bottom: 30px;
      padding-top: 40px;
      border-top: solid 1px $grey-swan;

      #continue, #accept, .suspend-button, .reject-button, #freeze {
        position: relative;
        display: inline-block;
        width: 360px;
        border-radius: 100px;
        margin-bottom: 10px;
        border: solid 2px;
        font-size: 18px;
        line-height: 54px;
        letter-spacing: 2px;

        .icon {
          position: absolute;
          left: 20px;
          line-height: inherit;
        }
      }

      .suspend-button {
        color: $orange;
        border-color: $orange;
      }

      #reject, .reject-button {
        color: $red;
        border-color: $red;
      }

      #continue, #accept {
        color: white;
        border-color: $green;
        background-color: $green;
      }

      #freeze {
        color: $ice-blue;
        border-color: $ice-blue;
      }

      /* AVOID COLLISION BETWEEN ACTION BUTTONS */
      .col-lg-4 {
        @media screen and (max-width: 1340px) {
          width: 100%;
          float: none;
        }
      }
    }

    .heading {
      margin: 0;
    }

    #add-button-availabilities {
      text-align: center;
    }
  }

  #additional-rules {
    .rules-title {
      display: inline-block;
      margin-bottom: 10px;
    }
  }

  #additional-services {
    .add-service-button, .edit-price-button, .remove-service-button {
      float: left;
      margin-right: 20px;
    }

    .price {
      > .row {
        &.ng-scope {
          margin-bottom: 10px;
        }
      }
    }
  }

  /* ADD MARGIN BETWEEN STEPS */
  .step {
    margin-bottom: 50px;
  }

  .period {
    padding: 0;

    > .row {
      margin-bottom: 40px;
    }
  }

  .price {
    padding: 0;

    // Every field needs to be aligned with top row
    .single {
      margin-bottom: 10px;
      .field {
        padding-right: 20px;
      }
    }
  }

  .popover-fishing-gear {
    /* Since transformation applied on this div creates a new stacking context, this is needed to make it go up */
    z-index: 10;

    .popover {
      min-width: 226px;
    }

    .input-checkboxes {
      text-align: left;
      margin-bottom: 25px;

      .checkbox-container {
        float: none;
        width: auto;
        height: 45px;
      }
    }

    .button-save {
      margin-bottom: 0;
      width: 100%;
    }
  }
  .popover-deposit, .popover-down-payment {
    /* Since transformation applied on this div creates a new stacking context, this is needed to make it go up */
    z-index: 10;

    .popover {
      min-width: 296px;
    }

    .input-checkboxes {
      text-align: left;
      margin-bottom: 25px;

      .checkbox-container {
        float: none;
        width: auto;
        height: 45px;
      }
    }
  }

  .modal-seo {
    input, textarea {
      width: 100%;
    }
  }
}