@import "../../../shared/assets/sass/bootstrap";
@import "../../../shared/assets/sass/dashboard";
@import "../../../shared/assets/sass/list";

@import "experience-form";
@import "boat-form";
@import "conversations-list";
@import "conversation";
@import "booking-offsite-new";

// MODAL
.naus-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(black, 0.7);
  overflow-y: auto;
  padding: 10% 0;

  .naus-modal-container {
    position: relative;
    width: 560px;
    height: auto;
    margin: 0 auto;
    background-color: white;
  }

  .naus-modal-title-container {
    background-color: $lighter-grey;
    height: 70px;
    line-height: 70px;
  }

  .naus-modal-content {
    padding: 40px 80px;
  }

  .icon-close {
    line-height: 70px;
    margin: 0;
    padding: 0 35px;
  }
}

// User pic
.user-pic {
  @include box-sizing(border-box);

  img {
    @include border-radius(100px);
    border: 2px solid $light-blue;
    width: 60px;
    height: 60px;
  }
}

// Accordions
$border: 1px solid $light-grey;
.dashboard-single-container {
  .accordion-body {
    padding: 19px 16px 50px;
  }
}
.dashboard-accordion {
  position: relative;
  $row-height: 60px;

  .panel {
    @include border-radius(0);
    @include box-shadow(none);
    border: none;
    margin: 0;
  }

  .accordion-heading {
    padding: 0 10px;
    min-height: 60px;
    background-color: $medium-light-grey;
    border-bottom: $border;

    .back-button {
      vertical-align: middle;
      margin-right: 15px;
    }

    .heading-text {
      margin-left: 8px;
    }

    .multiple-lines {
      display: inline-block;
      white-space: normal;
      line-height: normal;
      margin-top: 21px;
    }
  }

  .bottom-light-blue {
    border-bottom: 1px solid $light-blue !important;
  }

  .accordion-title {
    line-height: $row-height;
    overflow: hidden;
    white-space: nowrap;
  }

  .accordion-opener {
    height: 60px;
    position: absolute;
    top: 0;
    right: 10px;
  }

  .toggle-open {
    color: $light-blue;
  }

  table {
    margin: 0;
  }
  .table-responsive {
    border: none;
    margin: 0;
  }

  .table-head {
    background-color: $medium-light-blue;
  }
  .table-heading {
    height: 50px;
    vertical-align: middle;
    padding: 0 10px;
    border-bottom: $border;
  }

  .table-row {
    cursor: pointer;
    height: $row-height;
    border-bottom: $border;

    // Stile table row on hover
    &:hover {
      .table-field {
        background-color: $light-blue;

        .table-field-content {
          background-color: $dark-alice-blue;
        }
      }
    }
  }
  .table-field {
    padding: 0;
    border: none;
    vertical-align: middle;

    &.first-child-mobile {
      padding-left: 2px;

      .table-field-content {
        padding-left: 8px;
      }
    }
    &:last-child {
      padding-right: 2px;

      .table-field-content {
        padding-right: 8px;
      }
    }
  }
  .table-field-content {
    height: $row-height - 5;
    line-height: $row-height - 5;
    overflow: hidden;
    padding-left: 10px;
    white-space: nowrap;
  }
}

// Datepicker
naus-datepicker-popup {
  .input-group {
    width: 100%;
    max-width: 500px;
    margin: 0 auto 10px;
  }
  .input-group-icon, .input-group-icon-dropdown {
    .input-group-addon {
      position: relative;
      width: 0;
      border: none;
      padding: 0;
      z-index: 1;

      .icon {
        font-size: 22px;
        position: absolute;
        top: 0;
        line-height: 78px;
        padding-left: 13px;
      }
    }

    .input-group-input {
      padding-left: 47px;
    }

    &.select {
      .input-group-addon {
        .icon {
          left: 0;
          padding-left: 0;
        }
      }

      .select-text {
        padding-left: 30px;
      }
    }
  }
  .input-group-icon-dropdown {
    .input-group-addon {
      .icon-arrow-down, .icon-arrow-up {
        padding-left: 47px;
        padding-right: 9px;
        border-right: 1px solid $grey-swan;
        font-size: 10px;
      }
    }
    .language-icon {
      img {
        width: 26px;
      }
    }

    input {
      padding-left: 76px;
    }
  }
  .input-group-icon-right {
    .input-group-addon {
      float: right;

      .icon {
        padding-left: 15px;
        padding-right: 15px;
        right: 0;
      }
    }

    input {
      line-height: 44px;
      height: initial;
      padding: 2px 51px 2px 15px;
    }

    &.input-group-icon-currency {
      .input-group-addon {
        position: absolute;
        text-align: center;
        right: 0;
        width: 50px;
        height: 50px;
        line-height: 50px;
        background-color: transparent;
        border-left: 1px solid $grey-swan;
        @include border-radius(0px);

        .icon {
          display: inline-block;
          position: relative;
          line-height: 24px;
          width: 26px;
          right: auto;
          height: 26px;
          font-size: 18px;
          padding: 0;
          border: 2px solid;
          @include border-radius(100px);
          color: $navy-blue;
        }
      }
    }
  }
  .select {
    height: 78px;
    line-height: 78px;
    width: 100%;
    outline: none;
    padding-left: 15px;
    background-color: white;
    border: solid 1px $grey-swan;
    @include box-shadow(none);
    @include border-radius(4px);
  }
}

// Search controls
.list {
  .search-controls {
    float: right;
    font-size: 15px;
  }
  .search-box-container {
    margin-bottom: 20px;

    input {
      margin-left: 10px;
      width: 300px;
      height: 50px;
      padding: 0 10px;
    }
  }

  .checkbox-container {
    display: inline-block;
    margin: 0 10px;
  }
}