[class^="icon-"], [class*=" icon-"] {
  font-size: 20px;
}

[class^="icon-"].i-1x, [class*=" icon-"].i-1x {
  font-size: 10px !important;
}

[class^="icon-"].i-15x, [class*=" icon-"].i-15x {
  font-size: 15px !important;
}

[class^="icon-"].i-2x, [class*=" icon-"].i-2x {
  font-size: 22px !important;
}

[class^="icon-"].i-3x, [class*=" icon-"].i-3x {
  font-size: 24px !important;
}

[class^="icon-"].i-4x, [class*=" icon-"].i-4x {
  font-size: 26px !important;
}

[class^="icon-"].i-5x, [class*=" icon-"].i-5x {
  font-size: 30px !important;
}

[class^="icon-"].i-6x, [class*=" icon-"].i-6x {
  font-size: 34px !important;
}

[class^="icon-"].i-7x, [class*=" icon-"].i-7x {
  font-size: 38px !important;
}

[class^="icon-"].i-8x, [class*=" icon-"].i-8x {
  font-size: 42px !important;
}

#dashboard {
  position: relative;
  font-size: 14px;
  /* Bookings row START */
  /* Bookings row END */
  /* Conversations row START */
  /* Conversations row END */
}

#dashboard .popover, #dashboard li {
  font-size: 14px;
}

#dashboard #booking-messages #bookings {
  margin-bottom: 50px;
  min-width: 480px;
}

#dashboard #booking-messages #bookings .panel-body table .body tr {
  height: 45px;
}

#dashboard #booking-messages #bookings .panel-body table .footer a {
  color: #31bef8;
}

#dashboard #booking-messages #bookings .panel-heading {
  background-color: #31bef8;
}

#dashboard #booking-messages #messages {
  min-width: 250px;
  margin-bottom: 50px;
}

#dashboard #booking-messages #messages ::-webkit-scrollbar-track {
  border-radius: 100px;
  background-color: #e7e7e7;
}

#dashboard #booking-messages #messages ::-webkit-scrollbar {
  width: 10px;
  background-color: white;
}

#dashboard #booking-messages #messages ::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: #ef9033;
}

#dashboard #booking-messages #messages .panel-default {
  background-color: white;
  padding-bottom: 8px;
  -o-box-shadow: inset 0 -5px 6px 0 rgba(0, 0, 0, 0.13);
  box-shadow: inset 0 -5px 6px 0 rgba(0, 0, 0, 0.13);
  border-radius: 4px;
}

#dashboard #booking-messages #messages .panel-heading {
  background-color: #ef9033;
  height: 51px;
}

#dashboard #booking-messages #messages .panel-heading .panel-title .icon-messages {
  margin-right: 0.2em;
}

#dashboard #booking-messages #messages .panel-heading .panel-title .icon-search {
  float: right;
}

#dashboard #booking-messages #messages .profile-pic {
  width: 100%;
}

#dashboard #booking-messages #messages .message {
  overflow: hidden;
  margin: 0;
}

#dashboard #booking-messages #messages .message .profile-pic-box {
  width: 60px;
  margin-right: 10px;
  padding: 0;
}

#dashboard #booking-messages #messages .message .message-data {
  padding: 0;
}

#dashboard #booking-messages #messages .message .message-data div {
  white-space: nowrap;
}

#dashboard #booking-messages #messages .message .message-data .row {
  margin: 0;
}

#dashboard #booking-messages #messages .message .message-data .username {
  font-weight: bold;
}

#dashboard #booking-messages #messages .message .message-data .text {
  line-height: 20px;
}

#dashboard #booking-messages #messages ul {
  list-style: none;
  padding: 0;
  overflow-y: auto;
  margin: 10px 7px 2px 0;
  height: 348px;
}

#dashboard #booking-messages #messages ul li {
  min-height: 80px;
  padding: 10px 6px 10px 16px;
  border-bottom: 1px solid #d8d8d8;
}

#dashboard #booking-messages #messages ul li .container-fluid {
  padding: 0;
}

#dashboard #booking-messages #messages ul li:first-child {
  padding-top: 0;
  padding-bottom: 0;
  min-height: 70px;
}

#dashboard #booking-messages #messages ul li:first-child .message {
  margin: 0;
}

#dashboard #booking-messages #messages ul li:first-child .message .message-data .text {
  line-height: 20px;
}

#dashboard #booking-messages #messages ul li:last-child {
  border: none;
  padding-bottom: 0;
}

#dashboard #booking-messages #messages #add-message-button {
  position: absolute;
  bottom: 12px;
  right: 31px;
  width: 78px;
  height: 78px;
  line-height: 78px;
  background: #ef9033;
  border-radius: 100px;
  -o-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  color: white;
}

#dashboard #chats-single #chats {
  min-width: 480px;
}

#dashboard #chats-single #chats .panel-body table .head .col-users {
  width: 59%;
}

#dashboard #chats-single #chats .panel-body table .head .col-date {
  width: 11%;
}

#dashboard #chats-single #chats .panel-body table .head .col-alerts {
  text-align: center;
  width: 17%;
}

#dashboard #chats-single #chats .panel-body table .head .col-actions {
  text-align: center;
  width: 13%;
}

#dashboard #chats-single #chats .panel-body table .body tr {
  height: 82px;
}

#dashboard #chats-single #chats .panel-body table .body .usernames {
  font-weight: bold;
}

#dashboard #chats-single #chats .panel-body table .body .usernames .profile-pic {
  width: 30px;
  height: 30px;
}

#dashboard #chats-single #chats .panel-body table .body .usernames .profile-pic.user {
  margin-right: 30px;
  margin-left: -4px;
}

#dashboard #chats-single #chats .panel-body table .body .admin-alert .marker {
  width: 24px;
  height: 24px;
  border-radius: 100px;
  margin: auto;
}

#dashboard #chats-single #chats .panel-body table .body .admin-alert .marker.true {
  background-color: #db4f33;
}

#dashboard #chats-single #chats .panel-body table .body .admin-alert .marker.false {
  background-color: #20a650;
}

#dashboard #chats-single #chats .panel-body table .body .action {
  text-align: center;
}

#dashboard #chats-single #chats .panel-body table .footer a {
  color: #00c7ab;
}

#dashboard #chats-single #chats .panel-body table tr td:last-child, #dashboard #chats-single #chats .panel-body table tr th:last-child {
  padding-right: 18px;
}

#dashboard #chats-single #chats .panel-heading {
  background-color: #00c7ab;
}

#dashboard #popups {
  margin-bottom: 10px;
  text-align: justify;
}

#dashboard #popups:after {
  content: '';
  width: 100%;
  display: inline-block;
}

#dashboard #popups .popup {
  width: 258px;
  height: 130px;
  margin-bottom: 15px;
  padding: 5px 7px;
  display: inline-block;
}

#dashboard .panel-default {
  border-color: #f6f6f6;
  -o-box-shadow: none;
  box-shadow: none;
}

#dashboard .panel-default .panel-heading {
  height: 50px;
  padding: 0 18px;
  display: table;
  width: 100%;
  color: white;
  border: none;
}

#dashboard .panel-default .panel-heading span, #dashboard .panel-default .panel-heading .icon {
  line-height: 50px;
}

#dashboard .panel-default .panel-heading .toggle-open {
  position: absolute;
  right: 0;
}

#dashboard .panel-default .panel-heading .panel-title {
  position: relative;
  margin: 0;
  display: table-cell;
  vertical-align: middle;
}

#dashboard .panel-default .panel-body {
  border: none;
  padding: 0;
}

#dashboard .panel-default .panel-body table {
  margin-bottom: 0;
}

#dashboard .panel-default .panel-body table td, #dashboard .panel-default .panel-body table th {
  vertical-align: middle;
}

#dashboard .panel-default .panel-body table .footer {
  text-align: right;
  font-weight: bold;
}

#dashboard .panel-default .panel-body table .footer tr {
  height: 61px;
}

#dashboard .panel-default .panel-body table .footer tr svg {
  width: 20px;
  height: 20px;
}

#dashboard .panel-default .panel-body table .head > tr > th {
  border-bottom: none;
}

#dashboard .panel-default .panel-body table tr .field, #dashboard .panel-default .panel-body table tr .heading {
  overflow: hidden !important;
  text-overflow: ellipsis;
  max-width: 5px;
  white-space: nowrap;
  vertical-align: middle;
}

#dashboard .panel-default .panel-body table tr .field:first-child, #dashboard .panel-default .panel-body table tr .heading:first-child {
  padding-left: 18px;
}

#dashboard .panel-default .panel-body table tr .field:last-child, #dashboard .panel-default .panel-body table tr .heading:last-child {
  padding-right: 40px;
}

#dashboard .panel-default .panel-body table tr .field.date, #dashboard .panel-default .panel-body table tr .heading.date {
  max-width: 31px;
}

#dashboard .panel-default .panel-body table tr .field.experience, #dashboard .panel-default .panel-body table tr .field.captain, #dashboard .panel-default .panel-body table tr .heading.experience, #dashboard .panel-default .panel-body table tr .heading.captain {
  max-width: 46px;
}

#dashboard .panel-default .panel-body table tr .field.status, #dashboard .panel-default .panel-body table tr .heading.status {
  color: white;
}

#dashboard .panel-group {
  margin-bottom: 0;
}

.list {
  /* FILTERS */
  /* TABLE */
  /* PAGINATION */
}

.list .list-controls {
  min-height: 54px;
  margin-bottom: 15px;
}

.list .list-controls .count {
  font-size: 18px;
  line-height: 54px;
}

.list .list-controls .controls {
  float: right;
  font-size: 0;
}

.list .list-controls .controls .controls-icon {
  display: inline-block;
  padding: 2px 22px;
  border-right: solid 1px #d8d8d8;
  position: relative;
}

.list .list-controls .controls .controls-icon:last-child {
  padding-right: 0;
  border: none;
}

.list .list-controls .controls .controls-icon popover-icon .icon {
  color: #184889;
  font-size: 38px;
  /* MARK ACTIVE ICON */
}

.list .list-controls .controls .controls-icon popover-icon .icon.active .popover-wrapper .icon {
  box-shadow: 0 0 0 2px #e1f7ff, 0 0 0 4px #31bef8;
  background-color: #e1f7ff;
  border-radius: 50px;
}

.list .list-controls .controls .controls-icon popover-icon .icon.active .popover-wrapper .icon svg path {
  fill: #31bef8;
}

.list .list-controls .controls .controls-icon .popover {
  font-size: 16px;
  margin-top: 16px;
}

.list .list-controls .controls .controls-icon .popover .popover-content {
  padding: 0;
}

.list .list-controls .controls .controls-icon .popover .popover-content ul {
  list-style: none;
  padding-left: 2px;
  padding-right: 2px;
  margin-bottom: 0;
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li {
  padding: 10px 6px 5px 13px;
  min-width: 275px;
  height: 65px;
  border-bottom: solid 1px #d8d8d8;
  white-space: nowrap;
  position: relative;
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li .icon {
  border: 2px solid #31bef8;
  line-height: 43px;
  color: #31bef8;
  background-color: white;
  font-size: 27px;
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li .icon.icon-accepted {
  border-color: #20a650;
  color: #20a650;
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li .icon.icon-rejected {
  border-color: #db4f33;
  color: #db4f33;
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li .icon.icon-suspended {
  border-color: #f29e00;
  color: #f29e00;
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li .icon.icon-freezed {
  border-color: #4ddcdb;
  color: #4ddcdb;
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li .icon.icon-new {
  border-color: #ff6e88;
  color: #ff6e88;
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li:hover .icon {
  color: white;
  background-color: #31bef8;
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li:hover .icon.icon-accepted {
  background-color: #20a650;
  -o-box-shadow: 0px 0px 0px 4px rgba(32, 166, 80, 0.2);
  box-shadow: 0px 0px 0px 4px rgba(32, 166, 80, 0.2);
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li:hover .icon.icon-rejected {
  background-color: #db4f33;
  -o-box-shadow: 0px 0px 0px 4px rgba(219, 79, 51, 0.2);
  box-shadow: 0px 0px 0px 4px rgba(219, 79, 51, 0.2);
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li:hover .icon.icon-suspended {
  background-color: #f29e00;
  -o-box-shadow: 0px 0px 0px 4px rgba(242, 158, 0, 0.2);
  box-shadow: 0px 0px 0px 4px rgba(242, 158, 0, 0.2);
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li:hover .icon.icon-freezed {
  background-color: #4ddcdb;
  -o-box-shadow: 0px 0px 0px 4px rgba(77, 220, 219, 0.2);
  box-shadow: 0px 0px 0px 4px rgba(77, 220, 219, 0.2);
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li:hover .icon.light-blue {
  background-color: #31bef8;
  -o-box-shadow: 0px 0px 0px 4px rgba(49, 190, 248, 0.2);
  box-shadow: 0px 0px 0px 4px rgba(49, 190, 248, 0.2);
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li:hover .icon.icon-new {
  background-color: #ff6e88;
  -o-box-shadow: 0px 0px 0px 4px rgba(255, 110, 136, 0.2);
  box-shadow: 0px 0px 0px 4px rgba(255, 110, 136, 0.2);
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li:hover .text.element {
  color: #31bef8;
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li:hover .text.accepted {
  color: #20a650;
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li:hover .text.rejected {
  color: #db4f33;
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li:hover .text.suspended {
  color: #f29e00;
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li:hover .text.new {
  color: #ff6e88;
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li:hover .text.freezed {
  color: #4ddcdb;
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li:first-child {
  cursor: auto;
  padding-left: 19px;
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li:first-child .text {
  position: absolute;
  top: 24.5px;
  left: 0;
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li:first-child .count {
  padding: 0 15px;
  background-color: #ff6e88;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  position: absolute;
  top: 25.5px;
  right: 4px;
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li:last-child {
  border-bottom: none;
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li .text {
  margin-left: 19px;
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li .count {
  color: #ff6e88;
}

.list .list-controls .controls .controls-icon #icon-control-search li, .list .list-controls .controls .controls-icon #icon-control-world li {
  cursor: auto;
}

.list .list-controls .controls .controls-icon #icon-control-search .search-box, .list .list-controls .controls .controls-icon #icon-control-world .search-box {
  height: 90px;
  padding: 20px 10px;
}

.list .list-controls .controls .controls-icon #icon-control-search .search-box form, .list .list-controls .controls .controls-icon #icon-control-world .search-box form {
  width: 368px;
}

.list .list-controls .controls .controls-icon #icon-control-search .search-box:before, .list .list-controls .controls .controls-icon #icon-control-world .search-box:before {
  display: inline;
}

.list .list-controls .controls .controls-icon #icon-control-search .search-box .input, .list .list-controls .controls .controls-icon #icon-control-search .search-box .search-button, .list .list-controls .controls .controls-icon #icon-control-world .search-box .input, .list .list-controls .controls .controls-icon #icon-control-world .search-box .search-button {
  display: inline;
  height: 50px;
  outline: none;
  border: none;
}

.list .list-controls .controls .controls-icon #icon-control-search .search-box .input, .list .list-controls .controls .controls-icon #icon-control-world .search-box .input {
  float: left;
  width: 68%;
  background-color: #F2F2F2;
  padding: 0 25px;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
}

.list .list-controls .controls .controls-icon #icon-control-search .search-box .search-button, .list .list-controls .controls .controls-icon #icon-control-world .search-box .search-button {
  width: 32%;
  background-color: #31bef8;
  color: white;
  border: none;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
}

.list .list-table {
  margin-top: 15px;
}

.list .list-table .table-responsive {
  overflow: visible;
}

@media screen and (max-width: 767px) {
  .list .list-table .table-responsive {
    border: none;
    overflow-y: auto;
  }
}

.list .list-table .table {
  border-collapse: separate;
  border-spacing: 0 10px;
}

.list .list-table .table td, .list .list-table .table th {
  border: none;
  padding: 11px 20px;
  position: relative;
}

.list .list-table .table td:first-child, .list .list-table .table th:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.list .list-table .table td:last-child, .list .list-table .table th:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  min-width: 108px;
}

.list .list-table .table .head {
  color: #7798a6;
}

.list .list-table .table .head tr {
  background-color: #bfe5f5;
  height: 50px;
}

.list .list-table .table .head tr .column {
  font-weight: normal;
}

.list .list-table .table .head tr .column.alert {
  text-align: center;
  border-radius: 0;
}

.list .list-table .table .body {
  color: #5b5c59;
}

.list .list-table .table .body .record {
  background-color: white;
  height: 82px;
}

.list .list-table .table .body .record .field {
  font-size: 16px;
  font-weight: normal;
  vertical-align: middle;
}

.list .list-table .table .body .record .field .marker {
  width: 24px;
  height: 24px;
  border-radius: 100px;
  margin: auto;
  background-color: #20a650;
}

.list .list-table .table .body .record .field .marker.true {
  background-color: #db4f33;
}

.list .list-table .table .body .record .field.status, .list .list-table .table .body .record .field.title, .list .list-table .table .body .record .field.name, .list .list-table .table .body .record .field.users, .list .list-table .table .body .record .field.experience {
  white-space: nowrap;
}

.list .list-table .table .body .record .field.status .user-type, .list .list-table .table .body .record .field.title .user-type, .list .list-table .table .body .record .field.name .user-type, .list .list-table .table .body .record .field.users .user-type, .list .list-table .table .body .record .field.experience .user-type {
  color: #31bef8;
}

.list .list-table .table .body .record .field.title, .list .list-table .table .body .record .field.name, .list .list-table .table .body .record .field.users, .list .list-table .table .body .record .field.experience {
  overflow: hidden !important;
  text-overflow: ellipsis;
  max-width: 160px;
}

@media screen and (max-width: 1099px) {
  .list .list-table .table .body .record .field.title, .list .list-table .table .body .record .field.name, .list .list-table .table .body .record .field.users, .list .list-table .table .body .record .field.experience {
    max-width: 50px;
  }
}

.list .list-table .table .body .record .field.experience {
  max-width: 250px;
}

.list .list-table .table .body .record .field.date {
  min-width: 144px;
}

.list .list-table .table .body .record .field.users {
  max-width: 400px;
}

@media screen and (max-width: 1099px) {
  .list .list-table .table .body .record .field.users .profile-pic {
    display: none;
  }
}

.list .list-table .table .body .record .field.users .profile-pic.captain {
  margin-left: -12px;
  margin-right: 20px;
}

.list .list-table .table .body .record .field.action .popover .popover-content {
  padding: 0;
}

.list .list-table .table .body .record .field.action .popover .popover-content ul {
  list-style: none;
  padding-left: 2px;
  padding-right: 2px;
  margin-bottom: 0px;
}

.list .list-table .table .body .record .field.action .popover .popover-content ul li {
  min-width: 275px;
  height: 65px;
  border-bottom: solid 1px #d8d8d8;
  padding: 10px 6px 5px 13px;
  white-space: nowrap;
  position: relative;
  cursor: pointer;
}

.list .list-table .table .body .record .field.action .popover .popover-content ul li:hover .icon {
  -o-box-shadow: 0px 0px 0px 4px rgba(49, 190, 248, 0.2);
  box-shadow: 0px 0px 0px 4px rgba(49, 190, 248, 0.2);
}

.list .list-table .table .body .record .field.action .popover .popover-content ul li:hover .icon.icon-accepted {
  -o-box-shadow: 0px 0px 0px 4px rgba(32, 166, 80, 0.2);
  box-shadow: 0px 0px 0px 4px rgba(32, 166, 80, 0.2);
}

.list .list-table .table .body .record .field.action .popover .popover-content ul li:hover .icon.icon-rejected {
  -o-box-shadow: 0px 0px 0px 4px rgba(219, 79, 51, 0.2);
  box-shadow: 0px 0px 0px 4px rgba(219, 79, 51, 0.2);
}

.list .list-table .table .body .record .field.action .popover .popover-content ul li:hover .icon.icon-suspended {
  -o-box-shadow: 0px 0px 0px 4px rgba(242, 158, 0, 0.2);
  box-shadow: 0px 0px 0px 4px rgba(242, 158, 0, 0.2);
}

.list .list-table .table .body .record .field.action .popover .popover-content ul li:hover .icon.icon-freezed {
  -o-box-shadow: 0px 0px 0px 4px rgba(77, 220, 219, 0.2);
  box-shadow: 0px 0px 0px 4px rgba(77, 220, 219, 0.2);
}

.list .list-table .table .body .record .field.action .popover .popover-content ul li:hover .icon.icon-new {
  -o-box-shadow: 0px 0px 0px 4px rgba(255, 110, 136, 0.2);
  box-shadow: 0px 0px 0px 4px rgba(255, 110, 136, 0.2);
}

.list .list-table .table .body .record .field.action .popover .popover-content ul li:hover .text {
  color: #31bef8;
}

.list .list-table .table .body .record .field.action .popover .popover-content ul li:hover .text.accepted {
  color: #20a650;
}

.list .list-table .table .body .record .field.action .popover .popover-content ul li:hover .text.rejected {
  color: #db4f33;
}

.list .list-table .table .body .record .field.action .popover .popover-content ul li:hover .text.suspended {
  color: #f29e00;
}

.list .list-table .table .body .record .field.action .popover .popover-content ul li:hover .text.freezed {
  color: #4ddcdb;
}

.list .list-table .table .body .record .field.action .popover .popover-content ul li:last-child {
  border-bottom: none;
}

.list .list-table .table .body .record .field.action .popover .popover-content ul li .icon {
  background-color: #31bef8;
}

.list .list-table .table .body .record .field.action .popover .popover-content ul li .icon.icon-accepted {
  background-color: #20a650;
}

.list .list-table .table .body .record .field.action .popover .popover-content ul li .icon.icon-rejected {
  background-color: #db4f33;
}

.list .list-table .table .body .record .field.action .popover .popover-content ul li .icon.icon-suspended {
  background-color: #f29e00;
}

.list .list-table .table .body .record .field.action .popover .popover-content ul li .icon.icon-freezed {
  background-color: #4ddcdb;
}

.list .list-table .table .body .record .field.action .popover .popover-content ul li .icon.icon-new {
  background-color: #ff6e88;
}

.list .list-table .table .body .record .field.action .popover .popover-content ul li .text {
  margin-left: 19px;
}

.list .list-table .table .body .record .field.action .popover .popover-content ul li .count {
  color: #ff6e88;
}

.list .list-pagination {
  margin-top: 30px;
}

.list .list-pagination .action {
  display: inline-block;
}

.list .list-pagination .action .text {
  padding-left: 20px;
  color: #31bef8;
}

.list .list-pagination #pagination {
  float: right;
}

.list .list-pagination #pagination ul {
  margin: 0;
}

.list .list-pagination #pagination ul li a {
  padding: 12px 19px;
}

.list .list-pagination #pagination ul li.active a {
  background-color: #31bef8;
  border-color: #31bef8;
}

.list .list-pagination #pagination ul li.pagination-last a, .list .list-pagination #pagination ul li.pagination-first a {
  padding: 12px 30px;
}

.list .list-pagination #pagination ul li.disabled {
  display: none;
}

.list .pointer {
  cursor: pointer;
}

#experience {
  /* ROW WITH ADDITIONAL INFO AND ACTIONS */
  /* ADD MARGIN BETWEEN STEPS */
}

#experience .page-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

#experience .related-actions {
  font-size: 18px;
  margin-bottom: 22px;
}

#experience .related-actions .related {
  float: left;
  line-height: 54px;
}

#experience .related-actions .actions {
  float: right;
}

#experience .related-actions .actions .container-icon {
  display: inline-block;
  padding: 5px 0;
  padding-left: 24px;
  padding-right: 26px;
  border-right: solid 1px #d8d8d8;
}

#experience .related-actions .actions .container-icon:last-child {
  border-right: none;
  padding-right: 0;
}

#experience .related-actions .actions .container-icon .icon {
  width: 45px;
  height: 45px;
  font-size: 26px;
  line-height: 45px;
  display: inline-block;
  color: white;
  background-color: #31bef8;
  border-radius: 100px;
  text-align: center;
}

#experience .related-actions .actions .container-icon .icon.icon-accepted {
  background-color: #20a650;
}

#experience .related-actions .actions .container-icon .icon.icon-rejected {
  background-color: #db4f33;
}

#experience .related-actions .actions .container-icon .icon.icon-suspended {
  background-color: #f29e00;
}

#experience .related-actions .actions .container-icon .icon.icon-freezed {
  background-color: #4ddcdb;
}

#experience .related-actions .actions .container-icon .icon:hover.icon-accepted {
  -o-box-shadow: 0px 0px 0px 4px rgba(32, 166, 80, 0.2);
  box-shadow: 0px 0px 0px 4px rgba(32, 166, 80, 0.2);
}

#experience .related-actions .actions .container-icon .icon:hover.icon-rejected {
  -o-box-shadow: 0px 0px 0px 4px rgba(219, 79, 51, 0.2);
  box-shadow: 0px 0px 0px 4px rgba(219, 79, 51, 0.2);
}

#experience .related-actions .actions .container-icon .icon:hover.icon-freezed {
  -o-box-shadow: 0px 0px 0px 4px rgba(77, 220, 219, 0.2);
  box-shadow: 0px 0px 0px 4px rgba(77, 220, 219, 0.2);
}

#experience .related-actions .actions .container-icon .icon:hover.icon-suspended {
  -o-box-shadow: 0px 0px 0px 4px rgba(242, 158, 0, 0.2);
  box-shadow: 0px 0px 0px 4px rgba(242, 158, 0, 0.2);
}

#experience .related-actions .actions .container-icon .icon:hover.icon-delete {
  -o-box-shadow: 0px 0px 0px 4px rgba(49, 190, 248, 0.2);
  box-shadow: 0px 0px 0px 4px rgba(49, 190, 248, 0.2);
}

#experience .form .map .map-indications {
  margin-bottom: 7px;
  padding: 26px 20px;
  background-color: #e7e7e7;
}

#experience .form .map .map-box {
  padding: 0;
}

#experience .form .map .map-box #departure_map, #experience .form .map .map-box #arrival_map {
  height: 300px;
}

#experience .form .actions-bottom {
  margin-bottom: 30px;
  padding-top: 40px;
  border-top: solid 1px #b2b2b2;
  /* AVOID COLLISION BETWEEN ACTION BUTTONS */
}

#experience .form .actions-bottom #continue, #experience .form .actions-bottom #accept, #experience .form .actions-bottom .suspend-button, #experience .form .actions-bottom .reject-button, #experience .form .actions-bottom #freeze {
  position: relative;
  display: inline-block;
  width: 360px;
  border-radius: 100px;
  margin-bottom: 10px;
  border: solid 2px;
  font-size: 18px;
  line-height: 54px;
  letter-spacing: 2px;
}

#experience .form .actions-bottom #continue .icon, #experience .form .actions-bottom #accept .icon, #experience .form .actions-bottom .suspend-button .icon, #experience .form .actions-bottom .reject-button .icon, #experience .form .actions-bottom #freeze .icon {
  position: absolute;
  left: 20px;
  line-height: inherit;
}

#experience .form .actions-bottom .suspend-button {
  color: #f29e00;
  border-color: #f29e00;
}

#experience .form .actions-bottom #reject, #experience .form .actions-bottom .reject-button {
  color: #db4f33;
  border-color: #db4f33;
}

#experience .form .actions-bottom #continue, #experience .form .actions-bottom #accept {
  color: white;
  border-color: #20a650;
  background-color: #20a650;
}

#experience .form .actions-bottom #freeze {
  color: #4ddcdb;
  border-color: #4ddcdb;
}

@media screen and (max-width: 1340px) {
  #experience .form .actions-bottom .col-lg-4 {
    width: 100%;
    float: none;
  }
}

#experience .form .heading {
  margin: 0;
}

#experience .form #add-button-availabilities {
  text-align: center;
}

#experience #additional-rules .rules-title {
  display: inline-block;
  margin-bottom: 10px;
}

#experience #additional-services .add-service-button, #experience #additional-services .edit-price-button, #experience #additional-services .remove-service-button {
  float: left;
  margin-right: 20px;
}

#experience #additional-services .price > .row.ng-scope {
  margin-bottom: 10px;
}

#experience .step {
  margin-bottom: 50px;
}

#experience .period {
  padding: 0;
}

#experience .period > .row {
  margin-bottom: 40px;
}

#experience .price {
  padding: 0;
}

#experience .price .single {
  margin-bottom: 10px;
}

#experience .price .single .field {
  padding-right: 20px;
}

#experience .popover-fishing-gear {
  /* Since transformation applied on this div creates a new stacking context, this is needed to make it go up */
  z-index: 10;
}

#experience .popover-fishing-gear .popover {
  min-width: 226px;
}

#experience .popover-fishing-gear .input-checkboxes {
  text-align: left;
  margin-bottom: 25px;
}

#experience .popover-fishing-gear .input-checkboxes .checkbox-container {
  float: none;
  width: auto;
  height: 45px;
}

#experience .popover-fishing-gear .button-save {
  margin-bottom: 0;
  width: 100%;
}

#experience .popover-deposit, #experience .popover-down-payment {
  /* Since transformation applied on this div creates a new stacking context, this is needed to make it go up */
  z-index: 10;
}

#experience .popover-deposit .popover, #experience .popover-down-payment .popover {
  min-width: 296px;
}

#experience .popover-deposit .input-checkboxes, #experience .popover-down-payment .input-checkboxes {
  text-align: left;
  margin-bottom: 25px;
}

#experience .popover-deposit .input-checkboxes .checkbox-container, #experience .popover-down-payment .input-checkboxes .checkbox-container {
  float: none;
  width: auto;
  height: 45px;
}

#experience .modal-seo input, #experience .modal-seo textarea {
  width: 100%;
}

#boat {
  /* ROW WITH ADDITIONAL INFO AND ACTIONS */
}

#boat .page-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

#boat .related-actions {
  font-size: 18px;
  margin-bottom: 22px;
}

#boat .related-actions .related {
  float: left;
  line-height: 54px;
}

#boat .related-actions .actions {
  float: right;
}

#boat .related-actions .actions .container-icon {
  display: inline-block;
  padding: 5px 0;
  padding-left: 24px;
  padding-right: 26px;
  border-right: solid 1px #d8d8d8;
}

#boat .related-actions .actions .container-icon:last-child {
  border-right: none;
  padding-right: 0;
}

#boat .related-actions .actions .container-icon .icon {
  width: 45px;
  height: 45px;
  font-size: 26px;
  line-height: 45px;
  display: inline-block;
  color: white;
  background-color: #31bef8;
  border-radius: 100px;
  text-align: center;
}

#boat .related-actions .actions .container-icon .icon.icon-accepted {
  background-color: #20a650;
}

#boat .related-actions .actions .container-icon .icon.icon-suspended {
  background-color: #f29e00;
}

#boat .related-actions .actions .container-icon .icon.icon-rejected {
  background-color: #db4f33;
}

#boat .related-actions .actions .container-icon .icon.icon-freezed {
  background-color: #f29e00;
}

#boat .related-actions .actions .container-icon .icon:hover.icon-accepted {
  -o-box-shadow: 0px 0px 0px 4px rgba(32, 166, 80, 0.2);
  box-shadow: 0px 0px 0px 4px rgba(32, 166, 80, 0.2);
}

#boat .related-actions .actions .container-icon .icon:hover.icon-rejected {
  -o-box-shadow: 0px 0px 0px 4px rgba(219, 79, 51, 0.2);
  box-shadow: 0px 0px 0px 4px rgba(219, 79, 51, 0.2);
}

#boat .related-actions .actions .container-icon .icon:hover.icon-suspended {
  -o-box-shadow: 0px 0px 0px 4px rgba(242, 158, 0, 0.2);
  box-shadow: 0px 0px 0px 4px rgba(242, 158, 0, 0.2);
}

#boat .related-actions .actions .container-icon .icon:hover.icon-delete {
  -o-box-shadow: 0px 0px 0px 4px rgba(49, 190, 248, 0.2);
  box-shadow: 0px 0px 0px 4px rgba(49, 190, 248, 0.2);
}

#boat .form .map .map-indications {
  margin-bottom: 7px;
  padding: 26px 20px;
  background-color: #e7e7e7;
}

#boat .form .map .map-box {
  padding: 0;
}

#boat .form .map .map-box #map {
  height: 300px;
}

#boat .form .heading {
  margin: 0;
}

#boat .form .actions-bottom {
  margin: 150px 0 30px 0;
  padding-top: 40px;
  border-top: solid 1px #b2b2b2;
  /* AVOID COLLISION BETWEEN ACTION BUTTONS */
}

#boat .form .actions-bottom #suspend, #boat .form .actions-bottom #continue, #boat .form .actions-bottom #accept, #boat .form .actions-bottom #reject {
  position: relative;
  display: inline-block;
  width: 320px;
  border-radius: 100px;
  margin-bottom: 10px;
  border: solid 2px;
  font-size: 18px;
  line-height: 54px;
  letter-spacing: 2px;
}

#boat .form .actions-bottom #suspend .icon, #boat .form .actions-bottom #continue .icon, #boat .form .actions-bottom #accept .icon, #boat .form .actions-bottom #reject .icon {
  position: absolute;
  left: 20px;
  line-height: inherit;
}

#boat .form .actions-bottom #suspend {
  color: #f29e00;
  border-color: #f29e00;
}

#boat .form .actions-bottom #reject {
  color: #db4f33;
  border-color: #db4f33;
}

#boat .form .actions-bottom #continue, #boat .form .actions-bottom #accept {
  color: white;
  border-color: #20a650;
  background-color: #20a650;
}

@media screen and (max-width: 1340px) {
  #boat .form .actions-bottom .col-lg-4 {
    width: 100%;
    float: none;
  }
}

#boat .form #experience-types-group #experience-types-select {
  padding: 0;
}

@media screen and (max-width: 992px) {
  #boat .form #experience-types-group #experience-types-select {
    width: 80%;
    float: left;
  }
}

#boat .form #experience-types-group #add-button {
  min-width: 80px;
  text-align: center;
}

@media screen and (max-width: 992px) {
  #boat .form #experience-types-group #add-button {
    width: 20%;
    float: left;
  }
}

#boat .form [class*="col-md"].radio-group {
  padding-left: 20px;
}

@media screen and (max-width: 991px) {
  #boat .form [class*="col-md"].radio-group {
    padding-left: 0;
  }
}

#boat .form [class*="col-md"].radio-group:first-child {
  padding-left: 0;
}

#conversations .user-pic {
  display: inline-block;
}

#conversations .right-pic {
  margin-left: -12px;
}

.conversation .message-text {
  white-space: pre-line;
  margin: 0;
  width: 100%;
}

.conversation .message-time {
  margin: 0;
  text-align: right;
  font-size: 10px;
}

.conversation .conversation-group {
  margin-top: 20px;
}

.conversation .conversation-group:first-child {
  margin-top: 0;
}

.conversation .conversation-group-date {
  text-align: center;
  margin-bottom: 34px;
}

.conversation .conversation-group-date hr {
  margin: -15px 0 0 0;
}

.conversation .conversation-group-date span {
  display: inline-block;
  border-radius: 20px;
  min-width: 150px;
  line-height: 30px;
  background-color: #e7e7e7;
}

.conversation .conversation-group-date + .conversation-message .user-pic {
  display: inline-block;
}

.conversation .conversation-group-date + .conversation-message .message-box:before {
  visibility: visible;
}

.conversation .conversation-group-date + .conversation-message .message-box textarea {
  resize: vertical;
}

.conversation .conversation-message {
  min-height: 44px;
  margin-bottom: 5px;
}

.conversation .conversation-message .message-box {
  position: relative;
  border-radius: 2px;
  background-color: #f6f6f6;
  margin-left: 58px;
  margin-right: 0;
  padding: 7px 5px 5px;
}

.conversation .conversation-message .message-box:before {
  visibility: hidden;
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-bottom: 12px solid transparent;
  border-top: 12px solid transparent;
}

.conversation .conversation-message .user-pic {
  display: none;
  float: left;
}

.conversation .conversation-message.own-message .message-box {
  background-color: rgba(49, 190, 248, 0.15);
  margin-right: 58px;
  margin-left: 0;
}

.conversation .conversation-message.own-message .message-box:before {
  right: -10px;
  border-left: 10px solid rgba(49, 190, 248, 0.15);
}

.conversation .conversation-message.own-message .user-pic {
  float: right;
}

.conversation .conversation-message.own-message + .conversation-message:not(.own-message) {
  margin-top: 20px;
}

.conversation .conversation-message.own-message + .conversation-message:not(.own-message) .user-pic {
  display: block;
}

.conversation .conversation-message.own-message + .conversation-message:not(.own-message) .message-box:before {
  visibility: visible;
}

.conversation .conversation-message:not(.own-message) .message-box:before {
  left: -10px;
  border-right: 10px solid #f6f6f6;
}

.conversation .conversation-message:not(.own-message) + .conversation-message.own-message {
  margin-top: 20px;
}

.conversation .conversation-message:not(.own-message) + .conversation-message.own-message .user-pic {
  display: block;
}

.conversation .conversation-message:not(.own-message) + .conversation-message.own-message .message-box:before {
  visibility: visible;
}

.conversation .user-pic img {
  height: 40px;
  width: 40px;
}

.conversation hr {
  border-color: #b2b2b2;
}

.conversation ::-webkit-scrollbar-track, .conversation ::-webkit-scrollbar, .conversation ::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.conversation ::-webkit-scrollbar-track {
  background-color: #f6f6f6;
}

.conversation ::-webkit-scrollbar {
  width: 8px;
  background-color: #f6f6f6;
}

.conversation ::-webkit-scrollbar-thumb {
  background-color: #31bef8;
}

.booking-offsite-new .form-container .form .row, .booking-offsite-new .form-container label .row {
  margin-bottom: 20px;
}

.booking-offsite-new .form-container .form .field .input input, .booking-offsite-new .form-container label .field .input input {
  min-height: 50px;
}

.booking-offsite-new .form-container .form .field .input-label, .booking-offsite-new .form-container label .field .input-label {
  margin-bottom: 10px;
}

.booking-offsite-new .red {
  color: #db4f33;
}

.booking-offsite-new naus-datepicker-popup .select {
  height: 50px;
  line-height: 50px;
}

.naus-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.7);
  overflow-y: auto;
  padding: 10% 0;
}

.naus-modal .naus-modal-container {
  position: relative;
  width: 560px;
  height: auto;
  margin: 0 auto;
  background-color: white;
}

.naus-modal .naus-modal-title-container {
  background-color: #f6f6f6;
  height: 70px;
  line-height: 70px;
}

.naus-modal .naus-modal-content {
  padding: 40px 80px;
}

.naus-modal .icon-close {
  line-height: 70px;
  margin: 0;
  padding: 0 35px;
}

.user-pic {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.user-pic img {
  border-radius: 100px;
  border: 2px solid #31bef8;
  width: 60px;
  height: 60px;
}

.dashboard-single-container .accordion-body {
  padding: 19px 16px 50px;
}

.dashboard-accordion {
  position: relative;
}

.dashboard-accordion .panel {
  border-radius: 0;
  -o-box-shadow: none;
  box-shadow: none;
  border: none;
  margin: 0;
}

.dashboard-accordion .accordion-heading {
  padding: 0 10px;
  min-height: 60px;
  background-color: #e7e7e7;
  border-bottom: 1px solid #d8d8d8;
}

.dashboard-accordion .accordion-heading .back-button {
  vertical-align: middle;
  margin-right: 15px;
}

.dashboard-accordion .accordion-heading .heading-text {
  margin-left: 8px;
}

.dashboard-accordion .accordion-heading .multiple-lines {
  display: inline-block;
  white-space: normal;
  line-height: normal;
  margin-top: 21px;
}

.dashboard-accordion .bottom-light-blue {
  border-bottom: 1px solid #31bef8 !important;
}

.dashboard-accordion .accordion-title {
  line-height: 60px;
  overflow: hidden;
  white-space: nowrap;
}

.dashboard-accordion .accordion-opener {
  height: 60px;
  position: absolute;
  top: 0;
  right: 10px;
}

.dashboard-accordion .toggle-open {
  color: #31bef8;
}

.dashboard-accordion table {
  margin: 0;
}

.dashboard-accordion .table-responsive {
  border: none;
  margin: 0;
}

.dashboard-accordion .table-head {
  background-color: #bfe5f5;
}

.dashboard-accordion .table-heading {
  height: 50px;
  vertical-align: middle;
  padding: 0 10px;
  border-bottom: 1px solid #d8d8d8;
}

.dashboard-accordion .table-row {
  cursor: pointer;
  height: 60px;
  border-bottom: 1px solid #d8d8d8;
}

.dashboard-accordion .table-row:hover .table-field {
  background-color: #31bef8;
}

.dashboard-accordion .table-row:hover .table-field .table-field-content {
  background-color: #e6f7fe;
}

.dashboard-accordion .table-field {
  padding: 0;
  border: none;
  vertical-align: middle;
}

.dashboard-accordion .table-field.first-child-mobile {
  padding-left: 2px;
}

.dashboard-accordion .table-field.first-child-mobile .table-field-content {
  padding-left: 8px;
}

.dashboard-accordion .table-field:last-child {
  padding-right: 2px;
}

.dashboard-accordion .table-field:last-child .table-field-content {
  padding-right: 8px;
}

.dashboard-accordion .table-field-content {
  height: 55px;
  line-height: 55px;
  overflow: hidden;
  padding-left: 10px;
  white-space: nowrap;
}

naus-datepicker-popup .input-group {
  width: 100%;
  max-width: 500px;
  margin: 0 auto 10px;
}

naus-datepicker-popup .input-group-icon .input-group-addon, naus-datepicker-popup .input-group-icon-dropdown .input-group-addon {
  position: relative;
  width: 0;
  border: none;
  padding: 0;
  z-index: 1;
}

naus-datepicker-popup .input-group-icon .input-group-addon .icon, naus-datepicker-popup .input-group-icon-dropdown .input-group-addon .icon {
  font-size: 22px;
  position: absolute;
  top: 0;
  line-height: 78px;
  padding-left: 13px;
}

naus-datepicker-popup .input-group-icon .input-group-input, naus-datepicker-popup .input-group-icon-dropdown .input-group-input {
  padding-left: 47px;
}

naus-datepicker-popup .input-group-icon.select .input-group-addon .icon, naus-datepicker-popup .input-group-icon-dropdown.select .input-group-addon .icon {
  left: 0;
  padding-left: 0;
}

naus-datepicker-popup .input-group-icon.select .select-text, naus-datepicker-popup .input-group-icon-dropdown.select .select-text {
  padding-left: 30px;
}

naus-datepicker-popup .input-group-icon-dropdown .input-group-addon .icon-arrow-down, naus-datepicker-popup .input-group-icon-dropdown .input-group-addon .icon-arrow-up {
  padding-left: 47px;
  padding-right: 9px;
  border-right: 1px solid #b2b2b2;
  font-size: 10px;
}

naus-datepicker-popup .input-group-icon-dropdown .language-icon img {
  width: 26px;
}

naus-datepicker-popup .input-group-icon-dropdown input {
  padding-left: 76px;
}

naus-datepicker-popup .input-group-icon-right .input-group-addon {
  float: right;
}

naus-datepicker-popup .input-group-icon-right .input-group-addon .icon {
  padding-left: 15px;
  padding-right: 15px;
  right: 0;
}

naus-datepicker-popup .input-group-icon-right input {
  line-height: 44px;
  height: initial;
  padding: 2px 51px 2px 15px;
}

naus-datepicker-popup .input-group-icon-right.input-group-icon-currency .input-group-addon {
  position: absolute;
  text-align: center;
  right: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: transparent;
  border-left: 1px solid #b2b2b2;
  border-radius: 0px;
}

naus-datepicker-popup .input-group-icon-right.input-group-icon-currency .input-group-addon .icon {
  display: inline-block;
  position: relative;
  line-height: 24px;
  width: 26px;
  right: auto;
  height: 26px;
  font-size: 18px;
  padding: 0;
  border: 2px solid;
  border-radius: 100px;
  color: #184889;
}

naus-datepicker-popup .select {
  height: 78px;
  line-height: 78px;
  width: 100%;
  outline: none;
  padding-left: 15px;
  background-color: white;
  border: solid 1px #b2b2b2;
  -o-box-shadow: none;
  box-shadow: none;
  border-radius: 4px;
}

.list .search-controls {
  float: right;
  font-size: 15px;
}

.list .search-box-container {
  margin-bottom: 20px;
}

.list .search-box-container input {
  margin-left: 10px;
  width: 300px;
  height: 50px;
  padding: 0 10px;
}

.list .checkbox-container {
  display: inline-block;
  margin: 0 10px;
}

/*# sourceMappingURL=style.css.map */
