<div id="boats" class="container-fluid list">
    <div class="row list-controls">
        <span class="count">{{ctrl.perPage}} di {{ctrl.totalItems}} BOATS</span>
        <div class="search-controls hidden">
            <div class="search-box-container">
                <label for="search-box">Search boat: </label>
                <input id="search-box" type="text" ng-model="ctrl.searchFilter"
                       ng-change="ctrl.changeFilter()"/>
            </div>
        </div>
    </div>
    <div class="row list-table">
        <div class="table-responsive">
            <table class="table" ng-if="!ctrl.loading">
                <thead class="head">
                <tr>
                    <th ng-repeat="column in ctrl.columns" class="column {{column.name}}">{{column.heading}}</th>
                </tr>
                </thead>
                <tbody class="body">
                <tr class="record" ng-repeat="boat in ctrl.data track by $index">
                    <td class="field name">
                        {{boat.attributes.name}}
                    </td>
                    <td class="field date">
                        {{boat.attributes.created_at}}
                    </td>
                    <td class="field docking-place">
                        {{boat.attributes.docking_place}}
                    </td>
                    <td class="field captain">
                        {{boat.attributes.captain_first_name + ' ' + boat.attributes.captain_last_name}}
                    </td>
                    <td class="field status">
                        <span class="status-text {{boat.attributes.status}}">{{ctrl.getStatusName(boat.attributes.status)}}</span>
                    </td>
                    <td class="field action">
                        <a href="boats/{{boat.id}}" class="icon action-icon icon-preview">
                        </a>
                        <list-actions ng-if="boat.attributes.status != 'rejected'" model=boat type="boat"></list-actions>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="loader" ng-if="ctrl.loading"></div>
        </div>
    </div>
    <div class="row list-pagination">
        <a href="#">
            <div class="action">
                <span class="icon action-icon icon-plus"></span>
                <span class="text">Insert new boat</span>
            </div>
        </a>
        <div id="pagination" ng-if="ctrl.totalItems">
            <ul uib-pagination
                total-items="ctrl.totalItems" ng-model="ctrl.currentPage" boundary-links="ctrl.boundaryLinks"
                direction-links="ctrl.directionLinks" first-text="FIRST" last-text="LAST"
                max-size="ctrl.pagesToDisplay" items-per-page="ctrl.perPage"
                ng-change="ctrl.pageChanged()">
            </ul>
        </div>
    </div>
</div>