<div class="container-fluid">
    <div class="row" id="modal-title">
        <span class="title-text h3">NEW ELEMENT</span>
        <a href=""><span class="icon icon-close i-5x" ng-click="ctrl.close()"></span></a>
    </div>
    <div class="row" id="modal-content">
        <form novalidate class="form" name="ctrl.form">
            <div class="form-container margin-left-lg margin-right-lg">
                <div class="row field">
                    <div class="text input-label h4 margin-bottom-sm">Name of new element</div>
                    <input type="text" class="full-width margin-bottom-md" ng-model="ctrl.name" placeholder="Insert name" required>
                </div>
                <div class="row field">
                    <div class="text input-label h4 margin-bottom-sm">Insert text for new element</div>
                    <div class="input">
                        <textarea placeholder="Write..." class="full-width margin-bottom-lg" required ng-model="ctrl.text" rows="7"></textarea>
                    </div>
                </div>
                <button ng-click="ctrl.save()" class="btn-rounded btn-light-blue h4 margin-bottom-sm">Save</button>
                <button ng-click="ctrl.close()" class="btn-rounded btn-transparent light-blue h4 margin-bottom-md">Close</button>
            </div>
        </form>
    </div>
</div>