<div ng-if="$ctrl.controllerErrors[$ctrl.fieldName]" class="error-form-input">
    <div translate
          translate-value-attribute="{{$ctrl.page + '.' + $ctrl.translationName | translate}}">{{'errors.' + $ctrl.controllerErrors[$ctrl.fieldName].code}}</div>
</div>