<div class="container-fluid" id="modal-error">
    <div class="row" id="modal-title">
        <span class="title-text">SUCCESS</span>
        <span class="icon icon-close i-5x" ng-click="ctrl.close()"></span>
    </div>
    <div class="row" id="modal-content">
        <div class="col-lg-12">
                Action performed successfully.
        </div>
    </div>
</div>