<div class="component-loadable dashboard-infobox quick-access no-padding text-center"
     ng-class="{'component-loadable-loading': (ctrl.loading || ctrl.translations.loading), 'no-border': !(ctrl.loading || ctrl.translations.loading)}">
    <div ng-hide="ctrl.loading || ctrl.translations.loading">
        <div class="dashboard-infobox-inner no-padding">
            <uib-accordion template-url="/users/app/components/accordion/accordion.view.html">
                <div uib-accordion-group is-open="true" is-disabled="true"
                     template-url="/users/app/components/accordion/accordion-group.view.html">
                    <uib-accordion-heading>
                        <span class="h5 text-uppercase">{{'dashboard.quick_access' | translate}}</span>
                    </uib-accordion-heading>
                    <ul class="light-blue list-no-style">
                        <li ng-if="ctrl.user.attributes.is_captain" class="list-element" ng-click="ctrl.goTo('boats')">
                            {{'dashboard.my_boats' | translate}} <i class="icon icon-arrow i-7x"></i>
                        </li>
                        <li class="list-element" ng-click="ctrl.goTo('conversations')">
                            {{'dashboard.my_conversations' | translate}} <i class="icon icon-arrow i-7x"></i>
                        </li>
                        <li class="list-element" ng-click="ctrl.goTo('bookings')">
                            {{'dashboard.my_bookings' | translate}} <i class="icon icon-arrow i-7x"></i>
                        </li>
                        <li class="list-element" ng-click="ctrl.goTo('assistance')">
                            {{'dashboard.customer_service' | translate}} <i class="icon icon-arrow i-7x"></i>
                        </li>
                    </ul>
                </div>
            </uib-accordion>
        </div>
    </div>

    <div ng-show="ctrl.loading || ctrl.translations.loading" class="loader-alt inside-parent"></div>
</div>