<div class="verify-email text-center">
    <div ng-hide="ctrl.loading || ctrl.translations.loading || ctrl.verified">
        <h3 class="margin-bottom-sm no-margin-top">{{'header.verify_mail' | translate}}</h3>

        <form novalidate class="form" name="ctrl.form">
            <div class="input-group input-group-icon margin-bottom-md">
            <span class="input-group-addon">
                <span class="icon icon-mail"></span>
            </span>
                <input class="input-group-input"
                       name="email" type="email" required placeholder="{{'inputs.email' | translate}}"
                       ng-model="ctrl.email"
                       ng-change="ctrl.resetField('email')"
                       ng-blur="ctrl.validateField('email')">
                <error-messages field-name="email" translation-name="email"
                                controller-errors=ctrl.errors page="inputs"></error-messages>
            </div>

            <div class="text-center">
                <span class="error-form-no-input" ng-if="ctrl.errors.error"
                      translate>{{'errors.' + ctrl.errors.error.code}}</span>
                <naus-btn on-click="ctrl.send()"
                          options="{disabled: ctrl.loading">
                    {{'inputs.send' | translate}}
                </naus-btn>
            </div>
        </form>
    </div>

    <div ng-show="ctrl.verified" class="text-center">
        <p class="h4 margin-bottom-md"
           translate="header.email_sent"
           translate-values="{ email: ctrl.email }"></p>
        <naus-btn on-click="ctrl.onClose()">
            {{'header.back_to_site' | translate}}
        </naus-btn>
    </div>

    <div ng-show="ctrl.loading || ctrl.translations.loading" class="loader-alt inside-parent"></div>
</div>
