<div class="container-fluid">
    <div class="row" id="modal-title">
        <span class="title-text">ACCETTA {{ctrl.items.modelType}}</span>
        <span class="icon icon-close i-5x" ng-click="ctrl.close()"></span>
    </div>
    <div ng-click="ctrl.do()" class="row" id="modal-content" style="text-align: center; height: 100px;">
        <a href="">Accetta</a>
    </div>
</div>