<div class="container-fluid">
    <div class="row" id="modal-title">
        <span class="title-text">ELIMINA {{ctrl.items.modelType}}</span>
        <span class="icon icon-close i-5x" ng-click="ctrl.close()"></span>
    </div>
    <div class="row" id="modal-content">
        <a href="" ng-click="ctrl.do()">Elimina</a>
    </div>
</div>