<div class="container-fluid">
    <div class="row" id="modal-title">
        <span class="title-text">RIFIUTA {{ctrl.items.modelType}}</span>
        <span class="icon icon-close i-5x" ng-click="ctrl.close()"></span>
    </div>
    <div class="row" id="modal-content">
        <textarea ng-model="ctrl.adminText" rows="5"></textarea>
        <a href="" ng-click="ctrl.do()">Rifiuta</a>
    </div>
</div>