<login-facebook on-complete="loginVisitors.onCompleteFacebook(response)" class="margin-bottom-lg"></login-facebook>
<div class="signup-or-separator text-center">
    <span class="h3">{{'login.or' | translate}}</span>
    <hr>
</div>
<sms-auth on-complete="loginVisitors.onCompleteSMS(response)"></sms-auth>
<terms-of-service on-click="loginVisitors.close()"></terms-of-service>