<div>
    <ul>
        <li>
            <span class="text">NOTIFICATIONS</span>
            <span class="count" ng-if="$ctrl.count > 0">NUOVE {{$ctrl.count}}</span>
        </li>
        <li>
            <span class="icon action-icon icon-page"></span>
            <span class="text">{{$ctrl.popoverData.page.name}} - </span>
            <span class="count">{{$ctrl.popoverData.page.count}}</span>
        </li>
        <li>
            <span class="icon action-icon icon-experience"></span>
            <span class="text">{{$ctrl.popoverData.experience.name}} - </span>
            <span class="count">{{$ctrl.popoverData.experience.count}}</span>
        </li>
    </ul>
</div>