<div id="seo" class="container-fluid" ng-class="{hidden: ctrl.loading}">
    <div class="row page-title">
        <h5 class="bold">Translation: {{ctrl.seoOriginLanguage.language}} - {{ctrl.translatorLanguage}}</h5>
    </div>
    <div class="row page-title margin-bottom-sm">
        <h5 class="bold">SEO</h5>
    </div>
    <div class="row form-container">
        <form novalidate class="form" name="ctrl.form">
            <div class="container-fluid">
                <!-- Original text -->
                <div class="row margin-bottom-sm">
                    <div class="col-md-6 no-padding">
                        <h4 class="bold">Original text</h4>
                    </div>
                    <div class="col-md-6 no-padding">
                        <h4 class="bold">Translation</h4>
                    </div>
                </div>
                <div class="row">
                    <!--LANGUAGE-->
                    <div class="col-md-12 margin-top-sm text-center">Language</div>
                    <div class="col-md-6 text-center">
                        <input type="text" title="Language"
                               ng-model="ctrl.seoOriginLanguage.language"
                               ng-disabled="true"/>
                    </div>
                    <div class="col-md-6 text-center">
                        <input type="text" title="Language"
                               ng-model="ctrl.translatorLanguage"
                               ng-disabled="true"/>
                    </div>
                    <!--TITLE-->
                    <div class="col-md-12 margin-top-sm text-center">Title</div>
                    <div class="col-md-6 text-center">
                        <input type="text" title="Title"
                               ng-model="ctrl.seoOriginLanguage.title"
                               ng-disabled="true"/>
                    </div>
                    <div class="col-md-6 text-center">
                        <input type="text" title="Title"
                               ng-required="true"
                               ng-model="ctrl.seoDestinationLanguage.title"/></div>
                    <!--DESCRIPTION-->
                    <div class="col-md-12 margin-top-sm text-center">Description</div>
                    <div class="col-md-6 text-center">
                        <textarea type="text" title="Description"
                                  rows="4"
                                  ng-model="ctrl.seoOriginLanguage.description"
                                  ng-disabled="true"></textarea>
                    </div>
                    <div class="col-md-6 text-center">
                        <textarea type="text" title="Description"
                                  rows="4"
                                  ng-required="true"
                                  ng-model="ctrl.seoDestinationLanguage.description"></textarea>
                    </div>
                    <!--SLUG URL-->
                    <div class="col-md-12 margin-top-sm text-center">Slug URL</div>
                    <div class="col-md-6 text-center">
                        <input type="text" title="Slug URL"
                               ng-model="ctrl.seoOriginLanguage.slug_url"
                               ng-disabled="true"/>
                    </div>
                    <div class="col-md-6 text-center">
                        <input type="text" title="Slug URL"
                               ng-model="ctrl.seoDestinationLanguage.slug_url"
                               ng-disabled="true"/>
                    </div>

                    <!--SAVE BUTTON-->
                    <div class="col-md-12 margin-top-sm text-center">
                        <button ng-click="ctrl.postSeo()">SAVE</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
<div class="loader" ng-class="{hidden: !ctrl.loading}"></div>

<!--SUCCESS-->
<modal ng-if="ctrl.success" on-close="ctrl.success = false" title="Success">
    <div class="text-center">
        <div class="margin-bottom-sm">SEO created</div>
        <button ng-click="ctrl.success = false">Close</button>
    </div>
</modal>