<h6 class="margin-bottom-md" translate>{{'captain_form.insert_card_price'}}</h6>
<h6 class="light-blue bold margin-bottom-md" translate>{{'captain_form.set_card_price_per_person'}}</h6>
<div class="input input-group-icon input-group-icon-right input-group-icon-currency margin-bottom-sm">
    <span class="input-group-addon">
        <span class="icon icon-{{ctrl.user.currency.toLowerCase()}}"></span>
    </span>
    <input name="card_price" type="number"
           ng-model="ctrl.user.card_price"
           ng-disabled="ctrl.disabled"
           placeholder="{{'captain_form.placeholder_card_price' | translate}}"
           ng-change="ctrl.resetField('card_price')"
           ng-blur="ctrl.patchInput('card_price')"
           min="0">
    <error-messages field-name="card_price" controller-errors=ctrl.errors page="captain_form"></error-messages>
</div>
<div class="text-center margin-bottom-sm">
    <button type="button" class="btn text-uppercase" ng-click="ctrl.popovers.has_card = false"
            ng-disabled="ctrl.loading" translate>
        {{'inputs.save' | translate}}
    </button>
</div>

<h6 translate>{{'captain_form.caption_card_price'}}</h6>