<div class="description">Set deposit amount</div>
<div class="input-with-icon">
    <input type="number" min="1" ng-model="ctrl.experience.deposit" ng-disabled="ctrl.disabled" ng-blur="ctrl.patchExperience()">
    <div class="input-icon">{{ctrl.experience.currency || 'null'}}</div>
</div>