<div class="description">Quanti giorni prima dell'esperienza dev'essere versato?</div>
<div class="input-with-icon">
    <input type="number" min="3" max="30" ng-model="ctrl.experience.cancellation_max_days">
</div>