<div class="description">Comprende</div>
<div class="input-checkboxes">
    <div class="input-container checkbox-container">
        <div class="field naus-checkbox input-container-child">
            <input type="checkbox" ng-disabled="ctrl.disabled"
                   id="lures"
                   ng-model="ctrl.experience.lures"
                   ng-value="true">
        </div>
        <div class="field naus-checkbox-label-container input-container-child">
            <label for="lures">Lures</label>
        </div>
    </div>
    <div class="input-container checkbox-container">
        <div class="field naus-checkbox input-container-child">
            <input type="checkbox" ng-disabled="ctrl.disabled"
                   id="fishing_pole"
                   ng-model="ctrl.experience.fishing_pole"
                   ng-value="true">
        </div>
        <div class="field naus-checkbox-label-container input-container-child">
            <label for="fishing_pole">Fishing poles</label>
        </div>
    </div>
</div>
<div class="button-save">
    <a href="" ng-click="ctrl.popovers['fishing_gear'] = false">
        SAVE
    </a>
</div>