<div class="description">Questo servizio lo offrirai</div>
<div class="button-free">
    <button ng-disabled="ctrl.disabled" href="" ng-click="service.attributes.price = 0; ctrl.popovers[service.attributes.name] = false; ctrl.patchFixedAdditionalServices()">
        GRATUITAMENTE
    </button>
</div>
<div class="signup-or-separator">
    <span>o</span>
    <hr>
</div>
<div class="description">Inserisci il prezzo per questo servizio</div>
<div class="set">Imposta</div>
<div class="input-checkboxes">
    <div class="input-container">
        <div class="field naus-radio input-container-child">
            <input name="per_person" type="radio"
                   ng-model="service.attributes.per_person"
                   ng-value="true"
                   ng-disabled="ctrl.disabled"
                   ng-change="ctrl.patchFixedAdditionalServices()"
                   id="{{service.attributes.name}}-per-person">
        </div>
        <div class="field input-container-child">
            <label for="{{service.attributes.name}}-per-person">A persona</label>
        </div>
    </div>
    <div class="input-container">
        <div class="field naus-radio input-container-child">
            <input name="luxury" type="radio" ng-disabled="ctrl.disabled"
                   ng-model="service.attributes.per_person"
                   ng-value="false"
                   ng-change="ctrl.patchFixedAdditionalServices()"
                   id="{{service.attributes.name}}-not-per-person">
        </div>
        <div class="field input-container-child">
            <label for="{{service.attributes.name}}-not-per-person">Totale</label>
        </div>
    </div>
</div>
<div class="input-with-icon">
    <input type="number" min="0" ng-model="service.attributes.price" ng-disabled="ctrl.disabled" ng-blur="ctrl.patchFixedAdditionalServices()">
    <div class="input-icon">{{service.attributes.currency || ctrl.captain.currency}}</div>
</div>

