<div class="input input-group-icon select dropdown-toggle"
     ng-click="ctrl.isOpen = !ctrl.isOpen"
     uib-datepicker-popup
     datepicker-options="ctrl.options"
     datepicker-popup-template-url="/users/app/components/naus-datepicker-popup/views/popup.view.html"
     datepicker-template-url="/users/app/components/naus-datepicker/views/datepicker.view.html"
     ng-model="ctrl.date"
     on-open-focus="false"
     show-button-bar="false"
     is-open="ctrl.isOpen"
     aria-expanded="{{ctrl.isOpen}}">
    <span class="input-group-addon">
                                <span class="icon icon-calendar"></span>
                            </span>
    <span ng-show="ctrl.date" class="select-text">{{ctrl.date | userDate:ctrl.language:false}}</span>
    <span ng-hide="ctrl.date" class="select-text untouched">{{ctrl.placeholder | translate}}</span>
    <span class="icon pull-right"
          ng-class="{'icon-arrow-down': !ctrl.isOpen, 'icon-arrow-up': ctrl.isOpen}"></span>
</div>