<div ng-if="ctrl.success" class="text-center margin-left-sm margin-right-sm" ng-hide="ctrl.translations.loading">
    <h3 class="margin-bottom-md margin-top-lg" translate>{{'booking.success_payment'}}</h3>
    <naus-btn on-click="ctrl.backToHome()">
        {{'booking.go_back_to_home' | translate}}
    </naus-btn>
</div>

<div ng-if="ctrl.failure" class="text-center margin-left-sm margin-right-sm" ng-hide="ctrl.translations.loading">
    <h3 class="margin-bottom-md margin-top-lg" translate>{{'booking.failure_payment'}}</h3>
    <naus-btn on-click="ctrl.payAgain()">
        {{'booking.pay_again' | translate}}
    </naus-btn>
</div>


<div ng-show="ctrl.translations.loading" class="loader-alt inside-parent"></div>