<!--MOBILE-->
<div id="footer-container-mobile" class="footer dark-row container-fluid text-center hidden-sm-up"
     ng-hide="ctrl.loading || ctrl.translations.loading">
    <div class="row no-margin text-uppercase">
        <!--
        <div class="col-xs-12 margin-bottom-sm main-item"><a ng-href="" class="text h6">{{'footer.how_it_works' |
            translate}}</a></div>
        <div class="col-xs-12 margin-bottom-sm main-item"><a ng-href="" class="text h6">{{'footer.about_us' |
            translate}}</a></div>
            -->
        <div class="col-xs-12 main-item ">
            <h5 class="text pointer" ng-href="/{{ctrl.language}}/how-it-works-guest"
                ng-click="ctrl.goTo('/how-it-works-guest')" prevent-href>{{'footer.how_it_works' | translate}}
            </h5>
        </div>
        <div class="col-xs-12 social-icon-container">
            <h5 class="text">{{'footer.follow_us' | translate}}</h5>
            <a ng-href="{{ctrl.links.facebook}}" class="social-icon icon-facebook" target="_blank"></a>
            <a ng-href="{{ctrl.links.instagram}}" class="social-icon icon-instagram" target="_blank"></a>
            <a ng-href="{{ctrl.links.twitter}}" class="social-icon icon-twitter" target="_blank"></a>
        </div>
        <div class="col-xs-12 main-item">
            <a ng-href="{{ctrl.links.blog}}" target="_blank" prevent-href class="text h6">{{'footer.blog' |
                translate}}</a>
        </div>
    </div>
    <div class="row copyright">
        <div class="col-xs-12"><span class="h6">{{'footer.copyright' | translate}}</span></div>
        <div class="col-xs-12"><span class="h6">{{'footer.vat_number' | translate}}</span></div>
    </div>
    <div class="row payment-info text-uppercase">
        <div class="col-xs-12 main-item"><a ng-href="https://www.paypal.com" target="_blank" class="text h6">
            {{'footer.pay_safe' | translate}}
        </a></div>
        <div class="col-xs-12 paypal-logo"><img ng-src="{{ctrl.links.paypal}}"/></div>
        <!--
        <div class="col-xs-12 main-item"><a ng-href="" class="text h6">{{'footer.terms_and_conditions' | translate}}</a>
        </div>
        -->
    </div>
</div>

<!--DESKTOP-->
<div id="footer-container-desktop" class="footer dark-row container-fluid text-center hidden-xs"
     ng-hide="ctrl.loading || ctrl.translations.loading">
    <div class="row">
        <div class="col-sm-3 col-md-3" id="footer-legal-info">
            <p translate>{{'footer.copyright'}}</p>
            <p translate>{{'footer.all_rights_reserved'}}</p>
            <p translate>{{'footer.nausdream_srl'}}</p>
            <p translate>{{'footer.vat_number'}}</p>
        </div>
        <div class="col-sm-3 col-md-3 main-item">
            <h5 class="text pointer">{{'footer.how_it_works' | translate}}</h5>
            <a class="sub-item h6" ng-href="/{{ctrl.language}}/how-it-works-captain"
               ng-click="ctrl.goTo('/how-it-works-captain')" prevent-href>{{'footer.become_captain' | translate}}</a>
            <a class="sub-item h6" ng-href="/{{ctrl.language}}/how-it-works-guest"
               ng-click="ctrl.goTo('/how-it-works-guest')" prevent-href>{{'footer.get_aboard' | translate}}</a>
            <a class="sub-item h6" ng-href="/{{ctrl.language}}/assistance"
               ng-click="ctrl.goTo('/assistance')" prevent-href>{{'footer.help' | translate}}</a>
        </div>
        <div class="col-sm-3 col-md-3 main-item">
            <!--<h5 class="text">{{'footer.about_us' | translate}}</h5>-->
            <!--<a class="sub-item h6">{{'footer.what_is_nausdream' | translate}}</a>-->
            <!--<a class="sub-item h6">{{'footer.team' | translate}}</a>-->
            <!--<a class="sub-item h6">{{'footer.contacts' | translate}}</a>-->
        </div>
        <div class="col-sm-3 col-md-3 main-item">
            <a class="text no-margin">{{'footer.follow_us' | translate}}</a>
            <div class="social-icon-container">
                <a ng-href="{{ctrl.links.facebook}}" class="social-icon icon-facebook" target="_blank"></a>
                <a ng-href="{{ctrl.links.instagram}}" class="social-icon icon-instagram" target="_blank"></a>
                <a ng-href="{{ctrl.links.twitter}}" class="social-icon icon-twitter" target="_blank"></a>
            </div>
            <a class="text" ng-href="{{ctrl.links.blog}}" target="_blank">
                <h4 class="text">{{'footer.blog' | translate}}</h4>
            </a>
        </div>
    </div>
    <hr>
    <div class="row" id="footer-second-row">
        <div class="col col-sm-6 footer-cell-container">
            <div class="featured-table">
                <div class="featured-cell">
                    <a ng-click="ctrl.goTo('/terms')" class="sub-item h6 light text-uppercase pointer featured-text">{{'footer.terms_and_conditions'
                        | translate}}</a>
                </div>
            </div>
        </div>

        <!--PAYPAL-->
        <div class="col col-sm-6 footer-cell-container">
            <div class="featured-table">
                <div class="featured-cell">
                    <span class="light text-uppercase featured-text">
                    {{'footer.pay_safe' | translate}}
                </span>
                    <img ng-src="{{ctrl.links.paypal}}" class="featured-logo"/>
                </div>
            </div>
        </div>
    </div>
</div>