<div class="view-container dashboard" ng-hide="ctrl.makingRequest">
    <user-infobox user="ctrl.user"></user-infobox>
    <quick-access class="hidden-xs" user="ctrl.user"></quick-access>
    <boats ng-if="ctrl.user.attributes.is_captain" user-id=ctrl.user.id on-boat-click="ctrl.selectBoat(id)" show-accordion=true show-back-button=false></boats>
    <conversations user-id=ctrl.user.id on-conversation-click="ctrl.selectConversation(id)" show-accordion=true show-back-button=false></conversations>
    <bookings user-id=ctrl.user.id on-booking-click="ctrl.selectBooking(id)" show-accordion=true show-back-button=false></bookings>
    <bookings ng-if="ctrl.isCaptain" user-id=ctrl.user.id on-booking-click="ctrl.selectBooking(id)" show-accordion=true show-back-button=false captain-bookings="true"></bookings>
</div>