<div class="naus-modal" ng-click="ctrl.onClose()">
    <div class="naus-modal-container" ng-click="$event.stopPropagation()">
        <div class="naus-modal-title-container h4 no-margin text-center text-uppercase">
            <span class="naus-modal-title">{{ctrl.modalTitle | translate}}</span>
            <span ng-click="ctrl.onClose()" class="icon icon-close light-blue i-4x pull-right"></span>
        </div>
        <div class="naus-modal-content" ng-transclude></div>
    </div>
</div>