<ul>
    <li href="">
        <span class="icon action-icon icon-accepted i-3x"></span>
        <span class="text accepted">Approva</span>
    </li>
    <li>
        <span class="icon action-icon icon-rejected i-3x"></span>
        <span class="text rejected">Non approvare</span>
    </li>
    <li>
        <span class="icon action-icon icon-suspended"></span>
        <span class="text suspended">Sospendi</span>
    </li>
    <li>
        <span class="icon action-icon icon-edit"></span>
        <span class="text edit">Modifica</span>
    </li>
    <li>
        <span class="icon action-icon icon-delete"></span>
        <span class="text delete">Elimina</span>
    </li>
</ul>