<ul>
    <li>
        <span class="text">Tipo barca</span>
    </li>
    <li>
        <span class="icon action-icon icon-catamaran"></span>
        <span class="text element">Catamarano</span>
    </li>
    <li>
        <span class="icon action-icon icon-motorboat"></span>
        <span class="text element">A motore</span>
    </li>
    <li>
        <span class="icon action-icon icon-sailboat"></span>
        <span class="text element">A vela</span>
    </li>
</ul>