<ul>
    <li>
        <span class="text">Filtra per</span>
    </li>
    <li>
        <span class="icon action-icon icon-accepted i-3x"></span>
        <span class="text accepted">Approvati</span>
    </li>
    <li>
        <span class="icon action-icon icon-rejected i-3x"></span>
        <span class="text rejected">Non approvati</span>
    </li>
    <li>
        <span class="icon action-icon icon-suspended"></span>
        <span class="text suspended">In sospeso</span>
    </li>
    <li>
        <span class="icon action-icon icon-freezed"></span>
        <span class="text freezed">Congelati</span>
    </li>
    <li>
        <span class="icon action-icon icon-new"></span>
        <span class="text new">Nuovi</span>
    </li>
</ul>