<ul>
    <li>
        <span class="text">Cerca tra le conversazioni</span>
    </li>
    <li class="search-box">
        <form ng-submit="$ctrl.parent.searchBoat($ctrl.parent.searchString)">
            <input type="text" ng-model="$ctrl.parent.searchString" class="input" placeholder="Cerca...">
            <input class="search-button" type="submit" value="CERCA">
        </form>
    </li>
</ul>