<p class="form-description margin-bottom-md">
    <span class="bold" translate
          translate-values='{name: ctrl.user.first_name}'>{{'captain_form.hello'}}</span><br/>
    <span>{{'captain_form.insert_boat_data' | translate}}</span>
</p>

<breadcrumb-steps step={{ctrl.step}}></breadcrumb-steps>
<form class="form form-steps container-fluid" novalidate name="ctrl.form_boat" id="boat-form">
    <!--CONSTRUCTION SITE & MODEL-->
    <div class="row form-row no-padding no-border-bottom">
        <!--CONSTRUCTION SITE-->
        <div class="col-sm-6 form-col">
            <div class="form-separator"></div>
            <div class="input-heading">{{'captain_form.boat_production_site' | translate}}</div>
            <div class="input">
                <input name="production_site" type="text"
                       ng-model="ctrl.boat.production_site"
                       ng-disabled="ctrl.disabled"
                       placeholder="{{'captain_form.placeholder_boat_production_site' | translate}}"
                       ng-change="ctrl.resetField('production_site')"
                       ng-blur="ctrl.patchInput('production_site', false)"
                       maxlength="150"
                       ng-required="false">
                <error-messages field-name="production_site" translation-name="boat_production_site"
                                controller-errors=ctrl.errors page="captain_form"></error-messages>
            </div>
        </div>
        <!--MODEL-->
        <div class="col-sm-6 form-col">
            <div class="form-separator"></div>
            <div class="input-heading">{{'captain_form.boat_model' | translate}}*</div>
            <div class="input">
                <input name="model" type="text"
                       ng-model="ctrl.boat.model"
                       ng-disabled="ctrl.disabled"
                       placeholder="{{'captain_form.placeholder_boat_model' | translate}}"
                       ng-change="ctrl.resetField('model')"
                       ng-blur="ctrl.patchInput('model', false)"
                       maxlength="150"
                       ng-required="true">
                <error-messages field-name="model" translation-name="boat_model"
                                controller-errors=ctrl.errors page="captain_form"></error-messages>
            </div>
        </div>
    </div>
    <!--NAME & CONSTRUCTION YEAR-->
    <div class="row form-row no-padding no-border-bottom">
        <!--NAME-->
        <div class="col-sm-6 form-col">
            <div class="form-separator"></div>
            <div class="input-heading">{{'captain_form.boat_name' | translate}}</div>
            <div class="input">
                <input name="boat_name" type="text"
                       ng-model="ctrl.boat.name"
                       ng-disabled="ctrl.disabled"
                       placeholder="{{'captain_form.placeholder_boat_name' | translate}}"
                       ng-change="ctrl.resetField('boat_name')"
                       ng-blur="ctrl.patchInput('boat_name', false)"
                       maxlength="100"
                       ng-required="false">
                <error-messages field-name="boat_name" translation-name="boat_name"
                                controller-errors=ctrl.errors page="captain_form"></error-messages>
            </div>
        </div>
        <!--CONSTRUCTION YEAR-->
        <div class="col-sm-6 form-col">
            <div class="form-separator"></div>
            <div class="input-heading">{{'captain_form.boat_construction_year' | translate}}</div>
            <div class="input" uib-dropdown is-open="ctrl.dropdowns.construction_year">
                <div class="select" id="construction_year" uib-dropdown-toggle ng-disabled="ctrl.disabled">
                    <span class="select-text untouched" ng-show="ctrl.boat.construction_year == null">{{'captain_form.placeholder_boat_construction_year' | translate}}</span>
                    <span class="select-text" ng-hide="ctrl.boat.construction_year == null">{{ctrl.boat.construction_year}}</span>
                    <span class="icon pull-right"
                          ng-class="{'icon-arrow-down': !ctrl.dropdowns.construction_year, 'icon-arrow-up': ctrl.dropdowns.construction_year}"></span>
                </div>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="construction_year">
                    <li ng-repeat="year in ctrl.boatYears" role="menuitem"
                        ng-click="ctrl.boat.construction_year = year; ctrl.validateRestorationYear(); ctrl.patchInput('construction_year', true);">
                        <a ng-href="">{{year}}</a>
                    </li>
                </ul>
            </div>
            <error-messages field-name="construction_year" translation-name="boat_construction_year"
                            controller-errors=ctrl.errors page="captain_form"></error-messages>
        </div>
    </div>

    <!--RESTORATION YEAR & TYPE-->
    <div class="row form-row no-padding no-border-bottom">
        <!--RESTORATION YEAR-->
        <div class="col-sm-6 form-col">
            <div class="form-separator"></div>
            <div class="input-heading">{{'captain_form.boat_restoration_year' | translate}}</div>
            <div class="input" uib-dropdown is-open="ctrl.dropdowns.restoration_year">
                <div class="select" id="restoration_year" uib-dropdown-toggle ng-disabled="ctrl.disabled">
                    <span class="select-text untouched" ng-show="ctrl.boat.restoration_year == null">{{'captain_form.placeholder_boat_restoration_year' | translate}}</span>
                    <span class="select-text" ng-hide="ctrl.boat.restoration_year == null">{{ctrl.boat.restoration_year}}</span>
                    <span class="icon pull-right"
                          ng-class="{'icon-arrow-down': !ctrl.dropdowns.restoration_year, 'icon-arrow-up': ctrl.dropdowns.restoration_year}"></span>
                </div>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="restoration_year">
                    <li ng-repeat="year in ctrl.boatYears | filter: ctrl.restorationYearFilter" role="menuitem"
                        ng-click="ctrl.boat.restoration_year = year; ctrl.patchInput('restoration_year', true)">
                        <a ng-href="">{{year}}</a>
                    </li>
                </ul>
            </div>
            <span class="input-caption-group">
                        <span class="input-caption">{{'captain_form.boat_restoration_year_caption' | translate}}</span>
                    </span>
            <error-messages field-name="restoration_year" translation-name="boat_restoration_year"
                            controller-errors=ctrl.errors page="captain_form"></error-messages>
        </div>
        <!--TYPE-->
        <div class="col-sm-6 form-col">
            <div class="form-separator"></div>
            <div class="input-heading">{{'captain_form.boat_type' | translate}}*</div>
            <div class="input input-group-icon" uib-dropdown is-open="ctrl.dropdowns.type">
                <span class="input-group-addon">
                    <span class="icon icon-boat" ng-show="ctrl.boat.type == null"></span>
                    <span class="icon icon-{{ctrl.boat.type}}" ng-show="ctrl.boat.type != null"></span>
                </span>
                <div class="select input-group-input" id="type" uib-dropdown-toggle ng-disabled="ctrl.disabled">
                    <span class="select-text untouched" ng-show="ctrl.boat.type == null">{{'captain_form.placeholder_boat_type' | translate}}</span>
                    <span class="select-text" ng-hide="ctrl.boat.type == null">{{'boat_types.' + ctrl.boat.type | translate}}</span>
                    <span class="icon pull-right"
                          ng-class="{'icon-arrow-down': !ctrl.dropdowns.type, 'icon-arrow-up': ctrl.dropdowns.type}"></span>
                </div>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="type">
                    <li ng-repeat="type in ctrl.boatTypes | filter: {attributes: {name: '!' + ctrl.boat.type}}"
                        role="menuitem"
                        ng-click="ctrl.boat.type = type.attributes.name; ctrl.patchInput('type', true)"
                        class="item-icon-group">
                        <span class="item-icon icon-{{type.attributes.name}}"></span>
                        <a ng-href="" class="item-icon-text">
                            <span class="pull-left">{{'boat_types.' + type.attributes.name | translate}}</span>
                        </a>
                    </li>
                </ul>
            </div>
            <error-messages field-name="boat_type" translation-name="boat_type"
                            controller-errors=ctrl.errors page="captain_form"></error-messages>
        </div>
    </div>
    <!--BOAT MATERIAL & LENGTH & HAS INSURANCE-->
    <div class="row form-row no-padding no-border-bottom">
        <!--BOAT MATERIAL-->
        <div class="col-sm-4 form-col">
            <div class="form-separator"></div>
            <div class="input-heading">{{'captain_form.boat_material' | translate}}</div>
            <div class="input" uib-dropdown is-open="ctrl.dropdowns.material">
                <div class="select" id="material" uib-dropdown-toggle ng-disabled="ctrl.disabled">
                    <span class="select-text untouched" ng-show="ctrl.boat.material == null">{{'captain_form.placeholder_boat_material' | translate}}</span>
                    <span class="select-text" ng-hide="ctrl.boat.material == null">{{'boat_materials.' + ctrl.boat.material | translate}}</span>
                    <span class="icon pull-right"
                          ng-class="{'icon-arrow-down': !ctrl.dropdowns.material, 'icon-arrow-up': ctrl.dropdowns.material}"></span>
                </div>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="material">
                    <li ng-repeat="material in ctrl.boatMaterials | filter: {attributes: {name: '!' + ctrl.boat.material}}"
                        role="menuitem"
                        ng-click="ctrl.boat.material = material.attributes.name; ctrl.patchInput('material', true)">
                        <a ng-href="">
                            {{'boat_materials.' + material.attributes.name | translate}}
                        </a>
                    </li>
                </ul>
            </div>
            <error-messages field-name="material" translation-name="boat_material"
                            controller-errors=ctrl.errors page="captain_form"></error-messages>
        </div>
        <!--LENGTH-->
        <div class="col-sm-4 form-col">
            <div class="form-separator"></div>
            <div class="input-heading">{{'captain_form.boat_length' | translate}}</div>
            <div class="input">
                <input name="length" type="number"
                       ng-model="ctrl.boat.length"
                       ng-disabled="ctrl.disabled"
                       placeholder="{{'captain_form.placeholder_boat_length' | translate}}"
                       ng-change="ctrl.resetField('length')"
                       ng-blur="ctrl.patchInput('length', false)"
                       min="1"
                       max="32767"
                       ng-required="false">
                <error-messages field-name="length" translation-name="boat_length"
                                controller-errors=ctrl.errors page="captain_form"></error-messages>
            </div>
        </div>
        <!--HAS INSURANCE-->
        <div class="col-sm-4 form-col">
            <div class="form-separator"></div>
            <div class="input-heading">{{'captain_form.boat_has_insurance' | translate}}*</div>
            <div class="input">
                <input name="has_insurance" type="checkbox"
                       ng-model="ctrl.boat.has_insurance"
                       ng-value=1
                       ng-change="ctrl.patchInput('has_insurance', true)"
                       ng-disabled="ctrl.disabled"
                       id="has_insurance"
                       ng-required="true">
                <label for="has_insurance">{{'inputs.yes' | translate}}</label>
            </div>
            <error-messages field-name="has_insurance" translation-name="has_insurance"
                            controller-errors=ctrl.errors
                            page="captain_form"></error-messages>
        </div>
    </div>
    <!--MOTORS QUANTITY & MOTOR TYPE-->
    <div class="row form-row no-padding no-border-bottom">
        <!--MOTORS QUANTITY-->
        <div class="col-sm-6 form-col">
            <div class="form-separator"></div>
            <div class="input-heading">{{'captain_form.boat_motors_quantity' | translate}}</div>
            <div class="input">
                <input name="motors_quantity" type="number"
                       ng-model="ctrl.boat.motors_quantity"
                       ng-disabled="ctrl.disabled"
                       placeholder="{{'captain_form.placeholder_boat_motors_quantity' | translate}}"
                       ng-change="ctrl.resetField('motors_quantity')"
                       ng-blur="ctrl.patchInput('motors_quantity', false)"
                       min="1"
                       ng-required="false">
                <error-messages field-name="motors_quantity" translation-name="boat_motors_quantity"
                                controller-errors=ctrl.errors page="captain_form"></error-messages>
            </div>
        </div>
        <!--MOTOR TYPE-->
        <div class="col-sm-6 form-col">
            <div class="form-separator"></div>
            <div class="input-heading">{{'captain_form.boat_motor_type' | translate}}</div>
            <div class="input" uib-dropdown is-open="ctrl.dropdowns.motor_type">
                <div class="select" id="motor_type" uib-dropdown-toggle ng-disabled="ctrl.disabled">
                    <span class="select-text untouched" ng-show="ctrl.boat.motor_type == null">{{'captain_form.placeholder_boat_motor_type' | translate}}</span>
                    <span class="select-text" ng-hide="ctrl.boat.motor_type == null">{{'motor_types.' + ctrl.boat.motor_type | translate}}</span>
                    <span class="icon pull-right"
                          ng-class="{'icon-arrow-down': !ctrl.dropdowns.motor_type, 'icon-arrow-up': ctrl.dropdowns.motor_type}"></span>
                </div>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="motor_type">
                    <li ng-repeat="motor_type in ctrl.motorTypes | filter: {attributes: {name: '!' + ctrl.boat.motor_type}}"
                        role="menuitem"
                        ng-click="ctrl.boat.motor_type = motor_type.attributes.name; ctrl.patchInput('motor_type', true)">
                        <a ng-href="">
                            {{'motor_types.' + motor_type.attributes.name | translate}}
                        </a>
                    </li>
                </ul>
            </div>
            <error-messages field-name="motor_type" translation-name="boat_motor_type"
                            controller-errors=ctrl.errors page="captain_form"></error-messages>
        </div>
    </div>
    <!--DOCKING PLACE & INDICATIONS-->
    <div class="row form-row no-padding no-border-bottom">
        <!--DOCKING PLACE-->
        <div class="col-sm-6 form-col">
            <div class="form-separator"></div>
            <div class="input-heading">{{'captain_form.boat_docking_place' | translate}}</div>
            <div class="input">
                <textarea name="docking_place"
                          rows="3"
                          ng-model="ctrl.boat.docking_place"
                          ng-disabled="ctrl.disabled"
                          placeholder="{{'captain_form.placeholder_boat_docking_place' | translate}}"
                          ng-change="ctrl.resetField('docking_place')"
                          ng-blur="ctrl.patchInput('docking_place', false)"
                          maxlength="150"
                          ng-required="false"></textarea>
                <error-messages field-name="docking_place" translation-name="boat_docking_place"
                                controller-errors=ctrl.errors page="captain_form"></error-messages>
            </div>
        </div>
        <!--INDICATIONS-->
        <div class="col-sm-6 form-col">
            <div class="form-separator"></div>
            <div class="input-heading">{{'captain_form.boat_indications' | translate}}</div>
            <div class="input">
                <textarea name="indications"
                          rows="3"
                          ng-model="ctrl.boat.indications"
                          ng-disabled="ctrl.disabled"
                          placeholder="{{'captain_form.placeholder_boat_indications' | translate}}"
                          ng-change="ctrl.resetField('indications')"
                          ng-blur="ctrl.patchInput('indications', false)"
                          maxlength="65535"
                          ng-required="false"></textarea>
                <error-messages field-name="indications" translation-name="boat_indications"
                                controller-errors=ctrl.errors page="captain_form"></error-messages>
            </div>
        </div>
    </div>

    <!--MAP-->
    <div class="row form-row no-padding no-border-bottom">
        <div class="col-sm-12 form-col map-container">
            <div class="map-indications">
                <span>{{'captain_form.map_heading' | translate}}</span>
            </div>
            <div class="map-box" ng-if="!ctrl.patching">
                <div class="map" id="map" ng-init="ctrl.triggerMapLoad()"></div>
            </div>
        </div>
    </div>

    <!--SEATS & BERTHS-->
    <div class="row form-row no-padding no-border-bottom">
        <!--SEATS-->
        <div class="col-sm-6 form-col">
            <div class="form-separator"></div>
            <div class="input-heading">{{'captain_form.boat_seats' | translate}}*</div>
            <div class="input">
                <input name="seats" type="number"
                       ng-model="ctrl.boat.seats"
                       ng-disabled="ctrl.disabled"
                       placeholder="{{'captain_form.placeholder_boat_seats' | translate}}"
                       ng-change="ctrl.resetField('seats')"
                       ng-blur="ctrl.patchInput('seats', false)"
                       min="1"
                       ng-required="true">
                <error-messages field-name="seats" translation-name="boat_seats"
                                controller-errors=ctrl.errors page="captain_form"></error-messages>
                <br/>
                <span class="input-caption-group">
                        <span class="input-caption">{{'captain_form.caption_boat_seats' | translate}}</span>
                    </span>
            </div>
        </div>
        <!--BERTHS-->
        <div class="col-sm-6 form-col">
            <div class="form-separator"></div>
            <div class="input-heading">{{'captain_form.boat_berths' | translate}}*</div>
            <div class="input">
                <input name="berths" type="number"
                       ng-model="ctrl.boat.berths"
                       ng-disabled="ctrl.disabled"
                       placeholder="{{'captain_form.placeholder_boat_berths' | translate}}"
                       ng-change="ctrl.resetField('berths')"
                       ng-blur="ctrl.patchInput('berths', false)"
                       min="0"
                       ng-required="true">
                <error-messages field-name="berths" translation-name="boat_berths"
                                controller-errors=ctrl.errors page="captain_form"></error-messages>
            </div>
        </div>
    </div>

    <!--CABINS & TOILETS-->
    <div class="row form-row no-padding no-border-bottom">
        <!--CABINS-->
        <div class="col-sm-6 form-col">
            <div class="form-separator"></div>
            <div class="input-heading">{{'captain_form.boat_cabins' | translate}}*</div>
            <div class="input">
                <input name="cabins" type="number"
                       ng-model="ctrl.boat.cabins"
                       ng-disabled="ctrl.disabled"
                       placeholder="{{'captain_form.placeholder_boat_cabins' | translate}}"
                       ng-change="ctrl.resetField('cabins')"
                       ng-blur="ctrl.patchInput('cabins', false)"
                       min="0"
                       ng-required="true">
                <error-messages field-name="cabins" translation-name="boat_cabins"
                                controller-errors=ctrl.errors page="captain_form"></error-messages>
                <br/>
                <span class="input-caption-group">
                        <span class="input-caption">{{'captain_form.caption_boat_cabins' | translate}}</span>
                    </span>
            </div>
        </div>
        <!--TOILETS-->
        <div class="col-sm-6 form-col">
            <div class="form-separator"></div>
            <div class="input-heading">{{'captain_form.boat_toilets' | translate}}*</div>
            <div class="input">
                <input name="toilets" type="number"
                       ng-model="ctrl.boat.toilets"
                       ng-disabled="ctrl.disabled"
                       placeholder="{{'captain_form.placeholder_boat_toilets' | translate}}"
                       ng-change="ctrl.resetField('toilets')"
                       ng-blur="ctrl.patchInput('toilets', false)"
                       min="0"
                       ng-required="true">
                <error-messages field-name="toilets" translation-name="boat_toilets"
                                controller-errors=ctrl.errors page="captain_form"></error-messages>
            </div>
        </div>
    </div>

    <!--EXPERIENCE TYPES-->
    <div class="row form-row no-padding no-border-bottom">
        <div class="col-sm-12 form-col no-padding">
            <div class="form-separator"></div>
            <div class="input-heading">{{'captain_form.experience_types' | translate}}*</div>
            <div class="row form-row no-padding no-border-bottom multi-selector" id="experience-types">
                <!--Select-->
                <div class="col-sm-4">
                    <div class="input" uib-dropdown is-open="ctrl.dropdowns.experienceTypes">
                        <div class="select" id="experience-type" uib-dropdown-toggle ng-disabled="ctrl.disabled">
                            <span class="hide-overflow select-text" ng-hide="ctrl.selectedExperienceType == null">
                                <span>{{'experience_types.'+ctrl.selectedExperienceType.attributes.name | translate}}</span>
                            </span>
                            <span class="hide-overflow select-text untouched"
                                  ng-show="ctrl.selectedExperienceType == null">
                                <span>{{'captain_form.placeholder_boat_experience_types' | translate}}</span>
                            </span>
                            <span class="icon pull-right"
                                  ng-class="{'icon-arrow-down': !ctrl.dropdowns.experienceTypes, 'icon-arrow-up': ctrl.dropdowns.experienceTypes}"></span>
                        </div>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="experience-type">
                            <li ng-repeat="experienceType in ctrl.experienceTypes | filter: ctrl.notSelectedExperienceTypes"
                                role="menuitem"
                                ng-click="ctrl.selectedExperienceType = experienceType">
                                <a ng-href="">{{'experience_types.'+experienceType.attributes.name |
                                    translate}}</a>
                            </li>
                        </ul>
                    </div>
                    <!--Description SM-->
                    <div class="row no-margin">
                        <div class="col-sm-12 hidden-xs form-col no-padding">
                    <span class="input-caption-group">
                        <span class="input-caption">{{'captain_form.caption_experience_types' | translate}}</span>
                    </span>
                        </div>
                    </div>
                </div>
                <!--Description XS-->
                <div class="col-xs-6 visible-xs-block form-col no-margin">
                    <p>{{'captain_form.caption_experience_types' | translate}}</p>
                </div>
                <!--Button-->
                <div class="col-sm-2 form-col add-button">
                    <naus-btn on-click="ctrl.toggleExperienceType(ctrl.selectedExperienceType)"
                              options="{circle: 'true'}">
                        <span class="icon icon-plus i-8x"></span>
                    </naus-btn>
                </div>
                <div class="visible-xs-block clearfix"></div>
                <!--Labels-->
                <div class="col-sm-6 form-col">
                    <div class="label-closable" ng-repeat="experienceType in ctrl.tempBoat.experienceTypes">
                        <span class="hide-overflow pull-left">
                            <span class="label-closable-text">{{'experience_types.'+experienceType.attributes.name | translate}}</span>
                        </span>
                        <a ng-href=""
                           ng-click="ctrl.toggleExperienceType(experienceType, true)"
                           class="icon icon-close i-5x pull-right"></a>
                    </div>
                </div>
                <!--Errors-->
                <div class="col-xs-12 no-margin">
                    <error-messages field-name="experience_types" translation-name="experience_types_fieldname"
                                    controller-errors=ctrl.errors
                                    page="captain_form"></error-messages>
                </div>
            </div>
        </div>
    </div>

    <!--EVENTS-->
    <div class="row form-row no-padding">
        <div class="form-separator"></div>
        <div class="input-heading">{{'captain_form.heading_events' | translate}}</div>
        <div class="col-xs-4 form-col">
            <div class="input">
                <input name="events" type="radio"
                       ng-model="ctrl.boat.events"
                       ng-value=true
                       ng-disabled="ctrl.disabled"
                       id="events_yes"
                       ng-change="ctrl.patchInput('events', true)"
                       ng-blur="ctrl.validateField('events')"
                       ng-required="false">
                <label for="events_yes">{{'inputs.yes' | translate}}</label>
            </div>
        </div>
        <div class="col-xs-4 form-col">
            <div class="input">
                <input name="events" type="radio"
                       ng-model="ctrl.boat.events"
                       ng-value=false
                       ng-disabled="ctrl.disabled"
                       id="events_no"
                       ng-change="ctrl.patchInput('events', true)"
                       ng-blur="ctrl.validateField('events')"
                       ng-required="false">
                <label for="events_no">{{'inputs.no' | translate}}</label>
            </div>
        </div>
        <div class="col-xs-12 no-margin no-padding">
            <error-messages field-name="events" controller-errors=ctrl.errors page="captain_form"></error-messages>
        </div>
    </div>

    <!--REQUIRED CAPTION-->
    <div class="row no-margin">
        <div class="col no-padding">
            <span class="input-caption-group">
            <span class="orange-flamingo bold input-caption">{{'inputs.required' | translate}}</span>
        </span>
        </div>
    </div>

    <!--NEXT STEP-->
    <div class="row form-row no-border-bottom text-center">
        <naus-btn
                on-click="ctrl.goToNextStep()"
                options="{disabled: ctrl.loading}">
            {{'inputs.forward' | translate}}
        </naus-btn>
    </div>
</form>

<div class="loader-container-overlay" ng-class="{hidden: !ctrl.loading && !loading}">
    <div class="loader-alt"></div>
</div>