<div class="view-container single-form">
    <div class="container-login" ng-show="!ctrl.loading">
        <h1 class="text-uppercase text-center login-heading">{{'inputs.login' | translate}}</h1>

        <form novalidate class="form" name="ctrl.form">
            <div class="input-group input-group-icon">
                <span class="input-group-addon">
                    <span class="icon icon-mail"></span>
                </span>
                <input class="input-group-input" name="email" type="email" required
                       placeholder="{{'inputs.email' | translate}}"
                       ng-model="ctrl.email"
                       ng-change="ctrl.resetField('email')"
                       ng-blur="ctrl.validateField('email')">
                <span class="error-form-input" ng-if="ctrl.errors.email" translate
                      translate-value-attribute="{{'inputs.email' | translate}}">{{'errors.' + ctrl.errors.email.code}}</span>
            </div>

            <div class="input-group input-group-icon no-margin-bottom">
            <span class="input-group-addon">
                <span class="icon icon-password"></span>
            </span>
                <input class="input-group-input"
                       name="password" type="password" required placeholder="{{'inputs.password' | translate}}"
                       ng-model="ctrl.password" ng-change="ctrl.resetField('password')"
                       ng-blur="ctrl.validateField('password')">
                <span class="error-form-input" ng-if="ctrl.errors.password" translate
                      translate-value-attribute="{{'inputs.password' | translate}}">{{'errors.' + ctrl.errors.password.code}}</span>
                <h5 class="text-left margin-top-xs red">
                    <span class="pointer" ng-click="ctrl.forgotPasswordModal = true">{{'login.forgot_password' | translate}}</span>
                </h5>
            </div>

            <terms-of-service></terms-of-service>

            <div class="text-center">
                <span class="error-form-no-input" ng-if="ctrl.errors.error"
                      translate>{{'errors.' + ctrl.errors.error.code}}</span>
                <naus-btn on-click="ctrl.login()" options="{disabled: ctrl.loading || ctrl.translations.loading}">
                    {{'inputs.send' | translate}}
                </naus-btn>
            </div>
        </form>
    </div>

    <!-- LOADER -->
    <div class="container-login" ng-show="ctrl.loading">
        <div class="loader"></div>
    </div>

</div>

<!--RESET PASSWORD MODAL-->
<modal ng-if="ctrl.forgotPasswordModal" modal-title="login.reset_password_modal_title"
       on-close="ctrl.forgotPasswordModal = false">
    <resend-password on-close="ctrl.forgotPasswordModal = false" email="{{ctrl.email}}"></resend-password>
</modal>