<div class="view-container single-form">
    <div class="container-invalid-token" ng-show="!ctrl.success && !ctrl.loading && !ctrl.translations.loading ">
        <h4 class="text-center margin-bottom-md">{{'login.reset_password_title' | translate}}</h4>

        <form novalidate class="form" name="ctrl.form">
            <div class="input-group input-group-icon margin-bottom-sm">
            <span class="input-group-addon">
                <span class="icon icon-password"></span>
            </span>
                <input class="input-group-input"
                       name="password" type="password" required
                       placeholder="{{'inputs.placeholder_password' | translate}}"
                       ng-model="ctrl.password"
                       ng-change="ctrl.resetField('password')"
                       ng-blur="ctrl.validateField('password')"
                       clear-input ci-input=ctrl.password_confirm ci-event="keyup"
                       min="8"
                       max="128">
                <error-messages field-name="password" translation-name="password"
                                controller-errors=ctrl.errors page="inputs"></error-messages>
            </div>

            <div class="input-group input-group-icon margin-bottom-sm">
                <span class="input-group-addon">
                    <span class="icon icon-password"></span>
                </span>
                <input class="input-group-input"
                       name="password_confirm" type="password"
                       placeholder="{{'inputs.placeholder_password_confirm' | translate}}"
                       password-match=ctrl.password
                       required
                       ng-model="ctrl.password_confirm"
                       ng-change="ctrl.resetField('password_confirm')"
                       ng-blur="ctrl.validateField('password_confirm')"
                       min="8"
                       max="128">
                <error-messages field-name="password_confirm" translation-name="password_confirm"
                                controller-errors=ctrl.errors page="inputs"></error-messages>
            </div>

            <div class="text-center">
                <span class="error-form-no-input" ng-if="ctrl.errors.error"
                      translate>{{'errors.' + ctrl.errors.error.code}}</span>
                <naus-btn on-click="ctrl.send()"
                          options="{inverse: true, disabled: ctrl.loading}">
                    {{'inputs.send' | translate}}
                </naus-btn>
            </div>
        </form>

    </div>

    <div class="container-invalid-token" ng-show="ctrl.success">
        <h4 class="text-center margin-bottom-md">
            {{'login.reset_password_success' | translate}}</h4>
        <div class="text-center">
            <naus-btn on-click="ctrl.goToLogin()"
                      options="{inverse: true, disabled: ctrl.loading}">
                {{'inputs.login' | translate}}
            </naus-btn>
        </div>
    </div>

    <!-- LOADER -->
    <div class="container-invalid-token" ng-show="ctrl.loading || ctrl.translations.loading">
        <div class="loader"></div>
    </div>
</div>