<div id="boat" class="container-fluid" ng-class="{hidden: ctrl.loading}">
    <div class="row page-title">Barca</div>
    <div class="row related-actions">
        <span class="related">{{ctrl.boat.name + ' / ' + ctrl.boat.docking_place + ' / ' + ctrl.captain.first_name + ' ' + ctrl.captain.last_name}}</span>
        <div class="actions" ng-if="ctrl.boat.status == 'pending'">
            <div class="container-icon"><a href="" ng-click="ctrl.accept()" class="icon icon-accepted i-4x"></a></div>
            <div class="container-icon"><a href="" ng-click="ctrl.suspend()" class="icon icon-suspended i-4x"></a></div>
            <div class="container-icon"><a href="" ng-click="ctrl.reject()" class="icon icon-rejected i-4x"></a></div>
        </div>
    </div>
    <div class="row form-container">
        <form novalidate class="form" name="ctrl.form">
            <div class="container-fluid">
                <!-- PRODUCTION SITE / MODEL -->
                <div class="row">
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Cantiere di produzione</div>
                        <div class="input">
                            <input type="text" ng-max="150" ng-model="ctrl.boat.production_site"
                                   ng-disabled="ctrl.disabled">
                        </div>
                    </div>
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Modello della barca</div>
                        <div class="input">
                            <input type="text" ng-maxlength="100" ng-model="ctrl.boat.model"
                                   ng-disabled="ctrl.disabled">
                        </div>
                    </div>
                </div>
                <!-- EVENTS / FEE / IS_LUXURY -->
                <div class="row">
                    <div class="col-md-4 field radio-group">
                        <div class="separator"></div>
                        <div class="input-label">Events</div>
                        <div class="row">
                            <div class="col-md-6 field">
                                <div class="row input-container">
                                    <div class="col-xs-1 field naus-radio input-container-child">
                                        <input name="events" type="radio"
                                               ng-model="ctrl.boat.events"
                                               ng-value="true"
                                               ng-disabled="ctrl.disabled"
                                               id="events">
                                    </div>
                                    <div class="col-xs-7 field input-container-child">
                                        <label for="events">Sì</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 field">
                                <div class="row input-container">
                                    <div class="col-xs-1 field naus-radio input-container-child">
                                        <input name="events" type="radio" ng-disabled="ctrl.disabled"
                                               ng-model="ctrl.boat.events"
                                               ng-value="false"
                                               id="not_events">
                                    </div>
                                    <div class="col-xs-7 field input-container-child">
                                        <label for="not_events">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 field">
                        <div class="separator"></div>
                        <div class="input-label">Fee</div>
                        <div class="input">
                            <input type="number" ng-min="0" ng-max="99" ng-model="ctrl.boat.fee"
                                   ng-disabled="ctrl.disabled">
                        </div>
                    </div>
                    <div class="col-md-4 field radio-group">
                        <div class="separator"></div>
                        <div class="input-label">Luxury</div>
                        <div class="row">
                            <div class="col-md-6 field">
                                <div class="row input-container">
                                    <div class="col-xs-1 field naus-radio input-container-child">
                                        <input name="luxury" type="radio"
                                               ng-model="ctrl.boat.is_luxury"
                                               ng-value="true"
                                               ng-disabled="ctrl.disabled"
                                               id="luxury">
                                    </div>
                                    <div class="col-xs-7 field input-container-child">
                                        <label for="luxury">Sì</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 field">
                                <div class="row input-container">
                                    <div class="col-xs-1 field naus-radio input-container-child">
                                        <input name="luxury" type="radio" ng-disabled="ctrl.disabled"
                                               ng-model="ctrl.boat.is_luxury"
                                               ng-value="false"
                                               id="not_luxury">
                                    </div>
                                    <div class="col-xs-7 field input-container-child">
                                        <label for="not_luxury">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- NAME / CONSTRUCTION YEAR -->
                <div class="row">
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Nome della barca</div>
                        <div class="input">
                            <input type="text" ng-maxlength="100" ng-model="ctrl.boat.name"
                                   ng-disabled="ctrl.disabled">
                        </div>
                    </div>
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Anno di costruzione</div>
                        <div class="input">
                            <input type="number" ng-min="0" ng-max="9999" ng-model="ctrl.boat.construction_year"
                                   ng-disabled="ctrl.disabled">
                        </div>
                    </div>
                </div>
                <!-- RESTORATION YEAR / TYPE -->
                <div class="row">
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Anno di restauro</div>
                        <div class="input">
                            <input type="number" ng-min="0" ng-max="9999" ng-model="ctrl.boat.restoration_year"
                                   ng-disabled="ctrl.disabled">
                        </div>
                        <span class="caption-input">Qualora fosse stato fatto un restauro ti invitiamo a inserire l’anno.</span>
                    </div>
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Tipo di imbarcazione</div>
                        <div class="input" uib-dropdown>
                            <div class="select" id="boat-type" uib-dropdown-toggle ng-disabled="disabled" translate>
                                {{'boat_types.' + ctrl.boat.type}}
                            </div>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="boat-type">
                                <li ng-repeat="boatType in ctrl.boat_types" role="menuitem"
                                    ng-click="ctrl.boat.type = boatType.name">
                                    <a href="" translate>{{'boat_types.' + boatType.name}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- MATERIAL / LENGTH / INSURANCE -->
                <div class="row">
                    <div class="col-md-4 field">
                        <div class="separator"></div>
                        <div class="input-label">Materiale di costruzione</div>
                        <div class="input" uib-dropdown>
                            <div class="select" id="boat-material" uib-dropdown-toggle ng-disabled="disabled">
                                <span ng-hide="ctrl.boat.material">Select a boat material</span>
                                <span ng-show="ctrl.boat.material" translate>{{'boat_materials.' + ctrl.boat.material}}</span>
                            </div>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="boat-material">
                                <li ng-repeat="material in ctrl.materials" role="menuitem"
                                    ng-click="ctrl.boat.material = material.name">
                                    <a href="" translate>{{'boat_materials.' + material.name}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 field">
                        <div class="separator"></div>
                        <div class="input-label">Lunghezza della barca</div>
                        <div class="input"><input type="number" ng-min="0" ng-model="ctrl.boat.length"
                                                  ng-disabled="ctrl.disabled"></div>
                    </div>
                    <div class="col-md-4 field radio-group">
                        <div class="separator"></div>
                        <div class="input-label">La barca è assicurata?</div>
                        <div class="row">
                            <div class="col-md-6 field">
                                <div class="row input-container">
                                    <div class="col-xs-1 field naus-radio input-container-child">
                                        <input name="has_insurance" type="radio"
                                               ng-model="ctrl.boat.has_insurance"
                                               ng-value="true"
                                               ng-disabled="ctrl.disabled"
                                               id="has_insurance">
                                    </div>
                                    <div class="col-xs-7 field input-container-child">
                                        <label for="has_insurance">Sì</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 field">
                                <div class="row input-container">
                                    <div class="col-xs-1 field naus-radio input-container-child">
                                        <input name="has_insurance" type="radio" ng-disabled="ctrl.disabled"
                                               ng-model="ctrl.boat.has_insurance"
                                               ng-value="false"
                                               id="has_not_insurance">
                                    </div>
                                    <div class="col-xs-7 field input-container-child">
                                        <label for="has_not_insurance">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- MOTORS NUMBER / MOTOR TYPE -->
                <div class="row">
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Numero di motori</div>
                        <div class="input"><input type="number" ng-min="1"
                                                  ng-model="ctrl.boat.motors_quantity"
                                                  ng-disabled="ctrl.disabled"></div>
                    </div>
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Tipo di motore</div>
                        <div class="input" uib-dropdown>
                            <div class="select" id="motor-type" uib-dropdown-toggle ng-disabled="disabled">
                                <span ng-hide="ctrl.boat.motor_type">Select a motor type</span>
                                <span ng-show="ctrl.boat.motor_type" translate>{{'motor_types.' + ctrl.boat.motor_type}}</span>
                            </div>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="motor-type">
                                <li ng-repeat="motorType in ctrl.motor_types" role="menuitem"
                                    ng-click="ctrl.boat.motor_type = motorType.name">
                                    <a href="" translate>{{'motor_types.' + motorType.name}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- DOCKING PLACE / INDICATIONS -->
                <div class="row">
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Indirizzo dove è ormeggiata la barca</div>
                        <div class="input">
                            <textarea ng-maxlength="150" rows="4" ng-disabled="ctrl.disabled"
                                      ng-model="ctrl.boat.docking_place"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Indicazioni per raggiungere la barca</div>
                        <div class="input">
                            <textarea ng-maxlength="1000" rows="4" ng-disabled="ctrl.disabled" ng-model="ctrl.boat.indications"></textarea>
                        </div>
                    </div>
                </div>
                <!-- MAP -->
                <div class="row map">
                    <div class="col-md-12 map-indications">
                        <span>Il segnaposto indica il luogo in cui avverà l'incontro tra il Capitano e i suoi Ospiti</span>
                    </div>
                    <div class="col-md-12 map-box">
                        <div id="map"></div>
                    </div>
                </div>
                <!-- SEATS / BERTHS -->
                <div class="row">
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Numero massimo di persone</div>
                        <div class="input"><input type="number" ng-model="ctrl.boat.seats"
                                                  ng-disabled="ctrl.disabled"></div>
                        <span class="caption-input">Non include l’equipaggio</span>
                    </div>
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Numero di posti letto</div>
                        <div class="input"><input type="number" ng-model="ctrl.boat.berths"
                                                  ng-disabled="ctrl.disabled"></div>
                    </div>
                </div>
                <!-- CABINS / TOILETS -->
                <div class="row">
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Numero cabine ospiti</div>
                        <div class="input"><input type="number" ng-model="ctrl.boat.cabins"
                                                  ng-disabled="ctrl.disabled"></div>
                        <span class="caption-input">Esclusa la cabina armatoriale</span>
                    </div>
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Numero di bagni</div>
                        <div class="input"><input type="number" ng-model="ctrl.boat.toilets"
                                                  ng-disabled="ctrl.disabled"></div>
                    </div>
                </div>
                <!-- EXPERIENCE TYPES -->
                <div class="row heading">
                    <div class="col-md-12 field">
                        <div class="separator"></div>
                        <div class="input-label">Attività offerte su Nausdream con questa barca</div>
                    </div>
                </div>
                <div id="experience-types-group" class="row">
                    <div class="col-md-7 field">
                        <div class="row">
                            <div class="col-md-9 input" id="experience-types-select" uib-dropdown>
                                <div class="select" id="experience-types" uib-dropdown-toggle ng-disabled="disabled">
                                    {{ctrl.selectedExperience.text || 'Seleziona attività da offrire'}}
                                </div>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu"
                                    aria-labelledby="experience-types">
                                    <li ng-repeat="experienceType in ctrl.experience_types_list track by experienceType.id"
                                        role="menuitem" ng-click="ctrl.selectedExperience = experienceType">
                                        <a href="" translate>{{'experience_types.' + experienceType.name}}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-3 field" id="add-button"><a href="" class="icon action-icon add-button icon-plus i-8x"
                                                                     ng-click="ctrl.addExperienceType(ctrl.selectedExperience)"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 field">
                        <div class="label-closable">
                            <span ng-repeat="experience_type in ctrl.experience_types track by experience_type.id"
                                  class="label-closable-text">{{'experience_types.' + experience_type.name | translate}}<a href=""
                                                                                         class="icon-close i-5x"
                                                                                         ng-click="ctrl.removeExperienceType(experience_type.id)"></a></span>
                        </div>
                    </div>
                </div>
                <!-- RULES / DESCRIPTIONS -->
                <div class="row">
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Regole a bordo</div>
                        <div class="input">
                            <textarea ng-maxlength="1000" rows="4" ng-model="ctrl.boat.rules" ng-disabled="ctrl.disabled"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Descrizione della barca</div>
                        <div class="input">
                            <textarea ng-maxlength="2000" rows="4" ng-model="ctrl.boat.description" ng-disabled="ctrl.disabled"></textarea>
                        </div>
                    </div>
                </div>
                <!-- ACCESSORIES -->
                <div class="row">
                    <div class="col-md-12 field">
                        <div class="separator"></div>
                        <div class="input-label">Accessori</div>
                        <div class="row">
                            <div ng-repeat="accessory in ctrl.accessories_list track by accessory.id"
                                 class="col-lg-4 field checkbox-container">
                                <div class="row">
                                    <div class="col-xs-1 field naus-checkbox">
                                        <input type="checkbox" ng-disabled="ctrl.disabled"
                                               id="accessory-{{accessory.id}}"
                                               ng-model="accessory.checked">
                                    </div>
                                    <div class="col-xs-10 field">
                                        <label for="accessory-{{accessory.id}}" translate>{{'accessories.' + accessory.name}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- PHOTOS -->
                <div class="row" id="photos-container">
                    <div class="col-md-12 field">
                        <div class="separator"></div>
                        <div class="input-label">Foto della barca</div>
                        <div class="row photos">
                            <div class="col-md-4 field">
                                <div>
                                    <div class="overlay"></div>
                                    <span class="icon icon-preview i-8x eye" ng-click="ctrl.loadPhoto('external')"></span>
                                    <img src="{{ctrl.boat.external_photo}}"/>
                                </div>
                                <span class="caption-photo">Foto esterna della barca</span>
                            </div>
                            <div class="col-md-4 field">
                                <div>
                                    <div class="overlay"></div>
                                    <span class="icon icon-preview i-8x" ng-click="ctrl.changePhoto('internal')"></span>
                                    <img src="{{ctrl.boat.internal_photo}}"/>
                                </div>
                                <span class="caption-photo">Foto degli interni della barca</span>
                            </div>
                            <div class="col-md-4 field">
                                <div>
                                    <div class="overlay"></div>
                                    <span class="icon icon-preview i-8x"  ng-click="ctrl.changePhoto('sea')"></span>
                                    <img src="{{ctrl.boat.sea_photo}}"/>
                                </div>
                                <span class="caption-photo">Foto in mare della barca</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ACTIONS: SUSPEND/CONTINUE -->
                <div class="row actions-bottom" ng-if="ctrl.boat.status == 'pending'">
                    <div class="col-lg-4 text-center">
                        <a href="" ng-click="ctrl.reject()" id="reject"><span class="icon icon-rejected i-4x"></span>NON
                            APPROVARE</a>
                    </div>
                    <div class="col-lg-4 text-center">
                        <a href="" ng-click="ctrl.suspend()" id="suspend"><span
                                class="icon icon-suspended i-4x"></span>SOSPENDI</a>
                    </div>
                    <div class="col-lg-4 text-center">
                        <a href="" ng-click="ctrl.accept()" id="accept"><span
                                class="icon icon-accepted i-4x"></span>APPROVA</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="loader" ng-class="{hidden: !ctrl.loading}"></div>