<form novalidate name="ctrl.form_{{sentence.id}}" class="form-inline">
    <div class="input margin-translation-text">
        <textarea rows="4" name="text" placeholder="{{sentence.attributes.text}}" ng-model="sentence.attributes.translation"></textarea>
    </div>
    <div class="float-right margin-bottom-xs">
        <a href="" ng-click="ctrl.postTranslation(sentence)">
            <span class="action-icon-translation icon-checkmark i-7x margin-right-xs"></span>
        </a>
        <a href="" ng-click="ctrl.close(sentence.id)">
            <span class="close-icon-translation icon-close i-7x"></span>
        </a>
    </div>
</form>