<div id="users" class="container-fluid list">
    <div class="row list-controls">
        <span class="count">{{ctrl.perPage}} di {{ctrl.totalItems}} ELEMENTS</span>
        <div class="search-controls">
            <div class="search-box-container">
                <label for="search-box">Search user: </label>
                <input id="search-box" type="text" ng-model="ctrl.searchFilter"
                       ng-change="ctrl.changeFilter()"/>
            </div>
            <div class="filters">
                <span class="filter-by">Filter by: </span>

                <div class="checkbox-container pointer">
                    <input class="pointer" id="filter-user" type="checkbox"
                           ng-model="ctrl.filterUsers"
                           ng-value=true
                           ng-change="ctrl.changeType()">
                    <label class="pointer" for="filter-user">Users</label>
                </div>

                <div class="checkbox-container pointer">
                    <input class="pointer" id="filter-captain" type="checkbox"
                           ng-model="ctrl.filterCaptains"
                           ng-value=true
                           ng-change="ctrl.changeType()">
                    <label class="pointer" for="filter-captain">Captains</label>
                </div>

                <div class="checkbox-container pointer">
                    <input class="pointer" id="filter-partner" type="checkbox"
                           ng-model="ctrl.filterPartners"
                           ng-value=true
                           ng-change="ctrl.changeType()">
                    <label class="pointer" for="filter-partner">Partners</label>
                </div>

            </div>
        </div>
    </div>
    <div class="row list-table">
        <div class="table-responsive">
            <table class="table" ng-if="!ctrl.loading">
                <thead class="head">
                <tr>
                    <th ng-repeat="column in ctrl.columns" class="column {{column.name}}">{{column.heading}}</th>
                </tr>
                </thead>
                <tbody class="body">
                <tr class="record" ng-repeat="user in ctrl.data track by $index">
                    <td class="field name">
                        <span class="user-name">{{user.attributes.first_name}} {{user.attributes.last_name}}</span>
                        <br/>
                        <span class="user-type">
                            <span ng-show="user.attributes.is_partner == 0 && user.attributes.is_captain == 0">User </span>
                            <span ng-show="user.attributes.is_partner">Partner </span>
                            <span ng-show="user.attributes.is_captain">Captain</span>
                        </span>
                    </td>
                    <td class="field date">
                        {{user.attributes.created_at}}
                    </td>
                    <td class="field email">
                        {{user.attributes.email}}
                    </td>
                    <td class="field country">
                        {{user.attributes.enterprise_city ? user.attributes.enterprise_city + ',' : ''}}
                        {{user.attributes.enterprise_zip_code}}
                    </td>
                    <td class="field action">
                        <a ng-click="ctrl.loginAsUser(user.id)" class="icon action-icon icon-arrow-right pointer"></a>
                    </td>
                </tr>

                <tr ng-if="ctrl.data.length == 0">
                    <td>No results, try changing your search</td>
                </tr>
                </tbody>
            </table>
            <div class="loader" ng-if="ctrl.loading"></div>
        </div>
    </div>
    <div class="row list-pagination">
        <!--<a href="#">-->
        <!--<div class="action">-->
        <!--<span class="icon action-icon icon-plus i-7x"></span>-->
        <!--<span class="text">Inserisci nuovo utente</span>-->
        <!--</div>-->
        <!--</a>-->
        <div id="pagination" ng-if="ctrl.totalItems">
            <ul uib-pagination
                total-items="ctrl.totalItems" ng-model=ctrl.currentPage boundary-links="ctrl.boundaryLinks"
                direction-links="ctrl.directionLinks" first-text="FIRST" last-text="LAST"
                max-size="ctrl.pagesToDisplay" items-per-page="ctrl.perPage"
                ng-change="ctrl.pageChanged()">
            </ul>
        </div>
    </div>
</div>