<div ng-show="!ctrl.success && !ctrl.loading && !ctrl.translations.loading">
    <div class="text-center">
        <p class="h4" translate>{{'events.header'}}</p>
        <p translate>{{'events.header_1'}}</p>
    </div>
    <form novalidate class="form container-register" name="ctrl.form">
        <input name="email" type="email" maxlength="150" required
               placeholder="{{'events.email' | translate}}*"
               ng-model="ctrl.contacts.email"
               ng-change="ctrl.resetField('email')"
               ng-blur="ctrl.validateField('email')"
               class="bottom-border margin-top-xs">
        <span class="error-form-input" ng-if="ctrl.errors.email" translate
              translate-value-attribute="{{'events.email' | translate}}">{{'errors.' + ctrl.errors.email.code}}</span>
        <textarea name="text" maxlength="2000" required
                  placeholder="{{'events.text' | translate}}*"
                  ng-model="ctrl.contacts.text"
                  ng-change="ctrl.resetField('text')"
                  ng-blur="ctrl.validateField('text')"
                  class="bottom-border margin-top-sm" rows="4"></textarea>
        <span class="error-form-input" ng-if="ctrl.errors.text" translate
              translate-value-attribute="{{'events.text' | translate}}">{{'errors.' + ctrl.errors.text.code}}</span>
        <span class="error-form-no-input" ng-if="ctrl.errors.error" translate>{{'errors.' + ctrl.errors.error}}</span>
        <div class="text-center">
            <naus-btn on-click="ctrl.send()"
                      options="{disabled: ctrl.loading}"
                      custom-classes="['margin-top-md']">
                {{'events.send' | translate}}
            </naus-btn>
        </div>
    </form>
</div>
<div class="container-register text-center" ng-show="ctrl.success">
    <p class="h4" translate>{{'events.success'}}</p>
    <p translate>{{'events.success_2'}}</p>
    <naus-btn on-click="ctrl.onClose()"
              custom-classes="['margin-top-md']">
        {{'events.back_home' | translate}}
    </naus-btn>
</div>
<!-- LOADER -->
<div class="container-register" ng-show="ctrl.loading || ctrl.translations.loading">
    <div class="loader"></div>
</div>
