<div class="component-loadable dashboard-single-container booking"
     ng-class="{'component-loadable-loading': (ctrl.loading || ctrl.translations.loading)}">
    <div ng-if="!(ctrl.loading || ctrl.translations.loading)" class="dashboard-single">
        <uib-accordion template-url="/users/app/components/accordion/accordion.view.html">
            <div uib-accordion-group is-open="true" is-disabled="true"
                 template-url="/users/app/components/accordion/accordion-group.view.html">
                <uib-accordion-heading>
                    <a ng-click="ctrl.onBackClick()" class="icon icon-arrow i-5x light-blue mirror back-button"></a>
                    <span>{{ctrl.name}}</span>
                </uib-accordion-heading>

                <div class="img-container hidden-xs" ng-style="{'background-image':'url('+ ctrl.photo+')'}">
                </div>

                <div class="container-fluid right-column-desktop no-padding">
                    <div class="row booking-row">
                        <div class="booking-col col-xs-12 col-sm-12 margin-bottom-sm">
                            <div class="img-container visible-xs" ng-style="{'background-image':'url('+ ctrl.photo+')'}">
                            </div>
                            <div class="experience-info-container">
                                <h4 class="experience-title light-blue bold no-margin-top margin-right-sm">{{ctrl.name}}</h4>
                                <h6 class="experience-departure-port no-margin-bottom">{{ctrl.departurePort}}</h6>
                            </div>
                        </div>
                        <div class="booking-col col-xs-12 col-sm-12" ng-if="ctrl.canEditPrice">
                            <span ng-click="ctrl.toggleEditModal()" class="pointer">
                                <span class="h4 light-blue bold margin-right-sm"
                                      translate="booking.edit_total_price"
                                      translate-values="{ amount: ctrl.total, currency: ctrl.captainCurrencySymbol }"></span>
                                <span class="icon icon-arrow light-blue i-7x edit-price-cta-text"></span>
                            </span>
                            <modal ng-if="ctrl.editModal" modal-title="booking.edit"
                                   on-close="ctrl.toggleEditModal(false)">
                                <booking-edit-price booking-id="{{ctrl.bookingId}}"
                                                    on-close="ctrl.toggleEditModal(false, update)"
                                                    price="ctrl.total"
                                                    currency="{{ctrl.captainCurrencySymbol}}"></booking-edit-price>
                            </modal>
                        </div>
                        <div class="col-xs-12 hr">
                            <hr>
                        </div>
                    </div>
                    <div class="row booking-row">
                        <div class="booking-col col-xs-12">
                            <h4 class="no-margin-top">{{'experience.details' | translate}}</h4>
                        </div>
                        <!--REQUEST DATE-->
                        <div class="booking-col col-xs-12 col-sm-6">
                            <h6 class="no-margin-top">
                                <span class="bold">{{'booking.request_date' | translate}}</span>
                                <span>{{ctrl.requestDate | userDate:ctrl.userLanguage:false}}</span>
                            </h6>
                        </div>
                        <!--ADULTS-->
                        <div class="booking-col col-xs-12 col-sm-6">
                            <h6 class="no-margin-top">
                                <span class="bold">{{'experience.guests' | translate}}</span>
                                <span>{{ctrl.adults}}</span>
                            </h6>
                        </div>
                        <!--KIDS-->
                        <div class="booking-col col-xs-12 col-sm-6">
                            <h6 class="no-margin-top">
                                <span class="bold">{{'experience.kids' | translate}}</span>
                                <span>{{ctrl.kids}}</span>
                            </h6>
                        </div>
                        <!--BABIES-->
                        <div class="booking-col col-xs-12 col-sm-6">
                            <h6 class="no-margin-top">
                                <span class="bold">{{'experience.babies' | translate}}</span>
                                <span>{{ctrl.babies}}</span>
                            </h6>
                        </div>
                        <!--DEPARTURE TIME-->
                        <div class="booking-col col-xs-12 col-sm-6">
                            <h6 class="no-margin-top">
                                <span class="bold">{{'experience.departure_time' | translate}}</span>
                                <span>{{ctrl.departureTime | userTime:ctrl.userLanguage:false}}</span>
                            </h6>
                        </div>
                        <!--ARRIVAL TIME-->
                        <div class="booking-col col-xs-12 col-sm-6">
                            <h6 class="no-margin-top">
                                <span class="bold">{{'experience.arrival_time' | translate}}</span>
                                <span>{{ctrl.arrivalTime | userTime:ctrl.userLanguage:false}}</span>
                            </h6>
                        </div>
                        <!--DEPARTURE PORT-->
                        <div class="booking-col col-xs-12 col-sm-6">
                            <h6 class="no-margin-top">
                                <span class="bold">{{'experience.departure_port' | translate}}</span>
                                <span>{{ctrl.departurePort}}</span>
                            </h6>
                        </div>
                        <!--ARRIVAL PORT-->
                        <div class="booking-col col-xs-12 col-sm-6">
                            <h6 class="no-margin-top">
                                <span class="bold">{{'experience.arrival_port' | translate}}</span>
                                <span>{{ctrl.arrivalPort}}</span>
                            </h6>
                        </div>
                        <div class="col-xs-12 hr">
                            <hr class="no-margin-top">
                        </div>
                    </div>
                    <div class="row booking-row" ng-if="ctrl.fixedAdditionalServices.length + ctrl.additionalServices.length > 0">
                        <div class="booking-col col-xs-12">
                            <h4 class="no-margin-top">{{'booking.additional_services_heading' | translate}}</h4>
                            <h6>{{'booking.additional_services_subheading' | translate}}</h6>
                        </div>
                        <div class="booking-col col-xs-12">
                            <ul class="naus-list style-dot">
                                <li ng-repeat="additionalService in ctrl.fixedAdditionalServices" class="service">
                                    <span class="h6">{{'additional_services.' + additionalService.attributes.name | translate}}</span>
                                    <span class="service-price h6 no-margin red">{{additionalService.attributes.price | nausCurrency:ctrl.captainCurrency:ctrl.currencies}}</span>
                                </li>
                                <li ng-repeat="additionalService in ctrl.additionalServices" class="service">
                                    <span class="h6">{{additionalService.attributes.name}}</span>
                                    <span class="service-price h6 no-margin red">{{additionalService.attributes.price | nausCurrency:ctrl.captainCurrency:ctrl.currencies}}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-12 hr">
                            <hr class="no-margin-top">
                        </div>
                    </div>
                    <div class="row booking-row">
                        <div class="booking-col col-xs-12 payment-row">
                            <h4 class="no-margin-top">{{'booking.payment_info' | translate}}</h4>
                            <h6 class="payment-info-line">
                                <span translate="booking.service_free_amount"
                                      translate-values="{ price: ctrl.pricePerPersonWithoutServices, currency: ctrl.captainCurrencySymbol, hosts: ctrl.hosts }"></span>
                                <span class="pull-right">
                                    {{ctrl.totalPriceWithoutServices | nausCurrency:ctrl.captainCurrency:ctrl.currencies}}
                                </span>
                            </h6>
                            <h6 ng-if="ctrl.servicesPrice > 0">
                                <span translate="booking.additional_services"
                                      translate-values="{ hosts: ctrl.hosts }"></span>
                                <span class="pull-right">{{ctrl.servicesPrice | nausCurrency:ctrl.captainCurrency:ctrl.currencies}}</span>
                            </h6>
                            <h6 ng-if="ctrl.discount > 0 && !ctrl.isUserCaptain">
                                <span>{{'booking.discount' | translate}}</span>
                                <span class="pull-right">-{{ctrl.discount | nausCurrency:ctrl.captainCurrency:ctrl.currencies}}</span>
                            </h6>
                        </div>
                        <div class="col-xs-12 hr">
                            <hr class="no-margin-top">
                        </div>
                    </div>
                    <div class="row booking-row">
                        <div class="booking-col col-xs-12 payment-row">
                            <h4 class="text-right no-margin-top">
                                <span>{{'booking.total' | translate}} {{ctrl.total |  nausCurrency:ctrl.captainCurrency:ctrl.currencies}}</span>
                                <br ng-hide="ctrl.isSameCurrency || ctrl.isUserCaptain">
                                <span ng-hide="ctrl.isSameCurrency || ctrl.isUserCaptain" class="h6"
                                      translate="booking.nearly"
                                      translate-values="{ amount: ctrl.totalGuestCurrency, currency: ctrl.userCurrencySymbol }"></span>
                            </h4>
                            <h5 class="text-right" ng-if="!ctrl.isUserCaptain">
                                <span>{{'booking.to_pay_on_board' | translate}} {{ctrl.priceOnBoard |  nausCurrency:ctrl.captainCurrency:ctrl.currencies}}</span>
                                <br ng-hide="ctrl.isSameCurrency || ctrl.isUserCaptain">
                                <span ng-hide="ctrl.isSameCurrency || ctrl.isUserCaptain" class="h6"
                                      translate="booking.nearly"
                                      translate-values="{ amount: ctrl.priceOnBoardGuestCurrency, currency: ctrl.userCurrencySymbol }"></span>
                            </h5>
                            <h5 class="text-right" ng-if="!ctrl.isUserCaptain">
                                <span>{{'booking.to_pay_now' | translate}} {{ctrl.priceToPay |  nausCurrency:ctrl.captainCurrency:ctrl.currencies}}</span>
                                <br ng-hide="ctrl.isSameCurrency || ctrl.isUserCaptain">
                                <span ng-hide="ctrl.isSameCurrency || ctrl.isUserCaptain" class="h6"
                                      translate="booking.nearly"
                                      translate-values="{ amount: ctrl.priceToPayGuestCurrency, currency: ctrl.userCurrencySymbol }"></span>
                            </h5>
                            <h5 class="text-right" ng-if="ctrl.isUserCaptain">
                                <span>{{'booking.your_profit' | translate}} {{ctrl.priceOnBoard |  nausCurrency:ctrl.captainCurrency:ctrl.currencies}}</span>
                            </h5>
                            <h5 class="text-right" ng-if="ctrl.isUserCaptain">
                                <span>{{'booking.nausdream_fee' | translate}} {{(ctrl.priceToPay + ctrl.discount) |  nausCurrency:ctrl.captainCurrency:ctrl.currencies}}</span>
                            </h5>
                        </div>
                        <div class="col-xs-12 hr">
                            <hr class="no-margin-top">
                        </div>
                    </div>
                </div>

                <!--ACTIONS-->
                <!--IF CAPTAIN-->
                <div ng-if="ctrl.isUserCaptain" class="text-center">
                    <div ng-switch="ctrl.status">
                        <div ng-switch-when="pending">
                            <div class="text-left action-button action-button-left margin-bottom-sm">
                                <!--REJECT-->
                                <naus-btn on-click="ctrl.toggleRejectModal()" options="{inverse: true}">
                                    {{'booking.reject' | translate}}
                                </naus-btn>
                            </div>
                            <div class="text-right action-button action-button-right">
                                <!--ACCEPT-->
                                <naus-btn on-click="ctrl.accept()" options="{inverse: true}">
                                    {{'booking.accept' | translate}}
                                </naus-btn>
                            </div>
                            <modal ng-if="ctrl.rejectModal" modal-title="booking.confirm_rejection"
                                   on-close="ctrl.toggleRejectModal(false)">
                                <div class="text-center">
                                    <h5 class="margin-bottom-md" translate>
                                    {{'booking.reject_confirmation'}}</h5>
                                    <div class="margin-bottom-sm">
                                        <naus-btn on-click="ctrl.reject()">
                                            {{'booking.reject' | translate}}
                                        </naus-btn>
                                    </div>
                                    <div>
                                        <naus-btn on-click="ctrl.toggleRejectModal(false)" options="{inverse: true}">
                                            {{'booking.cancel' | translate}}
                                        </naus-btn>
                                    </div>
                                </div>
                            </modal>
                        </div>

                        <div ng-switch-when="accepted_captain|rejected|paid" ng-switch-when-separator="|">
                            <status-label status-name=ctrl.status model-name="booking"></status-label>
                        </div>

                        <!--NO BOOKING-->
                        <div ng-switch-when="null">
                        </div>
                    </div>
                </div>

                <!--IF USER-->
                <div ng-if="!ctrl.isUserCaptain" class="text-center">
                    <div ng-switch="ctrl.status">
                        <div ng-switch-when="pending">
                            <status-label status-name=ctrl.status model-name="booking"></status-label>
                            <hr>
                            <naus-btn on-click="ctrl.goToConversation()">
                                {{'booking.text_captain_cta' | translate}}
                            </naus-btn>
                        </div>

                        <div ng-switch-when="accepted">
                            <!--BUY-->
                            <naus-btn on-click="ctrl.book()">
                                {{'booking.buy' | translate}}
                            </naus-btn>
                            <!--CANCEL-->
                            <!--<button type="button" class="naus-btn naus-btn-inverse text-uppercase"-->
                            <!--ng-click="ctrl.cancel()">-->
                            <!--{{'booking.cancel' | translate}}-->
                            <!--</button>-->
                        </div>

                        <div ng-switch-when="rejected">
                            <status-label status-name=ctrl.status model-name="booking"></status-label>
                            <hr class="margin-bottom-sm">
                            <!--NEW REQUEST-->
                            <naus-btn on-click="ctrl.toggleNewRequestModal()">
                                {{'booking.new_request' | translate}}
                            </naus-btn>
                            <modal class="booking-modal" ng-if="ctrl.newRequestModal"
                                   modal-title="booking.new_request"
                                   on-close="ctrl.toggleNewRequestModal(false)">
                                <booking-popup experience-promise="ctrl.experiencePromise"
                                               booking-promise="ctrl.bookingPromise"
                                               on-close="ctrl.toggleNewRequestModal(false, update, newBookingId)"></booking-popup>
                            </modal>
                        </div>

                        <div ng-switch-when="paid">
                            <status-label status-name=ctrl.status model-name="booking"></status-label>
                        </div>
                    </div>
                </div>


                <!--<hr>-->
                <!--<div class="captain-info-container">-->
                    <!--<user-pic user-pic-link="" user-role=""></user-pic>-->
                    <!--<div class="captain-info"></div>-->
                <!--</div>-->
            </div>
        </uib-accordion>
    </div>

    <div ng-show="ctrl.loading || ctrl.translations.loading" class="loader-alt inside-parent"></div>
</div>

<!--MODALS-->
<!--ERRORS-->
<modal ng-if="ctrl.modals.error" modal-title="errors.error_modal_title"
       on-close="ctrl.toggleModals(false, false)">
    <div translate>
        {{ctrl.modals.name}}
    </div>
</modal>
<!--SUCCESS-->
<modal ng-if="ctrl.modals.success" modal-title="booking.request_sent"
       on-close="ctrl.toggleModals(false)">
    <booking-confirmed user-id="{{ctrl.user.id}}" user-email="{{ctrl.userEmail}}"></booking-confirmed>
</modal>