<div class="container-fluid booking-offsite-new">
    <div class="row page-title">New Offsite Booking</div>
    <div class="row form-container">
        <form novalidate class="form" name="ctrl.form">
            <div class="container-fluid">
                <!-- GUEST DATA-->
                <div class="row">
                    <div class="col-xs-12"><h3>GUEST DATA</h3></div>
                </div>
                <!-- FIRST/LAST NAME GUEST -->
                <div class="row">
                    <!-- FIRST NAME GUEST -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">First name<span
                                ng-show="ctrl.fields.first_name.required">*</span></div>
                        <div class="input">
                            <input name="first_name" type="text" ng-maxlength="ctrl.fields.first_name.max"
                                   ng-model="ctrl.booking.first_name"
                                   ng-required="ctrl.fields.first_name.required">
                        </div>
                    </div>
                    <!-- LAST NAME GUEST -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Last name<span ng-show="ctrl.fields.last_name.required">*</span>
                        </div>
                        <div class="input">
                            <input name="last_name" type="text" ng-maxlength="ctrl.fields.last_name.max"
                                   ng-model="ctrl.booking.last_name"
                                   ng-required="ctrl.fields.last_name.required">
                        </div>
                    </div>
                </div>
                <!-- LANGUAGE GUEST-->
                <div class="row">
                    <!-- LANGUAGE GUEST -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Language<span ng-show="ctrl.fields.language_guest.required">*</span>
                        </div>
                        <div class="input" uib-dropdown>
                            <div class="select" id="language_guest" uib-dropdown-toggle translate>
                                {{'languages.' + ctrl.booking.language_guest}}
                            </div>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="language_guest">
                                <li ng-repeat="language in ctrl.languages" role="menuitem"
                                    ng-click="ctrl.booking.language_guest = language.attributes.language;">
                                    <a href="" translate>{{'languages.' + language.attributes.language}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <hr>

                <!-- CAPTAIN DATA-->
                <div class="row">
                    <div class="col-xs-12"><h3>CAPTAIN DATA</h3></div>
                </div>
                <!-- CURRENCY CAPTAIN-->
                <div class="row">
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Currency<span ng-show="ctrl.fields.currency_captain.required">*</span>
                        </div>
                        <div class="input" uib-dropdown>
                            <div class="select" id="currency_captain" uib-dropdown-toggle translate>
                                {{'currencies.' + ctrl.booking.currency_captain}}
                            </div>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="currency_captain">
                                <li ng-repeat="currency in ctrl.currencies" role="menuitem"
                                    ng-click="ctrl.booking.currency_captain = currency.attributes.name;">
                                    <a href="" translate>{{'currencies.' + currency.attributes.name}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <hr>

                <!-- EXPERIENCE DATA-->
                <div class="row">
                    <div class="col-xs-12"><h3>EXPERIENCE DATA</h3></div>
                </div>
                <!-- EXPERIENCE TITLE/DESCRIPTION -->
                <div class="row">
                    <!-- EXPERIENCE TITLE -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Title<span ng-show="ctrl.fields.experience_title.required">*</span>
                        </div>
                        <div class="input">
                            <input name="experience_title" type="text" ng-maxlength="ctrl.fields.experience_title.max"
                                   ng-model="ctrl.booking.experience_title"
                                   ng-required="ctrl.fields.experience_title.required">
                        </div>
                    </div>
                </div>
                <!-- DEPARTURE/ARRIVAL DATE -->
                <div class="row">
                    <!-- DEPARTURE DATE -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Departure Date<span
                                ng-show="!ctrl.fields.departure_date.optional">*</span>
                        </div>
                        <div class="input">
                            <naus-datepicker-popup date="ctrl.booking.departure_date" language="en"
													min-date=ctrl.fields.departure_date.min
                                                   is-open=ctrl.fields.departure_date.open
                                                   on-select="ctrl.no_dates = false"></naus-datepicker-popup>
                        </div>
                    </div>
                    <!-- ARRIVAL DATE -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Arrival Date<span ng-show="!ctrl.fields.arrival_date.optional">*</span>
                        </div>
                        <div class="input">
                            <naus-datepicker-popup date="ctrl.booking.arrival_date" language="en"
													min-date=ctrl.fields.arrival_date.min
                                                   is-open=ctrl.fields.arrival_date.open
                                                   on-select="ctrl.no_dates = false"></naus-datepicker-popup>
                        </div>
                    </div>
                    <!-- NO DATE -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Don't set departure/arrival date</div>
                        <div class="input">
                            <input type="checkbox"
                                   ng-model="ctrl.no_dates"
                                   ng-change="ctrl.clearDates()"
                                   ng-value=true
                                   ng-required=false>
                        </div>
                    </div>
                </div>
                <!--DEPARTURE/ARRIVAL PORT-->
                <div class="row">
                    <!-- DEPARTURE PORT -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Departure port<span
                                ng-show="ctrl.fields.departure_port.required">*</span></div>
                        <div class="input">
                            <input name="departure_port" type="text" ng-maxlength="ctrl.fields.departure_port.max"
                                   ng-model="ctrl.booking.departure_port"
                                   ng-required="ctrl.fields.departure_port.required">
                        </div>
                    </div>
                    <!-- ARRIVAL PORT -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Arrival port<span ng-show="ctrl.fields.arrival_port.required">*</span>
                        </div>
                        <div class="input">
                            <input name="arrival_port" type="text" ng-maxlength="ctrl.fields.arrival_port.max"
                                   ng-model="ctrl.booking.arrival_port"
                                   ng-required="ctrl.fields.arrival_port.required">
                        </div>
                    </div>
                </div>
                <!--DEPARTURE/ARRIVAL TIME-->
                <div class="row">
                    <!-- DEPARTURE TIME -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Departure time<span
                                ng-show="ctrl.fields.departure_time.required">*</span></div>
                        <div class="input">
                            <div uib-timepicker ng-model="ctrl.booking.departure_time"
                                 show-spinners="false"
                                 show-meridian="false"></div>
                        </div>
                    </div>
                    <!-- ARRIVAL TIME -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Arrival time<span ng-show="ctrl.fields.arrival_time.required">*</span>
                        </div>
                        <div class="input">
                            <div uib-timepicker ng-model="ctrl.booking.arrival_time"
                                 show-spinners="false"
                                 show-meridian="false"></div>
                        </div>
                    </div>
                </div>
                <!--ADULTS/KIDS/BABIES-->
                <div class="row">
                    <!-- ADULTS -->
                    <div class="col-md-4 field">
                        <div class="separator"></div>
                        <div class="input-label">Adults<span ng-show="ctrl.fields.adults.required">*</span></div>
                        <div class="input">
                            <input name="adults" type="number" ng-min="0"
                                   ng-max="ctrl.fields.adults.max"
                                   ng-model="ctrl.booking.adults"
                                   ng-required="ctrl.fields.adults.required">
                        </div>
                    </div>
                    <!-- KIDS -->
                    <div class="col-md-4 field">
                        <div class="separator"></div>
                        <div class="input-label">Kids<span ng-show="ctrl.fields.kids.required">*</span></div>
                        <div class="input">
                            <input name="kids" type="number" ng-min="0"
                                   ng-max="ctrl.fields.kids.max"
                                   ng-model="ctrl.booking.kids"
                                   ng-required="ctrl.fields.kids.required">
                        </div>
                    </div>
                    <!-- BABIES -->
                    <div class="col-md-4 field">
                        <div class="separator"></div>
                        <div class="input-label">Babies<span ng-show="ctrl.fields.babies.required">*</span></div>
                        <div class="input">
                            <input name="babies" type="number" ng-min="0"
                                   ng-max="ctrl.fields.babies.max"
                                   ng-model="ctrl.booking.babies"
                                   ng-required="ctrl.fields.babies.required">
                        </div>
                    </div>
                </div>
                <!--PRICE/FEE-->
                <div class="row">
                    <!-- PRICE -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Price ({{ctrl.booking.currency_captain}})<span
                                ng-show="ctrl.fields.price.required">*</span></div>
                        <div class="input">
                            <input name="price" type="number" ng-min="ctrl.fields.price.min"
                                   ng-max="ctrl.fields.price.max"
                                   ng-model="ctrl.booking.price"
                                   ng-required="ctrl.fields.price.required && !ctrl.booking.without_payment">
                        </div>
                    </div>
                    <!-- FEE -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Fee ({{ctrl.booking.currency_captain}})<span
                                ng-show="ctrl.fields.fee.required">*</span></div>
                        <div class="input">
                            <input name="fee" type="number" ng-min="0"
                                   ng-max="ctrl.booking.price"
                                   ng-model="ctrl.booking.fee"
                                   ng-required="ctrl.fields.fee.required && !ctrl.booking.without_payment">
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="text-center">
            <button class="margin-top-lg" ng-click="ctrl.post()">CREATE</button>
        </div>
    </div>
</div>

<modal ng-if="ctrl.successModal" modal-title="Success" on-close="ctrl.successModal = false">
    <div>
        <h3 class="text-center margin-bottom-md">New Voucher created</h3>
        <div class="text-center margin-bottom-sm">
            <button ng-click="ctrl.successModal = false">Create another Voucher</button>
        </div>
    </div>
</modal>

<modal ng-if="ctrl.errorModal" modal-title="Error" on-close="ctrl.errorModal = false">
    <div class="text-center">
        <h5 ng-if="ctrl.errorMissingDate">Dates are required</h5>
        <h5 ng-if="ctrl.errorArrivalDate">Arrival date can't be before experience date</h5>
        <button ng-click="ctrl.errorModal = false">Close</button>
    </div>
</modal>