<div class="component-loadable dashboard-list" ng-class="{'component-loadable-loading': (ctrl.loading || ctrl.translations.loading)}">
    <div ng-if="!(ctrl.loading || ctrl.translations.loading)" id="boats-list">
        <uib-accordion template-url="/users/app/components/accordion/accordion.view.html">
            <div uib-accordion-group is-open="ctrl.open" is-disabled="!ctrl.showAccordion" template-url="/users/app/components/accordion/accordion-group.view.html">
                <uib-accordion-heading>
                    <a ng-click="ctrl.back($event)" ng-if="ctrl.showBackButton" class="icon icon-arrow i-5x light-blue mirror back-button"></a><span>{{'boat.my_boats' | translate}} - </span><span class="light-blue">{{ctrl.boats.length}}</span>
                    <div ng-if="ctrl.showAccordion" class="accordion-opener">
                        <a ng-href="" ng-if="ctrl.open" class="icon icon-minus toggle-open i-6x"></a>
                        <a ng-href="" ng-if="!ctrl.open" class="icon icon-plus toggle-open i-6x"></a>
                    </div>
                </uib-accordion-heading>

                <!--BOATS-->
                <div ng-if="ctrl.boats.length > 0" class="table-responsive">
                    <table class="table">
                        <thead class="table-head bold">
                        <tr>
                            <th class="table-heading hidden-xs col-sm-3 heading-photo"></th>
                            <th class="table-heading col-sm-5 heading-name">{{'boat.list_name' | translate}}</th>
                            <th class="table-heading hidden-xs col-sm-2 heading-date">{{'boat.date' | translate}}</th>
                            <th class="table-heading col-xs-4 col-sm-2 text-center heading-status">{{'boat.status' | translate}}</th>
                            <th class="table-heading col-xs-3 hidden-sm-up heading-view"></th>
                        </tr>
                        </thead>
                        <tbody class="table-body">
                        <tr class="table-row" ng-repeat="boat in ctrl.boats" ng-click="ctrl.onBoatClick({id: boat.id})">
                            <td class="table-field hidden-xs"><div class="table-field-content boat-photo-container"><div class="boat-photo" ng-style="{'background-image': 'url(' + boat.previewData.photo +')'}"></div></div></td>
                            <td class="table-field first-child-mobile"><div class="table-field-content boat-name"><span>{{boat.previewData.name | translate}}</span></div></td>
                            <td class="table-field hidden-xs"><div class="table-field-content">{{boat.previewData.date | userDate:ctrl.language}}</div></td>
                            <td class="table-field text-center"><div class="table-field-content"><status-label status-name=boat.previewData.status model-name="boat"></status-label></div></td>
                            <td class="table-field"><div class="table-field-content text-right"><a class="icon icon-arrow i-7x light-blue"></a></div></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--NO BOATS-->
                <div ng-if="ctrl.boats.length == 0" class="empty-list text-center">
                    <p class="text-center h3 no-margin-top">{{'boat.empty_list' | translate}}</p>
                    <p class="text-center">{{'boat.empty_list_subheading' | translate}}</p>
                    <naus-btn on-click="ctrl.addNewBoat()">
                        {{'boat.new_boat_cta_list' | translate}}
                    </naus-btn>
                </div>
            </div>
        </uib-accordion>
    </div>
    <span ng-click="ctrl.addNewBoat()" class="add-new-element pointer" ng-if="!(ctrl.loading || ctrl.translations.loading) && ctrl.boats.length > 0">
        <div class="plus-button-container icon round text-center"><span class="icon-plus light-blue i-5x"></span></div>
        <span class="light-blue bold h5">{{'boat.new_boat_cta_list' | translate}}</span>
    </span>

    <div ng-if="ctrl.loading || ctrl.translations.loading" class="loader-alt"></div>

</div>