<div id="page" class="container-fluid" ng-class="{hidden: ctrl.loading}">
    <div class="row page-title">
        <h5 class="bold">Translation: {{ctrl.languageOriginName}} - {{ctrl.languageDestinationName}}</h5>
    </div>
    <div class="row page-title margin-bottom-sm">
        <h5 class="bold">Page</h5>
    </div>
    <!-- TODO: add page name -->
    <!--
    <div class="row related-actions">
        <span class="related">{{ctrl.page.name}}</span>
    </div>
    -->
    <div class="row form-container">
        <form novalidate class="form" name="ctrl.form">
            <div class="container-fluid">
                <!-- Original text -->
                <div class="row margin-bottom-sm">
                    <div class="col-md-6 no-padding">
                        <h4 class="bold">Original text</h4>
                    </div>
                    <div class="col-md-6 no-padding">
                        <h4 class="bold">Translation</h4>
                    </div>
                </div>
                <div class="row" ng-repeat="sentence in ctrl.sentences track by $index">
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">{{sentence.attributes.name}}</div>
                        <div class="input originaltext withbreakline" ng-if="ctrl.fallbackLanguage == ctrl.language">{{sentence.attributes.translation}}</div>
                        <div class="input originaltext withbreakline" ng-if="ctrl.fallbackLanguage != ctrl.language">{{sentence.attributes.text}}</div>
                    </div>
                    <!-- Translations -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">{{sentence.attributes.name}}</div>
                        <!--" -->

                        <div
                            uib-popover-template="'/translation/app/components/popover-translation/views/translation.view.html'"
                            popover-placement="bottom-left"
                            popover-trigger="'outsideClick'"
                            popover-class="popover-translation"
                            popover-is-open="ctrl.openPopover[{{sentence.id}}]"
                            popover-title="INSERT TRANSLATION"
                            popover-class="translation-popover">
                            <div class="input translation withbreakline" ng-if="sentence.attributes.translation != ''">{{sentence.attributes.translation}}</div>
                            <div class="input totranslate withbreakline" ng-if="sentence.attributes.translation == ''">{{sentence.attributes.text}}</div>
                        </div>

                    </div>
                </div>
                <div ng-if="ctrl.is_admin">
                    <hr>
                    <a href="" ng-click="ctrl.openModal()">
                        <div class="action">
                            <span class="icon action-icon icon-plus"></span>
                            <span class="text no-padding margin-left-md light-blue h6">Insert new element</span>
                        </div>
                    </a>
                </div>
            </div>

        </form>
    </div>
</div>
<div class="loader" ng-class="{hidden: !ctrl.loading}"></div>