<div class="status-label-container">
    <span ng-hide=ctrl.translations.loading
          class="status-label text-uppercase status-label-{{ctrl.colors[ctrl.modelName + '_' + ctrl.statusName]}} text-center">{{'status.' + ctrl.modelName + '_' + ctrl.statusName | translate}}</span>
</div>