<div class="view-container dashboard" ng-if="!ctrl.loading">
    <boat-infobox boat-promise=ctrl.boatPromise on-edit="ctrl.edit()"></boat-infobox>
    <boat boat-promise=ctrl.boatPromise on-back-click="ctrl.boatBackButton(null)" on-edit="ctrl.edit()"></boat>
</div>
