<section id="login-sms">
	<div ng-if="!smsAuth.showForm">
		<a class="btn btn-info center-block auth-btn" ng-click="smsAuth.verifyPhone()">
			<span class="icon icon-phone"></span> {{'header.sms_login' | translate}}
		</a>
	</div>
	<div class="row" ng-if="smsAuth.showForm">
		<form>
			<div class="row">
				<div class="col-md-2">
					<div class="form-group">
						<input type="number" class="form-control" placeholder="Code" maxlength="3" ng-model="smsAuth.dialCode" required="">
					</div>
				</div>
				<div class="col-md-10">
					<div class="form-group">
						<input type="number" class="form-control" placeholder="Your phone number" ng-model="smsAuth.phoneNumber" required="">
					</div>
				</div>
			</div>
			<div class="form-group">
				<a class="btn btn-info btn-block" ng-click="smsAuth.verifyPhone()">Verify</a>
			</div>
		</form>
	</div>
</section>