<div class="component-loadable dashboard-list"
     ng-class="{'component-loadable-loading': (ctrl.loading || ctrl.translations.loading)}">
    <div ng-hide="ctrl.loading || ctrl.translations.loading" class="bookings-list">
        <uib-accordion template-url="/users/app/components/accordion/accordion.view.html">
            <div uib-accordion-group is-open="ctrl.open" is-disabled="!ctrl.showAccordion"
                 template-url="/users/app/components/accordion/accordion-group.view.html">
                <uib-accordion-heading>
                    <a ng-click="ctrl.back($event)" ng-if="ctrl.showBackButton"
                       class="icon icon-arrow i-5x light-blue mirror back-button"></a>
                    <span ng-hide="ctrl.isUserCaptain">{{'booking.my_bookings' | translate}} - </span>
                    <span ng-show="ctrl.isUserCaptain && !ctrl.captainBookings">{{'booking.my_bookings_as_user' | translate}} - </span>
                    <span ng-show="ctrl.isUserCaptain && ctrl.captainBookings">{{'booking.my_bookings_as_captain' | translate}} - </span>
                    <span class="light-blue">{{ctrl.bookings.length}}</span>
                    <div ng-if="ctrl.showAccordion" class="accordion-opener">
                        <a ng-href="" ng-if="ctrl.open" class="icon icon-minus toggle-open i-6x"></a>
                        <a ng-href="" ng-if="!ctrl.open" class="icon icon-plus toggle-open i-6x"></a>
                    </div>
                </uib-accordion-heading>

                <!--BOOKINGS-->
                <div ng-if="ctrl.bookings.length > 0" class="table-responsive">
                    <table class="table">
                        <thead class="table-head bold">
                        <tr>
                            <th class="table-heading col-xs-5 col-sm-3 heading-title">
                                {{'booking.list_heading_experience' | translate}}
                            </th>
                            <th class="table-heading hidden-xs col-sm-2 heading-date">{{'booking.list_heading_date' |
                                translate}}
                            </th>
                            <th class="table-heading hidden-xs col-sm-2 heading-guest">
                                {{'booking.list_heading_guest' | translate}}
                            </th>
                            <th class="table-heading col-xs-4 col-sm-2 text-center heading-status">
                                {{'booking.list_heading_status' | translate}}
                            </th>
                            <th class="table-heading col-xs-3 hidden-sm-up heading-view"></th>
                        </tr>
                        </thead>
                        <tbody class="table-body">
                        <tr class="table-row" ng-class="{bold: booking.previewData.unread}"
                            ng-repeat="booking in ctrl.bookings" ng-click="ctrl.onBookingClick({id: booking.id})">
                            <td class="table-field first-child-mobile">
                                <div class="table-field-content">{{booking.previewData.title}}</div>
                            </td>
                            <td class="table-field hidden-xs">
                                <div class="table-field-content" id="message-preview"><span>{{booking.previewData.date | userDate:ctrl.language:false}}</span>
                                </div>
                            </td>
                            <td class="table-field hidden-xs">
                                <div class="table-field-content">{{booking.previewData.guest}}</div>
                            </td>
                            <td class="table-field text-center">
                                <div class="table-field-content">
                                    <status-label status-name=booking.previewData.status
                                                  model-name="booking"></status-label>
                                </div>
                            </td>
                            <td class="table-field">
                                <div class="table-field-content text-right"><a
                                        class="icon icon-arrow i-7x light-blue"></a></div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--NO BOOKINGS-->
                <div ng-if="ctrl.bookings.length == 0" class="empty-list">
                    <p class="text-center h3 no-margin-top">{{'booking.empty_list' | translate}}</p>
                    <p class="text-center" ng-hide="ctrl.captainBookings">{{'booking.empty_list_subheading_guest' |
                        translate}}</p>
                    <p class="text-center" ng-show="ctrl.captainBookings">{{'booking.empty_list_subheading_captain' |
                        translate}}</p>
                </div>
            </div>
        </uib-accordion>
    </div>

    <div ng-show="ctrl.loading || ctrl.translations.loading" class="loader-alt"></div>
</div>
