<div id="bookings" class="container-fluid list">
    <div class="row list-controls">
        <span class="count">{{ctrl.perPage}} di {{ctrl.totalItems}} ELEMENTI</span>
        <div class="controls">
            <div class="controls-icon" ng-repeat="icon in ctrl.icons">
                <popover-icon id="icon-control-{{icon.type}}" icontype="{{icon.type}}"
                              iconcolor="{{ctrl.controlIconsColor}}" template="{{icon.template}}">
                </popover-icon>
            </div>
        </div>
    </div>
    <div class="row" ng-if="ctrl.fakeData">
        <span>ERROR: Couldn't get data from the server. Here is some <strong>FAKE</strong> data instead</span>
    </div>
    <div class="row list-table">
        <div class="table-responsive">
            <table class="table" ng-if="!ctrl.loading">
                <thead class="head">
                <tr>
                    <th ng-repeat="column in ctrl.columns" class="column {{column.name}}">{{column.heading}}</th>
                </tr>
                </thead>
                <tbody class="body">
                <tr class="record" ng-repeat="booking in ctrl.data track by $index">
                    <td class="field id">
                        {{booking.id}}
                    </td>
                    <td class="field date">
                        {{booking.attributes.experience_date}}
                    </td>
                    <td class="field experience">
                        {{booking.attributes.experience_title}}
                    </td>
                    <td class="field guest">
                        {{booking.attributes.first_name_guest}} {{booking.attributes.last_name_guest}}
                    </td>
                    <td class="field captain">
                        {{booking.attributes.first_name_captain}} {{booking.attributes.last_name_captain}}
                    </td>
                    <td class="field status">
                        <span class="status-text {{booking.attributes.status}}">{{ctrl.getStatusName(booking.attributes.status)}}</span>
                    </td>
                    <td class="field action">
                        <a href="bookings-offsite/{{booking.id}}" class="icon action-icon icon-preview"> </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="loader" ng-if="ctrl.loading"></div>
        </div>
    </div>
    <div class="row list-pagination">
        <a href="bookings-offsite/new" go-to>
            <div class="action">
                <span class="icon action-icon icon-plus"></span>
                <span class="text">Insert new Offsite Booking</span>
            </div>
        </a>
        <div id="pagination">
            <ul uib-pagination
                total-items="ctrl.totalItems" ng-model="ctrl.currentPage" boundary-links="ctrl.boundaryLinks"
                direction-links="ctrl.directionLinks" first-text="FIRST" last-text="LAST"
                max-size="ctrl.pagesToDisplay" items-per-page="ctrl.perPage"
                ng-change="ctrl.requestData(ctrl.currentPage)">
            </ul>
        </div>
    </div>
</div>