<div class="booking-edit-price-modal">
    <h5 class="margin-bottom-md" translate>{{'booking.edit_price_guide'}}</h5>

    <h3 class="light-blue bold text-center margin-bottom-sm"
        translate="booking.total_price"
        translate-values="{ price: ctrl.price, currency: ctrl.currency }"></h3>

    <h6 class="margin-bottom-sm" translate>{{'booking.insert_new_total_price'}}</h6>

    <form novalidate name="ctrl.form" class="form margin-bottom-lg">
        <div class="input input-group-icon input-group-icon-right input-group-icon-currency">
            <span class="input-group-addon">
                <span class="icon">{{ctrl.currency}}</span>
            </span>
            <input name="price"
                   type="number"
                   integer
                   min="10"
                   ng-change="ctrl.resetField('coupon')"
                   ng-blur="ctrl.validateField()"
                   ng-model="ctrl.price"
                   ng-required="true"/>
        </div>

        <error-messages field-name="price" controller-errors=ctrl.errors
                        page="booking"></error-messages>
    </form>

    <div class="text-center margin-bottom-sm">
        <naus-btn on-click="ctrl.accept()">
            {{'booking.save' | translate}}
        </naus-btn>
    </div>

    <div class="text-center">
        <naus-btn on-click="ctrl.onClose()" options="{inverse: true}">
            {{'booking.cancel' | translate}}
        </naus-btn>
    </div>

    <div class="loader-container-overlay" ng-show="ctrl.loading">
        <div class="loader-alt"></div>
    </div>
</div>
