<div class="language margin-right-md">
    <span uib-popover-template="$ctrl.popoverTemplate" popover-placement="bottom-right" popover-trigger="'outsideClick'">
        <img src="/shared/assets/img/{{$ctrl.language}}.png" class="language-image">
        <span class="icon icon-arrow-down i-1x"></span>
    </span>
</div>