<div id="captain-form" class="view-container" ng-cloak ng-if="!(ctrl.loading || ctrl.translations.loading || loading)">
    <div ng-if="ctrl.step == 1">
        <captain-step></captain-step>
    </div>

    <div ng-if="ctrl.step == 2">
        <boat-step></boat-step>
    </div>

    <div ng-if="ctrl.step == 3">
        <rules-step></rules-step>
    </div>

    <div ng-if="ctrl.step == 4">
        <end-step></end-step>
    </div>
</div>

<div class="loader grey" ng-if="(ctrl.loading || ctrl.translations.loading || loading)"></div>