<ul class="list-no-style currencies-list" ng-if="ctrl.currencies" ng-click="ctrl.currencyPopover = false">
        <li class="list-element-icon" ng-repeat="currency in ctrl.currencies">
            <a class="sub-item-link pointer" ng-click="ctrl.currencyObject.action(currency)">
                <span class="icon icon-{{currency.toLowerCase()}} i-15x"></span>
                <span class="text-inline-icon" translate>{{'currencies.' + currency}}</span></a>
        </li>
</ul>