<ul class="list-no-style languages-list" ng-if="ctrl.languages" ng-click="ctrl.languagePopover = false">
    <li class="list-element-icon" ng-repeat="language in ctrl.languages">
        <a class="sub-item-link pointer" ng-click="ctrl.languageObject.action(language)">
            <img class="sub-item-image" src="{{ctrl.cloudinaryUrl}}/image/upload/production/assets/img/lang/{{language}}.gif"/>
            {{'languages.' + language | translate}}</a>
    </li>
</ul>