<div class="view-container single-form">
    <div class="container-register" ng-show="!ctrl.success && !ctrl.loading && !ctrl.translations.loading">
        <h1 class="text-center">{{'register.heading' | translate}}</h1>
        <h5 class="text-center" translate>{{'register.fill'}}</h5>

       <!-- <form novalidate class="form" name="ctrl.form">
            <div class="container-fluid">
                <div class="row margin-bottom-sm">
                    <div class="col-sm-6 margin-bottom-sm">
                        <input name="name" type="text" maxlength="150" required
                               placeholder="{{'inputs.name' | translate}}*"
                               ng-model="ctrl.captain.name"
                               ng-change="ctrl.resetField('name')"
                               ng-blur="ctrl.validateField('name')"
                               class="bottom-border">
                        <span class="error-form-input" ng-if="ctrl.errors.name" translate translate-value-attribute="{{'inputs.name' | translate}}">{{'errors.' + ctrl.errors.name.code}}</span>
                    </div>

                    <div class="col-sm-6">
                        <input name="phone" type="text" maxlength="150" required
                               placeholder="{{'inputs.phone' | translate}}*"
                               ng-model="ctrl.captain.phone"
                               ng-change="ctrl.resetField('phone')"
                               ng-blur="ctrl.validateField('phone')"
                               class="bottom-border">
                        <span class="error-form-input" ng-if="ctrl.errors.phone" translate translate-value-attribute="{{'inputs.phone' | translate}}">{{'errors.' + ctrl.errors.phone.code}}</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 margin-bottom-sm">
                        <input name="docking_place" type="text" maxlength="150" required
                               placeholder="{{'inputs.docking_place' | translate}}*"
                               ng-model="ctrl.captain.dockingPlace"
                               ng-change="ctrl.resetField('docking_place')"
                               ng-blur="ctrl.validateField('docking_place')"
                               class="bottom-border">
                        <span class="error-form-input" ng-if="ctrl.errors.docking_place" translate translate-value-attribute="{{'inputs.docking_place' | translate}}">{{'errors.' + ctrl.errors.docking_place.code}}</span>
                    </div>

                    <div class="col-sm-6">
                        <input name="email" type="email" maxlength="150" required
                               placeholder="{{'inputs.email' | translate}}*"
                               ng-model="ctrl.captain.email"
                               ng-change="ctrl.resetField('email')"
                               ng-blur="ctrl.validateField('email')"
                               class="bottom-border">
                        <span class="error-form-input" ng-if="ctrl.errors.email" translate translate-value-attribute="{{'inputs.email' | translate}}">{{'errors.' + ctrl.errors.email.code}}</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <terms-of-service></terms-of-service>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-center">
                            <span class="error-form-no-input" ng-if="ctrl.errors.error" translate>{{'errors.' + ctrl.errors.error}}</span>
                            <naus-btn on-click="ctrl.register()" options="{disabled: ctrl.loading}">
                                {{'inputs.send' | translate}}
                            </naus-btn>
                        </div>
                    </div>
                </div>
            </div>

        </form>-->

    </div>
    <div class="container-register" ng-show="ctrl.success">
        <h1 class="text-center" translate>{{'register.success'}}</h1>
        <h5 class="text-center" translate translate-values="{email: ctrl.captain.email}">{{'register.email_sent'}}</h5>
    </div>

    <!-- LOADER -->
    <div class="container-register" ng-show="ctrl.loading || ctrl.translations.loading">
        <div class="loader"></div>
    </div>
</div>