<div class="carousel-inner" ng-transclude ng-swipe-left="next()" ng-swipe-right="prev()">

</div>

<a role="button" href class="carousel-prev" ng-click="prev()" ng-class="{ disabled: isPrevDisabled() }" ng-show="slides.length > 1">
    <span aria-hidden="true" class="icon icon-arrow-left i-5x"></span>
    <span class="sr-only">previous</span>
</a>
<a role="button" href class="carousel-next" ng-click="next()" ng-class="{ disabled: isNextDisabled() }" ng-show="slides.length > 1">
    <span aria-hidden="true" class="icon icon-arrow-right i-5x"></span>
    <span class="sr-only">next</span>
</a>