<div class="carousel-inner" ng-transclude ng-swipe-left="next()" ng-swipe-right="prev()">

</div>
<a role="button" href class="carousel-prev hidden-xs" ng-click="prev()" ng-class="{ disabled: isPrevDisabled() }" ng-show="slides.length > 1">
  <span aria-hidden="true" class="icon-carousel-prev"></span>
  <span class="sr-only">previous</span>
</a>
<a role="button" href class="carousel-next hidden-xs" ng-click="next()" ng-class="{ disabled: isNextDisabled() }" ng-show="slides.length > 1">
  <span aria-hidden="true" class="icon-carousel-next"></span>
  <span class="sr-only">next</span>
</a>
<ol class="carousel-indicators" ng-show="slides.length > 1">
  <li ng-repeat="slide in slides | orderBy:indexOfSlide track by $index" ng-class="{ active: isActive(slide) }" ng-click="select(slide)">
    <span class="sr-only">slide {{ $index + 1 }} of {{ slides.length }}<span ng-if="isActive(slide)">, currently active</span></span>
  </li>
</ol>
