<div class="component-loadable dashboard-infobox booking-infobox" ng-class="{'component-loadable-loading': (ctrl.loading || ctrl.translations.loading)}">
    <div ng-if="!(ctrl.loading || ctrl.translations.loading)">
        <div class="img-container" ng-style="{'background-image':'url('+ ctrl.photo+')'}">
            <div class="experience-price">
                <h5 class="from">{{'booking.from' | translate}}</h5>
                <div class="text-right"><span class="form-separator"></span></div>
                <h4 class="price"
                    translate="booking.price_per_person"
                    translate-values="{ price: ctrl.priceFrom, currency: ctrl.captainCurrencySymbol }"></h4>
            </div>
        </div>


        <div class="description-container">
            <h5 class="experience-type">{{'experience_types.' + ctrl.experienceType |
                translate}}</h5>
            <div class="form-separator" experience-type-color=ctrl.experienceType></div>
            <h4 class="experience-title">{{ctrl.name}}</h4>
            <h6 class="experience-departure-port">{{ctrl.departurePort}}</h6>
            <hr>
            <!--BOOKING-->
            <script type="text/ng-template" id="booking-details">
                <div>
                    <h4>{{'experience.details' | translate}}</h4>
                    <!--REQUEST DATE-->
                    <h6>
                        <span class="bold">{{'booking.request_date' | translate}}</span>
                        <span>{{ctrl.requestDate | userDate:ctrl.userLanguage:false}}</span>
                    </h6>
                    <!--DEPARTURE TIME-->
                    <h6>
                        <span class="bold">{{'experience.departure_time' | translate}}</span>
                        <span>{{ctrl.departureTime | userTime:ctrl.userLanguage:false}}</span>
                    </h6>
                    <!--DEPARTURE PORT-->
                    <h6>
                        <span class="bold">{{'experience.departure_port' | translate}}</span>
                        <span>{{ctrl.departurePort}}</span>
                    </h6>
                    <!--ARRIVAL TIME-->
                    <h6>
                        <span class="bold">{{'experience.arrival_time' | translate}}</span>
                        <span>{{ctrl.arrivalTime | userTime:ctrl.userLanguage:false}}</span>
                    </h6>
                    <!--ARRIVAL PORT-->
                    <h6>
                        <span class="bold">{{'experience.arrival_port' | translate}}</span>
                        <span>{{ctrl.arrivalPort}}</span>
                    </h6>
                    <!--ADULTS-->
                    <h6>
                        <span class="bold">{{'experience.guests' | translate}}</span>
                        <span>{{ctrl.adults}}</span>
                    </h6>
                    <!--KIDS-->
                    <h6>
                        <span class="bold">{{'experience.kids' | translate}}</span>
                        <span>{{ctrl.kids}}</span>
                    </h6>
                    <!--BABIES-->
                    <h6>
                        <span class="bold">{{'experience.babies' | translate}}</span>
                        <span>{{ctrl.babies}}</span>
                    </h6>

                    <hr>

                    <!--ADDITIONAL SERVICE-->
                    <div ng-if="ctrl.fixedAdditionalServices.length + ctrl.additionalServices.length > 0">
                        <h4>{{'booking.additional_services_heading' | translate}}</h4>
                        <h6>{{'booking.additional_services_subheading' | translate}}</h6>
                        <ul class="naus-list style-dot">
                            <li ng-repeat="additionalService in ctrl.fixedAdditionalServices" class="service">
                                <span class="h6">{{'additional_services.' + additionalService.attributes.name | translate}}</span>
                                <span class="service-price h6 no-margin red">{{additionalService.attributes.price | nausCurrency:ctrl.captainCurrency:ctrl.currencies}}</span>
                            </li>
                            <li ng-repeat="additionalService in ctrl.additionalServices" class="service">
                                <span class="h6">{{additionalService.attributes.name}}</span>
                                <span class="service-price h6 no-margin red">{{additionalService.attributes.price | nausCurrency:ctrl.captainCurrency:ctrl.currencies}}</span>
                            </li>
                        </ul>
                        <hr>
                    </div>

                    <!--PAYMENT-->
                    <h4>{{'booking.payment_info' | translate}}</h4>
                    <h6 class="payment-info-line">
                        <span translate="booking.service_free_amount"
                              translate-values="{ price: ctrl.pricePerPersonWithoutServices, currency: ctrl.captainCurrencySymbol, hosts: ctrl.hosts }"></span>
                        <span class="pull-right">
                            {{ctrl.totalPriceWithoutServices | nausCurrency:ctrl.captainCurrency:ctrl.currencies}}
                        </span>
                    </h6>
                    <h6 ng-if="ctrl.servicesPrice > 0">
                        <span translate="booking.additional_services"
                              translate-values="{ hosts: ctrl.hosts }"></span>
                        <span class="pull-right">{{ctrl.servicesPrice | nausCurrency:ctrl.captainCurrency:ctrl.currencies}}</span>
                    </h6>
                    <h6 ng-if="ctrl.discount > 0 && !ctrl.isUserCaptain">
                        <span>{{'booking.discount' | translate}}</span>
                        <span class="pull-right">-{{ctrl.discount | nausCurrency:ctrl.captainCurrency:ctrl.currencies}}</span>
                    </h6>
                    <hr>
                    <h4 class="text-right">
                        <span>{{'booking.total' | translate}} {{ctrl.total |  nausCurrency:ctrl.captainCurrency:ctrl.currencies}}</span>
                        <br ng-hide="ctrl.isSameCurrency || ctrl.isUserCaptain">
                        <span ng-hide="ctrl.isSameCurrency || ctrl.isUserCaptain" class="h6" translate="booking.nearly"
                              translate-values="{ amount: ctrl.totalGuestCurrency, currency: ctrl.userCurrencySymbol }"></span>
                    </h4>
                    <h5 class="text-right" ng-if="!ctrl.isUserCaptain">
                        <span>{{'booking.to_pay_on_board' | translate}} {{ctrl.priceOnBoard |  nausCurrency:ctrl.captainCurrency:ctrl.currencies}}</span>
                        <br ng-hide="ctrl.isSameCurrency || ctrl.isUserCaptain">
                        <span ng-hide="ctrl.isSameCurrency || ctrl.isUserCaptain" class="h6" translate="booking.nearly"
                              translate-values="{ amount: ctrl.priceOnBoardGuestCurrency, currency: ctrl.userCurrencySymbol }"></span>
                    </h5>
                    <h5 class="text-right" ng-if="!ctrl.isUserCaptain">
                        <span>{{'booking.to_pay_now' | translate}} {{ctrl.priceToPay |  nausCurrency:ctrl.captainCurrency:ctrl.currencies}}</span>
                        <br ng-hide="ctrl.isSameCurrency || ctrl.isUserCaptain">
                        <span ng-hide="ctrl.isSameCurrency || ctrl.isUserCaptain" class="h6" translate="booking.nearly"
                              translate-values="{ amount: ctrl.priceToPayGuestCurrency, currency: ctrl.userCurrencySymbol }"></span>
                    </h5>
                    <h5 class="text-right" ng-if="ctrl.isUserCaptain">
                        <span>{{'booking.your_profit' | translate}} {{ctrl.priceOnBoard |  nausCurrency:ctrl.captainCurrency:ctrl.currencies}}</span>
                    </h5>
                    <h5 class="text-right" ng-if="ctrl.isUserCaptain">
                        <span>{{'booking.nausdream_fee' | translate}} {{(ctrl.priceToPay + ctrl.discount) |  nausCurrency:ctrl.captainCurrency:ctrl.currencies}}</span>
                    </h5>
                    <hr>

                    <!--ACTIONS-->
                    <!--IF CAPTAIN-->
                    <div ng-if="ctrl.isUserCaptain">
                        <div ng-switch="ctrl.status">
                            <div ng-switch-when="pending">
                                <!--ACCEPT-->
                                <naus-btn on-click="ctrl.accept()"
                                          custom-classes="['margin-bottom-sm']">
                                    {{'booking.accept' | translate}}
                                </naus-btn>
                                <!--REJECT-->
                                <naus-btn on-click="ctrl.toggleRejectModal()"
                                          options="{inverse: true}"
                                          custom-classes="['margin-bottom-md']">
                                    {{'booking.reject' | translate}}
                                </naus-btn>
                                <modal ng-if="ctrl.rejectModal" modal-title="booking.confirm_rejection"
                                       on-close="ctrl.toggleRejectModal(false)">
                                    <h5 class="margin-bottom-md" translate>{{'booking.reject_confirmation'}}</h5>
                                    <naus-btn on-click="ctrl.reject()"
                                              custom-classes="['margin-bottom-sm']">
                                        {{'booking.reject' | translate}}
                                    </naus-btn>
                                    <naus-btn on-click="ctrl.toggleRejectModal(false)"
                                              custom-classes="['margin-bottom-sm']">
                                        {{'booking.cancel' | translate}}
                                    </naus-btn>
                                </modal>
                                <!--EDIT-->
                                <naus-btn on-click="ctrl.toggleEditModal()"
                                          options="{inverse: true, color: 'orange'}">
                                    {{'booking.edit' | translate}}
                                </naus-btn>
                                <modal ng-if="ctrl.editModal" modal-title="booking.edit"
                                       on-close="ctrl.toggleEditModal(false)">
                                    <booking-edit-price booking-id="{{ctrl.bookingId}}"
                                                        on-close="ctrl.toggleEditModal(false, update)"
                                                        price="ctrl.total"
                                                        currency="{{ctrl.captainCurrencySymbol}}"></booking-edit-price>
                                </modal>
                            </div>

                            <div ng-switch-when="accepted_captain|rejected|paid" ng-switch-when-separator="|">
                                <status-label status-name=ctrl.status model-name="booking"></status-label>
                            </div>

                            <!--NO BOOKING-->
                            <div ng-switch-when="null">
                            </div>
                        </div>
                    </div>

                    <!--IF USER-->
                    <div ng-if="!ctrl.isUserCaptain">
                        <div ng-switch="ctrl.status">
                            <div ng-switch-when="pending">
                                <status-label status-name=ctrl.status model-name="booking"></status-label>
                            </div>

                            <div ng-switch-when="accepted">
                                <!--BUY-->
                                <naus-btn on-click="ctrl.book()"
                                          custom-classes="['margin-bottom-sm']">
                                    {{'booking.buy' | translate}}
                                </naus-btn>
                                <!--CANCEL-->
                                <!--<button type="button" class="naus-btn naus-btn-inverse text-uppercase"-->
                                <!--ng-click="ctrl.cancel()">-->
                                <!--{{'booking.cancel' | translate}}-->
                                <!--</button>-->
                            </div>

                            <div ng-switch-when="rejected">
                                <status-label status-name=ctrl.status model-name="booking"></status-label>
                                <!--NEW REQUEST-->
                                <naus-btn on-click="ctrl.toggleNewRequestModal()"
                                          custom-classes="['margin-top-sm']">
                                    {{'booking.new_request' | translate}}
                                </naus-btn>
                                <modal class="booking-modal" ng-if="ctrl.newRequestModal"
                                       modal-title="booking.new_request"
                                       on-close="ctrl.toggleNewRequestModal(false)">
                                    <booking-popup booking-promise="ctrl.bookingPromise"
                                                   experience-promise="ctrl.experiencePromise"
                                                   conversation-id="{{ctrl.conversationId}}"
                                                   on-close="ctrl.toggleNewRequestModal(false, update)"></booking-popup>
                                </modal>
                            </div>

                            <div ng-switch-when="paid">
                                <status-label status-name=ctrl.status model-name="booking"></status-label>
                            </div>

                            <!--NO BOOKING-->
                            <div ng-switch-when="null">
                                <!--NEW REQUEST-->
                                <naus-btn on-click="ctrl.toggleNewRequestModal()"
                                          custom-classes="['margin-bottom-sm', 'full-width']">
                                    {{'booking.new_request' | translate}}
                                </naus-btn>
                                <modal class="booking-modal" ng-if="ctrl.newRequestModal"
                                       modal-title="booking.new_request"
                                       on-close="ctrl.toggleNewRequestModal(false, update)">
                                    <booking-popup estimation-promise="ctrl.estimationPromise"
                                                   experience-promise="ctrl.experiencePromise"
                                                   adults="ctrl.adults"
                                                   kids="ctrl.kids"
                                                   babies="ctrl.babies"
                                                   experience-date="ctrl.requestDate"
                                                   conversation-id="{{ctrl.conversationId}}"
                                                   on-close="ctrl.toggleNewRequestModal(false, update)"></booking-popup>
                                </modal>
                            </div>
                        </div>
                    </div>
                </div>
            </script>

            <!--MOBILE CONTAINER-->
            <naus-accordion type="mobile-blue" naus-accordion-rules="visible-xs">
                <div ng-include src="'booking-details'"></div>
            </naus-accordion>
        </div>

    </div>

    <div ng-show="ctrl.loading || ctrl.translations.loading" class="loader-alt inside-parent"></div>
</div>