<div class="component-loadable dashboard-single-container" id="boat" ng-class="{'component-loadable-loading': (ctrl.loading || ctrl.translations.loading)}">
    <div ng-if="!(ctrl.loading || ctrl.translations.loading)" class="dashboard-single">
        <uib-accordion template-url="/users/app/components/accordion/accordion.view.html">
            <div uib-accordion-group is-open="true" is-disabled="true"
                 template-url="/users/app/components/accordion/accordion-group.view.html">
                <uib-accordion-heading>
                    <a ng-click="ctrl.onBackClick()" class="icon icon-arrow i-5x light-blue mirror back-button"></a>
                    <span>{{'boat.my_boats' | translate}} - </span><span
                        class="light-blue">{{ctrl.boatName | translate}}</span>
                </uib-accordion-heading>

                <!--NOT REJECTED-->
                <div ng-if="ctrl.boat.status != 'rejected'" class="container-fluid no-padding">
                    <!--INFO-->
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <h4 class="section-title light-blue bold">{{'boat.info' | translate}}</h4>
                            <p><span class="bold">{{'boat.created_on' | translate}} </span><span>{{ctrl.boat.created_at | userDate:ctrl.language}}</span>
                            </p>
                        </div>
                        <div class="col-xs-12 col-sm-6 hidden-xs hidden-sm-up">
                            <h4 class="section-title light-blue bold">Modifica disponibilità barca</h4>
                            <p>
                                <span class="bold">Annunci collegati: </span><span>25/08/2106</span>
                            </p>
                        </div>
                    </div>

                    <hr/>

                    <!--DETAILS-->
                    <div class="row margin-bottom-xs">
                        <div class="col-xs-12">
                            <h4 class="section-title h4 light-blue bold">{{'boat.details' | translate}}</h4>
                        </div>
                        <div class="col-sm-6">
                            <p>
                                <span class="bold">{{'boat.production_site' | translate}} </span>
                                <replace-if-not-set replace-model="ctrl.boat.production_site"
                                                    replace-placeholder="ctrl.textPlaceholder">
                                </replace-if-not-set>
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p>
                                <span class="bold">{{'boat.model' | translate}} </span>
                                <replace-if-not-set replace-model="ctrl.boat.model"
                                                    replace-placeholder="ctrl.textPlaceholder">
                                </replace-if-not-set>
                            </p>
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-sm-6">
                            <p>
                                <span class="bold">{{'boat.name' | translate}} </span>
                                <replace-if-not-set replace-model="ctrl.boat.name"
                                                    replace-placeholder="ctrl.textPlaceholder">
                                </replace-if-not-set>
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p>
                                <span class="bold">{{'boat.construction_year' | translate}} </span>
                                <replace-if-not-set replace-model="ctrl.boat.construction_year"
                                                    replace-placeholder="ctrl.textPlaceholder">
                                </replace-if-not-set>
                            </p>
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-sm-6">
                            <p>
                                <span class="bold">{{'boat.restoration_year' | translate}} </span>
                                <replace-if-not-set replace-model="ctrl.boat.restoration_year"
                                                    replace-placeholder="ctrl.textPlaceholder"></replace-if-not-set>
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p>
                                <span class="bold">{{'boat.type' | translate}} </span>
                                <replace-if-not-set replace-model="ctrl.boat.type"
                                                    replace-placeholder="ctrl.textPlaceholder"></replace-if-not-set>
                            </p>
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-sm-6">
                            <p>
                                <span class="bold">{{'boat.material' | translate}} </span>
                                <replace-if-not-set replace-model="ctrl.boat.material"
                                                    replace-placeholder="ctrl.textPlaceholder"></replace-if-not-set>
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p><span class="bold">{{'boat.length' | translate}} </span>
                                <replace-if-not-set replace-model="ctrl.boat.length"
                                                    replace-placeholder="ctrl.textPlaceholder"></replace-if-not-set>
                            </p>
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-sm-6">
                            <p>
                                <span class="bold">{{'boat.motors_number' | translate}} </span>
                                <replace-if-not-set replace-model="ctrl.boat.motors_quantity"
                                                    replace-placeholder="ctrl.textPlaceholder">
                                </replace-if-not-set>
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p><span class="bold">{{'boat.motor_type' | translate}} </span>
                                <replace-if-not-set
                                        replace-model="ctrl.boat.motor_type"
                                        replace-placeholder="ctrl.textPlaceholder"></replace-if-not-set>
                            </p>
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-sm-6">
                            <p><span class="bold">{{'boat.docking_place' | translate}} </span>
                                <replace-if-not-set
                                        replace-model="ctrl.boat.docking_place"
                                        replace-placeholder="ctrl.textPlaceholder"></replace-if-not-set>
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p><span class="bold">{{'boat.indications' | translate}} </span>
                                <replace-if-not-set
                                        replace-model="ctrl.boat.indications"
                                        replace-placeholder="ctrl.textPlaceholder"></replace-if-not-set>
                            </p>
                        </div>
                    </div>

                    <!--MAP-->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="map-indications">
                                <span>{{'boat.map_heading' | translate}}</span>
                            </div>
                            <div class="map-box margin-bottom-sm" ng-if="!ctrl.loading">
                                <div class="map" id="map" ng-init="ctrl.triggerMapLoad()"></div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <p><span class="bold">{{'boat.seats' | translate}} </span>
                                <replace-if-not-set replace-model="ctrl.boat.seats"
                                                    replace-placeholder="ctrl.textPlaceholder">
                                </replace-if-not-set>
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p><span class="bold">{{'boat.berths' | translate}} </span>
                                <replace-if-not-set replace-model="ctrl.boat.berths"
                                                    replace-placeholder="ctrl.textPlaceholder">
                                </replace-if-not-set>
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p><span class="bold">{{'boat.cabins' | translate}} </span>
                                <replace-if-not-set replace-model="ctrl.boat.cabins"
                                                    replace-placeholder="ctrl.textPlaceholder">
                                </replace-if-not-set>
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p><span class="bold">{{'boat.toilets' | translate}} </span>
                                <replace-if-not-set replace-model="ctrl.boat.toilets"
                                                    replace-placeholder="ctrl.textPlaceholder">
                                </replace-if-not-set>
                            </p>
                        </div>
                    </div>

                    <hr/>

                    <!--EXPERIENCE TYPES-->
                    <div class="row">
                        <div class="col-xs-12">
                            <h4 class="section-title light-blue bold">{{'boat.activities' | translate}}</h4>
                        </div>
                        <div class="col-xs-12" ng-if="ctrl.experienceTypes.length > 0">
                            <p>{{'boat.activities_subheading' | translate}}</p>
                            <ul class="naus-list style-dot">
                                <li ng-repeat="experienceType in ctrl.experienceTypes">{{'experience_types.' +
                                    experienceType.attributes.name | translate}}
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-12" ng-if="ctrl.experienceTypes.length == 0">
                            <p class="orange-flamingo">{{'boat.not_filled' | translate}}</p>
                        </div>
                    </div>

                    <hr/>

                    <!--RULES-->
                    <div class="row">
                        <div class="col-xs-12">
                            <h4 class="section-title light-blue bold">{{'boat.rules' | translate}}</h4>
                        </div>
                        <div class="col-xs-12" ng-if="ctrl.boat.rules">
                            <p>{{'boat.rules_subheading' | translate}}</p>
                            <p>{{ctrl.boat.rules}}</p>
                        </div>
                        <div class="col-xs-12" ng-if="!ctrl.boat.rules">
                            <p class="orange-flamingo">{{'boat.not_filled' | translate}}</p>
                        </div>
                    </div>

                    <hr/>

                    <!--ACCESSORIES-->
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 class="section-title light-blue bold">{{'boat.accessories' | translate}}</h4>
                            <p ng-if="ctrl.accessories.length > 0">{{'boat.accessories_subheading' | translate}}</p>
                        </div>
                        <div class="col-sm-6" ng-if="ctrl.accessories.length == 0">
                            <p class="orange-flamingo">{{'boat.not_filled' | translate}}</p>
                        </div>
                        <div class="col-sm-6 list-column" ng-repeat="accessory in ctrl.accessories">
                            <span class="icon icon-checkmark light-blue i-15x disc-icon"></span><span>{{'accessories.' + accessory.attributes.name | translate}}</span>
                        </div>
                    </div>

                    <hr/>

                    <!--PHOTOS-->
                    <div class="row">
                        <div class="col-xs-12"><h4 class="section-title light-blue bold">{{'boat.photos' | translate}}</h4>
                        </div>
                        <div class="col-xs-12 col-sm-6 photo-col no-margin">
                            <div class="photo-container">
                                <div class="overlay"></div>
                                <img ng-if="ctrl.boat.sea_photo" ng-src="{{ctrl.boat.sea_photo}}"/>
                                <img ng-if="!ctrl.boat.sea_photo" ng-src="{{ctrl.photoPlaceholder}}"/>
                            </div>
                            <span class="photo-caption">{{'boat.photo_sea' | translate}}</span>
                        </div>
                        <div class="col-xs-12 col-sm-6 photo-col no-margin">
                            <div class="photo-container">
                                <div class="overlay"></div>
                                <img ng-if="ctrl.boat.external_photo" ng-src="{{ctrl.boat.external_photo}}"/>
                                <img ng-if="!ctrl.boat.external_photo" ng-src="{{ctrl.photoPlaceholder}}"/>
                            </div>
                            <span class="photo-caption">{{'boat.photo_external' | translate}}</span>
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-xs-12 col-sm-6 photo-col no-margin">
                            <div class="photo-container">
                                <div class="overlay"></div>
                                <img ng-if="ctrl.boat.internal_photo" ng-src="{{ctrl.boat.internal_photo}}"/>
                                <img ng-if="!ctrl.boat.internal_photo" ng-src="{{ctrl.photoPlaceholder}}"/>
                            </div>
                            <span class="photo-caption">{{'boat.photo_internal' | translate}}</span>
                        </div>
                    </div>

                    <hr ng-if="ctrl.actionObject.visible" class="margin-bottom-md"/>

                    <!--ACTIONS-->
                    <div ng-if="ctrl.actionObject.visible" class="row">
                        <div class="col-xs-12 text-center">
                            <naus-btn on-click="ctrl.actionObject.action()">
                                {{ctrl.actionObject.translationElement | translate}}
                            </naus-btn>
                        </div>
                    </div>
                </div>

                <!--REJECTED-->
                <div ng-if="ctrl.boat.status == 'rejected'" class="container-fluid no-padding">
                    <div class="row margin-bottom-xs">
                        <div class="col-xs-12 orange-flamingo">
                            <p>{{'boat.info' | translate}}</p>
                            <p>{{'boat.rejected_message' | translate}}</p>
                        </div>
                    </div>

                    <!--NEW BOAT-->
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <naus-btn on-click="ctrl.actionObject.action()">
                                {{ctrl.actionObject.translationElement | translate}}
                            </naus-btn>
                        </div>
                    </div>
                </div>
            </div>
        </uib-accordion>
    </div>

    <div ng-if="ctrl.loading || ctrl.translations.loading" class="loader-alt"></div>
</div>

