<div class="container-fluid" id="modal-error">
    <div class="row" id="modal-title">
        <span class="title-text">Validation error</span>
        <span class="icon icon-close i-5x" ng-click="ctrl.close()"></span>
    </div>
    <div class="row" id="modal-content">
        <div class="col-lg-12">
            <div class="row" id="modal-status">
                {{ctrl.message || 'Double check your inputs'}}
            </div>
        </div>
    </div>
</div>