<div ng-switch="datepickerMode" class="naus-datepicker">
    <!--DAY-->
    <div uib-daypicker ng-switch-when="day" tabindex="0" class="uib-daypicker naus-daypicker" template-url="/users/app/components/naus-datepicker/views/day.html"></div>
    <!--MONTH-->
    <div uib-monthpicker ng-switch-when="month" tabindex="0" class="uib-monthpicker naus-monthpicker" template-url="/users/app/components/naus-datepicker/views/month.html"></div>
    <!--YEAR-->
    <div uib-yearpicker ng-switch-when="year" tabindex="0" class="uib-yearpicker naus-yearpicker" template-url="/users/app/components/naus-datepicker/views/year.html"></div>
</div>