<table class="naus-datepicker-table naus-daypicker-table" role="grid" aria-labelledby="{{::uniqueId}}-title"
       aria-activedescendant="{{activeDateId}}">
    <thead>
    <tr class="naus-datepicker-navigator white">
        <th>
            <button type="button" class="pull-left uib-left" ng-click="move(-1)" tabindex="-1"><span
                    aria-hidden="true" class="icon icon-arrow i-5x mirror"></span><span
                    class="sr-only">previous</span></button>
        </th>
        <th colspan="{{::5 + showWeeks}}">
            <button id="{{::uniqueId}}-title" role="heading" aria-live="assertive" aria-atomic="true" type="button"
                    class="uib-title" ng-click=""
                    ng-disabled="datepickerMode === maxMode" tabindex="-1"><span
                    class="text-uppercase h4">{{title}}</span></button>
        </th>
        <th>
            <button type="button" class="pull-right uib-right" ng-click="move(1)" tabindex="-1">
                <i aria-hidden="true" class="icon icon-arrow i-5x"></i><span class="sr-only">next</span>
            </button>
        </th>
    </tr>
    <tr class="naus-daypicker-days-of-week">
        <th ng-if="showWeeks" class="text-center"></th>
        <th ng-repeat="label in ::labels track by $index" class="text-center">
            <span class="bold text-uppercase h5" aria-label="{{::label.full}}">{{::label.abbr}}</span>
        </th>
    </tr>
    </thead>
    <tbody class="naus-datepicker-tbody naus-daypicker-tbody" ng-swipe-left="move(1)" ng-swipe-right="move(-1)">
    <tr class="uib-weeks" ng-repeat="row in rows track by $index" role="row">
        <td ng-if="showWeeks" class="text-center h6"><em>{{ weekNumbers[$index] }}</em></td>
        <td ng-repeat="dt in row" class="uib-day naus-datepicker-day text-center" role="gridcell"
            id="{{::dt.uid}}"
            ng-class="::dt.customClass">
            <button type="button"
                    class="naus-datepicker-day-btn"
                    uib-is-class="
            'selected' for selectedDt,
            'active' for activeDt
            on dt"
                    ng-click="select(dt.date)"
                    ng-disabled="::dt.disabled"
                    tabindex="-1"><span class="naus-datepicker-day-text"
                                        ng-class="::{'text-muted': dt.secondary, 'today': dt.current}">{{::dt.label}}</span>
            </button>
        </td>
    </tr>
    </tbody>
</table>
