<div class="view-container dashboard" ng-if="!ctrl.loading">
    <user-infobox class="hidden-xs" user="ctrl.user"></user-infobox>
    <quick-access class="hidden-xs" user="ctrl.user"></quick-access>
    <booking booking-promise=ctrl.bookingPromise on-back-click="ctrl.bookingBackButton(null)" action="ctrl.action"></booking>
</div>
