<div class="view-container dashboard" ng-if="!ctrl.loading">
    <booking-infobox conversation-promise=ctrl.conversationPromise></booking-infobox>
    <conversation conversation-promise=ctrl.conversationPromise on-back-click="ctrl.conversationBackButton(null)"></conversation>
</div>
