<div class="component-loadable dashboard-single-container" id="conversation" ng-class="{'component-loadable-loading': (ctrl.loading || ctrl.translations.loading)}">
    <div ng-if="!(ctrl.loading || ctrl.translations.loading)" class="dashboard-single">
        <uib-accordion template-url="/users/app/components/accordion/accordion.view.html">
            <div uib-accordion-group is-open="true" is-disabled="true"
                 template-url="/users/app/components/accordion/accordion-group.view.html">
                <uib-accordion-heading>
                    <a ng-click="ctrl.onBackClick()" class="icon icon-arrow i-5x light-blue mirror back-button"></a>
                    <span>{{ctrl.contact.name}} - </span><span
                        class="light-blue">{{ctrl.conversation.total_messages}}</span>
                </uib-accordion-heading>
                <div class="conversation-messages-scrollable">
                    <div class="conversation-messages">
                        <div ng-repeat="group in ctrl.conversation.grouped" class="conversation-group">
                            <div class="conversation-group-date">
                                <span>{{group.date | userDate:ctrl.language}}</span>
                                <hr>
                            </div>
                            <div ng-repeat="message in group.messages" class="conversation-message"
                                 ng-class="{'own-message': message.attributes.sender == ctrl.user.role}">
                                <user-pic user-pic-link={{ctrl.getMessageSenderPhoto(message.attributes.sender)}}
                                          user-role="{{message.attributes.sender}}"></user-pic>
                                <div class="message-box">
                                    <p class="message-text">{{message.attributes.message}}</p>
                                    <p class="message-time">{{message.attributes.created_at |
                                        userTime:ctrl.language}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="new-message-box">
                    <hr>
                    <alert-warning ng-show="ctrl.warning && !ctrl.isUserCaptain"
                                   alert-message="conversation.contact_exchange_warning"></alert-warning>
                    <alert-warning ng-show="ctrl.warning && ctrl.isUserCaptain"
                                   alert-message="conversation.contact_exchange_warning_captain"></alert-warning>

                    <div class="new-message-input-group">
                        <user-pic user-pic-link={{ctrl.user.photo}} user-role="{{ctrl.user.role}}"></user-pic>
                        <div class="message-input">
                            <form novalidate name="ctrl.form">
                        <textarea type="text" name="message" ng-change="ctrl.messageValidation()"
                                  ng-model="ctrl.newMessage" placeholder="{{'conversation.write_message' | translate}}"
                                  rows="1" minlength="1" ng-required="true" maxlength="65535"></textarea>
                                <error-messages field-name="message" controller-errors=ctrl.errors
                                                page="conversation"></error-messages>
                            </form>
                        </div>
                    </div>
                    <hr>
                    <div class="text-center">
                        <naus-btn on-click="ctrl.send()">
                            {{'inputs.send' | translate}}
                        </naus-btn>
                    </div>
                </div>
            </div>
        </uib-accordion>
    </div>

    <div ng-show="ctrl.loading || ctrl.translations.loading" class="loader-alt"></div>
</div>