<div class="component-loadable dashboard-infobox booking-popup experience-estimation-box no-padding"
     ng-class="{'component-loadable-loading': (ctrl.loading || ctrl.translations.loading)}">
    <form novalidate name="ctrl.form" class="form" ng-hide="ctrl.loading || ctrl.translations.loading">

        <!--PRICE PER PERSON-->
        <div class="booking-popup-top-label">
            <div class="price-per-person-container-table no-padding">
                <div class="price-per-person-container-cell">
                    <span id="price-per-person-text" class="h5">{{'experience.price_per_person' | translate}}</span>
                    <span id="price-per-person-price" class="no-margin h4 bold pull-right">{{ctrl.priceFrom | nausCurrency:ctrl.captainCurrency:ctrl.currencies}}</span>
                </div>
            </div>
        </div>
        <div class="margin-left-sm margin-right-sm" ng-if="ctrl.entireBoat">
            <div class="entire-boat-ribbon margin-right-xs">
                <span class="icon icon-diamond i-3x"></span>
            </div>
            <span class="red">{{'experience.entire_boat_tip' | translate}}</span>
        </div>
        <div class="margin-bottom-sm"></div>

        <!--ACTUAL FORM-->
        <div class="container-fluid">
            <!--ADULTS, KIDS AND BABIES-->
            <div class="row">
                <!--ADULTS-->
                <div class="col-xs-12">
                    <div class="form-separator"></div>
                    <div class="input-heading">{{'experience.adults' | translate}}</div>
                    <div class="input" uib-dropdown is-open="ctrl.dropdowns.adults">
                        <div class="select" id="adults" uib-dropdown-toggle ng-disabled="ctrl.disabled">
                            <span class="select-text" translate="inputs.adults"
                                  translate-values="{ adults: ctrl.adults }"
                                  translate-interpolation="messageformat"></span>
                            <span class="icon pull-right"
                                  ng-class="{'icon-arrow-down': !ctrl.dropdowns.adults, 'icon-arrow-up': ctrl.dropdowns.adults}"></span>
                        </div>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="adults">
                            <li ng-repeat="adult in ctrl.adultsRange" role="menuitem"
                                ng-click="ctrl.setAdult(adult)">
                                <a ng-href="" translate="inputs.adults" translate-values="{ adults: adult }"
                                   translate-interpolation="messageformat"></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!--BABIES-->
                <div class="col-xs-6 text-center">
                    <div class="input-heading">{{'experience.babies' | translate}}</div>
                    <div class="display-inline-block">
                        <button-incrementer model=ctrl.babies min=ctrl.minBabies max=ctrl.maxBabies
                                            callback=ctrl.setOtherHost()></button-incrementer>
                    </div>

                    <error-messages field-name="babies" translation-name="babies"
                                    controller-errors=ctrl.errors page="experience"></error-messages>
                </div>
                <!--KIDS-->
                <div class="col-xs-6 text-center">
                    <div class="input-heading">{{'experience.kids' | translate}}</div>
                    <div class="display-inline-block">
                        <button-incrementer model=ctrl.kids min=ctrl.minKids max=ctrl.maxKids
                                            callback=ctrl.setOtherHost()></button-incrementer>
                    </div>

                    <error-messages field-name="kids" translation-name="kids"
                                    controller-errors=ctrl.errors page="experience"></error-messages>
                </div>
                <div class="col-xs-12">
                    <error-messages field-name="hosts" translation-name="guests"
                                    controller-errors=ctrl.errors page="experience"></error-messages>
                </div>
            </div>

            <!--REQUEST DATE-->
            <div class="row" ng-if="ctrl.availabilities">
                <div class="col-xs-12">
                    <div class="form-separator"></div>
                    <div class="input-heading">{{'booking.request_date' | translate}}</div>

                    <naus-datepicker date="ctrl.experienceDate"
                                     language="ctrl.language"
                                     availabilities="ctrl.availabilities"
                                     days-of-week="ctrl.availableDaysOfWeek"></naus-datepicker>

                    <error-messages field-name="experience_date" translation-name="request_date"
                                    controller-errors=ctrl.errors page="booking"></error-messages>
                </div>
            </div>

            <!--PRICE SUMMARY-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-separator"></div>
                    <div class="input-heading">{{'experience.summary' | translate}}</div>
                    <hr>
                    <h6 class="payment-info-line">
                            <span translate="booking.service_free_amount"
                                  translate-values="{ price: ctrl.pricePerPersonWithoutServices, currency: ctrl.captainCurrencySymbol, hosts: ctrl.hosts }"></span>
                        <span class="pull-right">
                                {{ctrl.totalPriceWithoutServices | nausCurrency:ctrl.captainCurrency:ctrl.currencies}}
                            </span>
                    </h6>
                    <h6 ng-if="ctrl.servicesPrice > 0">
                            <span translate="booking.additional_services"
                                  translate-values="{ hosts: ctrl.hosts }"></span>
                        <span class="pull-right">{{ctrl.servicesPrice | nausCurrency:ctrl.captainCurrency:ctrl.currencies}}</span>
                    </h6>
                    <h6 ng-if="ctrl.discount > 0">
                        <span>{{'booking.discount' | translate}}</span>
                        <span class="pull-right">-{{ctrl.discount | nausCurrency:ctrl.captainCurrency:ctrl.currencies}}</span>
                    </h6>
                    <hr>
                    <h4 class="text-right">
                        <span>{{'booking.total' | translate}} {{ctrl.total | nausCurrency:ctrl.captainCurrency:ctrl.currencies}}</span>
                        <br ng-hide="ctrl.isSameCurrency">
                        <span ng-hide="ctrl.isSameCurrency" class="h6" translate="booking.nearly"
                              translate-values="{ amount: ctrl.totalGuestCurrency, currency: ctrl.userCurrencySymbol }"></span>
                    </h4>
                    <h5 class="text-right">
                        <span>{{'booking.to_pay_on_board' | translate}} {{ctrl.priceOnBoard | nausCurrency:ctrl.captainCurrency:ctrl.currencies}}</span>
                        <br ng-hide="ctrl.isSameCurrency">
                        <span ng-hide="ctrl.isSameCurrency" class="h6" translate="booking.nearly"
                              translate-values="{ amount: ctrl.priceOnBoardGuestCurrency, currency: ctrl.userCurrencySymbol }"></span>
                    </h5>
                    <h5 class="text-right">
                        <span>{{'booking.to_pay_now' | translate}} {{ctrl.priceToPay | nausCurrency:ctrl.captainCurrency:ctrl.currencies}}</span>
                        <br ng-hide="ctrl.isSameCurrency">
                        <span ng-hide="ctrl.isSameCurrency" class="h6" translate="booking.nearly"
                              translate-values="{ amount: ctrl.priceToPayGuestCurrency, currency: ctrl.userCurrencySymbol }"></span>
                    </h5>
                </div>
            </div>

            <!--SEND BUTTON-->
            <div class="row">
                <div class="col-xs-12">
                    <naus-btn
                            on-click="ctrl.toggleBookingModal()"
                            custom-classes="['full-width']">
                        {{'experience.request_booking' | translate}}
                    </naus-btn>
                </div>
            </div>
        </div>
    </form>

    <div class="loader-container-overlay inside-parent" ng-show="ctrl.loading || ctrl.translations.loading || ctrl.makingRequest">
        <div class="loader-alt"></div>
    </div>
</div>