<p class="form-description margin-bottom-md">
    <span class="bold" translate
          translate-values='{name: ctrl.user.first_name}'>{{'captain_form.hello'}}</span><br/>
    <span>{{'captain_form.insert_data_company' | translate}}</span>
</p>

<breadcrumb-steps step={{ctrl.step}}></breadcrumb-steps>

<form class="form form-steps container-fluid" novalidate name="ctrl.form_sports_association">
    <!--REPRESENTATIVE FIRST AND LAST NAME-->
    <div class="row form-row">
        <div class="col-sm-6 form-col">
            <div class="form-separator"></div>
            <div class="input-heading">{{'captain_form.first_name_representative' | translate}}*</div>
            <div class="input">
                <input name="first_name" type="text"
                       ng-model="ctrl.user.first_name"
                       ng-disabled="ctrl.disabled"
                       placeholder="{{'inputs.placeholder_first_name' | translate}}"
                       ng-change="ctrl.resetField('first_name')"
                       ng-blur="ctrl.patchInput('first_name')"
                       maxlength="150"
                       required>
                <error-messages field-name="first_name" translation-name="first_name_representative"
                                controller-errors=ctrl.errors page="captain_form"></error-messages>
            </div>
        </div>
        <div class="col-sm-6 form-col">
            <div class="form-separator"></div>
            <div class="input-heading">{{'captain_form.last_name_representative' | translate}}*</div>
            <div class="input">
                <input name="last_name" type="text"
                       ng-model="ctrl.user.last_name"
                       ng-disabled="ctrl.disabled"
                       placeholder="{{'inputs.placeholder_last_name' | translate}}"
                       ng-change="ctrl.resetField('last_name')"
                       ng-blur="ctrl.patchInput('last_name')"
                       maxlength="150"
                       required>
                <error-messages field-name="last_name" translation-name="last_name_representative"
                                controller-errors=ctrl.errors page="captain_form"></error-messages>
            </div>
        </div>
    </div>
    <!--EMAIL AND CELLPHONE-->
    <div class="row form-row">
        <!--EMAIL-->
        <div class="col-sm-6 form-col">
            <div class="form-separator"></div>
            <div class="input-heading">{{'captain_form.email_representative' | translate}}*</div>
            <div class="input input-group-icon">
                <span class="input-group-addon">
                    <span class="icon icon-mail"></span>
                </span>
                <input class="input-group-input"
                       name="email" type="email"
                       ng-model="ctrl.user.email"
                       ng-disabled="true"
                       placeholder="{{'inputs.placeholder_email' | translate}}"
                       ng-change="ctrl.resetField('email')"
                       ng-blur="ctrl.patchInput('email')"
                       maxlength="150"
                       required>
                <error-messages field-name="email" translation-name="email_representative" controller-errors=ctrl.errors
                                page="captain_form"></error-messages>
            </div>
        </div>
        <!--CELLPHONE-->
        <div class="col-sm-6 form-col">
            <div class="form-separator"></div>
            <div class="input-heading">{{'inputs.cellphone' | translate}}*</div>
            <div class="input input-group-icon-dropdown" uib-dropdown>
                <div class="row" id="phone-row">
                    <div class="col-sm-7">
                                <span class="input-group-addon" uib-dropdown-toggle is-open="ctrl.dropdowns.prefix"
                                      id="prefix">
                                    <span class="icon language-icon"><img src="{{ctrl.tempUser.selectedCountry.flag}}"></span>
                                    <span class="icon pull-right"
                                          ng-class="{'icon-arrow-down': !ctrl.dropdowns.prefix, 'icon-arrow-up': ctrl.dropdowns.prefix}"></span>
                                </span>
                        <div class="select" ng-class="{'cursor-reset': ctrl.user.is_phone_activated}">
                            <span id="phone" class="select-text untouched">{{ctrl.tempUser.phone}}</span>
                        </div>
                    </div>
                    <div class="col-sm-5" ng-hide="ctrl.user.is_phone_activated">
                        <naus-btn
                                on-click="ctrl.verifyPhone()"
                                options="{squared: true}"
                                custom-classes="['full-width']">
                            {{'inputs.verify' | translate}}
                        </naus-btn>
                    </div>
                </div>

                <error-messages field-name="phone" translation-name="cellphone" controller-errors=ctrl.errors
                                page="inputs"></error-messages>
                <!--<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="prefix" id="countries-dropdown">-->
                <!--<li ng-repeat="country in ctrl.countries" role="menuitem"-->
                <!--ng-click="ctrl.tempUser.selectedCountry = country"-->
                <!--class="item-icon-group">-->
                <!--<span class="item-icon"><img src="{{country.flag}}"></span>-->
                <!--<a class="item-icon-text"><span class="pull-left">{{'countries.' + country.code | translate}}</span><span class="country-code pull-right">{{country.dial_code}}</span></a>-->
                <!--</li>-->
                <!--</ul>-->
            </div>
        </div>
        <div class="col-sm-6 col-sm-push-6 form-col text-justify no-margin margin-bottom-sm"
             ng-if="!ctrl.user.is_phone_activated">
            <span class="input-caption-group">
                <span class="icon icon-question orange-flamingo i-15x input-caption-icon"></span>
                <span class="orange-flamingo bold input-caption">{{'captain_form.verify_phone' | translate}}</span>
            </span>
        </div>
        <div class="col-sm-6 col-sm-push-6 form-col text-justify no-margin margin-bottom-sm"
             ng-if="ctrl.user.is_phone_activated">
            <span class="input-caption-group">
                <span class="icon icon-checkmark border green i-15x input-caption-icon"></span>
                <span class="green input-caption">{{'captain_form.verified' | translate}}</span>
            </span>
        </div>
        <div class="col-sm-6 col-sm-pull-6 form-col text-justify no-margin margin-bottom-sm">
            <span class="input-caption-group">
                <span class="icon icon-attention orange-flamingo i-15x input-caption-icon"></span>
                <span class="input-caption orange-flamingo">{{'captain_form.privacy' | translate}}</span>
            </span>
        </div>
    </div>
    <!--PASSWORD AND CONFIRMATION-->
    <div class="row form-row">
        <div class="col-sm-6 form-col">
            <div class="form-separator"></div>
            <div class="input-heading">{{'inputs.password' | translate}}*</div>
            <div class="input input-group-icon">
                <span class="input-group-addon">
                    <span class="icon icon-password"></span>
                </span>
                <input class="input-group-input"
                       name="password" type="password"
                       ng-model="ctrl.tempUser.password"
                       ng-disabled="ctrl.disabled || ctrl.user.is_set_password"
                       placeholder="{{'inputs.placeholder_password' | translate}}"
                       ng-change="ctrl.resetField('password')"
                       ng-keyup="ctrl.clearField('password_confirm')"
                       ng-blur="ctrl.setPassword('password')"
                       minlength="8"
                       maxlength="128"
                       required
                       clear-input ci-input=ctrl.tempUser.password_confirm ci-event="keyup">
                <error-messages field-name="password" controller-errors=ctrl.errors page="inputs"></error-messages>
                <span class="input-caption-group">
                    <span class="icon icon-attention orange-flamingo i-15x input-caption-icon"></span>
                    <span class="orange-flamingo input-caption">{{'captain_form.caption_password' | translate}}</span>
                </span>
            </div>
        </div>
        <div class="col-sm-6 form-col">
            <div class="form-separator"></div>
            <div class="input-heading">{{'inputs.password_confirm' | translate}}*</div>
            <div class="input input-group-icon">
                <span class="input-group-addon">
                    <span class="icon icon-password"></span>
                </span>
                <input class="input-group-input"
                       name="password_confirm" type="password"
                       ng-model="ctrl.tempUser.password_confirm"
                       ng-disabled="ctrl.disabled || ctrl.user.is_set_password"
                       placeholder="{{'inputs.placeholder_password_confirm' | translate}}"
                       ng-change="ctrl.resetField('password_confirm')"
                       ng-blur="ctrl.setPassword('password_confirm')"
                       password-match=ctrl.tempUser.password
                       required>
                <div class="row no-margin">
                    <div class="col-sm-12 form-col text-justify"
                         ng-if="ctrl.passwordConfirmed">
                        <span class="input-caption-group">
                            <span class="icon icon-checkmark border green i-15x input-caption-icon"></span>
                            <span class="green input-caption">{{'captain_form.password_confirm' | translate}}</span>
                        </span>
                    </div>
                </div>

                <error-messages field-name="password_confirm" controller-errors=ctrl.errors
                                page="inputs"></error-messages>
            </div>
        </div>
    </div>
    <!--SKIPPERS HAVE LICENSE-->
    <div class="row form-row">
        <div class="form-separator"></div>
        <div class="input-heading">{{'captain_form.skippers_have_license' | translate}}</div>
        <div class="col-xs-12 form-col">
            <div class="input">
                <input name="skippers_have_license" type="checkbox"
                       ng-model="ctrl.user.skippers_have_license"
                       ng-value=1
                       ng-change="ctrl.patchInput('skippers_have_license', true)"
                       ng-disabled="ctrl.disabled"
                       id="skippers_have_license"
                       required>
                <label for="skippers_have_license">{{'inputs.yes' | translate}}</label>
            </div>
            <error-messages field-name="skippers_have_license" translation-name="skippers_license"
                            controller-errors=ctrl.errors
                            page="captain_form"></error-messages>
        </div>
    </div>
    <!--SPOKEN LANGUAGES-->
    <div class="row form-row no-padding no-border-bottom">
        <div class="col-sm-12 form-col no-padding">
            <div class="form-separator"></div>
            <div class="input-heading">{{'captain_form.skipper_spoken_languages' | translate}}*</div>
            <div class="row form-row no-padding multi-selector" id="spoken-languages">
                <!--Select-->
                <div class="col-sm-4">
                    <div class="input" uib-dropdown is-open="ctrl.dropdowns.language">
                        <div class="select" id="language" uib-dropdown-toggle ng-disabled="ctrl.disabled">
                    <span class="hide-overflow select-text">
                        <span>{{'spoken_languages.'+ctrl.selectedLanguage.code | translate}}</span>
                    </span>
                    <span class="icon pull-right"
                          ng-class="{'icon-arrow-down': !ctrl.dropdowns.language, 'icon-arrow-up': ctrl.dropdowns.language}"></span>
                </div>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="language">
                    <li ng-repeat="language in ctrl.languages" role="menuitem"
                        ng-click="ctrl.selectedLanguage = language">
                        <a ng-href="" translate>{{'spoken_languages.'+language.code | translate}}</a>
                    </li>
                </ul>
            </div>
            <!--Description SM-->
            <div class="row no-margin">
                <div class="col-sm-12 hidden-xs form-col no-padding">
                    <span class="input-caption-group">
                        <span class="input-caption">{{'captain_form.caption_spoken_languages' | translate}}</span>
                    </span>
                        </div>
                    </div>
                </div>
                <!--Description XS-->
                <div class="col-xs-6 visible-xs-block form-col no-margin">
                    <p>{{'captain_form.caption_spoken_languages' | translate}}</p>
                </div>
                <!--Button-->
                <div class="col-sm-2 form-col add-button">
                    <naus-btn on-click="ctrl.toggleSpokenLanguage(ctrl.selectedLanguage)"
                              options="{circle: 'true'}">
                        <span class="icon icon-plus i-8x"></span>
                    </naus-btn>
                </div>
                <div class="visible-xs-block clearfix"></div>
                <!--Labels-->
                <div class="col-sm-6 form-col">
                    <div class="label-closable" ng-repeat="language in ctrl.tempUser.languages">
                <span class="hide-overflow pull-left">
                    <span class="label-closable-text">
                            {{'spoken_languages.'+language.code | translate}}</span>
                </span>
                        <a ng-href=""
                           ng-click="ctrl.toggleSpokenLanguage(language, true)"
                           class="icon icon-close i-5x pull-right"></a>
                    </div>
                </div>
                <!--Errors-->
                <div class="col-xs-12 form-col no-margin margin-bottom-md">
                    <error-messages field-name="spoken_languages" translation-name="skipper_spoken_languages"
                                    controller-errors=ctrl.errors page="captain_form"></error-messages>
                </div>

            </div>
        </div>
    </div>
    <!--COMPANY DATA-->
    <div class="row form-row">
        <!--NAME-->
        <div class="col-sm-6 form-col">
            <div class="form-separator"></div>
            <div class="input-heading">{{'captain_form.enterprise_name' | translate}}*</div>
            <div class="input">
                <input name="enterprise_name" type="text"
                       ng-model="ctrl.user.enterprise_name"
                       ng-disabled="ctrl.disabled"
                       placeholder="{{'captain_form.placeholder_enterprise_name' | translate}}"
                       ng-change="ctrl.resetField('enterprise_name')"
                       ng-blur="ctrl.patchInput('enterprise_name')"
                       maxlength="150"
                       required>
                <error-messages field-name="enterprise_name" controller-errors=ctrl.errors
                                page="captain_form"></error-messages>
            </div>
        </div>
        <!--VAT-->
        <div class="col-sm-6 form-col">
            <div class="form-separator"></div>
            <div class="input-heading">{{'captain_form.vat_number' | translate}}*</div>
            <div class="input">
                <input name="vat_number" type="text"
                       ng-model="ctrl.user.vat_number"
                       ng-disabled="ctrl.disabled"
                       placeholder="{{'captain_form.placeholder_vat_number' | translate}}"
                       ng-change="ctrl.resetField('vat_number')"
                       ng-blur="ctrl.patchInput('vat_number')"
                       maxlength="100"
                       required>
                <error-messages field-name="vat_number" controller-errors=ctrl.errors
                                page="captain_form"></error-messages>
            </div>
        </div>
        <div class="clearfix"></div>
        <!--COMPANY ADDRESS-->
        <div class="col-sm-6 form-col">
            <div class="form-separator"></div>
            <div class="input-heading">{{'captain_form.enterprise_address' | translate}}*</div>
            <div class="input">
                <input name="enterprise_address" type="text"
                       ng-model="ctrl.user.enterprise_address"
                       ng-disabled="ctrl.disabled"
                       placeholder="{{'captain_form.placeholder_enterprise_address' | translate}}"
                       ng-change="ctrl.resetField('enterprise_address')"
                       ng-blur="ctrl.patchInput('enterprise_address')"
                       maxlength="150"
                       required>
                <error-messages field-name="enterprise_address" controller-errors=ctrl.errors
                                page="captain_form"></error-messages>
            </div>
        </div>
        <!--CITY-->
        <div class="col-sm-6 form-col">
            <div class="form-separator"></div>
            <div class="input-heading">{{'captain_form.enterprise_city' | translate}}*</div>
            <div class="input">
                <input name="enterprise_city" type="text"
                       ng-model="ctrl.user.enterprise_city"
                       ng-disabled="ctrl.disabled"
                       placeholder="{{'captain_form.placeholder_enterprise_city' | translate}}"
                       ng-change="ctrl.resetField('enterprise_city')"
                       ng-blur="ctrl.patchInput('enterprise_city')"
                       maxlength="150"
                       required>
                <error-messages field-name="enterprise_city" controller-errors=ctrl.errors
                                page="captain_form"></error-messages>
            </div>
        </div>
        <div class="clearfix"></div>
        <!--ZIP/POSTAL CODE-->
        <div class="col-sm-6 form-col">
            <div class="form-separator"></div>
            <div class="input-heading">{{'captain_form.enterprise_zip_code' | translate}}*</div>
            <div class="input">
                <input name="enterprise_zip_code" type="text"
                       ng-model="ctrl.user.enterprise_zip_code"
                       ng-disabled="ctrl.disabled"
                       placeholder="{{'captain_form.placeholder_enterprise_zip_code' | translate}}"
                       ng-change="ctrl.resetField('enterprise_zip_code')"
                       ng-blur="ctrl.patchInput('enterprise_zip_code')"
                       maxlength="150"
                       required>
                <error-messages field-name="enterprise_zip_code" controller-errors=ctrl.errors
                                page="captain_form"></error-messages>
            </div>
        </div>
        <!--COUNTRY-->
        <div class="col-sm-6 form-col">
            <div class="form-separator"></div>
            <div class="input-heading">{{'inputs.country' | translate}}*</div>
            <div class="input" uib-dropdown is-open="ctrl.dropdowns.enterprise_country">
                <div class="select" id="enterprise_country" uib-dropdown-toggle ng-disabled="ctrl.disabled">
                    <span class="hide-overflow select-text">
                        <span ng-if=ctrl.user.enterprise_country>{{'countries.' + ctrl.getAttributeTranslationCode('countries', ctrl.user.enterprise_country) | translate}}</span>
                        <span ng-if=!ctrl.user.enterprise_country class="untouched">{{'captain_form.placeholder_enterprise_country' | translate}}</span>
                    </span>
                    <span class="icon pull-right"
                          ng-class="{'icon-arrow-down': !ctrl.dropdowns.enterprise_country, 'icon-arrow-up': ctrl.dropdowns.enterprise_country}"></span>
                </div>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="enterprise_country">
                    <li ng-repeat="enterprise_country in ctrl.countries" role="menuitem"
                        ng-click="ctrl.user.enterprise_country = enterprise_country.code; ctrl.patchInput('enterprise_country', true)">
                        <a ng-href="" translate>{{'countries.' + enterprise_country.code}}</a>
                    </li>
                </ul>
                <error-messages field-name="enterprise_country" translation-name="country" controller-errors=ctrl.errors
                                page="inputs"></error-messages>
            </div>
        </div>
    </div>
    <!--MEMBERSHIP CARD -->
    <div class="row form-row">
        <div class="form-separator"></div>
        <div class="input-heading">{{'captain_form.has_card' | translate}}</div>
        <div class="col-xs-12 form-col">
            <div class="input">
                <input name="has_card" type="checkbox"
                       ng-model="ctrl.user.has_card"
                       ng-disabled="ctrl.disabled"
                       ng-change="ctrl.patchInput('has_card', true)"
                       id="has_card">
                <label class="label-popover"
                       ng-click="ctrl.openPopover('has_card')"
                       uib-popover-template="'/shared/components/popover-field/views/card-price.view.html'"
                       popover-placement="bottom-left"
                       popover-trigger="'outsideClick'"
                       popover-is-open="ctrl.popovers.has_card">
                    {{'inputs.yes' | translate}}
                </label>
                <!--stopPropagation is needed to avoid quick closing of the popup due to the click being sent to label as well-->
                <div class="check" ng-click="ctrl.openPopover('has_card', false, $event)"></div>
            </div>
            <span class="input-caption-group">
                <span class="input-caption">{{'captain_form.caption_has_card' | translate}}</span>
            </span>
        </div>
        <error-messages field-name="card_price" controller-errors=ctrl.errors page="captain_form"></error-messages>
    </div>
    <!--ABOUT YOU-->
    <div class="row form-row">
        <div class="col-sm-12 form-col">
            <div class="form-separator"></div>
            <div class="input-heading">{{'captain_form.description_company' | translate}}</div>
            <div class="input">
                <textarea rows="6" ng-disabled="ctrl.disabled"
                          name="description"
                          ng-model="ctrl.user.description"
                          placeholder="{{'captain_form.placeholder_description_company' | translate}}"
                          ng-change="ctrl.resetField('description')"
                          ng-blur="ctrl.patchInput('description')"
                          maxlength="65535">
                </textarea>
                <error-messages field-name="description" translation-name="description_company"
                                controller-errors=ctrl.errors page="captain_form"></error-messages>
            </div>
        </div>
    </div>
    <!--REQUIRED CAPTION-->
    <div class="row no-margin">
        <div class="col no-padding">
            <span class="input-caption-group">
            <span class="orange-flamingo bold input-caption">{{'inputs.required' | translate}}</span>
        </span>
        </div>
    </div>
    <!--NEXT STEP-->
    <div class="row form-row no-border-bottom text-center">
        <naus-btn
                on-click="ctrl.goToNextStep()"
                options="{disabled: ctrl.loading || ctrl.makingRequest}">
            {{'inputs.forward' | translate}}
        </naus-btn>
    </div>
</form>