<p class="form-description margin-bottom-md">
    <span class="bold" translate
          translate-values='{name: ctrl.user.first_name}'>{{'captain_form.hello'}}</span><br/>
    <span>{{'captain_form.insert_data' | translate}}</span>
</p>
<breadcrumb-steps step={{ctrl.step}}></breadcrumb-steps>
<form class="form form-steps container-fluid" novalidate name="ctrl.form_private" id="captain-form">
    <!--WILL YOU BE THE SKIPPER-->
    <div class="row form-row">
        <div class="form-separator"></div>
        <div class="input-heading">{{'captain_form.is_skipper' | translate}}</div>
        <div class="col-xs-6 col-md-3 form-col">
            <div class="input">
                <input name="is_skipper" type="radio"
                       ng-model="ctrl.user.is_skipper"
                       ng-value="true"
                       ng-disabled="ctrl.disabled"
                       id="yes"
                       ng-change="ctrl.patchInput('is_skipper', true)"
                       ng-blur="ctrl.validateField('is_skipper')"
                       required>
                <label for="yes">{{'inputs.yes' | translate}}</label>

            </div>
        </div>
        <div class="col-xs-6 col-md-3 form-col">
            <div class="input">
                <input name="is_skipper" type="radio"
                       ng-model="ctrl.user.is_skipper"
                       ng-value="false"
                       ng-disabled="ctrl.disabled"
                       id="no"
                       ng-change="ctrl.patchInput('is_skipper', true)"
                       ng-blur="ctrl.validateField('is_skipper')"
                       required>
                <label for="no">{{'inputs.no' | translate}}</label>

            </div>
        </div>
        <div class="col-xs-12">
            <error-messages field-name="is_skipper" translation-name="is_skipper_fieldname"
                            controller-errors=ctrl.errors page="captain_form"></error-messages>
        </div>
    </div>
    <!--REST OF THE FORM-->
    <div class="row no-margin no-padding">
        <!--CAPTAIN IS SKIPPER-->
        <div class="col-xs-12 no-margin no-padding" ng-if="ctrl.user.is_skipper">
            <!--FIRST AND LAST NAME-->
            <div class="row form-row">
                <div class="col-sm-6 form-col">
                    <div class="form-separator"></div>
                    <div class="input-heading">{{'inputs.first_name' | translate}}*</div>
                    <div class="input">
                        <input name="first_name" type="text"
                               ng-model="ctrl.user.first_name"
                               ng-disabled="ctrl.disabled"
                               placeholder="{{'inputs.placeholder_first_name' | translate}}"
                               ng-change="ctrl.resetField('first_name')"
                               ng-blur="ctrl.patchInput('first_name')"
                               maxlength="150"
                               required>
                        <error-messages field-name="first_name" controller-errors=ctrl.errors
                                        page="inputs"></error-messages>
                    </div>
                </div>
                <div class="col-sm-6 form-col">
                    <div class="form-separator"></div>
                    <div class="input-heading">{{'inputs.last_name' | translate}}*</div>
                    <div class="input">
                        <input name="last_name" type="text"
                               ng-model="ctrl.user.last_name"
                               ng-disabled="ctrl.disabled"
                               placeholder="{{'inputs.placeholder_last_name' | translate}}"
                               ng-change="ctrl.resetField('last_name')"
                               ng-blur="ctrl.patchInput('last_name')"
                               maxlength="150"
                               required>
                        <error-messages field-name="last_name" controller-errors=ctrl.errors
                                        page="inputs"></error-messages>
                    </div>
                </div>
            </div>
            <!--SEX AND BIRTHDATE-->
            <div class="row form-row">
                <!--SEX-->
                <div class="col-sm-6 form-col no-padding">
                    <div class="form-separator"></div>
                    <div class="input-heading">{{'inputs.sex' | translate}}*</div>
                    <div class="row no-margin">
                        <div class="col-sm-8">
                            <div class="input" uib-dropdown is-open="ctrl.dropdowns.sex">
                                <div class="select" id="sex" uib-dropdown-toggle ng-disabled="ctrl.disabled">
                                    <span class="select-text" ng-class="{'untouched': !ctrl.user.sex}">{{'inputs.' + ctrl.getAttributeTranslationCode('sexes', ctrl.user.sex) | translate}}</span>
                                    <span class="icon pull-right"
                                          ng-class="{'icon-arrow-down': !ctrl.dropdowns.sex, 'icon-arrow-up': ctrl.dropdowns.sex}"></span>
                                </div>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="sex">
                                    <li ng-repeat="sex in ctrl.sexes" role="menuitem"
                                        ng-click="ctrl.user.sex = sex.code; ctrl.patchInput('sex', true)">
                                        <a ng-href="" translate>{{'inputs.'+sex.alias | translate}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <error-messages field-name="sex" controller-errors=ctrl.errors page="inputs"></error-messages>
                    </div>
                </div>
                <!--BIRTHDATE-->
                <div class="col-sm-6 form-col no-padding">
                    <div class="form-separator"></div>
                    <div class="input-heading">{{'inputs.birth_date' | translate}}*</div>
                    <div class="row no-margin">
                        <div class="col-sm-3">
                            <div class="input" uib-dropdown is-open="ctrl.dropdowns.day">
                                <div class="select" id="day" uib-dropdown-toggle ng-disabled="ctrl.disabled">
                                    <span class="select-text untouched" ng-show="ctrl.tempUser.day == null">{{'inputs.day' | translate}}</span>
                                    <span class="select-text"
                                          ng-hide="ctrl.tempUser.day == null">{{ctrl.tempUser.day}}</span>
                                    <span class="icon pull-right"
                                          ng-class="{'icon-arrow-down': !ctrl.dropdowns.day, 'icon-arrow-up': ctrl.dropdowns.day}"></span>
                                </div>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="day">
                                    <li ng-repeat="day in ctrl.getDays(ctrl.tempUser.month)" role="menuitem"
                                        ng-click="ctrl.tempUser.day = day; ctrl.patchInput('birth_date', true)">
                                        <a ng-href="">{{day}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="input" uib-dropdown is-open="ctrl.dropdowns.month">
                                <div class="select" id="month" uib-dropdown-toggle ng-disabled="ctrl.disabled">
                                    <span class="select-text untouched" ng-show="ctrl.tempUser.month == null">{{'inputs.month' | translate}}</span>
                                    <span class="select-text" ng-hide="ctrl.tempUser.month == null">{{'months.' + ctrl.months[ctrl.tempUser.month].alias | translate}}</span>
                                    <span class="icon pull-right"
                                          ng-class="{'icon-arrow-down': !ctrl.dropdowns.month, 'icon-arrow-up': ctrl.dropdowns.month}"></span>
                                </div>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="month">
                                    <li ng-repeat="month in ctrl.months" role="menuitem"
                                        ng-click="ctrl.tempUser.month = $index; ctrl.patchInput('birth_date', true)">
                                        <a ng-href="" translate>{{'months.'+month.alias}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input" uib-dropdown is-open="ctrl.dropdowns.year">
                                <div class="select" id="year" uib-dropdown-toggle ng-disabled="ctrl.disabled">
                                    <span class="select-text untouched" ng-show="ctrl.tempUser.year == null">{{'inputs.year' | translate}}</span>
                                    <span class="select-text" ng-hide="ctrl.tempUser.year == null">{{ctrl.tempUser.year}}</span>
                                    <span class="icon pull-right"
                                          ng-class="{'icon-arrow-down': !ctrl.dropdowns.year, 'icon-arrow-up': ctrl.dropdowns.year}"></span>
                                </div>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="year">
                                    <li ng-repeat="year in ctrl.birthDateYears" role="menuitem"
                                        ng-click="ctrl.tempUser.year = year; ctrl.patchInput('birth_date', true)">
                                        <a ng-href="">{{year}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <error-messages field-name="birth_date" controller-errors=ctrl.errors
                                        page="inputs"></error-messages>
                    </div>
                </div>
            </div>
            <!--EMAIL AND CELLPHONE-->
            <div class="row form-row">
                <!--EMAIL-->
                <div class="col-sm-6 form-col">
                    <div class="form-separator"></div>
                    <div class="input-heading">{{'inputs.email' | translate}}*</div>
                    <div class="input input-group-icon">
                        <span class="input-group-addon">
                            <span class="icon icon-mail"></span>
                        </span>
                        <input class="input-group-input"
                               name="email" type="email"
                               ng-model="ctrl.user.email"
                               ng-disabled="true"
                               placeholder="{{'inputs.placeholder_email' | translate}}"
                               ng-change="ctrl.resetField('email')"
                               ng-blur="ctrl.patchInput('email')"
                               maxlength="150"
                               required>
                        <error-messages field-name="email" controller-errors=ctrl.errors page="inputs"></error-messages>
                    </div>
                </div>
                <!--CELLPHONE-->
                <div class="col-sm-6 form-col">
                    <div class="form-separator"></div>
                    <div class="input-heading">{{'inputs.cellphone' | translate}}*</div>
                    <div class="input input-group-icon-dropdown" uib-dropdown>
                        <div class="row" id="phone-row">
                            <div class="col-sm-7">
                                <span class="input-group-addon" uib-dropdown-toggle is-open="ctrl.dropdowns.prefix"
                                      id="prefix">
                                    <span class="icon language-icon"><img src="{{ctrl.tempUser.selectedCountry.flag}}"></span>
                                    <span class="icon pull-right"
                                          ng-class="{'icon-arrow-down': !ctrl.dropdowns.prefix, 'icon-arrow-up': ctrl.dropdowns.prefix}"></span>
                                </span>
                                <div class="select" ng-class="{'cursor-reset': ctrl.user.is_phone_activated}">
                                    <span id="phone" class="select-text untouched">{{ctrl.tempUser.phone}}</span>
                                </div>
                            </div>
                            <div class="col-sm-5" ng-hide="ctrl.user.is_phone_activated">
                                <naus-btn
                                        on-click="ctrl.verifyPhone()"
                                        options="{squared: true}"
                                        custom-classes="['full-width']">
                                    {{'inputs.verify' | translate}}
                                </naus-btn>
                            </div>
                        </div>

                        <error-messages field-name="phone" translation-name="cellphone" controller-errors=ctrl.errors
                                        page="inputs"></error-messages>
                        <!--<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="prefix" id="countries-dropdown">-->
                        <!--<li ng-repeat="country in ctrl.countries" role="menuitem"-->
                        <!--ng-click="ctrl.tempUser.selectedCountry = country"-->
                        <!--class="item-icon-group">-->
                        <!--<span class="item-icon"><img src="{{country.flag}}"></span>-->
                        <!--<a class="item-icon-text"><span class="pull-left">{{'countries.' + country.code | translate}}</span><span class="country-code pull-right">{{country.dial_code}}</span></a>-->
                        <!--</li>-->
                        <!--</ul>-->
                    </div>
                </div>
                <div class="col-sm-6 col-sm-push-6 form-col text-justify no-margin margin-bottom-sm"
                     ng-if="!ctrl.user.is_phone_activated">
                    <span class="input-caption-group">
                        <span class="icon icon-question orange-flamingo i-15x input-caption-icon"></span>
                        <span class="orange-flamingo bold input-caption">{{'captain_form.verify_phone' | translate}}</span>
                    </span>
                </div>
                <div class="col-sm-6 col-sm-push-6 form-col text-justify no-margin margin-bottom-sm"
                     ng-if="ctrl.user.is_phone_activated">
                    <span class="input-caption-group">
                        <span class="icon icon-checkmark border green i-15x input-caption-icon"></span>
                        <span class="green input-caption">{{'captain_form.verified' | translate}}</span>
                    </span>
                </div>
                <div class="col-sm-6 col-sm-pull-6 form-col text-justify no-margin margin-bottom-sm">
                    <span class="input-caption-group">
                        <span class="icon icon-attention orange-flamingo i-15x input-caption-icon"></span>
                        <span class="input-caption orange-flamingo">{{'captain_form.privacy' | translate}}</span>
                    </span>
                </div>
            </div>
            <!--PASSWORD AND CONFIRMATION-->
            <div class="row form-row">
                <div class="col-sm-6 form-col">
                    <div class="form-separator"></div>
                    <div class="input-heading">{{'inputs.password' | translate}}*</div>
                    <div class="input input-group-icon">
                        <span class="input-group-addon">
                            <span class="icon icon-password"></span>
                        </span>
                        <input class="input-group-input"
                               name="password" type="password"
                               ng-model="ctrl.tempUser.password"
                               ng-disabled="ctrl.disabled || ctrl.user.is_set_password"
                               placeholder="{{'inputs.placeholder_password' | translate}}"
                               ng-change="ctrl.resetField('password')"
                               ng-blur="ctrl.setPassword('password')"
                               minlength="8"
                               maxlength="128"
                               required
                               clear-input ci-input=ctrl.tempUser.password_confirm ci-event="keyup">
                        <error-messages field-name="password" controller-errors=ctrl.errors
                                        page="inputs"></error-messages>
                        <span class="input-caption-group">
                            <span class="icon icon-attention orange-flamingo i-15x input-caption-icon"></span>
                            <span class="orange-flamingo input-caption">{{'captain_form.caption_password' | translate}}</span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-6 form-col">
                    <div class="form-separator"></div>
                    <div class="input-heading">{{'inputs.password_confirm' | translate}}*</div>
                    <div class="input input-group-icon">
                        <span class="input-group-addon">
                            <span class="icon icon-password"></span>
                        </span>
                        <input class="input-group-input"
                               name="password_confirm" type="password"
                               ng-model="ctrl.tempUser.password_confirm"
                               ng-disabled="ctrl.disabled || ctrl.user.is_set_password"
                               placeholder="{{'inputs.placeholder_password_confirm' | translate}}"
                               ng-change="ctrl.resetField('password_confirm')"
                               ng-blur="ctrl.setPassword('password_confirm')"
                               password-match=ctrl.tempUser.password
                               required>
                        <div class="row no-margin">
                            <div class="col-sm-12 form-col text-justify"
                                 ng-if="ctrl.passwordConfirmed">
                        <span class="input-caption-group">
                            <span class="icon icon-checkmark border green i-15x input-caption-icon"></span>
                            <span class="green input-caption">{{'captain_form.password_confirm' | translate}}</span>
                        </span>
                            </div>
                        </div>

                        <error-messages field-name="password_confirm" controller-errors=ctrl.errors
                                        page="inputs"></error-messages>
                    </div>
                </div>
            </div>
            <!--NATIONALITY AND CURRENCY-->
            <div class="row form-row">
                <!--NATIONALITY-->
                <div class="col-sm-6 form-col">
                    <div class="form-separator"></div>
                    <div class="input-heading">{{'inputs.nationality' | translate}}*</div>
                    <div class="input" uib-dropdown is-open="ctrl.dropdowns.nationality">
                        <div class="select" id="nationality" uib-dropdown-toggle ng-disabled="ctrl.disabled">
                    <span class="hide-overflow select-text">
                        <span ng-if=ctrl.user.nationality>{{'countries.' + ctrl.getAttributeTranslationCode('countries', ctrl.user.nationality) | translate}}</span>
                        <span ng-if=!ctrl.user.nationality class="untouched">{{'captain_form.placeholder_nationality' | translate}}</span>
                    </span>
                            <span class="icon pull-right"
                                  ng-class="{'icon-arrow-down': !ctrl.dropdowns.nationality, 'icon-arrow-up': ctrl.dropdowns.nationality}"></span>
                        </div>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="nationality">
                            <li ng-repeat="nationality in ctrl.countries" role="menuitem"
                                ng-click="ctrl.user.nationality = nationality.code; ctrl.patchInput('nationality', true)">
                                <a ng-href="" translate>{{'countries.' + nationality.code}}</a>
                            </li>
                        </ul>
                    </div>
                    <error-messages field-name="nationality" controller-errors=ctrl.errors
                                    page="inputs"></error-messages>
                </div>

                <!--CURRENCY-->
                <div class="col-sm-6 form-col">
                    <div class="form-separator"></div>
                    <div class="input-heading">{{'inputs.currency' | translate}}*</div>
                    <div class="input" uib-dropdown is-open="ctrl.dropdowns.currency">
                        <div class="select" id="currency" uib-dropdown-toggle ng-disabled="ctrl.disabled">
                            <span class="select-text" ng-class="{'untouched': !ctrl.user.currency}">{{'currencies.' + ctrl.getAttributeTranslationCode('currencies', ctrl.user.currency) | translate}}</span>
                            <span class="icon pull-right"
                                  ng-class="{'icon-arrow-down': !ctrl.dropdowns.currency, 'icon-arrow-up': ctrl.dropdowns.currency}"></span>
                        </div>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="currency">
                            <li ng-repeat="currency in ctrl.currencies" role="menuitem"
                                ng-click="ctrl.user.currency = currency.code; ctrl.resetField('currency', true)">
                                <a ng-href="" translate>{{'currencies.'+currency.code}}</a>
                            </li>
                        </ul>
                    </div>
                    <span class="input-caption-group">
                        <span class="input-caption">{{'captain_form.caption_currency' | translate}}</span>
                    </span>
                </div>
                <error-messages field-name="currency" controller-errors=ctrl.errors page="inputs"></error-messages>

            </div>
            <!--SPOKEN LANGUAGES-->
            <div class="row form-row no-padding no-border-bottom">
                <div class="col-sm-12 form-col no-padding">
                    <div class="form-separator"></div>
                    <div class="input-heading">{{'captain_form.skipper_spoken_languages' | translate}}*</div>
                    <div class="row form-row no-padding multi-selector" id="spoken-languages">
                        <!--Select-->
                        <div class="col-sm-4">
                            <div class="input" uib-dropdown is-open="ctrl.dropdowns.language">
                                <div class="select" id="language" uib-dropdown-toggle ng-disabled="ctrl.disabled">
                    <span class="hide-overflow select-text">
                        <span>{{'spoken_languages.'+ctrl.selectedLanguage.code | translate}}</span>
                    </span>
                                    <span class="icon pull-right"
                                          ng-class="{'icon-arrow-down': !ctrl.dropdowns.language, 'icon-arrow-up': ctrl.dropdowns.language}"></span>
                                </div>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="language">
                                    <li ng-repeat="language in ctrl.languages" role="menuitem"
                                        ng-click="ctrl.selectedLanguage = language">
                                        <a ng-href="" translate>{{'spoken_languages.'+language.code | translate}}</a>
                                    </li>
                                </ul>
                            </div>
                            <!--Description SM-->
                            <div class="row no-margin">
                                <div class="col-sm-12 hidden-xs form-col no-padding">
                    <span class="input-caption-group">
                        <span class="input-caption">{{'captain_form.caption_spoken_languages' | translate}}</span>
                    </span>
                                </div>
                            </div>
                        </div>
                        <!--Description XS-->
                        <div class="col-xs-6 visible-xs-block form-col no-margin">
                            <p>{{'captain_form.caption_spoken_languages' | translate}}</p>
                        </div>
                        <!--Button-->
                        <div class="col-sm-2 form-col add-button">
                            <naus-btn on-click="ctrl.toggleSpokenLanguage(ctrl.selectedLanguage)"
                                      options="{circle: 'true'}">
                                <span class="icon icon-plus i-8x"></span>
                            </naus-btn>
                        </div>
                        <div class="visible-xs-block clearfix"></div>
                        <!--Labels-->
                        <div class="col-sm-6 form-col">
                            <div class="label-closable" ng-repeat="language in ctrl.tempUser.languages">
                <span class="hide-overflow pull-left">
                    <span class="label-closable-text">
                            {{'spoken_languages.'+language.code | translate}}</span>
                </span>
                                <a ng-href=""
                                   ng-click="ctrl.toggleSpokenLanguage(language, true)"
                                   class="icon icon-close i-5x pull-right"></a>
                            </div>
                        </div>
                        <!--Errors-->
                        <div class="col-xs-12 form-col no-margin margin-bottom-md">
                            <error-messages field-name="spoken_languages" translation-name="skipper_spoken_languages"
                                            controller-errors=ctrl.errors page="captain_form"></error-messages>
                        </div>

                    </div>
                </div>
            </div>
            <!--ABOUT YOU-->
            <div class="row form-row">
                <div class="col-sm-12 form-col">
                    <div class="form-separator"></div>
                    <div class="input-heading">{{'captain_form.description' | translate}}</div>
                    <div class="input">
                <textarea rows="6" ng-disabled="ctrl.disabled"
                          name="description"
                          ng-model="ctrl.user.description"
                          placeholder="{{'captain_form.placeholder_description' | translate}}"
                          ng-change="ctrl.resetField('description')"
                          ng-blur="ctrl.patchInput('description')"
                          maxlength="65535"></textarea>
                        <error-messages field-name="description" controller-errors=ctrl.errors
                                        captain_form="captain_form"></error-messages>
                    </div>
                </div>
            </div>
            <!--REQUIRED CAPTION-->
            <div class="row no-margin">
                <div class="col no-padding">
            <span class="input-caption-group">
            <span class="orange-flamingo bold input-caption">{{'inputs.required' | translate}}</span>
        </span>
                </div>
            </div>
        </div>
        <!--NOT SKIPPER-->
        <div class="col-xs-12 no-margin no-padding" ng-if="!ctrl.user.is_skipper">
            <!--OWNER FIRST AND LAST NAME-->
            <div class="row form-row">
                <div class="col-sm-6 form-col">
                    <div class="form-separator"></div>
                    <div class="input-heading">{{'captain_form.owner_first_name' | translate}}*</div>
                    <div class="input">
                        <input name="first_name" type="text"
                               ng-model="ctrl.user.first_name"
                               ng-disabled="ctrl.disabled"
                               placeholder="{{'inputs.placeholder_first_name' | translate}}"
                               ng-change="ctrl.resetField('first_name')"
                               ng-blur="ctrl.patchInput('first_name')"
                               maxlength="150"
                               required>
                        <error-messages field-name="first_name" translation-name="owner_first_name"
                                        controller-errors=ctrl.errors page="captain_form"></error-messages>
                    </div>
                </div>
                <div class="col-sm-6 form-col">
                    <div class="form-separator"></div>
                    <div class="input-heading">{{'captain_form.owner_last_name' | translate}}*</div>
                    <div class="input">
                        <input name="owner_last_name" type="text"
                               ng-model="ctrl.user.last_name"
                               ng-disabled="ctrl.disabled"
                               placeholder="{{'inputs.placeholder_last_name' | translate}}"
                               ng-change="ctrl.resetField('owner_last_name')"
                               ng-blur="ctrl.patchInput('owner_last_name')"
                               maxlength="150"
                               required>
                        <error-messages field-name="owner_last_name" controller-errors=ctrl.errors
                                        page="captain_form"></error-messages>
                    </div>
                </div>
            </div>
            <!--EMAIL AND CELLPHONE-->
            <div class="row form-row">
                <!--EMAIL-->
                <div class="col-sm-6 form-col">
                    <div class="form-separator"></div>
                    <div class="input-heading">{{'captain_form.owner_email' | translate}}*</div>
                    <div class="input input-group-icon">
                        <span class="input-group-addon">
                            <span class="icon icon-mail"></span>
                        </span>
                        <input class="input-group-input"
                               name="email" type="email"
                               ng-model="ctrl.user.email"
                               ng-disabled="true"
                               placeholder="{{'inputs.placeholder_email' | translate}}"
                               ng-change="ctrl.resetField('email')"
                               ng-blur="ctrl.patchInput('email')"
                               maxlength="150"
                               required>
                        <error-messages field-name="email" controller-errors=ctrl.errors page="inputs"></error-messages>
                    </div>
                </div>
                <!--CELLPHONE-->
                <div class="col-sm-6 form-col">
                    <div class="form-separator"></div>
                    <div class="input-heading">{{'inputs.cellphone' | translate}}*</div>
                    <div class="input input-group-icon-dropdown" uib-dropdown>
                        <div class="row" id="phone-row">
                            <div class="col-sm-7">
                                <span class="input-group-addon" uib-dropdown-toggle is-open="ctrl.dropdowns.prefix"
                                      id="prefix">
                                    <span class="icon language-icon"><img src="{{ctrl.tempUser.selectedCountry.flag}}"></span>
                                    <span class="icon pull-right"
                                          ng-class="{'icon-arrow-down': !ctrl.dropdowns.prefix, 'icon-arrow-up': ctrl.dropdowns.prefix}"></span>
                                </span>
                                <div class="select" ng-class="{'cursor-reset': ctrl.user.is_phone_activated}">
                                    <span id="phone" class="select-text untouched">{{ctrl.tempUser.phone}}</span>
                                </div>
                            </div>
                            <div class="col-sm-5" ng-hide="ctrl.user.is_phone_activated">
                                <naus-btn
                                        on-click="ctrl.verifyPhone()"
                                        options="{squared: true}"
                                        custom-classes="['full-width']">
                                    {{'inputs.verify' | translate}}
                                </naus-btn>
                            </div>
                        </div>

                        <error-messages field-name="phone" translation-name="cellphone" controller-errors=ctrl.errors
                                        page="inputs"></error-messages>
                        <!--<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="prefix" id="countries-dropdown">-->
                        <!--<li ng-repeat="country in ctrl.countries" role="menuitem"-->
                        <!--ng-click="ctrl.tempUser.selectedCountry = country"-->
                        <!--class="item-icon-group">-->
                        <!--<span class="item-icon"><img src="{{country.flag}}"></span>-->
                        <!--<a class="item-icon-text"><span class="pull-left">{{'countries.' + country.code | translate}}</span><span class="country-code pull-right">{{country.dial_code}}</span></a>-->
                        <!--</li>-->
                        <!--</ul>-->
                    </div>
                </div>
                <div class="col-sm-6 col-sm-push-6 form-col text-justify no-margin margin-bottom-sm"
                     ng-if="!ctrl.user.is_phone_activated">
            <span class="input-caption-group">
                <span class="icon icon-question orange-flamingo i-15x input-caption-icon"></span>
                <span class="orange-flamingo bold input-caption">{{'captain_form.verify_phone' | translate}}</span>
            </span>
                </div>
                <div class="col-sm-6 col-sm-push-6 form-col text-justify no-margin margin-bottom-sm"
                     ng-if="ctrl.user.is_phone_activated">
            <span class="input-caption-group">
                <span class="icon icon-checkmark border green i-15x input-caption-icon"></span>
                <span class="green input-caption">{{'captain_form.verified' | translate}}</span>
            </span>
                </div>
                <div class="col-sm-6 col-sm-pull-6 form-col text-justify no-margin margin-bottom-sm">
            <span class="input-caption-group">
                <span class="icon icon-attention orange-flamingo i-15x input-caption-icon"></span>
                <span class="input-caption orange-flamingo">{{'captain_form.privacy' | translate}}</span>
            </span>
                </div>
            </div>
            <!--SKIPPER FIRST AND LAST NAME-->
            <div class="row form-row">
                <div class="col-sm-6 form-col">
                    <div class="form-separator"></div>
                    <div class="input-heading">{{'captain_form.first_name_skipper' | translate}}*</div>
                    <div class="input">
                        <input name="first_name_skipper" type="text"
                               ng-model="ctrl.user.first_name_skipper"
                               ng-disabled="ctrl.disabled"
                               placeholder="{{'inputs.placeholder_first_name' | translate}}"
                               ng-change="ctrl.resetField('first_name_skipper')"
                               ng-blur="ctrl.patchInput('first_name_skipper')"
                               maxlength="150"
                               required>
                        <error-messages field-name="first_name_skipper" controller-errors=ctrl.errors
                                        page="captain_form"></error-messages>
                    </div>
                </div>
                <div class="col-sm-6 form-col">
                    <div class="form-separator"></div>
                    <div class="input-heading">{{'captain_form.last_name_skipper' | translate}}*</div>
                    <div class="input">
                        <input name="last_name_skipper" type="text"
                               ng-model="ctrl.user.last_name_skipper"
                               ng-disabled="ctrl.disabled"
                               placeholder="{{'inputs.placeholder_last_name' | translate}}"
                               ng-change="ctrl.resetField('last_name_skipper')"
                               ng-blur="ctrl.patchInput('last_name_skipper')"
                               maxlength="150"
                               required>
                        <error-messages field-name="last_name_skipper" controller-errors=ctrl.errors
                                        page="captain_form"></error-messages>
                    </div>
                </div>
            </div>
            <!--SEX AND BIRTHDATE-->
            <div class="row form-row">
                <!--SEX-->
                <div class="col-sm-6 form-col no-padding">
                    <div class="form-separator"></div>
                    <div class="input-heading">{{'captain_form.skipper_sex' | translate}}*</div>
                    <div class="row no-margin">
                        <div class="col-sm-8">
                            <div class="input" uib-dropdown is-open="ctrl.dropdowns.sex">
                                <div class="select" id="sex" uib-dropdown-toggle ng-disabled="ctrl.disabled">
                                    <span class="select-text" ng-class="{'untouched': !ctrl.user.sex}">{{'inputs.' + ctrl.getAttributeTranslationCode('sexes', ctrl.user.sex) | translate}}</span>
                                    <span class="icon pull-right"
                                          ng-class="{'icon-arrow-down': !ctrl.dropdowns.sex, 'icon-arrow-up': ctrl.dropdowns.sex}"></span>
                                </div>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="sex">
                                    <li ng-repeat="sex in ctrl.sexes" role="menuitem"
                                        ng-click="ctrl.user.sex = sex.code; ctrl.patchInput('sex', true)">
                                        <a ng-href="" translate>{{'inputs.'+sex.alias | translate}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <error-messages field-name="sex" translation-name="skipper_sex" controller-errors=ctrl.errors
                                        page="captain_form"></error-messages>
                    </div>
                </div>
                <!--BIRTHDATE-->
                <div class="col-sm-6 form-col no-padding">
                    <div class="form-separator"></div>
                    <div class="input-heading">{{'captain_form.skipper_birth_date' | translate}}*</div>
                    <div class="row no-margin">
                        <div class="col-sm-3">
                            <div class="input" uib-dropdown is-open="ctrl.dropdowns.day">
                                <div class="select" id="day" uib-dropdown-toggle ng-disabled="ctrl.disabled">
                                    <span class="select-text untouched" ng-show="ctrl.tempUser.day == null">{{'inputs.day' | translate}}</span>
                                    <span class="select-text"
                                          ng-hide="ctrl.tempUser.day == null">{{ctrl.tempUser.day}}</span>
                                    <span class="icon pull-right"
                                          ng-class="{'icon-arrow-down': !ctrl.dropdowns.day, 'icon-arrow-up': ctrl.dropdowns.day}"></span>
                                </div>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="day">
                                    <li ng-repeat="day in ctrl.getDays(ctrl.tempUser.month)" role="menuitem"
                                        ng-click="ctrl.tempUser.day = day; ctrl.patchInput('birth_date', true)">
                                        <a ng-href="">{{day}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="input" uib-dropdown is-open="ctrl.dropdowns.month">
                                <div class="select" id="month" uib-dropdown-toggle ng-disabled="ctrl.disabled">
                                    <span class="select-text untouched" ng-show="ctrl.tempUser.month == null">{{'inputs.month' | translate}}</span>
                                    <span class="select-text" ng-hide="ctrl.tempUser.month == null">{{'months.' + ctrl.months[ctrl.tempUser.month].alias | translate}}</span>
                                    <span class="icon pull-right"
                                          ng-class="{'icon-arrow-down': !ctrl.dropdowns.month, 'icon-arrow-up': ctrl.dropdowns.month}"></span>
                                </div>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="month">
                                    <li ng-repeat="month in ctrl.months" role="menuitem"
                                        ng-click="ctrl.tempUser.month = $index; ctrl.patchInput('birth_date', true)">
                                        <a ng-href="" translate>{{'months.'+month.alias}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input" uib-dropdown is-open="ctrl.dropdowns.year">
                                <div class="select" id="year" uib-dropdown-toggle ng-disabled="ctrl.disabled">
                                    <span class="select-text untouched" ng-show="ctrl.tempUser.year == null">{{'inputs.year' | translate}}</span>
                                    <span class="select-text" ng-hide="ctrl.tempUser.year == null">{{ctrl.tempUser.year}}</span>
                                    <span class="icon pull-right"
                                          ng-class="{'icon-arrow-down': !ctrl.dropdowns.year, 'icon-arrow-up': ctrl.dropdowns.year}"></span>
                                </div>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="year">
                                    <li ng-repeat="year in ctrl.birthDateYears" role="menuitem"
                                        ng-click="ctrl.tempUser.year = year; ctrl.patchInput('birth_date', true)">
                                        <a ng-href="">{{year}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <error-messages field-name="birth_date" translation-name="skipper_birth_date"
                                        controller-errors=ctrl.errors page="captain_form"></error-messages>
                    </div>
                </div>
            </div>
            <!--PASSWORD AND CONFIRMATION-->
            <div class="row form-row">
                <div class="col-sm-6 form-col">
                    <div class="form-separator"></div>
                    <div class="input-heading">{{'inputs.password' | translate}}*</div>
                    <div class="input input-group-icon">
                <span class="input-group-addon">
                    <span class="icon icon-password"></span>
                </span>
                        <input class="input-group-input"
                               name="password" type="password"
                               ng-model="ctrl.tempUser.password"
                               ng-disabled="ctrl.disabled || ctrl.user.is_set_password"
                               placeholder="{{'inputs.placeholder_password' | translate}}"
                               ng-change="ctrl.resetField('password')"
                               ng-blur="ctrl.setPassword('password')"
                               minlength="8"
                               maxlength="128"
                               required
                               clear-input ci-input=ctrl.tempUser.password_confirm ci-event="keyup">
                        <error-messages field-name="password" controller-errors=ctrl.errors
                                        page="inputs"></error-messages>
                        <span class="input-caption-group">
                    <span class="icon icon-attention orange-flamingo i-15x input-caption-icon"></span>
                    <span class="orange-flamingo input-caption">{{'captain_form.caption_password' | translate}}</span>
                </span>
                    </div>
                </div>
                <div class="col-sm-6 form-col">
                    <div class="form-separator"></div>
                    <div class="input-heading">{{'inputs.password_confirm' | translate}}*</div>
                    <div class="input input-group-icon">
                <span class="input-group-addon">
                    <span class="icon icon-password"></span>
                </span>
                        <input class="input-group-input"
                               name="password_confirm" type="password"
                               id="password_confirm"
                               ng-model="ctrl.tempUser.password_confirm"
                               ng-disabled="ctrl.disabled || ctrl.user.is_set_password"
                               placeholder="{{'inputs.placeholder_password_confirm' | translate}}"
                               ng-change="ctrl.resetField('password_confirm')"
                               ng-blur="ctrl.setPassword('password_confirm')"
                               password-match=ctrl.tempUser.password
                               required>
                        <div class="row no-margin">
                            <div class="col-sm-12 form-col text-justify"
                                 ng-if="ctrl.passwordConfirmed">
                        <span class="input-caption-group">
                            <span class="icon icon-checkmark border green i-15x input-caption-icon"></span>
                            <span class="green input-caption">{{'captain_form.password_confirm' | translate}}</span>
                        </span>
                            </div>
                        </div>

                        <error-messages field-name="password_confirm" controller-errors=ctrl.errors
                                        page="inputs"></error-messages>
                    </div>
                </div>
            </div>
            <!--NATIONALITY AND CURRENCY-->
            <div class="row form-row">
                <!--NATIONALITY-->
                <div class="col-sm-6 form-col">
                    <div class="form-separator"></div>
                    <div class="input-heading">{{'captain_form.skipper_nationality' | translate}}*</div>
                    <div class="input" uib-dropdown is-open="ctrl.dropdowns.nationality">
                        <div class="select" id="nationality" uib-dropdown-toggle ng-disabled="ctrl.disabled">
                            <span class="hide-overflow select-text">
                                <span ng-if=ctrl.user.nationality>{{'countries.' + ctrl.getAttributeTranslationCode('countries', ctrl.user.nationality) | translate}}</span>
                                <span ng-if=!ctrl.user.nationality class="untouched">{{'captain_form.placeholder_nationality' | translate}}</span>
                            </span>
                            <span class="icon pull-right"
                                  ng-class="{'icon-arrow-down': !ctrl.dropdowns.nationality, 'icon-arrow-up': ctrl.dropdowns.nationality}"></span>
                        </div>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="nationality">
                            <li ng-repeat="nationality in ctrl.countries" role="menuitem"
                                ng-click="ctrl.user.nationality = nationality.code; ctrl.patchInput('nationality', true)">
                                <a ng-href="" translate>{{'countries.' + nationality.code}}</a>
                            </li>
                        </ul>
                    </div>
                    <error-messages field-name="nationality" translation-name="skipper_nationality"
                                    controller-errors=ctrl.errors page="captain_form"></error-messages>
                </div>
                <!--CURRENCY-->
                <div class="col-sm-6 form-col">
                    <div class="form-separator"></div>
                    <div class="input-heading">{{'inputs.currency' | translate}}*</div>
                    <div class="input" uib-dropdown is-open="ctrl.dropdowns.currency">
                        <div class="select" id="currency" uib-dropdown-toggle ng-disabled="ctrl.disabled">
                            <span class="select-text" ng-class="{'untouched': !ctrl.user.currency}">{{'currencies.' + ctrl.getAttributeTranslationCode('currencies', ctrl.user.currency) | translate}}</span>
                            <span class="icon pull-right"
                                  ng-class="{'icon-arrow-down': !ctrl.dropdowns.currency, 'icon-arrow-up': ctrl.dropdowns.currency}"></span>
                        </div>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="currency">
                            <li ng-repeat="currency in ctrl.currencies" role="menuitem"
                                ng-click="ctrl.user.currency = currency.code">
                                <a ng-href="" translate>{{'currencies.'+currency.code}}</a>
                            </li>
                        </ul>
                    </div>
                    <span class="input-caption-group">
            <span class="input-caption">{{'captain_form.caption_currency' | translate}}</span>
                </span>

                    <error-messages field-name="currency" controller-errors=ctrl.errors page="inputs"></error-messages>
                </div>
            </div>

            <!--SPOKEN LANGUAGES-->
            <div class="row form-row no-padding no-border-bottom">
                <div class="col-sm-12 form-col no-padding">
                    <div class="form-separator"></div>
                    <div class="input-heading">{{'captain_form.skipper_spoken_languages' | translate}}*</div>
                    <div class="row form-row no-padding multi-selector" id="spoken-languages">
                        <!--Select-->
                        <div class="col-sm-4">
                            <div class="input" uib-dropdown is-open="ctrl.dropdowns.language">
                                <div class="select" id="language" uib-dropdown-toggle ng-disabled="ctrl.disabled">
                    <span class="hide-overflow select-text">
                        <span>{{'spoken_languages.'+ctrl.selectedLanguage.code | translate}}</span>
                    </span>
                                    <span class="icon pull-right"
                                          ng-class="{'icon-arrow-down': !ctrl.dropdowns.language, 'icon-arrow-up': ctrl.dropdowns.language}"></span>
                                </div>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="language">
                                    <li ng-repeat="language in ctrl.languages" role="menuitem"
                                        ng-click="ctrl.selectedLanguage = language">
                                        <a ng-href="" translate>{{'spoken_languages.'+language.code | translate}}</a>
                                    </li>
                                </ul>
                            </div>
                            <!--Description SM-->
                            <div class="row no-margin">
                                <div class="col-sm-12 hidden-xs form-col no-padding">
                    <span class="input-caption-group">
                        <span class="input-caption">{{'captain_form.caption_spoken_languages' | translate}}</span>
                    </span>
                                </div>
                            </div>
                        </div>
                        <!--Description XS-->
                        <div class="col-xs-6 visible-xs-block form-col no-margin">
                            <p>{{'captain_form.caption_spoken_languages' | translate}}</p>
                        </div>
                        <!--Button-->
                        <div class="col-sm-2 form-col add-button">
                            <naus-btn on-click="ctrl.toggleSpokenLanguage(ctrl.selectedLanguage)"
                                      options="{circle: 'true'}">
                                <span class="icon icon-plus i-8x"></span>
                            </naus-btn>
                        </div>
                        <div class="visible-xs-block clearfix"></div>
                        <!--Labels-->
                        <div class="col-sm-6 form-col">
                            <div class="label-closable" ng-repeat="language in ctrl.tempUser.languages">
                <span class="hide-overflow pull-left">
                    <span class="label-closable-text">
                            {{'spoken_languages.'+language.code | translate}}</span>
                </span>
                                <a ng-href=""
                                   ng-click="ctrl.toggleSpokenLanguage(language, true)"
                                   class="icon icon-close i-5x pull-right"></a>
                            </div>
                        </div>
                        <!--Errors-->
                        <div class="col-xs-12 form-col no-margin margin-bottom-md">
                            <error-messages field-name="spoken_languages" translation-name="skipper_spoken_languages"
                                            controller-errors=ctrl.errors page="captain_form"></error-messages>
                        </div>
                    </div>

                    <!--ABOUT YOU-->
                    <div class="row form-row">
                        <div class="col-sm-12 form-col">
                            <div class="form-separator"></div>
                            <div class="input-heading">{{'captain_form.description' | translate}}</div>
                            <div class="input">
                <textarea rows="6" ng-disabled="ctrl.disabled"
                          name="description"
                          ng-model="ctrl.user.description"
                          ng-change="ctrl.resetField('description')"
                          ng-blur="ctrl.patchInput('description')"
                          placeholder="{{'captain_form.placeholder_description' | translate}}"
                          maxlength="65535"></textarea>
                                <error-messages field-name="description" controller-errors=ctrl.errors
                                                page="captain_form"></error-messages>
                            </div>
                        </div>
                    </div>
                    <!--REQUIRED CAPTION-->
                    <div class="row no-margin">
                        <div class="col no-padding">
                            <span class="input-caption-group">
                                <span class="orange-flamingo bold input-caption">{{'inputs.required' | translate}}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--NEXT STEP-->
        <div class="row form-row no-border-bottom text-center">
            <naus-btn
                    on-click="ctrl.goToNextStep()"
                    options="{disabled: ctrl.loading || ctrl.translations.loading}">
                {{'inputs.forward' | translate}}
            </naus-btn>
        </div>
    </div>
</form>