<p class="form-description margin-bottom-md">
    <span class="bold" translate translate-values='{name: ctrl.user.first_name}'>{{'captain_form.hello'}}</span><br/>
    <span>{{'captain_form.intro' | translate}}</span>
</p>

<breadcrumb-steps step={{ctrl.step}}></breadcrumb-steps>

<form class="form form-steps container-fluid" novalidate name="ctrl.form_type">
    <div class="row form-row">
        <div class="form-separator"></div>
        <div class="input-heading">{{'captain_form.heading_type' | translate}}*</div>
        <div class="col-xs-6 col-md-3 form-col" ng-repeat="type in ctrl.captainTypes">
            <div class="input">
                <input name="captain_type" type="radio"
                       ng-model="ctrl.user.captain_type"
                       ng-value="type"
                       ng-disabled="ctrl.disabled"
                       id="{{type}}"
                       ng-change="ctrl.patchInput('captain_type', true)"
                       ng-blur="ctrl.validateField('captain_type')"
                       required>
                <label for="{{type}}">{{'captain_types.' + type | translate}}</label>
            </div>
        </div>
        <div class="col-xs-12 no-margin no-padding">
            <error-messages field-name="captain_type" controller-errors=ctrl.errors page="captain_form"></error-messages>
        </div>
    </div>
    <div class="row form-row no-border-bottom text-center">
        <naus-btn
                on-click="ctrl.setView()"
                options="{disabled: ctrl.disabled}">
            {{'inputs.forward' | translate}}
        </naus-btn>
    </div>
</form>