<div id="conversations" class="container-fluid list">
    <div class="row list-controls">
        <span class="count">{{ctrl.perPage}} di {{ctrl.totalItems}} CONVERSATIONS</span>
        <div class="controls">
            <div class="controls-icon" ng-repeat="icon in ctrl.icons">
                <popover-icon id="icon-control-{{icon.type}}" icontype="{{icon.type}}"
                              iconcolor="{{ctrl.controlIconsColor}}" template="{{icon.template}}">
                </popover-icon>
            </div>
        </div>
    </div>
    <div class="row list-table">
        <div class="table-responsive">
            <table class="table" ng-if="!ctrl.loading">
                <thead class="head">
                <tr>
                    <th ng-repeat="column in ctrl.columns" class="column {{column.name}}">{{column.heading}}</th>
                </tr>
                </thead>
                <tbody class="body">
                <tr class="record" ng-repeat="conversation in ctrl.data track by $index">
                    <td class="field users">
                        <user-pic user-pic-link="{{conversation.attributes.profile_image_guest}}" user-role="guest"></user-pic>
                        <user-pic user-pic-link="{{conversation.attributes.profile_image_captain}}" user-role="captain" class="right-pic margin-right-sm"></user-pic>
                        <span class="conversation-name">
                            {{conversation.attributes.first_name_guest}} {{conversation.attributes.last_name_guest}} -
                            {{conversation.attributes.first_name_captain}} {{conversation.attributes.last_name_captain}}
                        </span>
                    </td>
                    <td class="field date">
                        {{conversation.attributes.last_message_date_time}}
                    </td>
                    <td class="field alert">
                        <div class="marker" ng-class="{true: conversation.attributes.alert}"></div>
                    </td>
                    <td class="field status">
                        <span class="status-text {{conversation.attributes.status}}">{{ctrl.getStatusName(conversation.attributes.status)}}</span>
                    </td>
                    <td class="field action">
                        <a href="conversations/{{conversation.id}}" class="icon action-icon icon-preview" go-to>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="loader" ng-if="ctrl.loading"></div>
        </div>
    </div>
    <div class="row list-pagination">
        <div id="pagination">
            <ul uib-pagination
                total-items="ctrl.totalItems" ng-model="ctrl.currentPage" boundary-links="ctrl.boundaryLinks"
                direction-links="ctrl.directionLinks" first-text="PRIMA" last-text="ULTIMA"
                max-size="ctrl.pagesToDisplay" items-per-page="ctrl.perPage"
                ng-change="ctrl.requestData(ctrl.currentPage)">
            </ul>
        </div>
    </div>
</div>