<div class="datepicker input-with-icon" ng-click="$ctrl.toggle()">
    <div class="input-icon"><span class="icon icon-calendar"></span>{{$ctrl.text}}</div>
    <input type="text" class="field date" uib-datepicker-popup="{{$ctrl.format}}" ng-model="$ctrl.date"
           is-open="$ctrl.popup.opened"
           datepicker-options="{
           dateDisabled: $ctrl.disabled,
                minDate: $ctrl.addDays($ctrl.mindate),
                maxDate: $ctrl.removeDays($ctrl.maxdate),
                formatYear: 'yy',
                startingDay: 1
            }"
           ng-required="$ctrl.required"
           close-text="Close" alt-input-formats="$ctrl.altInputFormats" ng-disabled="$ctrl.disabled"/>
</div>