@font-face {
  font-family: 'iconfont';
  src: url('/shared/assets/font/iconfont.eot?80380237');
  src: url('/shared/assets/font/iconfont.eot?80380237#iefix') format('embedded-opentype'),
       url('/shared/assets/font/iconfont.woff2?80380237') format('woff2'),
       url('/shared/assets/font/iconfont.woff?80380237') format('woff'),
       url('/shared/assets/font/iconfont.ttf?80380237') format('truetype'),
       url('/shared/assets/font/iconfont.svg?80380237#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'iconfont';
    src: url('/shared/assets/font/iconfont.svg?80380237#iconfont') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-sailboat:before { content: '\41'; } /* 'A' */
.icon-experience:before { content: '\42'; } /* 'B' */
.icon-feedback:before { content: '\43'; } /* 'C' */
.icon-search:before { content: '\44'; } /* 'D' */
.icon-send:before { content: '\45'; } /* 'E' */
.icon-feedback-fill:before { content: '\46'; } /* 'F' */
.icon-filter:before { content: '\47'; } /* 'G' */
.icon-settings:before { content: '\48'; } /* 'H' */
.icon-partner:before { content: '\49'; } /* 'I' */
.icon-freezed:before { content: '\4a'; } /* 'J' */
.icon-hamburger:before { content: '\4b'; } /* 'K' */
.icon-accepted:before { content: '\4c'; } /* 'L' */
.icon-suspended:before { content: '\4d'; } /* 'M' */
.icon-home:before { content: '\4f'; } /* 'O' */
.icon-question_icon:before { content: '\50'; } /* 'P' */
.icon-messages:before { content: '\51'; } /* 'Q' */
.icon-booking:before { content: '\52'; } /* 'R' */
.icon-mail:before { content: '\53'; } /* 'S' */
.icon-checkmark:before { content: '\54'; } /* 'T' */
.icon-coins:before { content: '\55'; } /* 'U' */
.icon-arrow-up:before { content: '\57'; } /* 'W' */
.icon-arrow-right:before { content: '\58'; } /* 'X' */
.icon-arrow-left:before { content: '\59'; } /* 'Y' */
.icon-password:before { content: '\5a'; } /* 'Z' */
.icon-eur:before { content: '\61'; } /* 'a' */
.icon-hosts:before { content: '\62'; } /* 'b' */
.icon-world:before { content: '\63'; } /* 'c' */
.icon-boat:before { content: '\66'; } /* 'f' */
.icon-page:before { content: '\67'; } /* 'g' */
.icon-thb:before { content: '\68'; } /* 'h' */
.icon-usd:before { content: '\69'; } /* 'i' */
.icon-calendar:before { content: '\6a'; } /* 'j' */
.icon-minus:before { content: '\6b'; } /* 'k' */
.icon-motorboat:before { content: '\6c'; } /* 'l' */
.icon-captain:before { content: '\6d'; } /* 'm' */
.icon-catamaran:before { content: '\6e'; } /* 'n' */
.icon-new:before { content: '\6f'; } /* 'o' */
.icon-notifications:before { content: '\70'; } /* 'p' */
.icon-chat:before { content: '\71'; } /* 'q' */
.icon-close:before { content: '\72'; } /* 'r' */
.icon-plus:before { content: '\73'; } /* 's' */
.icon-preview:before { content: '\74'; } /* 't' */
.icon-coupon:before { content: '\75'; } /* 'u' */
.icon-delete:before { content: '\76'; } /* 'v' */
.icon-question:before { content: '\77'; } /* 'w' */
.icon-arrow-down:before { content: '\78'; } /* 'x' */
.icon-edit:before { content: '\79'; } /* 'y' */
.icon-rejected:before { content: '\7a'; } /* 'z' */
.icon-arrow:before { content: '\e803'; } /* '' */
.icon-attention:before { content: '\e834'; } /* '' */
.icon-login:before { content: '\e835'; } /* '' */
.icon-customer-care:before { content: '\e836'; } /* '' */
.icon-fixed-price:before { content: '\e837'; } /* '' */
.icon-unfixed-price:before { content: '\e838'; } /* '' */
.icon-whishlist:before { content: '\e839'; } /* '' */
.icon-correct-input:before { content: '\e83a'; } /* '' */
.icon-smartphone:before { content: '\e83b'; } /* '' */
.icon-rubberboat:before { content: '\e83c'; } /* '' */
.icon-phone:before { content: '\e83d'; } /* '' */
.icon-logout:before { content: '\e83e'; } /* '' */
.icon-dashboard:before { content: '\e83f'; } /* '' */
.icon-user:before { content: '\e840'; } /* '' */
.icon-fb-login:before { content: '\e841'; } /* '' */
.icon-assistance:before { content: '\e842'; } /* '' */
.icon-list:before { content: '\e845'; } /* '' */
.icon-map:before { content: '\e846'; } /* '' */
.icon-carousel-next:before { content: '\e862'; } /* '' */
.icon-carousel-prev:before { content: '\e863'; } /* '' */
.icon-upload:before { content: '\e866'; } /* '' */
.icon-diamond:before { content: '\e881'; } /* '' */
.icon-logo:before { content: '\e888'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f230'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */