[class^="icon-"], [class*=" icon-"] {
  font-size: 20px;
}

[class^="icon-"].i-1x, [class*=" icon-"].i-1x {
  font-size: 10px !important;
}

[class^="icon-"].i-15x, [class*=" icon-"].i-15x {
  font-size: 15px !important;
}

[class^="icon-"].i-2x, [class*=" icon-"].i-2x {
  font-size: 22px !important;
}

[class^="icon-"].i-3x, [class*=" icon-"].i-3x {
  font-size: 24px !important;
}

[class^="icon-"].i-4x, [class*=" icon-"].i-4x {
  font-size: 26px !important;
}

[class^="icon-"].i-5x, [class*=" icon-"].i-5x {
  font-size: 30px !important;
}

[class^="icon-"].i-6x, [class*=" icon-"].i-6x {
  font-size: 34px !important;
}

[class^="icon-"].i-7x, [class*=" icon-"].i-7x {
  font-size: 38px !important;
}

[class^="icon-"].i-8x, [class*=" icon-"].i-8x {
  font-size: 42px !important;
}

html {
  width: 100%;
  height: 100%;
}

html body {
  margin: 0;
  color: white;
  position: fixed;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-image: url("/shared/assets/img/login_bg.jpg");
}

html body a, html body a:visited, html body a:hover, html body a:focus, html body a:active {
  text-decoration: none;
  outline: none;
}

html body * {
  /* Safari */
  transition: all 0.05s ease-in-out;
}

html body #box {
  background-color: #31bef8;
  width: 34%;
  max-height: 65%;
  margin: auto;
  margin-top: 4%;
  padding: 4% 3% 5%;
  text-align: center;
}

@media all and (max-width: 900px) {
  html body #box {
    width: 80%;
  }
  html body #box #welcome, html body #box #login {
    font-size: 3vw !important;
  }
}

@media all and (max-width: 450px) {
  html body #box {
    width: 90%;
  }
  html body #box #welcome, html body #box #login {
    font-size: 45px !important;
  }
  html body #box #login {
    line-height: 60px !important;
  }
}

html body #box #logo {
  width: 60%;
  margin-bottom: 40px;
}

html body #box #welcome {
  padding: 5%;
  text-align: center;
  line-height: 1.75;
  font-size: 2.5vw;
  border-bottom: 1px solid;
  border-top: 1px solid;
  margin-bottom: 40px;
}

html body #box #login {
  cursor: pointer;
  display: inline-block;
  margin: auto;
  min-width: 150px;
  min-height: 30px;
  line-height: 30px;
  width: 90%;
  background-color: white;
  color: #31bef8;
  padding: 3% 0;
  font-size: 2vw;
  border-radius: 100px;
}

/*# sourceMappingURL=login.css.map */
