@charset "UTF-8";
[class^="icon-"], [class*=" icon-"] {
  font-size: 20px;
}

[class^="icon-"].i-1x, [class*=" icon-"].i-1x {
  font-size: 10px !important;
}

[class^="icon-"].i-15x, [class*=" icon-"].i-15x {
  font-size: 15px !important;
}

[class^="icon-"].i-2x, [class*=" icon-"].i-2x {
  font-size: 22px !important;
}

[class^="icon-"].i-3x, [class*=" icon-"].i-3x {
  font-size: 24px !important;
}

[class^="icon-"].i-4x, [class*=" icon-"].i-4x {
  font-size: 26px !important;
}

[class^="icon-"].i-5x, [class*=" icon-"].i-5x {
  font-size: 30px !important;
}

[class^="icon-"].i-6x, [class*=" icon-"].i-6x {
  font-size: 34px !important;
}

[class^="icon-"].i-7x, [class*=" icon-"].i-7x {
  font-size: 38px !important;
}

[class^="icon-"].i-8x, [class*=" icon-"].i-8x {
  font-size: 42px !important;
}

#dashboard {
  position: relative;
  font-size: 14px;
  /* Bookings row START */
  /* Bookings row END */
  /* Conversations row START */
  /* Conversations row END */
}

#dashboard .popover, #dashboard li {
  font-size: 14px;
}

#dashboard #booking-messages #bookings {
  margin-bottom: 50px;
  min-width: 480px;
}

#dashboard #booking-messages #bookings .panel-body table .body tr {
  height: 45px;
}

#dashboard #booking-messages #bookings .panel-body table .footer a {
  color: #31bef8;
}

#dashboard #booking-messages #bookings .panel-heading {
  background-color: #31bef8;
}

#dashboard #booking-messages #messages {
  min-width: 250px;
  margin-bottom: 50px;
}

#dashboard #booking-messages #messages ::-webkit-scrollbar-track {
  border-radius: 100px;
  background-color: #e7e7e7;
}

#dashboard #booking-messages #messages ::-webkit-scrollbar {
  width: 10px;
  background-color: white;
}

#dashboard #booking-messages #messages ::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: #ef9033;
}

#dashboard #booking-messages #messages .panel-default {
  background-color: white;
  padding-bottom: 8px;
  -o-box-shadow: inset 0 -5px 6px 0 rgba(0, 0, 0, 0.13);
  box-shadow: inset 0 -5px 6px 0 rgba(0, 0, 0, 0.13);
  border-radius: 4px;
}

#dashboard #booking-messages #messages .panel-heading {
  background-color: #ef9033;
  height: 51px;
}

#dashboard #booking-messages #messages .panel-heading .panel-title .icon-messages {
  margin-right: 0.2em;
}

#dashboard #booking-messages #messages .panel-heading .panel-title .icon-search {
  float: right;
}

#dashboard #booking-messages #messages .profile-pic {
  width: 100%;
}

#dashboard #booking-messages #messages .message {
  overflow: hidden;
  margin: 0;
}

#dashboard #booking-messages #messages .message .profile-pic-box {
  width: 60px;
  margin-right: 10px;
  padding: 0;
}

#dashboard #booking-messages #messages .message .message-data {
  padding: 0;
}

#dashboard #booking-messages #messages .message .message-data div {
  white-space: nowrap;
}

#dashboard #booking-messages #messages .message .message-data .row {
  margin: 0;
}

#dashboard #booking-messages #messages .message .message-data .username {
  font-weight: bold;
}

#dashboard #booking-messages #messages .message .message-data .text {
  line-height: 20px;
}

#dashboard #booking-messages #messages ul {
  list-style: none;
  padding: 0;
  overflow-y: auto;
  margin: 10px 7px 2px 0;
  height: 348px;
}

#dashboard #booking-messages #messages ul li {
  min-height: 80px;
  padding: 10px 6px 10px 16px;
  border-bottom: 1px solid #d8d8d8;
}

#dashboard #booking-messages #messages ul li .container-fluid {
  padding: 0;
}

#dashboard #booking-messages #messages ul li:first-child {
  padding-top: 0;
  padding-bottom: 0;
  min-height: 70px;
}

#dashboard #booking-messages #messages ul li:first-child .message {
  margin: 0;
}

#dashboard #booking-messages #messages ul li:first-child .message .message-data .text {
  line-height: 20px;
}

#dashboard #booking-messages #messages ul li:last-child {
  border: none;
  padding-bottom: 0;
}

#dashboard #booking-messages #messages #add-message-button {
  position: absolute;
  bottom: 12px;
  right: 31px;
  width: 78px;
  height: 78px;
  line-height: 78px;
  background: #ef9033;
  border-radius: 100px;
  -o-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  color: white;
}

#dashboard #chats-single #chats {
  min-width: 480px;
}

#dashboard #chats-single #chats .panel-body table .head .col-users {
  width: 59%;
}

#dashboard #chats-single #chats .panel-body table .head .col-date {
  width: 11%;
}

#dashboard #chats-single #chats .panel-body table .head .col-alerts {
  text-align: center;
  width: 17%;
}

#dashboard #chats-single #chats .panel-body table .head .col-actions {
  text-align: center;
  width: 13%;
}

#dashboard #chats-single #chats .panel-body table .body tr {
  height: 82px;
}

#dashboard #chats-single #chats .panel-body table .body .usernames {
  font-weight: bold;
}

#dashboard #chats-single #chats .panel-body table .body .usernames .profile-pic {
  width: 30px;
  height: 30px;
}

#dashboard #chats-single #chats .panel-body table .body .usernames .profile-pic.user {
  margin-right: 30px;
  margin-left: -4px;
}

#dashboard #chats-single #chats .panel-body table .body .admin-alert .marker {
  width: 24px;
  height: 24px;
  border-radius: 100px;
  margin: auto;
}

#dashboard #chats-single #chats .panel-body table .body .admin-alert .marker.true {
  background-color: #db4f33;
}

#dashboard #chats-single #chats .panel-body table .body .admin-alert .marker.false {
  background-color: #20a650;
}

#dashboard #chats-single #chats .panel-body table .body .action {
  text-align: center;
}

#dashboard #chats-single #chats .panel-body table .footer a {
  color: #00c7ab;
}

#dashboard #chats-single #chats .panel-body table tr td:last-child, #dashboard #chats-single #chats .panel-body table tr th:last-child {
  padding-right: 18px;
}

#dashboard #chats-single #chats .panel-heading {
  background-color: #00c7ab;
}

#dashboard #popups {
  margin-bottom: 10px;
  text-align: justify;
}

#dashboard #popups:after {
  content: '';
  width: 100%;
  display: inline-block;
}

#dashboard #popups .popup {
  width: 258px;
  height: 130px;
  margin-bottom: 15px;
  padding: 5px 7px;
  display: inline-block;
}

#dashboard .panel-default {
  border-color: #f6f6f6;
  -o-box-shadow: none;
  box-shadow: none;
}

#dashboard .panel-default .panel-heading {
  height: 50px;
  padding: 0 18px;
  display: table;
  width: 100%;
  color: white;
  border: none;
}

#dashboard .panel-default .panel-heading span, #dashboard .panel-default .panel-heading .icon {
  line-height: 50px;
}

#dashboard .panel-default .panel-heading .toggle-open {
  position: absolute;
  right: 0;
}

#dashboard .panel-default .panel-heading .panel-title {
  position: relative;
  margin: 0;
  display: table-cell;
  vertical-align: middle;
}

#dashboard .panel-default .panel-body {
  border: none;
  padding: 0;
}

#dashboard .panel-default .panel-body table {
  margin-bottom: 0;
}

#dashboard .panel-default .panel-body table td, #dashboard .panel-default .panel-body table th {
  vertical-align: middle;
}

#dashboard .panel-default .panel-body table .footer {
  text-align: right;
  font-weight: bold;
}

#dashboard .panel-default .panel-body table .footer tr {
  height: 61px;
}

#dashboard .panel-default .panel-body table .footer tr svg {
  width: 20px;
  height: 20px;
}

#dashboard .panel-default .panel-body table .head > tr > th {
  border-bottom: none;
}

#dashboard .panel-default .panel-body table tr .field, #dashboard .panel-default .panel-body table tr .heading {
  overflow: hidden !important;
  text-overflow: ellipsis;
  max-width: 5px;
  white-space: nowrap;
  vertical-align: middle;
}

#dashboard .panel-default .panel-body table tr .field:first-child, #dashboard .panel-default .panel-body table tr .heading:first-child {
  padding-left: 18px;
}

#dashboard .panel-default .panel-body table tr .field:last-child, #dashboard .panel-default .panel-body table tr .heading:last-child {
  padding-right: 40px;
}

#dashboard .panel-default .panel-body table tr .field.date, #dashboard .panel-default .panel-body table tr .heading.date {
  max-width: 31px;
}

#dashboard .panel-default .panel-body table tr .field.experience, #dashboard .panel-default .panel-body table tr .field.captain, #dashboard .panel-default .panel-body table tr .heading.experience, #dashboard .panel-default .panel-body table tr .heading.captain {
  max-width: 46px;
}

#dashboard .panel-default .panel-body table tr .field.status, #dashboard .panel-default .panel-body table tr .heading.status {
  color: white;
}

#dashboard .panel-group {
  margin-bottom: 0;
}

.list {
  /* FILTERS */
  /* TABLE */
  /* PAGINATION */
}

.list .list-controls {
  min-height: 54px;
  margin-bottom: 15px;
}

.list .list-controls .count {
  font-size: 18px;
  line-height: 54px;
}

.list .list-controls .controls {
  float: right;
  font-size: 0;
}

.list .list-controls .controls .controls-icon {
  display: inline-block;
  padding: 2px 22px;
  border-right: solid 1px #d8d8d8;
  position: relative;
}

.list .list-controls .controls .controls-icon:last-child {
  padding-right: 0;
  border: none;
}

.list .list-controls .controls .controls-icon popover-icon .icon {
  color: #184889;
  font-size: 38px;
  /* MARK ACTIVE ICON */
}

.list .list-controls .controls .controls-icon popover-icon .icon.active .popover-wrapper .icon {
  box-shadow: 0 0 0 2px #e1f7ff, 0 0 0 4px #31bef8;
  background-color: #e1f7ff;
  border-radius: 50px;
}

.list .list-controls .controls .controls-icon popover-icon .icon.active .popover-wrapper .icon svg path {
  fill: #31bef8;
}

.list .list-controls .controls .controls-icon .popover {
  font-size: 16px;
  margin-top: 16px;
}

.list .list-controls .controls .controls-icon .popover .popover-content {
  padding: 0;
}

.list .list-controls .controls .controls-icon .popover .popover-content ul {
  list-style: none;
  padding-left: 2px;
  padding-right: 2px;
  margin-bottom: 0;
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li {
  padding: 10px 6px 5px 13px;
  min-width: 275px;
  height: 65px;
  border-bottom: solid 1px #d8d8d8;
  white-space: nowrap;
  position: relative;
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li .icon {
  border: 2px solid #31bef8;
  line-height: 43px;
  color: #31bef8;
  background-color: white;
  font-size: 27px;
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li .icon.icon-accepted {
  border-color: #20a650;
  color: #20a650;
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li .icon.icon-rejected {
  border-color: #db4f33;
  color: #db4f33;
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li .icon.icon-suspended {
  border-color: #f29e00;
  color: #f29e00;
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li .icon.icon-freezed {
  border-color: #4ddcdb;
  color: #4ddcdb;
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li .icon.icon-new {
  border-color: #ff6e88;
  color: #ff6e88;
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li:hover .icon {
  color: white;
  background-color: #31bef8;
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li:hover .icon.icon-accepted {
  background-color: #20a650;
  -o-box-shadow: 0px 0px 0px 4px rgba(32, 166, 80, 0.2);
  box-shadow: 0px 0px 0px 4px rgba(32, 166, 80, 0.2);
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li:hover .icon.icon-rejected {
  background-color: #db4f33;
  -o-box-shadow: 0px 0px 0px 4px rgba(219, 79, 51, 0.2);
  box-shadow: 0px 0px 0px 4px rgba(219, 79, 51, 0.2);
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li:hover .icon.icon-suspended {
  background-color: #f29e00;
  -o-box-shadow: 0px 0px 0px 4px rgba(242, 158, 0, 0.2);
  box-shadow: 0px 0px 0px 4px rgba(242, 158, 0, 0.2);
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li:hover .icon.icon-freezed {
  background-color: #4ddcdb;
  -o-box-shadow: 0px 0px 0px 4px rgba(77, 220, 219, 0.2);
  box-shadow: 0px 0px 0px 4px rgba(77, 220, 219, 0.2);
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li:hover .icon.light-blue {
  background-color: #31bef8;
  -o-box-shadow: 0px 0px 0px 4px rgba(49, 190, 248, 0.2);
  box-shadow: 0px 0px 0px 4px rgba(49, 190, 248, 0.2);
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li:hover .icon.icon-new {
  background-color: #ff6e88;
  -o-box-shadow: 0px 0px 0px 4px rgba(255, 110, 136, 0.2);
  box-shadow: 0px 0px 0px 4px rgba(255, 110, 136, 0.2);
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li:hover .text.element {
  color: #31bef8;
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li:hover .text.accepted {
  color: #20a650;
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li:hover .text.rejected {
  color: #db4f33;
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li:hover .text.suspended {
  color: #f29e00;
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li:hover .text.new {
  color: #ff6e88;
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li:hover .text.freezed {
  color: #4ddcdb;
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li:first-child {
  cursor: auto;
  padding-left: 19px;
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li:first-child .text {
  position: absolute;
  top: 24.5px;
  left: 0;
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li:first-child .count {
  padding: 0 15px;
  background-color: #ff6e88;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  position: absolute;
  top: 25.5px;
  right: 4px;
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li:last-child {
  border-bottom: none;
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li .text {
  margin-left: 19px;
}

.list .list-controls .controls .controls-icon .popover .popover-content ul li .count {
  color: #ff6e88;
}

.list .list-controls .controls .controls-icon #icon-control-search li, .list .list-controls .controls .controls-icon #icon-control-world li {
  cursor: auto;
}

.list .list-controls .controls .controls-icon #icon-control-search .search-box, .list .list-controls .controls .controls-icon #icon-control-world .search-box {
  height: 90px;
  padding: 20px 10px;
}

.list .list-controls .controls .controls-icon #icon-control-search .search-box form, .list .list-controls .controls .controls-icon #icon-control-world .search-box form {
  width: 368px;
}

.list .list-controls .controls .controls-icon #icon-control-search .search-box:before, .list .list-controls .controls .controls-icon #icon-control-world .search-box:before {
  display: inline;
}

.list .list-controls .controls .controls-icon #icon-control-search .search-box .input, .list .list-controls .controls .controls-icon #icon-control-search .search-box .search-button, .list .list-controls .controls .controls-icon #icon-control-world .search-box .input, .list .list-controls .controls .controls-icon #icon-control-world .search-box .search-button {
  display: inline;
  height: 50px;
  outline: none;
  border: none;
}

.list .list-controls .controls .controls-icon #icon-control-search .search-box .input, .list .list-controls .controls .controls-icon #icon-control-world .search-box .input {
  float: left;
  width: 68%;
  background-color: #F2F2F2;
  padding: 0 25px;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
}

.list .list-controls .controls .controls-icon #icon-control-search .search-box .search-button, .list .list-controls .controls .controls-icon #icon-control-world .search-box .search-button {
  width: 32%;
  background-color: #31bef8;
  color: white;
  border: none;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
}

.list .list-table {
  margin-top: 15px;
}

.list .list-table .table-responsive {
  overflow: visible;
}

@media screen and (max-width: 767px) {
  .list .list-table .table-responsive {
    border: none;
    overflow-y: auto;
  }
}

.list .list-table .table {
  border-collapse: separate;
  border-spacing: 0 10px;
}

.list .list-table .table td, .list .list-table .table th {
  border: none;
  padding: 11px 20px;
  position: relative;
}

.list .list-table .table td:first-child, .list .list-table .table th:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.list .list-table .table td:last-child, .list .list-table .table th:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  min-width: 108px;
}

.list .list-table .table .head {
  color: #7798a6;
}

.list .list-table .table .head tr {
  background-color: #bfe5f5;
  height: 50px;
}

.list .list-table .table .head tr .column {
  font-weight: normal;
}

.list .list-table .table .head tr .column.alert {
  text-align: center;
  border-radius: 0;
}

.list .list-table .table .body {
  color: #5b5c59;
}

.list .list-table .table .body .record {
  background-color: white;
  height: 82px;
}

.list .list-table .table .body .record .field {
  font-size: 16px;
  font-weight: normal;
  vertical-align: middle;
}

.list .list-table .table .body .record .field .marker {
  width: 24px;
  height: 24px;
  border-radius: 100px;
  margin: auto;
  background-color: #20a650;
}

.list .list-table .table .body .record .field .marker.true {
  background-color: #db4f33;
}

.list .list-table .table .body .record .field.status, .list .list-table .table .body .record .field.title, .list .list-table .table .body .record .field.name, .list .list-table .table .body .record .field.users, .list .list-table .table .body .record .field.experience {
  white-space: nowrap;
}

.list .list-table .table .body .record .field.status .user-type, .list .list-table .table .body .record .field.title .user-type, .list .list-table .table .body .record .field.name .user-type, .list .list-table .table .body .record .field.users .user-type, .list .list-table .table .body .record .field.experience .user-type {
  color: #31bef8;
}

.list .list-table .table .body .record .field.title, .list .list-table .table .body .record .field.name, .list .list-table .table .body .record .field.users, .list .list-table .table .body .record .field.experience {
  overflow: hidden !important;
  text-overflow: ellipsis;
  max-width: 160px;
}

@media screen and (max-width: 1099px) {
  .list .list-table .table .body .record .field.title, .list .list-table .table .body .record .field.name, .list .list-table .table .body .record .field.users, .list .list-table .table .body .record .field.experience {
    max-width: 50px;
  }
}

.list .list-table .table .body .record .field.experience {
  max-width: 250px;
}

.list .list-table .table .body .record .field.date {
  min-width: 144px;
}

.list .list-table .table .body .record .field.users {
  max-width: 400px;
}

@media screen and (max-width: 1099px) {
  .list .list-table .table .body .record .field.users .profile-pic {
    display: none;
  }
}

.list .list-table .table .body .record .field.users .profile-pic.captain {
  margin-left: -12px;
  margin-right: 20px;
}

.list .list-table .table .body .record .field.action .popover .popover-content {
  padding: 0;
}

.list .list-table .table .body .record .field.action .popover .popover-content ul {
  list-style: none;
  padding-left: 2px;
  padding-right: 2px;
  margin-bottom: 0px;
}

.list .list-table .table .body .record .field.action .popover .popover-content ul li {
  min-width: 275px;
  height: 65px;
  border-bottom: solid 1px #d8d8d8;
  padding: 10px 6px 5px 13px;
  white-space: nowrap;
  position: relative;
  cursor: pointer;
}

.list .list-table .table .body .record .field.action .popover .popover-content ul li:hover .icon {
  -o-box-shadow: 0px 0px 0px 4px rgba(49, 190, 248, 0.2);
  box-shadow: 0px 0px 0px 4px rgba(49, 190, 248, 0.2);
}

.list .list-table .table .body .record .field.action .popover .popover-content ul li:hover .icon.icon-accepted {
  -o-box-shadow: 0px 0px 0px 4px rgba(32, 166, 80, 0.2);
  box-shadow: 0px 0px 0px 4px rgba(32, 166, 80, 0.2);
}

.list .list-table .table .body .record .field.action .popover .popover-content ul li:hover .icon.icon-rejected {
  -o-box-shadow: 0px 0px 0px 4px rgba(219, 79, 51, 0.2);
  box-shadow: 0px 0px 0px 4px rgba(219, 79, 51, 0.2);
}

.list .list-table .table .body .record .field.action .popover .popover-content ul li:hover .icon.icon-suspended {
  -o-box-shadow: 0px 0px 0px 4px rgba(242, 158, 0, 0.2);
  box-shadow: 0px 0px 0px 4px rgba(242, 158, 0, 0.2);
}

.list .list-table .table .body .record .field.action .popover .popover-content ul li:hover .icon.icon-freezed {
  -o-box-shadow: 0px 0px 0px 4px rgba(77, 220, 219, 0.2);
  box-shadow: 0px 0px 0px 4px rgba(77, 220, 219, 0.2);
}

.list .list-table .table .body .record .field.action .popover .popover-content ul li:hover .icon.icon-new {
  -o-box-shadow: 0px 0px 0px 4px rgba(255, 110, 136, 0.2);
  box-shadow: 0px 0px 0px 4px rgba(255, 110, 136, 0.2);
}

.list .list-table .table .body .record .field.action .popover .popover-content ul li:hover .text {
  color: #31bef8;
}

.list .list-table .table .body .record .field.action .popover .popover-content ul li:hover .text.accepted {
  color: #20a650;
}

.list .list-table .table .body .record .field.action .popover .popover-content ul li:hover .text.rejected {
  color: #db4f33;
}

.list .list-table .table .body .record .field.action .popover .popover-content ul li:hover .text.suspended {
  color: #f29e00;
}

.list .list-table .table .body .record .field.action .popover .popover-content ul li:hover .text.freezed {
  color: #4ddcdb;
}

.list .list-table .table .body .record .field.action .popover .popover-content ul li:last-child {
  border-bottom: none;
}

.list .list-table .table .body .record .field.action .popover .popover-content ul li .icon {
  background-color: #31bef8;
}

.list .list-table .table .body .record .field.action .popover .popover-content ul li .icon.icon-accepted {
  background-color: #20a650;
}

.list .list-table .table .body .record .field.action .popover .popover-content ul li .icon.icon-rejected {
  background-color: #db4f33;
}

.list .list-table .table .body .record .field.action .popover .popover-content ul li .icon.icon-suspended {
  background-color: #f29e00;
}

.list .list-table .table .body .record .field.action .popover .popover-content ul li .icon.icon-freezed {
  background-color: #4ddcdb;
}

.list .list-table .table .body .record .field.action .popover .popover-content ul li .icon.icon-new {
  background-color: #ff6e88;
}

.list .list-table .table .body .record .field.action .popover .popover-content ul li .text {
  margin-left: 19px;
}

.list .list-table .table .body .record .field.action .popover .popover-content ul li .count {
  color: #ff6e88;
}

.list .list-pagination {
  margin-top: 30px;
}

.list .list-pagination .action {
  display: inline-block;
}

.list .list-pagination .action .text {
  padding-left: 20px;
  color: #31bef8;
}

.list .list-pagination #pagination {
  float: right;
}

.list .list-pagination #pagination ul {
  margin: 0;
}

.list .list-pagination #pagination ul li a {
  padding: 12px 19px;
}

.list .list-pagination #pagination ul li.active a {
  background-color: #31bef8;
  border-color: #31bef8;
}

.list .list-pagination #pagination ul li.pagination-last a, .list .list-pagination #pagination ul li.pagination-first a {
  padding: 12px 30px;
}

.list .list-pagination #pagination ul li.disabled {
  display: none;
}

.list .pointer {
  cursor: pointer;
}

body {
  position: relative;
  padding-top: 90px;
  color: #5b5c59;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 14px;
  text-align: justify;
  background-color: #f6f6f6;
  min-height: 1080px;
}

body a {
  color: #5b5c59;
  text-decoration: none;
}

body a:hover, body a:active, body a:visited, body a:focus {
  text-decoration: none;
  color: #5b5c59;
}

body a.icon, body span.icon, body li.icon {
  width: 45px;
  height: 45px;
  font-size: 27px;
  text-align: center;
  border-radius: 100px;
  line-height: 45px;
  vertical-align: middle;
}

body a.action-icon, body span.action-icon, body li.action-icon {
  display: inline-block;
  color: white;
  background-color: #31bef8;
}

body a.add-button.i-7x, body span.add-button.i-7x, body li.add-button.i-7x {
  width: 65px;
  height: 65px;
  line-height: 65px;
  font-size: 39px;
  border-radius: 100px;
  text-align: center;
  color: white;
}

body a.add-button.i-8x, body span.add-button.i-8x, body li.add-button.i-8x {
  width: 78px;
  height: 78px;
  line-height: 78px;
  font-size: 46.8px;
  border-radius: 100px;
  text-align: center;
  color: white;
}

body *:focus {
  outline: 0;
}

.container-fluid {
  padding: 0;
}

.row {
  margin: 0 10px 10px 10px;
}

[class*="col-"] {
  padding: 5px;
}

.float-right {
  float: right;
}

.profile-pic {
  height: 60px;
  width: 60px;
  border-radius: 100px;
  border: solid 1px #31bef8;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

#content {
  padding-top: 29px;
  margin-left: 90px;
  padding-left: 52px;
  padding-right: 142px;
  padding-bottom: 90px;
}

@media screen and (max-width: 768px) {
  #content {
    padding-left: 12px;
    padding-right: 12px;
  }
}

#header {
  padding-left: 142px;
  padding-right: 142px;
  height: 90px;
  background-color: white;
  z-index: 1061;
}

@media screen and (max-width: 768px) {
  #header {
    padding-left: 102px;
    padding-right: 12px;
  }
}

#header #hamburger {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 90px;
  background-color: #31bef8;
  text-align: center;
}

#header #hamburger .icon {
  color: white;
}

#header #headings {
  position: relative;
  padding: 0 15px;
}

#header #headings, #header #hamburger {
  height: 90px;
  line-height: 90px;
}

#header #headings #logo, #header #hamburger #logo {
  font-size: 40pt;
  color: #184889;
}

#header #headings #logo:before, #header #hamburger #logo:before {
  line-height: 0.5;
}

#header #headings .floater, #header #hamburger .floater {
  float: right;
  height: 100%;
}

#header #headings .floater .notification > .icon, #header #hamburger .floater .notification > .icon {
  background-color: transparent;
  color: #184889;
  font-size: 38px;
}

#header #headings .floater .notification .notification-badge, #header #hamburger .floater .notification .notification-badge {
  top: 16px;
}

#header #headings .floater .language > .icon, #header #hamburger .floater .language > .icon {
  background-color: transparent;
  color: #184889;
  font-size: 38px;
}

#header #headings .floater .language-image, #header #hamburger .floater .language-image {
  width: 32px;
  height: 22px;
}

#header #headings .floater .profile-pic, #header #hamburger .floater .profile-pic {
  margin-left: 54px;
  margin-right: 40px;
}

@media screen and (max-width: 608px) {
  #header #headings .floater .profile-pic, #header #hamburger .floater .profile-pic {
    display: none;
  }
}

#header #headings .floater .popover.bottom, #header #hamburger .floater .popover.bottom {
  margin-top: 15px;
  margin-left: -9px;
  border: none;
  -o-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

#header #headings .floater .popover .popover-content, #header #hamburger .floater .popover .popover-content {
  padding: 0;
}

#header #headings .floater .popover .popover-content ul, #header #hamburger .floater .popover .popover-content ul {
  list-style: none;
  padding-left: 2px;
  padding-right: 2px;
  margin-bottom: 0px;
}

#header #headings .floater .popover .popover-content ul li, #header #hamburger .floater .popover .popover-content ul li {
  padding: 0 6px 0 13px;
  width: 275px;
  height: 65px;
  line-height: 65px;
  border-bottom: solid 1px #d8d8d8;
  white-space: nowrap;
  position: relative;
}

#header #headings .floater .popover .popover-content ul li:first-child, #header #hamburger .floater .popover .popover-content ul li:first-child {
  padding-left: 19px;
}

#header #headings .floater .popover .popover-content ul li:first-child .text, #header #hamburger .floater .popover .popover-content ul li:first-child .text {
  margin-left: 0;
}

#header #headings .floater .popover .popover-content ul li:first-child .count, #header #hamburger .floater .popover .popover-content ul li:first-child .count {
  padding: 0 15px 0 15px;
  background-color: #ff6e88;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  margin-left: 35px;
}

#header #headings .floater .popover .popover-content ul li:last-child, #header #hamburger .floater .popover .popover-content ul li:last-child {
  border-bottom: none;
}

#header #headings .floater .popover .popover-content ul li .text, #header #hamburger .floater .popover .popover-content ul li .text {
  margin-left: 19px;
}

#header #headings .floater .popover .popover-content ul li .count, #header #hamburger .floater .popover .popover-content ul li .count {
  color: #ff6e88;
}

#header #headings .floater .popover .popover-content ul li .icon, #header #hamburger .floater .popover .popover-content ul li .icon {
  background-color: white;
  border: 2px solid #31bef8;
  color: #31bef8;
  line-height: 43px;
}

#header #headings div, #header #headings p, #header #hamburger div, #header #hamburger p {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

/* SIDEBAR */
#places {
  width: 90px;
  position: absolute;
  top: 90px;
  background-color: white;
  height: 100%;
  border-right: solid 1px #d8d8d8;
  z-index: 2;
}

@media screen and (min-height: 700px) {
  #places {
    position: fixed;
  }
}

#places .dropdown-content {
  display: none;
  position: absolute;
  -o-box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.25);
  background-color: white;
}

#places .dropdown-content a {
  padding: 0 27px 0 27px;
  text-decoration: none;
  display: block;
  min-width: 225px;
  font-size: 18px;
  height: 70px;
  line-height: 70px;
  white-space: nowrap;
  text-align: left;
  color: #5b5c59;
  border-left: solid 1px #d8d8d8;
  /* animation */
  background-size: 200% 100%;
  background-position: 90% 0px;
  /* animation */
}

#places .dropdown-content a:hover, #places .dropdown-content a.active {
  background-color: #e1f7ff;
  color: #31bef8;
  border-left: none;
  border-right: solid 4px #31bef8;
  padding-right: 24px;
}

#places .dropdown-content a:hover {
  background-image: -webkit-linear-gradient(left, #e1f7ff 0%, #e1f7ff 50%, white 0%);
  /* Safari */
  transition: 0.4s cubic-bezier(0.175, 0.285, 0.32, 1) background-position;
  background-position: 0% 0%;
}

#places .dropdown:hover .dropdown-content {
  display: inline-table;
  top: 0;
  left: 89px;
}

#places .dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

#places .place {
  position: relative;
  height: 70px;
  border-bottom: solid 1px #d8d8d8;
  text-align: center;
}

#places .place notification-icon {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

#places .place notification-icon .notification .icon {
  font-size: 30px;
  line-height: 70px;
  color: #31bef8;
  background-color: transparent;
}

#places .place:hover {
  background-color: #e1f7ff;
  color: #31bef8;
  border-right: solid 4px #31bef8;
}

#places .place:hover.hasactivechild, #places .place:hover.mouseoverlist {
  border-right: none;
}

#places .place:hover .icon path {
  fill: #31bef8;
}

#places .place.active {
  background-color: #e1f7ff;
  border-right: solid 4px #31bef8;
  color: #31bef8;
}

#places .place.active:hover.hasactivechild {
  border-right: none;
}

#places .place.active.mouseoverlist {
  border-right: none;
}

#places .place.active .icon path {
  fill: #31bef8;
}

.notification {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.notification .notification-badge {
  background-color: #ff6e88;
  color: white;
  position: absolute;
  width: 22px;
  height: 22px;
  top: 11px;
  right: -2px;
  border-radius: 25px;
  padding: 0;
  line-height: 23px;
  text-align: center;
}

.language {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.nav a, .pagination a, .carousel a, .panel-title a {
  cursor: pointer;
}

.panel-title a {
  color: white !important;
}

/* STATUS COLOR */
.status .status-text {
  padding: 2px 9px;
  border-radius: 4px;
  color: white;
  text-transform: uppercase;
  background-color: #f29e00;
}

.status .status-text.paid, .status .status-text.accepted, .status .status-text.active {
  background-color: #20a650;
}

.status .status-text.pending, .status .status-text.accepted_conditionally {
  background-color: #f29e00;
}

.status .status-text.freezed {
  background-color: #4ddcdb;
}

.status .status-text.cancelled, .status .status-text.rejected, .status .status-text.consumed, .status .status-text.expired {
  background-color: #db4f33;
}

.status .status-text.new {
  background-color: #ff6e88;
}

/* ACTION ICONS (IN TABLES, etc) */
.action .icon, .action .popover-wrapper {
  display: inline-block;
}

.action .down-arrow {
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  padding-left: 2px;
  color: #d8d8d8;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transform: scaleX(1.2);
  transform: scaleX(1.2);
}

.action .popover {
  margin-left: -28px;
}

.action .popover.top {
  margin-top: -23px;
}

.action .popover.bottom {
  margin-top: 27px;
}

.popover, li {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  max-width: 999px;
}

/* FORMS */
.form-container {
  background-color: white;
  padding: 18px;
}

.form-container .form, .form-container label {
  font-size: 16px;
  font-weight: normal;
  display: inline;
  margin-bottom: 0;
  /* INCREASE COLUMN HEIGHT TO MATCH SIBLING AND CENTER VERTICALLY ITS CHILD */
  /* SELECT DIVs */
}

.form-container .form [class*="caption-"], .form-container label [class*="caption-"] {
  display: inline-block;
  width: 100%;
  font-size: 15px;
  padding-top: 15px;
}

.form-container .form .caption-photo, .form-container label .caption-photo {
  text-align: center;
}

.form-container .form .row, .form-container label .row {
  padding: 0;
  margin: 0 0 40px 0;
  /* AVOID DUPLICATE BOTTOM MARGIN AND COMPENSATE COLUMN BOTTOM MARGIN */
  /* CORRECT SUBCOLUMNS MARGIN */
}

.form-container .form .row .row, .form-container label .row .row {
  margin-bottom: 0px;
}

.form-container .form .row [class*="col-"] [class*="col-"], .form-container label .row [class*="col-"] [class*="col-"] {
  padding-right: 20px;
}

.form-container .form .row [class*="col-"] [class*="col-"]:last-child, .form-container label .row [class*="col-"] [class*="col-"]:last-child {
  padding-right: 0;
}

.form-container .form .row [class*="col-"] [class*="col-"]:only-child, .form-container label .row [class*="col-"] [class*="col-"]:only-child {
  padding-right: 20px;
}

@media all and (max-width: 992px) {
  .form-container .form .row [class*="col-"] [class*="col-"]:only-child, .form-container label .row [class*="col-"] [class*="col-"]:only-child {
    padding-right: 0;
  }
}

@media all and (max-width: 992px) {
  .form-container .form .row [class*="col-"] [class*="col-"], .form-container label .row [class*="col-"] [class*="col-"] {
    padding-right: 0;
  }
}

.form-container .form .row [class*="col-"]:only-child, .form-container label .row [class*="col-"]:only-child {
  padding-right: 0;
}

.form-container .form .row.form-title, .form-container label .row.form-title {
  font-weight: bold;
  padding: 20px 0;
  margin-bottom: 40px;
  border-bottom: solid 1px #b2b2b2;
}

.form-container .form .input-container, .form-container label .input-container {
  height: 78px;
}

.form-container .form .input-container > .input-container-child, .form-container label .input-container > .input-container-child {
  top: 50%;
  position: relative;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.form-container .form .input-container > .input-container-child:nth-child(2), .form-container label .input-container > .input-container-child:nth-child(2) {
  width: initial;
}

@media screen and (max-width: 992px) {
  .form-container .form .input-container, .form-container label .input-container {
    height: auto;
  }
  .form-container .form .input-container > .input-container-child, .form-container label .input-container > .input-container-child {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

.form-container .form .field, .form-container label .field {
  padding: 0;
  margin-bottom: 20px;
}

@media (min-width: 992px) {
  .form-container .form .field, .form-container label .field {
    margin-bottom: 0;
  }
  .form-container .form .field:first-child, .form-container label .field:first-child {
    padding-right: 20px;
  }
  .form-container .form .field:only-child, .form-container label .field:only-child {
    padding-right: 0;
  }
  .form-container .form .field.checkbox-container, .form-container label .field.checkbox-container {
    margin-bottom: 20px;
  }
  .form-container .form .field.checkbox-container label:first-line, .form-container label .field.checkbox-container label:first-line {
    text-indent: 10%;
  }
}

.form-container .form .field .separator, .form-container label .field .separator {
  width: 32px;
  height: 3px;
  background-color: #31bef8;
  border-radius: 100px;
  margin-bottom: 20px;
}

.form-container .form .field .input-label, .form-container label .field .input-label {
  margin-bottom: 20px;
}

.form-container .form .field .input input, .form-container label .field .input input {
  min-height: 78px;
  padding: 15px;
  width: 100%;
  outline: none;
  background-color: white;
  box-shadow: inset 0 0 5px 0 #31bef8;
  border: solid 1px #31bef8;
  border-radius: 4px;
}

.form-container .form .field .input input:disabled, .form-container label .field .input input:disabled {
  box-shadow: none;
  border-color: #b2b2b2;
}

.form-container .form .field .input textarea, .form-container label .field .input textarea {
  width: 100%;
  padding: 15px;
  text-align: justify;
  resize: vertical;
  outline: none;
  background-color: white;
  box-shadow: inset 0 0 5px 0 #31bef8;
  border: solid 1px #31bef8;
  border-radius: 4px;
}

.form-container .form .field .input textarea:disabled, .form-container label .field .input textarea:disabled {
  box-shadow: none;
  border-color: #b2b2b2;
}

.form-container .form .field .input .uib-timepicker input, .form-container label .field .input .uib-timepicker input {
  width: 90px;
  font-size: 18px;
}

.form-container .form .field .input .uib-timepicker .uib-separator, .form-container label .field .input .uib-timepicker .uib-separator {
  display: inline;
  line-height: 69px;
  font-size: 30px;
  padding: 0 10px;
}

.form-container .form .field .input.inline-input-small, .form-container label .field .input.inline-input-small {
  margin-top: -2px;
  margin-left: 10%;
}

.form-container .form .field .input.inline-input-small input, .form-container label .field .input.inline-input-small input {
  padding: 0;
  text-align: center;
  min-height: 0px;
}

.form-container .form .field .input .datepicker, .form-container label .field .input .datepicker {
  text-align: left;
}

@media all and (max-width: 1200px) {
  .form-container .form .field .input .datepicker:first-child, .form-container label .field .input .datepicker:first-child {
    margin-bottom: 20px;
  }
}

.form-container .form .field .input .datepicker input, .form-container label .field .input .datepicker input {
  width: 100%;
  padding-left: 42%;
  margin-bottom: 0;
}

.form-container .form .field .input .datepicker .input-icon, .form-container label .field .input .datepicker .input-icon {
  position: absolute;
  left: 0;
  display: inline-block;
  margin-right: -3%;
  height: 78px;
  line-height: 75px;
  min-width: 40%;
  padding-left: 13px;
  border-right: none;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form-container .form .field .input .datepicker .input-icon .icon, .form-container label .field .input .datepicker .input-icon .icon {
  line-height: 23px;
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-right: 12px;
}

.form-container .form .field .popover-service-price .popover, .form-container .form .field.popover-service-price .popover, .form-container .form .field.popover-fishing-gear .popover, .form-container .form .field.popover-deposit .popover, .form-container .form .field.popover-down-payment .popover, .form-container label .field .popover-service-price .popover, .form-container label .field.popover-service-price .popover, .form-container label .field.popover-fishing-gear .popover, .form-container label .field.popover-deposit .popover, .form-container label .field.popover-down-payment .popover {
  min-width: 285px;
  text-align: center;
  padding: 30px 18px 36px;
  -o-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.form-container .form .field .popover-service-price .popover .popover-content, .form-container .form .field.popover-service-price .popover .popover-content, .form-container .form .field.popover-fishing-gear .popover .popover-content, .form-container .form .field.popover-deposit .popover .popover-content, .form-container .form .field.popover-down-payment .popover .popover-content, .form-container label .field .popover-service-price .popover .popover-content, .form-container label .field.popover-service-price .popover .popover-content, .form-container label .field.popover-fishing-gear .popover .popover-content, .form-container label .field.popover-deposit .popover .popover-content, .form-container label .field.popover-down-payment .popover .popover-content {
  padding: 0;
}

.form-container .form .field .popover-service-price .popover .popover-content *, .form-container .form .field.popover-service-price .popover .popover-content *, .form-container .form .field.popover-fishing-gear .popover .popover-content *, .form-container .form .field.popover-deposit .popover .popover-content *, .form-container .form .field.popover-down-payment .popover .popover-content *, .form-container label .field .popover-service-price .popover .popover-content *, .form-container label .field.popover-service-price .popover .popover-content *, .form-container label .field.popover-fishing-gear .popover .popover-content *, .form-container label .field.popover-deposit .popover .popover-content *, .form-container label .field.popover-down-payment .popover .popover-content * {
  font-size: 14px;
}

.form-container .form .field .popover-service-price .popover .popover-content .description, .form-container .form .field.popover-service-price .popover .popover-content .description, .form-container .form .field.popover-fishing-gear .popover .popover-content .description, .form-container .form .field.popover-deposit .popover .popover-content .description, .form-container .form .field.popover-down-payment .popover .popover-content .description, .form-container label .field .popover-service-price .popover .popover-content .description, .form-container label .field.popover-service-price .popover .popover-content .description, .form-container label .field.popover-fishing-gear .popover .popover-content .description, .form-container label .field.popover-deposit .popover .popover-content .description, .form-container label .field.popover-down-payment .popover .popover-content .description {
  margin-bottom: 20px;
  white-space: nowrap;
}

.form-container .form .field .popover-service-price .popover .popover-content [class*="button-"], .form-container .form .field.popover-service-price .popover .popover-content [class*="button-"], .form-container .form .field.popover-fishing-gear .popover .popover-content [class*="button-"], .form-container .form .field.popover-deposit .popover .popover-content [class*="button-"], .form-container .form .field.popover-down-payment .popover .popover-content [class*="button-"], .form-container label .field .popover-service-price .popover .popover-content [class*="button-"], .form-container label .field.popover-service-price .popover .popover-content [class*="button-"], .form-container label .field.popover-fishing-gear .popover .popover-content [class*="button-"], .form-container label .field.popover-deposit .popover .popover-content [class*="button-"], .form-container label .field.popover-down-payment .popover .popover-content [class*="button-"] {
  margin-bottom: 20px;
}

.form-container .form .field .popover-service-price .popover .popover-content [class*="button-"] a, .form-container .form .field.popover-service-price .popover .popover-content [class*="button-"] a, .form-container .form .field.popover-fishing-gear .popover .popover-content [class*="button-"] a, .form-container .form .field.popover-deposit .popover .popover-content [class*="button-"] a, .form-container .form .field.popover-down-payment .popover .popover-content [class*="button-"] a, .form-container label .field .popover-service-price .popover .popover-content [class*="button-"] a, .form-container label .field.popover-service-price .popover .popover-content [class*="button-"] a, .form-container label .field.popover-fishing-gear .popover .popover-content [class*="button-"] a, .form-container label .field.popover-deposit .popover .popover-content [class*="button-"] a, .form-container label .field.popover-down-payment .popover .popover-content [class*="button-"] a {
  position: relative;
  display: inline-block;
  width: 226px;
  background-color: #31bef8;
  color: white;
  border-radius: 100px;
  border: none;
  font-size: 18px;
  line-height: 54px;
  letter-spacing: 2px;
}

.form-container .form .field .popover-service-price .popover .popover-content .input-checkboxes .input-container, .form-container .form .field.popover-service-price .popover .popover-content .input-checkboxes .input-container, .form-container .form .field.popover-fishing-gear .popover .popover-content .input-checkboxes .input-container, .form-container .form .field.popover-deposit .popover .popover-content .input-checkboxes .input-container, .form-container .form .field.popover-down-payment .popover .popover-content .input-checkboxes .input-container, .form-container label .field .popover-service-price .popover .popover-content .input-checkboxes .input-container, .form-container label .field.popover-service-price .popover .popover-content .input-checkboxes .input-container, .form-container label .field.popover-fishing-gear .popover .popover-content .input-checkboxes .input-container, .form-container label .field.popover-deposit .popover .popover-content .input-checkboxes .input-container, .form-container label .field.popover-down-payment .popover .popover-content .input-checkboxes .input-container {
  width: 50%;
  float: left;
}

.form-container .form .field .popover-service-price .popover .popover-content .input-checkboxes .input-container .field, .form-container .form .field.popover-service-price .popover .popover-content .input-checkboxes .input-container .field, .form-container .form .field.popover-fishing-gear .popover .popover-content .input-checkboxes .input-container .field, .form-container .form .field.popover-deposit .popover .popover-content .input-checkboxes .input-container .field, .form-container .form .field.popover-down-payment .popover .popover-content .input-checkboxes .input-container .field, .form-container label .field .popover-service-price .popover .popover-content .input-checkboxes .input-container .field, .form-container label .field.popover-service-price .popover .popover-content .input-checkboxes .input-container .field, .form-container label .field.popover-fishing-gear .popover .popover-content .input-checkboxes .input-container .field, .form-container label .field.popover-deposit .popover .popover-content .input-checkboxes .input-container .field, .form-container label .field.popover-down-payment .popover .popover-content .input-checkboxes .input-container .field {
  display: inline-block;
}

.form-container .form .field .popover-service-price .popover .popover-content .input-checkboxes .input-container .naus-radio, .form-container .form .field.popover-service-price .popover .popover-content .input-checkboxes .input-container .naus-radio, .form-container .form .field.popover-fishing-gear .popover .popover-content .input-checkboxes .input-container .naus-radio, .form-container .form .field.popover-deposit .popover .popover-content .input-checkboxes .input-container .naus-radio, .form-container .form .field.popover-down-payment .popover .popover-content .input-checkboxes .input-container .naus-radio, .form-container label .field .popover-service-price .popover .popover-content .input-checkboxes .input-container .naus-radio, .form-container label .field.popover-service-price .popover .popover-content .input-checkboxes .input-container .naus-radio, .form-container label .field.popover-fishing-gear .popover .popover-content .input-checkboxes .input-container .naus-radio, .form-container label .field.popover-deposit .popover .popover-content .input-checkboxes .input-container .naus-radio, .form-container label .field.popover-down-payment .popover .popover-content .input-checkboxes .input-container .naus-radio {
  width: 0px;
  padding-right: 25px;
  margin-left: -17px;
}

.form-container .form .field .popover-service-price .popover .popover-content .input-checkboxes .input-container .naus-radio [type="radio"]:before, .form-container .form .field.popover-service-price .popover .popover-content .input-checkboxes .input-container .naus-radio [type="radio"]:before, .form-container .form .field.popover-fishing-gear .popover .popover-content .input-checkboxes .input-container .naus-radio [type="radio"]:before, .form-container .form .field.popover-deposit .popover .popover-content .input-checkboxes .input-container .naus-radio [type="radio"]:before, .form-container .form .field.popover-down-payment .popover .popover-content .input-checkboxes .input-container .naus-radio [type="radio"]:before, .form-container label .field .popover-service-price .popover .popover-content .input-checkboxes .input-container .naus-radio [type="radio"]:before, .form-container label .field.popover-service-price .popover .popover-content .input-checkboxes .input-container .naus-radio [type="radio"]:before, .form-container label .field.popover-fishing-gear .popover .popover-content .input-checkboxes .input-container .naus-radio [type="radio"]:before, .form-container label .field.popover-deposit .popover .popover-content .input-checkboxes .input-container .naus-radio [type="radio"]:before, .form-container label .field.popover-down-payment .popover .popover-content .input-checkboxes .input-container .naus-radio [type="radio"]:before {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: solid 1px #b2b2b2;
}

.form-container .form .field .popover-service-price .popover .popover-content .input-checkboxes .input-container .naus-radio [type="radio"]:checked:after, .form-container .form .field.popover-service-price .popover .popover-content .input-checkboxes .input-container .naus-radio [type="radio"]:checked:after, .form-container .form .field.popover-fishing-gear .popover .popover-content .input-checkboxes .input-container .naus-radio [type="radio"]:checked:after, .form-container .form .field.popover-deposit .popover .popover-content .input-checkboxes .input-container .naus-radio [type="radio"]:checked:after, .form-container .form .field.popover-down-payment .popover .popover-content .input-checkboxes .input-container .naus-radio [type="radio"]:checked:after, .form-container label .field .popover-service-price .popover .popover-content .input-checkboxes .input-container .naus-radio [type="radio"]:checked:after, .form-container label .field.popover-service-price .popover .popover-content .input-checkboxes .input-container .naus-radio [type="radio"]:checked:after, .form-container label .field.popover-fishing-gear .popover .popover-content .input-checkboxes .input-container .naus-radio [type="radio"]:checked:after, .form-container label .field.popover-deposit .popover .popover-content .input-checkboxes .input-container .naus-radio [type="radio"]:checked:after, .form-container label .field.popover-down-payment .popover .popover-content .input-checkboxes .input-container .naus-radio [type="radio"]:checked:after {
  font-size: 10px;
  content: '\56';
  top: 5px;
}

.form-container .form .field .popover-service-price .popover .popover-content .input-checkboxes .input-container .naus-radio [type="radio"]:after, .form-container .form .field.popover-service-price .popover .popover-content .input-checkboxes .input-container .naus-radio [type="radio"]:after, .form-container .form .field.popover-fishing-gear .popover .popover-content .input-checkboxes .input-container .naus-radio [type="radio"]:after, .form-container .form .field.popover-deposit .popover .popover-content .input-checkboxes .input-container .naus-radio [type="radio"]:after, .form-container .form .field.popover-down-payment .popover .popover-content .input-checkboxes .input-container .naus-radio [type="radio"]:after, .form-container label .field .popover-service-price .popover .popover-content .input-checkboxes .input-container .naus-radio [type="radio"]:after, .form-container label .field.popover-service-price .popover .popover-content .input-checkboxes .input-container .naus-radio [type="radio"]:after, .form-container label .field.popover-fishing-gear .popover .popover-content .input-checkboxes .input-container .naus-radio [type="radio"]:after, .form-container label .field.popover-deposit .popover .popover-content .input-checkboxes .input-container .naus-radio [type="radio"]:after, .form-container label .field.popover-down-payment .popover .popover-content .input-checkboxes .input-container .naus-radio [type="radio"]:after {
  -webkit-transform: translateX(4px);
  transform: translateX(4px);
}

.form-container .form .field .popover-service-price .popover .popover-content .input-with-icon, .form-container .form .field.popover-service-price .popover .popover-content .input-with-icon, .form-container .form .field.popover-fishing-gear .popover .popover-content .input-with-icon, .form-container .form .field.popover-deposit .popover .popover-content .input-with-icon, .form-container .form .field.popover-down-payment .popover .popover-content .input-with-icon, .form-container label .field .popover-service-price .popover .popover-content .input-with-icon, .form-container label .field.popover-service-price .popover .popover-content .input-with-icon, .form-container label .field.popover-fishing-gear .popover .popover-content .input-with-icon, .form-container label .field.popover-deposit .popover .popover-content .input-with-icon, .form-container label .field.popover-down-payment .popover .popover-content .input-with-icon {
  text-align: left;
}

.form-container .form .field .popover-service-price .popover .popover-content .input-with-icon input, .form-container .form .field.popover-service-price .popover .popover-content .input-with-icon input, .form-container .form .field.popover-fishing-gear .popover .popover-content .input-with-icon input, .form-container .form .field.popover-deposit .popover .popover-content .input-with-icon input, .form-container .form .field.popover-down-payment .popover .popover-content .input-with-icon input, .form-container label .field .popover-service-price .popover .popover-content .input-with-icon input, .form-container label .field.popover-service-price .popover .popover-content .input-with-icon input, .form-container label .field.popover-fishing-gear .popover .popover-content .input-with-icon input, .form-container label .field.popover-deposit .popover .popover-content .input-with-icon input, .form-container label .field.popover-down-payment .popover .popover-content .input-with-icon input {
  width: 80%;
  min-height: 40px;
  padding: 8px;
  outline: none;
  background-color: white;
  border: solid 1px #b2b2b2;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form-container .form .field .popover-service-price .popover .popover-content .input-with-icon .input-icon, .form-container .form .field.popover-service-price .popover .popover-content .input-with-icon .input-icon, .form-container .form .field.popover-fishing-gear .popover .popover-content .input-with-icon .input-icon, .form-container .form .field.popover-deposit .popover .popover-content .input-with-icon .input-icon, .form-container .form .field.popover-down-payment .popover .popover-content .input-with-icon .input-icon, .form-container label .field .popover-service-price .popover .popover-content .input-with-icon .input-icon, .form-container label .field.popover-service-price .popover .popover-content .input-with-icon .input-icon, .form-container label .field.popover-fishing-gear .popover .popover-content .input-with-icon .input-icon, .form-container label .field.popover-deposit .popover .popover-content .input-with-icon .input-icon, .form-container label .field.popover-down-payment .popover .popover-content .input-with-icon .input-icon {
  text-align: center;
  display: inline-block;
  margin-left: -2%;
  line-height: 38px;
  width: 18%;
  height: 40px;
  border: solid 1px #b2b2b2;
  border-radius: 4px;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.form-container .form .field .popover-service-price .popover .popover-content .input-with-icon .input-icon .icon, .form-container .form .field.popover-service-price .popover .popover-content .input-with-icon .input-icon .icon, .form-container .form .field.popover-fishing-gear .popover .popover-content .input-with-icon .input-icon .icon, .form-container .form .field.popover-deposit .popover .popover-content .input-with-icon .input-icon .icon, .form-container .form .field.popover-down-payment .popover .popover-content .input-with-icon .input-icon .icon, .form-container label .field .popover-service-price .popover .popover-content .input-with-icon .input-icon .icon, .form-container label .field.popover-service-price .popover .popover-content .input-with-icon .input-icon .icon, .form-container label .field.popover-fishing-gear .popover .popover-content .input-with-icon .input-icon .icon, .form-container label .field.popover-deposit .popover .popover-content .input-with-icon .input-icon .icon, .form-container label .field.popover-down-payment .popover .popover-content .input-with-icon .input-icon .icon {
  border: 2px solid #184889;
  border-radius: 100px;
  line-height: 23px;
  display: inline-block;
  width: 26px;
  height: 26px;
}

.form-container .form .field .popover-service-price .popover .popover-content .input-with-icon .input-icon .icon:before, .form-container .form .field.popover-service-price .popover .popover-content .input-with-icon .input-icon .icon:before, .form-container .form .field.popover-fishing-gear .popover .popover-content .input-with-icon .input-icon .icon:before, .form-container .form .field.popover-deposit .popover .popover-content .input-with-icon .input-icon .icon:before, .form-container .form .field.popover-down-payment .popover .popover-content .input-with-icon .input-icon .icon:before, .form-container label .field .popover-service-price .popover .popover-content .input-with-icon .input-icon .icon:before, .form-container label .field.popover-service-price .popover .popover-content .input-with-icon .input-icon .icon:before, .form-container label .field.popover-fishing-gear .popover .popover-content .input-with-icon .input-icon .icon:before, .form-container label .field.popover-deposit .popover .popover-content .input-with-icon .input-icon .icon:before, .form-container label .field.popover-down-payment .popover .popover-content .input-with-icon .input-icon .icon:before {
  color: #184889;
}

.form-container .form .field .popover-service-price .popover .popover-content .signup-or-separator hr, .form-container .form .field.popover-service-price .popover .popover-content .signup-or-separator hr, .form-container .form .field.popover-fishing-gear .popover .popover-content .signup-or-separator hr, .form-container .form .field.popover-deposit .popover .popover-content .signup-or-separator hr, .form-container .form .field.popover-down-payment .popover .popover-content .signup-or-separator hr, .form-container label .field .popover-service-price .popover .popover-content .signup-or-separator hr, .form-container label .field.popover-service-price .popover .popover-content .signup-or-separator hr, .form-container label .field.popover-fishing-gear .popover .popover-content .signup-or-separator hr, .form-container label .field.popover-deposit .popover .popover-content .signup-or-separator hr, .form-container label .field.popover-down-payment .popover .popover-content .signup-or-separator hr {
  margin-top: -10px;
}

.form-container .form .field .popover-service-price .popover .popover-content .signup-or-separator span, .form-container .form .field.popover-service-price .popover .popover-content .signup-or-separator span, .form-container .form .field.popover-fishing-gear .popover .popover-content .signup-or-separator span, .form-container .form .field.popover-deposit .popover .popover-content .signup-or-separator span, .form-container .form .field.popover-down-payment .popover .popover-content .signup-or-separator span, .form-container label .field .popover-service-price .popover .popover-content .signup-or-separator span, .form-container label .field.popover-service-price .popover .popover-content .signup-or-separator span, .form-container label .field.popover-fishing-gear .popover .popover-content .signup-or-separator span, .form-container label .field.popover-deposit .popover .popover-content .signup-or-separator span, .form-container label .field.popover-down-payment .popover .popover-content .signup-or-separator span {
  padding: 0 16px;
  background: white;
}

.form-container .form .field .popover-service-price .popover .popover-content .set, .form-container .form .field.popover-service-price .popover .popover-content .set, .form-container .form .field.popover-fishing-gear .popover .popover-content .set, .form-container .form .field.popover-deposit .popover .popover-content .set, .form-container .form .field.popover-down-payment .popover .popover-content .set, .form-container label .field .popover-service-price .popover .popover-content .set, .form-container label .field.popover-service-price .popover .popover-content .set, .form-container label .field.popover-fishing-gear .popover .popover-content .set, .form-container label .field.popover-deposit .popover .popover-content .set, .form-container label .field.popover-down-payment .popover .popover-content .set {
  text-align: left;
  color: #31bef8;
}

.form-container .form .dropdown .select, .form-container label .dropdown .select {
  padding: 0 15px;
  width: 100%;
  outline: none;
  background-color: white;
  border: solid 1px #b2b2b2;
  border-radius: 4px;
  cursor: pointer;
  line-height: 76px;
  white-space: nowrap;
  overflow: hidden;
}

.form-container .form .dropdown .select[aria-expanded^="true"], .form-container label .dropdown .select[aria-expanded^="true"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-container .form .dropdown .dropdown-menu, .form-container label .dropdown .dropdown-menu {
  width: 100%;
  padding: 0;
  box-shadow: none;
  border-color: #b2b2b2;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: -1px;
}

.form-container .form .dropdown .dropdown-menu li, .form-container label .dropdown .dropdown-menu li {
  border-bottom: solid 1px #b2b2b2;
  font-size: 16px;
  height: 78px;
  padding: 0;
}

.form-container .form .dropdown .dropdown-menu li:last-child, .form-container label .dropdown .dropdown-menu li:last-child {
  border-bottom-width: 0;
}

.form-container .form .dropdown .dropdown-menu li a, .form-container label .dropdown .dropdown-menu li a {
  height: 100%;
  line-height: 78px;
  padding: 0 40px;
  color: #b2b2b2;
  background-color: white;
}

.form-container .form .dropdown .dropdown-menu li a:hover, .form-container label .dropdown .dropdown-menu li a:hover {
  border-left: 10px solid #31bef8;
  background-color: white;
  color: #5b5c59;
  padding: 0 30px;
}

.form-container #photos-container > .field {
  padding: 0;
}

.form-container #photos-container .photos {
  margin-left: -18px;
  margin-right: -18px;
}

.form-container #photos-container .photos .field {
  padding: 0 20px 20px;
}

.form-container #photos-container .photos .field > div {
  position: relative;
}

.form-container #photos-container .photos .overlay {
  position: absolute;
  content: "";
  top: 0;
  height: 100%;
  width: 100%;
  transition: all 0.8s;
  opacity: 1;
  border: dotted 3px #31bef8;
}

.form-container #photos-container .photos .eye {
  width: 80px;
  height: 80px;
  line-height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
  border-radius: 100px;
  background-color: rgba(49, 190, 248, 0.6);
}

.form-container #photos-container .photos img {
  width: 100%;
}

/* MODALS */
.modal-open .modal-dialog {
  min-width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
}

.modal-open .modal-dialog .modal-content {
  -o-box-shadow: none;
  box-shadow: none;
  border: none;
  border-radius: 0;
  /* ACTUAL TEMPLATE */
}

.modal-open .modal-dialog .modal-content .row {
  margin: 0;
}

.modal-open .modal-dialog .modal-content #modal-title {
  text-align: center;
  background-color: #d8d8d8;
}

.modal-open .modal-dialog .modal-content #modal-title .title-text {
  font-size: 16px;
  line-height: 70px;
}

.modal-open .modal-dialog .modal-content #modal-title .icon {
  line-height: 70px;
  position: absolute;
  right: 30px;
}

.modal-open .modal-dialog .modal-content #modal-content {
  padding: 10px;
}

#modal-photo-upload #photo {
  width: 100%;
}

#modal-photo-upload .loader:after {
  background-color: white;
}

#modal-error .error {
  margin-bottom: 10px;
}

#modal-error #modal-status {
  font-size: 20px;
  margin-bottom: 15px;
}

/* INPUTS */
.checkbox-container .field {
  text-align: left;
}

.checkbox-container .field [disabled] {
  color: #d8d8d8;
}

.checkbox-container .naus-checkbox {
  width: 48px;
}

.checkbox-container .naus-checkbox [type="checkbox"] {
  margin-right: 28px;
  color: #31bef8;
  font-size: 15px;
  font-family: "iconfont";
}

.checkbox-container .naus-checkbox [type="checkbox"]:focus {
  outline: 0;
}

.checkbox-container .naus-checkbox [type="checkbox"]:before {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-60%);
  transform: translateY(-60%);
  display: block;
  width: 26px;
  height: 26px;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  content: "";
  background: white;
}

.checkbox-container .naus-checkbox [type="checkbox"]:after {
  position: relative;
  display: block;
  left: 6px;
  top: -29px;
  width: 18px;
  height: 12px;
  border: none;
  content: "";
}

.checkbox-container .naus-checkbox [type="checkbox"]:checked:after {
  content: "\54";
}

.checkbox-container .naus-checkbox [type="checkbox"]:disabled:after {
  -webkit-filter: opacity(0.4);
}

.checkbox-container .naus-checkbox [type="checkbox"]:hover:before {
  -o-box-shadow: none;
  box-shadow: none;
}

.checkbox-container .naus-checkbox-label-container {
  display: table-cell;
}

.naus-radio {
  width: 48px;
}

.naus-radio [type="radio"] {
  margin-right: 28px;
}

.naus-radio [type="radio"]:focus {
  outline: 0;
}

.naus-radio [type="radio"]:before {
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  top: 0px;
  left: -2px;
  border: 1px solid #d8d8d8;
  border-radius: 100px;
  content: "";
  background: white;
}

.naus-radio [type="radio"]:after {
  position: absolute;
  border: none;
  top: 6px;
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
  content: "";
}

.naus-radio [type="radio"]:checked:after {
  color: #31bef8;
  font-family: 'iconfont';
  font-size: 49px;
  content: '•';
  top: -16px;
  left: -2px;
}

.naus-radio [type="radio"]:disabled:after {
  -webkit-filter: opacity(0.4);
}

/* LABEL WITH X (USED FOR LANGUAGES, DAYS, ECC) */
.label-closable-text {
  display: inline-block;
  border-radius: 4px;
  margin-right: 30px;
  margin-bottom: 10px;
  padding: 0 0 0 16px;
  line-height: 60px;
  background-color: #97dffd;
  white-space: nowrap;
}

.label-closable-text .icon-close {
  margin-left: 20px;
  margin-right: 10px;
}

/* LOADING SPINNER */
.loader {
  font-size: 5px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #bfe5f5;
  background: linear-gradient(to right, #bfe5f5 10%, rgba(191, 229, 245, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.loader:before {
  width: 50%;
  height: 50%;
  background: #bfe5f5;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.loader:after {
  background: #f6f6f6;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loader.ng-leave-active {
  display: none;
}

.loader-container-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.loader-container-overlay.inside-parent {
  position: absolute;
}

.loader-container-overlay .loader {
  margin: 0 auto;
  position: relative;
  top: 45%;
}

.form input.ng-invalid.ng-touched, .form textarea.ng-invalid.ng-touched {
  color: red;
  box-shadow: inset 0 0 5px 0 red !important;
  border: red !important;
}

.hidden {
  display: none !important;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

[class^="icon-"]:before.mirror:before, [class*=" icon-"]:before.mirror:before {
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.margin-right-xs {
  margin-right: 10px !important;
}

.margin-right-sm {
  margin-right: 20px !important;
}

.margin-right-md {
  margin-right: 40px !important;
}

.margin-right-lg {
  margin-right: 60px !important;
}

.margin-left-xs {
  margin-left: 10px !important;
}

.margin-left-sm {
  margin-left: 20px !important;
}

.margin-left-md {
  margin-left: 40px !important;
}

.margin-left-lg {
  margin-left: 60px !important;
}

.margin-bottom-xs {
  margin-bottom: 10px !important;
}

.margin-bottom-sm {
  margin-bottom: 20px !important;
}

.margin-bottom-md {
  margin-bottom: 40px !important;
}

.margin-bottom-lg {
  margin-bottom: 60px !important;
}

.margin-top-xs {
  margin-top: 10px !important;
}

.margin-top-sm {
  margin-top: 20px !important;
}

.margin-top-md {
  margin-top: 40px !important;
}

.margin-top-lg {
  margin-top: 60px !important;
}

input {
  padding: 15px;
  outline: none;
  background-color: white;
  box-shadow: inset 0 0 5px 0 #31bef8;
  border: solid 1px #31bef8;
  border-radius: 4px;
}

input:disabled {
  box-shadow: none;
  border-color: #b2b2b2;
}

input .md {
  min-height: 50px;
}

input .lg {
  min-height: 78px;
}

.form-inline {
  display: inline;
}

.no-padding {
  padding: 0 !important;
}

.originaltext {
  color: #9b9b9b;
}

.translation {
  font-weight: bold;
  color: #4990e2;
}

.totranslate {
  color: #4990e2;
  border-width: 2px;
  border-bottom-style: dashed;
}

.withbreakline {
  white-space: pre-line;
}

.popover-translation {
  width: 100%;
}

.popover-translation .popover-title {
  background-color: #ffffff;
  padding: 20px 14px;
}

.popover-translation .icon-close:before {
  vertical-align: middle !important;
}

.popover-translation .icon-checkmark:before {
  vertical-align: middle !important;
}

.margin-translation-text {
  margin-top: 20px;
  margin-bottom: 20px;
}

.action-icon-translation {
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 4px;
  color: white;
  background-color: #31bef8;
  display: inline-block;
}

.close-icon-translation {
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 4px;
  color: #9b9b9b;
  background-color: #d8d8d8;
  display: inline-block;
}

.light-blue {
  color: #31bef8;
}

.medium-light-blue {
  color: #bfe5f5;
}

.lighter-blue {
  color: #e1f7ff;
}

.bali-hai {
  color: #7798a6;
}

.columbia-blue {
  color: #97dffd;
}

.navy-blue {
  color: #184889;
}

.ice-blue {
  color: #4ddcdb;
}

.navy-blue {
  color: #184889;
}

.ice-blue {
  color: #4ddcdb;
}

.cornflower-blue {
  color: #4990e2;
}

.dark-grey {
  color: #5b5c59;
}

.light-grey {
  color: #d8d8d8;
}

.medium-light-grey {
  color: #e7e7e7;
}

.lighter-grey {
  color: #f6f6f6;
}

.concrete {
  color: #F2F2F2;
}

.grey-swan {
  color: #b2b2b2;
}

.grey-nobel {
  color: #9b9b9b;
}

.pink {
  color: #ff6e88;
}

.light-sea-green {
  color: #00c7ab;
}

.green {
  color: #20a650;
}

.red {
  color: #db4f33;
}

.orange {
  color: #f29e00;
}

.dark-orange {
  color: #ef9033;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 23px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 12px;
}

.h1 {
  font-size: 34px;
}

.h2 {
  font-size: 28px;
}

.h3 {
  font-size: 23px;
}

.h4 {
  font-size: 18px;
}

.h5 {
  font-size: 15px;
}

.h6 {
  font-size: 12px;
}

.bold {
  font-weight: bold;
}

.no-border {
  border: none !important;
}

.input input {
  outline: none;
  background-color: white;
  box-shadow: inset 0 0 5px 0 #31bef8;
  border: solid 1px #31bef8;
  border-radius: 4px;
}

.input input:disabled {
  box-shadow: none;
  border-color: #b2b2b2;
}

.input textarea {
  padding: 15px;
  text-align: justify;
  resize: vertical;
  outline: none;
  background-color: white;
  box-shadow: inset 0 0 5px 0 #31bef8;
  border: solid 1px #31bef8;
  border-radius: 4px;
}

.input textarea:disabled {
  box-shadow: none;
  border-color: #b2b2b2;
}

.full-width {
  width: 100%;
}

.btn-rounded {
  cursor: pointer;
  display: inline-block;
  min-width: 150px;
  min-height: 30px;
  line-height: 30px;
  width: 100%;
  padding: 3% 0;
  border-radius: 100px;
  border-width: 2px;
  border-style: solid;
}

.btn-light-blue {
  color: white;
  background-color: #31bef8;
  border-color: #31bef8;
}

.btn-light-blue:hover {
  background-color: rgba(49, 190, 248, 0.6);
}

.btn-transparent {
  background-color: white;
  border-width: 2px;
}

.btn-transparent.light-blue {
  color: #31bef8;
  border-color: #31bef8;
}

.btn-transparent.light-blue:hover {
  color: white;
  background-color: rgba(49, 190, 248, 0.6);
}

.pointer {
  cursor: pointer;
}

.naus-datepicker button {
  box-sizing: content-box;
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}

.naus-datepicker button:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

.naus-datepicker .naus-datepicker-table {
  width: 100%;
}

.naus-datepicker .naus-datepicker-navigator {
  height: 40px;
  background-color: #31bef8;
}

.naus-datepicker .naus-daypicker-tbody, .naus-datepicker .naus-daypicker-days-of-week {
  line-height: 35px;
}

.naus-datepicker .naus-datepicker-day {
  line-height: 100%;
  width: 14.2857%;
}

.naus-datepicker .naus-datepicker-day-btn {
  line-height: 34px;
}

.naus-datepicker .naus-datepicker-day-btn .naus-datepicker-day-text {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 32px;
  border: 1px solid white;
  border-radius: 100px;
}

.naus-datepicker .naus-datepicker-day-btn .naus-datepicker-day-text.text-muted {
  color: #5b5c59;
}

.naus-datepicker .naus-datepicker-day-btn.selected:not(:disabled) .naus-datepicker-day-text, .naus-datepicker .naus-datepicker-day-btn:hover:not(:disabled) .naus-datepicker-day-text {
  border-color: #31bef8;
}

.naus-datepicker .naus-datepicker-day-btn.selected:not(:disabled) .naus-datepicker-day-text:after, .naus-datepicker .naus-datepicker-day-btn:hover:not(:disabled) .naus-datepicker-day-text:after {
  content: '';
  width: 5px;
  height: 5px;
  position: absolute;
  background-color: #31bef8;
  border-radius: 100px;
  top: 2px;
  right: 1px;
}

.naus-datepicker-popup {
  overflow: hidden;
  height: 287px;
}

.naus-datepicker-popup .naus-datepicker-popup-body-container {
  padding: 0;
}

.ng-hide.ng-hide-animate, .ng-leave-active {
  display: none !important;
}

/*# sourceMappingURL=style.css.map */
