<div class="container-fluid booking-offsite-new">
    <div class="row page-title">New Eden Voucher</div>
    <div class="row form-container">
        <form novalidate class="form" name="ctrl.form">
            <div class="container-fluid">
                <div class="row">
                    <!-- VILLAGE NAME -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Village name<span
                                ng-show="ctrl.fields.village_name.required">*</span></div>
                        <div class="input">
                            <input name="village_name" type="text" ng-maxlength="ctrl.fields.village_name.max"
                                   ng-model="ctrl.booking.village_name"
                                   ng-required="ctrl.fields.village_name.required">
                        </div>
                    </div>
                    <!-- ASSISTANT NAME -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Assistant name<span
                                ng-show="ctrl.fields.assistant_name.required">*</span>
                        </div>
                        <div class="input">
                            <input name="assistant_name" type="text" ng-maxlength="ctrl.fields.assistant_name.max"
                                   ng-model="ctrl.booking.assistant_name"
                                   ng-required="ctrl.fields.assistant_name.required">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- VILLAGE PHONE -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Village phone<span
                                ng-show="ctrl.fields.village_phone.required">*</span>
                        </div>
                        <div class="input">
                            <input name="village_phone" type="text" ng-maxlength="ctrl.fields.village_phone.max"
                                   ng-model="ctrl.booking.village_phone"
                                   ng-required="ctrl.fields.village_phone.required">
                        </div>
                    </div>
                    <!-- VILLAGE MAIL -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Village mail<span ng-show="ctrl.fields.village_mail.required">*</span>
                        </div>
                        <div class="input">
                            <input name="village_mail" type="email" ng-maxlength="ctrl.fields.village_mail.max"
                                   ng-model="ctrl.booking.village_mail"
                                   ng-required="ctrl.fields.village_mail.required">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- VOUCHER # -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">
                            Voucher number<span ng-show="ctrl.fields.voucher_number.required">*</span>
                        </div>
                        <div class="input">
                            <input name="voucher_number" type="number" ng-min="1"
                                   ng-max="ctrl.fields.voucher_number.max"
                                   ng-model="ctrl.booking.voucher_number"
                                   ng-required="ctrl.fields.voucher_number.required">
                        </div>
                    </div>
                    <!-- CONTACT NAME -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Contact name<span ng-show="ctrl.fields.contact_name.required">*</span>
                        </div>
                        <div class="input">
                            <input name="contact_name" type="text" ng-maxlength="ctrl.fields.contact_name.max"
                                   ng-model="ctrl.booking.contact_name"
                                   ng-required="ctrl.fields.contact_name.required">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- GUEST NAME -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Guest name<span ng-show="ctrl.fields.guest_name.required">*</span>
                        </div>
                        <div class="input">
                            <input name="guest_name" type="text" ng-maxlength="ctrl.fields.guest_name.max"
                                   ng-model="ctrl.booking.guest_name"
                                   ng-required="ctrl.fields.guest_name.required">
                        </div>
                    </div>
                    <!-- ROOM # -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Room number<span ng-show="ctrl.fields.room_number.required">*</span>
                        </div>
                        <div class="input">
                            <input name="room_number" type="text"
                                   ng-maxlength="ctrl.fields.room_number.max"
                                   ng-model="ctrl.booking.room_number"
                                   ng-required="ctrl.fields.room_number.required">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- GUESTS -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Guests<span ng-show="ctrl.fields.guests.required">*</span><strong
                                class="red"> (in the language of the person who will receive this voucher!)</strong>
                        </div>
                        <div class="input">
                            <input name="guests" type="text"
                                   ng-maxlength=ctrl.fields.guests.max
                                   ng-model="ctrl.booking.guests"
                                   ng-required="ctrl.fields.guests.required">
                        </div>
                    </div>
                    <!-- EXPERIENCE TITLE -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Experience title<span
                                ng-show="ctrl.fields.experience_title.required">*</span>
                        </div>
                        <div class="input">
                            <input name="experience_title" type="text" ng-maxlength="ctrl.fields.experience_title.max"
                                   ng-model="ctrl.booking.experience_title"
                                   ng-required="ctrl.fields.experience_title.required">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- TOUR # -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Tour number<span ng-show="ctrl.fields.tour_number.required">*</span>
                        </div>
                        <div class="input">
                            <input name="tour_number" type="number" ng-min="1"
                                   ng-max="ctrl.fields.tour_number.max"
                                   ng-model="ctrl.booking.tour_number"
                                   ng-required="ctrl.fields.tour_number.required">
                        </div>
                    </div>
                    <!-- EXPERIENCE DATE -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Experience date<span
                                ng-show="ctrl.fields.experience_date.required">*</span></div>
                        <div class="input">
                            <naus-datepicker-popup date="ctrl.booking.experience_date" language="en"
                                                   min-date="ctrl.fields.experience_date.min"
                                                   is-open=ctrl.fields.experience_date.open></naus-datepicker-popup>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- DEPARTURE PORT -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Departure port<span
                                ng-show="ctrl.fields.departure_port.required">*</span></div>
                        <div class="input">
                            <input name="departure_port" type="text" ng-maxlength="ctrl.fields.departure_port.max"
                                   ng-model="ctrl.booking.departure_port"
                                   ng-required="ctrl.fields.departure_port.required">
                        </div>
                    </div>
                    <!-- DEPARTURE TIME -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Departure time<span
                                ng-show="ctrl.fields.departure_time.required">*</span></div>
                        <div class="input">
                            <div uib-timepicker ng-model="ctrl.booking.departure_time"
                                 show-spinners="false"
                                 show-meridian="false"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- ARRIVAL TIME -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Arrival time<span ng-show="ctrl.fields.arrival_time.required">*</span>
                        </div>
                        <div class="input">
                            <div uib-timepicker ng-model="ctrl.booking.arrival_time"
                                 show-spinners="false"
                                 show-meridian="false"></div>
                        </div>
                    </div>
                    <!-- LANGUAGE CAPTAIN -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Guest Language<span
                                ng-show="ctrl.fields.guest_language.required">*</span>
                        </div>
                        <div class="input" uib-dropdown>
                            <div class="select" id="guest_language" uib-dropdown-toggle translate>
                                {{'languages.' + ctrl.booking.guest_language}}
                            </div>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="guest_language">
                                <li ng-repeat="language in ctrl.languages" role="menuitem"
                                    ng-click="ctrl.booking.guest_language = language.attributes.language;">
                                    <a href="" translate>{{'languages.' + language.attributes.language}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="text-center">
            <button class="margin-top-lg" ng-click="ctrl.post()">CREATE</button>
        </div>
    </div>
</div>

<modal ng-if="ctrl.successModal" modal-title="Success" on-close="ctrl.successModal = false">
    <div>
        <h3 class="text-center margin-bottom-md">New Eden Voucher created and sent to support@nausdream.com.</h3>
        <div class="text-center margin-bottom-sm">
            <button ng-click="ctrl.reload()">Create another Voucher</button>
        </div>
    </div>
</modal>