<div class="view-container dashboard" ng-if="!ctrl.makingRequest">
    <user-infobox class="hidden-xs" user=ctrl.user></user-infobox>
    <quick-access class="hidden-xs" user="ctrl.user"></quick-access>
    <boats user-id=ctrl.user.id on-boat-click="ctrl.select(id)" show-accordion=false show-back-button=true></boats>
</div>