<form novalidate method="post" name="ctrl.paypal_form" action="{{ctrl.action}}">
    <input type="hidden" name="business" value="{{ctrl.seller}}"/>
    <input type="hidden" name="cmd" value="_xclick"/>

    <!-- TRANSACTION INFO -->
    <input type="hidden" name="return" value="{{ctrl.successPage}}" ng-required="true"/>
    <input type="hidden" name="cancel_return" value="{{ctrl.failurePage}}" ng-required="true"/>
    <input type="hidden" name="notify_url" value="{{ctrl.notifyUrl}}" ng-required="true"/>
    <input type="hidden" name="rm" value="1" ng-required="true"/>
    <input type="hidden" name="currency_code" value="{{ctrl.bookingCurrency}}" ng-required="true"/>
    <input type="hidden" name="lc" value="{{ctrl.locale}}" ng-required="true"/>
    <input type="hidden" name="cbt" value="{{ctrl.returnToMerchant}}" ng-required="true"/>

    <!-- PRODUCT INFO -->
    <input type="hidden" name="item_name" value="{{ctrl.experienceTitle}}" ng-required="true"/>
    <input type="hidden" name="amount" value="{{ctrl.price}}" ng-required="true"/>

    <!-- USEFUL INFO FOR CALLBACK -->
    <input type="hidden" name="custom" value="{{ctrl.bookingId}}" ng-required="true"/>

    <!-- BUYER INFO -->
    <input ng-if="ctrl.user.first_name" type="hidden" name="first_name" value="{{ctrl.user.first_name}}"/>
    <input ng-if="ctrl.user.last_name" type="hidden" name="last_name" value="{{ctrl.user.last_name}}"/>
    <input ng-if="ctrl.user.email" type="hidden" name="email" value="{{ctrl.user.email}}"/>
    <input ng-if="ctrl.user.address" type="hidden" name="address1" value="{{ctrl.user.address}}">
    <input ng-if="ctrl.user.nationality" type="hidden" name="state" value="{{ctrl.user.nationality}}">

    <!--SUBMIT BUTTON-->
    <input style="visibility: hidden" type="submit" id="submit" value="Submit"/>
</form>
<div class="loader-alt inside-parent"></div>