<!-- ERROR 500 -->
<div class="background-error bottom-border" ng-hide="ctrl.loading || ctrl.translations.loading">
    <div class="container-fluid view-container">
        <div class="row support-section support-container">
            <div class="col-xs-12 padding">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 text-center">
                        <div class="page-code" translate>{{'internal_error.error_500'}}</div>
                        <div class="page-message margin-bottom-lg" translate>{{'internal_error.sorry'}}</div>
                        <naus-btn on-click="ctrl.backHome()"
                                  options="{color: 'orange'}"
                                  custom-classes="['h3', 'bold']">
                            {{'internal_error.go_back' | translate}}
                        </naus-btn>
                    </div>
                    <div class="col-md-6 hidden-xs hidden-sm">
                        <img class="pull-right"
                             src="https://res.cloudinary.com/naustrip/image/upload/v1496186485/production/assets/img/support/500_starfish.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-show="ctrl.loading || ctrl.translations.loading" class="loader-alt inside-parent"></div>
