<div class="container-fluid" id="modal-error">
    <div class="row" id="modal-title">
        <span class="title-text">LOGIN AS THIS USER</span>
        <span class="icon icon-close i-5x pointer" ng-click="ctrl.close()"></span>
    </div>
    <div class="row" id="modal-content">
        <div class="col-lg-12">
            <div class="row" id="modal-status">
                Click on the button below to login as this user.
                Remember to not change CURRENCY or LANGUAGE of this user while you are logged in.
                Logout after that you use the account.
            </div>
            <a ng-click="ctrl.loginAsUser()" class="btn-rounded btn-light-blue text-center h3">LOGIN</a>
        </div>
    </div>
</div>