<form novalidate class="form" name="ctrl.step2">
    <div class="container-fluid">
        <div class="row form-title">
            <span>Fase 2</span>
        </div>
        <!-- SEATS -->
        <div class="row">
            <div class="col-md-3 field">
                <div class="separator"></div>
                <div class="input-label">Max seats</div>
                <div class="input">
                    <input required type="number" ng-model="ctrl.experience.seats"
                           ng-disabled="ctrl.disabled" ng-min="1" ng-max="ctrl.boat.seats"
                           ng-blur="ctrl.patchExperience()">
                </div>
            </div>
        </div>
        <!-- FIXED RULES -->
        <div class="row">
            <div class="col-md-12 field">
                <div class="separator"></div>
                <div class="input-label">Cosa è concesso fare a bordo</div>
                <div class="row">
                    <!--FIXED-->
                    <div class="col-md-6 field checkbox-container" ng-repeat="rule in ctrl.fixed_rules_list">
                        <div class="row">
                            <div class="col-xs-1 field naus-checkbox">
                                <input type="checkbox" ng-disabled="ctrl.disabled"
                                       id="{{rule.name}}"
                                       ng-model="rule.checked"
                                       ng-click="!$event.target.checked ? ctrl.experience[rule.name] = 0 : null; ctrl.patchFixedRules()">
                            </div>
                            <div class="field naus-checkbox-label-container col-xs-10">
                                <label for="{{rule.name}}"
                                       ng-click="!$event.target.checked ? ctrl.experience[rule.name] = 0 : null;  ctrl.patchFixedRules()"
                                       translate>{{'rules.'+rule.name}}</label>
                            </div>
                        </div>
                    </div>
                    <!--KIDS-->
                    <div class="col-md-6 field checkbox-container">
                        <div class="row">
                            <div class="col-xs-1 field naus-checkbox">
                                <input type="checkbox" ng-disabled="ctrl.disabled"
                                       id="kids"
                                       ng-model="ctrl.kids.checked"
                                       ng-click="!$event.target.checked ? ctrl.experience.kids = 0 : null; ctrl.patchExperience()">
                            </div>
                            <div class="col-xs-8 field">
                                <label for="kids"
                                       ng-click="!$event.target.checked ? ctrl.experience.kids = 0 : null; ctrl.patchExperience()"
                                       translate>{{'rules.kids'}}</label>
                            </div>
                            <div class="col-xs-1 field" ng-if="ctrl.kids.checked">
                                <div class="input inline-input-small"><input required type="number" ng-min="0"
                                                                             ng-model="ctrl.experience.kids"
                                                                             ng-disabled="ctrl.disabled"
                                                                             ng-change="ctrl.patchExperience()">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--BABIES-->
                    <div class="col-md-6 field checkbox-container">
                        <div class="row">
                            <div class="col-xs-1 field naus-checkbox">
                                <input type="checkbox" ng-disabled="ctrl.disabled"
                                       id="babies"
                                       ng-model="ctrl.babies.checked"
                                       ng-click="!$event.target.checked ? ctrl.experience.babies = 0 : null; ctrl.patchExperience()">
                            </div>
                            <div class="col-xs-8 field">
                                <label for="babies"
                                       ng-click="!$event.target.checked ? ctrl.experience.babies = 0 : null; ctrl.patchExperience()"
                                       translate>{{'rules.babies'}}</label>
                            </div>
                            <div class="col-xs-1 field" ng-if="ctrl.babies.checked">
                                <div class="input inline-input-small"><input required type="number" ng-min="0"
                                                                             ng-model="ctrl.experience.babies"
                                                                             ng-disabled="ctrl.disabled"
                                                                             ng-change="ctrl.patchExperience()">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ADDITIONAL RULES -->
        <div class="row">
            <div class="col-md-12 field">
                <div class="separator"></div>
                <div class="input-label" style="line-height: 35px">Rules on board <br/> Quando hai inserito la barca,
                    hai indicato queste regole:
                </div>
                <div class="input">
                    <textarea rows="4" ng-disabled="ctrl.disabled" ng-model="ctrl.experience.rules"
                              ng-blur="ctrl.patchExperience()"></textarea>
                </div>
            </div>
        </div>
        <!-- FIXED ADDITIONAL SERVICES -->
        <div class="row">
            <div class="col-md-12 field">
                <div class="separator"></div>
                <div class="input-label">Servizi inclusi e opzionali</div>
                <div class="row">
                    <div class="col-md-6 field checkbox-container"
                         ng-repeat="service in ctrl.allFixedAdditionalServices">
                        <div class="row">
                            <div class="col-xs-1 field naus-checkbox">
                                <input type="checkbox" ng-disabled="ctrl.disabled"
                                       id="{{service.attributes.name}}"
                                       ng-model="service.checked"
                                       ng-change="ctrl.checkService(service)">
                            </div>
                            <div ng-click="ctrl.checkService(service, true)"
                                 class="field col-xs-10 popover-service-price">
                                <label uib-popover-template="'/shared/components/popover-field/views/fixed-additional-service-price.view.html'"
                                       popover-placement="bottom" popover-trigger="'outsideClick'"
                                       popover-is-open="ctrl.popovers[service.attributes.name]" translate>
                                    {{'additional_services.' + service.attributes.name}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ADDITIONAL SERVICES -->
        <div class="row" id="additional-services">
            <div class="col-md-12 price">
                <div class="row heading">
                    <div class="col-md-12 field">
                        <div class="separator"></div>
                        <div class="input-label">Additional services</div>
                    </div>
                </div>
                <div class="row" ng-repeat="service in ctrl.editedAdditionalServices track by $index">
                    <div class="col-md-6 field">
                        <div class="input"><input required type="text"
                                                  ng-maxlength="100"
                                                  placeholder=""
                                                  ng-model="service.attributes.name"
                                                  ng-disabled="ctrl.disabled"
                                                  ng-blur="ctrl.patchAdditionalServices(service)">
                        </div>
                    </div>
                    <div class="field edit-price-button popover-service-price"
                         ng-click="service.attributes.per_person == null ? service.attributes.per_person = true : null">
                        <a href="" class="icon action-icon add-button icon-coins i-8x"
                           uib-popover-template="'/shared/components/popover-field/views/additional-service-price.view.html'"
                           popover-placement="bottom" popover-trigger="'outsideClick'"
                           popover-is-open="ctrl.popovers[service.attributes.name]"></a>
                    </div>
                    <div class="field remove-service-button" ng-if=!ctrl.disabled><a href=""
                                                                                     class="icon action-icon add-button icon-minus i-8x"
                                                                                     ng-click="ctrl.removeAdditionalService(service)"></a>
                    </div>
                </div>
                <div class="row" ng-init="service = {attributes: {per_person: true, price: 0}}">
                    <div class="col-md-6 field">
                        <div class="input"><input placeholder="Add another service..."
                                                  ng-maxlength="100"
                                                  ng-model="service.attributes.name"
                                                  ng-disabled="ctrl.disabled">
                        </div>
                    </div>
                    <div class="field edit-price-button popover-service-price">
                        <a href="" class="icon action-icon add-button icon-coins i-8x"
                           uib-popover-template="'/shared/components/popover-field/views/additional-service-price.view.html'"
                           popover-placement="bottom" popover-trigger="'outsideClick'"
                           popover-is-open="ctrl.popovers[service.attributes.name]"></a>
                    </div>
                    <div class="field add-service-button" ng-if=!ctrl.disabled><a href=""
                                                                                  class="icon action-icon add-button icon-plus i-8x"
                                                                                  ng-click="ctrl.addAdditionalService(service); service.attributes.name = null"></a>
                    </div>
                    <span class="caption-input">Puoi inserire altri servizi cliccando sul tasto "+"</span>
                </div>
            </div>
        </div>
        <!-- OTHER -->
        <div class="row">
            <div class="col-md-12 field radio-group">
                <div class="separator"></div>
                <div class="input-label">Durante la notte il Capitano rimane a bordo?</div>
                <div class="row">
                    <div class="col-md-6 field">
                        <div class="row input-container">
                            <div class="col-xs-1 field naus-radio input-container-child">
                                <input name="captain_night_aboard" type="radio"
                                       ng-required="true"
                                       ng-model="ctrl.experience.captain_night_aboard"
                                       ng-value="true"
                                       ng-disabled="ctrl.disabled"
                                       ng-change="ctrl.patchExperience()"
                                       id="captain_night_aboard">
                            </div>
                            <div class="col-xs-7 field input-container-child">
                                <label for="captain_night_aboard">Sì</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 field">
                        <div class="row input-container">
                            <div class="col-xs-1 field naus-radio input-container-child">
                                <input name="captain_night_aboard" type="radio" ng-disabled="ctrl.disabled"
                                       ng-required="true"
                                       ng-model="ctrl.experience.captain_night_aboard"
                                       ng-value="false"
                                       ng-change="ctrl.patchExperience()"
                                       id="not_captain_night_aboard">
                            </div>
                            <div class="col-xs-7 field input-container-child">
                                <label for="not_captain_night_aboard">No</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 field radio-group">
                <div class="separator"></div>
                <div class="input-label">L’aperitivo è previsto in:</div>
                <div class="row">
                    <div class="col-md-6 field">
                        <div class="row input-container">
                            <div class="col-xs-1 field naus-radio input-container-child">
                                <input name="road_stead" type="radio"
                                       ng-model="ctrl.experience.road_stead"
                                       ng-value="true"
                                       ng-disabled="ctrl.disabled"
                                       ng-change="ctrl.patchExperience()"
                                       id="road_stead">
                            </div>
                            <div class="col-xs-7 field input-container-child">
                                <label for="road_stead">Rada</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 field">
                        <div class="row input-container">
                            <div class="col-xs-1 field naus-radio input-container-child">
                                <input name="road_stead" type="radio" ng-disabled="ctrl.disabled"
                                       ng-model="ctrl.experience.road_stead"
                                       ng-value="false"
                                       ng-change="ctrl.patchExperience()"
                                       id="not_road_stead">
                            </div>
                            <div class="col-xs-7 field input-container-child">
                                <label for="not_road_stead">Porto</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 field radio-group">
                <div class="separator"></div>
                <div class="input-label">In caso di condizioni meteo avverse l'aperitivo viene:</div>
                <div class="row">
                    <div class="col-md-6 field">
                        <div class="row input-container">
                            <div class="col-xs-1 field naus-radio input-container-child">
                                <input name="weather" type="radio"
                                       ng-model="ctrl.experience.weather"
                                       ng-value="true"
                                       ng-disabled="ctrl.disabled"
                                       ng-change="ctrl.patchExperience()"
                                       id="weather">
                            </div>
                            <div class="col-xs-7 field input-container-child">
                                <label for="weather">Cancellato</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 field">
                        <div class="row input-container">
                            <div class="col-xs-1 field naus-radio input-container-child">
                                <input name="weather" type="radio" ng-disabled="ctrl.disabled"
                                       ng-model="ctrl.experience.weather"
                                       ng-value="false"
                                       ng-change="ctrl.patchExperience()"
                                       id="not_weather">
                            </div>
                            <div class="col-xs-7 field input-container-child">
                                <label for="not_weather">Si svolgerà in porto</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 field radio-group">
                <div class="separator"></div>
                <div class="input-label">Per coloro che non hanno il brevetto, è possibile fare il “battesimo
                    subacqueo”?
                </div>
                <div class="row">
                    <div class="col-md-6 field">
                        <div class="row input-container">
                            <div class="col-xs-1 field naus-radio input-container-child">
                                <input name="underwater_baptism" type="radio"
                                       ng-model="ctrl.experience.underwater_baptism"
                                       ng-value="true"
                                       ng-disabled="ctrl.disabled"
                                       ng-change="ctrl.patchExperience()"
                                       id="underwater_baptism">
                            </div>
                            <div class="col-xs-7 field input-container-child">
                                <label for="underwater_baptism">Sì</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 field">
                        <div class="row input-container">
                            <div class="col-xs-1 field naus-radio input-container-child">
                                <input name="underwater_baptism" type="radio" ng-disabled="ctrl.disabled"
                                       ng-model="ctrl.experience.underwater_baptism"
                                       ng-value="false"
                                       ng-change="ctrl.patchExperience()"
                                       id="not_underwater_baptism">
                            </div>
                            <div class="col-xs-7 field input-container-child">
                                <label for="not_underwater_baptism">No</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 field radio-group">
                <div class="separator"></div>
                <div class="input-label">Tra chi viene suddiviso il pescato?</div>
                <div class="row">
                    <div class="col-md-4 field" ng-repeat="partition in ctrl.fishing_partitions">
                        <div class="row input-container">
                            <div class="col-xs-1 field naus-radio input-container-child">
                                <input name="fishing_partitions" type="radio"
                                       ng-model="ctrl.experience.fishing_partition"
                                       ng-value="partition.attributes.name"
                                       ng-disabled="ctrl.disabled"
                                       ng-change="ctrl.patchExperience()"
                                       id="{{partition.attributes.name}}">
                            </div>
                            <div class="col-xs-7 field input-container-child">
                                <label for="{{partition.attributes.name}}">{{partition.attributes.text}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 field checkbox-container">
                <div class="separator"></div>
                <div class="input-label">What kind of fishing equipment is included?</div>
                <div class="row">
                    <div class="col-xs-1 field naus-checkbox">
                        <input type="checkbox" ng-disabled="ctrl.disabled"
                               id="fishing_pole"
                               ng-model="ctrl.experience.fishing_pole"
                               ng-change="ctrl.patchExperience()">
                    </div>
                    <div class="col-xs-11">
                        <label for="fishing_pole">
                            Fishing Pole
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1 field naus-checkbox">
                        <input type="checkbox" ng-disabled="ctrl.disabled"
                               id="lures"
                               ng-model="ctrl.experience.lures"
                               ng-change="ctrl.patchExperience()">
                    </div>
                    <div class="col-xs-11">
                        <label for="lures">
                            Lures
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 field radio-group">
                <div class="separator"></div>
                <div class="input-label">Fishing Types</div>
                <div class="row">
                    <div class="col-md-6 field" ng-repeat="fishing_type in ctrl.fishing_types">
                        <div class="row input-container">
                            <div class="col-xs-1 field naus-radio input-container-child">
                                <input name="fishing_type" type="radio"
                                       ng-model="ctrl.experience.fishing_type"
                                       ng-value="fishing_type.attributes.name"
                                       ng-disabled="ctrl.disabled"
                                       ng-change="ctrl.patchExperience()"
                                       id="{{fishing_type.attributes.name}}">
                            </div>
                            <div class="col-xs-7 field input-container-child">
                                <label for="{{fishing_type.attributes.name}}" translate>
                                    {{'fishing_types.' + fishing_type.attributes.name}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 field">
                <div class="separator"></div>
                <div class="input-label">A bordo sono previsti:</div>
                <div class="row">
                    <div class="col-md-6 field checkbox-container">
                        <div class="row">
                            <div class="col-xs-1 field naus-checkbox">
                                <input type="checkbox" ng-disabled="ctrl.disabled"
                                       ng-change="ctrl.patchExperience()"
                                       id="fresh_bag"
                                       ng-model="ctrl.experience.fresh_bag">
                            </div>
                            <div class="field">
                                <label for="fresh_bag">Fresh bag</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 field checkbox-container">
                        <div class="row">
                            <div class="col-xs-1 field naus-checkbox">
                                <input type="checkbox" ng-disabled="ctrl.disabled"
                                       ng-change="ctrl.patchExperience()"
                                       id="ice"
                                       ng-model="ctrl.experience.ice">
                            </div>
                            <div class="field">
                                <label for="ice">Ice</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 field radio-group">
                <div class="separator"></div>
                <div class="input-label">La cena è prevista in:</div>
                <div class="row">
                    <div class="col-md-6 field">
                        <div class="row input-container">
                            <div class="col-xs-1 field naus-radio input-container-child">
                                <input name="road_stead_dinner" type="radio"
                                       ng-model="ctrl.experience.road_stead"
                                       ng-value="true"
                                       ng-change="ctrl.patchExperience()"
                                       ng-disabled="ctrl.disabled"
                                       id="road_stead_dinner">
                            </div>
                            <div class="col-xs-7 field input-container-child">
                                <label for="road_stead_dinner">Rada</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 field">
                        <div class="row input-container">
                            <div class="col-xs-1 field naus-radio input-container-child">
                                <input name="road_stead_dinner" type="radio" ng-disabled="ctrl.disabled"
                                       ng-model="ctrl.experience.road_stead"
                                       ng-value="false"
                                       ng-change="ctrl.patchExperience()"
                                       id="not_road_stead_dinner">
                            </div>
                            <div class="col-xs-7 field input-container-child">
                                <label for="not_road_stead_dinner">Porto</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 field radio-group">
                <div class="separator"></div>
                <div class="input-label">Hai un menu fisso?</div>
                <div class="row">
                    <div class="col-md-6 field">
                        <div class="row input-container">
                            <div class="col-xs-1 field naus-radio input-container-child">
                                <input name="fixed_menu" type="radio"
                                       ng-model="ctrl.experience.fixed_menu"
                                       ng-value="true"
                                       ng-change="ctrl.patchExperience()"
                                       ng-disabled="ctrl.disabled"
                                       id="fixed_menu">
                            </div>
                            <div class="col-xs-7 field input-container-child">
                                <label for="fixed_menu">Sì</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 field">
                        <div class="row input-container">
                            <div class="col-xs-1 field naus-radio input-container-child">
                                <input name="fixed_menu" type="radio" ng-disabled="ctrl.disabled"
                                       ng-model="ctrl.experience.fixed_menu"
                                       ng-value="false"
                                       ng-change="ctrl.patchExperience()"
                                       id="not_fixed_menu">
                            </div>
                            <div class="col-xs-7 field input-container-child">
                                <label for="not_fixed_menu">No</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 field">
                <div class="separator"></div>
                <div class="input-label">Cosa prevede?</div>
                <div class="row">
                    <div class="col-md-6 field checkbox-container" ng-repeat="food in ctrl.foods">
                        <div class="row">
                            <div class="col-xs-1 field naus-checkbox">
                                <input type="checkbox" ng-disabled="ctrl.disabled"
                                       id="{{food.name}}"
                                       ng-change="ctrl.patchExperience()"
                                       ng-model="ctrl.experience[food.name]">
                            </div>
                            <div class="field">
                                <label for="{{food.name}}">{{food.text}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ACTIONS: SUSPEND/REJECT -->
        <div class="row actions-bottom"
             ng-if="ctrl.experience.status == 'pending'">
            <div class="col-lg-6 text-center">
                <a href="" ng-click="ctrl.suspendStep(2)" class="suspend-button"><span
                        class="icon icon-suspended i-4x"></span>SUSPEND STEP 2</a>
            </div>
            <div class="col-lg-6 text-center">
                <a href="" ng-click="ctrl.reject()" class="reject-button"><span class="icon icon-rejected i-4x"></span>REJECT
                    EXPERIENCE</a>
            </div>
        </div>
    </div>
</form>