<form novalidate class="form" name="ctrl.step3">
    <div class="container-fluid">
        <div class="row form-title">
            <span>Fase 3</span>
        </div>
        <!-- TITLE AND DESCRIPTION -->
        <div class="row">
            <div class="col-md-6 field">
                <div class="separator"></div>
                <div class="input-label">Titolo</div>
                <div class="input"><input ng-required="true" type="text" ng-maxlength="300" ng-model="ctrl.experience.title"
                                          ng-disabled="ctrl.disabled"
                                          ng-blur="ctrl.patchExperience()">
                </div>
            </div>
            <div class="col-md-6 field">
                <div class="separator"></div>
                <div class="input-label">Descrizione</div>
                <div class="input">
                    <textarea ng-required="true" rows="3" ng-maxlength="2000" ng-disabled="ctrl.disabled"
                              ng-model="ctrl.experience.description" ng-blur="ctrl.patchExperience()"></textarea>
                </div>
            </div>
        </div>
        <!-- SEO TITLE AND SLUG URL -->
        <div class="row hidden">
            <div class="col-md-6 field">
                <div class="separator"></div>
                <div class="input-label">Meta Title (SEO)</div>
                <div class="input"><input type="text" ng-maxlength="60" ng-model="ctrl.experience.seo_title"
                                          ng-blur="ctrl.getSlugUrl();"
                                          ng-disabled="ctrl.slugEditDisabled">
                </div>
            </div>
            <div class="col-md-6 field">
                <div class="separator"></div>
                <div class="input-label">Slug URL</div>
                <div class="input"><input type="text" ng-model="ctrl.experience.slug_url"
                                          ng-disabled="true">
                </div>
            </div>
        </div>
        <!-- META DESCRIPTION -->
        <div class="row hidden">
            <div class="col-md-12 field">
                <div class="separator"></div>
                <div class="input-label">Meta Description (SEO)</div>
                <div class="input">
                    <textarea rows="3" ng-maxlength="160" ng-disabled="ctrl.slugEditDisabled"
                              ng-model="ctrl.experience.seo_description"
                              ng-blur="ctrl.patchExperience()"></textarea>
                </div>
            </div>
        </div>
        <!-- PHOTOS -->
        <div class="row" id="photos-container">
            <div class="col-md-12 field">
                <div class="separator"></div>
                <div class="input-label">Photos of the experience</div>
                <div class="row photos">
                    <div class="col-md-4 field" ng-repeat="photo in ctrl.experience.photos">
                        <div>
                            <div class="overlay"></div>
                            <span class="icon icon-preview i-8x eye" ng-class="{hidden: ctrl.disabled}"
                                  ng-click="ctrl.editPhoto($index)"></span>
                            <img ng-src="{{ctrl.experience.photos[$index].attributes.link}}"/>
                        </div>
                        <modal ng-if="ctrl['photoModal' + $index]" modal-title="UPLOAD PHOTO"
                               on-close="ctrl['photoModal' + $index] = false">
                            <upload-photo on-complete="ctrl.updatePhoto($index, link)"
                                          on-close="ctrl['photoModal' + $index] = false"
                                          on-delete="ctrl.deletePhoto($index)"></upload-photo>
                        </modal>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="ctrl.experience.photos.length < 6 && !ctrl.disabled">
            <div class="col-xs-12">
                <a href ng-click="ctrl['photoModal' + ctrl.experience.photos.length] = true">
                    <div class="action">
                        <span class="icon action-icon icon-plus"></span>
                        <span class="text">Insert new photo</span>
                    </div>
                </a>
            </div>
            <modal ng-if="ctrl['photoModal' + ctrl.experience.photos.length]" modal-title="UPLOAD PHOTO"
                   on-close="ctrl['photoModal' + ctrl.experience.photos.length] = false">
                <upload-photo on-complete="ctrl.addPhoto(link)"
                              on-close="ctrl['photoModal' + ctrl.experience.photos.length] = false"
                              new-photo=true></upload-photo>
            </modal>
        </div>
        <!-- ACTIONS: SUSPEND/CONTINUE -->
        <div class="row actions-bottom" ng-if="ctrl.experience.status == 'pending'">
            <div class="col-lg-6 text-center">
                <a href="" ng-click="ctrl.suspendStep(3)" class="suspend-button"><span
                        class="icon icon-suspended i-4x"></span>SUSPEND STEP 3</a>
            </div>
            <div class="col-lg-6 text-center">
                <a href="" ng-click="ctrl.reject()" class="reject-button"><span class="icon icon-rejected i-4x"></span>REJECT
                    EXPERIENCE</a>
            </div>
        </div>
    </div>
</form>

<!--PHOTO ERROR FRONTEND MODAL-->
<modal ng-if="ctrl.photoErrorModal" modal-title="ERROR"
       on-close="ctrl.photoErrorModal = false">
    INVALID PHOTO FORMAT
</modal>