<form novalidate class="form" name="ctrl.step1">
    <div class="container-fluid">
        <div class="row form-title">
            <span>Fase 1</span>
        </div>
        <!-- EXPERIENCE TYPE -->
        <div class="row">
            <div class="col-md-6 field">
                <div class="separator"></div>
                <div class="input-label">Attività proposta</div>
                <div class="input" uib-dropdown>
                    <div class="select" id="type" uib-dropdown-toggle ng-disabled="ctrl.disabled" translate>
                        {{'experience_types.' + ctrl.experience.type}}
                    </div>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="type">
                        <li ng-repeat="type in ctrl.experience_types_list" role="menuitem"
                            ng-click="ctrl.experience.type = type.name; ctrl.patchExperience()">
                            <a href="" translate>{{'experience_types.' + type.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 field">
                <div class="separator"></div>
                <div class="input-label">Durata dell'attività</div>
                <div class="row">
                    <div class="field"
                         ng-class="{'col-md-12': ctrl.experience.duration <= 1 || ctrl.experience.duration == null, 'col-md-10': ctrl.experience.duration > 1}">
                        <div class="input" uib-dropdown>
                            <div class="select" id="duration" uib-dropdown-toggle ng-disabled="ctrl.disabled">
                                {{ctrl.getExperienceDurationTextFromQuantity(ctrl.experience.duration)}}
                            </div>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="duration">
                                <li ng-repeat="duration in ctrl.durations" role="menuitem"
                                    ng-click="ctrl.experience.duration = duration.name == 'up-to-one-day' ? 1 : 2; ctrl.patchExperience()">
                                    <a href="">{{ctrl.getExperienceDurationTextFromName(duration.name)}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 field" ng-if="ctrl.experience.duration > 1">
                        <div class="input">
                            <input ng-required="true" type="number" ng-model="ctrl.experience.duration"
                                   ng-disabled="ctrl.disabled" ng-min="2"
                                   ng-blur="ctrl.patchExperience()">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- DEPARTURE -->
        <div class="row">
            <div class="col-md-6 field">
                <div class="separator"></div>
                <div class="input-label">Porto di partenza</div>
                <div class="input">
                    <input ng-required="true" type="text" ng-model="ctrl.experience.departure_port"
                           ng-disabled="ctrl.disabled" ng-maxlength="100"
                           ng-blur="ctrl.patchExperience()">
                </div>
            </div>
            <div class="col-md-6 field">
                <div class="separator"></div>
                <div class="input-label">Orario di partenza</div>
                <div class="input">
                    <div ng-disabled="ctrl.disabled" uib-timepicker ng-model="ctrl.departure_time" show-spinners="false"
                         show-meridian="false"></div>
                </div>
            </div>
        </div>
        <!-- DEPARTURE MAP -->
        <div class="row map">
            <div class="col-md-12 map-indications">
                <span>Il segnaposto indica il luogo in cui avverà l'incontro tra il Capitano e i suoi Ospiti</span>
            </div>
            <div class="col-md-12 map-box" ng-if="!ctrl.loading">
                <div id="departure_map" ng-init="ctrl.triggerMapLoad()"></div>
            </div>
        </div>
        <!-- ARRIVAL -->
        <div class="row">
            <div class="col-md-6 field">
                <div class="separator"></div>
                <div class="input-label">Porto di rientro</div>
                <div class="input"><input ng-required="true" type="text" ng-model="ctrl.experience.arrival_port"
                                          ng-disabled="ctrl.disabled" ng-maxlength="100"
                                          ng-blur="ctrl.patchExperience()">
                </div>
            </div>
            <div class="col-md-6 field">
                <div class="separator"></div>
                <div class="input-label">Orario di rientro</div>
                <div class="input">
                    <div ng-disabled="ctrl.disabled" uib-timepicker ng-model="ctrl.arrival_time" show-spinners="false"
                         show-meridian="false"
                    ></div>
                </div>
            </div>
        </div>
        <!-- ARRIVAL MAP -->
        <div class="row map">
            <div class="col-md-12 map-indications">
                <span>Il segnaposto indica il luogo in cui avverà il rientro</span>
            </div>
            <div class="col-md-12 map-box">
                <div id="arrival_map"></div>
            </div>
        </div>
        <!-- DAYS OF WEEK -->
        <div class="row">
            <div class="col-md-12 field">
                <div class="separator"></div>
                <div class="input-label">Days of the week when the experience can start</div>
                <div class="row">
                    <div class="col-md-6 field">
                        <div class="label-closable">
                            <span ng-repeat="day in ctrl.days" class="label-closable-text">
                            {{day.text}}<a ng-if="!ctrl.disabled" href=""
                                           ng-click="ctrl.toggleDay(day, false)"
                                           class="icon-close i-5x"></a></span>
                        </div>
                    </div>
                    <div class="col-md-6 field">
                        <div class="row">
                            <div class="col-xs-3 field" id="add-button-availability"><a ng-if="!ctrl.disabled" href=""
                                                                                        class="icon action-icon add-button icon-plus i-8x"
                                                                                        ng-click="ctrl.toggleDay(ctrl.selectedDay)"></a>
                            </div>
                            <div class="col-xs-9 field">
                                <div class="input" uib-dropdown>
                                    <div class="select" uib-dropdown-toggle ng-disabled="ctrl.disabled">
                                        {{ctrl.selectedDay.text || ctrl.days_list[0].text}}
                                    </div>
                                    <ul class="dropdown-menu" uib-dropdown-menu role="menu"
                                        aria-labelledby="motor-type">
                                        <li ng-repeat="day in ctrl.days_list" role="menuitem"
                                            ng-click="ctrl.selectedDay = day;">
                                            <a href="">{{day.text}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- AVAILABILITIES -->
        <div class="row">
            <div class="col-md-12 price">
                <div class="row heading">
                    <div class="col-md-12 field">
                        <div class="separator"></div>
                        <div class="input-label">Availability periods</div>
                    </div>
                </div>
                <div class="row single" ng-repeat="availability in ctrl.editedAvailabilities track by $index">
                    <div class="col-lg-3 field">
                        <div class="input">
                            <naus-datepicker-popup date="availability.attributes.date_start" language="en" is-open=availability.date_start_open on-select="ctrl.patchAvailability(availability)" disabled="ctrl.disabled"></naus-datepicker-popup>
                        </div>
                    </div>
                    <div class="col-lg-3 field">
                        <div class="input">
                            <naus-datepicker-popup date="availability.attributes.date_end" language="en" is-open=availability.date_end_open on-select="ctrl.patchAvailability(availability)" disabled="ctrl.disabled"></naus-datepicker-popup>
                        </div>
                    </div>
                    <div ng-class="{hidden: ctrl.disabled}" class="col-md-6 field remove-button-availability"><a
                            ng-if="!ctrl.disabled" href=""
                            class="icon action-icon add-button icon-minus i-8x"
                            ng-click="ctrl.removeAvailability($index, availability.id);"></a>
                    </div>
                </div>
                <div ng-class="{hidden: ctrl.disabled}" class="row"
                     ng-init="newAvailability = {attributes:{date_start: null, date_end: null}};">
                    <div class="col-lg-3 field">
                        <div class="input">
                            <naus-datepicker-popup date="newAvailability.attributes.date_start" language="en" is-open=newAvailability.date_start_open disabled="ctrl.disabled"></naus-datepicker-popup>
                        </div>
                    </div>
                    <div class="col-lg-3 field">
                        <div class="input">
                            <naus-datepicker-popup date="newAvailability.attributes.date_end" language="en" is-open=newAvailability.date_end_open disabled="ctrl.disabled"></naus-datepicker-popup>
                        </div>
                    </div>
                    <div class="col-md-6 field add-button-availability"><a ng-if="!ctrl.disabled" href=""
                                                                           class="icon action-icon add-button icon-plus i-8x"
                                                                           ng-click="ctrl.addAvailability(newAvailability);"></a>
                    </div>
                    <span class="caption-input">Puoi aggiungere nuove disponibilità selezionando il pulsante “+”</span>
                </div>
            </div>
        </div>
        <!-- ACTIONS: SUSPEND/CONTINUE -->
        <div class="row actions-bottom"
             ng-if="ctrl.experience.status == 'pending'">
            <div class="col-lg-6 text-center">
                <a href="" ng-click="ctrl.suspendStep(1)" class="suspend-button"><span
                        class="icon icon-suspended i-4x"></span>SUSPEND STEP 1</a>
            </div>
            <div class="col-lg-6 text-center">
                <a href="" ng-click="ctrl.reject()" class="reject-button"><span class="icon icon-rejected i-4x"></span>REJECT
                    EXPERIENCE</a>
            </div>
        </div>
    </div>
</form>