<form novalidate class="form" name="ctrl.step4">
    <div class="container-fluid">
        <div class="row form-title">
            <span>Fase 4</span>
        </div>
        <!-- PRICE TYPE -->
        <div class="row">
            <div class="col-md-12 field radio-group">
                <div class="separator"></div>
                <div class="input-label">Price</div>
                <div class="row">
                    <div class="col-md-6 field">
                        <div class="row input-container">
                            <div class="col-xs-1 field naus-radio input-container-child">
                                <input name="events" type="radio"
                                       ng-model="ctrl.experience.is_fixed_price"
                                       ng-value="true"
                                       ng-disabled="ctrl.disabled"
                                       ng-change="ctrl.setFixedPeriod(true); ctrl.patchExperience()"
                                       id="fixed">
                            </div>
                            <div class="col-xs-7 field input-container-child">
                                <label for="fixed">Prezzo fisso</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 field">
                        <div class="row input-container">
                            <div class="col-xs-1 field naus-radio input-container-child">
                                <input name="events" type="radio" ng-disabled="ctrl.disabled"
                                       ng-model="ctrl.experience.is_fixed_price"
                                       ng-value="false"
                                       ng-change="ctrl.setFixedPeriod(false); ctrl.patchExperience()"
                                       id="not_fixed">
                            </div>
                            <div class="col-xs-7 field input-container-child">
                                <label for="not_fixed">Prezzo variabile</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- PERIODS -->
        <div class="row" ng-repeat="period in ctrl.periods | filter:ctrl.periodsFilter">
            <div class="col-md-12 period">
                <!-- ENTIRE BOAT -->
                <div class="row">
                    <div class="col-md-6 field radio-group">
                        <div class="separator"></div>
                        <div class="input-label">Entire boat</div>
                        <div class="row">
                            <div class="col-md-6 field">
                                <div class="row input-container">
                                    <div class="col-xs-1 field naus-radio input-container-child">
                                        <input ng-required="ctrl.experience.is_fixed_price" name="entire_boat_{{$index}}"
                                               type="radio"
                                               ng-model="period.attributes.entire_boat"
                                               ng-value="true"
                                               ng-disabled="ctrl.disabled"
                                               ng-change="ctrl.patchPeriod(period)"
                                               id="entire_boat_{{$index}}">
                                    </div>
                                    <div class="col-xs-7 field input-container-child">
                                        <label for="entire_boat_{{$index}}">Sì</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 field">
                                <div class="row input-container">
                                    <div class="col-xs-1 field naus-radio input-container-child">
                                        <input ng-required="ctrl.experience.is_fixed_price" name="entire_boat_{{$index}}"
                                               type="radio" ng-disabled="ctrl.disabled"
                                               ng-model="period.attributes.entire_boat"
                                               ng-value="false"
                                               ng-change="ctrl.patchPeriod(period)"
                                               id="not_entire_boat_{{$index}}">
                                    </div>
                                    <div class="col-xs-7 field input-container-child">
                                        <label for="not_entire_boat_{{$index}}">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 field" ng-if="period.attributes.entire_boat">
                        <div class="separator"></div>
                        <div class="input-label">Price for the entire boat</div>
                        <div class="input"><input required type="number" ng-min="1"
                                                  ng-model="period.attributes.price"
                                                  ng-blur="ctrl.patchPeriod(period)"
                                                  ng-disabled="ctrl.disabled"></div>
                    </div>
                    <div class="col-md-6 field" ng-if="!period.attributes.entire_boat">
                        <div class="separator"></div>
                        <div class="input-label">Price per person</div>
                        <div class="input"><input ng-required="true" type="number"
                                                  ng-min="1"
                                                  ng-model="period.single_person_price.attributes.price"
                                                  ng-blur="ctrl.patchPrice(period.single_person_price, period)"
                                                  ng-disabled="ctrl.disabled">
                        </div>
                    </div>
                </div>
                <!-- PERIOD -->
                <div class="row" ng-if="!ctrl.experience.is_fixed_price">
                    <div class="col-md-12 field">
                        <div class="row heading">
                            <div class="col-md-12 field">
                                <div class="separator"></div>
                                <div class="input-label">Price valid for the period:</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 field">
                                <div class="input">
                                    <naus-datepicker-popup date="period.attributes.date_start" language="en" is-open=period.date_start_open on-select="ctrl.patchPeriod(period)" disabled="ctrl.disabled"></naus-datepicker-popup>
                                </div>
                            </div>
                            <div class="col-lg-3 field">
                                <div class="input">
                                    <naus-datepicker-popup date="period.attributes.date_end" language="en" is-open=period.date_end_open on-select="ctrl.patchPeriod(period)" disabled="ctrl.disabled"></naus-datepicker-popup>
                                </div>
                            </div>
                            <div ng-class="{hidden: ctrl.disabled}" class="col-md-6 field remove-button-price"><a
                                    href=""
                                    class="icon action-icon add-button icon-minus i-8x"
                                    ng-click="ctrl.removePeriod(period)"></a>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- MIN PERSON -->
                <div class="row">
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Numero minimo di persone</div>
                        <div class="input"><input ng-required="ctrl.experience.is_fixed_price" type="number" ng-min="1"
                                                  ng-model="period.attributes.min_person"
                                                  ng-blur="ctrl.patchPeriod(period)"
                                                  ng-disabled="ctrl.disabled">
                        </div>
                    </div>
                </div>
                <!-- PRICE PER DIFFERENT NUMBERS OF PEOPLE -->
                <div class="row">
                    <div class="col-md-12 price">
                        <div class="row heading">
                            <div class="col-md-12 field">
                                <div class="separator"></div>
                                <div class="input-label" ng-if="period.attributes.entire_boat">Special prices
                                    for less guests than the maximum (max. is {{ctrl.experience.seats}})
                                </div>
                                <div class="input-label" ng-if="!period.attributes.entire_boat">Special
                                    prices for groups of guests
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 field text-center">
                                <div class="input-label">Guests</div>
                            </div>
                            <div class="col-md-3 field text-center">
                                <div class="input-label" ng-if="period.attributes.entire_boat">Total price
                                    ({{ctrl.captain.currency}})
                                </div>
                                <div class="input-label" ng-if="!period.attributes.entire_boat">Price per
                                    person ({{ctrl.captain.currency}})
                                </div>
                            </div>
                        </div>
                        <div class="row single" ng-repeat="price in period.prices track by $index">
                            <div class="col-md-3 field">
                                <div class="input"><input ng-required="ctrl.experience.is_fixed_price" type="number"
                                                          ng-min="2"
                                                          placeholder="Inserisci numero di persone"
                                                          ng-model="price.attributes.person"
                                                          ng-blur="ctrl.patchPrice(price)"
                                                          ng-disabled="true">
                                </div>
                            </div>
                            <div class="col-md-3 field">
                                <div class="input"><input ng-required="ctrl.experience.is_fixed_price" type="number"
                                                          ng-min="1"
                                                          placeholder="Inserisci prezzo"
                                                          ng-blur="ctrl.patchPrice(price)"
                                                          ng-model="price.attributes.price" ng-disabled="ctrl.disabled">
                                </div>
                            </div>
                            <div ng-class="{hidden: ctrl.disabled}" class="col-md-6 field remove-button-price"><a
                                    href=""
                                    class="icon action-icon add-button icon-minus i-8x"
                                    ng-click="ctrl.removePrice(period, price);"></a>
                            </div>
                        </div>
                        <div class="row" ng-init="newPrice = {}">
                            <div class="col-md-3 field">
                                <div class="input"><input type="number"
                                                          ng-min="2"
                                                          placeholder="Inserisci numero di persone"
                                                          ng-model="newPrice.attributes.person"
                                                          ng-disabled="ctrl.disabled">
                                </div>
                            </div>
                            <div class="col-md-3 field">
                                <div class="input"><input type="number"
                                                          ng-min="1"
                                                          placeholder="Inserisci prezzo"
                                                          ng-model="newPrice.attributes.price"
                                                          ng-disabled="ctrl.disabled">
                                </div>
                            </div>
                            <div ng-class="{hidden: ctrl.disabled}" class="col-md-6 field add-button-price">
                                <a href=""
                                   class="icon action-icon add-button icon-plus i-8x"
                                   ng-click="ctrl.addPrice(period, newPrice); newPrice = {};"></a>
                            </div>
                            <span class="caption-input">Puoi propore prezzi speciali in base al numero di persone selezionando il pulsante “+”</span>
                        </div>
                    </div>
                </div>

                <hr style="border-top: 2px solid #b2b2b2;">
            </div>
        </div>
        <!-- NEW PERIOD (hide if fixed price)-->
        <div class="row" ng-class="{hidden: ctrl.experience.is_fixed_price || ctrl.disabled}">
            <div class="col-md-12 field">
                <div class="row heading">
                    <div class="col-md-12 field">
                        <div class="separator"></div>
                        <div class="input-label">Imposta nuovo periodo</div>
                    </div>
                </div>
                <div class="row" ng-init="newPeriod = {id: null}">
                    <div class="col-md-4 field">
                        <div class="input">
                            <naus-datepicker-popup date="newPeriod.attributes.date_start" language="en"
                                                   is-open=newPeriod.date_start_open></naus-datepicker-popup>
                        </div>
                    </div>
                    <div class="col-md-4 field">
                        <div class="input">
                            <naus-datepicker-popup date="newPeriod.attributes.date_end" language="en"
                                                   is-open=newPeriod.date_end_open></naus-datepicker-popup>
                        </div>
                    </div>
                    <div class="col-md-4 field" id="add-button-period"><a href=""
                                                                          class="icon action-icon add-button icon-plus i-8x"
                                                                          ng-click="ctrl.addPeriod(newPeriod); newPeriod = {id: null}"></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- OTHERS -->
        <!--DOWN PAYMENT (HIDDEN)-->
        <div class="row">
            <div class="col-md-12 field radio-group">
                <div class="separator"></div>
                <div class="input-label">Vuoi richiedere una caparra del 50% (dell’importo totale) al momento della
                    prenotazione?
                </div>
                <div class="row">
                    <div class="col-md-6 field">
                        <div class="row input-container">
                            <div class="col-xs-1 field naus-radio input-container-child">
                                <input name="down_payment" type="radio"
                                       ng-model="ctrl.experience.down_payment"
                                       ng-value="true"
                                       ng-disabled="ctrl.disabled"
                                       ng-change="ctrl.patchExperience()"
                                       id="down_payment">
                            </div>
                            <div class="field col-xs-7 input-container-child">
                                <label for="down_payment">Sì</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 field">
                        <div class="row input-container">
                            <div class="col-xs-1 field naus-radio input-container-child">
                                <input name="down_payment" type="radio"
                                       ng-disabled="ctrl.disabled"
                                       ng-model="ctrl.experience.down_payment"
                                       ng-value="false"
                                       ng-change="ctrl.patchExperience()"
                                       id="not_down_payment">
                            </div>
                            <div class="col-xs-7 field input-container-child">
                                <label for="not_down_payment">No</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--BOOKING CANCELLATION (HIDDEN)-->
        <div class="row hidden">
            <div class="col-md-6 field">
                <div class="separator"></div>
                <div class="input-label">Entro quanti giorni prima l'utente può annullare la prenotazione senza perdere
                    quanto versato
                </div>
                <div class="input"><input type="number" ng-min="3" ng-max="60"
                                          ng-model="ctrl.experience.cancellation_max_days"
                                          ng-disabled="ctrl.disabled">
                </div>
            </div>
        </div>
        <!--CAUTIONARY DEPOSIT-->
        <div class="row">
            <div class="col-md-12 field radio-group">
                <div class="separator"></div>
                <div class="input-label">Insert cautionary deposit amout</div>
                <div class="row">
                    <div class="col-md-6 field">
                        <input ng-required="true" type="number" ng-model="ctrl.experience.deposit"
                               ng-disabled="ctrl.disabled" ng-min="0"
                               ng-blur="ctrl.patchExperience()">
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="ctrl.experience.deposit">
            <div class="col-md-12 field">
                <div class="separator"></div>
                <div class="input-label">Come può essere versato?</div>
                <div class="row">
                    <div class="col-md-4 field checkbox-container">
                        <div class="row">
                            <div class="col-xs-1 field naus-checkbox">
                                <input type="checkbox" ng-disabled="ctrl.disabled"
                                       id="deposit_cash"
                                       ng-model="ctrl.experience.deposit_cash"
                                       ng-change="ctrl.patchExperience()"
                                >
                            </div>
                            <div class="field">
                                <label for="deposit_cash">Cash</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 field checkbox-container">
                        <div class="row">
                            <div class="col-xs-1 field naus-checkbox">
                                <input type="checkbox" ng-disabled="ctrl.disabled"
                                       id="deposit_card"
                                       ng-change="ctrl.patchExperience()"
                                       ng-model="ctrl.experience.deposit_card">
                            </div>
                            <div class="field">
                                <label for="deposit_card">Credit/Debit card</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 field checkbox-container">
                        <div class="row">
                            <div class="col-xs-1 field naus-checkbox">
                                <input type="checkbox" ng-disabled="ctrl.disabled"
                                       id="deposit_check"
                                       ng-change="ctrl.patchExperience()"
                                       ng-model="ctrl.experience.deposit_check">
                            </div>
                            <div class="field">
                                <label for="deposit_check">Check</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <!--IS SEARCHABLE-->
        <div class="row">
            <div class="col-md-12 field radio-group">
                <div class="separator"></div>
                <div class="input-label">Is this experience visible in the search results?</div>
                <div class="row">
                    <div class="col-md-6 field">
                        <div class="row input-container">
                            <div class="col-xs-1 field naus-radio input-container-child">
                                <input name="is_searchable" type="radio"
                                       ng-model="ctrl.experience.is_searchable"
                                       ng-value="true"
                                       ng-disabled="ctrl.disabled"
                                       id="is_searchable">
                            </div>
                            <div class="field col-xs-7 input-container-child">
                                <label for="is_searchable">
                                    Yes
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 field">
                        <div class="row input-container">
                            <div class="col-xs-1 field naus-radio input-container-child">
                                <input name="is_searchable" type="radio"
                                       ng-model="ctrl.experience.is_searchable"
                                       ng-value="false"
                                       ng-disabled="ctrl.disabled"
                                       id="is_not_searchable">
                            </div>
                            <div class="field col-xs-7 input-container-child">
                                <label for="is_not_searchable">
                                    No
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--SET DEFAULT PERIOD-->
        <div class="row" ng-if="!ctrl.experience.is_fixed_price">
            <div class="col-xs-12">
                <div class="separator"></div>
                <div class="input-label">Set default period</div>
                <div class="row">
                    <div class="col-xs-12" ng-repeat="period in ctrl.periods" ng-if="period.attributes.date_start != null">
                        <div class="row">
                            <div class="col-xs-12 field">
                                <div class="row input-container">
                                    <div class="col-xs-1 field naus-radio input-container-child">
                                        <input name="period" type="radio"
                                               ng-model="period.attributes.is_default"
                                               ng-value="true"
                                               ng-disabled="ctrl.disabled"
                                               ng-change="ctrl.setDefaultPeriod(period)"
                                               id="period-{{$index}}">
                                    </div>
                                    <div class="field col-xs-7 input-container-child">
                                        <label for="period-{{$index}}">
                                            <strong>From:</strong> {{period.attributes.date_start | date}} <strong>To:</strong> {{period.attributes.date_end | date}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>