<div id="seos" class="container-fluid list">
    <div class="row list-controls">
        <span class="count">{{ctrl.perPage}} di {{ctrl.totalItems}} SEOs</span>
        <div class="search-controls">
            <div class="search-box-container">
                <label for="translated">Only not translated</label>
                <input id="translated" type="checkbox"
                       ng-model="ctrl.not_translated"
                       ng-value=true
                       ng-change="ctrl.changeFilter()">
            </div>
        </div>
    </div>
    <div class="row list-table">
        <div class="table-responsive">
            <table class="table" ng-if="!ctrl.loading">
                <thead class="head">
                <tr>
                    <th ng-repeat="column in ctrl.columns" class="column {{column.name}}">{{column.heading}}</th>
                </tr>
                </thead>
                <tbody class="body">
                <tr class="record" ng-repeat="seo in ctrl.data track by $index">
                    <td class="field title">
                        {{seo.attributes.title}}
                    </td>
                    <td class="field date">
                        {{seo.attributes.created_at}}
                    </td>
                    <td class="field language">
                        <img ng-src="/shared/assets/img/{{seo.attributes.language}}.png" class="language-image">
                    </td>
                    <td class="field translated"
                        ng-class="{red: !seo.attributes.translated, green: seo.attributes.translated}">
                        {{seo.attributes.translated}}
                    </td>
                    <td class="field action">
                        <a href="seos/{{seo.id}}" class="icon action-icon icon-preview" go-to>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="loader" ng-if="ctrl.loading"></div>
        </div>
    </div>
    <div class="row list-pagination">
        <div id="pagination" ng-if="ctrl.totalItems">
            <ul uib-pagination
                total-items="ctrl.totalItems" ng-model="ctrl.currentPage" boundary-links="ctrl.boundaryLinks"
                direction-links="ctrl.directionLinks" first-text="FIRST" last-text="LAST"
                max-size="ctrl.pagesToDisplay" items-per-page="ctrl.perPage"
                ng-change="ctrl.pageChanged()">
            </ul>
        </div>
    </div>
</div>