<div ng-if="!ctrl.loading">
    <div class="view-container experience-page">
        <experience experience-promise=ctrl.experiencePromise
                    adults="ctrl.adults"
                    kids="ctrl.kids"
                    babies="ctrl.babies"
                    experience-date="ctrl.experienceDate"
                    toggle-booking-modal=ctrl.toggleBookingModal(open)
                    toggle-login-modal=ctrl.toggleLoginModal(onComplete)></experience>
        <experience-estimation-box experience-promise=ctrl.experiencePromise
                                   estimation-promise=ctrl.estimationPromise
                                   adults="ctrl.adults"
                                   kids="ctrl.kids"
                                   babies="ctrl.babies"
                                   experience-date="ctrl.experienceDate"
                                   toggle-booking-modal=ctrl.toggleBookingModal(open)
                                   toggle-login-modal=ctrl.toggleLoginModal(onComplete)></experience-estimation-box>
    </div>
    <!--FOOTER-->
    <footer></footer>
</div>

<!--BOOKING MODAL-->
<modal class="booking-modal" ng-if="ctrl.bookingModal"
       modal-title="experience.request_booking"
       on-close="ctrl.toggleBookingModal(false)">
    <booking-popup experience-promise="ctrl.experiencePromise"
                   estimation-promise="ctrl.estimationPromise"
                   on-close="ctrl.toggleBookingModal(false)"
                   adults="ctrl.adults"
                   kids="ctrl.kids"
                   babies="ctrl.babies"
                   experience-date="ctrl.experienceDate"></booking-popup>
</modal>

<!--BOOKING ERROR MODAL-->
<modal ng-if="ctrl.modals.error" modal-title="errors.error_modal_title"
       on-close="ctrl.toggleModals(false, false)">
    <div translate>
        {{ctrl.modals.name}}
    </div>
</modal>

<!--BOOKING CONFIRMED MODAL-->
<modal ng-if="ctrl.modals.success" modal-title="booking.request_sent"
       on-close="ctrl.toggleModals(false, true)">
    <div class="booking-confirmed">
        <booking-confirmed user="ctrl.user" on-close="ctrl.toggleModals(false, true)"></booking-confirmed>
    </div>
</modal>

<!--LOGIN MODAL-->
<modal modal-title="header.guest_login" ng-if="ctrl.loginModal" on-close="ctrl.toggleLoginModal()">
    <login-visitors close="ctrl.toggleLoginModal()" on-complete="ctrl.onComplete()"></login-visitors>
</modal>
