<div class="component-loadable dashboard-infobox text-center" ng-class="{'component-loadable-loading': (ctrl.loading || ctrl.translations.loading)}">
    <div ng-hide="ctrl.loading || ctrl.translations.loading">
        <div class="dashboard-infobox-inner">
            <div class="model-photo round naus-border"
                 ng-style="{'background-image': 'url(' + ctrl.boat.photo +')'}"></div>
            <div class="model-name h5"><span>{{ctrl.boatName | translate}}</span></div>
        </div>
        <status-label status-name=ctrl.boat.status model-name="boat"></status-label>
        <div class="dashboard-infobox-inner" ng-if="ctrl.actionObject.visible">
            <hr>
            <naus-btn url="ctrl.actionObject.href" on-click="ctrl.actionObject.action()" custom-classes="['full-width']">
                {{ctrl.actionObject.translationElement | translate}}
            </naus-btn>
        </div>
    </div>

    <div ng-show="ctrl.loading || ctrl.translations.loading" class="loader-alt inside-parent"></div>
</div>