<div class="component-loadable dashboard-single-container" id="edit-boat" ng-class="{'component-loadable-loading': (ctrl.loading || ctrl.translations.loading)}">
    <div ng-if="!(ctrl.loading || ctrl.translations.loading)" class="dashboard-single">
        <uib-accordion template-url="/users/app/components/accordion/accordion.view.html">
            <div uib-accordion-group is-open="true" is-disabled="true"
                 template-url="/users/app/components/accordion/accordion-group.view.html">
                <uib-accordion-heading>
                    <a ng-click="ctrl.onBackClick()" class="icon icon-arrow i-5x light-blue mirror back-button"></a>
                    <span>{{'boat.my_boats' | translate}} - </span><span
                        class="light-blue">{{ctrl.boatName | translate}}</span>
                </uib-accordion-heading>

                <ul class="breadcrumb-steps">
                    <li ng-class="{active: ctrl.step == 1}">
                        <span class="before"></span>
                        <span class="step-text">
                            <span class="step-number">{{'captain_form_breadcrumb.one' | translate}}</span>
                            <span class="step-title">{{'captain_form_breadcrumb.edit_boat' | translate}}</span>
                        </span>
                        <span class="after"></span>
                    </li>
                    <li ng-class="{active: ctrl.step == 2}">
                        <span class="before"></span>
                        <span class="step-text">
                            <span class="step-number">{{'captain_form_breadcrumb.two' | translate}}</span>
                            <span class="step-title">{{'captain_form_breadcrumb.edit_rules' | translate}}</span>
                        </span>
                        <span class="after"></span>
                    </li>
                </ul>

                <!--BOAT-->
                <div ng-if="ctrl.step == 1" class="container-fluid accordion-container">
                    <form class="form form-steps container-fluid" novalidate name="ctrl.form_boat" id="boat-form">
                        <!--CONSTRUCTION SITE & MODEL-->
                        <div class="row form-row no-padding no-border-bottom">
                            <!--CONSTRUCTION SITE-->
                            <div class="col-sm-6 form-col">
                                <div class="form-separator"></div>
                                <div class="input-heading">{{'captain_form.boat_production_site' | translate}}</div>
                                <div class="input">
                                    <input name="production_site" type="text"
                                           ng-model="ctrl.boat.production_site"
                                           ng-disabled="ctrl.disabled"
                                           placeholder="{{'captain_form.placeholder_boat_production_site' | translate}}"
                                           ng-change="ctrl.resetField('production_site')"
                                           ng-blur="ctrl.patchInput('production_site', false)"
                                           maxlength="150"
                                           ng-required="false">
                                    <error-messages field-name="production_site" translation-name="boat_production_site"
                                                    controller-errors=ctrl.errors page="captain_form"></error-messages>
                                </div>
                            </div>
                            <!--MODEL-->
                            <div class="col-sm-6 form-col">
                                <div class="form-separator"></div>
                                <div class="input-heading">{{'captain_form.boat_model' | translate}}*</div>
                                <div class="input">
                                    <input name="model" type="text"
                                           ng-model="ctrl.boat.model"
                                           ng-disabled="ctrl.disabled"
                                           placeholder="{{'captain_form.placeholder_boat_model' | translate}}"
                                           ng-change="ctrl.resetField('model')"
                                           ng-blur="ctrl.patchInput('model', false)"
                                           maxlength="150"
                                           ng-required="true">
                                    <error-messages field-name="model" translation-name="boat_model"
                                                    controller-errors=ctrl.errors page="captain_form"></error-messages>
                                </div>
                            </div>
                        </div>
                        <!--NAME & CONSTRUCTION YEAR-->
                        <div class="row form-row no-padding no-border-bottom">
                            <!--NAME-->
                            <div class="col-sm-6 form-col">
                                <div class="form-separator"></div>
                                <div class="input-heading">{{'captain_form.boat_name' | translate}}</div>
                                <div class="input">
                                    <input name="boat_name" type="text"
                                           ng-model="ctrl.boat.name"
                                           ng-disabled="ctrl.disabled"
                                           placeholder="{{'captain_form.placeholder_boat_name' | translate}}"
                                           ng-change="ctrl.resetField('boat_name')"
                                           ng-blur="ctrl.patchInput('boat_name', false)"
                                           maxlength="100"
                                           ng-required="false">
                                    <error-messages field-name="boat_name" translation-name="boat_name"
                                                    controller-errors=ctrl.errors page="captain_form"></error-messages>
                                </div>
                            </div>
                            <!--CONSTRUCTION YEAR-->
                            <div class="col-sm-6 form-col">
                                <div class="form-separator"></div>
                                <div class="input-heading">{{'captain_form.boat_construction_year' | translate}}</div>
                                <div class="input" uib-dropdown is-open="ctrl.dropdowns.construction_year">
                                    <div class="select" id="construction_year" uib-dropdown-toggle
                                         ng-disabled="ctrl.disabled">
                                        <span class="select-text untouched"
                                              ng-show="ctrl.boat.construction_year == null">{{'captain_form.placeholder_boat_construction_year' | translate}}</span>
                                        <span class="select-text" ng-hide="ctrl.boat.construction_year == null">{{ctrl.boat.construction_year}}</span>
                                        <span class="icon pull-right"
                                              ng-class="{'icon-arrow-down': !ctrl.dropdowns.construction_year, 'icon-arrow-up': ctrl.dropdowns.construction_year}"></span>
                                    </div>
                                    <ul class="dropdown-menu" uib-dropdown-menu role="menu"
                                        aria-labelledby="construction_year">
                                        <li ng-repeat="year in ctrl.boatYears" role="menuitem"
                                            ng-click="ctrl.boat.construction_year = year; ctrl.validateRestorationYear(); ctrl.patchInput('construction_year', true);">
                                            <a ng-href="">{{year}}</a>
                                        </li>
                                    </ul>
                                </div>
                                <error-messages field-name="construction_year" translation-name="boat_construction_year"
                                                controller-errors=ctrl.errors page="captain_form"></error-messages>
                            </div>
                        </div>

                        <!--RESTORATION YEAR & TYPE-->
                        <div class="row form-row no-padding no-border-bottom">
                            <!--RESTORATION YEAR-->
                            <div class="col-sm-6 form-col">
                                <div class="form-separator"></div>
                                <div class="input-heading">{{'captain_form.boat_restoration_year' | translate}}</div>
                                <div class="input" uib-dropdown is-open="ctrl.dropdowns.restoration_year">
                                    <div class="select" id="restoration_year" uib-dropdown-toggle
                                         ng-disabled="ctrl.disabled">
                                        <span class="select-text untouched"
                                              ng-show="ctrl.boat.restoration_year == null">{{'captain_form.placeholder_boat_restoration_year' | translate}}</span>
                                        <span class="select-text" ng-hide="ctrl.boat.restoration_year == null">{{ctrl.boat.restoration_year}}</span>
                                        <span class="icon pull-right"
                                              ng-class="{'icon-arrow-down': !ctrl.dropdowns.restoration_year, 'icon-arrow-up': ctrl.dropdowns.restoration_year}"></span>
                                    </div>
                                    <ul class="dropdown-menu" uib-dropdown-menu role="menu"
                                        aria-labelledby="restoration_year">
                                        <li ng-repeat="year in ctrl.boatYears | filter: ctrl.restorationYearFilter"
                                            role="menuitem"
                                            ng-click="ctrl.boat.restoration_year = year; ctrl.patchInput('restoration_year', true)">
                                            <a ng-href="">{{year}}</a>
                                        </li>
                                    </ul>
                                </div>
                                <span class="input-caption">{{'captain_form.boat_restoration_year_caption' | translate}}</span>
                                <error-messages field-name="restoration_year" translation-name="boat_restoration_year"
                                                controller-errors=ctrl.errors page="captain_form"></error-messages>
                            </div>
                            <!--TYPE-->
                            <div class="col-sm-6 form-col">
                                <div class="form-separator"></div>
                                <div class="input-heading">{{'captain_form.boat_type' | translate}}*</div>
                                <div class="input input-group-icon" uib-dropdown is-open="ctrl.dropdowns.type">
                                    <span class="input-group-addon">
                                        <span class="icon icon-boat" ng-show="ctrl.boat.type == null"></span>
                                        <span class="icon icon-{{ctrl.boat.type}}"
                                              ng-show="ctrl.boat.type != null"></span>
                                    </span>
                                    <div class="select input-group-input" id="boat_type" uib-dropdown-toggle
                                         ng-disabled="ctrl.disabled">
                                        <span class="select-text untouched" ng-show="ctrl.boat.type == null">{{'captain_form.placeholder_boat_type' | translate}}</span>
                                        <span class="select-text" ng-hide="ctrl.boat.type == null">{{'boat_types.' + ctrl.boat.type | translate}}</span>
                                        <span class="icon pull-right"
                                              ng-class="{'icon-arrow-down': !ctrl.dropdowns.type, 'icon-arrow-up': ctrl.dropdowns.type}"></span>
                                    </div>
                                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="boat_type">
                                        <li ng-repeat="type in ctrl.boatTypes | filter: {attributes: {name: '!' + ctrl.boat.type}}"
                                            role="menuitem"
                                            ng-click="ctrl.boat.type = type.attributes.name; ctrl.patchInput('boat_type', true)"
                                            class="item-icon-group">
                                            <span class="item-icon icon-{{type.attributes.name}}"></span>
                                            <a ng-href="" class="item-icon-text">
                                                <span class="pull-left">{{'boat_types.' + type.attributes.name | translate}}</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <error-messages field-name="boat_type" translation-name="boat_type"
                                                controller-errors=ctrl.errors page="captain_form"></error-messages>
                            </div>
                        </div>
                        <!--BOAT MATERIAL & LENGTH & HAS INSURANCE-->
                        <div class="row form-row no-padding no-border-bottom">
                            <!--BOAT MATERIAL-->
                            <div class="col-sm-4 form-col">
                                <div class="form-separator"></div>
                                <div class="input-heading">{{'captain_form.boat_material' | translate}}</div>
                                <div class="input" uib-dropdown is-open="ctrl.dropdowns.material">
                                    <div class="select" id="material" uib-dropdown-toggle ng-disabled="ctrl.disabled">
                                        <span class="select-text untouched" ng-show="ctrl.boat.material == null">{{'captain_form.placeholder_boat_material' | translate}}</span>
                                        <span class="select-text" ng-hide="ctrl.boat.material == null">{{'boat_materials.' + ctrl.boat.material | translate}}</span>
                                        <span class="icon pull-right"
                                              ng-class="{'icon-arrow-down': !ctrl.dropdowns.material, 'icon-arrow-up': ctrl.dropdowns.material}"></span>
                                    </div>
                                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="material">
                                        <li ng-repeat="material in ctrl.boatMaterials | filter: {attributes: {name: '!' + ctrl.boat.material}}"
                                            role="menuitem"
                                            ng-click="ctrl.boat.material = material.attributes.name; ctrl.patchInput('material', true)">
                                            <a ng-href="">
                                                {{'boat_materials.' + material.attributes.name | translate}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <error-messages field-name="material" translation-name="boat_material"
                                                controller-errors=ctrl.errors page="captain_form"></error-messages>
                            </div>
                            <!--LENGTH-->
                            <div class="col-sm-4 form-col">
                                <div class="form-separator"></div>
                                <div class="input-heading">{{'captain_form.boat_length' | translate}}</div>
                                <div class="input">
                                    <input name="length" type="number"
                                           ng-model="ctrl.boat.length"
                                           ng-disabled="ctrl.disabled"
                                           placeholder="{{'captain_form.placeholder_boat_length' | translate}}"
                                           ng-change="ctrl.resetField('length')"
                                           ng-blur="ctrl.patchInput('length', false)"
                                           min="1"
                                           max="32767"
                                           ng-required="false">
                                    <error-messages field-name="length" translation-name="boat_length"
                                                    controller-errors=ctrl.errors page="captain_form"></error-messages>
                                </div>
                            </div>
                            <!--HAS INSURANCE-->
                            <div class="col-sm-4 form-col">
                                <div class="form-separator"></div>
                                <div class="input-heading">{{'captain_form.boat_has_insurance' | translate}}*</div>
                                <div class="input">
                                    <input name="has_insurance" type="checkbox"
                                           ng-model="ctrl.boat.has_insurance"
                                           ng-value=1
                                           ng-change="ctrl.patchInput('has_insurance', true)"
                                           ng-disabled="ctrl.disabled"
                                           id="has_insurance"
                                           ng-required="true">
                                    <label for="has_insurance">{{'inputs.yes' | translate}}</label>
                                </div>
                                <error-messages field-name="has_insurance" translation-name="has_insurance"
                                                controller-errors=ctrl.errors
                                                page="captain_form"></error-messages>
                            </div>
                        </div>
                        <!--MOTORS QUANTITY & MOTOR TYPE-->
                        <div class="row form-row no-padding no-border-bottom">
                            <!--MOTORS QUANTITY-->
                            <div class="col-sm-6 form-col">
                                <div class="form-separator"></div>
                                <div class="input-heading">{{'captain_form.boat_motors_quantity' | translate}}</div>
                                <div class="input">
                                    <input name="motors_quantity" type="number"
                                           ng-model="ctrl.boat.motors_quantity"
                                           ng-disabled="ctrl.disabled"
                                           placeholder="{{'captain_form.placeholder_boat_motors_quantity' | translate}}"
                                           ng-change="ctrl.resetField('motors_quantity')"
                                           ng-blur="ctrl.patchInput('motors_quantity', false)"
                                           min="1"
                                           ng-required="false">
                                    <error-messages field-name="motors_quantity" translation-name="boat_motors_quantity"
                                                    controller-errors=ctrl.errors page="captain_form"></error-messages>
                                </div>
                            </div>
                            <!--MOTOR TYPE-->
                            <div class="col-sm-6 form-col">
                                <div class="form-separator"></div>
                                <div class="input-heading">{{'captain_form.boat_motor_type' | translate}}</div>
                                <div class="input" uib-dropdown is-open="ctrl.dropdowns.motor_type">
                                    <div class="select" id="motor_type" uib-dropdown-toggle ng-disabled="ctrl.disabled">
                                        <span class="select-text untouched" ng-show="ctrl.boat.motor_type == null">{{'captain_form.placeholder_boat_motor_type' | translate}}</span>
                                        <span class="select-text" ng-hide="ctrl.boat.motor_type == null">{{'motor_types.' + ctrl.boat.motor_type | translate}}</span>
                                        <span class="icon pull-right"
                                              ng-class="{'icon-arrow-down': !ctrl.dropdowns.motor_type, 'icon-arrow-up': ctrl.dropdowns.motor_type}"></span>
                                    </div>
                                    <ul class="dropdown-menu" uib-dropdown-menu role="menu"
                                        aria-labelledby="motor_type">
                                        <li ng-repeat="motor_type in ctrl.motorTypes | filter: {attributes: {name: '!' + ctrl.boat.motor_type}}"
                                            role="menuitem"
                                            ng-click="ctrl.boat.motor_type = motor_type.attributes.name; ctrl.patchInput('motor_type', true)">
                                            <a ng-href="">
                                                {{'motor_types.' + motor_type.attributes.name | translate}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <error-messages field-name="motor_type" translation-name="boat_motor_type"
                                                controller-errors=ctrl.errors page="captain_form"></error-messages>
                            </div>
                        </div>
                        <!--DOCKING PLACE & INDICATIONS-->
                        <div class="row form-row no-padding no-border-bottom">
                            <!--DOCKING PLACE-->
                            <div class="col-sm-6 form-col">
                                <div class="form-separator"></div>
                                <div class="input-heading">{{'captain_form.boat_docking_place' | translate}}</div>
                                <div class="input">
                <textarea name="docking_place"
                          rows="3"
                          ng-model="ctrl.boat.docking_place"
                          ng-disabled="ctrl.disabled"
                          placeholder="{{'captain_form.placeholder_boat_docking_place' | translate}}"
                          ng-change="ctrl.resetField('docking_place')"
                          ng-blur="ctrl.patchInput('docking_place', false)"
                          maxlength="150"
                          ng-required="false"></textarea>
                                    <error-messages field-name="docking_place" translation-name="boat_docking_place"
                                                    controller-errors=ctrl.errors page="captain_form"></error-messages>
                                </div>
                            </div>
                            <!--INDICATIONS-->
                            <div class="col-sm-6 form-col">
                                <div class="form-separator"></div>
                                <div class="input-heading">{{'captain_form.boat_indications' | translate}}</div>
                                <div class="input">
                <textarea name="indications"
                          rows="3"
                          ng-model="ctrl.boat.indications"
                          ng-disabled="ctrl.disabled"
                          placeholder="{{'captain_form.placeholder_boat_indications' | translate}}"
                          ng-change="ctrl.resetField('indications')"
                          ng-blur="ctrl.patchInput('indications', false)"
                          maxlength="65535"
                          ng-required="false"></textarea>
                                    <error-messages field-name="indications" translation-name="boat_indications"
                                                    controller-errors=ctrl.errors page="captain_form"></error-messages>
                                </div>
                            </div>
                        </div>

                        <!--MAP-->
                        <div class="row form-row no-padding no-border-bottom">
                            <div class="col-sm-12 form-col">
                                <div class="map-indications">
                                    <span>{{'captain_form.map_heading' | translate}}</span>
                                </div>
                                <div class="map-box" ng-if="!ctrl.loading">
                                    <div class="map" id="map" ng-init="ctrl.triggerMapLoad()"></div>
                                </div>
                            </div>
                        </div>

                        <!--SEATS & BERTHS-->
                        <div class="row form-row no-padding no-border-bottom">
                            <!--SEATS-->
                            <div class="col-sm-6 form-col">
                                <div class="form-separator"></div>
                                <div class="input-heading">{{'captain_form.boat_seats' | translate}}*</div>
                                <div class="input">
                                    <input name="seats" type="number"
                                           ng-model="ctrl.boat.seats"
                                           ng-disabled="ctrl.disabled"
                                           placeholder="{{'captain_form.placeholder_boat_seats' | translate}}"
                                           ng-change="ctrl.resetField('seats')"
                                           ng-blur="ctrl.patchInput('seats', false)"
                                           min="1"
                                           ng-required="true">
                                    <error-messages field-name="seats" translation-name="boat_seats"
                                                    controller-errors=ctrl.errors page="captain_form"></error-messages>
                                    <span class="input-caption-group">
                        <span class="input-caption">{{'captain_form.caption_boat_seats' | translate}}</span>
                    </span>
                                </div>
                            </div>
                            <!--BERTHS-->
                            <div class="col-sm-6 form-col">
                                <div class="form-separator"></div>
                                <div class="input-heading">{{'captain_form.boat_berths' | translate}}*</div>
                                <div class="input">
                                    <input name="berths" type="number"
                                           ng-model="ctrl.boat.berths"
                                           ng-disabled="ctrl.disabled"
                                           placeholder="{{'captain_form.placeholder_boat_berths' | translate}}"
                                           ng-change="ctrl.resetField('berths')"
                                           ng-blur="ctrl.patchInput('berths', false)"
                                           min="0"
                                           ng-required="true">
                                    <error-messages field-name="berths" translation-name="boat_berths"
                                                    controller-errors=ctrl.errors page="captain_form"></error-messages>
                                </div>
                            </div>
                        </div>

                        <!--CABINS & TOILETS-->
                        <div class="row form-row no-padding no-border-bottom">
                            <!--CABINS-->
                            <div class="col-sm-6 form-col">
                                <div class="form-separator"></div>
                                <div class="input-heading">{{'captain_form.boat_cabins' | translate}}*</div>
                                <div class="input">
                                    <input name="cabins" type="number"
                                           ng-model="ctrl.boat.cabins"
                                           ng-disabled="ctrl.disabled"
                                           placeholder="{{'captain_form.placeholder_boat_cabins' | translate}}"
                                           ng-change="ctrl.resetField('cabins')"
                                           ng-blur="ctrl.patchInput('cabins', false)"
                                           min="0"
                                           ng-required="true">
                                    <error-messages field-name="cabins" translation-name="boat_cabins"
                                                    controller-errors=ctrl.errors page="captain_form"></error-messages>
                                    <span class="input-caption-group">
                        <span class="input-caption">{{'captain_form.caption_boat_cabins' | translate}}</span>
                    </span>
                                </div>
                            </div>
                            <!--TOILETS-->
                            <div class="col-sm-6 form-col">
                                <div class="form-separator"></div>
                                <div class="input-heading">{{'captain_form.boat_toilets' | translate}}*</div>
                                <div class="input">
                                    <input name="toilets" type="number"
                                           ng-model="ctrl.boat.toilets"
                                           ng-disabled="ctrl.disabled"
                                           placeholder="{{'captain_form.placeholder_boat_toilets' | translate}}"
                                           ng-change="ctrl.resetField('toilets')"
                                           ng-blur="ctrl.patchInput('toilets', false)"
                                           min="0"
                                           ng-required="true">
                                    <error-messages field-name="toilets" translation-name="boat_toilets"
                                                    controller-errors=ctrl.errors page="captain_form"></error-messages>
                                </div>
                            </div>
                        </div>

                        <!--EXPERIENCE TYPES-->
                        <div class="row form-row no-padding no-border-bottom">
                            <div class="col-sm-12 form-col no-padding">
                                <div class="form-separator"></div>
                                <div class="input-heading">{{'captain_form.experience_types' | translate}}*</div>
                                <div class="row form-row no-padding no-border-bottom" id="experience-types">
                                    <!--Select-->
                                    <div class="col-sm-4">
                                        <div class="input" uib-dropdown is-open="ctrl.dropdowns.experienceTypes">
                                            <div class="select" id="experience-type" uib-dropdown-toggle
                                                 ng-disabled="ctrl.disabled">
                            <span class="hide-overflow select-text" ng-hide="ctrl.selectedExperienceType == null">
                                <span>{{'experience_types.'+ctrl.selectedExperienceType.attributes.name | translate}}</span>
                            </span>
                                                <span class="hide-overflow select-text untouched"
                                                      ng-show="ctrl.selectedExperienceType == null">
                                <span>{{'captain_form.placeholder_boat_experience_types' | translate}}</span>
                            </span>
                                                <span class="icon pull-right"
                                                      ng-class="{'icon-arrow-down': !ctrl.dropdowns.experienceTypes, 'icon-arrow-up': ctrl.dropdowns.experienceTypes}"></span>
                                            </div>
                                            <ul class="dropdown-menu" uib-dropdown-menu role="menu"
                                                aria-labelledby="experience-type">
                                                <li ng-repeat="experienceType in ctrl.experienceTypes | filter: ctrl.notSelectedExperienceTypes"
                                                    role="menuitem"
                                                    ng-click="ctrl.selectedExperienceType = experienceType">
                                                    <a ng-href="">{{'experience_types.'+experienceType.attributes.name |
                                                        translate}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!--Description SM-->
                                        <div class="row no-margin">
                                            <div class="col-sm-12 hidden-xs form-col no-padding">
                    <span class="input-caption-group">
                        <span class="input-caption">{{'captain_form.caption_experience_types' | translate}}</span>
                    </span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Description XS-->
                                    <div class="col-xs-6 visible-xs-block form-col no-margin">
                                        <p>{{'captain_form.caption_experience_types' | translate}}</p>
                                    </div>
                                    <!--Button-->
                                    <div class="col-sm-2 form-col add-button no-margin">
                                        <naus-btn on-click="ctrl.toggleExperienceType(ctrl.selectedExperienceType)"
                                                  options="{circle: 'true'}">
                                            <span class="icon icon-plus i-8x"></span>
                                        </naus-btn>
                                    </div>
                                    <div class="visible-xs-block clearfix"></div>
                                    <!--Labels-->
                                    <div class="col-sm-6 form-col">
                                        <div class="label-closable"
                                             ng-repeat="experienceType in ctrl.tempBoat.experienceTypes">
                        <span class="hide-overflow pull-left">
                            <span class="label-closable-text">{{'experience_types.'+experienceType.attributes.name | translate}}</span>
                        </span>
                                            <a ng-href=""
                                               ng-click="ctrl.toggleExperienceType(experienceType, true)"
                                               class="icon icon-close i-5x pull-right"></a>
                                        </div>
                                    </div>
                                    <!--Errors-->
                                    <div class="col-xs-12 no-margin">
                                        <error-messages field-name="experience_types" translation-name="experience_types_fieldname" controller-errors=ctrl.errors
                                                        page="captain_form"></error-messages>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--EVENTS-->
                        <div class="row form-row no-padding">
                            <div class="form-separator"></div>
                            <div class="input-heading">{{'captain_form.heading_events' | translate}}</div>
                            <div class="col-xs-4 form-col">
                                <div class="input">
                                    <input name="events" type="radio"
                                           ng-model="ctrl.boat.events"
                                           ng-value=true
                                           ng-disabled="ctrl.disabled"
                                           id="events_yes"
                                           ng-change="ctrl.patchInput('events', true)"
                                           ng-blur="ctrl.validateField('events')"
                                           ng-required="false">
                                    <label for="events_yes">{{'inputs.yes' | translate}}</label>
                                </div>
                            </div>
                            <div class="col-xs-4 form-col">
                                <div class="input">
                                    <input name="events" type="radio"
                                           ng-model="ctrl.boat.events"
                                           ng-value=false
                                           ng-disabled="ctrl.disabled"
                                           id="events_no"
                                           ng-change="ctrl.patchInput('events', true)"
                                           ng-blur="ctrl.validateField('events')"
                                           ng-required="false">
                                    <label for="events_no">{{'inputs.no' | translate}}</label>
                                </div>
                            </div>
                            <div class="col-xs-12 no-margin no-padding">
                                <error-messages field-name="events" controller-errors=ctrl.errors
                                                page="captain_form"></error-messages>
                            </div>
                        </div>

                        <!--REQUIRED CAPTION-->
                        <div class="row no-margin">
                            <div class="col no-padding">
            <span class="input-caption-group">
            <span class="orange-flamingo bold input-caption">{{'inputs.required' | translate}}</span>
        </span>
                            </div>
                        </div>

                        <!--NEXT STEP-->
                        <div class="row form-row no-border-bottom text-center">
                            <naus-btn on-click="ctrl.goToNextStep()" options="{disabled: ctrl.loading}">
                                {{'inputs.forward' | translate}}
                            </naus-btn>
                        </div>
                    </form>
                </div>

                <!--RULES-->
                <div ng-if="ctrl.step == 2" class="container-fluid accordion-container">
                    <form class="form form-steps container-fluid" novalidate name="ctrl.form_rules" id="rules-form">

                        <!--RULES & DESCRIPTION-->
                        <div class="row form-row no-padding no-border-bottom">
                            <!--RULES-->
                            <div class="col-sm-6 form-col">
                                <div class="form-separator"></div>
                                <div class="input-heading">{{'captain_form.boat_rules' | translate}}</div>
                                <div class="input">
                                <textarea name="rules"
                                          rows="3"
                                          ng-model="ctrl.boat.rules"
                                          ng-disabled="ctrl.disabled"
                                          placeholder="{{'captain_form.placeholder_boat_rules' | translate}}"
                                          ng-change="ctrl.resetField('rules')"
                                          ng-blur="ctrl.patchInput('rules', false)"
                                          maxlength="65535"
                                          ng-required="false"></textarea>
                                    <error-messages field-name="rules" translation-name="boat_rules"
                                                    controller-errors=ctrl.errors page="captain_form"></error-messages>
                                </div>
                            </div>
                            <!--DESCRIPTION-->
                            <div class="col-sm-6 form-col">
                                <div class="form-separator"></div>
                                <div class="input-heading">{{'captain_form.boat_description' | translate}}</div>
                                <div class="input">
                                <textarea name="description"
                                          rows="3"
                                          ng-model="ctrl.boat.description"
                                          ng-disabled="ctrl.disabled"
                                          placeholder="{{'captain_form.placeholder_boat_description' | translate}}"
                                          ng-change="ctrl.resetField('description')"
                                          ng-blur="ctrl.patchInput('description', false)"
                                          maxlength="65535"
                                          ng-required="false"></textarea>
                                    <error-messages field-name="description" translation-name="boat_description"
                                                    controller-errors=ctrl.errors page="captain_form"></error-messages>
                                </div>
                            </div>
                        </div>

                        <!--ACCESSORIES-->
                        <div class="row form-row no-padding no-border-bottom">
                            <div class="col-xs-12 form-col no-margin">
                                <div class="form-separator"></div>
                                <div class="input-heading">{{'captain_form.boat_accessories' | translate}}</div>
                            </div>
                            <div class="col-xs-6 col-sm-4 checkbox-container" ng-repeat="accessory in ctrl.accessories"
                                 id="boat-accessories">
                                <div class="input">
                                    <input name="has_insurance" type="checkbox"
                                           ng-model="accessory.attributes.checked"
                                           ng-value=true
                                           ng-change="ctrl.patchAccessories()"
                                           ng-disabled="ctrl.disabled"
                                           id="{{accessory.attributes.name}}"
                                           ng-required="false">
                                    <label for="{{accessory.attributes.name}}">{{'accessories.' +
                                        accessory.attributes.name |
                                        translate}}</label>
                                </div>
                            </div>
                        </div>

                        <!--PHOTOS-->
                        <div class="row form-row" id="photos">
                            <div class="col-xs-12 form-col no-margin no-padding with-subheading">
                                <div class="form-separator"></div>
                                <div class="input-heading">{{'captain_form.boat_photos' | translate}}*</div>
                                <div class="input-sub-heading">{{'captain_form.boat_photos_subheading' | translate}}
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4 photo-col no-margin">
                                        <upload-photo up-photo=ctrl.tempBoat.internal_photo
                                                      up-action="ctrl.postPhoto(file, 'internal')"></upload-photo>
                                        <span class="photo-caption">{{'captain_form.' + 'boat_photo_internal' | translate}}</span>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 photo-col no-margin">
                                        <upload-photo up-photo=ctrl.tempBoat.external_photo
                                                      up-action="ctrl.postPhoto(file, 'external')"></upload-photo>
                                        <span class="photo-caption">{{'captain_form.' + 'boat_photo_external' | translate}}</span>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 photo-col no-margin">
                                        <upload-photo up-photo=ctrl.tempBoat.sea_photo
                                                      up-action="ctrl.postPhoto(file, 'sea')"></upload-photo>
                                        <span class="photo-caption">{{'captain_form.' + 'boat_photo_sea' | translate}}</span>
                                    </div>
                                </div>
                                <error-messages class="margin-bottom-sm" field-name="photos"
                                                translation-name="boat_photos_fieldname"
                                                controller-errors=ctrl.errors page="captain_form"></error-messages>
                            </div>
                        </div>


                        <!--REQUIRED CAPTION-->
                        <div class="row no-margin">
                            <div class="col no-padding">
                                <span class="input-caption-group">
                                    <span class="orange-flamingo bold input-caption">{{'inputs.required' | translate}}</span>
                                </span>
                            </div>
                        </div>

                        <!--SAVE-->
                        <div class="row form-row no-border-bottom text-center">
                            <naus-btn on-click="ctrl.finishEditing()" options="{disabled: ctrl.loading}">
                                {{'inputs.save' | translate}}
                            </naus-btn>
                        </div>
                        <!--STOP EDITING (go back)-->
                        <div class="row form-row no-border-bottom text-center">
                            <naus-btn on-click="ctrl.onBackClickStepOne()" options="{inverse: true, disabled: ctrl.loading}">
                                {{'boat.stop_editing' | translate}}
                            </naus-btn>
                        </div>
                    </form>
                </div>

            </div>
        </uib-accordion>
    </div>

    <div ng-if="ctrl.loading || ctrl.translations.loading" class="loader-alt"></div>
</div>

<div class="loader-container-overlay" ng-show="ctrl.patching">
    <div class="loader-alt"></div>
</div>

<!--SAVE EDITS-->
<div id="save-modal" ng-if="ctrl.saving">
    <modal modal-title="boat.save_edits" on-close="ctrl.toggleSaveModal(false)">
        <h4 class="text-center margin-bottom-md" translate translate-values='{name: ctrl.userName}'>
            {{'boat.hello'}}
        </h4>
        <p>
            {{'boat.edits_saved' | translate}}
        </p>
        <p class="h7 margin-bottom-sm">
            {{'boat.verify_edits' | translate}}
        </p>

        <!--SAVE-->
        <div class="button margin-bottom-sm text-center">
            <naus-btn on-click="ctrl.setDone()" options="{disabled: ctrl.loading}">
                {{'inputs.save' | translate}}
            </naus-btn>
        </div>
        <!--STOP EDITING (go back)-->
        <div class="button text-center">
            <naus-btn on-click="ctrl.toggleSaveModal(false)" options="{inverse: true, disabled: ctrl.loading}">
                {{'boat.stop_editing' | translate}}
            </naus-btn>
        </div>
    </modal>
</div>