<div ng-hide="ctrl.loading || ctrl.translations.loading" class="login-page">

    <div ng-if="ctrl.captainLogin" class="captain-login">
        <login-form-captain on-complete="ctrl.onComplete()"></login-form-captain>
    </div>

    <div ng-if="!ctrl.captainLogin" class="view-container container-fluid mixed-login">
        <div class="row">
            <div class="col-xs-12 col-sm-6 users-login">
                <div class="row">
                    <div class="col-xs-12 login-section-title">
                        <span class="text-uppercase" translate>{{'login.user_login'}}</span>
                    </div>
                    <div class="col-xs-12">
                        <login-visitors close="ctrl.onComplete()"></login-visitors>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 visible-xs"><hr class="horizontal-separator"></div>
            <div class="col-xs-12 col-sm-6 captain-login left-separator">
                <div class="row">
                    <div class="col-xs-12 login-section-title">
                        <span class="text-uppercase" translate>{{'login.captain_login'}}</span>
                    </div>
                    <div class="col-xs-12">
                        <login-form-captain redirected="ctrl.redirected" on-complete="ctrl.onComplete()"></login-form-captain>
                    </div>
                </div>
            </div>
        </div>
        <div class="row hidden-xs">
            <div class="col-xs-12">
                <terms-of-service></terms-of-service>
            </div>
        </div>
    </div>

    <footer></footer>
</div>
<div ng-show="ctrl.loading || ctrl.translations.loading"></div>