<div class="notification">
    <span ng-if="!$ctrl.text" class="icon action-icon icon-{{$ctrl.iconName}}" uib-popover-template="$ctrl.popoverTemplate" popover-trigger="'outsideClick'"
          popover-placement="bottom-right"></span>
    <span ng-if="$ctrl.text" class="icon action-icon" uib-popover-template="$ctrl.popoverTemplate" popover-trigger="'outsideClick'"
          popover-placement="bottom-right">{{$ctrl.text}}</span>
    <!--<span class="notification-badge"-->
          <!--ng-if="$ctrl.count > 0">{{$ctrl.count}}</span>-->
</div>