<div class="search-map-container" ng-init="ctrl.triggerMapLoad()">
    <div class="overlay-warning text-center" ng-class="{'fadein': ctrl.warningVisible}">
        <span class="text lighter-grey">{{'experiences.increase_zoom' | translate}}</span>
    </div>
</div>
