<div class="view-container dashboard" ng-hide="ctrl.makingRequest">
    <user-infobox user="ctrl.user"></user-infobox>
    <quick-access class="hidden-xs" user="ctrl.user"></quick-access>
    <profile-edit show-accordion="false" show-back-button="false" user="ctrl.user"></profile-edit>
</div>