<p class="form-description margin-bottom-md">
    <span class="bold" translate
          translate-values='{name: ctrl.user.first_name}'>{{'captain_form.hello'}}</span><br/>
    <span>{{'captain_form.insert_rules' | translate}}</span>
</p>

<breadcrumb-steps step={{ctrl.step}}></breadcrumb-steps>
<form class="form form-steps container-fluid" novalidate name="ctrl.form_rules" id="rules-form">

    <!--RULES & DESCRIPTION-->
    <div class="row form-row no-padding no-border-bottom">
        <!--RULES-->
        <div class="col-sm-6 form-col">
            <div class="form-separator"></div>
            <div class="input-heading">{{'captain_form.boat_rules' | translate}}</div>
            <div class="input">
                <textarea name="rules"
                          rows="3"
                          ng-model="ctrl.boat.rules"
                          ng-disabled="ctrl.disabled"
                          placeholder="{{'captain_form.placeholder_boat_rules' | translate}}"
                          ng-change="ctrl.resetField('rules')"
                          ng-blur="ctrl.patchInput('rules', false)"
                          maxlength="65535"
                          ng-required="false"></textarea>
                <error-messages field-name="rules" translation-name="boat_rules"
                                controller-errors=ctrl.errors page="captain_form"></error-messages>
            </div>
        </div>
        <!--DESCRIPTION-->
        <div class="col-sm-6 form-col">
            <div class="form-separator"></div>
            <div class="input-heading">{{'captain_form.boat_description' | translate}}</div>
            <div class="input">
                <textarea name="description"
                          rows="3"
                          ng-model="ctrl.boat.description"
                          ng-disabled="ctrl.disabled"
                          placeholder="{{'captain_form.placeholder_boat_description' | translate}}"
                          ng-change="ctrl.resetField('description')"
                          ng-blur="ctrl.patchInput('description', false)"
                          maxlength="65535"
                          ng-required="false"></textarea>
                <error-messages field-name="description" translation-name="boat_description"
                                controller-errors=ctrl.errors page="captain_form"></error-messages>
            </div>
        </div>
    </div>

    <!--ACCESSORIES-->
    <div class="row form-row no-padding no-border-bottom">
        <div class="col-xs-12 form-col no-margin">
            <div class="form-separator"></div>
            <div class="input-heading">{{'captain_form.boat_accessories' | translate}}</div>
        </div>
        <div class="col-xs-6 col-sm-4 checkbox-container" ng-repeat="accessory in ctrl.accessories">
            <div class="input">
                <input name="has_insurance" type="checkbox"
                       ng-model="accessory.attributes.checked"
                       ng-value=true
                       ng-change="ctrl.patchAccessories()"
                       ng-disabled="ctrl.disabled"
                       id="{{accessory.attributes.name}}"
                       ng-required="false">
                <label for="{{accessory.attributes.name}}">{{'accessories.' + accessory.attributes.name |
                    translate}}</label>
            </div>
        </div>
    </div>

    <!--PHOTOS-->
    <div class="row form-row" id="photos">
        <div class="col-xs-12 form-col no-margin no-padding with-subheading">
            <div class="form-separator"></div>
            <div class="input-heading">{{'captain_form.boat_photos' | translate}}*</div>
            <div class="input-sub-heading">{{'captain_form.boat_photos_subheading' | translate}}</div>
            <div class="row">
                <div class="col-xs-12 col-sm-4 photo-col no-margin">
                    <upload-photo up-photo=ctrl.tempBoat.internal_photo up-action="ctrl.postPhoto(file, 'internal')"></upload-photo>
                    <span class="photo-caption">{{'captain_form.' + 'boat_photo_internal' | translate}}</span>
                </div>
                <div class="col-xs-12 col-sm-4 photo-col no-margin">
                    <upload-photo up-photo=ctrl.tempBoat.external_photo up-action="ctrl.postPhoto(file, 'external')"></upload-photo>
                    <span class="photo-caption">{{'captain_form.' + 'boat_photo_external' | translate}}</span>
                </div>
                <div class="col-xs-12 col-sm-4 photo-col no-margin">
                    <upload-photo up-photo=ctrl.tempBoat.sea_photo up-action="ctrl.postPhoto(file, 'sea')"></upload-photo>
                    <span class="photo-caption">{{'captain_form.' + 'boat_photo_sea' | translate}}</span>
                </div>
            </div>
            <error-messages class="margin-bottom-sm" field-name="photos" translation-name="boat_photos"
                            controller-errors=ctrl.errors page="captain_form"></error-messages>
        </div>
    </div>


    <!--REQUIRED CAPTION-->
    <div class="row no-margin">
        <div class="col no-padding">
            <span class="input-caption-group">
            <span class="orange-flamingo bold input-caption">{{'inputs.required' | translate}}</span>
        </span>
        </div>
    </div>

    <!--NEXT STEP-->
    <div class="row form-row no-border-bottom text-center">
        <naus-btn
                on-click="ctrl.goToNextStep()"
                options="{disabled: ctrl.loading}">
            {{'inputs.forward' | translate}}
        </naus-btn>
    </div>
</form>

<div class="loader-container-overlay" ng-class="{hidden: !ctrl.loading && !loading}">
    <div class="loader-alt"></div>
</div>