<h3 class="light-blue bold booking-confirmed-message text-center" translate>{{'booking.confirmed'}}</h3>

<p class="margin-bottom-md"
   translate="booking.email_sent"
   translate-values="{ email: ctrl.email }"></p>

<p translate>{{'booking.smooth_sailing'}}</p>
<p class="text-italic bold light-blue margin-bottom-md" translate>{{'booking.nausdream_team'}}</p>

<div class="text-center">
    <naus-btn on-click="ctrl.onClose()">
        {{'booking.back_to_site' | translate}}
    </naus-btn>
</div>
