<div id="pages" class="container-fluid list">
    <div class="row list-controls">
        <span class="count">{{ctrl.perPage}} di {{ctrl.totalItems}} ELEMENTI</span>
        <div class="controls">
            <div class="controls-icon" ng-repeat="icon in ctrl.icons">
                <popover-icon id="icon-control-{{icon.type}}" icontype="{{icon.type}}"
                              iconcolor="{{ctrl.controlIconsColor}}" template="{{icon.template}}">
                </popover-icon>
            </div>
        </div>
    </div>
    <div class="row list-table">
        <div class="table-responsive">
            <table class="table" ng-if="!ctrl.loading">
                <thead class="head">
                <tr>
                    <th ng-repeat="column in ctrl.columns" class="column {{column.name}}">{{column.heading}}</th>
                </tr>
                </thead>
                <tbody class="body">
                <tr class="record" ng-repeat="page in ctrl.data track by $index">
                    <td class="field name">
                        {{page.attributes.name}}
                    </td>
                    <td class="field date">
                        {{page.attributes.created_at}}
                    </td>
                    <td class="field action">
                        <a href="pages/{{page.id}}" class="icon action-icon icon-edit">
                        </a>
                        <list-actions model=page type="page" ng-if="ctrl.is_admin"></list-actions>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="loader" ng-if="ctrl.loading"></div>
        </div>
    </div>
    <div class="row list-pagination">
        <form-insert-page ng-if="ctrl.is_admin"></form-insert-page>
        <div id="pagination">
            <ul uib-pagination
                total-items="ctrl.totalItems" ng-model="ctrl.currentPage" boundary-links="ctrl.boundaryLinks"
                direction-links="ctrl.directionLinks" first-text="FIRST" last-text="LAST"
                max-size="ctrl.pagesToDisplay" items-per-page="ctrl.perPage"
                ng-change="ctrl.pageChanged()">
            </ul>
        </div>
    </div>
</div>