<div class="alert-message-container">
        <div class="alert-icon">
            <span class="icon icon-attention i-4x"></span>
        </div>
        <div class="alert-message">
            <p>{{ctrl.alertMessage | translate}}</p>
        </div>
</div>