<div class="item top-destination-element dark-row text-center" ng-style="{'background-image':'url('+ ctrl.destination.image_url+')'}">
    <h2 class="top-destination-element-label text-center text-uppercase" translate>{{'home.' + ctrl.destination.translation_key}}</h2>
    <naus-btn
            url="ctrl.url"
            custom-classes="ctrl.styles"
            on-click="ctrl.go()">
        {{'home.explore' | translate}}
    </naus-btn>
</div>