<div uib-popover-template="$ctrl.popoverTemplate" popover-placement="{{$ctrl.position}}" class="popover-wrapper" popover-trigger="'outsideClick'">
    <span class="icon icon-{{$ctrl.icontype}}"></span>
</div>