<div>
    <ul>
        <li>
            <span class="text">SELECT LANGUAGE</span>
        </li>
        <li ng-repeat="language in $ctrl.languageData track by $index" class="clickable" ng-click="$ctrl.changeLanguage(language.attributes.language)">
            <a href="">
                <div>
                    <img src="/shared/assets/img/{{language.attributes.language}}.png"  class="language-image">
                    <span class="text">{{$ctrl.getLanguageName(language.attributes.language)}}</span>
                </div>
            </a>
        </li>
    </ul>
</div>