<form novalidate name="$ctrl.form" class="form-inline form">
    <input name="name" class="md" required type="text" minlength="1" maxlength="100" ng-model="$ctrl.page.name">
    <a href="" ng-click="$ctrl.insertPage()">
        <div class="action">
            <span class="icon action-icon icon-plus margin-left-xs"></span>
            <span class="text no-padding margin-left-xs">Insert new page</span>
        </div>
    </a>
</form>