<div class="container-fluid" id="modal-error">
    <div class="row" id="modal-title">
        <span class="title-text">ERRORE {{ctrl.items.request}}</span>
        <span class="icon icon-close i-5x" ng-click="ctrl.close()"></span>
    </div>
    <div class="row" id="modal-content">
        <div class="col-lg-12">
            <div class="row" id="modal-status">
                Status: {{ctrl.items.status}}
            </div>
            <div class="row error" ng-repeat="error in ctrl.items.errors">
                Title: {{error.code}}<br/>
                Code: {{error.title}}<br/>
                Message: {{error.detail}}
            </div>
        </div>
    </div>
</div>