<div id="bookings" class="container-fluid list">
    <div class="row list-controls">
        <span class="count">{{ctrl.perPage}} di {{ctrl.totalItems}} ELEMENTI</span>
        <div class="controls">
            <div class="controls-icon" ng-repeat="icon in ctrl.icons">
                <popover-icon id="icon-control-{{icon.type}}" icontype="{{icon.type}}"
                              iconcolor="{{ctrl.controlIconsColor}}" template="{{icon.template}}">
                </popover-icon>
            </div>
        </div>
    </div>
    <div class="row list-table">
        <div class="table-responsive">
            <table class="table" ng-if="!ctrl.loading">
                <thead class="head">
                <tr>
                    <th ng-repeat="column in ctrl.columns" class="column {{column.name}}">{{column.heading}}</th>
                </tr>
                </thead>
                <tbody class="body">
                <tr class="record" ng-repeat="booking in ctrl.data track by $index">
                    <td class="field id">
                        {{booking.id}}
                    </td>
                    <td class="field date">
                        {{booking.date}}
                    </td>
                    <td class="field experience">
                        {{booking.experience}}
                    </td>
                    <td class="field captain">
                        {{booking.captain}}
                    </td>
                    <td class="field status">
                        <span class="status-text {{booking.status}}">{{ctrl.getStatusName(booking.status)}}</span>
                    </td>
                    <td class="field action">
                        <a href="/booking/{{booking.id}}" class="icon action-icon icon-preview">
                        </a>
                        <div uib-popover-template="'/shared/components/popover-icon/views/actions.view.html'"
                             popover-placement="{{$index >= ctrl.data.length-2 ? 'top-right' : 'bottom-right'}}"
                             class="popover-wrapper down-arrow" popover-trigger="'outsideClick'">&#9662;</div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="loader" ng-if="ctrl.loading"></div>
        </div>
    </div>
    <div class="row list-pagination">
        <div id="pagination">
            <ul uib-pagination
                total-items="ctrl.totalItems" ng-model="ctrl.currentPage" boundary-links="ctrl.boundaryLinks"
                direction-links="ctrl.directionLinks" first-text="PRIMA" last-text="ULTIMA"
                max-size="ctrl.pagesToDisplay" items-per-page="ctrl.perPage"
                ng-change="ctrl.pageChanged()">
            </ul>
        </div>
    </div>
</div>