<ul>
    <li ng-repeat="message in $ctrl.messages">
        <a href="/sms/{{message.id}}">
            <div class="container-fluid">
                <div class="row message">
                    <div class="col-xs-3 profile-pic-box">
                        <img src="{{message.profilePic}}" class="profile-pic"/>
                    </div>
                    <div class="col-xs-4 message-data">
                        <div class="row username">{{message.user}}</div>
                        <div class="row text">{{message.message}}</div>
                        <div class="row date">{{message.date}}</div>
                    </div>
                </div>
            </div>
        </a>
    </li>
</ul>
<a href="" id="add-message-button" class="icon action-icon icon-plus i-8x">
</a>