<div class="container-fluid booking-offsite-new">
    <div class="row page-title">New Offsite Booking</div>
    <div class="row form-container">
        <form novalidate class="form" name="ctrl.form">
            <div class="container-fluid">
                <!-- GUEST DATA-->
                <div class="row">
                    <div class="col-xs-12"><h3>GUEST DATA</h3></div>
                </div>
                <!-- FIRST/LAST NAME GUEST -->
                <div class="row">
                    <!-- FIRST NAME GUEST -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">First name<span
                                ng-show="ctrl.fields.first_name_guest.required">*</span></div>
                        <div class="input">
                            <input name="first_name_guest" type="text" ng-maxlength="ctrl.fields.first_name_guest.max"
                                   ng-model="ctrl.booking.first_name_guest"
                                   ng-required="ctrl.fields.first_name_guest.required">
                        </div>
                    </div>
                    <!-- LAST NAME GUEST -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Last name<span ng-show="ctrl.fields.last_name_guest.required">*</span>
                        </div>
                        <div class="input">
                            <input name="last_name_guest" type="text" ng-maxlength="ctrl.fields.last_name_guest.max"
                                   ng-model="ctrl.booking.last_name_guest"
                                   ng-required="ctrl.fields.last_name_guest.required">
                        </div>
                    </div>
                </div>
                <!-- ADDRESS/CITY GUEST -->
                <div class="row">
                    <!-- ADDRESS GUEST -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Address<span ng-show="ctrl.fields.address_guest.required">*</span>
                        </div>
                        <div class="input">
                            <input name="address_guest" type="text" ng-maxlength="ctrl.fields.address_guest.max"
                                   ng-model="ctrl.booking.address_guest"
                                   ng-required="ctrl.fields.address_guest.required">
                        </div>
                    </div>
                    <!-- CITY GUEST -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">City<span ng-show="ctrl.fields.city_guest.required">*</span></div>
                        <div class="input">
                            <input name="city_guest" type="text" ng-maxlength="ctrl.fields.city_guest.max"
                                   ng-model="ctrl.booking.city_guest"
                                   ng-required="ctrl.fields.city_guest.required">
                        </div>
                    </div>
                </div>
                <!-- PHONE/EMAIL GUEST -->
                <div class="row">
                    <!-- PHONE GUEST -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">
                            Phone number<span ng-show="ctrl.fields.phone_guest.required">*</span>
                            <strong class="red">(always insert international prefix and no spaces!)</strong>
                        </div>
                        <div class="input">
                            <input name="phone_guest" type="text" ng-maxlength="ctrl.fields.phone_guest.max"
                                   ng-model="ctrl.booking.phone_guest"
                                   ng-required="ctrl.fields.phone_guest.required">
                        </div>
                    </div>
                    <!-- EMAIL GUEST -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Email<span ng-show="ctrl.fields.email_guest.required">*</span></div>
                        <div class="input">
                            <input name="email_guest" type="email" ng-maxlength="ctrl.fields.email_guest.max"
                                   ng-model="ctrl.booking.email_guest"
                                   ng-required="ctrl.fields.email_guest.required">
                        </div>
                    </div>
                </div>
                <!-- VAT GUEST-->
                <div class="row">
                    <!-- VAT GUEST -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">VAT number<span ng-show="ctrl.fields.vat_guest.required">*</span></div>
                        <div class="input">
                            <input name="vat_guest" type="text" ng-maxlength="ctrl.fields.vat_guest.max"
                                   ng-model="ctrl.booking.vat_guest"
                                   ng-required="ctrl.fields.vat_guest.required">
                        </div>
                    </div>
                </div>
                <!-- LANGUAGE/CURRENCY GUEST-->
                <div class="row">
                    <!-- LANGUAGE GUEST -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Language<span ng-show="ctrl.fields.language_guest.required">*</span>
                        </div>
                        <div class="input" uib-dropdown>
                            <div class="select" id="language_guest" uib-dropdown-toggle translate>
                                {{'languages.' + ctrl.booking.language_guest}}
                            </div>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="language_guest">
                                <li ng-repeat="language in ctrl.languages" role="menuitem"
                                    ng-click="ctrl.booking.language_guest = language.attributes.language;">
                                    <a href="" translate>{{'languages.' + language.attributes.language}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- CURRENCY GUEST -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Currency<span ng-show="ctrl.fields.currency_guest.required">*</span>
                        </div>
                        <div class="input" uib-dropdown>
                            <div class="select" id="currency_guest" uib-dropdown-toggle translate>
                                {{'currencies.' + ctrl.booking.currency_guest}}
                            </div>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="currency_guest">
                                <li ng-repeat="currency in ctrl.currencies" role="menuitem"
                                    ng-click="ctrl.booking.currency_guest = currency.attributes.name;">
                                    <a href="" translate>{{'currencies.' + currency.attributes.name}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <hr>

                <!-- CAPTAIN DATA-->
                <div class="row">
                    <div class="col-xs-12"><h3>CAPTAIN DATA</h3></div>
                </div>
                <!-- FIRST/LAST NAME CAPTAIN -->
                <div class="row">
                    <!-- FIRST NAME CAPTAIN -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">First name<span
                                ng-show="ctrl.fields.first_name_captain.required">*</span></div>
                        <div class="input">
                            <input name="first_name_captain" type="text"
                                   ng-maxlength="ctrl.fields.first_name_captain.max"
                                   ng-model="ctrl.booking.first_name_captain"
                                   ng-required="ctrl.fields.first_name_captain.required">
                        </div>
                    </div>
                    <!-- LAST NAME CAPTAIN -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Last name<span
                                ng-show="ctrl.fields.last_name_captain.required">*</span></div>
                        <div class="input">
                            <input name="last_name_captain" type="text" ng-maxlength="ctrl.fields.last_name_captain.max"
                                   ng-model="ctrl.booking.last_name_captain"
                                   ng-required="ctrl.fields.last_name_captain.required">
                        </div>
                    </div>
                </div>
                <!-- PHONE/EMAIL CAPTAIN -->
                <div class="row">
                    <!-- PHONE CAPTAIN -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">
                            Phone number<span ng-show="ctrl.fields.phone_captain.required">*</span>
                            <strong class="red">(always insert international prefix and no spaces!)</strong>
                        </div>
                        <div class="input">
                            <input name="phone_captain" type="text" ng-maxlength="ctrl.fields.phone_captain.max"
                                   ng-model="ctrl.booking.phone_captain"
                                   ng-required="ctrl.fields.phone_captain.required">
                        </div>
                    </div>
                    <!-- EMAIL CAPTAIN -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Email<span ng-show="ctrl.fields.email_captain.required">*</span></div>
                        <div class="input">
                            <input name="email_captain" type="email" ng-maxlength="ctrl.fields.email_captain.max"
                                   ng-model="ctrl.booking.email_captain"
                                   ng-required="ctrl.fields.email_captain.required">
                        </div>
                    </div>
                </div>
                <!-- LANGUAGE/CURRENCY CAPTAIN-->
                <div class="row">
                    <!-- LANGUAGE CAPTAIN -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Language<span ng-show="ctrl.fields.language_captain.required">*</span>
                        </div>
                        <div class="input" uib-dropdown>
                            <div class="select" id="language_captain" uib-dropdown-toggle translate>
                                {{'languages.' + ctrl.booking.language_captain}}
                            </div>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="language_captain">
                                <li ng-repeat="language in ctrl.languages" role="menuitem"
                                    ng-click="ctrl.booking.language_captain = language.attributes.language;">
                                    <a href="" translate>{{'languages.' + language.attributes.language}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- CURRENCY CAPTAIN -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Currency<span ng-show="ctrl.fields.currency_captain.required">*</span>
                        </div>
                        <div class="input" uib-dropdown>
                            <div class="select" id="currency_captain" uib-dropdown-toggle translate>
                                {{'currencies.' + ctrl.booking.currency_captain}}
                            </div>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="currency_captain">
                                <li ng-repeat="currency in ctrl.currencies" role="menuitem"
                                    ng-click="ctrl.booking.currency_captain = currency.attributes.name;">
                                    <a href="" translate>{{'currencies.' + currency.attributes.name}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <hr>

                <!-- EXPERIENCE DATA-->
                <div class="row">
                    <div class="col-xs-12"><h3>EXPERIENCE DATA</h3></div>
                </div>
                <!-- EXPERIENCE TITLE/DESCRIPTION -->
                <div class="row">
                    <!-- EXPERIENCE TITLE -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Title<span ng-show="ctrl.fields.experience_title.required">*</span>
                        </div>
                        <div class="input">
                            <input name="experience_title" type="text" ng-maxlength="ctrl.fields.experience_title.max"
                                   ng-model="ctrl.booking.experience_title"
                                   ng-required="ctrl.fields.experience_title.required">
                        </div>
                    </div>
                    <!-- EXPERIENCE DESCRIPTION -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Description<span ng-show="ctrl.fields.experience_description.required">*</span>
                        </div>
                        <div class="input">
                            <textarea name="experience_description" rows="5" type="text"
                                      ng-maxlength="ctrl.fields.experience_description.max"
                                      ng-model="ctrl.booking.experience_description"
                                      ng-required="ctrl.fields.experience_description.required"></textarea>
                        </div>
                    </div>
                </div>
                <!-- EXPERIENCE/ARRIVAL/EXPIRATION DATE / NO DATES -->
                <div class="row">
                    <!-- EXPERIENCE DATE -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Experience Date<span
                                ng-show="!ctrl.fields.experience_date.optional">*</span>
                        </div>
                        <div class="input">
                            <naus-datepicker-popup date="ctrl.booking.experience_date" language="en"
                                                   min-date="ctrl.fields.experience_date.min"
                                                   is-open=ctrl.fields.experience_date.open
                                                   on-select="ctrl.no_dates = false"></naus-datepicker-popup>
                        </div>
                    </div>
                    <!-- ARRIVAL DATE -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Arrival Date<span ng-show="!ctrl.fields.arrival_date.optional">*</span>
                        </div>
                        <div class="input">
                            <naus-datepicker-popup date="ctrl.booking.arrival_date" language="en"
                                                   min-date="ctrl.fields.arrival_date.min"
                                                   is-open=ctrl.fields.arrival_date.open
                                                   on-select="ctrl.no_dates = false"></naus-datepicker-popup>
                        </div>
                    </div>
                    <!-- NO DATE -->
                    <div class="col-md-12 field">
                        <div class="separator"></div>
                        <div class="input-label">Don't set experience/arrival date</div>
                        <div class="input">
                            <input type="checkbox"
                                   ng-model="ctrl.no_dates"
                                   ng-change="ctrl.clearDates()"
                                   ng-value=true
                                   ng-required=false>
                        </div>
                    </div>
                    <!-- EXPIRATION DATE -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Expiration Date<span
                                ng-show="ctrl.fields.expiration_date.required">*</span></div>
                        <div class="input">
                            <naus-datepicker-popup date="ctrl.booking.expiration_date" language="en"
                                                   is-open=ctrl.fields.expiration_date.open
                                                   min-date="ctrl.fields.expiration_date.min"></naus-datepicker-popup>
                        </div>
                    </div>
                </div>
                <!--DEPARTURE/ARRIVAL PORT-->
                <div class="row">
                    <!-- DEPARTURE PORT -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Departure port<span
                                ng-show="ctrl.fields.departure_port.required">*</span></div>
                        <div class="input">
                            <input name="departure_port" type="text" ng-maxlength="ctrl.fields.departure_port.max"
                                   ng-model="ctrl.booking.departure_port"
                                   ng-required="ctrl.fields.departure_port.required">
                        </div>
                    </div>
                    <!-- ARRIVAL PORT -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Arrival port<span ng-show="ctrl.fields.arrival_port.required">*</span>
                        </div>
                        <div class="input">
                            <input name="arrival_port" type="text" ng-maxlength="ctrl.fields.arrival_port.max"
                                   ng-model="ctrl.booking.arrival_port"
                                   ng-required="ctrl.fields.arrival_port.required">
                        </div>
                    </div>
                </div>
                <!--DEPARTURE/ARRIVAL TIME-->
                <div class="row">
                    <!-- DEPARTURE TIME -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Departure time<span
                                ng-show="ctrl.fields.departure_time.required">*</span></div>
                        <div class="input">
                            <div uib-timepicker ng-model="ctrl.booking.departure_time"
                                 show-spinners="false"
                                 show-meridian="false"></div>
                        </div>
                    </div>
                    <!-- ARRIVAL TIME -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Arrival time<span ng-show="ctrl.fields.arrival_time.required">*</span>
                        </div>
                        <div class="input">
                            <div uib-timepicker ng-model="ctrl.booking.arrival_time"
                                 show-spinners="false"
                                 show-meridian="false"></div>
                        </div>
                    </div>
                </div>
                <!--BOAT TYPE-->
                <div class="row">
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Boat type<span
                                ng-show="ctrl.fields.boat_type.required">*</span></div>
                        <div class="input" uib-dropdown>
                            <div class="select" id="boat_type" uib-dropdown-toggle translate>
                                {{'boat_types.' + ctrl.booking.boat_type}}
                            </div>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="boat_type">
                                <li ng-repeat="type in ctrl.boat_types" role="menuitem"
                                    ng-click="ctrl.booking.boat_type = type.attributes.name;">
                                    <a href="" translate>{{'boat_types.' + type.attributes.name}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--ADULTS/KIDS/BABIES-->
                <div class="row">
                    <!-- ADULTS -->
                    <div class="col-md-4 field">
                        <div class="separator"></div>
                        <div class="input-label">Adults<span ng-show="ctrl.fields.adults.required">*</span></div>
                        <div class="input">
                            <input name="adults" type="number" ng-min="0"
                                   ng-max="ctrl.fields.adults.max"
                                   ng-model="ctrl.booking.adults"
                                   ng-required="ctrl.fields.adults.required">
                        </div>
                    </div>
                    <!-- KIDS -->
                    <div class="col-md-4 field">
                        <div class="separator"></div>
                        <div class="input-label">Kids<span ng-show="ctrl.fields.kids.required">*</span></div>
                        <div class="input">
                            <input name="kids" type="number" ng-min="0"
                                   ng-max="ctrl.fields.kids.max"
                                   ng-model="ctrl.booking.kids"
                                   ng-required="ctrl.fields.kids.required">
                        </div>
                    </div>
                    <!-- BABIES -->
                    <div class="col-md-4 field">
                        <div class="separator"></div>
                        <div class="input-label">Babies<span ng-show="ctrl.fields.babies.required">*</span></div>
                        <div class="input">
                            <input name="babies" type="number" ng-min="0"
                                   ng-max="ctrl.fields.babies.max"
                                   ng-model="ctrl.booking.babies"
                                   ng-required="ctrl.fields.babies.required">
                        </div>
                    </div>
                </div>
                <!-- INCLUDED/EXCLUDED SERVICES-->
                <div class="row">
                    <!-- INCLUDED SERVICES -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Included services<span
                                ng-show="ctrl.fields.included_services.required">*</span></div>
                        <div class="input">
                            <input name="included_services" type="text" ng-maxlength="ctrl.fields.included_services.max"
                                   ng-model="ctrl.booking.included_services"
                                   ng-required="ctrl.fields.included_services.required">
                        </div>
                    </div>
                    <!-- EXCLUDED SERVICES -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Excluded services<span
                                ng-show="ctrl.fields.excluded_services.required">*</span>
                        </div>
                        <div class="input">
                            <input name="excluded_services" type="text" ng-maxlength="ctrl.fields.excluded_services.max"
                                   ng-model="ctrl.booking.excluded_services"
                                   ng-required="ctrl.fields.excluded_services.required">
                        </div>
                    </div>
                </div>
                <!-- DRINKS/DISHES -->
                <div class="row">
                    <!-- DRINKS -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Drinks<span
                                ng-show="ctrl.fields.drinks.required">*</span></div>
                        <div class="input">
                            <input name="drinks" type="text" ng-maxlength="ctrl.fields.drinks.max"
                                   ng-model="ctrl.booking.drinks"
                                   ng-required="ctrl.fields.drinks.required">
                        </div>
                    </div>
                    <!-- DISHES -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Dishes<span ng-show="ctrl.fields.dishes.required">*</span>
                        </div>
                        <div class="input">
                            <input name="dishes" type="text" ng-maxlength="ctrl.fields.dishes.max"
                                   ng-model="ctrl.booking.dishes"
                                   ng-required="ctrl.fields.dishes.required">
                        </div>
                    </div>
                </div>
                <!--PRICE/FEE-->
                <div class="row">
                    <!-- PRICE -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Price ({{ctrl.booking.currency_captain}})<span
                                ng-show="ctrl.fields.price.required">*</span></div>
                        <div class="input">
                            <input name="price" type="number" ng-min="ctrl.fields.price.min"
                                   ng-max="ctrl.fields.price.max"
                                   ng-model="ctrl.booking.price"
                                   ng-required="ctrl.fields.price.required && !ctrl.booking.without_payment">
                        </div>
                    </div>
                    <!-- FEE -->
                    <div class="col-md-6 field">
                        <div class="separator"></div>
                        <div class="input-label">Fee ({{ctrl.booking.currency_captain}})<span
                                ng-show="ctrl.fields.fee.required">*</span></div>
                        <div class="input">
                            <input name="fee" type="number" ng-min="0"
                                   ng-max="ctrl.booking.price"
                                   ng-model="ctrl.booking.fee"
                                   ng-required="ctrl.fields.fee.required && !ctrl.booking.without_payment">
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="text-center">
            <button class="margin-top-lg" ng-click="ctrl.post()">CREATE</button>
        </div>
    </div>
</div>

<modal ng-if="ctrl.successModal" modal-title="Success" on-close="ctrl.goTo('bookings-offsite')">
    <div>
        <h3 class="text-center margin-bottom-md">New offsite Booking created</h3>
        <div class="text-center margin-bottom-sm" ng-if="ctrl.newBookingId">
            <button ng-click="ctrl.goTo('bookings-offsite/' + ctrl.newBookingId)">Go to new Booking</button>
        </div>
        <div class="text-center margin-bottom-sm">
            <button ng-click="ctrl.successModal = false">Create another booking</button>
        </div>
        <div class="text-center">
            <button ng-click="ctrl.goTo('bookings-offsite')">Go to list</button>
        </div>
    </div>
</modal>

<modal ng-if="ctrl.errorModal" modal-title="Error" on-close="ctrl.errorModal = false">
    <div class="text-center">
        <h5 ng-if="ctrl.errorMissingDate">Dates are required</h5>
        <h5 ng-if="ctrl.errorArrivalDate">Arrival date can't be before experience date</h5>
        <button ng-click="ctrl.errorModal = false">Close</button>
    </div>
</modal>