<div class="component-loadable dashboard-infobox text-center"
     ng-class="{'component-loadable-loading': (ctrl.loading || ctrl.translations.loading)}">
    <div ng-if="!(ctrl.loading || ctrl.translations.loading)">
        <div class="dashboard-infobox-inner">
            <user-pic user-pic-link="{{ctrl.photo}}" user-role="{{ctrl.role}}"></user-pic>
            <div class="model-name h5"><span translate>{{ctrl.userName}}</span></div>
            <naus-btn on-click="ctrl.goToProfileEdit()"
                      options="{small: true}"
                      custom-classes="['full-width']">
                {{'user.' + ctrl.cta | translate}}
            </naus-btn>
        </div>
    </div>

    <div ng-show="ctrl.loading || ctrl.translations.loading" class="loader-alt inside-parent"></div>
</div>