<div id="header-container" ng-hide="ctrl.loading || ctrl.translations.loading">
    <div class="hidden-xs hidden-sm" id="top-header-container">
        <div id="top-header">
            <span class="top-header-item"
                  uib-popover-template="'/users/app/components/header/views/currencies.view.html'"
                  popover-is-open="ctrl.currencyPopover"
                  popover-placement="bottom-right"
                  popover-trigger="'outsideClick'"
                  ng-if="ctrl.isVisible(ctrl.currencyObject)">
                <div class="pointer">
                    <span class="icon icon-{{ctrl.currency.toLowerCase()}} i-15x header-currency"></span>
                    <span class="top-header-item-text" translate>{{'header.currency'}}</span>
                    <span class="icon i-1x"
                          ng-class="{'icon-arrow-down': !ctrl.currencyPopover, 'icon-arrow-up': ctrl.currencyPopover}"></span>
                </div>
            </span>
            <span class="top-header-item"
                  uib-popover-template="'/users/app/components/header/views/languages.view.html'"
                  popover-is-open="ctrl.languagePopover"
                  popover-placement="bottom-right"
                  popover-trigger="'outsideClick'"
                  ng-if="ctrl.isVisible(ctrl.languageObject)">
                <div class="pointer">
                    <img class="header-language-image"
                         ng-src="{{ctrl.cloudinaryUrl}}/image/upload/production/assets/img/lang/{{ctrl.language}}.gif"/>
                    <span class="top-header-item-text" translate>{{'header.language'}}</span>
                    <span class="icon i-1x"
                          ng-class="{'icon-arrow-down': !ctrl.languagePopover, 'icon-arrow-up': ctrl.languagePopover}"></span>
                 </div>
            </span>
            <span class="top-header-item">
                <a type="button" class="btn btn-rounded btn-sm btn-ghost btn-support"
                   ng-class="{'cursor-arrow': ctrl.isPhoneNumberVisible}"
                   ng-href="/{{ctrl.language}}/assistance"
                   ng-click="ctrl.togglePhoneNumber()" prevent-href>
                    <span class="icon icon-customer-care header-customer-care-icon"></span>
                    <span ng-hide="ctrl.isPhoneNumberVisible">{{'header.call_us' | translate}}</span>
                    <span ng-show="ctrl.isPhoneNumberVisible">{{ctrl.supportPhone}}</span>
                </a>
            </span>
        </div>
    </div>
    <div id="bottom-header-container">
        <div id="bottom-header" class="text-center">
            <button type="button" class="naus-btn naus-btn-default hamburger visible-xs visible-sm"
                    ng-click="ctrl.openMenu()">
                <span class="icon icon-hamburger"></span>
            </button>
            <a  class="logo-container" ng-href="{{'/' + ctrl.language + '/'}}"
               ng-click="ctrl.goTo('/' + ctrl.language + '/')" prevent-href>
                <img class="logo" src="{{ctrl.cloudinaryUrl}}/image/upload/production/assets/img/{{ctrl.currentLogo}}">
            </a>
            <!--<span class="icon icon-search search pull-right"></span>-->
            <div class="hidden-xs hidden-sm" id="menu-desktop">
                <!--<div id="search-box"><span class="icon icon-search"></span></div>-->
                <ul class="menu-items">
                    <!--DESTINATIONS-->
                    <li class="menu-item hidden-xs hidden-sm hidden-md pointer" uib-dropdown uib-dropdown-toggle>
                        <a class="menu-item-text" ng-href='#'>
                            {{'header.places' | translate}}
                        </a>
                        <span class="menu-item-underline"></span>
                        <ul class="sub-items list-no-style" uib-dropdown-menu role="menu"
                            aria-labelledby="places">
                            <li class="sub-item dropdown-item" role="menuitem"
                                ng-repeat="destination in ctrl.destinations">
                                <a class="sub-item-link"
                                   ng-href="{{ctrl.getLinkFromDestinationName(destination.attributes.name)}}"
                                   ng-click="ctrl.goToDestination(destination.attributes.name)" prevent-href>{{'header.'+
                                    destination.attributes.name | translate}}</a>
                            </li>
                        </ul>
                    </li>
                    <!--SUPPORT-->
                    <li class="menu-item pointer" uib-dropdown uib-dropdown-toggle>
                        <a class="menu-item-text" ng-href="#">
                            {{'header.how_it_works' | translate}}
                        </a>
                        <span class="menu-item-underline"></span>
                        <ul class="sub-items list-no-style dropdown-menu-right" uib-dropdown-menu role="menu"
                            aria-labelledby="support">
                            <li class="sub-item dropdown-item" role="menuitem">
                                <a class="sub-item-link pointer" ng-href="/{{ctrl.language}}/how-it-works-captain"
                                   ng-click="ctrl.goTo('/' + ctrl.language + '/how-it-works-captain')" prevent-href>
                                    {{'header.how_captain' | translate}}</a>
                            </li>
                            <li class="sub-item dropdown-item" role="menuitem">
                                <a class="sub-item-link" ng-href="/{{ctrl.language}}/how-it-works-guest"
                                   ng-click="ctrl.goTo('/' + ctrl.language + '/how-it-works-guest')" prevent-href>
                                    {{'header.how_guest' | translate}}</a>
                            </li>
                            <li class="sub-item dropdown-item" role="menuitem">
                                <a class="sub-item-link" ng-href="/{{ctrl.language}}/assistance"
                                   ng-click="ctrl.goTo('/' + ctrl.language + '/assistance')"
                                   prevent-href>
                                    {{'header.assistance' | translate}}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!--BECOME CAPTAIN-->
                    <li class="menu-item pointer" ng-click="ctrl.goTo('/' + ctrl.language + '/register')">
                        <a class="menu-item-text" ng-href="/{{ctrl.language}}/register" prevent-href>
                            {{'header.insert_boat' | translate}}
                        </a>
                        <span class="menu-item-underline"></span>
                    </li>
                    <!--LOGIN-->
                    <li ng-if="!ctrl.user" class="menu-item" uib-dropdown uib-dropdown-toggle>
                        <a class="menu-item-text" ng-href='#'>
                            {{'header.login' | translate}}
                        </a>
                        <span class="menu-item-underline"></span>
                        <ul class="sub-items list-no-style dropdown-menu-right" uib-dropdown-menu role="menu"
                            aria-labelledby="login">
                            <li class="sub-item dropdown-item" role="menuitem">
                                <a class="sub-item-link" ng-click="ctrl.loginVisitors()">
                                    {{'header.login_users' | translate}}
                                </a>
                            </li>
                            <li class="sub-item dropdown-item" role="menuitem">
                                <a class="sub-item-link pointer"
                                   ng-click="ctrl.goTo('/' + ctrl.language + '/login', null, 'captain')">{{'header.login_captains'
                                    |
                                    translate}}</a>
                            </li>
                        </ul>
                    </li>
                    <!--USER MENU ITEM-->
                    <li class="menu-item pointer photo-user-box" uib-dropdown ng-if="ctrl.user" uib-dropdown-toggle
                        ng-class="{'no-photo': !ctrl.user.attributes.profile_photo}">
                        <a ng-href="#" ng-if="!ctrl.user.attributes.profile_photo"
                           class="icon icon-login btn btn-ghost btn-circle photo-user-toggle">
                        </a>
                        <a ng-href="#" ng-if="ctrl.user.attributes.profile_photo" class="photo-user-toggle">
                            <img class="user" ng-src="{{ ctrl.user.attributes.profile_photo }}"/>
                        </a>
                        <ul class="sub-items list-no-style dropdown-menu-right notifications" uib-dropdown-menu
                            role="menu"
                            aria-labelledby="phone_to_activate"
                            ng-class="{'dropdown-menu-right': $index > ctrl.menuLength-4}">
                            <li ng-if="!ctrl.notifications.is_phone_activated && ctrl.countriesLoaded"
                                class="dropdown-item" role="menuitem">
                                <a href prevent-href ng-click="ctrl.verifyPhone()"
                                   class="danger sub-item-link red-color pointer">
                                    <i class="icon icon-phone sub-menu-user"></i>
                                    <span>{{'header.verify_phone' | translate}}</span>
                                </a>
                            </li>
                            <li ng-if="!ctrl.notifications.is_mail_activated" class="dropdown-item" role="menuitem">
                                <a href prevent-href ng-click="ctrl.verifyEmailFormIsOpen = true"
                                   class="danger sub-item-link red-color pointer">
                                    <i class="icon icon-mail sub-menu-user"></i>
                                    <span>{{'header.verify_mail' | translate}}</span>
                                </a>
                            </li>
                            <li class="sub-item dropdown-item" role="menuitem">
                                <a href ng-click="ctrl.goTo('/' + ctrl.language + '/dashboard')"
                                   class="sub-item-link pointer" prevent-href>
                                    <i class="icon icon-dashboard sub-menu-user"></i>
                                    <span>{{'header.personal_area' | translate}}</span>
                                </a>
                            </li>
                            <!--
                            <li class="sub-item dropdown-item" role="menuitem">
                                <a ng-href="" class="sub-item-link" translate>
                                    <i class="icon icon-boat"></i>
                                    {{'header.profile'}}
                                </a>
                            </li>
                            -->
                            <li class="sub-item dropdown-item" role="menuitem">
                                <a href ng-click="ctrl.goTo('/' + ctrl.language + '/conversations')"
                                   class="sub-item-link pointer"
                                   ng-class="{'notification-set': ctrl.notifications.messages > 0}" prevent-href>
                                    <i class="icon icon-mail sub-menu-user"></i>
                                    <span>{{ 'header.new_messages' | translate }}</span> -
                                    <span class="notification-amount"> {{ctrl.notifications.messages}}</span>
                                </a>
                            </li>
                            <li class="sub-item dropdown-item" role="menuitem">
                                <a href ng-click="ctrl.goTo('/' + ctrl.language + '/bookings')"
                                   class="sub-item-link pointer"
                                   ng-class="{'notification-set': ctrl.notifications.bookings > 0}" prevent-href>
                                    <i class="icon icon-booking sub-menu-user"></i>
                                    <span>{{ 'header.new_bookings' | translate }}</span> -
                                    <span class="notification-amount">{{ctrl.notifications.bookings}}</span>
                                </a>
                            </li>
                            <li class="sub-item dropdown-item" role="menuitem">
                                <a href class="sub-item-link pointer" ng-click="ctrl.logout()" prevent-href>
                                    <i class="icon icon-logout sub-menu-user"></i>
                                    <span>{{'header.logout' | translate}}</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="visible-xs visible-sm pull-right right-button-mobile">
                <a class="btn btn-ghost btn-circle hidden-sm" ng-href="tel:{{ctrl.supportPhoneNoSpaces}}"
                   ng-click="ctrl.convert('call-us')">
                    <span class="icon icon-customer-care"></span>
                </a>
                <a class="btn btn-ghost btn-circle hidden-xs" ng-click="ctrl.convert('call-us')"
                   ng-href="{{ctrl.language}}/assistance" go-to>
                    <span class="icon icon-customer-care"></span>
                </a>


                <div uib-dropdown ng-if="!ctrl.user" class="dropdown-user">
                    <a ng-href='#' type="button" class="btn btn-ghost btn-circle" uib-dropdown-toggle>
                        <span class="icon icon-login"></span>
                    </a>
                    <ul class="sub-items list-no-style dropdown-menu-right" uib-dropdown-menu role="menu"
                        aria-labelledby="login">
                        <li class="sub-item dropdown-item" role="menuitem">
                            <a class="sub-item-link pointer" ng-click="ctrl.loginVisitors()">
                                {{'header.login_users' | translate}}
                            </a>
                        </li>
                        <li class="sub-item dropdown-item" role="menuitem">
                            <a class="sub-item-link pointer"
                               ng-click="ctrl.goTo('/' + ctrl.language + '/login', null, 'captain')">
                                {{'header.login_captains' | translate}}
                            </a>
                        </li>
                    </ul>
                </div>

                <div uib-dropdown ng-if="ctrl.user" class="dropdown-user">
                    <a ng-href='#' ng-if="!ctrl.user.attributes.profile_photo" type="button"
                       class="btn btn-ghost btn-circle" uib-dropdown-toggle>
                        <span class="icon icon-login"></span>
                    </a>
                    <a ng-href="#" ng-if="ctrl.user.attributes.profile_photo" class="menu-item-text"
                       uib-dropdown-toggle>
                        <img class="user" ng-src="{{ ctrl.user.attributes.profile_photo }}"/>
                    </a>
                    <ul class="sub-items list-no-style dropdown-menu-right notifications" uib-dropdown-menu role="menu"
                        aria-labelledby="{{key}}"
                        ng-class="{'dropdown-menu-right': $index > ctrl.menuLength-4}">
                        <li ng-if="!ctrl.notifications.is_phone_activated && ctrl.countriesLoaded" class="dropdown-item"
                            role="menuitem">
                            <a href prevent-href ng-click="ctrl.verifyPhone()"
                               class="danger sub-item-link header-menu-element-mobile">
                                <i class="icon icon-phone sub-menu-user"></i>
                                <span>{{'header.verify_phone' | translate}}</span>
                            </a>
                        </li>
                        <li ng-if="!ctrl.notifications.is_mail_activated" class="dropdown-item" role="menuitem">
                            <a href prevent-href ng-click="ctrl.verifyEmailFormIsOpen = true"
                               class="danger sub-item-link red-color header-menu-element-mobile">
                                <i class="icon icon-mail sub-menu-user"></i>
                                <span>{{'header.verify_mail' | translate}}</span>
                            </a>
                        </li>
                        <li class="sub-item dropdown-item" role="menuitem">
                            <a href ng-click="ctrl.goTo('/' + ctrl.language + '/dashboard')"
                               class="sub-item-link header-menu-element-mobile" prevent-href>
                                <i class="icon icon-dashboard sub-menu-user"></i>
                                <span>{{'header.personal_area' | translate}}</span>
                            </a>
                        </li>
                        <!--
                        <li class="sub-item dropdown-item" role="menuitem">
                            <a ng-href="" class="sub-item-link" translate>
                                <i class="icon icon-boat"></i>
                                {{'header.profile'}}
                            </a>
                        </li>
                        -->
                        <li class="sub-item dropdown-item" role="menuitem">
                            <a ng-href="/{{ctrl.language}}/conversations"
                               class="sub-item-link header-menu-element-mobile"
                               ng-class="{'notification-set': ctrl.notifications.messages > 0}" go-to>
                                <i class="icon icon-mail sub-menu-user"></i>
                                <span>{{ 'header.new_messages' | translate }}</span> -
                                <span class="notification-amount"> {{ctrl.notifications.messages}}</span>
                            </a>
                        </li>
                        <li class="sub-item dropdown-item" role="menuitem">
                            <a ng-href="/{{ctrl.language}}/bookings" class="sub-item-link header-menu-element-mobile"
                               ng-class="{'notification-set': ctrl.notifications.bookings > 0}" go-to>
                                <i class="icon icon-booking sub-menu-user"></i>
                                <span>{{ 'header.new_bookings' | translate }}</span> -
                                <span class="notification-amount">{{ctrl.notifications.bookings}}</span>
                            </a>
                        </li>
                        <li class="sub-item dropdown-item pointer" role="menuitem">
                            <a ng-href="#" class="sub-item-link header-menu-element-mobile" ng-click="ctrl.logout()"
                               prevent-href>
                                <i class="icon icon-logout sub-menu-user"></i>
                                <span>{{'header.logout' | translate}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="sidebar" ng-swipe-left="ctrl.closeMenu()">
    <div id="overlay" ng-click="ctrl.closeMenu()">
    </div>
    <div id="menu">
        <uib-accordion id="items">
            <div id="{{'item-menu'}}" class="item">
                <a class="icon icon-logo" ng-href="{{'/' + ctrl.language + '/'}}"
                   ng-click="ctrl.goTo('/' + ctrl.language + '/')" prevent-href></a><span
                    class="pull-right icon icon-close i-5x close-icon-menu"
                    ng-click="ctrl.closeMenu()"></span>
            </div>
            <div class="item text-center">
                <a type="button" class="btn btn-rounded btn-sm btn-ghost hidden-xs sidebar-phone"
                   ng-href="/{{ctrl.language}}/assistance"
                   ng-click="ctrl.togglePhoneNumber()" prevent-href>
                    <span class="icon icon-customer-care"></span>
                    <span ng-hide="ctrl.isPhoneNumberVisible">{{'header.call_us' | translate}}</span>
                    <span ng-show="ctrl.isPhoneNumberVisible">{{ctrl.supportPhone}}</span>
                </a>
                <a type="button" class="btn btn-rounded btn-sm btn-ghost visible-xs sidebar-phone"
                   ng-href="tel:{{ctrl.supportPhoneNoSpaces}}" ng-click="ctrl.convert('call-us')">
                    <span class="icon icon-customer-care"></span> {{ctrl.supportPhone}}
                </a>
            </div>
            <!--DESTINATIONS-->
            <div uib-accordion-group is-open="ctrl.isDestinationsOpen" id="destinations"
                 class="item item-top panel-with-sub">
                <uib-accordion-heading class="item-heading">
                    {{'header.places' | translate}}
                    <span class="pull-right icon"
                          ng-class="{'icon-arrow-up': ctrl.isDestinationsOpen, 'icon-arrow-down': !ctrl.isDestinationsOpen}"></span>
                </uib-accordion-heading>
                <ul class="sub-items list-no-style">
                    <li class="sub-item"
                        ng-repeat="destination in ctrl.destinations">
                        <a class="sub-item-link"
                           ng-href="{{ctrl.getLinkFromDestinationName(destination.attributes.name)}}"
                           ng-click="ctrl.goToDestination(destination.attributes.name)" prevent-href>{{'header.' +
                            destination.attributes.name | translate}}</a>
                    </li>
                </ul>
            </div>
            <!--SUPPORT-->
            <div uib-accordion-group is-open="ctrl.isSupportOpen" id="support"
                 class="item item-top panel-with-sub">
                <uib-accordion-heading class="item-heading">
                    {{'header.how_it_works' | translate}}
                    <span class="pull-right icon"
                          ng-class="{'icon-arrow-up': ctrl.isSupportOpen, 'icon-arrow-down': !ctrl.isSupportOpen}"></span>
                </uib-accordion-heading>
                <ul class="sub-items list-no-style">
                    <li class="sub-item">
                        <a class="sub-item-link" ng-href="/{{ctrl.language}}/how-it-works-captain"
                           ng-click="ctrl.goTo('/' + ctrl.language + '/how-it-works-captain')"
                           prevent-href>{{'header.how_captain' | translate}}</a>
                    </li>
                    <li class="sub-item">
                        <a class="sub-item-link" ng-href="/{{ctrl.language}}/how-it-works-guest"
                           ng-click="ctrl.goTo('/' + ctrl.language + '/how-it-works-guest')"
                           prevent-href>{{'header.how_guest' | translate}}</a>
                    </li>
                    <li class="sub-item">
                        <a class="sub-item-link" ng-href="/{{ctrl.language}}/assistance"
                           ng-click="ctrl.goTo('/' + ctrl.language + '/assistance')"
                           prevent-href>{{'header.assistance' | translate}}</a>
                    </li>
                </ul>
            </div>
            <!--BECOME CAPTAIN-->
            <div id="become-captain" class="item item-top">
                <a class="item-heading pointer" ng-href="/{{ctrl.language}}/register"
                   ng-click="ctrl.goTo('/' + ctrl.language + '/register')" prevent-href>
                    {{'header.insert_boat' | translate}} <span
                        class="pull-right icon icon-arrow-right become-captain-mobile-icon"></span>
                </a>
            </div>
            <!--LOGIN-->
            <div uib-accordion-group is-open="ctrl.isLoginMenuOpen" id="login-menu"
                 class="item item-top panel-with-sub" ng-if="!ctrl.user">
                <uib-accordion-heading class="item-heading">
                    {{'header.login' | translate}}
                    <span class="pull-right icon"
                          ng-class="{'icon-arrow-up': ctrl.isLoginMenuOpen, 'icon-arrow-down': !ctrl.isLoginMenuOpen}"></span>
                </uib-accordion-heading>
                <ul class="sub-items list-no-style">
                    <li class="sub-item">
                        <a class="sub-item-link" ng-click="ctrl.loginVisitors()">
                            {{'header.login_users' | translate}}
                        </a>
                    </li>
                    <li class="sub-item">
                        <a class="sub-item-link" ng-click="ctrl.goTo('/' + ctrl.language + '/login', null, 'captain')">
                            {{'header.login_captains' | translate}}
                        </a>
                    </li>
                </ul>
            </div>
            <!-- LANGUAGE -->
            <div uib-accordion-group is-open="ctrl.languageObject.open"
                 id="item-language" class="item item-bottom margin-top-lg"
                 ng-class="{'panel-with-sub': ctrl.languages }"
                 ng-if="ctrl.isVisible(ctrl.languageObject)">
                <uib-accordion-heading class="item-heading">
                    {{'header.language' | translate}}
                    <span class="pull-right icon" ng-class="{'icon-arrow-up': ctrl.languageObject.open && ctrl.languages,
                    'icon-arrow-down': !ctrl.languageObject.open && ctrl.languages, 'icon-arrow-right': !ctrl.languages}"></span>
                </uib-accordion-heading>
                <ul class="sub-items list-no-style" ng-if="ctrl.languages">
                    <li class="sub-item" ng-repeat="language in ctrl.languages">
                        <a class="sub-item-link list-element-icon"
                           ng-click="ctrl.languageObject.action(language)"><img
                                class="sub-item-image"
                                ng-src="{{ctrl.cloudinaryUrl}}/image/upload/production/assets/img/lang/{{language}}.gif"/>
                            {{'languages.'+language | translate}}</a>
                    </li>
                </ul>
            </div>
            <!-- CURRENCY -->
            <div uib-accordion-group is-open="ctrl.currencyObject.open"
                 id="item-currency" class="item item-bottom" ng-class="{'panel-with-sub': ctrl.currencies}"
                 ng-if="ctrl.isVisible(ctrl.currencyObject)">
                <uib-accordion-heading class="item-heading">
                    {{'header.currency' | translate}}
                    <span class="pull-right icon" ng-class="{'icon-arrow-up': ctrl.currencyObject.open && ctrl.currencies,
                     'icon-arrow-down': !ctrl.currencyObject.open && ctrl.currencies, 'icon-arrow-right': !ctrl.currencies}"></span>
                </uib-accordion-heading>
                <ul class="sub-items list-no-style currencies-list" ng-if="ctrl.currencies">
                    <li class="sub-item" ng-repeat="currency in ctrl.currencies">
                        <a class="sub-item-link" ng-click="ctrl.currencyObject.action(currency)">
                            <span class="icon icon-{{currency.toLowerCase()}} i-15x"></span>
                            <span class="text-inline-icon" translate>{{'currencies.' + currency}}</span></a>
                    </li>
                </ul>
            </div>
        </uib-accordion>
    </div>
</div>
<!--MODAL LOGIN GUESTS-->
<modal modal-title="header.guest_login" ng-if="ctrl.guestLoginIsOpen" on-close="ctrl.guestLoginIsOpen = false">
    <login-visitors close="ctrl.guestLoginIsOpen = false"></login-visitors>
</modal>
<!--MODAL EVENTS-->
<modal modal-title="header.events_form" ng-if="ctrl.eventsFormIsOpen" on-close="ctrl.eventsFormIsOpen = false">
    <events-form on-close="ctrl.eventsFormIsOpen = false"></events-form>
</modal>
<!--MODAL VERIFY EMAIL-->
<modal modal-title="header.verify_mail" ng-if="ctrl.verifyEmailFormIsOpen"
       on-close="ctrl.verifyEmailFormIsOpen = false">
    <verify-email on-close="ctrl.verifyEmailFormIsOpen = false"></verify-email>
</modal>

<!--ACCOUNT KIT MODALS-->
<!--SUCCESS-->
<modal modal-title="header.phone_verified_modal_title" ng-if="ctrl.phoneVerifiedIsOpen"
       on-close="ctrl.phoneVerifiedIsOpen = false">
    <div class="phone-verified text-center">
        <h3 class="light-blue bold phone-verified-message text-center margin-bottom-md" translate>
            {{'header.phone_verified'}}</h3>

        <p class="no-margin" translate>{{'header.smooth_sailing'}}</p>
        <p class="text-italic bold light-blue margin-bottom-md" translate>{{'header.nausdream_team'}}</p>

        <div class="text-center">
            <a href class="naus-btn i-8x text-uppercase" ng-click="ctrl.phoneVerifiedIsOpen = false" prevent-href>{{'header.back_to_site'
                | translate}}
            </a>
        </div>
    </div>
</modal>
<!--ERROR-->
<modal modal-title="header.verify_phone" ng-if="ctrl.errorVerifyPhoneIsOpen"
       on-close="ctrl.errorVerifyPhoneIsOpen = false">
    <div translate class="h4 text-center">{{'errors.' + ctrl.verifyPhoneError}}</div>
</modal>
