<div class="resend-password">
    <div ng-show="!ctrl.success && !ctrl.loading && !ctrl.translations.loading ">
        <h4 class="text-center no-margin-top margin-bottom-md">{{'login.reset_password_help' | translate}}</h4>

        <form novalidate class="form" name="ctrl.form">
            <div class="input-group input-group-icon margin-bottom-md">
                <span class="input-group-addon">
                    <span class="icon icon-mail"></span>
                </span>
                <input class="input-group-input"
                       name="email" type="email" required placeholder="{{'inputs.email' | translate}}"
                       ng-model="ctrl.email"
                       ng-change="ctrl.resetField('email')"
                       ng-blur="ctrl.validateField('email')">
                <error-messages field-name="email" translation-name="email"
                                controller-errors=ctrl.errors page="inputs"></error-messages>
            </div>

            <div class="text-center">
                <span class="error-form-no-input" ng-if="ctrl.errors.error"
                      translate>{{'errors.' + ctrl.errors.error.code}}</span>
                <naus-btn on-click="ctrl.send()"
                          options="{disabled: ctrl.loading}">
                    {{'inputs.send' | translate}}
                </naus-btn>
            </div>
        </form>

    </div>

    <div ng-show="ctrl.success">
        <h5 class="text-center margin-bottom-md" translate translate-value-email="{{ctrl.email}}">
            {{'login.resend_password_success'}}</h5>
        <div class="text-center">
            <naus-btn on-click="ctrl.onClose()">
                {{'inputs.back' | translate}}
            </naus-btn>
        </div>
    </div>

    <!-- LOADER -->
    <div class="container-invalid-token" ng-show="ctrl.loading || ctrl.translations.loading">
        <div class="loader"></div>
    </div>
</div>