<div class="cookie-banner white" ng-if="ctrl.isVisible && !ctrl.translations.loading" ng-click="$event.stopPropagation();">
    <div class="cookie-banner-title text-center">
        <span class="text-uppercase" translate>cookie_banner.banner_title</span>
        <span class="icon icon-close i-3x pointer" ng-click="ctrl.onClose()"></span>
    </div>
    <hr class="no-margin">
    <div class="cookie-banner-table">
        <div class="cookie-banner-cell text-center">
            <span class="cookie-banner-text" translate
                  translate-values="{ lang: ctrl.language }">cookie_banner.banner_text</span>
        </div>
    </div>
</div>
