<div class="view-container dashboard" ng-hide="ctrl.makingRequest">
    <user-infobox class="hidden-xs" user="ctrl.user"></user-infobox>
    <quick-access class="hidden-xs" user="ctrl.user"></quick-access>
    <conversations user-id=ctrl.user.id on-conversation-click="ctrl.select(id)" show-accordion=false show-back-button=true></conversations>
</div>