<div ng-hide="ctrl.loading || ctrl.translations.loading">
    <div class="container-fluid view-container" id="main-actions-box">
        <!--TITLE AND SEARCH BAR-->
        <div class="row" id="main-actions-container">
            <div class="center-block dark-row" id="main-actions">
                <h2 id="headline" class="text-center text-uppercase">{{'home.headline' | translate}}</h2>
                <h6 id="sub-headline" class="text-center">{{'home.sub_headline' | translate}}</h6>
            </div>
            <div class="center-block" id="search-bar-column">
                <ui-select ng-if="ctrl.destinationsLoaded && !ctrl.translations.loading" ng-model="ctrl.selectedDestination" search-enabled="false"
                           uis-open-close="ctrl.toggleSearchSelect(isOpen)" toggle-select toggle-id="arrow-icon">
                    <ui-select-match placeholder="{{'home.placeholder_search_bar' | translate}}">{{'home.' +
                        $select.selected.name | translate}}
                    </ui-select-match>
                    <ui-select-choices repeat="destination in ctrl.destinations" group-by="ctrl.selectGroupByAreaName"
                                       ui-select-group-string destinations=ctrl.destinations id="select-choices">
                        {{'home.' + destination.name | translate}}
                    </ui-select-choices>
                </ui-select>
                <naus-btn on-click="ctrl.explore()" id="arrow-icon">{{'home.explore_cta' | translate}}</naus-btn>
            </div>
            <div class="center-block text-center dark-row" id="flow-group">
                <div class="row">
                    <div class="col-xs-4 left">
                        <div class="flow-element">
                            <div class="icon icon-search flow-icon round"></div>
                            <div class="flow-text">
                                <p class="number">{{'home.one' | translate}}</p>
                                <p class="description hidden-xs">{{'home.where' | translate}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4 center">
                        <div class="flow-element">
                            <div class="icon icon-calendar flow-icon round"></div>
                            <div class="flow-text">
                                <p class="number">{{'home.two' | translate}}</p>
                                <p class="description hidden-xs">{{'home.book' | translate}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4 right">
                        <div class="flow-element">
                            <div class="icon icon-sailboat flow-icon round"></div>
                            <div class="flow-text">
                                <p class="number">{{'home.three' | translate}}</p>
                                <p class="description hidden-xs">{{'home.go' | translate}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="flow-group-cta">
                    <div class="col-xs-12 hidden-xs">
                        <!--
                        <button type="button" required class="naus-btn text-uppercase learn-more-button">
                            {{'home.learn_more' | translate}}
                        </button>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid view-container" id="main-container">
        <!--TOP DESTINATIONS-->
        <home-section class="row home-section" id="top-destinations-container"
                      title="{{'home.top_destinations' | translate}}">
            <div class="col-xs-12 col-sm-4" ng-repeat="destination in ctrl.topDestinationsCarousel">
                <top-destination class="item top-destination-container"
                                 destination=destination></top-destination>
            </div>
        </home-section>

        <!--WHY NAUSDREAM-->
        <home-section class="row home-section" id="why-nausdream-container"
                      title="{{'home.why_nausdream' | translate}}" padding="padding">
            <div class="why-nausdream-element col-xs-12 col-sm-4 text-center">
                <img ng-src="{{ctrl.cloudinaryUrl + 'b_rgb:f6f6f6,q_90/' + ctrl.cloudinaryFolder + 'starfish.jpg'}}"/>
                <h3 class="why-nausdream-element-title">{{'home.dreamy_experiences' | translate}}</h3>
                <div class="form-separator separator-small" id="separator-starfish"></div>
                <h6 class="why-nausdream-element-description">{{'home.dreamy_experiences_description' | translate}}</h6>
            </div>
            <div class="why-nausdream-element col-xs-12 col-sm-4 text-center">
                <img ng-src="{{ctrl.cloudinaryUrl + 'b_rgb:f6f6f6,q_90/' + ctrl.cloudinaryFolder + 'captains.jpg'}}"/>
                <h3 class="why-nausdream-element-title">{{'home.best_captains' | translate}}</h3>
                <div class="form-separator separator-small" id="separator-captains"></div>
                <h6 class="why-nausdream-element-description">{{'home.best_captains_description' | translate}}</h6>
            </div>
            <div class="why-nausdream-element col-xs-12 col-sm-4 text-center">
                <img ng-src="{{ctrl.cloudinaryUrl + 'b_rgb:f6f6f6,q_90/' + ctrl.cloudinaryFolder + 'customer-service.jpg'}}"/>
                <h3 class="why-nausdream-element-title">{{'home.customer_service' | translate}}</h3>
                <div class="form-separator separator-small"></div>
                <h6 class="why-nausdream-element-description">{{'home.customer_service_description' | translate}}</h6>
            </div>
        </home-section>
    </div>

    <div class="container-fluid view-container no-margin" id="feedbacks-box">
        <!--FEEDBACKS-->
        <div class="row dark-row home-section no-margin-bottom" id="about-us-container"
             title="{{'home.about_us' | translate}}">
            <div class="center-block no-padding" uib-carousel active="0"
                 template-url="/users/app/components/carousels/feedbacks.html">
                <h2 class="text-center text-uppercase" id="about-us-title">{{'home.about_us' | translate}}</h2>
                <h1 class="text-center" id="about-us-quotation-marks"><i>"</i></h1>

                <div uib-slide ng-repeat="feedback in ctrl.feedbacks track by feedback.id" index="feedback.id">
                    <h6 class="feedback-text light">
                        <span class="feedback-text-inner">
                            {{'home.' + feedback.text | translate}}
                        </span>
                    </h6>
                    <div class="feedback-user">
                        <img class="feedback-user-pic" ng-src="{{ctrl.cloudinaryUrl + ctrl.cloudinaryFolder + feedback.pic}}">
                        <p class="feedback-user-data light">
                            <span class="feedback-user-name vivid-yellow">{{'home.' + feedback.name | translate}}</span>
                            <span class="feedback-user-role hidden-xs"> - {{'home.' + feedback.role | translate}}</span><br>
                            <span class="feedback-user-role hidden-sm-up">{{'home.' + feedback.role | translate}}</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid view-container no-margin full-width no-padding" id="register-box">
        <!--REGISTER FORM-->
        <div class="row home-section" id="register-container">
            <register-form class="col-xs-12 no-padding"></register-form>
        </div>
    </div>

    <div class="container-fluid view-container" id="prefooter-box">
        <!--PREFOOTER-->
        <home-section class="row home-section" id="prefooter-container"
                      title="{{'home.live_your_dream' | translate}}" padding="padding">
            <div class="col-xs-12">
                <div class="row" id="prefooter-content">
                    <div class="col-sm-6 " id="prefooter-img-container">
                        <img class="hidden-xs" id="prefooter-img"
                             src="https://res.cloudinary.com/naustrip/image/upload/q_70/v1490639778/production/assets/img/home/img-prefooter.jpg">
                    </div>
                    <div class="col-sm-6" id="prefooter-text">
                        <div translate>{{'home.live_your_dream_text'}}</div>
                        <div class="row hidden-xs">
                            <div class="col-xs-6 prefooter-counter-container">
                                <h5 class="prefooter-counter-title text-center bold">{{'home.hosts_on_board' | translate}}</h5>
                                <h1 class="prefooter-counter text-center bold" id="counter-3"
                                    scroll-trigger="ctrl.animateCounter('counter-3', 4000, 1.5); ctrl.animateCounter('counter-4', 100, 1)">
                                    0</h1>
                            </div>
                            <div class="col-xs-6 prefooter-counter-container">
                                <h5 class="prefooter-counter-title text-center bold">{{'home.boats' | translate}}</h5>
                                <h1 class="prefooter-counter text-center bold" id="counter-4">0</h1>
                            </div>
                        </div>
                    </div>
                    <div class="hidden-sm-up">
                        <h5 class="prefooter-counter-title text-center bold">{{'home.hosts_on_board' | translate}}</h5>
                        <h1 class="prefooter-counter text-center bold" id="counter-1"
                            scroll-trigger="ctrl.animateCounter('counter-1', 4000, 1.5); ctrl.animateCounter('counter-2', 100, 1)">
                            0</h1>
                        <h5 class="prefooter-counter-title text-center bold">{{'home.boats' | translate}}</h5>
                        <h1 class="prefooter-counter text-center bold" id="counter-2">0</h1>
                    </div>
                </div>
                <div id="prefooter-blue-box"></div>
            </div>
        </home-section>
    </div>
    <footer></footer>
</div>
<div ng-show="ctrl.loading || ctrl.translations.loading" class="loader-alt inside-parent"></div>
<!--MODAL EVENTS-->
<modal modal-title="home.events_form" ng-if="ctrl.eventsFormIsOpen" on-close="ctrl.eventsFormIsOpen = false">
    <events-form on-close="ctrl.eventsFormIsOpen = false"></events-form>
</modal>