<nav id="header" class="navbar navbar-default navbar-fixed-top">
    <div id="hamburger"><span class="icon icon-hamburger i-7x"></span></div>
    <div id="headings">
        <span class="icon icon-logo" id="logo"></span>
        <div class="floater">
            <!--<notification-icon datatype="notifications" popover="true" color="navy-blue"></notification-icon>-->
            <!--<img src="{{$ctrl.profilePic}}" class="profile-pic">-->
            <a href="" ng-click="$ctrl.logout()">Logout <span class="icon icon-logout"></span></a>
        </div>
    </div>
</nav>