<div ng-if="ctrl.paying" ng-hide="ctrl.translations.loading" class="margin-left-sm margin-right-sm">
    <booking-pay booking-promise="ctrl.bookingPromise" pay-now=ctrl.paying></booking-pay>
</div>

<div ng-if="ctrl.success" class="text-center margin-left-sm margin-right-sm" ng-hide="ctrl.translations.loading">
    <h3 class="margin-bottom-md margin-top-lg" translate>{{'booking.success_payment'}}</h3>
    <naus-btn on-click="ctrl.backToBooking()">
        {{'booking.go_back_to_booking' | translate}}
    </naus-btn>
</div>

<div ng-if="ctrl.failure" class="text-center margin-left-sm margin-right-sm" ng-hide="ctrl.translations.loading">
    <naus-btn on-click="ctrl.payAgain()">
        {{'booking.pay_again'}}
    </naus-btn>
</div>


<div ng-show="ctrl.translations.loading" class="loader-alt inside-parent"></div>