<div class="photo-container pointer"
     ngf-select="ctrl.upAction({file: $file})"
     ngf-drop="ctrl.upAction({file: $file})"
     ng-model=ctrl.upPhoto.object
     ngf-model-invalid=ctrl.upPhoto.invalid
     ngf-pattern="image/*"
     ngf-accept="'image/*'"
     ng-disabled="ctrl.disabled"
     ngf-capture="'camera'"
     ngf-drag-over-class="ctrl.ngFileUpload.dragOver"
     ngf-validate="ctrl.ngFileUpload.validate"
     ngf-fix-orientation="true"
     ngf-allow-dir="false"
     ngf-drop-available="true">
    <div class="overlay"></div>
    <span ng-class="{'icon icon-upload i-8x': !ctrl.upPhoto.loading, 'loader-alt': ctrl.upPhoto.loading}"></span>
    <img ng-if="ctrl.upPhoto.link" ng-src={{ctrl.upPhoto.link}} />
    <img ng-if="!ctrl.upPhoto.link" ng-src={{ctrl.placeholder}} />
</div>