<div id="experiences" class="container-fluid list">
    <div class="row list-controls">
        <span class="count">{{ctrl.data.length}} di {{ctrl.totalItems}} EXPERIENCES</span>
        <div class="search-controls hidden">
            <div class="search-box-container">
                <label for="search-box">Search experience: </label>
                <input id="search-box" type="text" ng-model="ctrl.searchFilter"
                       ng-change="ctrl.changeFilter()"/>
            </div>
        </div>
    </div>
    <div class="row list-table">
        <div class="table-responsive">
            <table class="table" ng-if="!ctrl.loading">
                <thead class="head">
                <tr>
                    <th ng-repeat="column in ctrl.columns" class="column {{column.name}}">{{column.heading}}</th>
                </tr>
                </thead>
                <tbody class="body">
                <tr class="record" ng-repeat="experience in ctrl.data track by $index">
                    <td class="field title">
                        {{experience.attributes.title}}
                    </td>
                    <td class="field date">
                        {{experience.attributes.created_at}}
                    </td>
                    <td class="field docking-place">
                        {{experience.attributes.departure_port}}
                    </td>
                    <td class="field captain">
                        {{experience.attributes.captain_first_name + ' ' + experience.attributes.captain_last_name}}
                    </td>
                    <td class="field status">
                        <span class="status-text {{experience.attributes.status}}">{{ctrl.getStatusName(experience.attributes.status, experience.attributes.is_finished)}}</span>
                    </td>
                    <td class="field action">
                        <a href="experiences/{{experience.id}}" class="icon action-icon icon-preview">
                        </a>
                        <list-actions ng-if="experience.attributes.status != 'rejected' && experience.attributes.status != 'accepted_conditionally'"
                                      model=experience type="experience"></list-actions>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="loader" ng-if="ctrl.loading"></div>
        </div>
    </div>
    <div class="row list-pagination">
        <!--<a href="#">-->
            <!--<div class="action">-->
                <!--<span class="icon action-icon icon-plus"></span>-->
                <!--<span class="text">Inserisci nuovo annuncio</span>-->
            <!--</div>-->
        <!--</a>-->
        <div id="pagination" ng-if="ctrl.totalItems">
            <ul uib-pagination
                total-items="ctrl.totalItems" ng-model="ctrl.currentPage" boundary-links="ctrl.boundaryLinks"
                direction-links="ctrl.directionLinks" first-text="PRIMA" last-text="ULTIMA"
                max-size="ctrl.pagesToDisplay" items-per-page="ctrl.perPage"
                ng-change="ctrl.pageChanged()">
            </ul>
        </div>
    </div>
</div>