<div class="component-loadable dashboard-infobox booking-popup" ng-class="{'component-loadable-loading': (ctrl.loading || ctrl.translations.loading)}">
    <form novalidate name="ctrl.form" class="form">

        <!--PRICE PER PERSON-->
        <div class="booking-popup-top-label margin-bottom-sm text-center">
            <div tooltip-placement="top-left" uib-tooltip="{{'booking.entire_boat' | translate}}" tooltip-trigger="'mouseenter outsideClick'" class="entire-boat-ribbon" ng-if="ctrl.entireBoat">
                <span class="icon icon-diamond i-3x"></span>
            </div>
            <div class="price-per-person-container-table" ng-class="{'no-padding': !ctrl.entireBoat}">
                <div class="price-per-person-container-cell">
                    <span id="price-per-person-text" class="h5">{{'experience.price_per_person' | translate}}</span>
                    <span id="price-per-person-price" class="no-margin h4 bold">{{ctrl.priceFrom | nausCurrency:ctrl.captainCurrency:ctrl.currencies}}</span>
                </div>
            </div>
        </div>

        <!--ACTUAL FORM-->
        <div class="container-fluid">
            <!--ADULTS, KIDS AND BABIES-->
            <div class="row">
                <!--ADULTS-->
                <div class="col-xs-12">
                    <div class="form-separator"></div>
                    <div class="input-heading">{{'experience.guests' | translate}}</div>
                    <div class="input" uib-dropdown is-open="ctrl.dropdowns.adults">
                        <div class="select" id="adults" uib-dropdown-toggle ng-disabled="ctrl.disabled">
                            <span class="select-text" translate="inputs.adults"
                                  translate-values="{ adults: ctrl.adults }"
                                  translate-interpolation="messageformat"></span>
                            <span class="icon pull-right"
                                  ng-class="{'icon-arrow-down': !ctrl.dropdowns.adults, 'icon-arrow-up': ctrl.dropdowns.adults}"></span>
                        </div>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="adults">
                            <li ng-repeat="adult in ctrl.adultsRange" role="menuitem"
                                ng-click="ctrl.setAdult(adult)">
                                <a ng-href="" translate="inputs.adults" translate-values="{ adults: adult }"
                                   translate-interpolation="messageformat"></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!--BABIES-->
                <div class="col-xs-6 text-center">
                    <div class="input-heading">{{'experience.babies' | translate}}</div>
                    <div class="display-inline-block">
                        <button-incrementer model=ctrl.babies min=ctrl.minBabies max=ctrl.maxBabies
                                            callback=ctrl.setOtherHost()></button-incrementer>
                    </div>

                    <error-messages field-name="babies" translation-name="babies"
                                    controller-errors=ctrl.errors page="experience"></error-messages>
                </div>
                <!--KIDS-->
                <div class="col-xs-6 text-center">
                    <div class="input-heading">{{'experience.kids' | translate}}</div>
                    <div class="display-inline-block">
                        <button-incrementer model=ctrl.kids min=ctrl.minKids max=ctrl.maxKids
                                            callback=ctrl.setOtherHost()></button-incrementer>
                    </div>

                    <error-messages field-name="kids" translation-name="kids"
                                    controller-errors=ctrl.errors page="experience"></error-messages>
                </div>
                <div class="col-xs-12">
                    <error-messages field-name="hosts" translation-name="hosts"
                                    controller-errors=ctrl.errors page="experience"></error-messages>
                </div>
            </div>

            <!--REQUEST DATE-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-separator"></div>
                    <div class="input-heading">{{'booking.request_date' | translate}}</div>

                    <naus-datepicker-popup date="ctrl.experienceDate"
                                           is-open="ctrl.dropdowns.experience_date"
                                           language="ctrl.language"
                                           availabilities="ctrl.availabilities"
                                           days-of-week="ctrl.availableDaysOfWeek"></naus-datepicker-popup>

                    <error-messages field-name="experience_date" translation-name="request_date"
                                    controller-errors=ctrl.errors page="booking"></error-messages>
                </div>
            </div>

            <!--ADDITIONAL SERVICES-->
            <div class="row" ng-if="ctrl.fixedAdditionalServices.length + ctrl.additionalServices.length">
                <div class="col-xs-12 no-margin">
                    <div class="form-separator"></div>
                    <div class="input-heading">{{'booking.additional_services_heading' | translate}}</div>
                </div>
                <div class="col-xs-12" ng-repeat="additionalService in ctrl.fixedAdditionalServices | orderBy: ['id']">
                    <div class="input">
                        <input name="fixed_additional_service_{{additionalService.id}}" type="checkbox"
                               ng-model="additionalService.checked"
                               ng-value=true
                               ng-disabled="ctrl.disabled"
                               ng-change="ctrl.requestNewEstimation()"
                               id="fixed_additional_service_{{additionalService.id}}">
                        <label for="fixed_additional_service_{{additionalService.id}}">{{'additional_services.' +
                            additionalService.attributes.name | translate}}: <span
                                    class="optional-service-price red">{{additionalService.attributes.price | nausCurrency:ctrl.captainCurrency:ctrl.currencies}}</span></label>
                    </div>
                </div>
                <div class="col-xs-12" ng-repeat="additionalService in ctrl.additionalServices | orderBy: ['id']">
                    <div class="input">
                        <input name="additional_service_{{additionalService.id}}" type="checkbox"
                               ng-model="additionalService.checked"
                               ng-value=true
                               ng-disabled="ctrl.disabled"
                               ng-change="ctrl.requestNewEstimation()"
                               id="additional_service_{{additionalService.id}}">
                        <label for="additional_service_{{additionalService.id}}">{{additionalService.attributes.name}}:
                            <span class="optional-service-price red">{{additionalService.attributes.price | nausCurrency:ctrl.captainCurrency:ctrl.currencies}}</span></label>
                    </div>
                </div>
            </div>

            <!--NAME-->
            <div class="row" ng-if="!ctrl.user.attributes.first_name">
                <div class="col-xs-12">
                    <div class="form-separator"></div>
                    <div class="input-heading">{{'inputs.name' | translate}}*</div>
                    <div class="input">
                        <input ng-disabled="ctrl.disabled"
                               name="name"
                               ng-model="ctrl.userName"
                               maxlength="150"
                               placeholder="{{'inputs.placeholder_name' | translate}}"
                               ng-change="ctrl.resetField('name')"
                               ng-blur="ctrl.validateField('name')"
                               ng-required="true"/>
                        <error-messages field-name="name" controller-errors=ctrl.errors
                                        page="inputs"></error-messages>
                    </div>
                </div>
            </div>

            <!--EMAIL-->
            <div class="row" ng-if="!ctrl.user.attributes.email">
                <div class="col-xs-12">
                    <div class="form-separator"></div>
                    <div class="input-heading">{{'inputs.email' | translate}}*</div>
                    <div class="input input-group-icon">
                            <span class="input-group-addon">
                                <span class="icon icon-mail"></span>
                            </span>
                        <input class="input-group-input"
                               name="email" type="email"
                               ng-model="ctrl.userEmail"
                               placeholder="{{'inputs.placeholder_email' | translate}}"
                               maxlength="150"
                               ng-change="ctrl.resetField('email')"
                               ng-blur="ctrl.validateField('email')"
                               ng-required="true">
                        <error-messages field-name="email" controller-errors=ctrl.errors
                                        page="inputs"></error-messages>
                    </div>
                </div>
            </div>

            <!--MESSAGE-->
            <div class="row" ng-if="!ctrl.conversationId">
                <div class="col-xs-12">
                    <div class="form-separator"></div>
                    <div class="input-heading">{{'experience.message' | translate}}</div>
                    <alert-warning ng-show="ctrl.warning"
                                   alert-message="experience.contact_exchange_warning"></alert-warning>
                    <div class="input">
                            <textarea rows="6" ng-disabled="ctrl.disabled"
                                      name="message"
                                      ng-model="ctrl.message"
                                      placeholder="{{'experience.message_placeholder' | translate}}"
                                      ng-change="ctrl.messageValidation(); ctrl.resetField('message')"
                                      ng-blur="ctrl.validateField('message')"
                                      maxlength="65535"></textarea>
                        <error-messages field-name="message" controller-errors=ctrl.errors page="experience"></error-messages>
                    </div>
                </div>
            </div>

            <!--COUPON-->
            <div class="row no-margin">
                <div class="col-xs-12">
                    <div class="form-separator"></div>
                    <div class="input-heading">{{'booking.coupon' | translate}}</div>
                    <div class="input">
                        <input class="input-group-input"
                               name="coupon" type="text"
                               ng-model="ctrl.coupon"
                               placeholder="{{'booking.placeholder_coupon' | translate}}"
                               maxlength="50"
                               ng-change="ctrl.resetField('coupon')"
                               ng-blur="ctrl.onBlur('coupon')"
                               ng-required="false">
                        <error-messages field-name="coupon" controller-errors=ctrl.errors
                                        page="inputs"></error-messages>
                    </div>
                    <hr class="margin-bottom-xs">
                </div>
            </div>

            <!--REQUIRED ALERT-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="input-caption-group">
                        <span class="orange-flamingo bold input-caption">{{'inputs.required' | translate}}</span>
                    </div>
                </div>
            </div>

            <!--PRICE SUMMARY-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-separator"></div>
                    <div class="input-heading">{{'experience.summary' | translate}}</div>
                    <hr>
                    <h6 class="payment-info-line">
                            <span translate="booking.service_free_amount"
                                  translate-values="{ price: ctrl.pricePerPersonWithoutServices, currency: ctrl.captainCurrencySymbol, hosts: ctrl.hosts }"></span>
                        <span class="pull-right">
                                {{ctrl.totalPriceWithoutServices | nausCurrency:ctrl.captainCurrency:ctrl.currencies}}
                            </span>
                    </h6>
                    <h6 ng-if="ctrl.servicesPrice > 0">
                            <span translate="booking.additional_services"
                                  translate-values="{ hosts: ctrl.hosts }"></span>
                        <span class="pull-right">{{ctrl.servicesPrice | nausCurrency:ctrl.captainCurrency:ctrl.currencies}}</span>
                    </h6>
                    <h6 ng-if="ctrl.discount > 0">
                        <span>{{'booking.discount' | translate}}</span>
                        <span class="pull-right">-{{ctrl.discount | nausCurrency:ctrl.captainCurrency:ctrl.currencies}}</span>
                    </h6>
                    <hr>
                    <h4 class="text-right">
                        <span>{{'booking.total' | translate}} {{ctrl.total | nausCurrency:ctrl.captainCurrency:ctrl.currencies}}</span>
                        <br ng-hide="ctrl.isSameCurrency">
                        <span ng-hide="ctrl.isSameCurrency" class="h6" translate="booking.nearly"
                              translate-values="{ amount: ctrl.totalGuestCurrency, currency: ctrl.userCurrencySymbol }"></span>
                    </h4>
                    <h5 class="text-right">
                        <span>{{'booking.to_pay_on_board' | translate}} {{ctrl.priceOnBoard | nausCurrency:ctrl.captainCurrency:ctrl.currencies}}</span>
                        <br ng-hide="ctrl.isSameCurrency">
                        <span ng-hide="ctrl.isSameCurrency" class="h6" translate="booking.nearly"
                              translate-values="{ amount: ctrl.priceOnBoardGuestCurrency, currency: ctrl.userCurrencySymbol }"></span>
                    </h5>
                    <h5 class="text-right">
                        <span>{{'booking.to_pay_now' | translate}} {{ctrl.priceToPay | nausCurrency:ctrl.captainCurrency:ctrl.currencies}}</span>
                        <br ng-hide="ctrl.isSameCurrency">
                        <span ng-hide="ctrl.isSameCurrency" class="h6" translate="booking.nearly"
                              translate-values="{ amount: ctrl.priceToPayGuestCurrency, currency: ctrl.userCurrencySymbol }"></span>
                    </h5>
                </div>
            </div>

            <!--SEND BUTTON-->
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h6 class="orange-flamingo bold text-center margin-bottom-sm" ng-if="ctrl.errors.error"
                          translate>{{'errors.' + ctrl.errors.error.code}}</h6>
                    <naus-btn on-click="ctrl.sendRequest()">
                        {{'inputs.send' | translate}}
                    </naus-btn>
                </div>
            </div>
        </div>
    </form>

    <div class="loader-container-overlay" ng-show="ctrl.loading || ctrl.translations.loading">
        <div class="loader-alt"></div>
    </div>
</div>

<!--MODALS-->
<!--ERRORS-->
<modal ng-if="ctrl.modals.error" modal-title="errors.error_modal_title"
       on-close="ctrl.toggleModals(false, false)">
    <div translate>
        {{ctrl.modals.name}}
    </div>
</modal>

<!--SUCCESS-->
<modal ng-if="ctrl.modals.success" modal-title="booking.request_sent"
       on-close="ctrl.toggleModals(false, true)">
    <div class="booking-confirmed">
        <booking-confirmed user="ctrl.user" on-close="ctrl.toggleModals(false, true)"></booking-confirmed>
    </div>
</modal>