<div id="dashboard" class="container-fluid">
    <div class="row" id="popups">
        <div class="popup"><div style="background-color: #a5d9ef; color: white; border: 2px dashed #31bef8; width: 100%; height: 100%">Nuovi annunci</div></div>
        <div class="popup"><div style="background-color: #a5d9ef; color: white; border: 2px dashed #31bef8; width: 100%; height: 100%">Nuovi capitani</div></div>
        <div class="popup"><div style="background-color: #a5d9ef; color: white; border: 2px dashed #31bef8; width: 100%; height: 100%">Nuove barche</div></div>
        <div class="popup"><div style="background-color: #a5d9ef; color: white; border: 2px dashed #31bef8; width: 100%; height: 100%">Nuovi iscritti</div></div>
    </div>
    <div class="row" id="booking-messages">
        <div class="col-md-8" id="bookings">
            <bookings-panel></bookings-panel>
        </div>
        <div class="col-md-4" id="messages">
            <messages-panel></messages-panel>
        </div>
    </div>
    <div class="row" id="chats-single">
        <div class="col-md-12" id="chats">
            <chats-panel></chats-panel>
        </div>
    </div>
</div>