<div>
    <ul>
        <li>
            <span class="text">NOTIFICHE</span>
            <span class="count" ng-if="$ctrl.count > 0">NUOVE {{$ctrl.count}}</span>
        </li>
        <li>
            <span class="icon action-icon icon-experience"></span>
            <span class="text">{{$ctrl.popoverData.experience.name}} - </span>
            <!--<span class="count">{{$ctrl.popoverData.experience.count}}</span>-->
        </li>
        <li>
            <span class="icon action-icon icon-captain"></span>
            <span class="text">{{$ctrl.popoverData.captain.name}} - </span>
            <!--<span class="count">{{$ctrl.popoverData.captain.count}}</span>-->
        </li>
        <li>
            <span class="icon action-icon icon-boat"></span>
            <span class="text">{{$ctrl.popoverData.boat.name}} - </span>
            <!--<span class="count">{{$ctrl.popoverData.boat.count}}</span>-->
        </li>
        <li>
            <span class="icon action-icon icon-hosts"></span>
            <span class="text">{{$ctrl.popoverData.users.name}} - </span>
            <!--<span class="count">{{$ctrl.popoverData.hosts.count}}</span>-->
        </li>
        <li>
            <span class="icon action-icon icon-chat"></span>
            <span class="text">{{$ctrl.popoverData.chat.name}} - </span>
            <!--<span class="count">{{$ctrl.popoverData.chat.count}}</span>-->
        </li>
        <li>
            <span class="icon action-icon icon-mail"></span>
            <span class="text">{{$ctrl.popoverData.mail.name}} - </span>
            <!--<span class="count">{{$ctrl.popoverData.mail.count}}</span>-->
        </li>
    </ul>
</div>