<div class="component-loadable dashboard-single-container conversation" ng-if="ctrl.conversation.total_messages > 0">
    <div ng-hide="ctrl.loading" class="dashboard-single">
        <uib-accordion template-url="/administration/app/components/accordion/accordion.view.html">
            <div uib-accordion-group is-open="true" is-disabled="true"
                 template-url="/administration/app/components/accordion/accordion-group.view.html">
                <uib-accordion-heading>
                    <a ng-click="ctrl.onBackClick()" class="icon icon-arrow i-5x light-blue mirror back-button"></a>
                    <span>{{ctrl.guest.name}} (guest) & {{ctrl.captain.name}} (captain) - </span><span
                        class="light-blue">{{ctrl.conversation.total_messages}}</span>
                </uib-accordion-heading>
                <div class="conversation-messages-scrollable">
                    <div class="conversation-messages">
                        <div ng-repeat="group in ctrl.conversation.grouped" class="conversation-group">
                            <div class="conversation-group-date">
                                <span>{{group.date | userDate:en}}</span>
                                <hr>
                            </div>
                            <div ng-repeat="message in group.messages" class="conversation-message"
                                 ng-class="{'own-message': message.attributes.sender == 'guest'}">
                                <user-pic user-pic-link={{ctrl.getMessageSenderPhoto(message.attributes.sender)}}
                                          user-role="{{message.attributes.sender}}"></user-pic>
                                <div class="message-box">
                                    <button class="edit-button" ng-hide="message.enabled" ng-click="message.enabled = true">EDIT</button>
                                    <button class="edit-button pull-left" ng-show="message.enabled" ng-click="message.enabled = false">STOP EDITING</button>
                                    <button class="edit-button" ng-click="ctrl.editMessage(message)">SAVE</button>
                                    <p class="message-text margin-top-xs" ng-hide="message.enabled">{{message.attributes.message}}</p>
                                    <textarea rows="5" class="message-text margin-top-xs" ng-model="message.attributes.message" ng-show="message.enabled"></textarea>
                                    <p class="message-time">{{message.attributes.created_at}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </uib-accordion>
    </div>

    <div ng-show="ctrl.loading" class="loader"></div>
</div>

<!--NO MESSAGES-->
<div ng-if="ctrl.conversation.total_messages == 0">
    <h4>There are no messages in this conversation.</h4>
    <button ng-click="ctrl.onBackClick()">GO BACK</button>
</div>

<!--MODALS-->
<!--ERROR-->
<modal ng-if="ctrl.error" modal-title="ERROR" on-close="ctrl.error = null">
    <div class="container-fluid" id="modal-error">
        <div class="row" id="modal-content">
            <div class="col-lg-12">
                <div class="row" id="modal-status">
                    Status: {{ctrl.error.status}}
                </div>
                <div class="row error" ng-repeat="error in ctrl.error.data.errors">
                    Title: {{error.code}}<br/>
                    Code: {{error.title}}<br/>
                    Message: {{error.detail}}
                </div>
            </div>
        </div>
    </div>
</modal>