<section id="login-facebook">
	<a class="btn btn-primary center-block auth-btn" ng-click="ctrl.login()">
		<span class="icon icon-fb-login"></span> {{'header.facebook_login' | translate}}
	</a>
</section>

