<uib-accordion>
    <div uib-accordion-group class="panel-default" is-open="$ctrl.status.open">
        <uib-accordion-heading>
            {{$ctrl.title}}
            <a href="" ng-if="$ctrl.status.open" class="icon icon-minus toggle-open i-6x"></a>
            <a href="" ng-if="!$ctrl.status.open" class="icon icon-plus toggle-open i-6x"></a>
        </uib-accordion-heading>
        <div class="table-responsive">
            <table class="table">
                <thead class="head">
                <tr>
                    <th class="heading">N° ID</th>
                    <th class="heading date">Data</th>
                    <th class="heading experience">Esperienza</th>
                    <th class="heading captain">Capitano</th>
                    <th class="heading">Stato</th>
                </tr>
                </thead>
                <tbody class="body">
                <tr class="record" ng-repeat="booking in $ctrl.bookings">
                    <td class="field">{{booking.id}}</td>
                    <td class="field date">{{booking.date}}</td>
                    <td class="field experience">{{booking.experience}}</td>
                    <td class="field captain">{{booking.captain}}</td>
                    <td class="field status"><span class="status-text {{booking.status}}">{{$ctrl.getStatusName(booking.status)}}</span>
                    </td>
                </tr>
                </tbody>
                <tfoot class="footer">
                <tr>
                    <td colspan="5">
                        <a href="">Vedi tutti gli ordini <span class="icon icon-arrow i-5x"></span></a>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</uib-accordion>