<div class="listings">
    <div class="container-fluid" ng-if="ctrl.listings.length > 0">
        <div ng-repeat="experience in ctrl.listings" ng-if="$index % 2 == 0" class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 no-padding-on-mobile experience-listing margin-bottom-">
                <span class="listing-anchor" ng-attr-id="{{'listing-' + experience.id + '-anchor'}}"></span>
                <a class="experience-listing-box"
                   ng-click="ctrl.goToExperience(experience.attributes.slug_url)"
                   ng-href="{{ctrl.language}}/experiences/{{experience.attributes.slug_url}}"
                   ng-attr-id="{{'listing-' + experience.id}}"
                   prevent-href>
                    <div class="img-container"
                         ng-style="{'background-image': 'url(' +  experience.attributes.photo + ')'}">
                        <div class="experience-price">
                            <p class="from">{{'experiences.from' | translate}}</p>
                            <div class="text-right"><span class="form-separator"></span></div>
                            <p class="price">{{experience.attributes.price |
                                nausCurrency:ctrl.currency:ctrl.currencies}}
                                {{'experiences.per_person' | translate}}</p>
                        </div>
                    </div>
                    <div class="description-container">
                        <p class="experience-type">{{'experience_types.' + experience.attributes.type +
                            '_preview' | translate}}</p>
                        <div class="form-separator margin-bottom-xs"
                             ng-class=ctrl.experienceColors[experience.attributes.type]></div>
                        <p class="experience-title">{{experience.attributes.title}}</p>
                        <p class="experience-departure-port">
                            {{experience.attributes.departure_port}}</p>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 no-padding-on-mobile experience-listing margin-bottom-"
                 ng-if="ctrl.listings.length > ($index + 1)">
                <span class="listing-anchor" ng-attr-id="{{'listing-' + ctrl.listings[$index + 1].id + '-anchor'}}"></span>
                <a class="experience-listing-box"
                   ng-click="ctrl.goToExperience(ctrl.listings[$index + 1].attributes.slug_url)"
                   ng-href="{{ctrl.language}}/experiences/{{ctrl.listings[$index + 1].attributes.slug_url}}"
                   ng-attr-id="{{'listing-' + ctrl.listings[$index + 1].id}}"
                   prevent-href>
                    <div class="img-container"
                         ng-style="{'background-image': 'url(' +  ctrl.listings[$index + 1].attributes.photo + ')'}">
                        <div class="experience-price">
                            <p class="from">{{'experiences.from' | translate}}</p>
                            <div class="text-right"><span class="form-separator"></span></div>
                            <p class="price">{{ctrl.listings[$index + 1].attributes.price |
                                nausCurrency:ctrl.currency:ctrl.currencies}}
                                {{'experiences.per_person' | translate}}</p>
                        </div>
                    </div>
                    <div class="description-container">
                        <p class="experience-type">{{'experience_types.' + ctrl.listings[$index +
                            1].attributes.type + '_preview' | translate}}</p>
                        <div class="form-separator margin-bottom-xs {{ctrl.experienceColors[ctrl.listings[$index + 1].attributes.type]}}"></div>
                        <p class="experience-title">{{ctrl.listings[$index + 1].attributes.title}}</p>
                        <p class="experience-departure-port">{{ctrl.listings[$index +
                            1].attributes.departure_port}}</p>
                    </div>
                </a>
            </div>

        </div>
    </div>

    <div ng-if="ctrl.listings.length == 0" class="text-center">
        <span class="h4">
            {{'experiences.no_results' | translate}}
        </span>
    </div>
</div>