<div class="dropdown">
    <div class="place" ng-class="{active: $ctrl.datatype == $root.currentMenu, mouseoverlist: $ctrl.isMouseOverItem, hasactivechild: $ctrl.hasActiveChild()}">
        <notification-icon datatype="{{$ctrl.datatype}}"></notification-icon>
        <div class="dropdown-content">
            <a ng-mouseover="$ctrl.isMouseOverItem = true"
               ng-mouseleave="$ctrl.isMouseOverItem = false"
               ng-repeat="item in $ctrl.dropdownData" href="{{item.url}}"
               ng-class="{active: $ctrl.isActiveChild(item)}">
                {{item.name}}
            </a>
        </div>
    </div>
</div>