<div class="row" class="upload-photo">
    <img ngf-src="ctrl.newPhotoLink" id="photo"/>
    <div class="loader" ng-if="ctrl.loading"></div>
    <div class="margin-bottom-md pointer" ngf-select="ctrl.upload($file)" ng-model="ctrl.file" ng-if="!ctrl.loading && !ctrl.newPhotoLink">Upload</div>
    <div class="margin-bottom-md pointer" ng-if="!ctrl.loading" ng-click="ctrl.onClose()">Close</div>
    <div class="margin-bottom-md pointer" ng-if="!ctrl.loading && !ctrl.newPhoto" ng-click="ctrl.onDelete()">Delete</div>
    <div class="margin-bottom-md pointer" ng-if="ctrl.loading" ng-click="ctrl.onClose()">Cancel</div>
</div>