<div class="panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <span>
                <span class="icon icon-messages i-5x"></span>
                {{$ctrl.title}}
                <span class="icon icon-search i-5x"></span>
            </span>
        </h4>
    </div>
    <div ng-include="$ctrl.view">
    </div>
</div>