<div class="experience component-loadable margin-bottom-md"
     ng-class="{'component-loadable-loading': (ctrl.loading || ctrl.translations.loading)}">
    <div ng-hide="ctrl.loading || ctrl.translations.loading" class="experience-visible-box">
        <div class="experience-heading experience-container">
            <h4 class="no-margin-top">{{ctrl.title}}</h4>
            <h6>{{ctrl.location}}</h6>
            <div class="form-separator"></div>
            <h5 class="no-margin-bottom">{{ctrl.experienceType | translate}}</h5>
        </div>

        <div class="photo-carousel" uib-carousel active="0"
             template-url="/users/app/components/carousels/experience-photo-mobile.html">
            <div class="slide-container" uib-slide index="0"
                 template-url="/users/app/components/carousels/experience-photo-mobile-slide.html">
                <div class="img-container"
                     ng-style="{'background-image': 'url(' + ctrl.coverPhoto.attributes.url + ')'}"></div>
            </div>
            <div class="slide-container" uib-slide ng-repeat="photo in ctrl.photos track by photo.id"
                 index="$index+1"
                 template-url="/users/app/components/carousels/experience-photo-mobile-slide.html">
                <div class="img-container" ng-style="{'background-image': 'url(' + photo.attributes.url + ')'}"></div>
            </div>
        </div>

        <div class="experience-details experience-container">
            <div class="container-fluid">
                <!--DESCRIPTION-->
                <div class="row">
                    <div class="col-xs-12 col-sm-3">
                        <h4 class="no-margin-top">{{'experience.description' | translate}}</h4>
                        <div class="form-separator"></div>
                    </div>
                    <div class="col-xs-12 col-sm-9">
                        <h4 class="no-margin-top">{{ctrl.title}}</h4>
                        <p collapsible-content collapsible-content-expanded="ctrl.descriptionExpanded"
                           class="pre-line no-margin-top" id="description">{{ctrl.description}}</p>
                        <hr>
                    </div>
                </div>

                <!--EXPERIENCE DETAILS-->
                <div class="row">
                    <div class="col-xs-12 col-sm-3">
                        <h4 class="no-margin-top">{{'experience.details' | translate}}</h4>
                        <div class="form-separator"></div>
                    </div>
                    <div class="col-xs-12 col-sm-9">
                        <div class="row">
                            <div class="col-xs-6">
                                <span class="bold">{{'experience.departure_port' | translate}}</span>
                                <span>{{ctrl.departurePort}}</span>
                            </div>
                            <div class="col-xs-6">
                                <span class="bold">{{'experience.arrival_port' | translate}}</span>
                                <span>{{ctrl.arrivalPort}}</span>
                            </div>
                            <div class="col-xs-6">
                                <span class="bold">{{'experience.departure_time' | translate}}</span>
                                <span>{{ctrl.departureTime | userTime:ctrl.userLanguage:false}}</span>
                            </div>
                            <div class="col-xs-6">
                                <span class="bold">{{'experience.arrival_time' | translate}}</span>
                                <span>{{ctrl.arrivalTime | userTime:ctrl.userLanguage:false}}</span>
                            </div>
                            <div class="col-xs-12">
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>

                <!--BOAT-->
                <div class="row">
                    <div class="col-xs-12 col-sm-3">
                        <h4 class="no-margin-top">{{'experience.the_boat' | translate}}</h4>
                        <div class="form-separator"></div>
                    </div>
                    <div class="col-xs-12 col-sm-9">
                        <div class="row">
                            <div class="col-xs-6">
                                <span class="bold">{{'experience.boat_name' | translate}}</span>
                                <span>{{ctrl.boatName}}</span>
                            </div>
                            <div class="col-xs-6">
                                <span class="bold">{{'experience.boat_type' | translate}}</span>
                                <span>{{ctrl.boatType | translate}}</span>
                            </div>
                            <div class="col-xs-6">
                                <span class="bold">{{'experience.boat_model' | translate}}</span>
                                <span>{{ctrl.boatModel}}</span>
                            </div>
                            <div class="col-xs-6">
                                <span class="bold">{{'experience.boat_length' | translate}}</span>
                                <span>{{ctrl.boatLength}}</span>
                            </div>
                            <div class="col-xs-12">
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>

                <!--ACCESSORIES-->
                <div class="row">
                    <div class="col-xs-12 col-sm-3">
                        <h4 class="no-margin-top">{{'experience.accessories' | translate}}</h4>
                        <div class="form-separator"></div>
                    </div>
                    <div class="col-xs-12 col-sm-9">
                        <ul collapsible-content collapsible-content-expanded="ctrl.accessoriesExpanded"
                            class="row bullet-list" id="accessories">
                            <li class="col-xs-6 bullet-list-element"
                                ng-repeat="accessory in ctrl.accessories | orderBy: ['selected','id']"
                                ng-class={'not-selected':!accessory.selected}>
                                <div class="bullet">•</div>
                                <span class="bullet-list-element-text">{{'accessories.' + accessory.attributes.name | translate}}</span>
                            </li>
                        </ul>
                        <hr>
                    </div>
                </div>

                <!--INCLUDED SERVICES-->
                <div class="row" ng-show="ctrl.includedServices.length > 0">
                    <div class="col-xs-12 col-sm-3">
                        <h4 class="no-margin-top">{{'experience.included_services' | translate}}</h4>
                        <div class="form-separator"></div>
                    </div>
                    <div class="col-xs-12 col-sm-9">
                        <ul collapsible-content collapsible-content-expanded="ctrl.includedServicesExpanded"
                            class="row bullet-list" id="included-services">
                            <li class="col-xs-6 bullet-list-element"
                                ng-repeat="service in ctrl.includedServices">
                                <div class="bullet">•</div>
                                <span ng-if="service.fixed" class="bullet-list-element-text">{{'additional_services.' + service.attributes.name | translate}}</span>
                                <span ng-if="!service.fixed"
                                      class="bullet-list-element-text">{{service.attributes.name}}</span>
                            </li>
                        </ul>
                        <hr>
                    </div>
                </div>

                <!--OPTIONAL SERVICES-->
                <div class="row" ng-show="ctrl.paidServices.length > 0">
                    <div class="col-xs-12 col-sm-3">
                        <h4 class="no-margin-top">{{'experience.optional_services' | translate}}</h4>
                        <div class="form-separator"></div>
                    </div>
                    <div class="col-xs-12 col-sm-9">
                        <h6 class="no-margin-top">{{'experience.optional_services_description' | translate}}</h6>
                        <ul class="row bullet-list">
                            <li class="col-xs-6 bullet-list-element"
                                ng-repeat="service in ctrl.paidServices">
                                <div class="bullet">•</div>
                                <span ng-if="service.fixed" class="bullet-list-element-text">{{'additional_services.' + service.attributes.name | translate}}:
                                <span class="red">{{service.attributes.price | nausCurrency:ctrl.currency:ctrl.currencies}}</span>
                            </span>
                                <span ng-if="!service.fixed" class="bullet-list-element-text">{{service.attributes.name}}:
                                <span class="red">{{service.attributes.price | nausCurrency:ctrl.currency:ctrl.currencies}}</span>
                            </span>
                            </li>
                        </ul>
                        <hr>
                    </div>
                </div>

                <!--RULES-->
                <div class="row" ng-show="ctrl.fixedRules.length > 0 || ctrl.rules">
                    <div class="col-xs-12 col-sm-3">
                        <h4 class="no-margin-top">{{'experience.rules' | translate}}</h4>
                        <div class="form-separator"></div>
                    </div>
                    <div class="col-xs-12 col-sm-9">
                        <ul class="row bullet-list">
                            <li class="col-xs-6 bullet-list-element"
                                ng-repeat="rule in ctrl.fixedRules | orderBy: ['selected','id']">
                                <div class="bullet">•</div>
                                <span class="bullet-list-element-text">{{'rules.' + rule.name | translate}}</span>
                            </li>
                            <li class="col-xs-6 bullet-list-element" ng-show="ctrl.rules">
                                <div class="bullet">•</div>
                                <span class="bullet-list-element-text">{{ctrl.rules}}</span>
                            </li>
                        </ul>
                        <hr>
                    </div>
                </div>

                <!--DOCKING PLACE-->
                <div class="row">
                    <div class="col-xs-12 col-sm-3">
                        <h4 class="no-margin-top">{{'experience.docking_place' | translate}}</h4>
                        <div class="form-separator"></div>
                    </div>
                    <div class="col-xs-12 col-sm-9">
                        <p class="no-margin-top">{{'experience.docking_place_description' | translate}}</p>
                        <p>
                            <span class="bold">{{'experience.port' | translate}}</span>
                            <span>{{ctrl.departurePort}}</span>
                        </p>

                        <uib-accordion class="center-block no-padding fill-section map-accordion"
                                       id="experience-map-accordion"
                                       template-url="/users/app/components/accordion/accordion.view.html">
                            <div uib-accordion-group is-open="ctrl.isMapOpen"
                                 template-url="/users/app/components/accordion/accordion-map.view.html">
                                <uib-accordion-heading>
                                    <span class="panel-heading-text h5" ng-click="ctrl.toggleMap()">{{'experience.show_map' | translate}}</span>
                                    <div class="accordion-opener" ng-click="ctrl.toggleMap()">
                                        <a ng-href="" ng-if="ctrl.isMapOpen"
                                           class="icon icon-minus toggle-open i-6x"></a>
                                        <a ng-href="" ng-if="!ctrl.isMapOpen"
                                           class="icon icon-plus toggle-open i-6x"></a>
                                    </div>
                                </uib-accordion-heading>
                                <div class="map-box" ng-if="!ctrl.loading">
                                    <div class="map" id="map" ng-init="ctrl.triggerMapLoad()"></div>
                                </div>
                            </div>
                        </uib-accordion>
                    </div>
                    <div class="col-xs-12">
                        <hr>
                    </div>
                </div>

                <!--THE CAPTAIN-->
                <div class="row">
                    <div class="col-xs-12 col-sm-3">
                        <h4 class="no-margin-top" translate="experience.the_captain"
                            translate-values="{ name: ctrl.captainName }"></h4>
                        <div class="form-separator"></div>
                    </div>
                    <div class="col-xs-12 col-sm-9">
                        <p class="bold no-margin-top">{{'experience.contact_captain' | translate}}</p>
                        <p>{{'experience.contact_captain_instructions' | translate}}</p>
                        <div class="text-center margin-bottom-sm margin-top-sm">
                            <naus-btn
                                    on-click="ctrl.toggleContactCaptainModal()"
                                    options="{small: true, squared: true, inverse: true}"
                                    custom-classes="['bold', 'full-width', 'border-small']">
                                {{'experience.contact_captain_cta' | translate}}
                            </naus-btn>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center request-booking-container">
            <naus-btn on-click="ctrl.toggleBookingModal()" options="{small: true}">
                {{'experience.request_booking' | translate}}
            </naus-btn>
        </div>
    </div>
    <div ng-show="ctrl.loading || ctrl.translations.loading" class="loader-alt"></div>
</div>


<!--CONTACT CAPTAIN MODAL-->
<modal class="booking-modal contact-captain-modal" ng-if="ctrl.contactCaptainModal"
       modal-title="experience.contact_captain"
       on-close="ctrl.toggleContactCaptainModal()">
    <contact-captain experience-promise="ctrl.experiencePromise"
                     on-close="ctrl.toggleContactCaptainModal()"
                     adults="ctrl.adults"
                     kids="ctrl.kids"
                     babies="ctrl.babies"
                     experience-date="ctrl.experienceDate"></contact-captain>
</modal>