<div class="view-container dashboard" ng-if="!ctrl.loading">
    <boat-infobox boat-promise=ctrl.boatPromise editing=true></boat-infobox>
    <boat-form boat-promise=ctrl.boatPromise on-back-click="ctrl.boatBackButton(null)"></boat-form>
</div>
