// Blues
$light-blue: #31bef8;
$medium-light-blue: #bfe5f5;
$lighter-blue: #e1f7ff;
$bali-hai: #7798a6;
$columbia-blue: #97dffd;
$navy-blue: #184889;
$ice-blue: #4ddcdb;
$big-stone: #101c33; //mobile menu background
$cornflower-blue: #4990e2;
$dark-alice-blue: #e6f7fe; //table row hover background

// Greys
$dark-grey: #5b5c59;
$light-grey: #d8d8d8;
$medium-light-grey: #e7e7e7;
$lighter-grey: #f6f6f6;
$concrete: #F2F2F2;
$grey-swan: #b2b2b2; //light grey borders in forms
$shady-lady: #979797; //input darker grey border
$grey-nobel: #9b9b9b;

$pink: #ff6e88;
$light-sea-green: #00c7ab;

// Status
$green: #20a650;
$red: #db4f33;
$orange: #f29e00;
$orange-flamingo: #f06050; //errors in form validation
$dark-orange: #ef9033;

// Form
$burnt-sienna: #F06050; //input error

// Opacity
$btn-rouded-opacity: 0.6;

// Home
$flamingo-red: #F06050; //world icon
$vivid-yellow: #fccf1b; //calendar icon
$bahia: #98cb14; //relaxing boat trips
$cinnabar: #e45136; //food and drinks
$amaranth: #e73648; //romantic getaways
$caribbean-green: #00c7ab; //weekends and vacations
$tangerine: #eb8e00; //luxury
$curious-blue: #2384ca; //boat and breakfast
$medium-turquoise: #4ddbda; //blue box in prefooter
$brink-pink: #ef617a; //pink separator
$dandelion: #ffd769; //orange separator

// Other
$lightning-yellow: #f5a623; //edit button