[class^="icon-"], [class*=" icon-"] {
  font-size: 20px;

  &.i-1x {
    font-size: 10px !important;
  }

  &.i-15x {
    font-size: 15px !important;
  }

  &.i-2x {
    font-size: 22px !important;
  }

  &.i-3x {
    font-size: 24px !important;
  }

  &.i-4x {
    font-size: 26px !important;
  }

  &.i-5x {
    font-size: 30px !important;
  }

  &.i-6x {
    font-size: 34px !important;
  }

  &.i-7x {
    font-size: 38px !important;
  }

  &.i-8x {
    font-size: 42px !important;
  }
}