@mixin box-shadow($boxShadow) {
  -webkit-box-shadow: $boxShadow;
  -moz-box-shadow: $boxShadow;
  -o-box-shadow: $boxShadow;
  box-shadow: $boxShadow;
}

@mixin box-sizing($boxSizing) {
  box-sizing: $boxSizing;
  -moz-box-sizing: $boxSizing;
  -webkit-box-sizing: $boxSizing;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin border-bottom-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  -moz-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin border-bottom-left-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
  -moz-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin border-top-right-radius($radius) {
  -webkit-border-top-right-radius: $radius;
  -moz-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin border-top-left-radius($radius) {
  -webkit-border-top-left-radius: $radius;
  -moz-border-top-left-radius: $radius;
  border-top-left-radius: $radius;
}

@mixin transition($data...) {
  -webkit-transition: $data; /* Safari */
  -moz-transition: $data;
  -o-transition: $data;
  transition: $data;
}

@mixin transform($data) {
  -webkit-transform: $data;
  -moz-transform: $data;
  -ms-transform: $data;
  -o-transform: $data;
  transform: $data;
}

@mixin translate ($x, $y) {
  transform-origin: center;
  @include transform(translate($x, $y));
}

@mixin translateX($data) {
  transform-origin: center;
  @include translate($data, 0);
}

@mixin translateY($data) {
  transform-origin: center;
  @include translate(0, $data);
}

@mixin rotate($deg) {
  transform-origin: center;
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -ms-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: rotate($deg);
}

@mixin scaleX($data) {
  transform-origin: center;
  -webkit-transform: scaleX($data);
  -moz-transform: scaleX($data);
  -ms-transform: scaleX($data);
  -o-transform: scaleX($data);
  transform: scaleX($data);
}

@mixin scaleY($data) {
  transform-origin: center;
  -webkit-transform: scaleY($data);
  -moz-transform: scaleY($data);
  -ms-transform: scaleY($data);
  -o-transform: scaleY($data);
  transform: scaleY($data);
}

@mixin verticalAlign() {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

@mixin addButton($size){
  width: $size;
  height: $size;
  line-height: $size;
  font-size: $size*0.6;
  border-radius: 100px;
  //-o-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  //box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  color: white;
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder { /* Firefox 18- */
    @content;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}

@mixin naus-scrollbar {
  ::-webkit-scrollbar-track, ::-webkit-scrollbar, ::-webkit-scrollbar-thumb {
    @include border-radius(10px);
  }
  ::-webkit-scrollbar-track
  {
    background-color: $lighter-grey;
  }
  ::-webkit-scrollbar
  {
    width: 8px;
    background-color: $lighter-grey;
  }
  ::-webkit-scrollbar-thumb
  {
    background-color: $light-blue;
  }
}

@mixin animation ($delay, $duration, $animation) {
  -webkit-animation-delay: $delay;
  -webkit-animation-duration: $duration;
  -webkit-animation-name: $animation;
  -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

  -moz-animation-delay: $delay;
  -moz-animation-duration: $duration;
  -moz-animation-name: $animation;
  -moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

  -o-animation-delay: $delay;
  -o-animation-duration: $duration;
  -o-animation-name: $animation;
  -o-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $animation;
  animation-fill-mode: forwards; /* this prevents the animation from restarting! */
}

@mixin keyframe ($animation_name) {
  @-webkit-keyframes #{$animation_name} {
    @content;
  }

  @-moz-keyframes #{$animation_name} {
    @content;
  }

  @-o-keyframes #{$animation_name} {
    @content;
  }

  @keyframes #{$animation_name} {
    @content;
  }
}
