$panel-heading-height: 50px;

#dashboard {
  position: relative;
  font-size: 14px;

  // Overrides style.css declaration
  .popover, li {
    font-size: 14px;
  }

  /* Bookings row START */
  #booking-messages {
    #bookings {
      margin-bottom: 50px;
      min-width: 480px;

      .panel-body {
        table {
          .body tr {
            height: 45px;
          }

          .footer {
            a {
              color: $light-blue;
            }
          }
        }
      }

      .panel-heading {
        background-color: $light-blue;
      }
    }

    #messages {
      min-width: 250px;
      margin-bottom: 50px;

      ::-webkit-scrollbar-track {
        border-radius: 100px;
        background-color: $medium-light-grey;
      }

      ::-webkit-scrollbar {
        width: 10px;
        background-color: white;
      }

      ::-webkit-scrollbar-thumb {
        border-radius: 100px;
        background-color: $dark-orange;
      }

      .panel-default {
        background-color: white;
        padding-bottom: 8px;
        @include box-shadow(inset 0 -5px 6px 0 rgba(0, 0, 0, 0.13));
        border-radius: 4px;
      }

      .panel-heading {
        background-color: $dark-orange;
        height: 51px;

        .panel-title {
          .icon-messages {
            margin-right: 0.2em;
          }
          .icon-search {
            float: right;
          }
        }
      }

      .profile-pic {
        width: 100%;
      }

      .message {
        overflow: hidden;
        margin: 0;

        .profile-pic-box {
          width: 60px;
          margin-right: 10px;
          padding: 0;
        }

        .message-data {
          padding: 0;
          div {
            white-space: nowrap;
          }

          .row {
            margin: 0;
          }

          .username {
            font-weight: bold;
          }
          .text {
            line-height: 20px;
          }
          .date {

          }
        }
      }

      ul {
        list-style: none;
        padding: 0;
        overflow-y: auto;
        margin: 10px 7px 2px 0;
        height: 348px;

        li {
          min-height: 80px;
          padding: 10px 6px 10px 16px;
          border-bottom: 1px solid $light-grey;

          .container-fluid {
            padding: 0;
          }

          &:first-child {
            padding-top: 0;
            padding-bottom: 0;
            min-height: 70px;

            .message {
              margin: 0;

              .message-data {
                .text {
                  line-height: 20px;
                }
              }
            }
          }

          &:last-child {
            border: none;
            padding-bottom: 0;
          }
        }
      }

      #add-message-button {
        position: absolute;
        bottom: 12px;
        right: 31px;
        width: 78px;
        height: 78px;
        line-height: 78px;
        background: $dark-orange;
        @include border-radius(100px);
        @include box-shadow($material-button-shadow);
        text-align: center;
        color: white;
      }
    }
  }
  /* Bookings row END */

  /* Conversations row START */
  #chats-single {
    #chats {
      min-width: 480px;

      .panel-body {
        table {
          .head {
            .col-users {
              width: 59%;
            }
            .col-date {
              width: 11%;
            }
            .col-alerts {
              text-align: center;
              width: 17%;
            }
            .col-actions {
              text-align: center;
              width: 13%;
            }
          }

          .body {
            tr {
              height: 82px;
            }

            .usernames {
              font-weight: bold;

              .profile-pic {
                width: 30px;
                height: 30px;

                &.user {
                  margin-right: 30px;
                  margin-left: -4px;
                }
              }
            }

            .admin-alert {
              .marker {
                width: 24px;
                height: 24px;
                border-radius: 100px;
                margin: auto;
                &.true {
                  background-color: $red;
                }

                &.false {
                  background-color: $green;
                }
              }
            }

            .action {
              text-align: center;
            }
          }

          .footer {
            a {
              color: $light-sea-green;
            }
          }

          tr {
            td, th {
              &:last-child {
                padding-right: 18px;
              }
            }
          }
        }
      }

      .panel-heading {
        background-color: $light-sea-green;
      }
    }
  }
  /* Conversations row END */

  #popups {
    margin-bottom: 10px;
    text-align: justify;

    &:after {
      content: '';
      width: 100%;
      display: inline-block;
    }

    .popup {
      width: 258px;
      height: 130px;
      margin-bottom: 15px;
      padding: 5px 7px;
      display: inline-block;
    }
  }

  .panel-default {
    border-color: $lighter-grey;
    @include box-shadow(none);

    .panel-heading {
      height: $panel-heading-height;
      padding: 0 18px;
      display: table;
      width: 100%;
      color: white;
      border: none;

      span, .icon {
        line-height: $panel-heading-height;
      }

      .toggle-open {
        position: absolute;
        right: 0;
      }

      .panel-title {
        position: relative;
        margin: 0;
        display: table-cell;
        vertical-align: middle;
      }
    }

    .panel-body {
      border: none;
      padding: 0;

      table {
        margin-bottom: 0;

        td, th {
          vertical-align: middle;
        }

        .footer {
          text-align: right;
          font-weight: bold;

          tr {
            height: 61px;

            svg {
              width: 20px;
              height: 20px;
            }
          }
        }

        .head > tr > th {
          border-bottom: none;
        }

        tr {
          .field, .heading {
            overflow: hidden !important;
            text-overflow: ellipsis;
            max-width: 5px;
            white-space: nowrap;
            vertical-align: middle;

            &:first-child {
              padding-left: 18px;
            }
            &:last-child {
              padding-right: 40px;
            }

            &.date{
              max-width: 31px;
            }
            &.experience, &.captain{
              max-width: 46px;
            }

            &.status {
              color: white;
            }
          }
        }
      }
    }
  }

  .panel-group {
    margin-bottom: 0;
  }
}