$list-controls-height: 54px;
$popover-li-height: 65px;

.list {

  /* FILTERS */
  .list-controls {
    min-height: $list-controls-height;
    margin-bottom: 15px;

    .count {
      font-size: 18px;
      line-height: $list-controls-height;
    }

    .controls {
      float: right;
      // Setting the right div height
      font-size: 0;

      .controls-icon {
        display: inline-block;
        padding: 2px 22px;
        border-right: solid 1px $light-grey;
        position: relative;

        &:last-child {
          padding-right: 0;
          border: none;
        }

        popover-icon {
          .icon {
            color: $navy-blue;
            font-size: 38px;

            /* MARK ACTIVE ICON */
            &.active {
              .popover-wrapper {
                .icon {
                  box-shadow: 0 0 0 2px $lighter-blue, 0 0 0 4px $light-blue;
                  background-color: $lighter-blue;
                  border-radius: 50px;

                  svg {
                    path {
                      fill: $light-blue
                    }
                  }
                }
              }
            }
          }
        }

        .popover {
          font-size: 16px;
          margin-top: 16px;

          .popover-content {
            padding: 0;

            ul {
              list-style: none;
              padding-left: 2px;
              padding-right: 2px;
              margin-bottom: 0;

              li {
                padding: 10px 6px 5px 13px;
                min-width: 275px;
                height: $popover-li-height;
                border-bottom: solid 1px $light-grey;
                white-space: nowrap;
                position: relative;

                .icon {
                  border: 2px solid $light-blue;
                  line-height: 43px;
                  color: $light-blue;
                  background-color: white;
                  font-size: 27px;

                  &.icon-accepted {
                    border-color: $green;
                    color: $green;
                  }
                  &.icon-rejected {
                    border-color: $red;
                    color: $red;
                  }
                  &.icon-suspended {
                    border-color: $orange;
                    color: $orange;
                  }
                  &.icon-freezed {
                    border-color: $ice-blue;
                    color: $ice-blue;
                  }
                  &.icon-new {
                    border-color: $pink;
                    color: $pink;
                  }
                }

                &:hover {
                  .icon {
                    color: white;
                    background-color: $light-blue;

                    &.icon-accepted {
                      background-color: $green;
                      @include box-shadow(0px 0px 0px 4px rgba($green, 0.2));
                    }
                    &.icon-rejected {
                      background-color: $red;
                      @include box-shadow(0px 0px 0px 4px rgba($red, 0.2));
                    }
                    &.icon-suspended {
                      background-color: $orange;
                      @include box-shadow(0px 0px 0px 4px rgba($orange, 0.2));
                    }
                    &.icon-freezed {
                      background-color: $ice-blue;
                      @include box-shadow(0px 0px 0px 4px rgba($ice-blue, 0.2));
                    }
                    &.light-blue {
                      background-color: $light-blue;
                      @include box-shadow(0px 0px 0px 4px rgba($light-blue, 0.2));
                    }
                    &.icon-new {
                      background-color: $pink;
                      @include box-shadow(0px 0px 0px 4px rgba($pink, 0.2));
                    }
                  }

                  .text {
                    &.element {
                      color: $light-blue;
                    }
                    &.accepted {
                      color: $green
                    }
                    &.rejected {
                      color: $red
                    }
                    &.suspended {
                      color: $orange
                    }
                    &.new {
                      color: $pink
                    }
                    &.freezed {
                      color: $ice-blue
                    }
                  }
                }

                &:first-child {
                  cursor: auto;
                  padding-left: 19px;

                  .text {
                    position: absolute;
                    top: $popover-li-height/2 - (16/2);
                    left: 0;
                  }

                  .count {
                    padding: 0 15px;
                    background-color: $pink;
                    color: white;
                    border-radius: 4px;
                    font-size: 14px;
                    position: absolute;
                    top: $popover-li-height/2 - (14/2);
                    right: 4px;
                  }
                }

                &:last-child {
                  border-bottom: none;
                }

                .text {
                  margin-left: 19px;
                }

                .count {
                  color: $pink;
                }
              }
            }
          }
        }

        #icon-control-search, #icon-control-world {
          li {
            cursor: auto;
          }

          .search-box {
            height: 90px;
            padding: 20px 10px;

            form {
              width: 368px;
            }

            &:before {
              display: inline;
            }

            .input, .search-button {
              display: inline;
              height: 50px;
              outline: none;
              border: none;
            }

            .input {
              float: left;
              width: 68%;
              background-color: $concrete;
              padding: 0 25px;
              border-bottom-left-radius: 100px;
              border-top-left-radius: 100px;
            }

            .search-button {
              width: 32%;
              background-color: $light-blue;
              color: white;
              border: none;
              border-bottom-right-radius: 100px;
              border-top-right-radius: 100px;
            }
          }
        }
      }
    }
  }

  /* TABLE */
  .list-table {
    margin-top: 15px;

    .table-responsive {
      overflow: visible;

      @media screen and (max-width: 767px) {
        border: none;
        overflow-y: auto;
      }
    }

    .table {
      border-collapse: separate;
      border-spacing: 0 10px;

      td, th {
        border: none;
        padding: 11px 20px;
        position: relative;

        &:first-child {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }

        &:last-child {
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
          min-width: 108px;
        }
      }

      .head {
        color: $bali-hai;

        tr {
          background-color: $medium-light-blue;
          height: 50px;

          .column {
            font-weight: normal;

            &.alert {
              text-align: center;
              border-radius: 0;
            }
          }
        }
      }

      .body {
        color: $dark-grey;

        .record {
          background-color: white;
          height: 82px;

          .field {
            font-size: 16px;
            font-weight: normal;
            vertical-align: middle;

            .marker {
              width: 24px;
              height: 24px;
              border-radius: 100px;
              margin: auto;
              background-color: $green;

              &.true {
                background-color: $red;
              }
            }

            &.status, &.title, &.name, &.users, &.experience {
              white-space: nowrap;

              .user-type {
                color: $light-blue;
              }
            }

            &.title, &.name, &.users, &.experience {
              overflow: hidden !important;
              text-overflow: ellipsis;
              max-width: 160px;

              @media screen and (max-width: 1099px) {
                max-width: 50px;
              }
            }

            &.experience {
              max-width: 250px;
            }

            &.date {
              min-width: 144px;
            }

            &.users {
              max-width: 400px;
              .profile-pic {
                @media screen and (max-width: 1099px) {
                  display: none;
                }

                &.captain {
                  margin-left: -12px;
                  margin-right: 20px;
                }
              }
            }

            &.action {
              .popover {
                .popover-content {
                  padding: 0;

                  ul {
                    list-style: none;
                    padding-left: 2px;
                    padding-right: 2px;
                    margin-bottom: 0px;

                    li {
                      min-width: 275px;
                      height: $popover-li-height;
                      border-bottom: solid 1px $light-grey;
                      padding: 10px 6px 5px 13px;
                      white-space: nowrap;
                      position: relative;
                      cursor: pointer;

                      &:hover {
                        .icon {
                          @include box-shadow(0px 0px 0px 4px rgba($light-blue, 0.2));
                          &.icon-accepted {
                            @include box-shadow(0px 0px 0px 4px rgba($green, 0.2));
                          }
                          &.icon-rejected {
                            @include box-shadow(0px 0px 0px 4px rgba($red, 0.2));
                          }
                          &.icon-suspended {
                            @include box-shadow(0px 0px 0px 4px rgba($orange, 0.2));
                          }
                          &.icon-freezed {
                            @include box-shadow(0px 0px 0px 4px rgba($ice-blue, 0.2));
                          }
                          &.icon-new {
                            @include box-shadow(0px 0px 0px 4px rgba($pink, 0.2));
                          }
                        }

                        .text {
                          color: $light-blue;
                          &.accepted {
                            color: $green
                          }
                          &.rejected {
                            color: $red
                          }
                          &.suspended {
                            color: $orange
                          }
                          &.freezed {
                            color: $ice-blue
                          }
                        }
                      }

                      &:last-child {
                        border-bottom: none;
                      }

                      .icon {
                        background-color: $light-blue;
                        &.icon-accepted {
                          background-color: $green;
                        }
                        &.icon-rejected {
                          background-color: $red;
                        }
                        &.icon-suspended {
                          background-color: $orange;
                        }
                        &.icon-freezed {
                          background-color: $ice-blue;
                        }
                        &.icon-new {
                          background-color: $pink;
                        }
                      }

                      .text {
                        margin-left: 19px;
                      }

                      .count {
                        color: $pink;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  /* PAGINATION */
  .list-pagination {
    margin-top: 30px;

    .action {
      display: inline-block;
      .text {
        padding-left: 20px;
        color: $light-blue;
      }
    }

    #pagination {
      float: right;

      ul {
        margin: 0;

        li {
          a {
            padding: 12px 19px;
          }

          &.active {
            a {
              background-color: $light-blue;
              border-color: $light-blue;
            }
          }

          &.pagination-last, &.pagination-first {
            a {
              padding: 12px 30px;
            }
          }

          &.disabled {
            display: none;
          }
        }
      }
    }
  }

  .pointer {
    cursor: pointer;
  }
}