@import "bootstrap";

html {
  width: 100%;
  height: 100%;

  body {
    margin: 0;
    color: white;
    position: fixed;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background-image: url('/shared/assets/img/login_bg.jpg');

    a, a:visited, a:hover, a:focus, a:active {
      text-decoration: none;
      outline: none;
    }

    * {
      @include transition(all 0.05s ease-in-out);
    }

    #box {
      background-color: $light-blue;
      width: 34%;
      max-height: 65%;
      margin: auto;
      margin-top: 4%;
      padding: 4% 3% 5%;
      text-align: center;

      @media all and (max-width: 900px) {
        width: 80%;

        #welcome, #login {
          font-size: 3vw !important;
        }
      }

      @media all and (max-width: 450px) {
        width: 90%;

        #welcome, #login {
          font-size: 45px !important;
        }

        #login {
          line-height: 60px !important;
        }
      }

      #logo {
        width: 60%;
        margin-bottom: 40px;
      }

      #welcome {
        padding: 5%;
        text-align: center;
        line-height: 1.75;
        font-size: 2.5vw;
        border-bottom: 1px solid;
        border-top: 1px solid;
        margin-bottom: 40px;
      }

      #login {
        cursor: pointer;
        display: inline-block;
        margin: auto;
        min-width: 150px;
        min-height: 30px;
        line-height: 30px;
        width: 90%;
        background-color: white;
        color: $light-blue;
        padding: 3% 0;
        font-size: 2vw;
        border-radius: 100px;
      }
    }
  }
}









