@import "bootstrap";
@import "dashboard";
@import "list";

$header-height: 90px;
$hamburger-width: $header-height;
$place-buttons-height: 70px;
$content-padding: 142px;
$popover-li-height: 65px;
$blue-border-dropdown: solid 4px $light-blue;

body {
  position: relative;
  padding-top: $header-height;
  color: $dark-grey;
  font-family: $font, sans-serif;
  font-weight: normal;
  font-size: $font-size-small;
  text-align: justify;
  background-color: $lighter-grey;
  min-height: 1080px;

  a {
    color: $dark-grey;
    text-decoration: none;

    &:hover, &:active, &:visited, &:focus {
      text-decoration: none;
      color: $dark-grey;
    }
  }
  a, span, li {
    &.icon {
      width: 45px;
      height: 45px;
      font-size: 27px;
      text-align: center;
      @include border-radius(100px);
      line-height: 45px;
      vertical-align: middle;
    }
    &.action-icon {
      display: inline-block;
      color: white;
      background-color: $light-blue;
    }

    &.add-button {
      &.i-7x {
        @include addButton(65px)
      }
      &.i-8x {
        @include addButton(78px)
      }
    }
  }

  * {
    &:focus {
      outline: 0;
    }
  }
}

.container-fluid {
  padding: 0;
}

.row {
  margin: 0 10px 10px 10px;
}

[class*="col-"] {
  padding: 5px;
}

.float-right {
  float: right;
}

.profile-pic {
  height: $header-height/3*2;
  width: $header-height/3*2;
  @include border-radius(100px);
  border: solid 1px #31bef8;
}

//Hides certain data until Angular is fully loaded
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

#content {
  padding-top: 29px;
  margin-left: $hamburger-width;
  padding-left: $content-padding - $hamburger-width;
  padding-right: $content-padding;
  padding-bottom: $header-height;

  @media screen and (max-width: $break-small) {
    padding-left: $content-padding - $hamburger-width - 40;
    padding-right: $content-padding - 130;
  }
}

#header {
  padding-left: $content-padding;
  padding-right: $content-padding;
  height: $header-height;
  background-color: white;
  z-index: 1061;

  @media screen and (max-width: $break-small) {
    padding-left: $content-padding - 40;
    padding-right: $content-padding - 130;
  }

  #hamburger {
    position: absolute;
    top: 0px;
    left: 0px;
    width: $hamburger-width;
    background-color: $light-blue;
    text-align: center;

    .icon {
      color: white;
    }
  }

  #headings {
    position: relative;
    padding: 0 15px;
  }

  #headings, #hamburger {
    height: $header-height;
    line-height: $header-height;

    #logo {
      font-size: 40pt;
      color: $navy-blue;

      &:before {
        line-height: 0.5;
      }
    }

    .floater {
      float: right;
      height: 100%;

      .notification {
        > .icon {
          background-color: transparent;
          color: $navy-blue;
          font-size: 38px;
        }
        .notification-badge {
          top: 16px;
        }
      }

      .language {
        > .icon {
          background-color: transparent;
          color: $navy-blue;
          font-size: 38px;
        }
      }

      .language-image {
        width: 32px;
        height: 22px;
      }

      .profile-pic {
        margin-left: 54px;
        margin-right: 40px;

        @media screen and (max-width: $break-small - 160) {
          display: none;
        }
      }

      .popover {
        &.bottom {
          margin-top: 15px;
          margin-left: -9px;
          border: none;
          @include box-shadow(0 1px 4px 0 rgba(0, 0, 0, 0.5));
          @include border-radius(3px);
        }

        .popover-content {
          padding: 0;

          ul {
            list-style: none;
            padding-left: 2px;
            padding-right: 2px;
            margin-bottom: 0px;

            li {
              padding: 0 6px 0 13px;
              width: 275px;
              height: $popover-li-height;
              line-height: $popover-li-height;
              border-bottom: solid 1px $light-grey;
              white-space: nowrap;
              position: relative;

              &:first-child {
                padding-left: 19px;

                .text {
                  margin-left: 0;
                }

                .count {
                  padding: 0 15px 0 15px;
                  background-color: $pink;
                  color: white;
                  @include border-radius(4px);
                  font-size: 14px;
                  margin-left: 35px;
                }
              }

              &:last-child {
                border-bottom: none;
              }

              .text {
                margin-left: 19px;
              }

              .count {
                color: $pink;
              }

              .icon {
                background-color: white;
                border: 2px solid $light-blue;
                color: $light-blue;
                line-height: 43px;
              }
            }
          }
        }
      }
    }

    div, p {
      font-size: $font-size-small;
      font-family: $font, sans-serif;
    }
  }
}

/* SIDEBAR */
#places {
  width: $header-height;
  position: absolute;
  top: $header-height;
  background-color: white;
  height: 100%;
  border-right: solid 1px $light-grey;
  z-index: 2;
  @media screen and (min-height: 700px) {
    position: fixed;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    @include box-shadow(3px 3px 3px 0 rgba(0, 0, 0, 0.25));
    background-color: white;

    a {
      padding: 0 27px 0 27px;
      text-decoration: none;
      display: block;
      min-width: 225px;
      font-size: 18px;
      height: $place-buttons-height;
      line-height: $place-buttons-height;
      white-space: nowrap;
      text-align: left;
      color: $dark-grey;
      border-left: solid 1px $light-grey;
      /* animation */
      background-size: 200% 100%;
      background-position: 90% 0px;

      &:hover, &.active {
        background-color: $lighter-blue;
        color: $light-blue;
        border-left: none;
        border-right: $blue-border-dropdown;
        padding-right: 27px - 3;
      }

      /* animation */
      &:hover {
        background-image: -webkit-linear-gradient(left, $lighter-blue 0%, $lighter-blue 50%, white 0%);
        @include transition(0.4s cubic-bezier(0.175, 0.285, 0.32, 1.0) background-position);
        background-position: 0% 0%;
      }
    }
  }

  .dropdown {
    &:hover {
      .dropdown-content {
        display: inline-table;
        top: 0;
        left: 89px;
      }

      .dropbtn {
        background-color: #3e8e41;
      }
    }
  }

  .place {
    position: relative;
    height: $place-buttons-height;
    border-bottom: solid 1px $light-grey;
    text-align: center;

    notification-icon {
      position: absolute;
      top: 0;
      left: 50%;
      @include transform(translateX(-50%));

      .notification {
        .icon {
          font-size: 30px;
          line-height: $place-buttons-height;
          color: $light-blue;
          background-color: transparent;
        }
      }
    }

    &:hover {
      background-color: $lighter-blue;
      color: $light-blue;
      border-right: $blue-border-dropdown;

      &.hasactivechild, &.mouseoverlist {
        border-right: none;
      }

      .icon path {
        fill: $light-blue;
      }
    }

    &.active {
      background-color: $lighter-blue;
      border-right: $blue-border-dropdown;
      color: $light-blue;

      &:hover {
        &.hasactivechild {
          border-right: none;
        }
      }

      &.mouseoverlist {
        border-right: none;
      }

      .icon path {
        fill: $light-blue;
      }
    }
  }
}

.notification {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  .notification-badge {
    background-color: $pink;
    color: white;
    position: absolute;
    width: 22px;
    height: 22px;
    top: 11px;
    right: -2px;
    @include border-radius(25px);
    padding: 0;
    line-height: 23px;
    text-align: center;
  }
}

.language {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

// Needed for Angular UI bootstrap as described here: https://angular-ui.github.io/bootstrap/
.nav, .pagination, .carousel, .panel-title {
  a {
    cursor: pointer;
  }
}

.panel-title {
  a {
    color: white !important;
  }
}

/* STATUS COLOR */
.status {
  .status-text {
    padding: 2px 9px;
    @include border-radius(4px);
    color: white;
    text-transform: uppercase;
    background-color: $orange;

    &.paid, &.accepted, &.active {
      background-color: $green;
    }
    &.pending, &.accepted_conditionally {
      background-color: $orange;
    }
    &.freezed {
      background-color: $ice-blue;
    }
    &.cancelled, &.rejected, &.consumed, &.expired {
      background-color: $red;
    }
    &.new {
      background-color: $pink;
    }
  }
}

/* ACTION ICONS (IN TABLES, etc) */
.action {
  .icon, .popover-wrapper {
    display: inline-block;
  }

  .down-arrow {
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    padding-left: 2px;
    color: $light-grey;
    @include scaleX(1.2)
  }

  .popover {
    margin-left: -28px;
    &.top {
      margin-top: -23px;
    }

    &.bottom {
      margin-top: 27px;
    }
  }
}

.popover, li {
  font-family: $font, sans-serif;
  font-size: $font-size-small;
  max-width: 999px;
}

/* FORMS */
.form-container {
  background-color: white;
  padding: 18px;

  .form, label {
    font-size: $font-size-medium;
    font-weight: normal;
    display: inline;
    margin-bottom: 0;

    [class*="caption-"] {
      display: inline-block;
      width: 100%;
      font-size: 15px;
      padding-top: 15px;
    }

    .caption-photo {
      text-align: center;
    }

    .row {
      padding: 0;
      margin: 0 0 40px 0;

      /* AVOID DUPLICATE BOTTOM MARGIN AND COMPENSATE COLUMN BOTTOM MARGIN */
      .row {
        margin-bottom: 0px;
      }

      /* CORRECT SUBCOLUMNS MARGIN */
      [class*="col-"] {
        [class*="col-"] {
          padding-right: 20px;

          &:last-child {
            padding-right: 0;
          }

          &:only-child {
            padding-right: 20px;
            @media all and (max-width: 992px) {
              padding-right: 0;
            }
          }

          @media all and (max-width: 992px) {
            padding-right: 0;
          }
        }

        &:only-child {
          padding-right: 0;
        }
      }

      &.form-title {
        font-weight: bold;
        padding: 20px 0;
        margin-bottom: 40px;
        border-bottom: solid 1px $grey-swan;
      }
    }

    /* INCREASE COLUMN HEIGHT TO MATCH SIBLING AND CENTER VERTICALLY ITS CHILD */
    .input-container {
      height: 78px;

      & > .input-container-child {
        top: 50%;
        position: relative;
        transform: translateY(-50%);

        &:nth-child(2) {
          width: initial;
        }
      }

      @media screen and (max-width: 992px) {
        height: auto;

        & > .input-container-child {
          transform: translateY(0%);
        }
      }
    }

    .field {
      padding: 0;
      margin-bottom: 20px;

      @media (min-width: 992px) {
        margin-bottom: 0;
        &:first-child {
          padding-right: 20px;
        }

        &:only-child {
          padding-right: 0;
        }

        &.checkbox-container {
          margin-bottom: 20px;

          label {
            &:first-line {
              text-indent: 10%;
            }
          }
        }
      }

      .separator {
        width: 32px;
        height: 3px;
        background-color: $light-blue;
        @include border-radius(100px);
        margin-bottom: 20px;
      }

      .input-label {
        margin-bottom: 20px;
      }

      .input {
        input {
          min-height: 78px;
          padding: 15px;
          width: 100%;
          outline: none;
          background-color: white;
          box-shadow: inset 0 0 5px 0 $light-blue;
          border: solid 1px $light-blue;
          @include border-radius(4px);

          &:disabled {
            box-shadow: none;
            border-color: $grey-swan;
          }
        }

        textarea {
          width: 100%;
          padding: 15px;
          text-align: justify;
          resize: vertical;
          outline: none;
          background-color: white;
          box-shadow: inset 0 0 5px 0 $light-blue;
          border: solid 1px $light-blue;
          @include border-radius(4px);

          &:disabled {
            box-shadow: none;
            border-color: $grey-swan;
          }
        }

        .uib-timepicker {
          input {
            width: 90px;
            font-size: 18px;
          }

          .uib-separator {
            display: inline;
            line-height: 69px;
            font-size: 30px;
            padding: 0 10px;
          }
        }

        &.inline-input-small {
          margin-top: -2px;
          margin-left: 10%;
          input {
            padding: 0;
            text-align: center;
            min-height: 0px;
          }
        }

        .datepicker {
          text-align: left;

          @media all and (max-width: 1200px) {
            &:first-child {
              margin-bottom: 20px;
            }
          }
          input {
            width: 100%;
            padding-left: 42%;
            margin-bottom: 0;
          }

          .input-icon {
            position: absolute;
            left: 0;
            display: inline-block;
            margin-right: -3%;
            height: 78px;
            line-height: 75px;
            min-width: 40%;
            padding-left: 13px;
            border-right: none;
            @include border-radius(4px);
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;

            .icon {
              line-height: 23px;
              display: inline-block;
              width: 26px;
              height: 26px;
              margin-right: 12px;
            }
          }
        }
      }

      .popover-service-price, &.popover-service-price, &.popover-fishing-gear, &.popover-deposit, &.popover-down-payment {
        .popover {
          min-width: 285px;
          text-align: center;
          padding: 30px 18px 36px;
          @include box-shadow(0 1px 4px 0 rgba(0, 0, 0, 0.5));
          @include border-radius(2px);

          .popover-content {
            padding: 0;

            * {
              font-size: 14px;
            }

            .description {
              margin-bottom: 20px;
              white-space: nowrap;
            }

            [class*="button-"] {
              margin-bottom: 20px;

              a {
                position: relative;
                display: inline-block;
                width: 226px;
                background-color: $light-blue;
                color: white;
                border-radius: 100px;
                border: none;
                font-size: 18px;
                line-height: 54px;
                letter-spacing: 2px;
              }
            }

            .input-checkboxes {
              .input-container {
                width: 50%;
                float: left;

                .field {
                  display: inline-block;
                }

                .naus-radio {
                  width: 0px;
                  padding-right: 25px;
                  margin-left: -17px;

                  [type="radio"] {

                    &:before {
                      width: 20px;
                      height: 20px;
                      background-color: #ffffff;
                      border: solid 1px $grey-swan;
                    }

                    &:checked {
                      &:after {
                        font-size: 10px;
                        content: '\56';
                        top: 5px;
                      }
                    }

                    &:after {
                      @include transform(translateX(4px));
                    }
                  }
                }
              }
            }

            .input-with-icon {
              text-align: left;
              input {
                width: 80%;
                min-height: 40px;
                padding: 8px;
                outline: none;
                background-color: white;
                border: solid 1px $grey-swan;
                @include border-radius(4px);
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
              }

              .input-icon {
                text-align: center;
                display: inline-block;
                margin-left: -2%;
                line-height: 38px;
                width: 18%;
                height: 40px;
                border: solid 1px $grey-swan;
                @include border-radius(4px);
                border-left: none;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;

                .icon {
                  border: 2px solid $navy-blue;
                  @include border-radius(100px);
                  line-height: 23px;
                  display: inline-block;
                  width: 26px;
                  height: 26px;

                  &:before {
                    color: $navy-blue;
                  }
                }
              }
            }

            .signup-or-separator {
              hr {
                margin-top: -10px;
              }
              span {
                padding: 0 16px;
                background: white;
              }
            }

            .set {
              text-align: left;
              color: $light-blue;
            }
          }
        }
      }
    }

    /* SELECT DIVs */
    .dropdown {
      .select {
        padding: 0 15px;
        width: 100%;
        outline: none;
        background-color: white;
        border: solid 1px $grey-swan;
        border-radius: 4px;
        cursor: pointer;
        line-height: 76px;
        white-space: nowrap;
        overflow: hidden;

        &[aria-expanded^="true"] {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
      .dropdown-menu {
        width: 100%;
        padding: 0;
        box-shadow: none;
        border-color: $grey-swan;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        margin-top: -1px;

        li {
          border-bottom: solid 1px $grey-swan;
          font-size: $font-size-medium;
          height: 78px;
          padding: 0;

          &:last-child {
            border-bottom-width: 0;
          }

          a {
            &:hover {
              border-left: 10px solid $light-blue;
              background-color: white;
              color: $dark-grey;
              padding: 0 30px;
            }

            height: 100%;
            line-height: 78px;
            padding: 0 40px;
            color: $grey-swan;
            background-color: white;
          }
        }
      }
    }
  }

  #photos-container {
    > .field {
      padding: 0;
    }

    .photos {
      margin-left: -18px;
      margin-right: -18px;

      .field {
        padding: 0 20px 20px
      }

      .field > div {
        position: relative;
      }

      .overlay {
        position: absolute;
        content: "";
        top: 0;
        height: 100%;
        width: 100%;
        transition: all 0.8s;
        opacity: 1;
        border: dotted 3px $light-blue;
      }

      .eye {
        width: 80px;
        height: 80px;
        line-height: 80px;
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
        color: white;
        @include border-radius(100px);
        background-color: rgba($light-blue, 0.6);
      }

      img {
        width: 100%;
      }
    }
  }
}

/* MODALS */
.modal-open {
  .modal-dialog {
    min-width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%) !important);

    .modal-content {
      @include box-shadow(none);
      border: none;
      @include border-radius(0);

      .row {
        margin: 0;
      }

      /* ACTUAL TEMPLATE */
      #modal-title {
        text-align: center;
        background-color: $light-grey;
        .title-text {
          font-size: $font-size-medium;
          line-height: 70px;
        }

        .icon {
          line-height: 70px;
          position: absolute;
          right: 30px;
        }
      }
      #modal-content {
        padding: 10px;
      }
    }
  }
}

#modal-photo-upload {
  #photo {
    width: 100%;
  }

  .loader {
    &:after {
      background-color: white;
    }
  }
}

#modal-error {
  #modal-content {

  }

  .error {
    margin-bottom: 10px;
  }

  #modal-status {
    font-size: 20px;
    margin-bottom: 15px;
  }
}

/* INPUTS */
.checkbox-container {
  .field {
    text-align: left;

    [disabled] {
      color: $light-grey;
    }
  }

  .naus-checkbox {
    width: 48px;

    [type="checkbox"] {
      margin-right: 28px;
      color: $light-blue;
      font-size: 15px;
      font-family: "iconfont";

      &:focus {
        outline: 0;
      }

      &:before {
        position: relative;
        top: 50%;
        @include transform(translateY(-60%));
        display: block;
        width: 26px;
        height: 26px;
        border: 1px solid $light-grey;
        @include border-radius(3px);
        content: "";
        background: white;
      }

      &:after {
        position: relative;
        display: block;
        left: 6px;
        top: -29px;
        width: 18px;
        height: 12px;
        border: none;
        content: "";
      }

      &:checked {
        &:after {
          content: "\54";
        }
      }

      &:disabled {
        &:after {
          -webkit-filter: opacity(0.4);
        }
      }
      &:hover {
        &:before {
          @include box-shadow(none);
        }
      }
    }
  }

  .naus-checkbox-label-container {
    display: table-cell;
  }
}

.naus-radio {
  width: 48px;

  [type="radio"] {
    margin-right: 28px;

    &:focus {
      outline: 0;
    }

    &:before {
      position: absolute;
      display: block;
      width: 26px;
      height: 26px;
      top: 0px;
      left: -2px;
      border: 1px solid $light-grey;
      @include border-radius(100px);
      content: "";
      background: white;
    }

    &:after {
      position: absolute;
      border: none;
      top: 6px;
      transform: translateX(5px);
      content: "";
    }

    &:checked {
      &:after {
        color: $light-blue;
        font-family: 'iconfont';
        font-size: 49px;
        content: '•';
        top: -16px;
        left: -2px;
      }
    }

    &:disabled {
      &:after {
        -webkit-filter: opacity(0.4);
      }
    }
  }
}

/* LABEL WITH X (USED FOR LANGUAGES, DAYS, ECC) */
.label-closable-text {
  display: inline-block;
  @include border-radius(4px);
  margin-right: 30px;
  margin-bottom: 10px;
  padding: 0 0 0 16px;
  line-height: 60px;
  background-color: $columbia-blue;
  white-space: nowrap;

  .icon-close {
    margin-left: 20px;
    margin-right: 10px;
  }
}

/* LOADING SPINNER */
.loader {
  font-size: 5px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: $medium-light-blue;
  background: -moz-linear-gradient(left, $medium-light-blue 10%, rgba(191, 229, 245, 0) 42%);
  background: -webkit-linear-gradient(left, $medium-light-blue 10%, rgba(191, 229, 245, 0) 42%);
  background: -o-linear-gradient(left, $medium-light-blue 10%, rgba(191, 229, 245, 0) 42%);
  background: -ms-linear-gradient(left, $medium-light-blue 10%, rgba(191, 229, 245, 0) 42%);
  background: linear-gradient(to right, $medium-light-blue 10%, rgba(191, 229, 245, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);

  &:before {
    width: 50%;
    height: 50%;
    background: $medium-light-blue;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }

  &:after {
    background: $lighter-grey;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  @-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  // Make spinner disappear faster (as soon as real content shows up)
  &.ng-leave-active {
    display: none;
  }
}

.loader-container-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  background-color: rgba(white, 0.5);

  &.inside-parent {
    position: absolute;
  }

  .loader {
    margin: 0 auto;
    position: relative;
    top: 45%;
  }
}

// VALIDATION
.form {
  input, textarea {
    &.ng-invalid.ng-touched {
      color: red;
      box-shadow: inset 0 0 5px 0 red !important;
      border: red !important;
    }
  }
}

.hidden {
  display: none !important;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  margin-left: 0 !important;
  margin-right: 0 !important;

  &.mirror {
    &:before {
      @include scaleX(-1);
    }
  }
}

// MARGIN UTILITIES

.margin-right-xs {
  margin-right: 10px !important;
}

.margin-right-sm {
  margin-right: 20px !important;
}

.margin-right-md {
  margin-right: 40px !important;
}

.margin-right-lg {
  margin-right: 60px !important;
}

.margin-left-xs {
  margin-left: 10px !important;
}

.margin-left-sm {
  margin-left: 20px !important;
}

.margin-left-md {
  margin-left: 40px !important;
}

.margin-left-lg {
  margin-left: 60px !important;
}

.margin-bottom-xs {
  margin-bottom: 10px !important;
}

.margin-bottom-sm {
  margin-bottom: 20px !important;
}

.margin-bottom-md {
  margin-bottom: 40px !important;
}

.margin-bottom-lg {
  margin-bottom: 60px !important;
}

.margin-top-xs {
  margin-top: 10px !important;
}

.margin-top-sm {
  margin-top: 20px !important;
}

.margin-top-md {
  margin-top: 40px !important;
}

.margin-top-lg {
  margin-top: 60px !important;
}

input {
  padding: 15px;
  outline: none;
  background-color: white;
  box-shadow: inset 0 0 5px 0 $light-blue;
  border: solid 1px $light-blue;
  @include border-radius(4px);

  &:disabled {
    box-shadow: none;
    border-color: $grey-swan;
  }

  .md {
    min-height: 50px;
  }

  .lg {
    min-height: 78px;
  }
}

.form-inline {
  display: inline;
}

.no-padding {
  padding: 0 !important;
}

.originaltext {
  color: $grey-nobel;
}

.translation {
  font-weight: bold;
  color: $cornflower-blue;
}

.totranslate {
  color: $cornflower-blue;
  border-width: 2px;
  border-bottom-style: dashed;
}

.withbreakline {
  white-space: pre-line;
}

.popover-translation {
  width: 100%;

  .popover-title {
    background-color: #ffffff;
    padding: 20px 14px;
  }

  .icon-close:before {
    vertical-align: middle !important;
  }

  .icon-checkmark:before {
    vertical-align: middle !important;
  }
}

.margin-translation-text {
  margin-top: 20px;
  margin-bottom: 20px;
}

.action-icon-translation {
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 4px;
  color: white;
  background-color: $light-blue;
  display: inline-block;
}

.close-icon-translation {
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 4px;
  color: $grey-nobel;
  background-color: $light-grey;
  display: inline-block;
}

// COLORS helper
// Blues
.light-blue {
  color: $light-blue;
}

.medium-light-blue {
  color: $medium-light-blue;
}

.lighter-blue {
  color: $lighter-blue;
}

.bali-hai {
  color: $bali-hai;
}

.columbia-blue {
  color: $columbia-blue;
}

.navy-blue {
  color: $navy-blue;
}

.ice-blue {
  color: $ice-blue;
}

.navy-blue {
  color: $navy-blue;
}

.ice-blue {
  color: $ice-blue
}

.cornflower-blue {
  color: $cornflower-blue;
}

// Greys

.dark-grey {
  color: $dark-grey;
}

.light-grey {
  color: $light-grey;
}

.medium-light-grey {
  color: $medium-light-grey;
}

.lighter-grey {
  color: $lighter-grey;
}

.concrete {
  color: $concrete;
}

.grey-swan {
  color: $grey-swan;
}

.grey-nobel {
  color: $grey-nobel;
}

// Miscellaneous

.pink {
  color: $pink;
}

.light-sea-green {
  color: $light-sea-green;
}

// Status

.green {
    color: $green;
}

.red {
    color: $red;
}

.orange {
    color: $orange;
}

.dark-orange {
    color: $dark-orange;
}

// headings

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;

}

h3 {
  font-size: $font-size-h3;

}

h4 {
  font-size: $font-size-h4;

}

h5 {
  font-size: $font-size-h5;

}

h6 {
  font-size: $font-size-h6;

}

.h1 {
  font-size: $font-size-h1;

}

.h2 {
  font-size: $font-size-h2;

}

.h3 {
  font-size: $font-size-h3;

}

.h4 {
  font-size: $font-size-h4;

}

.h5 {
  font-size: $font-size-h5;

}

.h6 {
  font-size: $font-size-h6;

}

// font helpers

.bold {
  font-weight: bold;
}

.no-border {
  border: none !important;
}

// FORMS

.input {
  input {
    outline: none;
    background-color: white;
    box-shadow: inset 0 0 5px 0 $light-blue;
    border: solid 1px $light-blue;
    @include border-radius(4px);

    &:disabled {
      box-shadow: none;
      border-color: $grey-swan;
    }
  }

  textarea {
    padding: 15px;
    text-align: justify;
    resize: vertical;
    outline: none;
    background-color: white;
    box-shadow: inset 0 0 5px 0 $light-blue;
    border: solid 1px $light-blue;
    @include border-radius(4px);

    &:disabled {
      box-shadow: none;
      border-color: $grey-swan;
    }
  }
}

.full-width {
  width: 100%;
}

// BUTTON

.btn-rounded {
  cursor: pointer;
  display: inline-block;
  min-width: 150px;
  min-height: 30px;
  line-height: 30px;
  width: 100%;
  padding: 3% 0;
  border-radius: 100px;
  border-width: 2px;
  border-style: solid;
}

.btn-light-blue {
  color: white;
  background-color: $light-blue;
  border-color: $light-blue;

  &:hover {
    background-color: rgba($light-blue, $btn-rouded-opacity);
  }
}

.btn-transparent {
  background-color: white;
  border-width: 2px;

  &.light-blue{
    color: $light-blue;
    border-color: $light-blue;

    &:hover {
      color: white;
      background-color: rgba($light-blue, $btn-rouded-opacity);
    }
  }
}

.pointer {
  cursor: pointer;
}

//DATEPICKER
.naus-datepicker {
  button {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
    -moz-user-select: none;
    -ms-user-select: none;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.4;
    }
  }

  .naus-datepicker-table {
    width: 100%;
  }
  .naus-datepicker-navigator {
    height: 40px;
    background-color: $light-blue;
  }

  // DAYS
  .naus-daypicker-tbody, .naus-daypicker-days-of-week {
    line-height: 35px;
  }
  .naus-datepicker-day {
    line-height: 100%;
    // Make every day equal in width
    width: 14.2857%;

    .today {
    }
  }

  .naus-datepicker-day-btn {
    line-height: 34px;

    .naus-datepicker-day-text {
      position: relative;
      display: inline-block;
      width: 32px;
      height: 32px;
      border: 1px solid white;
      @include border-radius(100px);

      &.text-muted {
        color: $dark-grey;
      }
    }

    &.selected, &:hover {
      &:not(:disabled) {
        .naus-datepicker-day-text {
          border-color: $light-blue;;

          &:after {
            content: '';
            width: 5px;
            height: 5px;
            position: absolute;
            background-color: $light-blue;
            @include border-radius(100px);
            top: 2px;
            right: 1px;
          }

        }
      }

    }
  }
}
.naus-datepicker-popup {
  overflow: hidden;
  height: 287px;

  .naus-datepicker-popup-body-container {
    padding: 0;
  }
}

// Avoid issues with ng-if responding too slow
.ng-hide.ng-hide-animate, .ng-leave-active {
  display: none !important;
}